[2016-05-28 16:35] russel opened #22 "forAll should work for Array as well as Collection"
[code]

works fine for:

[code]

but fails for:

[code]

there seems no reason for this.

[2016-05-28 16:43] russel opened #23 "Exception trapping does not work"
[code]

and

[code]

appear not to catch `StackOverflowError` it propagates out to the runner.

cf. the KotlinTest test in https://github.com/russel/Factorial/tree/master/Kotlin

[2016-05-30 13:44] #23 closed, assigned to nobody

[2016-05-30 13:44] #22 closed, assigned to nobody

[2016-06-14 21:08] helmbold opened #28 "Rename classes to avoid name clashes under Windows"
It is still not possible to compile KotlinTest under Windows due to name clashes (be vs. Be). See this [issue](https://youtrack.jetbrains.com/issue/KT-12379).

[2016-06-15 21:05] #28 closed, assigned to nobody

[2019-01-15 14:10] LeoColman opened #583 "Add documentation for usage with `Mockk` and other mock libraries"
Recently, in `Mockk`'s slack and `KotlinTest`'s slack, some users have reported troubles when using `Mockk` with KotlinTest, due to the mockk context not being cleared after tests.

This is due to the isolation mode being incorrect for the use case, as the user normally wants the class to be instantiated once per test (`InstancePerTest` isolation).

As `Mockk` is a very used mocking library for Ko

[2019-01-15 14:25] dave08 commented on #583
Side point to possibly consider: Resetting mocks meaning re-initializing them which isn't always so efficient.

One way or the other it might be worth it to consider a standard way to "hook" into the test executions to reset existing (in Mockk there's the `clearMocks` and `clearXXXX` methods for this) or re-initialize mocks somehow... maybe with some kind of TestListener for this purpose (it could

[2019-01-15 14:26] sksamuel commented on #583
So taking what @dave08 says into account, perhaps we could have an extension `MockKExtension` which runs re-init code rather than creating new mocks (but also update docs to show both ways?)

[2019-01-15 14:41] LeoColman commented on #583
The problem is when should mocks be cleared. After Test? After Spec?

[2019-01-15 14:41] sksamuel commented on #583
Yes that's a good point.

[2019-01-15 14:43] LeoColman commented on #583
I think that if we want to keep the default expected behavior for most of mockk users, it would be to clear after test. I think it's important to document both ways too, as a default behavior won't be good enough for some users

[2019-01-15 14:47] sksamuel commented on #583
By setting the isolation mode, your mocks will be created correctly and will fit in with the natural state of the rest of your spec variables. There's nothing more required than that to make it work properly.

But we can look at an extension which could reset mocks (after every leaf test or after every test - two extensions just extending from a parent), in case you don't want to use a different i

[2019-01-15 15:07] dave08 commented on #583
Apart from resetting mocks, for actual creation there's this from Mockk documentation (for JUnit), there's relaxed settings to consider and spies, I wonder if this `MockKAnnotations.init` can be reused in KotlinTest, then the TestListener could receive it in the contructor along with a enum value of when it should run (before test or spec) or something similar:

[code]

Now that I think of it, thi

[2019-01-15 15:11] LeoColman commented on #583
Initing mocks via annotations probably work just fine with `MockKAnnotations`, as it will scan the class in runtime.

I think one can use `unmockkAll` or `clearMocks` for clearing everything without an issue.

However, I don't believe that the usual way of using `Mockk` is by using annotations. I personally have never used them, and I only see them in somewhat legacy systems that don't have a good

[2019-01-15 15:13] LeoColman commented on #583
I think that the issue we want to solve is with these variables that are mocked and when they should be reset. I think we should be somewhat agnostic to Mockk's implementation

[2019-01-15 16:21] dave08 commented on #583
I also don't use the annotation form, but by initializing the mocks the regular way, it's either resetting the mocks or using one class per test...

I like to stay away from DI's in regular unit tests (not integration tests where there's no choice...), so the annotations are maybe an option.

Another option could be Delegate properties to do the same (somewhat like Spek's `by memoized`) and decide

[2019-01-15 16:23] oleksiyp commented on #583
MockK supports a lot of ways to clear/unmockk and this is very confusing.

Extension as well exists, but it does not clear any mocks, just initialize to new instances:

[code]

[2019-01-15 16:23] oleksiyp commented on #583
`clearAllMocks` doesn't work for parallel tests

[2019-01-15 16:24] oleksiyp commented on #583
One possible thing to do is create an extension function for some scope that `kotlintest` is using and attach it somehow.

[2019-01-15 16:26] sksamuel commented on #583
@Kerooker lets create documentation now, showing an example with an IsolationMode, because 3.2 is about to be released. We can do something cleverer for 3.3 if required.

[2019-01-16 12:25] sksamuel opened #587 "Timezone Extension"
What do you think about adding something like this: https://junit-pioneer.org/docs/default-locale-timezone/

[2019-01-16 12:31] LeoColman commented on #587
I think it's great!

[2019-01-16 12:32] LeoColman commented on #587
The only point would be where to add it. Probably just a function to execute before a test, and we would have to clear it afterwards

[2019-01-16 12:34] sksamuel commented on #587
A TestCaseExtension that does it before every test and resets it after every test ?

[2019-01-16 12:36] LeoColman commented on #587
Might be good.
It's a very specific scenario, but a pain in the ass to test. I like it

[2019-01-16 12:56] sschuberth opened #588 "Starting to see InterruptedExceptions with kotlintest 3.2.0"
While running tests on the [PR that migrates our app to kotlintest 3.2.0](https://github.com/heremaps/oss-review-toolkit/pull/1195) I start to see `InterruptedExceptions` where previously (with kotlintest 3.1.11) everything was fine. See e.g.

https://travis-ci.com/heremaps/oss-review-toolkit/builds/97502719#L1263
https://ci.appveyor.com/project/heremaps/oss-review-toolkit/builds/21656801#L3532

I

[2019-01-16 13:00] LeoColman commented on #588
Looking into it now.

[2019-01-16 14:07] LeoColman commented on #588
Ok, I'm not able to run the tests that failed. any tip on how to reproduce that issue?

[2019-01-16 14:15] sschuberth commented on #588
What exactly is the problem?

You could try cloning the [oss-review-toolkit](https://github.com/heremaps/oss-review-toolkit) repo, checking out the [kotlintest-3.2.0](https://github.com/heremaps/oss-review-toolkit/tree/kotlintest-3.2.0) branch, ensuring you have [sbt](https://www.scala-sbt.org/) installed and in your `PATH`, and then running

    ./gradlew :analyzer:funTest --tests com.here.ort.an

[2019-01-16 14:17] LeoColman commented on #588
Ok, let me try to run it that way.

[2019-01-16 14:29] LeoColman commented on #588
I'm not getting an assertion error.
[code]

[2019-01-16 14:30] LeoColman commented on #588
But I think that means the test is running?

[2019-01-16 14:31] LeoColman commented on #588
I see that the travis build took 21min before giving up and crashing.

Any chance the tests are really timing out at this point? Were you able to execute this test locally?

[2019-01-16 14:34] sschuberth commented on #588
I guess you mean: You *are* getting an assertion error, but not the InterruptedExceptions from my report.

Yes, and more importantly, it is completing, though with a failure, but it is completing.

Might be. But the point is: I did not set a timeout. Does version 3.2.0 now come with a default timeout?

Execute, yes. Reproduce, no. After all it's a timing issue, so probably hard to reproduce.

[2019-01-16 14:40] sksamuel commented on #588
The default timeout is 10 minutes, is it possible they take longer than
that to complete?

@kerooker we should have a better error when a test does timeout (assuming
that's the issue).

On Wed, 16 Jan 2019 at 14:29, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-01-16 14:41] sksamuel commented on #588
There was always a default timeout. It just never worked before. So in other words, we fixed the bug.
But perhaps it should be higher.

[2019-01-16 14:45] LeoColman commented on #588
The default timeout is 600 IIRC. Should be enough.

My hipothesis is that maybe tests are "sharing" a timeout, if the scheduler
interrupts a thread that it shouldn't. I'm trying to test this

Em qua, 16 de jan de 2019 12:41, Stephen Samuel <notifications@github.com
escreveu:

[2019-01-16 14:50] sksamuel commented on #588
I don't think that's the case. But check it anyway. The tests probably just
take 11 minutes.

On Wed, 16 Jan 2019, 14:45 Leonardo Colman Lopes <notifications@github.com
wrote:

[2019-01-16 14:53] LeoColman commented on #588
I find it unlikely that a single unit test takes 11 minutes while the whole build with all the tests take 21 minutes to complete

[2019-01-16 14:54] sschuberth commented on #588
Good to know that there always was a default timeout.

I don't think so. Luckily we can check [historic data](https://ci.appveyor.com/project/heremaps/oss-review-toolkit/history) quite easily, and `SbtTest` usually takes [less than 3 minutes](https://ci.appveyor.com/project/heremaps/oss-review-toolkit/builds/21661869/tests). And this was not a one-off, I've triggered the PR multiple times.

[2019-01-16 14:55] sksamuel commented on #588
Ok then must be a bug in kt 3.2 somewhere.

On Wed, 16 Jan 2019, 14:54 Sebastian Schuberth <notifications@github.com
wrote:

[2019-01-16 16:44] LeoColman commented on #588
interrupts a thread that it shouldn't. I'm trying to test this

@sksamuel I believe it's this. I created a test case to reproduce this issue. Trying to find a fix for this now.

One thing I think could happen is to `cancel` a coroutine if it's running over the time limit. However, we discussed this early due to CoRoutines not being able to cancel, for instance a `while(true)`. I want to bring this

[2019-01-16 16:45] LeoColman commented on #588
One alternative suggested in #general from Kotlin slack is that maybe we could just leave the thread hanging and not interrupt it (as it would be impossible in a `while(true)` scenario, for example)

And then we can warn the user about it

[2019-01-16 16:46] danwallach opened #589 "feature request: enhancements to data-driven testing"
I've been looking to port some work I've done from Java to Kotlin, and I've been looking at porting my tests from JUnit5 and QuickTheories to do everything with KotlinTest. I'm really enjoying what I've seen so far, and I have several suggestions for how data-driven testing is handled.

**forAll vs. forall**
Currently, there's a `forAll` operator for doing property-based testing, a `forall` operat

[2019-01-16 16:53] sksamuel commented on #588
As I mentioned in another thread that I pinged you in, that's the way jUnit does it.
Crap really, but the only alternative.
You can't interrupt `while (true) { println("hello") }` without using Thread.stop() which has been deprecated since 1.1.

[2019-01-16 16:56] LeoColman commented on #589
Thanks a lot for your time to post this issue! We can bring some discussion into this.

About table testing, I believe you didn't see some of the custom constructs for Table, and I admit maybe they're not very well documented now, but you can do:

[code]

You don't really need tables for this.

About the other comments, I'll get to them in a moment

[2019-01-16 16:57] sksamuel commented on #589
For the factory, can you give me a very simple example? I'm pretty sure you could it by just declaring the tests dynamically, for example.

[code]

[2019-01-16 16:58] sksamuel commented on #589
We should rename for forAlls to be all forall (which I prefer like Scala) or forAll (like Kotlin).

[2019-01-16 17:09] LeoColman commented on #588
I know that's the way JUnit does, I was just questioning if that's the way we should do it too

[2019-01-16 17:10] LeoColman commented on #588
I mean, how many times will the user use a `while(true)` and expect it to be interrupted by a test? How many times will a user use `Thread.sleep(infinite)` and expect it to be interrupted by a test?

[2019-01-16 17:12] sksamuel commented on #588
Thread.sleep is fine as it's interruptible.

We can do it the way JUnit does but it can mean threads hanging around if the jvm is not terminated.

[2019-01-16 17:13] LeoColman commented on #588
We can leave threads hanging and warn the user if that's happening

[2019-01-16 17:14] LeoColman commented on #588
As tests are not executed in production and will shutdown usually after a brief period, it should be ok to leave them there for some minutes

[2019-01-16 17:15] sksamuel commented on #588
Ok. I'll change the implementation if you want to assign this to me.

On Wed, 16 Jan 2019 at 17:14, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-01-16 18:24] danwallach commented on #589
Here's a non-trivial example for testing binary trees in Java. This is an excerpt from a student assignment in a class that I teach ([Rice Comp215](https://comp215.blogs.rice.edu)). I give them a (mostly) working unbalanced binary tree implementation and they have to implement from scratch a probabilistically balanced treap. Both the "tree" and "treap" implement the same functional `ITree` interfa

[2019-01-16 21:19] danwallach commented on #589
Oh, and one problem with having an extension method like `Collection<T>.forAll`: it can be messy to mix and match with Arrow, which also has a `forAll` extension method. I don't have any special answer here. You could certainly declare `forAll` to be an extension method on `Collection<T>` inside of `TestContext`, keeping it from being visible elsewhere, but if somebody wants to use Arrow's `forAll

[2019-01-17 13:58] LeoColman commented on #588
Working on a fix

[2019-01-17 13:58] LeoColman commented on #588
Should be ready later today

[2019-01-18 08:14] sschuberth opened #591 "Clarify the docs for the "invocations" config option"
From reading [this](https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#test-case-config) it's unclear to me whether a test with e.g. `invocations = 3` will always be run 3 times, or only tried up to 3 times until a test run succeeds.

Also, supposing the test is always run 3 times in my example, what is the behavior if some runs fail and some succeed? Is it enough for a single r

[2019-01-18 10:15] LeoColman commented on #591
Invocations = 3 will always run 3 times.
If 1 out of 3 fails, the test will fail. All must succeed for the test to be a pass.

[2019-01-18 10:16] LeoColman commented on #591
I will update the docs to reflect this

[2019-01-18 10:18] sschuberth commented on #591
Ah, thanks. I was reading the current "Useful if you have a non-deterministic test and you want to run that particular test a set number of times" exactly the other way around: Instead of guarding against "false positives", i.e. a test succeeded although it shouldn't, I though the purpose is to give the test another change to succeed if it failed before.

[2019-01-18 10:33] LeoColman commented on #591
Let's take an example of a test that fails:

[code]

The "non-deterministic" `counter.increment()` will fail at some of the invocations, therefore the test will fail

[2019-01-18 10:35] sksamuel commented on #591
The aim is for those tests that fail every now and then and you have to keep rerunning them to get a failure. By putting invocations = 20 you can flush them out sooner.

[2019-01-18 10:57] #591 closed, assigned to LeoColman

[2019-01-18 14:31] LeoColman opened #594 "Add `And` scope to `BehaviorSpec` Then"
Any scope inside a `Spec` must either be a `TestType.Test` or `TestType.Container`. A scope cannot be both.

There is a possibility to use `TestType.CONTAINER_AND_TEST`, however, [Gradle is bugged](https://github.com/gradle/gradle/issues/4912), and doesn't work with it.

For this reason, we cannot have `Then -> And -> Then` in behavior Spec, because `Then` might be a test and a Container.

As we c

[2019-01-18 16:12] JustinTullgren commented on #583
Documentation would be appreciated. It would be nice to see a constructor injection example without relaxed = true as that is a "sensible default" provided by mockk.

[code]

[2019-01-19 02:20] #588 closed, assigned to LeoColman

[2019-01-19 03:31] LeoColman opened #595 "Create 3.2.1 changelog"

[2019-01-19 03:42] #595 closed, assigned to LeoColman

[2019-01-19 09:04] sschuberth commented on #588
Thanks for the fix! I can confirm that the tests for my PR to upgrade ORT to use kotlintest 3.2.1 now succeed: https://github.com/heremaps/oss-review-toolkit/pull/1195

[2019-01-19 12:49] sksamuel commented on #588
Great

[2019-01-19 15:31] LeoColman commented on #588
Great, @sschuberth !

[2019-01-19 17:01] sksamuel opened #597 "Documentation for test filtering via gradle"
Gradle has many options for filtering tests. I'd like to see some documentation on how users can apply this to kotlintest, as well as setting up custom test tasks that only run a subset of tests.
(Both class based filtering and package based filtering)

[2019-01-19 17:08] LeoColman commented on #597
Should we add support for Maven as well? I don't like maven, but maybe users still use it

[2019-01-19 19:33] sksamuel commented on #597
Yes. Both gradle and maven should have options for test filtering which will manifest themselves as filters in the discovery request of the test engine.

[2019-01-20 00:28] robstoll opened #598 "[F] reuse specs, allow generic specs"
I am opening this feature request due to a slack discussion. I am not a kotlintest user, so bare with me. As far as I understood, it is currently not possible to reuse specs. I would like to be able to write generic specs. Say you have Strategy A, B and C all implementing MyStrategy.
- ideally you only need to write one spec and all strategies can reuse it.
- it should also be possible to reuse a

[2019-01-20 01:13] LeoColman commented on #598
The discussion we had in Kotlinlang's Slack brought us to a hello world example of you composing specs would work.

This was asked a little while back, in #399 but nothing was very discussed over there.

The discussion we had brought us to a central point: Sometimes, behavior is the same between methods or inherited classes, and I might not want to reimplement the same test over and over. For exam

[2019-01-21 05:53] sksamuel commented on #598
I've just read up on the slack conversation.

Of course, the major stumbling block to just defining various tests in several superclasses and inheriting them is that we can't have multiple inheritance.

At the moment users can't define tests in an interface because the parent Spec containers are classes (as they use instance fields for state).

So I have two potential solutions to offer.

The firs

[2019-01-21 07:13] robstoll commented on #598
I would go for a composition approach

[2019-01-21 08:45] sksamuel commented on #598
They both are :)

One is composing at the class level, another is composing at at the function level.

[2019-01-21 09:28] robstoll commented on #598
I see, you have another definition of composition than I have :)
I would go for the first approach which does not rely on extending an interface

[2019-01-21 10:54] LeoColman commented on #598
I think we can kind of mix both of the approaches. Interfaces and Composition, but without changing the current implementation for the final user.

[code]

(Nevermind the syntax, just throwing an example out)

And then in a `ComposedSpec` we would define how tests would work using `buildTarget`.

Thoughts?

[2019-01-21 11:01] dave08 opened #601 "Assert not null or specific object type for further assertions on an object"
Say:
[code]
This should and assert that Person is not null, and provide the ability to check the non-null result. This could also probably be done with Kotlin Contracts, just by doing a null assertion before other assertions. The difference between this and `result!! should { }` is that the previous is an actual assertion and the latter is a runtime failure.

Something similar could possibly done

[2019-01-21 11:03] LeoColman commented on #601
I'm just a little bit afraid of using contracts as they might change a lot in the final version

[2019-01-21 11:06] dave08 commented on #601
I'm wondering if that's a big deal... since here we're talking about changing two or three functions. So even if they change, I'm doubtful they won't support the functionality, and those functions could be changed again... The tests on this feature shouldn't pass if they change and break the functionality.

[2019-01-21 11:13] LeoColman commented on #601
I guess it shouldn't be a big deal, maybe you're correct.

I don't agree with the syntax tho. Do you think there's a better way to do it?

[2019-01-21 11:15] dave08 commented on #601
If contracts are used:

[code]
The idea is to gain the assertion + smart-cast in one shot.

Otherwise, without contracts (or with the proposed contracts), what bothers you with the syntax?

[2019-01-21 11:56] LeoColman commented on #601
Ok, so the thing with `ExperimentalContracts` is actually a big deal. If one use the `@ExperimentalContracts` annotation, every function that calls this function will have to use it too.

![image](https://user-images.githubusercontent.com/1577251/51473169-bd36da80-1d62-11e9-9051-de04fe7850f2.png)

I think it's a great idea, but I don't want to change user's code for an experimental feature, so thi

[2019-01-21 11:57] LeoColman commented on #601
I'll try to see if there's anyway to use this, but I don't think there is.

[2019-01-21 12:12] dave08 commented on #601
I wonder if just adding something like this to your gradle will solve this:

[code]
@Kerooker

[2019-01-21 12:13] LeoColman commented on #601
But would this solve it for your code, for example?

[2019-01-21 12:14] LeoColman commented on #601
I think it's something to try. Let me see :)

[2019-01-21 12:22] dave08 commented on #601
Also see: https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-use-experimental/index.html

[2019-01-21 12:23] LeoColman commented on #601
It still forces users to use the `@UseExperimental` in their classes, and that's not desired

[2019-01-21 12:31] dave08 commented on #601
Funny, because I'm sure there's quite a few libs using coroutine channels, so they also force the user to do this? I'll try to see what others say about this on Slack, maybe someone's used this more than us...

[2019-01-21 12:37] LeoColman commented on #601
I'm trying to talk to people in Slack/General about this, but the only answer I've had so far is "This is impossible". But IDK

[2019-01-21 12:37] dave08 commented on #601
Here's another example and the install instructions don't indicate needing to specify `@UseExperimental`:

https://github.com/MarkusAmshove/Kluent/blob/396efe98ceb28003c00122214bbbaa3eac1b40ee/common/src/main/kotlin/org/amshove/kluent/Basic.kt

And:

https://github.com/MarkusAmshove/Kluent/pull/126

@Kerooker

[2019-01-21 12:43] LeoColman commented on #601
Ok, it seems to be possible as another person from slack said. I'll try now

[2019-01-21 14:29] LeoColman commented on #601
With the latest commit I added the possibility to use Kotlin Contracts for the type smart-cast.

However, I preferred to keep the consistency and not return any value from `shouldNotBeNull`. Do you think we still need a custom construct for `shouldNotBeNullAnd {}`, @sksamuel and @dave08 ?

[2019-01-21 14:47] dave08 commented on #601
Very nice @Kerooker, thanks!

I personally don't think so, regular Kotlin constructs can be used for that.

I suppose that `shouldBeInstanceOf<Foo>` won't even work with reified generics? Maybe for that it might be nice to have a lambda, it doesn't look like there's a target version for that feature. The only thing that bothers me is consistency. But it would certainly be nice.

Also I've had such

[2019-01-21 15:42] LeoColman commented on #601
`shouldBeInstanceOf<Foo>` is already reified. It's a currently unsupported feature :/

[2019-01-21 15:46] dave08 commented on #601
What do you think of the lambda in that case, or maybe that's too inconsistent?

[2019-01-21 15:48] LeoColman commented on #601
I think it's inconsistent, but it wouldn't affect any current code. I don't really see why not, if it's well documented.

What do you think, @sksamuel ?

[2019-01-21 18:39] LeoColman commented on #601
@dave08
As this discussion won't be including Kotlin Contracts for now, please submit a feature request to add a lambda parameter to `shouldBeInstanceOf` for us to discuss it better.

For now I'll be closing this, as this feature was implemented and merged in the `3.3` branch.

[2019-01-21 18:39] #601 closed, assigned to LeoColman

[2019-01-22 16:34] danwallach commented on #589
Update on "parameterizing" my tests. It seems I can fake up what I want using inheritance.

[code]

In this case, I can create subclasses of `ListTheories` using different generators that I might want to test out, and each subclass is detected and run independently. This isn't quite the same thing as saying "give me a list of tests", but it gets the job done. I guess the question is whether this r

[2019-01-22 22:51] atamboli opened #604 "How to output the request and response when running the test in parallel"
I would like to see the standard output in the test html report. I run the test using 'gradlew test;
I can see the standard output when i run only one thread. But if i ran the tests in parallel, it would show output of only one test class.

[2019-01-23 15:58] JustinTullgren opened #605 "Question: Bang and Focus outside of StringSpec"
Hi,

Are bang and focus only supported in StringSpec? I like bang over `.config(enabled = false)` but it doesn't appear to work with the BehaviorSpec at the `given` level. I have not tried other specs, however.

This doesn't appear to work:
[code]

Thanks!

[2019-01-23 16:01] LeoColman commented on #605
You're correct. This should work at `given` spec.

[2019-01-23 16:02] LeoColman commented on #605
@sksamuel

This is likely because `Given` is prefixed with `Given: XXXX`, thus `!` won't go to the beggining of the test.

This is likely to happen with any test that prefixes with anything.

Working on a fix.

[2019-01-23 16:04] JustinTullgren commented on #605
Wow fast turn around! No rush on my part but thanks!

[2019-01-23 16:05] LeoColman commented on #605
I was looking at issues and yours popped up :P

[2019-01-23 16:06] LeoColman commented on #605
Oops.

[2019-01-23 16:06] dave08 commented on #605
I think this might be slightly related (towards the end...), although here we're talking top-level, and there I was asking for inner levels too, I wonder if already dealing with this, maybe the whole thing could be addressed?: https://github.com/kotlintest/kotlintest/issues/329

[2019-01-23 16:09] LeoColman commented on #605
Probably not. Bang and Focus are not really related

[2019-01-23 16:10] dave08 commented on #605
Bang works for deeper levels on all test types? I know, focus is a seperate issue... I was just wondering if such a `!2:` or something hack would be needed, or just a simple `!` on the scope or test in the deeper level.

[2019-01-23 16:11] LeoColman commented on #605
I don't think it does for all test types for the same reason

[2019-01-24 12:53] #605 closed, assigned to LeoColman

[2019-01-24 12:54] LeoColman commented on #605
@JustinTullgren

Fix was merged to master.

[2019-01-24 16:42] sschuberth opened #607 "Make "condensed" multi-line diffs configurable"
While it's nice that https://github.com/kotlintest/kotlintest/issues/402 was implemented, there are cases where we'd like to turn off that feature, e.g. to accept actual results as the new expected results. Can we maybe have a system property that toggles the "condensed" multi-line diff, turning it off by default for backwards compatibility with most past releases?

[2019-01-24 16:58] sksamuel commented on #607
@kerooker lets add this along with the bang fix, and make that 3.2.2

[2019-01-24 17:49] atamboli commented on #604
I add a logger (slf4j-log4j) and now it shows up the standard output in Junit report....

[2019-01-24 17:50] #604 closed, assigned to nobody

[2019-01-24 21:27] JustinTullgren commented on #605
Thanks @Kerooker !

[2019-01-25 13:28] elect86 opened #610 "Kotlintest 3.2.0+ makes my Gradle `build` task hangs or `GC overhead limit exceeded`"
As titled, project at this [commit](https://github.com/kotlin-graphics/gli/commit/1a950ae926ffa26dddc52b0b1f1affec3580e53f)

with 3.1.11 no issues at all

[2019-01-25 13:36] sksamuel commented on #610
Changing rem to cap breaks it ?

[2019-01-25 13:43] LeoColman commented on #610
Why the empty test logging?

[2019-01-25 14:04] elect86 commented on #610
@sksamuel that fixed some tests

@Kerooker what do you mean?

[2019-01-25 14:08] LeoColman commented on #610
There is an empty testLogging block

[2019-01-25 14:09] elect86 commented on #610
ah, I used [this](https://github.com/kotlin-graphics/gli/blob/master/build.gradle#L79) to print out normals stream outputs and wanted to keep it to avoid a future search

[2019-01-25 14:24] LeoColman commented on #610
Maybe comment the block too? I'm wild guessinh that perhaps it's part of thr issue, maybe gradle is failing to resolve something.

Just guessing because we haven't had any reports similar to this so far

[2019-01-26 00:27] elect86 commented on #610
No success

[code]

Could you give it a try on your machine?

[2019-01-26 01:01] LeoColman commented on #610
Clone th e repository and did `./gradlew clean test`.

Flawless build

[2019-01-26 01:55] LeoColman commented on #610
I'm not sure this is on our end, @elect86

Maybe you're not giving gradle enough memory on your machine?

[2019-01-26 10:45] elect86 commented on #610
I have the very same behaviour on two machine, at work and at home

I'm trying right now on console (I always run through Idea) and it's the same.. it hangs on

<========-----> 63% EXECUTING [1m 30s]

Ps: did you changed `kotlintest_version` to `3.2.0` before running?

[2019-01-26 10:53] elect86 commented on #610
I have the very same behaviour on two machine, at work and at home

I'm trying right now on console (I always run through Idea) and it's the same.. it hangs on

[code]

Ps: did you changed `kotlintest_version` to `3.2.0` before running?

And then

[code]

[2019-01-26 12:03] sksamuel commented on #610
I'm trying it now.

[code]

[2019-01-26 12:09] sksamuel commented on #610
[code]

[2019-01-26 15:10] elect86 commented on #610
that commit has the working `1.3.11`

I pushed on branch [`bug`](https://github.com/kotlin-graphics/gli/tree/bug), either change manually the kotlintest version in `build.gradle` or clone this

[2019-01-26 15:31] sksamuel commented on #610
Same error.
Seems like a bug in Kotlin itself.

[code]

[2019-01-26 15:53] LeoColman commented on #610
Oh wow

[2019-01-26 17:01] elect86 commented on #610
Ok, [issue](https://youtrack.jetbrains.com/issue/KT-29516) opened

[2019-01-26 17:44] sksamuel commented on #610
I tried Kotlin 1.3.20 as well.

[2019-01-26 17:45] sksamuel commented on #610
https://youtrack.jetbrains.com/issue/KT-29517

[2019-01-26 17:46] sksamuel commented on #610
Oops me too. I'll close mine and link.

[2019-01-26 18:03] LeoColman commented on #610
Any chances we can find which specific class is failing this, and provide a
workaround?

I tried debugging, but no success

On Sat., Jan. 26, 2019, 15:46 Stephen Samuel <notifications@github.com
wrote:

[2019-01-27 00:19] evanbennett opened #611 "Arrow Extension - null support"
In https://github.com/kotlintest/kotlintest/blob/master/kotlintest-assertions-arrow/src/main/kotlin/io/kotlintest/assertions/arrow/either/matchers.kt, should all uses of `Any` be `Any?` to support nullable types?

[2019-01-27 00:49] evanbennett opened #612 "Arrow Extension - `should beRight` lambda expression support"
To test the returned value of an `Either` I am using:
[code]

It would be nicer to be able to use lambda expression support, such as:
[code]

Note: `passwordColumn.loadType(...)` returns `Either<ValidationError, Password?>`.

[2019-01-27 00:52] evanbennett commented on #612
I have looked into the code, and come up with:
[code]
My feeling is that this should not be negatable, because I do not see how to negate `checkB`.

[2019-01-27 01:07] sksamuel commented on #611
Makes sense. Would you like to make a PR ?

[2019-01-27 01:08] sksamuel commented on #612
How about we do it even better by using contracts.

@Kerooker you are the contract man. What do you think about doing something like

[code]
?

[2019-01-27 01:15] evanbennett commented on #611
Sure.

[2019-01-27 01:16] LeoColman commented on #612
Unfortunately contracts cannot be used to infer type with generics yet
https://youtrack.jetbrains.com/issue/KT-28298

We had this exact same issue at #602.

We can wait on this feature (I do believe it's going to be supported, as per https://github.com/Kotlin/KEEP/issues/139#issuecomment-436897878 and it's answer) or add the lambda as a current workaraound

[2019-01-27 01:30] sksamuel commented on #612
I think we can add the lambda, then also add the contract version later.

[2019-01-27 12:30] abelkov commented on #610
We have a similar bug report back from two years ago: https://youtrack.jetbrains.com/issue/KT-16493. The problem seems to be a particular pattern of using nested lambdas with receivers. It would be very helpful if you found the change in `kotlintest` diff that causes this to happen.

[2019-01-28 14:42] sksamuel opened #614 "Reflection Matchers"
Would it be useful to have matchers like `a.shouldHaveMethod("foo")` and `a.shouldHaveAnnotation("foo")` and so on.

[2019-01-28 14:43] sksamuel opened #615 "ShouldBeAssignableTo"
Potential matcher: `a.ShouldBeAssignableTo<T>`

Would throw if a is not a subtype of T.

[2019-01-28 14:44] sksamuel opened #616 "ShouldBeOneOf"
Potential matcher:

[code]
 would fail if a is not one of the instances that comprise bs

[2019-01-28 15:05] LeoColman commented on #614
These kind of things would be great if we could assert on the annotation too.

For example

[code]

[2019-01-28 15:05] LeoColman commented on #614
Or something similar

[2019-01-28 15:10] sksamuel commented on #614
[code]

[2019-01-28 15:13] LeoColman commented on #614
That's way better

[2019-01-28 15:13] LeoColman commented on #614
One more matcher we would add a lambda to.

I don't think it's a big problem

[2019-01-28 15:39] sksamuel commented on #614
I think it could be a new pattern we could use to great effect.

Anything where we are testing a type, we allow the type to be used in the lambda.

`a.shouldBeAnInstanceOf<Foo>() { foo ->  }`
`a.shouldHaveType<Foo>() { foo ->  }`
`aTry.shouldBeSuccess<Success>() { success ->  }`

[2019-01-28 15:41] LeoColman commented on #614
But then, is `should` the right keyword here?

I suppose a more correct way would be to add an `and` matcher of some sort

[code]

[2019-01-28 15:42] sksamuel commented on #614
What does the `andShould` give us over just accepting a lambda?

[2019-01-28 15:43] LeoColman commented on #614
I believe that `shouldBeX` looks like a "terminal" operation, and it doesn't seem to be a lambda operation.

But I don't mind

[2019-01-28 16:07] sksamuel commented on #614
I'm happy to discuss alternative nomenclature. Or as you say allow chained
matchers.

On Mon, 28 Jan 2019, 15:43 Leonardo Colman Lopes <notifications@github.com
wrote:

[2019-01-28 21:40] dave08 commented on #616
Maybe also a vararg version to avoid creating the list?

[2019-01-29 12:30] jeremad opened #622 "Could not find method test()"
I probably do something wrong, however I have been stuck on this one for a while now.

I set up an empty project to reproduce my issue myproject/build.gradle:
[code]

And I follow the documentation in myproject/app/build.gradle:
[code]

And When I try to build I get the following error: (--stacktrace --debug --info are not very helpful)
[code]

I use gradle 4.10.3 and android studio 3.3

Anything

[2019-01-29 12:48] sksamuel commented on #622
I think your test deps go in the deps block not the test block. The test
block is for configuring test behaviour.

On Tue, 29 Jan 2019, 12:30 jeremad <notifications@github.com wrote:

[2019-01-29 12:52] LeoColman commented on #622
Can you show us some of the test code you made, please?

[2019-01-29 12:53] jeremad commented on #622
Yes indeed, I pasted the wrong example. I edited:
[code]
I still have the same issue.
I don't have any test code, it's an empty project!

[2019-01-29 12:58] jeremad commented on #622
I think the problem is really about creating the "test" block. If I remove it, it does build.

[2019-01-29 13:12] LeoColman commented on #622
Oh, I see.

I think that the `test` block must be at the parent `build.gradle`, not at `app` build.gradle.

But I'm not completely sure

[2019-01-29 13:15] jeremad commented on #622
I tried that, same error :/

Thanks you for you help, BTW

[2019-01-29 13:21] LeoColman commented on #607
@sksamuel Should we include the other non-breaking minor changes as well?

[2019-01-29 13:23] jeremad commented on #622
BTW, for a more extensive explanation:
I ran into this trying to migrate from kotlintest 2 -> 3, everything went fine... except that tests were marked as passed while they did not run. So I tried to follow the doc, and BOOM.

[2019-01-29 13:24] LeoColman commented on #622
That's bad!
Which version of gradle are you using?

[2019-01-29 13:25] jeremad commented on #622
4.10.3

[2019-01-29 13:26] LeoColman commented on #622
I think that the `test` task is from the `java` plugin, could you try to apply it, please?

[2019-01-29 13:32] jeremad commented on #622
Now that gets interesting:
[code]

[2019-01-29 13:40] jeremad commented on #622
It seems that other projects made it work with android, without the `test` section, looking into that

[2019-01-29 13:53] sksamuel commented on #607
Which one was that again.

[2019-01-29 17:24] LeoColman opened #623 "System Environment extensions"
In the line of #524, we should allow configuration for System Environment Variables (which are differente from System Properties).

It's not trivial to do, because `System.getenv()` returns an immutable map, which can't be appended to.

The library [System Rules](https://stefanbirkner.github.io/system-rules/) does it with a JUnit rule, specifically in [this class](https://github.com/stefanbirkner/

[2019-01-29 17:28] LeoColman commented on #607
All PRs with an exception of `Contracts`, and commits to master that you made (I'll have to look at them to see if any implementation changed):

#506 #603 #606 #608 #609

And maybe
#543 and #613 if they're ready with this one

These are all the PRS created/merged after `3.2.1` was released

[2019-01-29 17:31] sksamuel commented on #623
And a security manager extension too.
We should make a module with extensions, or shove them in core.

On Tue, 29 Jan 2019 at 17:24, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-01-29 17:41] LeoColman opened #624 "Security Manager extension"
In the line of #524 and #623, we should have a Security Manager extension.

The library [System Rules](https://stefanbirkner.github.io/system-rules/) does it with a JUnit rule, specifically in [this](https://github.com/stefanbirkner/system-rules/blob/master/src/main/java/org/junit/contrib/java/lang/system/ProvideSecurityManager.java) class.

We can do something similar, and in the same pattern of

[2019-01-29 17:43] LeoColman opened #625 "Rework extensions"
We were discussing in #623 about reworking how extensions work, either creating a separate module or shoving all extensions in core.

Let's discuss a little bit on what we should do in this matter

[2019-01-29 17:43] LeoColman commented on #623
I think shoving them in core is better.
Unless we make the Junit5 runner module depend on a new module, which I'm fine with too..

I've created #624 and #625 for f urther discussion on these

[2019-01-29 17:43] sksamuel commented on #624
One thing I'd like to think about is project level vs spec level extensions.

Maybe you want to override security manager for a single spec. Or maybe for the entire test suite. Currently we don't offer that.

[2019-01-29 17:44] sksamuel commented on #623
Yeah I wouldn't make it a module the user has to add in manually, but maybe for separation of code we can have a kotlintest-extensions module.

[2019-01-29 17:45] LeoColman commented on #625
I'm on the line of reducing dependencies users must add to the most. Unless there are big/heavy extensions, I don't think there's any problem in shoving them into the core module, or make the core module depend on it, as a separate module.

[2019-01-29 17:45] LeoColman commented on #623
I agree

[2019-01-29 17:46] sksamuel commented on #623
We have a lot of features for 3.3 now.
Did you test intellij plugin?

[2019-01-29 17:46] sksamuel commented on #625
I think maybe a kotlintest-extensions module, but that's brought in by the runners automatically.

[2019-01-29 18:34] LeoColman commented on #625
I think it's good.
We separate the code to another module, and with this separation we also bring it's tests to this modularity, making things a little bit clearer for future developers to contribute.

However, I'm kinda scared that everything get it's own module, and we have a bazillion modules. I don't really think that's a problem, as responsibilities will be very well split, but can it get con

[2019-01-29 18:37] LeoColman commented on #623
@sksamuel
One thing that is scaring me a little bit about these extensions:
What if I develop for parallel testing?

For instance, if I need environment to be X in this test, Y in another test and they're both ran in parallel?
If this happen, the variable will be in an inconsistent state. The same goes for System Property extension.

I think user should know this, but should we warn in any way abo

[2019-01-29 18:40] LeoColman commented on #625
We do have a `kotlintest-extensions` module, we should just refactor it in some way to include all of them at once.

Things to remember is refactor the documentations on `Spring Extensions`, `Allure Extensions` and the likes

[2019-01-29 19:10] sksamuel commented on #623
We could possibly have the extension throw an exception if parallelism is enabled, because yes its a race condition. They would be able to use project level only.

[2019-01-29 19:11] sksamuel commented on #625
We have submodules of it. The spring and allure ones you might want to keep separate if there are additional deps. But for modules with no deps they might as well be brought in automatically.

[2019-01-29 19:14] LeoColman commented on #623
What do you mean using project level only?
Only `beforeProject` and `afterProject`?

Perhaps I can use it `beforeTest`, but I have to guarantee that no other test is using it. How to verify if parallelism is enabled?

[2019-01-29 19:15] LeoColman commented on #625
Makes sense

[2019-01-29 19:16] sksamuel commented on #623
The extension can check Project.parallelism

[2019-01-29 19:18] LeoColman commented on #623
And if project is parallel we deny it's usage in tests, and allow usage in project only?

[2019-01-29 19:20] sksamuel commented on #623
Exactly.

On Tue, 29 Jan 2019 at 19:18, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-01-30 09:17] jeremad commented on #622
OK, there is no point to let this issue open, I made it work, just not in command line, I may open another issue about this today

[2019-01-30 09:17] #622 closed, assigned to nobody

[2019-01-30 12:22] jeremad opened #626 "Test folder and android studio"
In my android project:
* I successful migrated test classes from kotlintest 2 to kotlintest 3.2
* I can run test classes individually
* I could run the whole test directory with kotlintest 2
* Now when I try to run the test directory:
[code]

It's basically the same issue when I try to run the tests with gradle, It used to work with former version, but now it does nothing.

[2019-01-30 16:42] jeremad commented on #626
I got the end of that, it's a small issue in the documentation, I'll made a PR adding an small android section

[2019-01-30 16:56] #626 closed, assigned to nobody

[2019-01-30 16:56] LeoColman commented on #626
Great one!
Thanks!

[2019-01-30 20:30] sksamuel opened #628 "KotlinTest Roadmap 3.3"
Features and fixes for 3.3

- [x] - Intellij Plugin
- [x] - System properties and env extensions #623 #524
- [x] - Timezone and locale extensions #587
- [x] - Make "condensed" multi-line diffs configurable #607
- [x] - Security manager extension #624
- [x] - New matchers and assertion improvements #616 #601 #603
- [x] - Arrow Extension - null support #611
- [x] - New Generators #530 #526
- [x] - E

[2019-01-31 14:05] #625 closed, assigned to nobody

[2019-01-31 14:14] LeoColman commented on #587
These were merged as per #609

[2019-01-31 14:14] #587 closed, assigned to sksamuel

[2019-02-04 11:16] LeoColman commented on #623
I don't think I'll be able to deny execution based on parallelism. I can't verify if I'm running as a ProjectExtension or as a TestCaseExtension or just inside a test with `withEnvironment`. How could we solve this? With a warn only?

[2019-02-04 13:27] dave08 commented on #623
Maybe a little dirty, but a global `var isCurrentRunInParalell` with an AtomicBoolean? @Kerooker

[2019-02-04 21:27] leoxs22 opened #634 "new behavior spec without parentheses"
Scalatest has a syntax like this:

[code]

I'll try to code it if someone can confirm that this could be a good adittion. I think that this syntax is cleaner than the BehaviorSpec, providing the same functionallity.

[2019-02-04 23:46] LeoColman commented on #634
I'd be glad to take a look in your code!
However, some things we should make sure of: BehaviorSpec will keep existing. How can we find a name for this kind of spec?

[2019-02-04 23:50] sksamuel commented on #634
@leoxs22 what is this spec called in scalatest ?

[2019-02-05 00:29] leoxs22 commented on #634
@sksamuel in Scala it seems to be called WordSpec
http://www.scalatest.org/at_a_glance/WordSpec

Maybe we could add it as an extension of the WordSpec, since it's similar but with more nested operations. If that nesting it's just optional, it could be a part of the same spec.

So, you can just use the "should" keyword, but if the test requires it, you can use the keywords "when" and "in".

I have

[2019-02-05 02:15] leoxs22 commented on #634
I've run some tests and it seems to work as expected when using the 3 functions.

![image](https://user-images.githubusercontent.com/9098977/52249372-879d0000-28d1-11e9-99b8-4abdd6b02a43.png)

![image](https://user-images.githubusercontent.com/9098977/52249377-8f5ca480-28d1-11e9-842e-48acc82000a5.png)

I still have to work in allowing only to use "should", and keeping the functionality of the "con

[2019-02-05 09:56] sksamuel commented on #634
So we already have a WordSpec.
It doesn't have the "when" syntax - I've been using ScalaTest since 2011 and I never realised word spec supported that :joy:
So we could just add that to the existing word spec.

As for "in" - when I first wrote KotlinTest I made the conscious decision to avoid the use of In. I don't think it should be added now.

[2019-02-05 13:09] leoxs22 commented on #634
Nice, so I'll delete the support for "In", and write some tests

[2019-02-05 13:12] sksamuel commented on #634
yes please, and if we don't have lowercase when, can we add that in backticks?

[2019-02-05 16:00] #634 closed, assigned to nobody

[2019-02-05 18:28] LeoColman commented on #623
That won't work, as I still won't know if I'm in a Project Extension or Test Extension

[2019-02-05 18:30] dave08 commented on #623
That could be a second atomic value... :see_no_evil: @Kerooker. I mean, since you just need to know what is currently running... but then I don't really know the internals, so I guess it might not be possible anyways...

[2019-02-05 18:38] LeoColman commented on #623
I think we just need to check if `withSystemEnvironment` is currently running. We don't need to care about project parallelism if it's never used in parallel.

It will become a race condition, however.
I'll add a commit that does what I'm thinking for you and @sksamuel to review

[2019-02-05 22:28] sksamuel commented on #628
I've like to release 3.3 as soon as possible because it's needed for the intellij plugin, which is by far the biggest feature. We can drop whatever we want to get it released.

[2019-02-05 22:34] LeoColman commented on #628
Ok, keep `System Properties`, `Environment Extensions`, perhaps `Security Manager Extension` as it's code is mostly done at System Rules library.

I'm ok to keep only some of the new matchers, and drop the uninmplemented ones and improvements to a future release.

I don't see why we need to keep `Koin support`, `File management extension`, `Allow see and issue` and `Project config for assert softl

[2019-02-05 22:35] LeoColman commented on #628
System properties are done, Environment is very close done and Security Manager will probably follow these 2 examples

[2019-02-05 22:43] sksamuel commented on #628
Ok I've bumped out those things.
If you can handle the two matcher tasks, and anything else you want, I will get the intellij plugin ready.

[2019-02-05 22:46] sksamuel commented on #598
Let's target this feature for 3.4.

[2019-02-05 22:49] sksamuel commented on #623
Just put this inside the intercept method.

[code]

[code]

[2019-02-05 22:51] sksamuel commented on #623
No one will want to use this project wide, otherwise, you might as well just set the system property in your build file.

[2019-02-05 22:55] sksamuel commented on #623
For things like Locale, where you might want to use it project wide, just create two versions - `LocaleTestCaseListener` and `LocaleProjectListener`.

In fact, I would change the implementation from a TestCaseExtension to a TestCaseListener, because we do not need to intercept the test cases and listeners are much simpler.
Then the `LocaleTestCaseListener` checks for parallelism and the LocaleProj

[2019-02-05 22:57] LeoColman commented on #623
There's also the possibility that the test is multi-thread, and one shouldn't use withEnvironment twice. I'm thinking of something like

1. If I'm not running, enter running mode
2. If I'm in the running mode, nobody else can enter it
3. When I leave the running mode, it's up for grabs again.

Similar behavior to how threads enter a critical section.

If I implement listener, wouldn't it be a litt

[2019-02-05 23:03] sksamuel commented on #623
Extension and Listener are just ways to extend KotlinTest. Use extension if you want to change the way tests are reported back to KT, or filter tests. Otherwise use listeners.

If we use Listener then you can have two implementions - one overriding beforeTest, and one overriding beforeProject.

The project one doesn't need to test for parallelism.

The only thing we need to care about re: race con

[2019-02-05 23:05] LeoColman commented on #623
I want to block anything else trying to run. It will only block anything executing `withEnvironment`, it won't block `System.getenv()`

[2019-02-05 23:06] LeoColman commented on #623
And with blocking I mean crashing if, and only if, anything else tries to run `withEnvironment`

[2019-02-05 23:07] LeoColman commented on #623
I understand `Extension` and `Listener`, but I don't want to call a `Listener` "extension"

[2019-02-05 23:07] sksamuel commented on #623
If parallelism is 1 then it doesn't matter does it.
If it's > 1 people can fuck with it anyway by doing the same thing as
withEnv but in their own code.
I don't think we need to babysit people.

On Tue, 5 Feb 2019 at 23:05, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-02-05 23:07] sksamuel commented on #623
I agree with you on the naming, that's why I'm going to rely on you to come
up with a better name :)

On Tue, 5 Feb 2019 at 23:07, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-02-05 23:09] LeoColman commented on #623
Will people always know that their environment is screwed because it's a race condition? Shouldn't we even warn if the user brainfarts?

[2019-02-07 01:29] LeoColman commented on #623
I think that calling it `SystemEnvironmentTestListener` and are both OK.

We're listening for a test start, and then we're executing something when it does. (starts/finishes). We're not exactly extending the test.

I believe it's up to how you word the sentence, as we could say we're extending the test by modifying the environment.

I'll keep the name cited above, and modify the code to use TestLi

[2019-02-07 14:03] sksamuel commented on #623
Those names are good.

[2019-02-08 11:33] j-h-a opened #639 "SLF4J dependency issue"
When creating a new project in AndroidStudio 3.3, and checking the AndroidX box during the new project wizard, creating a default empty project then adding KotlinTest as instructed:

[code]

Then add a simple test using KotlinTest, the test executes no problem but gives this warning:

[code]

I'm new to Android and gradle, so don't really understand what's going on here. Is it some kind of interna

[2019-02-10 15:51] sksamuel opened #641 "Required flag for test invocations"
By default, if we have invocations > 1 then all must pass. We could add a new flag, required, which allows the user to say that some are allowed to fail. Eg,

[code]

In this scenario, only 7 are needed to pass.

[2019-02-10 15:59] sksamuel opened #642 "Add junit engine testkit tests"
JUnit 5.4 has added an engine test kit which we could use to further enhance tests on our engine implementation.

[2019-02-10 18:52] sksamuel opened #643 "Continually"
The dual of eventually.

You might want to confirm that a predicate holds for a period of time. For example, you may want to confirm that a producer continues to produce new elements for a period of time, or that a http connection stays open for a period of time.

[code]

[2019-02-10 18:53] sksamuel opened #644 "Fail build if ignored tests option"
We could add an option that fails a build if there are one or more ignored tests.
The idea is that a user sets tests to ignored locally while developing, but then forgot to turn them back to enabled before committing. This would catch that.
Of course, this is optional, the default behaviour is to allow ignored tests.

[2019-02-11 10:50] almozavr opened #645 "Tests are broken with Gradle 5+"
Android build with unit tests fails to run with following exceptions:
[code]
It seems to be very similar to this issue: https://github.com/gradle/gradle/issues/6453#issuecomment-415780499 Also this linked workaround helps (but useless in mid/big project).

Gradle `4.10.3` works flawlessly.

My failed env:
[code]

[2019-02-11 10:56] LeoColman commented on #645
I don't think there's too much we can do about it...

Gradle unfortunately have a lot of bugs that screw us :/

[2019-02-11 10:57] LeoColman commented on #645
The only alternative I see is for you to disable parallelism, as Gradle cannot run with more than 1 thread

[2019-02-11 10:58] LeoColman commented on #645
I'll try to take a look if this is an issue on our side

[2019-02-11 10:58] almozavr commented on #645
@Kerooker thanks for the feedback! Provided Gradle issue seems to be fixed and I wonder if there is new Gradle API for you to utilize 🤔

[2019-02-11 11:10] LeoColman commented on #645
As far as I remember, we don't really use Gradle's API. We use JUnit Platform, and gradle integrates with it. Maybe @sksamuel have some more info on this

[2019-02-11 11:11] LeoColman commented on #628
I think that with both Pull Requests being reviewed and approved, we're pretty much ready for this

[2019-02-11 11:25] sksamuel commented on #645
Yeah gradle integrates with Junit5 Platform (badly) and then things like KotlinTest and other test frameworks utilise Junit5 Platform.

If you want to parallelize the tests, have you tried the option from within KotlinTest itself, rather than from within Gradle ?

[2019-02-11 11:35] almozavr commented on #645
@sksamuel actually, I believe parallel test execution is by-default gradle feature, so we don't "use" any special setup to parallelized test runner. Our gradle file is very basic:
[code]
And `gradle.properies` (which I don't think take part in this issue):
[code]

The "helping" config is about to put `forkEvery=1` which so far as I know forks the whole process for every testing class (which makes

[2019-02-11 11:37] LeoColman commented on #645
I think what @sksamuel meant is that you can [configure parallelism within kotlintest](https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#parallelism)

[2019-02-11 11:53] almozavr commented on #645
@Kerooker thanks for the link. Unfortunately `parallelism` config doesn't give reasonable speed up with gradle's `forkEvery = 1`

[2019-02-11 13:35] #616 closed, assigned to LeoColman

[2019-02-12 10:30] sksamuel opened #649 "Fake/Sample/Test data generator"
What do you think about offering data generators?
A bit like:
https://github.com/moove-it/fakeit
https://github.com/DiUS/java-faker
@Kerooker

[2019-02-12 11:15] LeoColman commented on #649
I"m very for it!
I recently read [this article](https://blog.kotlin-academy.com/creating-a-random-instance-of-any-class-in-kotlin-b6168655b64a), and I was thinking of suggesting it this morning.

[2019-02-12 12:34] LeoColman commented on #645
I don't think we have too many options here then.
Gradle integrates badly with JUnit Platform, and I don't think there's anything we can do about it from our side :/

[2019-02-12 12:36] sksamuel commented on #649
We could use them with generators too.

[2019-02-12 12:38] almozavr commented on #645
Got it. Sad sad sad. Then close the issue on will. Anyway, thanks for all your feedback

[2019-02-12 12:39] LeoColman commented on #645
If you're willing to, give some love to our parallelism, maybe they'll work for you even if the suite is a little bit slower.

Maybe it has got faster since your last try, and may be able to compete with `forkEvery`

[2019-02-12 12:39] LeoColman commented on #645
Thanks for reporting this!

[2019-02-12 12:39] #645 closed, assigned to nobody

[2019-02-12 16:58] j-h-a opened #650 "Adding KotlinTest runner prevents tests from running"
In Android Studio, Adding this line:
`testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.2.1'`
to gradle prevents tests from being found in a suite.
Right clicking on the test module and choosing run comes back with "no tests were found".

Note: This also prevents any normal JUnit tests from running as well.

To reproduce, create a new empty project in Android Studio, using AndroidX. Add

[2019-02-12 19:31] LeoColman commented on #650
Perhaps a duplicate of https://github.com/kotlintest/kotlintest/issues/626 ?

[2019-02-12 22:20] sksamuel opened #651 "Remove old shouldBe methods"
For 3.3 are we removing the deprecated shouldBe methods that have been deprecated since 3.0 ?
@Kerooker

[2019-02-12 22:38] LeoColman commented on #651
Sure. I'll remove all deprecated matchers tomorrow.

[2019-02-13 10:40] j-h-a commented on #650
It looks like the same issue, yes, but it's not fixed. I always had both of those sections in my gradle file, as I started using KotlinTest after that PR was merged - so that update was the documentation I used.

I think it initially worked, but since the latest Gradle/Android Studio update it doesn't any more. I don't understand how gradle works yet as I'm very new to it, so I have no idea what's

[2019-02-13 12:59] LeoColman commented on #650
Just to eliminate the obvious, have you tried deleting all `build` and `out` folders?

If the tests are ran in individual files, are they running when you do `./gradlew clean test`?

[2019-02-13 13:23] j-h-a commented on #650
They seem to run from the command line, yes. Thanks for the obvious tips because I had no idea how to run it from gradle command line. Although there is no output, I had to go digging for the html report. However it still doesn't run from AndroidStudio.

I've only been doing Android for two weeks so like I said I have no idea where this issue lies. However I think that the kotlintest-runner is bei

[2019-02-13 14:42] LeoColman commented on #650
We had some problems with running suites a while back.

Personally, I usually execute a single class when I'm writing the test, and when building the APK I execute all the tests via `gradlew test`. I've had issues running the whole suite even when using JUnit. Android Studio/Android Development can be crappy sometimes.

I'd recommend you always run tests with gradle, and execute individual tests v

[2019-02-13 14:49] j-h-a commented on #650
Ok thanks. It sounds like this is an AndroidStudio issue then (maybe), although I was able to reliably trigger it by adding the `testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.2.1'` line, and make it work again by commenting out that line (The normal JUnit tests would run again).

[2019-02-13 14:59] LeoColman commented on #650
You have to just be careful, because I think that Android Instrumentation tests cannot run with JUnit 5.

[2019-02-13 15:36] BorzdeG opened #5555 "During querying provider Run line marker (class com.intellij.execution.lineMarker.RunLineMarkerProvider)"
plugin: 3.3.0.4
IntelliJ IDEA 2019.1 Snapshot (Ultimate Edition)
Build #IU-191.5109.14, built on February 6, 2019
JRE: 1.8.0_202-release-1483-b4 amd64

[code]

[2019-02-13 15:58] sksamuel commented on #5555
Which version of kotlintest ?

[2019-02-13 16:08] BorzdeG commented on #5555
`io.kotlintest`: `3.2.1`
`org.jetbrains.kotlin`: `1.3.21`
Project JDK: `oracle 8u201`

[2019-02-13 16:12] sksamuel commented on #5555
I'm not sure if this is causing your error, but you need to be on 3.3.0-snapshot to use the plugin.
https://oss.sonatype.org/content/repositories/snapshots/io/kotlintest/

[2019-02-13 16:12] sksamuel commented on #5555
But I think you error is just a parse issue. Can you show me the test that fails (I don't need what's inside the test method, just the "structure").

[2019-02-13 16:20] BorzdeG commented on #5555
init state:
[code]

The error appears at the time of entering the opening brace of the test

[2019-02-13 16:29] sksamuel commented on #5555
Ahh I see. You've started the lambda arg but not completed it, thus it's not available as a PsiElement. Ok I'll fix that.

[2019-02-13 16:30] sksamuel commented on #5555
Thanks for the feedback, btw, please feel free to keep testing the plugin, it's not "officially" released yet.
With 3.3.0.4 and 3.3.0-snapshot you should be able to run tests which are fully formed.

[2019-02-13 16:31] BorzdeG commented on #5555
Not necessary. You can not run the lambda - just click with the mouse after the closing parenthesis of the test so that the error reappears.

[2019-02-13 16:33] sksamuel commented on #5555
Ok, well should be fairly easily for me to reproduce after work and fix it.

[2019-02-13 21:11] sksamuel opened #654 "Migrate intellij plugin to new repo"
I will migrate the plugin code to a separate repo so we can have a separate lifecycle. We can release patches for the plugin independently of the library.

[2019-02-13 21:12] sksamuel commented on #5555
This is fixed in plugin release 3.3.0.5
Please try that once it's approved by Jetbrains.

[2019-02-13 21:37] #654 closed, assigned to sksamuel

[2019-02-13 21:39] sksamuel commented on #639
@Kerooker can you help with this as you're our android man :)

[2019-02-13 21:51] sksamuel commented on #628
Ok I believe the plugin is just about good to go, with some bugs to fix.
We can't do #612 you said, so lets have a quick look see what else we want to add in then we can release 3.3.0-RC1.

[2019-02-13 22:16] LeoColman commented on #628
Can't we just go ahead and release what's on master? We're just missing documentation now

[2019-02-13 22:21] #642 closed, assigned to sksamuel

[2019-02-13 22:21] #623 closed, assigned to LeoColman

[2019-02-13 22:21] #624 closed, assigned to nobody

[2019-02-13 22:22] #611 closed, assigned to nobody

[2019-02-13 22:22] sksamuel commented on #628
Can do, just seeing if there's any low hanging fruit we can add in a day.
Also, I need you (if you have time) to test the plugin with the remaining
specs then at least we can say it's good enough for a first release.
Basically, I just want to make sure I don't have to change kotlintest much
if there's a bug in the plugin.

On Wed, 13 Feb 2019 at 22:16, Leonardo Colman Lopes <
notifications@github.

[2019-02-13 22:23] sksamuel commented on #612
We should add the lambda version for now ?

[2019-02-13 22:33] #607 closed, assigned to nobody

[2019-02-13 23:15] sksamuel opened #656 "Disabled top level tests are not marked as ignored in JUnit"

[2019-02-14 06:55] sksamuel opened #657 "Matchers for java streams"

[2019-02-14 06:59] sksamuel opened #658 "Print types when equality fails but tostring is the same"

[2019-02-14 08:10] sksamuel commented on #5555
3.3.0.5 has now been approved.
@BorzdeG @bbaldino

[2019-02-14 08:19] #656 closed, assigned to sksamuel

[2019-02-14 08:20] sksamuel commented on #628
Ok just #512 to be approved and #612 to be implemented or dropped, then I think we're good to release RC1.

[2019-02-14 08:21] #658 closed, assigned to nobody

[2019-02-14 08:23] sksamuel commented on #628
I could sneak in #644 if you think it's a good feature while waiting on #184 to be tested.

[2019-02-14 09:35] BorzdeG commented on #5555
@sksamuel The error persisted. But now reproduced as follows:

Scenario 1:
1) Select all the code in the file
2) delete it

Scenario 2:
1) Create an empty file
2) insert the test code into it

In both scenarios, the code is analogous to the one above.
Video record?

[2019-02-14 09:40] sksamuel commented on #5555
Yes that would be great thanks.

On Thu, 14 Feb 2019 at 09:35, Victor Alenkov <notifications@github.com>
wrote:

[2019-02-14 09:51] BorzdeG commented on #5555
http://www.mediafire.com/file/f660d4y302rxpj3/simplescreenrecorder-2019-02-14_12.43.43.ogg/file

[2019-02-14 12:09] LeoColman commented on #650
I think that your issue is due to android studio integration with JUnit Platform. AFAIK there's none.

[2019-02-14 12:09] #650 closed, assigned to nobody

[2019-02-14 15:13] JustinTullgren opened #659 "FreeSpec Reporting Question"
Hi,

I have a question around FreeSpec reporting. I am only receiving the `should` message not the arbitrary nested strings in the gradle output and in intellij.

[code]

The report output is: `classname > should be ABC PASSED` and the same for the intellij reporter.

Is this expected?

Thanks!

[2019-02-14 16:55] sksamuel commented on #659
Gradle won't display nested tests in output because gradle support for JUnit5 is broken.
See https://github.com/gradle/gradle/issues/4252 and https://github.com/gradle/gradle/issues/4912
It will be fixed at some point.

If you run the tests directly in Intellij it should be fine. Eg,

![image](https://user-images.githubusercontent.com/743706/52803141-5662c380-3079-11e9-97c6-8770647c69ad.png)

![im

[2019-02-14 16:55] #659 closed, assigned to nobody

[2019-02-14 18:11] JustinTullgren commented on #659
Thanks!

[2019-02-14 18:12] sksamuel commented on #659
You're welcome.

[2019-02-15 14:56] #651 closed, assigned to LeoColman

[2019-02-16 20:06] #644 closed, assigned to sksamuel

[2019-02-16 20:06] sksamuel commented on #628
#644 is in

[2019-02-16 20:10] sksamuel commented on #589
I think work on this is similar to work we'll need to do for #598

[2019-02-16 20:11] sksamuel opened #661 "KotlinTest Roadmap 4.0"
Features and fixes for 4.0

**Rebrand**
- [x] - Update all docs to refer to new name
- [x] - Add typealias from io.kotlintest to io.kotest #1187
- [ ] - Blog / Article links for migration #1185
- [x] - Update logo #1171
- [ ] - Order stickers and distribute
- [x] - Update kotlin-awesome to point to new org #1185
- [x] - Transfer repo to new org.

**Docs**
- [ ] - Document usage for Kotlin/JVM in M

[2019-02-16 20:28] sksamuel commented on #5555
Fixed in 3.3.0.6.

[2019-02-16 20:28] #5555 closed, assigned to sksamuel

[2019-02-16 20:33] sksamuel opened #662 "Better toString with automatic support for Show for classes"
Possibly something along the lines of this:
https://github.com/npryce/hamkrest/blob/master/docs/describe.md
http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#custom-representation

We could use Show from Arrow.
https://arrow-kt.io/docs/apidocs/arrow-typeclasses/arrow.typeclasses/-show/index.html

[2019-02-16 20:40] sksamuel opened #663 "Matchers module for databases"
See https://github.com/joel-costigliola/assertj-db#readme

[2019-02-16 21:32] LeoColman commented on #663
I'm for it.

[2019-02-16 21:40] LeoColman commented on #641
Isn't this somewhat against testing? Doesn't this kinda throws on our face that the code is bugged if we need to use it?

[2019-02-16 22:52] sksamuel commented on #641
I suppose my idea was if you were doing some integration test against an
external service that wasn't always working 100%.

On Sat, 16 Feb 2019 at 21:40, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-16 22:55] LeoColman commented on #641
I see. I would usually mock the external service in this kind of scenario, and when it's supposed to fail I would mock the failure answer, and test for that.

But, I mean, this doesn't hurt anybody. The only thing I think should happen is that this parameter must be placed at the end, and not near `invocations`. Or else this may break some old builds that don't use this parameter and don't use nam

[2019-02-16 22:57] sksamuel commented on #641
I was thinking of deprecating invocations and replacing it with a function.
In other words moving the logic _out_ of the engine and into the test itself. There's actually no reason it needs to be in the engine.
[code]

And then we can combine `invocations`, `required`, `retry`, `threads` all into a single powerful command.

[code]

Or

[code]

[2019-02-16 22:58] LeoColman commented on #641
That seems cool!

Em sáb, 16 de fev de 2019 20:57, Stephen Samuel <notifications@github.com
escreveu:

[2019-02-16 23:11] sksamuel opened #664 "forAll and forNone matchers on collections"
We have forAll and forNone _inspectors_ but they're not as easily found as assertion methods.
Maybe it's worth having simple versions like this

`names.forNone(_.isEmpty())`
`users.forAll(_.isActive())`

[2019-02-16 23:12] sksamuel opened #665 "between matcher for dates"
`mydate.isBetween(date1, date2)`

[2019-02-16 23:14] LeoColman commented on #665
With this you mean Java's Date?

[2019-02-16 23:14] sksamuel commented on #665
Yes, LocalDate, Instant, etc

[2019-02-16 23:15] LeoColman commented on #664
I think we've had this discussion about having the same matchers twice in a way. We concluded it would be somewhat confusing.

But I rather have the syntax on the collection itself, rather than having the collection as the first argument

[2019-02-16 23:15] LeoColman commented on #665
Oh, ok. So not including the deprecated `java.util.Date`

[2019-02-16 23:16] sksamuel opened #666 "isInstanceOf matcher should allow lamba for further tests"

[2019-02-16 23:16] sksamuel commented on #665
No

[2019-02-16 23:17] sksamuel commented on #664
We should add extension methods for inspectors then.

[2019-02-16 23:18] LeoColman commented on #664
So we'll have both options referring to the same assertion?

I don't have any problems to that. Let me try to find our discussion on why we didn't like this possibility

[2019-02-16 23:19] sksamuel commented on #664
So,

this

`fun <T> forSome(array: Array<T>, f: (T) -> Unit) = ...`

can be

`fun Collection<T>.forSome(f: (T) -> Unit) = ...`

And we can also add

`fun Collection<T>.forSome(f: (T) -> Boolean) = ...`

Which is a simpler inline style that doesn't require further matchers.

[2019-02-16 23:20] LeoColman commented on #665
We should have a matcher

`beBetween` for all the types, and a `shouldBeBetween`/`shouldNotBeBetween` for all types aswell.

[2019-02-16 23:23] LeoColman commented on #665
Should we add a tolerance value?

[2019-02-16 23:23] sksamuel opened #667 "digest matchers"
`"some string".hasDigest("md5","dcb3015cd28447644c810af352832c19")`

`inputstream.hasDigest("md5","dcb3015cd28447644c810af352832c19")`

[2019-02-16 23:24] sksamuel commented on #665
don't need a tolerance on dates I don't think.

On Sat, 16 Feb 2019 at 23:23, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-16 23:24] sksamuel opened #668 "Comparator matchers"
We should support isLessThan, isGreaterThan on any type which supports comparable.

[2019-02-16 23:30] LeoColman commented on #665
If we don't add tolerance, the user will have some hassle when using things like `LocalDateTime.now()`, as this exact now may be a little bit different from the `now` in some time from here.

Are we ok with that?

[2019-02-16 23:47] sksamuel commented on #665
Well you can't really use now() for testing can you.
And if you have tolerance, how much tolerance? If it's a day your tests
will fail after a day. If it's a month they'll start failing after a month.
So it doesn't really work.

On Sat, 16 Feb 2019 at 23:30, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-16 23:54] LeoColman commented on #665
Sometimes you're testing thing likes

"And the creation date should be now", because inside that testing code you use `now()` and such. But I guess it doesn't make sense for `between`

[2019-02-17 00:10] sksamuel commented on #665
Yes I see. Maybe then it would be useful I agree, so we could add something
like that.

`date.isApprox(now())`

On Sat, 16 Feb 2019 at 23:54, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-18 08:43] xcq1 opened #5554 "Running single test runs all tests in class"
Hi there, thanks for this plugin, I think it's a really great idea because it eases migration and allows for easier debugging.

However I just installed 3.3.0.6 in IntelliJ Build #IU-182.4892.20 and if I launch a single test context via the new run icons at the side it always launches all the tests of the StringSpec class, not only the one I clicked.

[2019-02-18 08:44] sksamuel commented on #5554
Ok. Which version of kotlin test itself ?

On Mon, 18 Feb 2019, 08:43 xcq1 <notifications@github.com wrote:

[2019-02-18 12:29] sksamuel opened #680 "Add support for PiTest"
There is a PiTest plugin for JUnit5.

@boazy has created a PR to add support for dynamic tests to this plugin, so it would work for KotlinTest (and I guess other frameworks liek it). In the absence of this PR being merged (or maybe even if it is), is it worth adding PiTest support as a KotlinTest extension.

https://github.com/pitest/pitest-junit5-plugin/pull/22

[2019-02-18 12:36] sksamuel opened #681 "Split out assertions into separate project"
Let's discuss taking the KotlinTest assertions and making it a separate project - KotlinAssertions or something.

Pros:
 - Some people are under the mistaken impression the assertions are part of the test framework so maybe don't use them but they'd like to (understandable, it's not particularly clear they are stand alone)
- I believe KotlinTest assertions are the best available, and so this means

[2019-02-18 13:36] LeoColman commented on #681
We could separate it for code, documentation and issues separation

However, we may still keep it very referenced in KotlinTest's documentation, and keep it as a dependency.

This way, KotlinTest will still depend and provide KotlinTest-Assertions, but the opposite won't be true. What do you think?

[2019-02-18 13:36] LeoColman opened #682 "Add documentation for SystemEnvironment Extension"

[2019-02-18 13:36] LeoColman opened #683 "Add documentation for Security Manager extension"

[2019-02-18 13:39] dave08 commented on #681
Why not have one artifact with matchers and one without? I found advantages in KotlinTest over others even without the matchers.

[2019-02-18 13:50] LeoColman commented on #681
I think that the point is that we want to centralize everything the developer needs to test Kotlin code within KotlinTest, and not having to mess with a shitload of dependencies

[2019-02-18 13:54] dave08 commented on #681
I meant (without matchers):
`testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.2.1'`

or (for kotlintest with matchers):

`testImplementation 'io.kotlintest:kotlintest-matchers-runner-junit5:3.2.1'`

or maybe the opposite (with matchers default, without explicit in the artifact name).

[2019-02-18 17:27] sksamuel commented on #681
So KotlinTest will always ship with the assertions because they are
lightweight and because some parts of KotlinTest integrate nicely with them
- like global soft assertions.
But this ticket is really about - should we make the assertions more
_visible_ as a separate project - KotlinTestAssertions / KotlinAssertons /
assertions4k / whatever name you like here.

On Mon, 18 Feb 2019 at 13:54, dave08

[2019-02-18 17:28] LeoColman commented on #681
I think KotlinTestAssertions is better. let's link both artifacts, eventhough they're separate.

They're only independent, but part of a bigger framework, that is KotlinTest itself

[2019-02-18 17:36] sksamuel commented on #681
My vote is for KotlinAssertions as it's simpler and clear you don't need
KotlinTest.
But I will go with the consensus.
(We haven't even reached a decision on whether we will actually split them
up or not yet).

On Mon, 18 Feb 2019 at 17:28, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-18 17:41] LeoColman commented on #681
I am for splitting them up, but keeping the runners depending on them.

You can use Assertions by itself, but you get them with the runners aswell

[2019-02-18 17:59] sksamuel commented on #681
I'd like to see feedback from a number of people before we decide.

[2019-02-18 17:59] xcq1 commented on #5554
I originally had the problem with 3.1.11, but updating to 3.2.1 does not help either.

[2019-02-18 18:04] sksamuel commented on #5554
The plugin is only compatible with 3.3.0+
Try 3.3.0-RC2 but for that you will need 3.3.0.7 which is pending update.

[2019-02-18 18:16] xcq1 commented on #5554
Well sorry, I didn't realize the project is still that cutting edge.
I'll retry once I get 3.3.0.7. Maybe it would help to have a compatible version number in the Readme.

[2019-02-18 18:36] dave08 commented on #681
The only thing is that those using other matcher frameworks or with very simple matching requirements will have their top level  intellij autocomplete with tons of functions that they are not using.

That was what first made me choose Spek, I was already used to Hamkrest and the like... By imposing the matchers and "polluting" the top level scope with functions, I had a very hard time switching to

[2019-02-18 20:11] leoxs22 commented on #628
Hey! I've been trying the new release to see if it's everything OK.

Not sure if this has something to do with this release, but when using the 3.3.0-RC2 version, I get this error:

`java.lang.UnsupportedClassVersionError: org/junit/jupiter/api/condition/EnabledIfSystemProperty has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtim

[2019-02-18 20:15] sksamuel commented on #628
Seems to be like the upgrade to JUnit Platform 1.4 has caused this. I guess they've compiled it with Java 11 and your runtime doesn't understand that.

I think we should downgrade to 1.3 like before - I didn't realize JUnit 1.4 was using JDK11.

@Kerooker thoughts?

[2019-02-18 20:18] sksamuel commented on #628
Actually I think it's because *I* have compiled this with JDK11.
So I just need to re-release but make sure it compiles against JDK8.

[2019-02-18 20:21] sksamuel commented on #628
It seems it only affect Java files (which that one is).

[code]

[code]

[2019-02-18 20:23] sksamuel opened #685 "Java files compiled with version 55"
Hey! I've been trying the new release to see if it's everything OK.

Not sure if this has something to do with this release, but when using the 3.3.0-RC2 version, I get this error:

`java.lang.UnsupportedClassVersionError: org/junit/jupiter/api/condition/EnabledIfSystemProperty has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtim

[2019-02-18 20:28] sksamuel commented on #681
That's a fair point @dave08.
It's no real hardship to add two dependencies rather than one.
But that being said, there are features in KotlinTest which build on the assertions support.

[2019-02-18 20:30] leoxs22 commented on #685
Maybe it's related to this answer?

https://stackoverflow.com/a/44263437

It says that the target and source tags should be inside a compileJava block, and not in the root

[2019-02-18 20:31] sksamuel commented on #685
I've got it to work by adding the same flags to the java submodule.

[2019-02-18 20:33] sksamuel commented on #685
I've released 3.3.0-RC3. Please give that a go and let me know (it will take 10 minutes to appear on maven central).

[2019-02-18 20:33] #685 closed, assigned to sksamuel

[2019-02-18 20:41] sksamuel commented on #5554
Yes it should be clearer. I'll add to the readme and the plugin docs.
It's a bit "ad hoc" until 3.3.0 is released and then they'll sync up nicely.

[2019-02-18 20:53] leoxs22 commented on #628
Working perfectly now, thanks @sksamuel !

[2019-02-18 21:01] sksamuel commented on #628
Great

[2019-02-18 23:49] #680 closed, assigned to nobody

[2019-02-19 11:02] xcq1 commented on #5554
I have now updated to:
- IntelliJ #IU-183.5429.30
- Plugin 3.3.0.7
- `testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.3.0-RC2'`
but I still have the same issue.
Do I maybe need another dependency?

[2019-02-20 12:55] sksamuel opened #5553 "KotlinTest run configuration not detected"
Sure, the run configuration (this is used regardless of which green arrow I click):

![idea64_2019-02-20_12-39-08](https://user-images.githubusercontent.com/1588951/53092489-d58a4880-350c-11e9-8db5-4a2663eea7f1.png)

And here's the test output pane:

![idea64_2019-02-20_12-40-40](https://user-images.githubusercontent.com/1588951/53092498-d7540c00-350c-11e9-9d5c-a75756df262f.png)

Here's the releva

[2019-02-20 12:56] sksamuel commented on #5554
I believe this is the same issue as in kotest/kotest#5553

[2019-02-20 12:58] sksamuel commented on #5553
For me, the icons appear like this:

![image](https://user-images.githubusercontent.com/743706/53093355-18e5b680-350f-11e9-89ef-7d4b3bd5374c.png)

Then when you run a test, you should get a KotlinTest based run configuration like this:

![image](https://user-images.githubusercontent.com/743706/53093369-2602a580-350f-11e9-90c7-3f0d955238a5.png)

If you do not have the KotlinTest logo in the run con

[2019-02-20 12:59] sksamuel commented on #5553
@tagc @xcq1

[2019-02-20 13:12] TAGC commented on #5553
Ah yeah, that's probably it. I had a JUnit configuration instead of a KotlinTest configuration. I'm getting some errors trying to run tests using the KotlinTest configuration but I'll try to get that fixed after lunch. I'll expect it'll work then.

[2019-02-20 13:27] sksamuel commented on #5553
It should have created the KT one automatically.

On Wed, 20 Feb 2019, 13:12 David <notifications@github.com wrote:

[2019-02-20 13:34] TAGC commented on #5553
Yeah it did after I removed the JUnit config, it looks like this:

![idea64_2019-02-20_13-33-58](https://user-images.githubusercontent.com/1588951/53095234-2f424100-3514-11e9-9f5c-bbc289076d62.png)

 Just that when I run it, I get this error:

[code]

Probably something weird with my setup, I'll look into it.

[2019-02-20 13:37] sksamuel commented on #5553
It'll be because you're on kotlintest 3.2.x
The plugin is only compatible with 3.3.0+ (which is in RC)
Try 3.3.0-RC3

On Wed, 20 Feb 2019 at 13:34, David <notifications@github.com> wrote:

[2019-02-20 13:47] TAGC commented on #5553
Hm, bumped to 3.3.0-RC, it doesn't give me errors now but it's not seemingly running any tests.

For example, when running an individual test case (like shown below, and using the run config shown above):

![idea64_2019-02-20_13-46-04](https://user-images.githubusercontent.com/1588951/53095917-dd021f80-3515-11e9-9b63-a22d763684dd.png)

I get this output:

[code]

And this is what the test results

[2019-02-20 14:24] sksamuel commented on #5553
Click the "show tests" icon top left in that picture.

On Wed, 20 Feb 2019 at 13:47, David <notifications@github.com> wrote:

[2019-02-20 14:33] TAGC commented on #5553
![idea64_2019-02-20_14-33-40](https://user-images.githubusercontent.com/1588951/53098876-81876000-351c-11e9-85d3-fc8c896aa11f.png)

[2019-02-20 14:46] sksamuel commented on #5553
better ?

On Wed, 20 Feb 2019 at 14:33, David <notifications@github.com> wrote:

[2019-02-20 15:08] TAGC commented on #5553
No I mean, it's still not actually running any tests. I still get the same output in the run dialog.

[2019-02-20 15:16] xcq1 commented on #5554
Yes, you're right. I tested first to run the entire class which led to the issue. If I go in and manually delete the JUnit launch config it uses the correct one. I don't think this is very intuitive though, because as soon as I run the entire class as JUnit, it always wins against the kotlintest run config.

By chance I have found another issue: If there are two test cases where one name is contai

[2019-02-20 15:24] sksamuel commented on #5554
Please do. I appreciate the feedback.

On Wed, 20 Feb 2019 at 15:16, xcq1 <notifications@github.com> wrote:

[2019-02-20 15:35] xcq1 opened #5552 "Running one test case runs multiple tests with similar name"
Consider the following example:
[code]
Clicking on "Test case" works fine and only launches the first test:
![image](https://user-images.githubusercontent.com/789282/53103201-72f57480-352d-11e9-90d9-f8a329b32f2e.png)

If I click on the run icon next to "Test case two", it actually launches these:
![image](https://user-images.githubusercontent.com/789282/53103129-4e999800-352d-11e9-8f7b-2e4fef3c098

[2019-02-20 15:45] sksamuel commented on #5552
I know why it's doing it, I'll have to be cleverer in my logic :)
Good spot and thank you for creating the issue.

On Wed, 20 Feb 2019 at 15:35, xcq1 <notifications@github.com> wrote:

[2019-02-20 17:03] almozavr commented on #645
Guys, don't know what you've done, but `3.3.0-RC3` works great with gradle `5.2.1` 🥇

[2019-02-20 17:40] sksamuel commented on #645
I upgraded the main build to gradle 5, so getting it to work with that must
have fixed it for you too :)

On Wed, 20 Feb 2019 at 17:03, Oleksii Malovanyi <notifications@github.com>
wrote:

[2019-02-21 06:59] boazy commented on #680
Thanks for directly addressing this issue! :+1:

I will keep the original PR for now in case other dynamic test frameworks need it.

[2019-02-21 15:01] #682 closed, assigned to LeoColman

[2019-02-21 15:01] #683 closed, assigned to LeoColman

[2019-02-21 15:09] LeoColman opened #689 "Constant `now` listeners"
All the time pieces of code use `LocalDateTime.now()` or `LocalDate.now()` in their execution.

This is sometimes an issue, because you can't exactly test that it was actually `now`. For example:

[code]

This kind of code obviously fails, because calling `now` a second time will recalculate it with different milliseconds.

KotlinTest should have a Listener/Extension that allows this kind of testi

[2019-02-21 15:19] LeoColman commented on #689
@sksamuel
There's a small catch with this guy tho...

Should we use `Mockk` for it? It has a nice feature to mock static functions, and I think this is kinda what we need.

[2019-02-21 15:42] LeoColman commented on #689
We can also use things like AspectJ

[2019-02-21 18:55] bbaldino commented on #5553
@sksamuel is there a way to get the kotlintest config type when creating a new test in intellij?  I can create a kotlintest config manually, but it doesn't show up in the prompt when creating a new test:

![image](https://user-images.githubusercontent.com/4016469/53194004-3f672880-35c7-11e9-9bdc-9e280ed9e294.png)

[2019-02-21 19:40] sksamuel commented on #5553
Nope, and it doesn't seem Jetbrains are interested in adding support.
See https://youtrack.jetbrains.com/issue/KT-19984
and
https://youtrack.jetbrains.com/issue/KT-18204

[2019-02-21 20:45] sksamuel opened #691 "new extension - algo benchmark"
Would be nice to say something like

[code]

[code]

[2019-02-22 04:51] sksamuel opened #692 "FixtureSpec"
I see that in some test frameworks they like to create a _fixture_ and then refer to that in their tests.

First question - is there any fundamental difference between this:

[code]

and this:

[code]

Or is it just a case of people don't know the latter exists and / or they prefer the syntax of the former ?

Secondly, is it worth adding this support into a `FixtureSpec` whereby the final test sco

[2019-02-22 05:50] sksamuel commented on #598
Ok dudes this is a potential implementation of composability / dynamic tests.
All code is on this branch:
https://github.com/kotlintest/kotlintest/tree/feature/compose

First, I've added a class hierarchy that we want to test. Just a pretend collections library called Kollections (see what I did there).

`interface Kollection<T>` and two implementations - `KStack<T>` and `KQueue<T>`. These just de

[2019-02-22 07:51] sksamuel commented on #5552
I believe this is fixed in my local code, but it will require another KT release and then a plugin release.

[2019-02-22 08:55] mindhaq commented on #685
For me, this solved the problem.

[2019-02-22 14:49] LeoColman commented on #598
I dislike `from`. I think that perhaps it would be better to add the test as a member function of Spec, so

[code]

[2019-02-22 14:49] LeoColman commented on #598
(i don't like the name inheritedTests too, but my point is that I think it's better to have it outside of `init`)

[2019-02-22 14:51] LeoColman commented on #598
About the test factory, maybe we could have something similar to

[code]

[2019-02-22 16:13] sksamuel commented on #598
If you make TestFactory a supertype you extend from, then you force people to put tests inside a class. My way it's just a function that can be located anywhere.

The reason for having from() is that you can nest it within other scopes if you want and you can have more than one in a single test class.

[2019-02-22 16:16] LeoColman commented on #598
You can use an object declaration that can also be located anywhere. But perhaps the function can still contain a <T> and use it, maybe inline/reified

[2019-02-22 16:21] sksamuel commented on #598
Yes that's true. But then what's wrong with the syntax I proposed?
As for "from" I'm open to changing it as per feedback. So far it's just me and you lets see if others have opinions too.

[2019-02-22 16:27] LeoColman commented on #598
Then nothing is wrong. I didn't dislike the syntax for the TestFactory, I just wanted to propose a way to do it for all Specs. Perhaps suggesting a class gave you the impression I didn't like a function

[2019-02-22 16:35] sksamuel commented on #598
Oh ok I see.

We could have WordSpecTestFactory .. and so on.
Or we could use a single TestFactory and it _inserts_ the tests into wherever you place `from` (or call it something else).

Eg,

[code]

Then it inserts them into that scope. Each spec knows how to handle "from" (or whatever its called).

[2019-02-22 16:50] #689 closed, assigned to LeoColman

[2019-02-22 17:07] LeoColman commented on #639
I'm not sure if I can help with this.

I used to have this kind of warn even without KotlinTest, another lib would introduce it.

I usually just ignore it :P

But, the issue here is that Android uses `LogCat` by default, and I don't think SLF4J integrates with it. For this, you would have to add some implementation compatible with SLF4J for your unit tests.

https://stackoverflow.com/questions/742

[2019-02-22 17:46] danwallach commented on #598
A quick side-look at JUnit5 might be relevant here. You can declare an individual test:
[code]
Or you can declare a `TestFactory` that returns any `Iterable<DynamicTest>`:
[code]
You should probably come up types similar to `DynamicTest` and `TestFactory`. So, when I use your proposed `TestFactory { ... test(name) { body } ... }` syntax, that should probably return something of type `Iterable<Dyna

[2019-02-22 17:49] LeoColman commented on #692
I have no idea why a Fixture is needed if you can do the second option

[2019-02-22 18:34] sksamuel commented on #598
@danwallach
do you think its better to return a list of some test type, rather than say
what I did, where you just build the tests up inside a function?

On Fri, 22 Feb 2019 at 17:46, Dan Wallach <notifications@github.com> wrote:

[2019-02-22 19:45] danwallach commented on #598
I'd suggest that the builder DSL you've invented should return `Iterable<DynamicTest>` or equivalent. And then you need someplace where you can cause one of those iterables to be evaluated.

[2019-02-22 19:58] LeoColman commented on #598
I particularly think that JUnit5's syntax is a little bit verbose

[2019-02-22 20:58] danwallach commented on #598
JUnit has to suffer from dealing with the general verbosity of Java. I'm not going to defend their syntax, just the high-level idea. The `TestFactory` DSL you're proposing looks a bit like syntactic sugar for the JUnit5 `List.of(...)` construction above, which is great. My recommendation, for what it's worth, is to create an analogous concept to `DynamicTest` (i.e., a tuple of a name and a lambda

[2019-02-23 20:40] sksamuel commented on #598
Isn't that exactly what I've done in the code I've shown ?

The `test` method inside the `TestFactory` creates a `DynamicTest` instance. These are added to an internal list in the test factory. Call `test` as often as you like with a different name and lambda. Then this factory instance can be added to any spec you want.

[2019-02-23 21:13] danwallach commented on #598
My only recommendation is that your `TestFactory` have some sort of `getTests()` method that returns the internal list, or maybe just have `TestFactory` be a typealias for `List<Something>`. Make it easy to go back and forth between lists of tests and test factories.

As to the specific `from(TestFactory)` syntax, I'd encourage you to flip it around so it's a method on the test factory.

[2019-02-24 03:33] dave08 commented on #692
In Spek, they required this (memoized) because they have a scanning step before the actual run. The value of such a construct in KotlinTest would be the fixture scope, meaning when the fixtures need to be recreated or cleared (in the case of mocks). In a sense, the IsolationMode does this, but it requires a new test class instance, whereas fixture recreation/reset might be more efficient.

That sa

[2019-02-24 03:47] LeoColman commented on #665
Closed as per #694

[2019-02-24 03:47] #665 closed, assigned to nobody

[2019-02-25 07:48] sksamuel commented on #598
The TestFactory can easily expose as a list.
I can't flip the syntax around for `from` because each spec needs to know how to add the tests its in own "style".

[2019-02-25 07:51] sksamuel commented on #5552
This should be fixed in 3.3.0.8 (waiting on jetbrains to approve).

On Wed, 20 Feb 2019 at 15:45, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-02-25 12:19] LeoColman commented on #598
I think we can add a generic to that

[2019-02-25 15:18] LeoColman commented on #668
What should we do about comparables that already have those functions? For example Double, Int, Long...

[2019-02-25 15:27] LeoColman commented on #668
Leaving the overload is bad because it causes confusion. The comparison is exactly the same, not even the message will change

[2019-02-25 17:20] sksamuel commented on #692
So it sounds like fixtures exist because other frameworks don't do the clever trickery that kotlintest does with it's isolation modes.

[2019-02-25 18:04] #666 closed, assigned to LeoColman

[2019-02-25 18:08] dave08 commented on #692
Partially right @sksamuel, since if there's too much fixture code in the test it could quickly get very messy, so having some kind of fixture support that could be plugged in to the different test levels, might be useful. Maybe an extension of listener that can return an object graph that's used in the test? (Using by and delegates according to prop names might be a plus...)

I didn't think it thr

[2019-02-26 12:10] xcq1 commented on #5552
Can confirm it works for me :)

[2019-02-26 12:10] #5552 closed, assigned to sksamuel

[2019-02-26 12:24] sksamuel commented on #5552
Cool. 3.3.0.9 will be significantly better too with auto test creation.

[2019-02-26 12:34] xcq1 opened #5551 "Exception when running specifically named tests in DescribeSpec"
If I try to run the `describe` or the `it` of a DescribeSpec I'm getting a weird exception:
[code]

I narrowed it down to the naming of the test case and came up with this rather odd minimal example:
[code]
As soon as I change the strings a little, it does work. Does not seem to be related to caching either as I can paste this in a brand new project and the same exception occurs.

Plugin: 3.3.0.8

[2019-02-26 12:51] xcq1 opened #5550 "Support "Jump to Source" on test executions"
I have a feature request, not only from myself but also from a co-worker who tried kotlintest for the first time and had one major complaint:

For someone who's quite used to navigating tests from the "Run Test View" it is quite irritating that the kotlintest test executions do not support the "Jump to Source"/"Show Source" on double click or from the context menu:
![image](https://user-images.git

[2019-02-26 13:09] sksamuel commented on #5551
I think it's a known bug for describe and expect (in that I forgot to
implement those two).
Fix coming in 3.3.0.9

On Tue, 26 Feb 2019 at 12:34, xcq1 <notifications@github.com> wrote:

[2019-02-26 15:40] sksamuel opened #696 "Extend FunSpec to allows contexts"
What about adding in optional `context("test name") {}` blocks into fun spec ?

[2019-02-27 00:55] sksamuel opened #697 "Prepare Changelog for 3.3"

[2019-02-27 00:57] LeoColman commented on #697
Are we only releasing what was on the roadmap, or whatever was merged and isn't risky (don't think there's anything risky)?

[2019-02-27 01:08] sksamuel commented on #697
The latter is fine, but I think everything merged is on the roadmap (at least I've tried to update it as new features arrived). If there's something missing we can add it.

[2019-02-27 03:15] LeoColman commented on #696
I don't see any negative point in that

[2019-02-27 18:46] LeoColman commented on #664
I was looking at this, because I'm implementing them... I see that perhaps we already have the implementation?

https://github.com/kotlintest/kotlintest/blob/master/kotlintest-assertions/src/main/kotlin/io/kotlintest/inspectors/Inspectors.kt

It doesn't include boolean, but the rest is included. Is this correct?

[2019-02-27 19:35] sksamuel commented on #696
Let's sneak this in 3.3

[2019-02-27 19:59] sksamuel opened #698 "Extract invocations/threads out to the library level and add support for retry and min required passes"
I was thinking of deprecating invocations and replacing it with a function.

In other words moving the logic _out_ of the engine and into the test itself. There's actually no reason it needs to be in the engine.

[code]

And then we can combine `invocations`, `required`, `retry`, `threads` all into a single powerful command.

[code]

Or

[code]

The open question is, will this play nicely with iso

[2019-02-27 19:59] #641 closed, assigned to nobody

[2019-02-27 22:22] LeoColman opened #699 "Feature spec not enabling focus"
When trying to use FeatureSpec, it's impossible to focus a test.

This is likely due to the way we setup the test code:

```addTestCase(createTestName("Feature: ", name)```

we don't allow for F: to be placed before Feature

[2019-02-27 22:27] sksamuel commented on #699
Good spot. We need to detect the F: and move it before the Feature.
Same for !
And same for every spec that has a prefix!

[2019-02-27 22:30] LeoColman commented on #699
I think that for Bang we already do this

[2019-02-27 22:33] LeoColman commented on #699
Fixing really soon.

[2019-02-27 23:24] #699 closed, assigned to LeoColman

[2019-02-28 00:21] sksamuel commented on #664
Oh yes seems we do :+1:

[2019-02-28 01:06] #696 closed, assigned to nobody

[2019-02-28 02:39] sksamuel commented on #5553
@bbaldino this should be present in 3.3.0.9 pending update.

[2019-02-28 09:47] sksamuel opened #701 "Generators for arrow types"
Such as Either and Option and Try.

[2019-02-28 12:46] elect86 commented on #645
I also had the same issue after jumping from Gradle 5.0 to 5.2.1

Fixed with the workaround

[code]

[2019-02-28 13:24] LeoColman opened #702 "Extension for mutation testing"
http://pitest.org/

Mutation testing is a rising testing methodology, and is supported by the library PiTest.

We should include an extension to enable mutant testing

[2019-02-28 14:17] sksamuel commented on #702
Like this ?
https://github.com/kotlintest/kotlintest/tree/master/kotlintest-plugins/kotlintest-plugins-pitest

[2019-02-28 14:18] LeoColman commented on #702
Oh lol.

Yes, I think exactly like this. Oops.

[2019-02-28 14:18] #702 closed, assigned to nobody

[2019-02-28 14:19] sksamuel commented on #702
It definitely needs a blog post writing about it though !
And adding to the 3.3 changelog #697

[2019-02-28 15:04] LeoColman commented on #702
Is it documented anywhere?

[2019-02-28 15:12] LeoColman commented on #702
I don't think it is. Might be important to know how to use it

[2019-02-28 15:28] BorzdeG opened #5549 "Plugin 'com.intellij.ideolog' failed to initialize and will be disabled"
https://github.com/JetBrains/ideolog/issues/50

IDEA:
[code]

kotlintest plugin: [3.3.0.9](https://github.com/kotlintest/kotlintest-intellij-plugin)
ideolog plugin: 191.0.7.0

[code]

[2019-02-28 15:49] sksamuel commented on #702
Do you want to do that or me ?

[2019-02-28 16:17] LeoColman commented on #702
I think it's better if you do it.

I have no idea how Pitest work, nor how KT integrated with it (I didn't even know we had lol)

[2019-02-28 16:21] sksamuel commented on #702
I just did it one day last week. Never used PiTest myself but the
integration was easy.

On Thu, 28 Feb 2019 at 16:17, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-02-28 17:07] breandan commented on #5549
Also encountered this error on `3.3.0.9`, but unrelated to ideolog.

[code]

[2019-02-28 17:11] sksamuel commented on #5549
Yep, thanks for the bug report.
I know the error and will be fixing it tonight.
Expect 3.3.0.10 overnight.

On Thu, 28 Feb 2019 at 17:07, breandan <notifications@github.com> wrote:

[2019-02-28 17:17] breandan opened #5548 "Exception in thread "main" java.lang.NoSuchMethodError"
Running a test via the sidebar icon results in the following error:

[code]

KotlinTest plugin version: 3.3.0.9
IntelliJ IDEA version:

[code]

[2019-02-28 17:23] sksamuel commented on #5548
What version of KotlinTest ?

On Thu, 28 Feb 2019 at 17:17, breandan <notifications@github.com> wrote:

[2019-02-28 17:41] breandan commented on #5548
3.2.1

[2019-02-28 17:43] sksamuel commented on #5548
You need the latest 3.3.0 for the intellij plugin to work.
https://oss.sonatype.org/content/repositories/snapshots/io/kotlintest/kotlintest-runner-jvm/
You'll need that repo adding to your build as well.

This is just while the plugin is in beta.

On Thu, 28 Feb 2019 at 17:41, breandan <notifications@github.com> wrote:

[2019-02-28 18:27] #667 closed, assigned to nobody

[2019-02-28 18:27] #643 closed, assigned to nobody

[2019-02-28 19:06] bbaldino commented on #5553
I get an error with 3.3.0.9:
[code]

[2019-02-28 20:33] sksamuel commented on #5553
That's a duplicate of kotest/kotest#5549

On Thu, 28 Feb 2019 at 19:06, bbaldino <notifications@github.com> wrote:

[2019-03-01 00:16] sksamuel commented on #628
3.3.0 has been released.

[2019-03-01 00:16] #628 closed, assigned to sksamuel, LeoColman

[2019-03-01 01:07] #697 closed, assigned to nobody

[2019-03-01 01:21] sksamuel commented on #5553
3.3.0.10 is now released compiled against KotlinTest 3.3.0
Please make sure you have upgraded both and you should be good to go!

[2019-03-01 01:21] #5553 closed, assigned to nobody

[2019-03-01 01:22] sksamuel commented on #5550
This is now present as per 3.3.0.10 plugin update.

[2019-03-01 01:23] sksamuel commented on #5554
3.3.0.10 is now released compiled against KotlinTest 3.3.0
Please make sure you have upgraded both and you should be good to go!
(It might take a day before Jetbrains approve the plugin release)

[2019-03-01 01:23] #5554 closed, assigned to nobody

[2019-03-01 01:23] sksamuel commented on #5549
3.3.0.10 is now released compiled against KotlinTest 3.3.0
Please make sure you have upgraded both and you should be good to go!
(It might take a day before Jetbrains approve the plugin release)

[2019-03-01 01:23] #5549 closed, assigned to nobody

[2019-03-01 01:23] sksamuel commented on #5548
3.3.0.10 is now released compiled against KotlinTest 3.3.0
This is the first "release" version of both.
Please make sure you have upgraded both and you should be good to go!
(It might take a day before Jetbrains approve the plugin release)

[2019-03-01 01:23] #5548 closed, assigned to nobody

[2019-03-01 01:24] sksamuel commented on #5551
3.3.0.10 is now released compiled against KotlinTest 3.3.0
This is the first "release" version of both.
Please make sure you have upgraded both and you should be good to go!
(It might take a day before Jetbrains approve the plugin release)

[2019-03-01 01:24] #5551 closed, assigned to nobody

[2019-03-01 01:24] sksamuel commented on #5550
3.3.0.10 is now released compiled against KotlinTest 3.3.0
This is the first "release" version of both.
Please make sure you have upgraded both and you should be good to go!
(It might take a day before Jetbrains approve the plugin release)

[2019-03-01 01:24] #5550 closed, assigned to nobody

[2019-03-01 01:32] sksamuel opened #704 "Add shouldBeNaN / shouldBePositiveInfinity matcher and so on"
someDouble.shouldBeNan()
someDouble.shouldNotBeNan()
someDouble.shouldBePositiveInfinity()
... you get the idea

[2019-03-01 01:35] sksamuel commented on #698
Related to #523

[2019-03-01 09:30] sschuberth opened #705 "IntelliJ plugin throws PluginException"
Directly after installing and restarting IntelliJ IDEA Ultimate I get:

[code]

[2019-03-01 09:58] sksamuel commented on #705
It's fixed in 3.3.0.10 just waiting on jetbrains to approve.

On Fri, 1 Mar 2019, 09:31 Sebastian Schuberth, <notifications@github.com>
wrote:

[2019-03-01 10:08] sschuberth commented on #705
Great, I'll be watching this page: https://plugins.jetbrains.com/plugin/11585-kotlintest

[2019-03-01 11:06] sksamuel opened #706 "Multi line diff min line config option"
You can turn multi line off, but it doesn't activate until 50 lines or more.
I'd like to be able to control that via config or sys prop.

[2019-03-01 14:14] sschuberth commented on #705
Version 3.3.0.10 of the plugin was released and I don't see the issue anymore!

[2019-03-01 14:14] #705 closed, assigned to nobody

[2019-03-01 22:00] bbaldino commented on #5553
Amazing...awesome work!

[2019-03-02 07:16] xcq1 commented on #5554
Looks awesome, thank you

[2019-03-02 07:22] xcq1 commented on #5550
Yay for the quick implementation!
However I was not entirely precise enough; if you run "Jump to source" on a method:
- kotlintest now jumps to the correct file. 👍
- JUnit jumps not only to the correct file, but also positions the cursor on the method/test case definition (a great relief in test files with 500+ lines)

Can this be done as well?

[2019-03-02 10:46] PCasafont opened #707 "Data Driven tests don't work with coroutines"
As of 3.3.0, when trying to use `forAll(table, fn)` in Spec coroutine scope it will not compile as there are no suspend versions of the data driven utility functions.

[2019-03-02 14:39] sksamuel commented on #5550
I've add this as well now. You can build from source and install the built jar directly (easy enough to do in plugins -> cog -> install from disk) or you can wait for 3.3.0.11 which will be early next week.

[2019-03-02 15:33] xcq1 commented on #5550
Very nice. :)
I can hardly wait, so thanks for the hint. But when I try to run a test with the built jar I keep getting "Error running 'XYTest': io/kotlintest/runner/console/KotlinTestConsoleRunner" without any further info. Guess I'll just have to be patient.

[2019-03-02 15:51] sksamuel commented on #5550
You have to use the gradle task called buildPlugin not just build, so you
if run that you will get a zip in distributions. That's what you install.

On Sat, 2 Mar 2019 at 15:33, xcq1 <notifications@github.com> wrote:

[2019-03-02 16:11] xcq1 commented on #5550
Ah thanks, it's always the dumbest mistakes.
The fix works great.

[2019-03-02 16:15] sksamuel commented on #5550
Great.

[2019-03-02 22:36] LeoColman commented on #707
Can you show us an example of a code that should compile?

[2019-03-03 06:14] sksamuel opened #708 "Standard out and standard err wire listeners"
Allow users to test what is written to std err and out by teeing the data.
My particular use case is to test the KotlinTest Console printer.

[2019-03-03 07:32] #708 closed, assigned to sksamuel

[2019-03-03 09:09] #664 closed, assigned to nobody

[2019-03-03 16:57] sksamuel opened #709 "Further enhance Arrow matchers"
Datatypes without matchers:

Id
Ior
Sum
...

[2019-03-04 14:36] PCasafont commented on #707
My apologies. I am using FreeSpec and trying to add child specs inside a forall which exists within a parent spec. Example:

[code]

[2019-03-04 14:36] ThanksForAllTheFish opened #710 "`config(threads=1)` seems to have no impact on `beforeSpec`"
I have a library storing information in a thread local variable and when upgrading from version `3.1.11` to version `3.3.0` I found out my integration test with such library broke. I was able to recreate the issue in a smaller sample here: https://github.com/ThanksForAllTheFish/kotlin-test

It seems `kotlintest` runs `beforeSpec` in a different thread than the test itself, even when using `config(

[2019-03-04 17:36] LeoColman commented on #707
Yes, that's incorrect. I'll be working on a fix right away

[2019-03-04 19:47] LeoColman commented on #707
@sksamuel
I don't see an easy alternative here.

We can make all the functions suspend, and assume that all the tests that will call them are going to be suspended anyways, but this would break individual functions that are not suspend, and will break the behavior from https://github.com/kotlintest/kotlintest/pull/633#issuecomment-459904472

We can drop the support for special parameter name, and

[2019-03-04 19:48] LeoColman commented on #707
The second alternative is ok-ish, because we have `table(xx).forAll`, that use the same approach, with named parameters.

[2019-03-04 19:50] LeoColman commented on #708
Perhaps we can make this approach for any Loggers from a `LoggerFactory` or something?

[2019-03-05 03:04] sksamuel commented on #708
Good idea.

On Mon, 4 Mar 2019, 19:50 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-03-05 03:31] sksamuel commented on #710
I'm afraid this isn't going to be trivial.
The reason is that the before/after spec listeners run on a particular thread.
The code that invokes them, then needs to invoke the tests - but tests run inside a coroutine so people can run suspend functions.
A coroutine needs a dispatcher. It's easy to create a fresh dispatcher and then run a test plus its before/after test listeners all inside the same

[2019-03-05 03:32] sksamuel commented on #698
As part of this work, the coroutine boundary should move into the spec executor. See #710

[2019-03-05 03:34] sksamuel commented on #692
It would be fairly straightforward to add a FixtureSpec that hides the isolation mode and provides an object graph used by the test. It would just delegate to isolation mode behind the scenes I suppose. Is that what you mean?

[2019-03-05 04:04] sksamuel commented on #707
I don't think we should change `forall` to be inline, as the whole benefit of this variation is that you get the parameter names automatically derived. Better if we change `table(xx).forAll` to be inlined, then the original example could written in that style.

We could also add copies of these functions into a new .suspend package, where the functions are all marked as suspend, so you can use the

[2019-03-05 04:11] LeoColman commented on #707
I imagined that.

However, having copies of functions don't seem very optimal, even if it works. Are there many scenarios that this might happen in the future?

[2019-03-05 04:28] sksamuel commented on #707
I think we only use reflection in this way in this particular function.

[2019-03-05 07:54] ThanksForAllTheFish commented on #710
Thanks for the feedback, it is no problem to me to move to `before/afterTest`.

[2019-03-05 09:47] AlexBroadbent opened #711 "Matcher for "should be ignoring given field names""
Can we get a matcher for checking equality, without checking certain fields of the object.

Such as AssertJ's [isEqualToIgnoringGivenFields](https://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractObjectAssert.html#isEqualToIgnoringGivenFields(java.lang.Object,%20java.lang.String...)) method.

This is useful when I am trying to do a `shouldBe` check on two objects which ha

[2019-03-05 16:48] sksamuel commented on #711
`obj.shouldBeEqualUsingFields(obj2, "name", "age", "job")`
`obj.shouldBeEqualIgnoringFields(obj2, "location")`

[2019-03-05 16:49] sksamuel commented on #711
I think we can add this to 3.3.2

[2019-03-05 16:52] LeoColman commented on #711
I don't think we should use strings to field names

[2019-03-05 16:52] LeoColman commented on #711
That works for private fields tho, but I think we could do something like

[code]

And reflect the fields to ignore the same field

[2019-03-05 16:53] LeoColman commented on #711
Using strings hides the code behind it, and is subject to breaking when one renames the field

[2019-03-05 16:54] sksamuel commented on #711
If you can get a function reference by just doing obj.name then yes that's better.

[2019-03-05 16:55] LeoColman commented on #711
I'm almost sure we can

[2019-03-05 17:18] jillesvangurp commented on #681
I think this is a good idea as well. Currently there are indeed a lot of competing libraries for testing and asserting in kotlin and a lot of that stuff needs to live side by side with Java testframeworks like junit that are still defacto used in a lot of places (e.g. the whole spring ecosystem). If you add multi platform kotlin to the mix, things get more complicated still since you then have to

[2019-03-05 17:42] PCasafont commented on #707
What about having suspend versions of all the data driven functions in a different package?

[2019-03-05 17:44] sksamuel commented on #707
Thats what i suggested too. Probably an easy solution.

On Tue, 5 Mar 2019, 17:42 Pere Casafont, <notifications@github.com> wrote:

[2019-03-05 17:55] PCasafont commented on #707
Oops sorry, I don't know how I managed not to get that from your discussion.

I guess that's the safest way to do it for now, leaving any further major changes for the next major version release.

[2019-03-05 18:20] LeoColman commented on #707
The thing of adding to a different package is keeping two points of maintenance, and that's not very nice

[2019-03-05 18:43] PCasafont commented on #707
You could also inline most of the functions except those giving trouble, which can be duplicated as suspend versions. That will reduce the amount of duplication.

[2019-03-06 10:09] AlexBroadbent commented on #711
Thanks, excited to start using it!

[2019-03-06 18:00] thibseisel opened #713 "WordSpec doesn't fully support coroutines"
Some test scopes in `WordSpec` does not fully support calling suspending functions:

[code]

One workaround is to wrap test code in a `launch { ... }` block (that is properly linked to the coroutine scope of `AbstractWordSpec.FinalTestContext`) but when the test fails, the assertion message is hidden behind a `JobCancelationException` which is not very readable.

[2019-03-06 18:03] LeoColman commented on #713
Nice catch. Do you want to fix this, or leave it to us?

[2019-03-06 18:07] thibseisel commented on #713
I'd like to, but I am unable to push my topic branch due to an HTTP 403 (Permission denied)

[2019-03-06 18:09] LeoColman commented on #713
You need to push it to your fork, and submit a pull request to this repository from it

[2019-03-06 21:16] LeoColman opened #5547 "Add support for AnnotationSpec"

[2019-03-07 06:36] #710 closed, assigned to sksamuel

[2019-03-07 07:51] sksamuel commented on #713
Fixed. Will be included in 3.3.2

[2019-03-07 07:51] #713 closed, assigned to nobody

[2019-03-08 14:10] #707 closed, assigned to LeoColman

[2019-03-08 17:08] sksamuel commented on #711
Closed via #715

[2019-03-08 17:08] #711 closed, assigned to nobody

[2019-03-08 17:21] LeoColman opened #717 "Property testing don't accept suspended lambdas"
In the same fashion of https://github.com/kotlintest/kotlintest/issues/707, the following code won't work:

[code]

[2019-03-09 07:04] LeoColman commented on #717
@sksamuel
One approach I was trying for this was inlining everything.
However, this leads to a forever-running compilation process, as you'll see for the commit.

We'll have to look for a alternative on this. Perhaps doing the suspend-version again. But this is starting to become a bigger problem

[2019-03-10 20:08] xeruf commented on #639
This has nothing to do with Android. SLF4J is a logging facade employed by some dependeny that needs to bind to an actual logging implementation, otherwise it warns you.
You can solve this by attaching the sf4j-simple implementation in your tests:

testCompile group: 'org.slf4j', name: 'slf4j-simple', version: '1.7.26'

[2019-03-10 20:11] xeruf opened #720 "Folder ".kotlintest" created on every run"
Whenever I run my tests, a ".kotlintest" folder containing an empty "spec_failures" file is created in my project root. I really dislike behaviour like this and don't really understand why the file is created at all if it is empty in the end.
If you have to create it, please at least put it somewhere in the "build" folder.

[2019-03-10 20:17] sksamuel commented on #720
We should move it to the build folder, and not write it at all if it's empty.
In the meantime, you can disable it with `-Dkotlintest.write.specfailures = false`

[2019-03-11 22:35] sksamuel opened #5546 "Output error with table testing"
[code]

[2019-03-11 22:36] sksamuel commented on #5546
Seems like intellij doesn't like messages over multiple lines.

[2019-03-12 22:52] sksamuel commented on #720
I think for 3.3.2 we should revert the default behavior on this to be disabled.

[2019-03-14 08:57] sschuberth opened #721 "beforeTest() / afterTest() not run between test invocations"
I'm unable to tell from the docs whether this works as designed, but I observed in kotlintest 3.3.1 that a test with `invocations` > 1 does not have its `beforeTest()` / `afterTest()` called in between invocations. Which in my case makes the second invocation fail as `afterTest()` does some required clean-up of a temporary directory which must not exist when the test starts.

Could you please clar

[2019-03-14 09:07] sksamuel commented on #721
beforeInvocation() / afterInvocation is a great name for what I've struggled to come up with a name for in the past.

However I'm undecided if invocations should move out of the test case completely and into a helper function, which could also be used for threads, retries and timeout.

[code]

The upside is that it greatly simplifies the implementation.
The downside is you can't hook into a listen

[2019-03-14 16:54] sschuberth commented on #721
I take your answer as a "it currently works as designed" 😉 As for how to implement a `beforeInvocation()` / `afterInvocation()`, I'm undecided and will leave that to you 😁

[2019-03-14 17:02] LeoColman commented on #721
Prehaps the code `invocations(3)` could delegate to a part that registers every invocation to be processed by the listeners. It could be a little bit hackish, but I think it might work

[2019-03-22 01:04] LeoColman opened #724 "Add type inference for `shouldNotBe`"
[code]

Having to cast result as String all the time wouldn't be necessary with `shouldNotBe null`.

[2019-03-22 01:44] LeoColman commented on #724
Not possible, because only one condition in the contract is possible. There's no way to say "If bar == null then this != null".

The only alternative to this right now is to use `this.shouldNotBeNull()` if that's the intended behavior.

[2019-03-22 01:44] #724 closed, assigned to LeoColman

[2019-03-22 02:03] sksamuel commented on #724
I don't know anything about contracts yet, but what's the difference ?

[2019-03-22 02:05] LeoColman commented on #724
Contracts only have some behaviors. We can't use an arbitrary boolean as a behavior, such as `if b is null`

[2019-03-22 02:05] LeoColman commented on #724
Not yet, at least

[2019-03-24 10:35] ipereziriarte commented on #639
@Xerus2000 if that's the fix, then it should be added to the Readme docs.
It's quite confusing to see that warning in every test launch.

[2019-03-25 15:05] molaachir opened #5545 "Make it possible to jump between test specs using a shortcut"
In IntelliJ, it is possible to jump between methods using the alt + Down arrow shortcut. When using JUnit, this is a very useful feature, as you can easily jump between tests. All KotlinTest specs are located within the init block, though, making it hard to jump through specific tests you've written. It would be great if alt + down arrow would navigate between tests the same way it navigates betwe

[2019-03-26 18:29] sksamuel opened #731 "New matchers"
set.shouldBeSingleton()
list.shouldBeSingleton()

[2019-03-27 04:03] LeoColman commented on #731
Isn't it shorter to say `set.size shouldBe 1` or `set shouldHaveSize 1`?

[2019-03-27 04:04] LeoColman commented on #731
Idk in which scenarios one would use "Oh, exactly at this point of code, the set should be a singleton". Do you know if this has any use cases?

[2019-03-27 19:18] sksamuel commented on #731
I was writing some tests that assert that a generated id is idempotent. I
do it by running the code several times and asserting that the set of the
outcomes has size 1.

On Wed, 27 Mar 2019 at 04:04, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-03-28 13:17] sksamuel commented on #731
It's just an alias for hasSize(1).

[2019-03-28 13:44] languitar opened #5544 "All tests run for 0 ms"
When I run tests using the Kotlintest run configuration, the report window shows 0 ms execution time for all tests cases even though they executed longer:

![2019-03-28T14:44:25+01:00](https://user-images.githubusercontent.com/1336287/55162381-04c55280-5168-11e9-9bd2-16a460e03b53.png)

[2019-03-29 16:32] code-schreiber opened #737 "Can't run kotlintest-runner-junit4 in Android Studio via "Run Tests""
First of all, let me start by saying thanks for opening up more possibilities when testing on Kotlin with such a modern library 👍

I've been having trouble introducing KotlinTest to a codebase that currently runs on Junit4, as many Android projects do due to the slow adoption of Junit5.

#### This is the shortcut I use to run tests
![screenshot](https://user-images.githubusercontent.com/759086/552

[2019-03-29 17:07] LeoColman commented on #731
This is also similar to `shouldHaveSingleElement`

[2019-03-29 17:07] sksamuel commented on #731
Oh yeah I guess that's the same thing.

On Fri, 29 Mar 2019 at 17:07, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-03-29 17:07] sksamuel commented on #731
Singleton is what Java calls it though so could be nice ot have an alias.

On Fri, 29 Mar 2019 at 17:07, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-03-29 17:09] LeoColman commented on #731
`shouldHaveSingleElement` also requires an element, so I guess we want to say "I don't care which element, I just want one"

[2019-03-29 17:14] LeoColman opened #739 "Introduce `Gen.take(int)` function"
Sometimes people won't want to use `assertAll` or similars when using a Gen, but does want the generated values anyway (such as collection them in a list).

What about introducing a member function (can be an extension function as well) to allow collection of values in a Gen?

Perhaps

[code]

[2019-03-29 17:15] LeoColman commented on #739
The only issue I see with this nomenclature, is that it isn't clear that it will take all the constants + values from the random sequence. If this idea is good, we can come up with a better name

[2019-03-29 17:30] #731 closed, assigned to nobody

[2019-04-03 12:39] mikhailrasvodin opened #746 "All maven sources JARs are empty since 3.3.0-RC1"
I noticed that all sources JARs located at Maven Repository are empty starting from version 3.3.0-RC1.

[2019-04-03 12:51] LeoColman commented on #746
Thanks for the report!

We are already aware of this issue, and a pull request to fix it was already merged: #716

[2019-04-03 12:51] #746 closed, assigned to nobody

[2019-04-03 14:49] LeoColman opened #747 "Introduce `Gen.next(boolean)` function"
For the same reasons of #739, sometimes people want to use randomized values from the generators, without using it in `assertAll` or similars.

I propose we introduce a way to get a value from the Generator itself, similar to how functions from random work:

`Random.nextInt(0, 1000)`.

My proposal is to create a method called `name`, that takes an optional filter argument:

[code]

Currently, a wa

[2019-04-05 05:54] sksamuel commented on #720
This has been fixed in 3.3.2 @Xerus2000

[2019-04-05 05:54] #720 closed, assigned to nobody

[2019-04-09 11:37] pawegio opened #5543 "KotlinIdeaResolutionException on KotlinTestRunLineMarkerContributor.getInfo()"
Plugin keeps crashing after a while when indexing is finished and I open certain kotlin file:

[code]

- Plugin: **v3.3.0.11**
- IntelliJ IDEA: **2019.1 (Ultimate Edition) Build #IU-191.6183.87**
- JRE: **1.8.0_202-release-1483-b39 x86_64**
- JVM: **OpenJDK 64-Bit Server VM by JetBrains s.r.o**
- macOS: **10.14.4**

[2019-04-09 20:45] LeoColman opened #748 "Allow exclusion/inclusion of tags at runtime"

[2019-04-10 14:19] LeoColman opened #750 "Create matcher String.shouldBeEqualIgnoringCase"

[2019-04-11 15:14] LeoColman opened #5542 "Test with special characters won't show in intelliJ"
[code]

[2019-04-11 19:11] marcin-kwasniak commented on #737
I think this problem is not related to kotlintest library but this is a bug in android studio. I had similar issues even without this library. If you want run all test from android studio you can make your own Android JUnit run configuration with test kind **all in package** or **all in directory**.

[2019-04-12 07:20] Coneys commented on #737
No, it is related to kotlintest. It works well on KotlinTest 3.1.5

[2019-04-12 07:41] Coneys commented on #737
I checked this again, problem starts with KotlinTest 3.2.0

[2019-04-15 00:35] LeoColman commented on #750
Closed as per https://github.com/kotlintest/kotlintest/pull/751

[2019-04-15 00:35] #750 closed, assigned to nobody

[2019-04-17 14:42] codyoss opened #753 "eventually should handle AssertionError by default"
Is there a good reason that kotlintest `eventually` does not handle AssertionError by default. I was reading another issue #145 and it seemed like it was talked about, but there was no clear reason to why this was not adopted...

To re-state what was said there, it would be nice to write:
[code]

instead of:
[code]

To me I can't think of too many use cases where I would not want to do an assertio

[2019-04-18 16:00] sksamuel commented on #753
Yes, it seems a bit silly that the first case is not handled.

[2019-04-18 18:07] codyoss commented on #753
In that case, I think I will take a stab at an implementation...

[2019-04-18 23:21] sksamuel commented on #753
Please do!

On Thu, 18 Apr 2019 at 19:08, Cody Oss <notifications@github.com> wrote:

[2019-04-26 08:04] nomisRev opened #755 "Public internal classes"
Hi,

I ran into an issue today where my code conflicted with `KotlinTest` due to internals being public. [NamedThreadFactory](https://github.com/kotlintest/kotlintest/blob/1678cb5292097fce6f01aaae5fa3cee1960dcd1b/kotlintest-runner/kotlintest-runner-jvm/src/jvmMain/kotlin/io/kotlintest/runner/jvm/internal/NamedThreadFactory.kt)

Given that it's located in an internal package I assume this should al

[2019-04-26 08:11] sksamuel commented on #755
PR welcome !

On Fri, 26 Apr 2019, 03:04 Simon Vergauwen, <notifications@github.com>
wrote:

[2019-04-27 11:04] MichalPem commented on #5543
I have same issue.

- IntelliJ IDEA 2019.1.1 (Community Edition)
- Build #IC-191.6707.61, built on April 16, 2019
- JRE: 1.8.0_202-release-1483-b44 x86_64
- JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
- macOS 10.14.4

[2019-04-30 12:02] christopheblin opened #756 "Intellij : is it possible to run a single method of a spec ?"
When you run a spec file in intellij and the spec file has multiple tests, is it possible to run only one of them ?

This is possible with a classical JUnit test, but it does not seem to work with kotlintest ...

This is very annoying when you have a dozen of tests and only one of them is failing because you can not assign a breakpoint easily :(

![Capture d’écran 2019-04-30 à 13 59 42](https://

[2019-04-30 12:08] LeoColman commented on #756
It's possible, yes.

However, for that you have to use KotlinTest IntelliJ Plugin, which is available in [Jetbrains Repository](https://plugins.jetbrains.com/plugin/11585-kotlintest)

[2019-04-30 12:22] christopheblin commented on #756
I've just installed the plugin and I correctly see buttons to launch a single test.

However, when I click on a single test, it still launches all the tests and stops on breakpoints in other tests.

Please see attached screenshot

![Capture d’écran 2019-04-30 à 14 19 34](https://user-images.githubusercontent.com/11044877/56961156-4e340380-6b53-11e9-99a0-55ed5653adc6.png)

[2019-04-30 12:31] christopheblin commented on #756
BTW, when I click the button it says "Run TmpSpec" whereas I would expect something like "Run TmpSpec should fail" ...

Do you have any idea ?

[2019-04-30 12:48] christopheblin commented on #756
Ah ok I think I found a strange bug (well this is something I can not explain).

Here is a screenshot of another spec where I can effectively choose to debug only one of the test

Whereas the TmpSpec still does not provide me this option ...

I've tried to use "inner tests" in the TmpSpec but it does not change anything.

Other classes have the same problem, I do not manage to identify what is dif

[2019-04-30 13:20] christopheblin commented on #756
Ah OK, I've finally found the problem !

If you already have a jUnit configuration for a test, it will not propose to run with kotlintest plugin !

That is why it works on some classes (the one without a configuration) and not on other classes (the one with an existing configuration)

So I will close this issue, sorry for bothering you :)

[2019-04-30 13:20] #756 closed, assigned to nobody

[2019-04-30 15:21] LeoColman commented on #756
You're not bothering at all, really!

This issue shows that you're interested in our project and doing your best to work with it! It actually flatters me to know that you took your time to come here and open an issue to understand how things work!

Glad we could help. If you find any weird behavior with the plugin (it was recently launched), please let us know by creating an issue in the[ plugin's

[2019-05-02 08:30] christopheblin opened #5541 "Run all tests in a package ?"
When I right click on a directory, I can "Run 'All tests'" but this is launched with jUnit runner plugin (hence, for ex, you can not click on a test name to navigate to the source)

I tried to create a configuration manually but it seems there is no option to launch on a directory (or package)

For ex, that would be the same as when you create a jUnit configuration, you have the option 'Test kind'

[2019-05-02 12:28] LeoColman commented on #5541
For some reason I always get surprised when people run `All tests`. I've never seen that intention in my life xD

I suppose you can still run all tests via `./gradlew test` for now, until we create an intention for all tests with KT

[2019-05-04 11:27] lenalebt opened #5540 "Problem running Kotlintest's own tests with Kotlintest Plugin"
Hi,
I am using IntelliJ 2019.1.1 (191.6707.61) Community Edition with the Kotlintest plugin 3.3.0.11. I opened the Kotlintest source and wanted to run all of the Tests in `com/sksamuel/kotlintest/properties/GenTest.kt`.

I then get this stack trace:

[code]

Unsure where this comes from - ideas welcome :).

This happened when I was playing with some things I think are missing to `Gen` in Kotlintes

[2019-05-04 18:29] LeoColman commented on #5540
I think the issue we might be facing here is that we're currently moving KT to MultiPlatform, and currently we can't exactly run tests on the master branch. I'm getting this fixed ASAP.

Is that what you're trying to do?

[2019-05-05 00:37] #753 closed, assigned to nobody

[2019-05-05 10:57] lenalebt commented on #5540
Okay, wow, that's it. I ran it on 3.3.2 and it works. Did not think that this error message indicates a problem like that.
That really helped - I thought about filing an issue on kotlintest itself since I was not able to run tests on the master and thought I'd then try the plugin to run them directly.

Thanks for your help :).

[2019-05-05 10:57] #5540 closed, assigned to nobody

[2019-05-06 03:29] #739 closed, assigned to nobody

[2019-05-06 16:02] jameskleeh opened #760 "Can extensions disable or skip a testcase?"
I'd like to skip or disable a test case in an interceptor

`fun beforeTest(testCase: TestCase)`

The `testCase.config` is final so I can't change it in the interceptor. Is there some other means of doing so?

[2019-05-06 16:10] jameskleeh commented on #760
Sorry for the noise, looks like its not possible with a listener, but I need to use a TestCaseExtension

[2019-05-06 16:10] #760 closed, assigned to nobody

[2019-05-06 16:10] LeoColman commented on #760
Yes. Usually listeners are to act after action.
With an extension you can actually change the action.

Don't worry about the noise! We're here to help XD

[2019-05-06 16:33] sksamuel commented on #760
Yes listeners are passive only. Extensions are active.

On Mon, 6 May 2019 at 11:11, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-05-06 18:32] #747 closed, assigned to nobody

[2019-05-07 12:18] christopheblin commented on #5541
Just to explain more context.

The goal is not to run all tests of project (I indeed use that sometimes when I refactor the db or ... but this is unusual).

However, I often run all tests of a package (the package I am working on)

Also, note that running all tests with the jUnit plugin works, the problem is just that you can not navigate to a specific test failure (now that I installed the plugin

[2019-05-07 14:00] LeoColman commented on #5541
Yeah, JUnit's integration with Gradle wasn't a big priority for Gradle's team, and some features that we need are not yet available

That's why we don't have a very nice integration with JUnit right now (and probably never will).

Your report makes sense, thanks for it!

[2019-05-07 14:00] sksamuel commented on #5541
I need to update the plugin to capture the "run all tests" action.

[2019-05-07 21:10] dmstocking opened #763 "Enhance DescribeSpec with xMethods"
It would be awesome to be able to do Jasmine/Mocha tests with nested `describe`. I don't know if this would just be a change to the `DescribeSpec` or its own thing. The change is quite small none the less. It would also be nice to have `xdescribe` and `xit` to disable tests.

[code]

[2019-05-08 15:42] sgarfinkel opened #764 "File matchers should implicitly check File.shouldExist"
This should either be a documented feature (you need to always check `shouldExist` before calling any other matcher file matcher) or should just be done implicitly for the user (my preferred approach). Because the matchers just defer to the Java File/Path checks, they have no null checking. This results in unexpected NPEs.

A `shouldExist` check, in my mind, is implied if you are using any of the

[2019-05-08 15:44] sksamuel commented on #764
Without checking myself, are you saying that File("qeqweqweqweqwewqe").resolve("bar") throws an NPE ?

[2019-05-08 15:54] sgarfinkel commented on #764
@sksamuel No, its thrown from the matcher. Resolve just returns a File, which may or may not actually exist.

The specific issue in the example above is that `shouldContainFile` eventually calls `contents = File.list()` which returns null when File is either not a directory or does not exist. The returned result then tries to call `contents.size` which causes the NPE.

Here's the full function for

[2019-05-08 15:57] sksamuel commented on #764
Ah yes, .list() can return null.
Good call thanks. These matchers should definitely handle files that don't exist.
Your 2nd point is good too - the intermediate path, very useful. I'll cc in the matchers expert @Kerooker

[2019-05-09 06:42] gabrielittner opened #765 "Can't use forAll inside a given or when"
E.g.
[code]
This will result in `Suspension functions can be called only within coroutine body`.

[2019-05-09 16:06] LeoColman commented on #765
I'll close this as a duplicate of #717.

I'm working on it.

Thanks for the report!

[2019-05-09 16:06] #765 closed, assigned to nobody

[2019-05-09 16:13] LeoColman commented on #668
What we can do on an `equal` case?

For example

`BigDecimal equals BigDecimal` isn't necessarily the same answer as `BigDecimal compareTo BigDecimal`.

How would we handle those cases? (`shouldBe` isn't enough)

[2019-05-09 17:42] gabrielittner commented on #765
Thank you and sorry for the duplicate, missed the other issue.

[2019-05-10 16:53] sksamuel opened #766 "Release 3.3.3"
Can we release 3.3.3 with the .kotlintest folder turned off, and the other bug fixes we've seen.

[2019-05-10 16:55] LeoColman commented on #766
I'm all for it!

With smaller features too?

[2019-05-10 16:56] LeoColman commented on #766
(I don't think we've had any big feature anyway)

[2019-05-10 16:59] sksamuel commented on #766
Yes, it would be nice to get out the batch of PRs we've been doing.

On Fri, 10 May 2019 at 11:56, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-10 17:02] LeoColman commented on #766
Sure, I'll do the release.

[2019-05-10 17:02] LeoColman commented on #766
Just please review the two pending PRs.

If you find anything we shouldn't approve we can push them to 3.3.4+

[2019-05-10 18:22] sksamuel opened #767 "Turn off logging by default"
Even if your project does not define a logging file, KT must be providing one and spamming the user.

Eg,

[code]

[2019-05-10 18:22] sksamuel commented on #766
Let's include a fix for https://github.com/kotlintest/kotlintest/issues/767

[2019-05-10 18:23] LeoColman commented on #767
Perhaps there's a way for "Log while we're testing, disable logs in production"

[2019-05-10 18:23] LeoColman commented on #767
But IDK if we need these test by default anyway

[2019-05-10 18:24] #755 closed, assigned to nobody

[2019-05-10 21:26] sksamuel opened #768 "Discussion - new syntax for before / after / etc"
At the moment to do a before/after you must override a method.
This means it has to be outside the init {} block.

If however it was all done with lambdas, then it could all live inside the init block and you could always do constructor init blocks.

Eg,

[code]

I think this would mean we could ditch the init{} blocks completely.

[2019-05-10 22:32] LeoColman commented on #768
I think we should keep both ways supported.
People coming from JUnit will have a very hard time to understand this syntax, and will probably always prefere the `@Before` way, and they should be able to.

As to ditch the `init`  blocks, I think there might be lots of reasons for people to want to use them. Both ways should also always be available (but if anyone prefers not using the init block, no

[2019-05-11 15:15] haroldadmin opened #769 "How to use dependency injection with DescribeSpec?"
I want to use the [Koin](https://insert-koin.io) DI framework to inject dependencies in my DescribeSpec test class. In order to do that I need to have my test class implement the `KoinTest` interface. This is fine, but it does not really help at all because the tests are passed as a lambda to the constructor of the DescribeSpec class.

[code]

So even if my test class implements the `KoinTest` int

[2019-05-11 17:07] sksamuel commented on #763
I think this is great to add.
And I like the idea of x to disable too.

[2019-05-13 09:30] haroldadmin commented on #769
Looking at the sample DescribeSpec test in this repository, I realized that passing a lambda to the constructor is not necessary. I can place my tests in the init blocks.

[code]

[2019-05-13 09:30] #769 closed, assigned to nobody

[2019-05-13 18:48] LeoColman opened #770 "Spring extension not autowiring values"
When I'm using the class

[code]

I expected this to work, as it should autowire the properties. However, it won't do that inside the test code itself, only inside beans.

[2019-05-13 23:57] LeoColman commented on #770
Perhaps this is a spring issue and not our extension issue, as per [this so question](https://stackoverflow.com/questions/33256702/value-could-not-resolve-placeholder-in-spring-boot-test)

[2019-05-13 23:57] #770 closed, assigned to LeoColman

[2019-05-14 09:51] haroldadmin commented on #768
I use the init block because I need to extend my test classes with the `KoinTest` interface in order to inject dependencies. Passing tests as a constructor parameter does not allow me to use methods of the `KoinTest` interface. Losing init blocks would require us to investigate how else to support DI in test classes. However, I do agree that the before and after syntax you suggest looks super clea

[2019-05-14 20:45] leoxs22 opened #771 "Error handling in tests"
Hello!

I found a really serious bug on the test runner, when there is an exception in some test.

The effect is really hard to detect.

I have this stacktrace:

[code]

The problem is that this error is affecting other tests.

I think that kotlintest is ordering the tests to run alphabetically by name, so, when the engine throws this exception, it doesn't continue with any other test, and it does

[2019-05-14 21:47] LeoColman commented on #771
Does it fail this way when you run `gradlew test?`

Or does it explode the exception? Perhaps this is a ide only bug?

[2019-05-14 21:59] leoxs22 commented on #771
I'm using maven, not gradle, so I can't confirm if it works there.
In maven, at least, the result it's the same executing `mvn test`, it says everything it's okay, without running all the tests

[2019-05-15 12:32] leoxs22 commented on #771
Adding to this error.

It only happens when the exception is produced outside a test case, in the "init" of the class.

For example, this code can reproduce the error:

[code]

while this run fine

[code]

(of course, it doesn't detect that there is a "run" test case, but at least it marks the "example" as failed)

So, the problem occurs when the engine fails to initialize the test class

[2019-05-15 12:40] leoxs22 commented on #771
I've tried the same in Junit, coding in Java, and it handles it well.
Adding the nullpointer in the constructor makes it mark all the test cases as failed with a null pointer exception.
I think we can't do something like that, since the tests are written inside the initialization of the class, and by having an exception before, it never reaches the definition of the test, but at least we should be

[2019-05-15 13:06] LeoColman commented on #771
I see.

So what's happening is that if the class is throwing an error before the test starts (for instance, before any test case or while inside `beforeTest`), it doesn't fail as expected.

Does this describe it well enough?

[2019-05-15 15:19] leoxs22 commented on #771
Yep, perfect, it fails to instantiate the test class, and that makes the test engine to fail without informing it correctly

[2019-05-15 16:59] LeoColman commented on #771
Perfect report, leo!

Thanks for the in-depth explanation. I'll get to understand this right away!

[2019-05-16 03:49] magneticflux- opened #772 "Generators for Byte, Short, and experimental unsigned types"
It seems straightforward to add them. I can submit a pull request if desired.

[2019-05-16 03:50] sksamuel commented on #772
That would be great, thanks!

[2019-05-17 19:51] sksamuel commented on #717
I think we should try to address this soon, maybe we can take a fix for things like this as 3.4 release while we continue to work on 4.0 in the background.

[2019-05-17 22:47] LeoColman commented on #717
This is nearly done

[2019-05-20 18:36] master-bytes-krafter opened #774 "Dependent test"
Hello
Do you propose an idiomatic way to write test/groups of tests that depend on the outcome of other tests (i.e pointless to run if some other test failed) ?
This is particularly interesting to test some scenarios during integration testing and some testing frameworks provide this feature (e.g: TestNG)

Regards

[2019-05-21 12:53] #748 closed, assigned to nobody

[2019-05-21 16:51] sksamuel commented on #774
Do you mean the `@Test(dependsOnMethods = { "initEnvironmentTest" })` that TestNG provides?

[2019-05-21 17:33] master-bytes-krafter commented on #774
Hello, yes exactly, same mechanics as dependsOnMethods or dependsOnGroups. The main goal here is to avoid runing some tests (potentialy costly) when we know that they will fall anyway because the system is in shambles :)
Regards

[2019-05-21 18:52] sksamuel commented on #774
Seems like a good idea. The annotation based syntax won't work for kotlintest though, perhaps as part of the test config.

`"this is my test".config(dependencies = "some other test") {`

or `"This is my test").dependencies("some other test").config(...) {`

[2019-05-22 04:50] master-bytes-krafter commented on #774
Yes it would be perfect.
Now, how do yo want to proceed ? do you want me to contribute and create a PR/MR to kotlintest ? or is it something you would like to implement by yourself ?

[2019-05-22 12:34] sksamuel commented on #774
Happy for you to create a PR.

On Tue, 21 May 2019 at 23:50, master-bytes-krafter <notifications@github.com>
wrote:

[2019-05-22 14:46] dtieber opened #776 "Lifecycle behaviour in combination with BehaviorSpec"
## Description
I prefer BDD style which is why I'm using BehaviorSpec. However, I think there is an issue with lifecycle events. I read the documentation and it's not working as expected. Please mind the code below, which makes it easier to understand the issue.

There is only one test in my suite, but "beforeTest" is triggered three times. This leads to a problem because I'd like to verify an inv

[2019-05-22 15:35] LeoColman commented on #776
@sksamuel I think I need some help to understand this one.

[2019-05-22 15:41] #772 closed, assigned to nobody

[2019-05-22 15:55] sksamuel commented on #776
Before Test will run 3 times because each "block" is considered a test.

Consider if you had multiple when's inside the given, and so on, what would
delimit the before test then?
If you just want something to run once, then you can do beforeSpec, or if
you want something else perhaps we can add it.

On Wed, 22 May 2019 at 10:35, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-22 16:17] sksamuel opened #777 "Snapshot testing."
Maybe some inspiration here:
https://github.com/Karumi/KotlinSnapshot

[2019-05-22 17:49] NeverwinterMoon opened #778 "Kotlin DSL + Android configuration example"
You have examples for Kotlin DSL configuration and Android Gradle one, but what about the Kotlin DSL on Android?

I think it makes sense to add configuration example using https://github.com/mannodermaus/android-junit5

[2019-05-22 18:29] sksamuel opened #779 "Allow seeds to be passed to the random instance in property tests"
This will allow a test to be re-run with the same random data.

[2019-05-22 18:31] sksamuel opened #780 "Allow min successful to be passed to property checks"
This would allow for some failures.

[2019-05-22 18:35] sksamuel opened #781 "Add more docs on eventually"
There seems to be an entire project which does exactly what our one single function `eventually` does. Let's add some more use cases to docs for our eventually function in case we've missed some cases.

https://github.com/awaitility/awaitility/wiki/Usage

[2019-05-23 08:15] dtieber commented on #776
@sksamuel Thank you for the clarification; I got your points.
`beforeSpec` doesn't really help in my case. I would like to set up (and reset) my mocks on `beforeTest` so that all test cases can be written in the most concise way possible (like in my example).

As this doesn't seem to be a bug but a design consideration, I'll maybe switch to another style then.

[2019-05-23 20:05] sksamuel opened #782 "Improve and validate kotlintest works with spring boot"
Including things like @ActiveProfile

[2019-05-23 21:17] LeoColman commented on #782
I use KT + Spring Boot, and things work quite well.

[2019-05-24 05:21] master-bytes-krafter commented on #774
Will gladly do

[2019-05-24 20:53] lenalebt opened #783 "withClue: Clues should be nestable"
Consider this case (taken from the tests):

[code]
The error message from the inner clue does not contain the outer clue, as in it is: `"clue inner: expected: \"4\" but was: \"3\""` and imho should be along the lines of `"clue outer: clue inner: expected: \"4\" but was: \"3\""`.

Sometimes it is very helpful when you get more information about what exactly went wrong in your test case. We're using

[2019-05-26 02:30] sksamuel commented on #783
Yes, very much open to a PR. I think this is a great idea.

On Fri, 24 May 2019 at 15:53, Lena Brüder <notifications@github.com> wrote:

[2019-05-27 18:27] #782 closed, assigned to nobody

[2019-05-28 07:58] fraquack opened #786 "Limit Parallelism for some specs"
I'd like to use both Parallelism and System Extensions in my project.
Unfortunately  System Extensions can't run concurrently.
A good trade-off would be to limit only the concurrent execution of specs that make use of System Extensions. I'm thinking about a sort of tag to identify these specs, translated in a lock that prevents their concurrent execution.

For instance:
[code]

Would this implemen

[2019-05-28 08:18] sksamuel commented on #786
The problem is if you disable parallelism for one spec, you have to ensure that no other specs are running when you start this one, and then carry on with other specs afterwards.

Perhaps one solution would be a flag on config - `singleThreaded = true` or `parallelize = false` or whatever nomenclature you prefer, that essentially tells the engine to run these specs at the end, single threaded, aft

[2019-05-28 08:41] fraquack commented on #786
This is actually better than my original proposal, because you can use the real environment variables in the test, mocking them only at the end.

[2019-05-28 11:33] sksamuel opened #787 "Gradle Plugin Improvements"
For our gradle plugin, I'd like to improve the output to log nested tests in a nicer way.

[2019-05-28 11:35] sksamuel opened #788 "KotlinTest Roadmap 3.4"
- [x] - Gradle Plugin Improvements #787
- [x] - io.kotlintest.Result conflicts with kotlin.Result #898
- [x] - Add support to Koin #515
- [x] - Global timeout #858
- [x] - Timeout config fails #879
- [x] - Allows nested describe scope #902
- [x] - Improved eventually #793 #781
- [x] - Added string matchers for single line and size between #853
- [x] - ShouldBeToday matcher #820
- [x] - Reflection

[2019-05-28 12:19] sksamuel commented on #778
Did you try putting the test options inside a tasks.test { } block ?

On Wed, 22 May 2019 at 12:49, Pavel Sorokin <notifications@github.com>
wrote:

[2019-05-28 12:32] yaroslav-shlapak opened #789 "Update to 3.3.0+ leads to test framework error"
Reproduced on: Android Studio 3.5 Beta 2 and IntelliJ IDEA 2019.1.2
The test project to reproduce: https://github.com/yaroslav-shlapak/TestSpekProject

After update to 3.3.2 from 3.1.10 getting the error all the time when runnig tests:
![Screenshot from 2019-05-28 15-26-49](https://user-images.githubusercontent.com/3373419/58477780-107bc800-815d-11e9-9788-99ddd40ada8c.png)
[code]
3.1.10 and 3.2.1

[2019-05-28 12:37] sksamuel commented on #789
Which JDK?

On Tue, 28 May 2019, 07:32 Yaroslav Shlapak, <notifications@github.com>
wrote:

[2019-05-29 02:34] kelly-yinn opened #790 "withConstantNow only mock the NoParameterNowFunction"
I used the `Current instant listeners` to test the `now value` in my test code.

And I declared as following:
[code]

But I found that if the call is `ZonedDateTime.now(zoneId)` not  `ZonedDateTime.now()`, what I obtained is not the `fixed now value`.

By analyzing the source code, I found it seems that we just mock the `no parameter now function`.
So in order to be consistent with my test code. I

[2019-05-29 08:03] yaroslav-shlapak commented on #789
@sksamuel
For Android Studio 3.5 Beta 2:
openjdk version "1.8.0_202-release"
OpenJDK Runtime Environment (build 1.8.0_202-release-1483-b39-5509098)
OpenJDK 64-Bit Server VM (build 25.202-b39-5509098, mixed mode)

For  IntelliJ IDEA 2019.1.2:
java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

[2019-05-29 12:20] LeoColman commented on #790
This makes sense.

Would you like to make a pull request?

[2019-05-29 12:43] kelly-yinn commented on #790
Thanks for your reply.

I'd like to have a try and make a pull request.

[2019-05-29 13:39] sksamuel commented on #789
Your stack trace is from Spek.
This is KotlinTest.

On Wed, 29 May 2019 at 03:03, Yaroslav Shlapak <notifications@github.com>
wrote:

[2019-05-29 14:06] LeoColman commented on #789
You're probably trying to execute the tests using Spek plugin. You should use KotlinTest's

[2019-05-29 14:07] LeoColman commented on #790
Great!
Let me know if you have any troubles with it!

[2019-05-29 15:09] rses opened #791 "Map matcher should{Not}Contain support for Pairs"
At the moment, the most terse map matcher is of the form:

[code]

It would be nice to add support to be more fluid by using `Pair` to say:

[code]

This is a very small fix which I can create a PR for, but just checking if this is something that will be accepted.

[2019-05-29 15:20] LeoColman commented on #791
I Agree with you!

This should be added, and if you're interested in making a PR, go for it! We'll be very happy to assist you with anything if you need :)

[2019-05-29 19:54] LeoColman opened #793 "Eventually should allow configuration for space between requests"

[2019-05-29 20:01] #791 closed, assigned to nobody

[2019-05-29 20:50] sksamuel opened #794 "Around advice in the spec DSL"
[code]

[2019-05-29 20:50] sksamuel commented on #794
@Kerooker  ?

[2019-05-29 21:01] LeoColman commented on #794
Perhaps this can be implemented as an extension?

On Wed., May 29, 2019, 17:50 Stephen Samuel, <notifications@github.com>
wrote:

[2019-05-29 21:01] sksamuel opened #795 "Before/After Test"
At the moment, we call all the before tests first, then all the after tests.
I think this should change.

[2019-05-29 21:03] LeoColman commented on #795
What would you change it to?

On Wed., May 29, 2019, 18:01 Stephen Samuel, <notifications@github.com>
wrote:

[2019-05-29 21:25] sksamuel commented on #795
before/after before/after before/after

[2019-05-29 21:26] sksamuel commented on #794
Yes, we just need to make Spec itself have a `aroundTest` and `aroundSpec` method which create an extension and register it. No-op by default. Like we do for the other spec methods which just delegate as a listener.

[2019-05-29 21:26] LeoColman commented on #795
I don't think that's possible, as we need all befores to be run before,
right? Not possible to ever run a after test before a beforeTest

On Wed., May 29, 2019, 18:25 Stephen Samuel, <notifications@github.com>
wrote:

[2019-05-29 21:37] LeoColman commented on #794
Do we want to add more things to the spec class?

I believe this can be delegated to a listener that has a `beforeTest` and `afterTest`, without the need to add another construct. What do you think?

[2019-05-29 21:55] sksamuel commented on #794
Can it?

On Wed, 29 May 2019 at 16:37, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-29 21:56] sksamuel commented on #795
I'm not sure, but if you think about top level tests, it makes sense for
the after test to complete before the next test's before test.
Otherwise you might as well just be using before/after spec.

On Wed, 29 May 2019 at 16:26, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-29 21:58] LeoColman commented on #794
Similar to the `constantNow` listeners, it runs beforeTest and afterTest, isn't that what we kinda want?

[2019-05-29 22:00] LeoColman commented on #795
I believe that's how we run it already, isn't it? One beforeTest will trigger per test, right?

[2019-05-29 22:00] sksamuel commented on #794
Yes, but it's the ability to keep a variable in scope.

val a = A()
runTest
a.stop()

On Wed, 29 May 2019 at 16:58, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-29 22:02] sksamuel commented on #795
Let's say I want a transaction per test.

beforetest {
startTx
}

afterTest {
commitTx
}

At the moment it will call startTx for all tests before any are committed,
meaning the tx manager throws an exception.

On Wed, 29 May 2019 at 17:00, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-29 22:09] LeoColman commented on #795
I see. Yeah, it makes sense.
Could this be due to isolation mode? I usually fix stuff by messing with isolation hahha

[2019-05-30 04:01] sksamuel commented on #795
Isolation mode definitely works, but it's still confusing.

On Wed, 29 May 2019 at 17:09, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-05-30 13:30] yaroslav-shlapak commented on #789
The problem is with 3.3.0 update, before that there were no conflicts between test frameworks. I don't use KotlinTest for Test Cases structuring only for the assertion. Is it possible to use KotlinTest only as assertion/matcher library?

[2019-05-30 17:43] sksamuel opened #796 "Split shrinker from Gen and then provide data class Gen"

[2019-05-30 22:23] sksamuel commented on #789
Yes, you just need to include `kotlintest-assertions` module instead of junit5 runner.

Any reason you use Spek and KT together? KT is superior in every way :)

[2019-05-31 08:01] LeoColman commented on #789
You may use only the assertions artifact, yes.

On Thu., May 30, 2019, 10:30 Yaroslav Shlapak, <notifications@github.com>
wrote:

[2019-05-31 08:13] yaroslav-shlapak commented on #789
@sksamuel  switching to  `kotlintest-assertions`  fixed my issue. Thank you!
As for the usage of both Spek and KT - let's say it is because of historical reasons ;)
But yes, it looks like the features of Spek are a subset of KT features. I will definitely use it in the future projects both as test organization and assertion framework.

[2019-05-31 08:13] #789 closed, assigned to nobody

[2019-05-31 08:41] sksamuel commented on #789
Yes. Bring in the assertions module only. kotlintest-assertions on maven
central.

Are you going to upgrade fully to kotlintest in the future?

On Thu, 30 May 2019, 08:30 Yaroslav Shlapak, <notifications@github.com>
wrote:

[2019-05-31 19:10] sksamuel opened #797 "Exception did not fail build"
Maybe related to the other task you've been working on @Kerooker

Gradle Test Executor 1 STANDARD_ERROR
    May 31, 2019 7:06:43 PM org.junit.platform.launcher.core.DefaultLauncher handleThrowable
    WARNING: TestEngine with ID 'kotlintest' failed to discover tests
    java.lang.ExceptionInInitializerError
    	at java.base/java.lang.Class.forName0(Native Method)
    	at java.base/java.lang.Class

[2019-06-02 13:40] kelly-yinn commented on #790
Hi, so sorry for my late reply.
I have created a pull request: https://github.com/kotlintest/kotlintest/pull/798.

And I mocked `now(zoneId)` for 3 classes: `ZonedDateTime`, `OffsetDateTime` and `LocalDateTime`, also I put the reasons why I did not mocked the `now(zoneId)` for other classes in the PR description.

There may some errors，typos  and ugly code exist for my lack of experience, so sorry

[2019-06-02 14:55] #783 closed, assigned to nobody

[2019-06-03 10:05] lenalebt opened #799 "KotlinTestEngine does not obey JUnit5 extension points"
Hi together,
I am currently trying to use Kotlintest together with Micronaut (https://docs.micronaut.io/latest/guide/index.html). Micronaut has some integration with JUnit5, and I am able to run tests with JUnit5.

However, I'd like to use Kotlintest. Digging on why it does not work correctly, I stumbled upon the `KotlinTestEngine` and as far as I understand, it does not emit the callbacks defined

[2019-06-03 10:12] lenalebt commented on #799
This is how the micronaut integration works: https://github.com/micronaut-projects/micronaut-test/blob/master/test-junit5/src/main/java/io/micronaut/test/extensions/junit5/MicronautJunit5Extension.java

As you can see, they make heavy use of the callback mechanisms of JUnit5. I could not see any of that in https://github.com/kotlintest/kotlintest/blob/master/kotlintest-runner/kotlintest-runner-jun

[2019-06-03 10:13] yaroslav-shlapak commented on #789
On that particular project, it might be hard to do because it has 1600+ unit tests. But I'm started converting test suite on the small side project from Spek to KT and have several questions.

Suppose we have next test suite
[code]
Does KT provide some tools to make globalFixture or group0Fixture fresh for every test?

[2019-06-03 10:50] yaroslav-shlapak commented on #789
Another question, is it possible to run tests with KT plugin runner for package containing several other packages with tests?

[2019-06-03 10:52] sksamuel commented on #799
I think we can add those interfaces pretty easily. Let's target this for 3.4

[2019-06-03 10:55] sksamuel commented on #789
So like run tests for a parent package only ?

On Mon, 3 Jun 2019 at 05:50, Yaroslav Shlapak <notifications@github.com>
wrote:

[2019-06-03 11:20] lenalebt commented on #799
Sounds good for me. I can work around some of the limitations for some time by manually creating application contexts etc :)

[2019-06-03 11:33] LeoColman commented on #766
Ok, so here's the thing. I didn't quite find an easy way to fix #767, but It's been a while since our last release. What do you think of postponing #767 for another release, and get this release out there? We have lots of fixes and lots of small features to go!

[2019-06-03 11:36] LeoColman commented on #766
We should, however, focus on getting #797 and #771 on the next release tho. They're a serious bug. Perhaps they're solved on the branch I pushed, but I'm not completely sure, you'll need to take a look

[2019-06-03 11:47] sksamuel commented on #766
I will fix 771 for 3.3.3. I am looking at your code now.
It is important we fix this immediately as it's a complete blocker IMO

On Mon, 3 Jun 2019 at 06:36, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-06-03 20:56] sksamuel opened #800 "An error with shouldRight doesn't display a useful stack trace"
java.lang.AssertionError: Left(a=error) is of type class arrow.core.Either$Left but expected arrow.core.Either.Right

Then the stack trace is to the unit test definition, not the code point.

[2019-06-03 21:11] sksamuel commented on #800
think this just might have been me

[2019-06-03 21:11] #800 closed, assigned to nobody

[2019-06-03 21:33] sksamuel opened #802 "use contracts for arrow matchers"
shouldBeLeft() { left -> }
shouldBeRight() { right ->

@Kerooker would this work or does it need generic contracts?

[2019-06-03 22:24] LeoColman commented on #681
I think we decided to keep assertions here for the moment. They're already a separate module, and people can follow all subprojects at once here.

If this need arises again in the future, we can revive this issue and keep the discussion going.

For now I'll close this.

[2019-06-03 22:24] #681 closed, assigned to nobody

[2019-06-04 10:49] yaroslav-shlapak commented on #789
What I mean is the ability to run all tests in a package by clicking the right mouse button on the package and selecting "Run as Kotlin Test". I'm able to run tests with JUnit or Spek runner, but not by KT runner. KT runner is only able to run tests from the corresponding file.

[2019-06-04 11:15] sksamuel commented on #789
Ok I understand. We'll add that.

On Tue, 4 Jun 2019 at 05:49, Yaroslav Shlapak <notifications@github.com>
wrote:

[2019-06-04 11:43] yaroslav-shlapak commented on #789
@sksamuel  are there any options to set new fixture for each test? It should work similarly to @BeforeEach annotation but for the variable instead of function. In Spek there is next construction:
`val freshFixture by memoized { initFreshFixture() }` - which means that `freshFixture` will be reinitialized for every downward test in the current scope.
Is there something similar in Kotlin Test?

[2019-06-04 11:45] sksamuel commented on #789
In KT you don't need to bother with fixtures. Just make a val in your class and then set the isolation mode. Then KT will create a fresh instance of the test class (and thus the val) for every test.

[2019-06-04 12:24] yaroslav-shlapak commented on #789
Got it. So basically what I need is described [here](https://github.com/kotlintest/kotlintest/blob/master/doc/isolation_mode.md)
Thank you @sksamuel !

[2019-06-04 12:37] #704 closed, assigned to LeoColman

[2019-06-04 16:16] LeoColman commented on #802
This likely needs the generic contracts.
But what would this be for? To infer Right type, for example?

[2019-06-04 16:16] LeoColman commented on #802
Or to infer that there's no right if left returns?

[2019-06-04 16:17] LeoColman commented on #794
I think we can do that with listeners, can't we?

[2019-06-05 16:13] sksamuel opened #808 "Bug with discovery"
Gradle Test Executor 1 STANDARD_ERROR
    Jun 05, 2019 4:11:07 PM org.junit.platform.launcher.core.DefaultLauncher handleThrowable
    WARNING: TestEngine with ID 'kotlintest' failed to discover tests
    java.lang.ExceptionInInitializerError
    	at java.base/java.lang.Class.forName0(Native Method)
    	at java.base/java.lang.Class.forName(Class.java:291)
    	at io.kotlintest.runner.jvm.TestDisc

[2019-06-05 16:58] sksamuel opened #809 "Generate junit report even when no tests"
Our Jenkins job requires a junit test report or the build files.
Switching to KotlinTest and the build fails. We need to make sure we generate a report in the same way junit does.

[2019-06-05 17:08] LeoColman commented on #809
Interesting...
I use KotlinTest + Jenkins, and I usually manually check results from JUnit

Never had a problem with that. Can you explain a little more what is going on?

[2019-06-05 17:21] sksamuel commented on #809
[code]

[2019-06-05 17:22] sksamuel commented on #809
But it does generate something.
[code]

[2019-06-05 21:24] LeoColman opened #810 "Add matchers for Throwables"
Throwables are usually tested regarding the message they'll display, the exception that caused them, and perhaps the stacktrace(this may be rarer.)

I usually see code like

[code]

Of course, this can be reduced to testing with a `shouldThrow` of some sort. But the point is, these matchers are always in the exact format.

So I propose

[code]

Maybe other matchers will fit here (such as `localize

[2019-06-05 21:29] LeoColman opened #811 "ShouldThrow matchers should allow testing for message and cause"
I said something about this at #810, but it can be a different issue.

I usually see code used with `shouldThrow` being used in this fashion:

[code]

We should come up with a syntax to allow the `shouldThrow` matchers (all of them, of course) to explicitly test for the message.

An idea would be to optionally receive a message parameter:

[code]

But I don't like this approach.

What I usually se

[2019-06-05 21:29] sksamuel commented on #810
What is "thrown" in this case ?

[2019-06-05 21:30] sksamuel commented on #811
I tend to do the latter.

[code]

[2019-06-05 21:38] LeoColman commented on #810
Sorry, it's the thrown exception.

Simple use case:
[code]

[2019-06-06 00:44] sksamuel commented on #810
Well it doesn't hurt to add them.

What about also,

someFunc(1,2).shouldThrow {
  it.message shouldBe "some msg"
  ...
}

On Wed, 5 Jun 2019 at 16:38, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-06-06 01:15] LeoColman commented on #810
I don't think that's a valid syntax. The function would already be executed, wouldn't it?

[2019-06-06 01:16] sksamuel commented on #810
Yes good point I'm being stupid

On Wed, 5 Jun 2019, 20:15 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-06-06 01:18] LeoColman commented on #810
It could be an extension to a function, and then

[code]

but that seems odd hahha

[2019-06-06 01:43] LeoColman commented on #810
But I liked the idea of having access to the throwable inside the lambda
It's currently `() -> Unit`

[2019-06-06 01:57] sksamuel commented on #810
Yeah but it's a bit pointless if you already have the exception. Then you
might as well just do exception.message.shouldBe ""

On Wed, 5 Jun 2019 at 20:43, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-06-06 14:20] sksamuel opened #812 "Add gatling support"
https://gatling.io/

It uses it's own runner at the moment.

[2019-06-06 15:11] LeoColman commented on #776
Perhaps this can be solved with IsolationMode. Could you take a look, @dtieber?

[2019-06-07 04:41] RishuKS commented on #622
Hi @jeremad ,
I am also facing the same issue not able to create test in build.gradle. When i have created test in another way than error is not showing but my test is not getting executed. could you please help me how you resolved this issue.
Go through this link to find more details about my problem [https://stackoverflow.com/questions/56454564/not-able-to-execute-testng-xml-file-from-gradle-com

[2019-06-07 08:49] jeremad commented on #622
Did you check out https://github.com/kotlintest/kotlintest#gradle
I updated the documentation following my trouble.

Basically you should add `testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.3.2'` in the `dependencies` section, and this:
[code]

[2019-06-07 08:52] jeremad commented on #622
However it does not look like you are using kotlin test

[2019-06-07 14:07] sksamuel opened #813 "Coroutine Matchers"

[2019-06-07 18:20] master-bytes-krafter commented on #774
Hello all,
FYI I started working on the implementation of this feature. One question, how fast you guys check and integrate pull request ?
Regards

[2019-06-07 18:27] sksamuel commented on #774
We are lightning fast :p

On Fri, 7 Jun 2019 at 13:20, master-bytes-krafter <notifications@github.com>
wrote:

[2019-06-07 22:51] matheusmessora commented on #793
Based on Awailitiy, this is called Pooling.
Also, should be great if we create a default configuration from Duration and Pooling.
At the moment, `eventually` calls a while(true) method.

[2019-06-08 17:41] sksamuel opened #815 "Must allow seeding of the random values in gens"

[2019-06-09 04:56] sksamuel opened #816 "Figure out why kotlintest brings in logging to other projects"
Everytime I start a new project, I get loads of kotlintest logging.
Now, simply having the logging statements shouldn't matter. Something is bringing in a logging configuration and I think it's KT. Although the log4j dependencies are only in test scope.

[2019-06-09 04:56] sksamuel commented on #816
Same issue as this, although I'm not using spring boot.
https://github.com/kotlintest/kotlintest/issues/394

[2019-06-09 04:57] sksamuel commented on #815
Probably can be done as part of https://github.com/kotlintest/kotlintest/issues/796

[2019-06-09 17:58] sksamuel commented on #793
Yeah we must improve eventually. I looked at awatility and it seems to be basically the same as our eventually.

I think what we need to support are different durations, different polling methods, and what awaitility calls conditional evaluation listeners. https://github.com/awaitility/awaitility/wiki/Usage#condition-evaluation-listener

Happy for anyone to pick up this or I can tackle it.

[2019-06-09 18:01] sksamuel commented on #779
Duplicate of #815

[2019-06-09 18:04] sksamuel commented on #812
This may require our own gradle plugin however.

[2019-06-09 18:06] sksamuel commented on #774
If we have something workable we can target 3.4 for this.

[2019-06-09 19:22] LeoColman commented on #816
Perhaps the user's configuration isn't blocking KotlinTest, and we should add a config to explicitly block it?

[2019-06-10 14:34] matheusmessora commented on #793
I'll try to work on that

[2019-06-10 14:57] master-bytes-krafter commented on #774
After testing for two days here are my thoughts:

- This feature is not quite simple to implement => specs dependencies need to be handled differently than test dependencies. Top level tests do not have a config (not 100% sure though)
- However i found a possible workaround that is acceptable for my use case and it works right now, it involves the fact that tests order and specs execution order ca

[2019-06-10 15:24] sksamuel opened #817 "Some new matchers to add"
Pair.shouldBePair(x,y)
File.isSymbolicLink
Path.isSymbolicLink
File.shouldHaveParent
Path.shouldHaveParent
Number.shouldHaveRoot

The URI matchers should also work on URLs. I'll make another ticket covering that.

[2019-06-10 15:25] sksamuel opened #818 "The URI matchers should also work on URLs."
Good first ticket for a new contributor.

[2019-06-10 15:25] sksamuel commented on #816
I've created a blank project with no other deps and it still happens. So it's either KotlinTest to blame or something KT brings in.

[2019-06-10 15:26] sksamuel commented on #802
For example,

[code]

Do we need generic contracts for this ?

[2019-06-10 15:51] LeoColman commented on #793
We're here to help if needed.

[2019-06-10 15:52] LeoColman commented on #774
We recently added a way to skip tests in runtime, by throwing the `SkipTestException` #522 .

It's pending release, but you can use the snapshot if needed for the moment

[2019-06-10 15:54] LeoColman commented on #817
I'll split this is some isues, so contributors can tackle one at a time, ok?

[2019-06-10 16:01] sksamuel commented on #817
Absolutely.

On Mon, 10 Jun 2019 at 10:54, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-06-10 16:01] sksamuel commented on #817
Plus add anymore you think of.

On Mon, 10 Jun 2019 at 11:00, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-06-10 16:01] LeoColman commented on #817
Sure xD

[2019-06-10 16:24] LeoColman opened #819 "ShouldBeZero matcher"
`Int`, `Double`, `Long`, (...) should have a special matcher to verify if it's zero.

This matcher should also have an opposite, to verify it's not zero.

[code]

Special cases to pay attention to: `Double.NaN` and `Double.POSITIVE_INFINITY`/`Double.NEGATIVE_INFINITY`.

These can be added to the `kotlintest-assertions` module. There can be a matcher for each numeric type, or a `Number` matcher tha

[2019-06-10 16:30] LeoColman opened #820 "ShouldBeToday matcher"
Sometimes we want to verify it a specific date/DateTime is today's date. For example when registering a Database Entity with a Creation Date (set to now).

[code]

This can be added to `kotlintest-assertions` module, to the package `io.kotlintest.matchers.date`.

You can add one method for each possible implementation, or create a generic one if you find a way.

A tip for the generic one may be in

[2019-06-11 08:32] jeremad commented on #622
I cannot help you more, you're in the wrong repository

[2019-06-11 16:20] LeoColman opened #821 "New matchers for BigDecimal: isZero, precision, scale, positive, negative"
We have many matchers for Numeric types, but not any matcher for BigDecimals.

We should include some, in a new package: `io.kotlintest.matchers.bigdecimal`, in the `kotlintest-assertions` subproject.

Some matchers that should be included (don't forget to add the negated version):

[code]

among others, if you find it necessary.

Remember to update the documentation as well, to add a new section:

[2019-06-11 16:23] #781 closed, assigned to nobody

[2019-06-11 18:15] sksamuel opened #822 "field extraction based matchers"
AssertJ has the ability to run assertions against arbitrary fields that you don't know at compile time.

So something like,

`any.shouldHaveFieldValue("field", "value")`

We can extract a type too

[code]

[2019-06-11 18:32] mikezx6r commented on #822
Here's docs for recursive comparison. https://assertj.github.io/doc/#assertj-core-recursive-comparison

[2019-06-11 18:57] sksamuel opened #823 "Multi-line-string comparison for file contents"
AssertJ performs multi-line string comparison on file contents automatically.
Can KotlinTest do the same ?

[2019-06-11 19:03] LeoColman commented on #813
How would this work?

[2019-06-11 19:03] LeoColman commented on #822
Wouldn't this make your test very dependant on the implementation?

Explicitly typing the field to the test doesn't seem a very good practice IMO

[2019-06-11 19:04] LeoColman commented on #813
How would this work?

[2019-06-11 19:38] sksamuel commented on #822
It might not be the preferred approach but it's quite popular in assertJ so we should offer it as well. A use case is testing code that works reflectively.

[2019-06-11 19:58] sksamuel commented on #813
https://github.com/Kotlin/kotlinx.coroutines/tree/master/kotlinx-coroutines-test

[2019-06-11 20:21] LeoColman commented on #691
Ok, so I was thinking on how to do this guy

I didn't find anything about benchmarking algorithms.

I think that perhaps our starting point can be something like

[code]

[code]

and we can validate that against many common algorithms, just to be sure.

What do you think?

[2019-06-11 20:40] sksamuel commented on #691
Yeah I think that's great.

But maybe,

shouldBeLinear {
}

And it comes with built in values - 2 4 8 16 32 64 etc and each time we
double, the time taken should be roughly double right (with some kind of
approximation allowed).

Maybe you can do

shouldBeLinear(iterations) {

}

and iterations is the power of 2.

On Tue, 11 Jun 2019 at 15:21, Leonardo Colman Lopes <
notifications@github.com> wrot

[2019-06-11 20:44] LeoColman commented on #691
I was thinking that we should use the user's generator, and not just give
them an integer.

On Tue., Jun. 11, 2019, 17:40 Stephen Samuel, <notifications@github.com>
wrote:

[2019-06-11 20:51] sksamuel commented on #691
I see what you're saying.
We will need to pass an int in to the system so the user can use that as
the number of items or whatever.

On Tue, 11 Jun 2019 at 15:44, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-06-11 20:54] LeoColman commented on #691
With a generator we  can take any amount we want, instead of premade. But i
guess the amount may be customizable

On Tue., Jun. 11, 2019, 17:51 Stephen Samuel, <notifications@github.com>
wrote:

[2019-06-11 21:51] reckter opened #824 "Coding Style"
Is there a reason that this project is using 2 instead of 4 spaces?
And have you considered using a linter? https://ktlint.github.io is a good, no configuration one, that follows the Kotlin coding convention.

I just wanted to contribute, but that 2 spacing rule really threw my IntelliJ and myself way of. Auto formatting is throwing a fit with the project files sadly :/

[2019-06-11 23:55] LeoColman commented on #824
@sksamuel May answer you due to why we chose this

But as a tip, you can customize IntelliJ style warnings per project on it's settings, that way it won't complain about 2 space indentation and will correct that for you

[2019-06-12 03:01] sksamuel commented on #824
I was a Scala developer for 8 years and picked the style up there. Don't you think it's much nicer?
Even if not, you can just ignore it, feel free to submit a PR with 4 spaces, I don't mind.

[2019-06-12 03:14] sksamuel commented on #823
So, in other words, File("foo").shouldHaveContent(File("other")) should use the multi-line-string comparison output if they are both text files.

[2019-06-12 03:14] #808 closed, assigned to nobody

[2019-06-12 03:15] sksamuel commented on #808
This seems to have fixed itself.

[2019-06-12 06:40] reckter commented on #824
I think it always looks a bit cramped to the left, and following the coding standard of the language helps others conteibute. Ktlint is a great way to enforce these rules very easily.

Just my two cents :)

[2019-06-12 10:20] sksamuel commented on #824
You mean four cents :)

On Wed, 12 Jun 2019, 01:40 Hannes Güdelhöfer, <notifications@github.com>
wrote:

[2019-06-12 11:43] sksamuel opened #826 "Highlight diff when comparing data classes"
[code]

should output something like

[code]

[2019-06-12 11:44] sksamuel commented on #823
This could be 3.5 depending on how we do time wise.

[2019-06-12 11:45] sksamuel opened #827 "KotlinTest Roadmap 3.5"
- [ ] - Multi-line-string comparison for file contents #823
- [ ] - Coroutine Matchers #813
- [ ] - Generators for arrow types #701
- [ ] - KotlinTestEngine does not obey JUnit5 extension points #799
- [ ] - Highlight diff when comparing data classes #826
- [ ] - Dependent tests #774
- [ ] - General improvements to property testing #815 #796 #780
- [ ] - Property testing don't accept suspended lam

[2019-06-12 11:47] sksamuel commented on #819
This could go in either 3.4 or 3.5 depending on time.

[2019-06-12 11:47] sksamuel commented on #802
I'll put this in 3.4 for now as it's quite exciting to me, but it could go to 3.5 if needed.

[2019-06-12 11:50] sksamuel commented on #787
Some really nice formatting examples of test output.

![image](https://user-images.githubusercontent.com/743706/59349052-55b40400-8cde-11e9-8daa-85b182e075e3.png)

https://github.com/radarsh/gradle-test-logger-plugin

[2019-06-12 11:51] sksamuel commented on #787
![image](https://user-images.githubusercontent.com/743706/59349107-72e8d280-8cde-11e9-8aa1-ff69372fc217.png)

[2019-06-12 17:57] sksamuel commented on #826
This might be useful to take into account.
https://assertj.github.io/doc/#assertj-core-recursive-comparison

[2019-06-12 18:38] sksamuel opened #828 "New date matchers"
We should make sure we have matchers for all the parts of a date.

Like

`date.shouldHaveMinute(1)`
`date.shouldHaveDayOfWeek(3)` and so on

[2019-06-13 02:54] mikezx6r commented on #822
If you decide to implement this feature, I'd suggest focusing on the Recursive Comparison. This does use reflection and is very helpful for verifying conversion/DTO transformation code.

Create the expected object, execute the test code, and then compare the actual object to the expected. Any fields that don't match will be flagged. Additionally, can ensure all fields are non-null (if that's a req

[2019-06-13 03:11] sksamuel commented on #822
I think it's a great feature. I'm 100% in support.

[2019-06-13 03:12] sksamuel commented on #822
I think the recursive comparison is more covered in #826 actually.

[2019-06-13 18:56] sksamuel commented on #809
`junit '**/build/test-results/test/*.xml'` from jenkins pipeline

[2019-06-13 19:05] sksamuel opened #829 "Add mode to SystemEnvironmentProjectListener etc"
The mode should allow us to control when the env is added - always or only if it doesn't already exist.

`SystemEnvironmentProjectListener("ENV_NAME", "test", Mode.OVERWRITE)`

vs

`SystemEnvironmentProjectListener("ENV_NAME", "test", Mode.CREATE)`

[2019-06-13 19:45] sksamuel opened #830 "Launching coroutine in test lambda does not attach to the correct scope"
Seems like its not handled so the test doesn't complete properly.

[2019-06-13 19:50] LeoColman commented on #830
This seem critical.

I think the reason is tge same as before failing. I'll look into it.

We should release a fix ASAP

On Thu., Jun. 13, 2019, 16:45 Stephen Samuel, <notifications@github.com>
wrote:

[2019-06-13 19:51] sksamuel commented on #830
Agreed.
I've commented on your other fix, so once that's addressed and this, lets
release 3.3.3

On Thu, 13 Jun 2019 at 14:50, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-06-13 19:53] sksamuel commented on #830
Ok so this only happens if you're using the intellij kotlintest plugin.
If you're using the junit one it's fine.

On Thu, 13 Jun 2019 at 14:51, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-06-14 16:40] matheusmessora commented on #793
The actual eventually receives all the data inside the method parameters. For a non-breaking change, we can add more parameters with default values.

My suggestion is to create a "new" eventually. Maybe _`eventual`_ returning a factory with customizable methods. Similar to awaitility.
This will improve the extensibility of the _eventual_ function.
The polling interval by the default is already con

[2019-06-14 16:45] LeoColman commented on #793
Perhaps we can use the `eventually` construct, but deprecating the current `eventually` in favor of the builder alternative, and remove it in the future.

But I believe that using a `builder` is too much Javalistic, and we should come up with a better DSL for it (I don't have any suggestions yet :P)

[2019-06-14 17:08] Mahoney opened #833 "Specs that fail in initialisation fail a Maven build"
KotlinTest fails to notify the Maven Surefire plugin properly via the
JUnit platform if a spec throws an exception during initialisation.

See https://github.com/Mahoney/maven-kotlintest for an example of the
problem.

Would be fixed if #832 is merged.

[2019-06-14 17:57] matheusmessora commented on #793
Do you have a example of a good one?
_PS: I came from Java. Don't judge me_

[2019-06-15 04:17] sksamuel commented on #793
eventually(polling = exponential(8), delay = 4.seconds, ..... and so on) {

}

Then you can do

eventually {

}

If you're happy with the defaults.

And it's 100% backwards compatible.

On Fri, 14 Jun 2019 at 12:57, Matheus Messora <notifications@github.com>
wrote:

[2019-06-15 05:15] sksamuel commented on #612
Partial implementation added via #834

[2019-06-15 19:43] sksamuel opened #835 "Gradle Plugin Failure Output Improvements"
For our gradle plugin I'd like to highlight the lines in a stack trace that are most useful. For example you might choose to highlight your own package names.

![image](https://user-images.githubusercontent.com/743706/58475064-8ad32a80-8112-11e9-9990-edd868efdfb9.png)

[2019-06-17 14:56] sksamuel opened #836 "Add matchers for Result"
Jetbrains added the `Result` type, a bit like the `Try` type from arrow.
We should add matchers for this.

[2019-06-17 15:00] LeoColman commented on #833
Fixed as per #832

[2019-06-17 15:00] #833 closed, assigned to nobody

[2019-06-17 15:59] sksamuel opened #837 "Before/AfterSpec and before/afterTest should support suspendable functions"

[2019-06-17 21:49] sksamuel opened #838 "New file matcher for contains deep"
`path.containsFileDeep(child: String)`

Searches the given path for the child. It can be either be a direct child or a deep child.

[2019-06-17 21:57] sksamuel commented on #809
So the bug is that having no tests doesn't generate a test report file.
It should probably generate the file but have count=0 in the XML.

[2019-06-19 06:25] sksamuel commented on #811
[code]

or simplyy

[code]

Even
[code]

Or
[code]

But I'm not sure what we have is that bad.

[2019-06-19 14:10] sksamuel opened #841 "Add print statement for config"
To make it clear project config was discovered

[2019-06-19 20:14] sksamuel opened #842 "Allow setting isolation mode in project config"

[2019-06-20 13:15] sksamuel commented on #774
@master-bytes-krafter you can use a `TestExtension` if you want to control whether a test is executed at runtime. Note: That is different from a `TestListener`.

[2019-06-21 07:49] kdabir opened #849 "Configurable location of .kotlintest dir"
From the source,  it looks like the [current location](https://github.com/kotlintest/kotlintest/blob/88afb914d145f1e1244c779358cd05ab1e040038/kotlintest-runner/kotlintest-runner-junit5/src/main/kotlin/io/kotlintest/runner/junit5/JUnitTestRunnerListener.kt#L112) is relative to CWD .

Ideally, `.kotlintest` dir should be created inside build directory so that it can get cleaned when we run the build

[2019-06-21 13:24] sksamuel opened #850 "Increasing/Decreasing list/seq matchers"
list.shouldBeMonotonicallyIncreasing // 1,2,2,2,3,3,5,6
list.shouldBeStrictlyIncreasing // 1,2,7,8

same for decreasing.

Could work on any type that we have a comparator for as well as the built in common types.

[2019-06-21 13:28] sksamuel opened #851 "Stats matchers"
list.shouldHaveMean(123.45)
list.shouldHaveStandardDeviation(55.123)
list.shouldHaveVariance(9.4)

[2019-06-21 13:30] sksamuel opened #852 "Assertions count"
It would be good if we could fail a test if no assertions were called in that test (perhaps optionally).
Sometimes you may write a test with some callback or async code and it's not obvious that the assertions were not invoked.

[2019-06-21 13:31] sksamuel opened #853 "New string matchers"
string.shouldBePalindrome()
string.shouldBeOneLine()

[2019-06-21 13:33] sksamuel opened #854 "New file matchers"
dir.shouldContainFilenames("a.txt", "b.gif")

[2019-06-21 13:33] sksamuel opened #855 "new KTor matchers"
response.shouldHaveCookie("name", "value")

[2019-06-21 14:00] #838 closed, assigned to nobody

[2019-06-21 14:02] #842 closed, assigned to sksamuel

[2019-06-21 18:03] sockeqwe opened #856 "Discovering Test failed in Android Project"
Hi,
I'm pretty sure I messed up something in my configuration of my android app but I couldn't find out yet what the problem could be.

If I start a `BehaviorSpec` from my (jvm) tests (not android instrumentation tests) I get the following error:

I'm using the latest version of kotlin test and have also configured it as I did in other projects (android libraries) before and there it works seamles

[2019-06-21 18:37] #818 closed, assigned to nobody

[2019-06-22 15:49] #854 closed, assigned to nobody

[2019-06-22 15:51] sksamuel opened #858 "Global timeout"

[2019-06-22 19:59] sksamuel opened #859 "beforeProject / afterProject in TestListener is confusing"
These methods won't be invoked in a test listener, so they should be in some kind of project listener.

[2019-06-22 20:00] alladywek commented on #859
small example:

[code]

[2019-06-23 20:31] faogustavo commented on #836
I was trying to do this, but, unfortunately, I started to face some kotlin issues (I guess).
For some unknowing reason, the generic types influence on the Result class.
Here is the snippet that I made to test this.

[code]

The result is this :point_down:
[code]

For some reason, when I pass the result to a generic, it creates a new "Success Result" and instead of getting "Test 01" from the `.getO

[2019-06-23 21:58] #819 closed, assigned to nobody

[2019-06-25 11:09] faogustavo commented on #856
change the library implementation from junit5 to junit4.

[code]

[2019-06-25 11:16] faogustavo commented on #836
@sksamuel @Kerooker :point_up:

---

I also create an issue on [kotlin issue tracker](https://youtrack.jetbrains.com/issue/KT-32228). Didn't find any similar bug.

[2019-06-25 18:20] LeoColman commented on #836
I see.

I'll comment about this in KotlinLang's Slack, let's see if it's indeed a bug.

We can keep this on-hold for a bit :/

[2019-06-25 18:23] LeoColman commented on #859
I removed the bug label, I don't think this is a bug.

It's confusing tho xD

[2019-06-25 18:24] LeoColman commented on #859
How to deprecate this without breaking client code?

Currently, any user is implementing project listeners using the TestListener.

[2019-06-25 18:24] LeoColman commented on #858
Would this mean setting a test timeout in project config?

[2019-06-25 18:29] sksamuel commented on #858
Yes.

On Tue, 25 Jun 2019, 13:24 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-06-25 18:29] sksamuel commented on #859
Maybe just deprecate it from TestListener and then add a new
ProjectListener.

On Tue, 25 Jun 2019, 13:24 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-06-25 18:37] Dico200 commented on #836
The type T is a Result itself. So your `value` in your `test` override is a `Result<Result<*>>`

[2019-06-25 18:40] Dico200 commented on #836
Please swap the generics for concrete types and see if you can find the problem, this code is very unreadable here like this

[2019-06-25 18:52] LeoColman commented on #853
should be palindrome lol

[2019-06-25 18:52] LeoColman commented on #853
Have you actually found a use case to this?

[2019-06-25 18:53] LeoColman commented on #849
Agreed!

[2019-06-25 18:54] LeoColman commented on #612
Can this be closed?

[2019-06-25 18:54] LeoColman commented on #793
I liked your example, @sksamuel

[2019-06-25 19:30] sksamuel commented on #612
Yep

On Tue, 25 Jun 2019 at 13:54, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-06-25 19:44] sksamuel commented on #853
No :)

On Tue, 25 Jun 2019 at 13:52, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-06-25 19:44] sksamuel commented on #853
One line yes.

On Tue, 25 Jun 2019 at 14:43, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-06-25 20:51] alladywek opened #863 "Use expression for tags instead of include/exclude"
Tags are defenitely good idea to group your tests but current include/exclude implementation doesn't provide enough flexibility.
I want to use simple expressions like in [Junit5](https://junit.org/junit5/docs/current/user-guide/#running-tests-tag-expressions)
It will give users write simple and readable expressions:

It could be implemented as extension or replace current solution in next release.

[2019-06-26 10:22] faogustavo commented on #836
As I showed on the code that I posted before, I already tried without generic and it works. Unfortunately, the entire library is built upon those generics and doesn't make any sense to change that. Or even create a lot of repetition just for that.

They commented on the issue on kotlin issue tracker that it's a bug on kotlin/jvm about boxing/unboxing. They already added the task as a subtask from

[2019-06-26 14:12] LeoColman commented on #863
I'm not sure if I understood why `include/exclude` is inflexibile, can you develop a little bit more on that idea?

[2019-06-26 14:13] #612 closed, assigned to sksamuel

[2019-06-26 14:15] #824 closed, assigned to sksamuel

[2019-06-26 14:16] sksamuel commented on #863
I guess it's like run this test only if tag x is present and tag y is not present

[2019-06-26 16:02] faogustavo commented on #855
We already have this. I think we can close this issue.

[2019-06-26 16:16] LeoColman commented on #855
Good catch.
https://github.com/kotlintest/kotlintest/blob/6f1ea06cf61d72ff12d95b1aec8931110f7fe7be/kotlintest-assertions/kotlintest-assertions-ktor/src/main/kotlin/io/kotlintest/assertions/ktor/ResponseMatchers.kt#L47

[2019-06-26 16:16] #855 closed, assigned to nobody

[2019-06-26 16:52] alladywek commented on #863
[code]
How can we run only `Atest3`?
with expression:

or if only spec `A` exists:

How can we run only `Atest1` and `Atest2`?
with expression:

or if only spec `A` exists:

What if I need run tests with `Tag2` only from spec `A` and `B`, but I have a lot of other specs where I use `Tag2`?
My point that expression is quite easy way to configure it with one property and readable syntax.

[2019-06-26 18:38] faogustavo commented on #811
Why not just keep the same "syntax" and just add some throwable matchers?
Playing with the lib, I built those:

| Throwables / Exceptions | |
| ---- | --- |
| `throwable.shouldBeOfType<T>()` | Asserts that the throwable is of type T. |
| `throwable.shouldBeExactlyOfType<T>()` | Asserts that the throwable is **exctly** of type T. |
| `throwable.shouldHaveMessage(message)` | Asserts that the throwab

[2019-06-26 18:46] LeoColman commented on #811
We suggested that earlier.

If you're ok with doing this, feel free to PR these matchers! They'll be really helpful!

[2019-06-28 08:08] fsonntag opened #5539 "Template and Run/Debug configuration lost after closing IntelliJ"
When running tests over KotlinTest, I need to provide VM options. Some I keep in the Templates, some I want to store in only specific configurations.

Nevertheless, they don't seem to survive the current session, i.e. after restaring IntelliJ the VM options of the Template and of the specific configurations are gone.

This does not happen with configurations of other types, e.g. JUnit though.

Is

[2019-06-28 15:53] sksamuel commented on #5539
I thought I had fixed that in the latest version. If not I will fix it.

On Fri, 28 Jun 2019 at 03:08, Felix Sonntag <notifications@github.com>
wrote:

[2019-06-28 15:56] fsonntag commented on #5539
Thanks for the quick reply, that would be great. I saw that the latest plugin version is `3.3.0.11`, while there's already kotlintest `3.3.2`. Maybe the plugin was just not updated in the Marketplace?

[2019-06-28 16:00] sksamuel commented on #5539
I'm not keeping the numbers in exact sync. 3.3.0.11 is the latest.

On Fri, 28 Jun 2019 at 10:56, Felix Sonntag <notifications@github.com>
wrote:

[2019-06-29 19:13] faogustavo commented on #841
The configs you say is the `TestCaseConfig` or the `AbstractProjectConfig`?

[2019-06-29 19:30] sksamuel commented on #841
ProjectConfig.

Something like:

"Config discovered.....<details>"

On Sat, 29 Jun 2019 at 14:13, Gustavo Fão Valvassori <
notifications@github.com> wrote:

[2019-06-30 18:20] faogustavo commented on #841
Can be something like this?

![image](https://user-images.githubusercontent.com/7588480/60400476-83a49f80-9b4a-11e9-8ce5-1ebc52eb8a4e.png)

[2019-06-30 18:48] sksamuel commented on #841
Looks awesome.
I would make the true or false or single value ones on the same line though
to avoid taking up too much space.

On Sun, 30 Jun 2019, 13:20 Gustavo Fão Valvassori, <notifications@github.com>
wrote:

[2019-07-01 01:51] sksamuel commented on #836
What's wrong with something like this: https://pl.kotl.in/zpkSnkEeD
That works, and you can add in the shouldBeFailure complement.

[2019-07-01 01:53] #841 closed, assigned to nobody

[2019-07-01 01:59] wevnasc commented on #821
I am working on it.

[2019-07-01 02:15] faogustavo commented on #836
The problem is when you add one more level of [complexity like this](https://pl.kotl.in/8vLlEN0_q).
There is an issue that makes our syntax buggy.
If you look carefully, you will see that in the message, instead of getting `Expecting Success(Test 01) to be Wibble`, we go `Expecting Success(Success(Test 01)) to be Wibble`. There is an "extra" Success being "added" when the value is passed as a para

[2019-07-01 03:09] sksamuel commented on #836
We could do it without the infix version for now: https://pl.kotl.in/5RZM9cKCT
And then add the infix version once they fix the bug ?