[2021-09-10 19:40] sksamuel commented on #2447
runBlocking won't be available on JS unfortunately.
We should be able to do this purely though coroutine contexts, by adding the clue into the context, and then pulling it out after the block runs.

[2021-09-10 19:48] OliverO2 commented on #2447
`runBlocking` just serves as an example for a place where a top-level coroutine context is created. In my prototype implementation, it would be the Kotest user's responsibility to insert the required `ErrorCollector.contextElement` into each top-level context.

Ideally, there would be an injection opportunity for the Kotest library to specify a set of default context elements, which are automatica

[2021-09-10 19:59] sksamuel commented on #2447
Right.

Thinking about this, any reason we can't do

[code]

[2021-09-10 20:04] sksamuel commented on #2378
Did you get any further with this @sielenk

[2021-09-10 20:05] sksamuel commented on #2313
@jschneidereit

[2021-09-10 20:07] OliverO2 commented on #2447
Yes, that should work for clues.

I'm not too familiar with soft assertions. Does it seem feasible to come up with a solution for those which avoids accessing an `ErrorCollector`?

[2021-09-10 20:11] sksamuel commented on #2447
The error collecting is the mechanism by which we collect errors as they happen. We're kinda stuck a bit there as the Matcher interface is not suspending and that can't be changed.

Inside matcher, when an assertion throws, it checks to see if there's a thread local error collector and if so, adds to that rather than hard throwing.

What would be better is if matcher was suspendable, we could look

[2021-09-10 20:23] sksamuel commented on #2447
We can prob do a trick where each time a coroutine is suspended and resumed
we swap out the thread local copy.

On Fri, 10 Sep 2021, 15:07 OliverO2, ***@***.***> wrote:

[2021-09-10 20:27] jschneidereit commented on #2313
Yep, thanks!

[2021-09-10 20:27] #2313 closed, assigned to nobody

[2021-09-10 20:35] OliverO2 commented on #2447
The swapping is exactly what my above prototype implementation makes the coroutines library do via the `ErrorCollector.contextElement`.

It should work for soft assertions as well. If we had some way to hook into top-level context setup, we'd be covered. The place would probably be this function in `kotlinx.coroutines`, but the API is not there (yet):
[code]

If we could make the Kotest user remem

[2021-09-10 20:43] sksamuel commented on #2447
You could insert it via a test execution interceptor.

See latest code in master.

On Fri, 10 Sep 2021, 15:35 OliverO2, ***@***.***> wrote:

[2021-09-10 20:45] sksamuel commented on #2447
I'm not sure yours works if the thread changes.

[2021-09-10 20:45] sksamuel commented on #2447
Take a look at the CoroutineStatus element in 4.6.x branch. That has the trickery we need.

[2021-09-10 21:07] OliverO2 commented on #2447
I see. `CoroutineStatus` is part of the engine, so it does not solve the problem for those using matchers with JUnit, right?

This one and mine seem to do about the same. Both require a specially set-up context.

And yes, mine works when switching threads. That's what it is all about, right? See the [test cases provided along with the output below those](https://gist.github.com/OliverO2/e9a9cc962f

[2021-09-10 21:48] OliverO2 commented on #2447
If I got it correctly, it looks like this:

* The solution you suggested for `withClue` seems viable: It directly receives an exception and passes it along with its clue back up the call stack. Thereby it eliminates the clue stack in `ErrorCollector`. All fine and simpler than before.
* `assertSoftly` cannot follow that route as it does not directly receive exceptions. So it would have to pass an

[2021-09-10 22:02] sksamuel commented on #2447
Yes that aligns with my thinking.

And following on it still works for junit because they're typically just
sticky on one thread.

And if you're using junit and coroutines and bouncing around threads well
that's a niche edge case we won't support.... and just upgrade to Kotest
already :)

On Fri, 10 Sep 2021, 16:48 OliverO2, ***@***.***> wrote:

[2021-09-11 06:17] sielenk commented on #2378
Sadly no, not yet.
And missed the 5.0 deadline ...

[2021-09-11 09:55] OliverO2 commented on #2447
Been there. Unfortunately, the all-in-one-function style used be the Kotest framework did not integrate well with IDE support (e.g. IntelliJ's structure view) and I've been observing stability issues with the Kotest IDE plugin. So I moved to JUnit 5 but kept the matchers. I'm using coroutines extensively with complex multi-threaded tests.

[2021-09-11 13:21] sksamuel commented on #2447
Hmm interesting. How long ago was this.

On Sat, 11 Sep 2021, 04:55 OliverO2, ***@***.***> wrote:

[2021-09-11 13:22] sksamuel commented on #2378
No 5.0 is still in flight.

On Sat, 11 Sep 2021, 01:17 Marvin Sielenkemper, ***@***.***>
wrote:

[2021-09-11 13:34] myuwono opened #2493 "[proposal] introduce continuation passing style arbitrary builder for improved ergonomics"
### Context

it is currently possible to build dependent arbitraries by nesting `flatMaps`. While that works, the level of nestings makes it a bit awkward, in particular when the arb being built requires particularly complex, potentially interdependent conditions.

### Proposition
I propose we introduce continuation passing style builders for our arbitrary builder. Drawing inspiration introduced t

[2021-09-11 13:47] OliverO2 commented on #2447
Sometime between mid-April and mid-May.

[2021-09-11 19:52] sksamuel commented on #2447
I know that Kotlin 1.3.x and maybe early versions of 1.4 had some slowdowns in IintellJ for DSLs that used many lambdas, but since like 1.4.30 and 1.5 for sure, it's been very fast in the IDE. Also there's the Kotest structure view which gives you a nested layout for tests and allows you to jump around and see callbacks.

[2021-09-11 21:28] Kantis opened #2495 "Prevent double-parsing in Json errors"
Will do some more digging for solutions, and to verify root cause. I think the cause is identified here, but will have to double check.. See https://github.com/kotest/kotest/pull/2464#discussion_r706599501_

[2021-09-11 21:31] #1992 closed, assigned to nobody

[2021-09-11 22:08] #2401 closed, assigned to jschneidereit

[2021-09-11 23:43] sksamuel commented on #2137
Closing this as the new arrow matchers do everything that's requested in this ticket.

[2021-09-11 23:43] #2137 closed, assigned to nobody

[2021-09-12 02:07] sksamuel commented on #2340
@Kantis do you think this could be fixed easily as part of your other changes ?

[2021-09-12 10:46] Kantis commented on #2340
Sure, I'll have a look.. Want me to split it into a separate PR?

[2021-09-12 11:16] sksamuel commented on #2340
Up to you.

On Sun, 12 Sep 2021, 05:46 Emil Kantis, ***@***.***> wrote:

[2021-09-12 11:56] myuwono opened #2497 "[bug] String generation is slower on some codepoints"
String generation seems to be slower on some codepoints. These problematic codepoints seem to have filter operations and transformation on each sample.

[code]

<img width="982" alt="Screen Shot 2021-09-12 at 9 32 10 pm" src="https://user-images.githubusercontent.com/15880686/132986580-929869aa-6397-41aa-bd9a-87f887e27c78.png">

[2021-09-12 16:03] OliverO2 commented on #2447
I could try the plugin again. That might take some time but I'll report back if I find something of interest.

Even with the Kotest engine, one might want to use custom coroutine contexts or `runBlockingTest`.

I think it would be a good idea to
* implement the solution suggested above for `assertSoftly`,
* set the ThreadLocal-`CoroutineContext.Element` in the engine, and
* make the ThreadLocal-`C

[2021-09-12 16:14] sksamuel commented on #2447
I agree with those steps.

[2021-09-12 16:20] OliverO2 commented on #2447
The issue is currently assigned to @jschneidereit. Should I provide a PR nonetheless?

[2021-09-12 16:23] sksamuel commented on #2447
I don't think Jim has started on this yet, I was only chatting with him about it late Friday, so you could do a PR yeah.

[2021-09-12 16:28] OliverO2 commented on #2447
OK, will do.

[2021-09-12 16:48] jschneidereit commented on #2447
Sorry, I had some things come up. I can provide code review though.

[2021-09-12 16:57] #2497 closed, assigned to myuwono

[2021-09-12 17:26] sksamuel commented on #2447
What about if the functions were suspendable then they could install the element and it would work on everything

[2021-09-12 17:46] OliverO2 commented on #2447
Yes, we had that in our slack discussion. Ideally, we'd have a suspending version installing the context and a non-suspending one not doing so. However, the compiler does not like type inference based on suspend differences alone. The example is for `withClue`, which can be solved by other means, but will be the same for `assertSoftly`:

[code]

In this case, it would complain on the non-suspendin

[2021-09-12 19:03] sksamuel commented on #2447
Could put in different packages although the user will need to pick.

Another alternative is a compiler plugin.

On Sun, 12 Sep 2021, 12:46 OliverO2, ***@***.***> wrote:

[2021-09-12 21:50] sksamuel commented on #2491
FYI works in 5.0.0.M1 so something fixed it between 4.6.x and now.

[2021-09-12 22:00] sksamuel opened #2501 "FinishSpecListener is not invoked"
**Which version of Kotest are you using**
5.0.0.M1

[2021-09-12 22:14] #2447 closed, assigned to nobody

[2021-09-12 22:24] #2501 closed, assigned to nobody

[2021-09-13 05:54] sielenk commented on #2378
Hm. So I dug up [Correctly Rounded Binary-Decimal and Decimal-Binary Conversions](https://ampl.com/REFS/rounding.pdf) and started an implementation of that. But this feels overpowered for the use case, esp. given the fact that each platform has something like that already implemented for turning doubles into strings.
I think I will try something along the lines of the code above with added handlin

[2021-09-13 08:00] Kantis commented on #2491
Awesome, I'll close this. 💯

[2021-09-13 08:00] #2491 closed, assigned to nobody

[2021-09-13 09:01] tomgardiner-retailx opened #2505 "Spring extension documentation - Mimicking behaviour of a controller - Integration Testing"
1) Trying to create an integration test for a spring controller
2) This controller will have the annotation @Controller
3) Wanting to asset that when /greeting endpoint is hit with request, that this request is returned (expected behaviour)

How do I do the following integration tests as shown on spring's website?

https://spring.io/guides/gs/testing-web/

I have tried following the documentation

[2021-09-13 09:51] sksamuel commented on #2505
It doesn't look like you added the kotest spring extension which is the first step in the docs.

[2021-09-13 11:54] sksamuel commented on #2163
`freeCompilerArgs += "-Xir-property-lazy-initialization"` should be removed

[2021-09-13 18:51] Kantis commented on #2340
I think `lists`/`arrays` are naturally ordered, whereas object keys aren't. Perhaps the default should remain as-is, e.g. object key order  doesn't matter, while list order does. I think we should opt for a new `CompareOrder` which could be used to allow arrays to be out-of-order as well, but I don't think it makes sense to make that the default behaviour.

Something like this sound ok?
[code]

[2021-09-14 07:43] Pitel commented on #2163
For some reason, my webapp refused to worked without the flag. So I've managed to disable it conditionaly:
[code]

[2021-09-14 17:03] jschneidereit opened #2507 "Allow a custom function to name a test"
Right now we allow users to append tags to tests names, which is fine - but it would be even better to provide users an extension point to modify the name of the tests based on the test itself and tags (and perhaps other information).

Given a test with tags `Slow` and `NickNack`

status quo:
[code]

new hotness, in kotlin pseudocode:
[code]

would give us a nice test name like

[code]

[2021-09-14 18:16] jschneidereit opened #2508 "Tag should have an interface it inherits and testcase config should have tagsFn"
A super interface for Tag would allow people to make more interesting type hierarchies with their tags.
Also, Test case config should have a tagsFn that passes the tags from defaultTestCaseConfig and allows each test case to override.

[code]

[2021-09-14 18:19] jschneidereit commented on #2508
[code]

[2021-09-14 23:46] sksamuel commented on #2508
SuperTag is an awful name.
Could consider a breaking change here. If people are subclassing NamedTag as recommended then there's no break to them, and if not, it's trivial to just switch out : Tag() for : Tag

[2021-09-14 23:58] jschneidereit commented on #2508
SuperTag was just for illustrative purposes 🤣

[2021-09-15 12:29] tomgardiner-retailx commented on #2505
@sksamuel I definitely have added this
edit: it's after I add this that I'm getting all of the errors....

[2021-09-15 12:41] sksamuel commented on #2505
I need to see a complete build. For instance where are you adding the spring listener as it's not in your sample code. And your gradle file.

[2021-09-15 20:26] tomgardiner-retailx commented on #2505
Sorry what do you mean by spring listener? I'm fairly new to spring as an FYI. I can't share the build file with you as it's company code unfortunately. What info would you like?
edit: the main issue I'd like to solve is how to write integration tests using your extension, the dependency issue I can resolve on my own

[2021-09-16 00:24] tomgardiner-retailx commented on #2505
as an FYI, my gradle setup looks something like this, and I'm still having troubles:

[code]

[code]

[code]

[2021-09-16 00:49] tomgardiner-retailx commented on #2505
update: managed to fix error messages - didn't realise that I also had to import the mockk library separately.

back to the original question:

how do I use the spring extensions library to mimic the testing behaviour I want outlined above?

[2021-09-16 04:54] ashishkujoy commented on #2505
Please check if this helps,
 https://github.com/kotest/kotest/tree/master/kotest-examples/kotest-examples-spring-webflux @tomgardiner-retailx

[2021-09-16 05:16] sksamuel commented on #2490
The junit listener no longer cares.
The main thing is that beforeEach cares about it. So we'll probably keep it.

[2021-09-16 05:16] #2490 closed, assigned to nobody

[2021-09-16 13:45] tomgardiner-retailx commented on #2505
@ashishkujoy thanks man. Are there any other examples I could reference?

[2021-09-16 13:54] ashishkujoy commented on #2505
I am not aware if there is any other example.

[2021-09-16 14:19] jcornaz opened #2513 "StackOverflow when using `checkAll` with property test config and 2 generators"
**Which version of Kotest are you using**: 4.6.2

The following test:

[code]

leads to this exception:
[code]

[2021-09-16 16:06] #2507 closed, assigned to nobody

[2021-09-16 16:22] sybarite1 commented on #1401
Hi,
I am more than happy to help in this. I have been working extensively with Quarkus and Kotlin.
And would love to move to kotest from JUnit 5.
Let me know where you want me to begin.
Best regards.

[2021-09-16 18:43] #2211 closed, assigned to nobody

[2021-09-16 19:14] sksamuel opened #2515 "Failed test with test container hangs"
[code]

[2021-09-17 01:59] tmszdmsk commented on #2513
It's the same for `PropertyTest3`.

[2021-09-17 02:43] sksamuel commented on #2513
And 5+

[2021-09-17 13:41] sksamuel commented on #2444
4.6.3 has been released which fixes this.

[2021-09-17 13:41] #2444 closed, assigned to nobody

[2021-09-17 13:41] sksamuel commented on #2513
4.6.3 has been released which fixes this.

[2021-09-17 13:41] #2513 closed, assigned to nobody

[2021-09-17 13:44] sksamuel commented on #2340
Maybe LenientProperties and LenientAll but yeah great.

[2021-09-17 15:21] sksamuel commented on #2515
This actually works fine and was just hikari pool waiting for a connection before throwing.

[2021-09-17 15:21] #2515 closed, assigned to sksamuel

[2021-09-17 15:32] sksamuel commented on #1401
Best bet is to chat on slack. @sybarite1

[2021-09-18 01:44] #2493 closed, assigned to myuwono

[2021-09-18 01:48] #2458 closed, assigned to nobody

[2021-09-18 01:57] sksamuel commented on #2335
I think the issue is that junit4 doesn't support dynamic discovery of tests and nested tests in Kotest are not available until evaluation time - because they are just functions inside functions.

[2021-09-18 01:58] #2378 closed, assigned to nobody

[2021-09-18 01:59] sksamuel commented on #2495
Was this covered by your previous PR ?

[2021-09-18 02:00] sksamuel commented on #2508
What's the use case for the tag function?
Like when would you put tags on a parent then just override them anyway ?

[2021-09-18 02:11] jschneidereit commented on #2508
When you (soon) have a tags hierarchy and would want a test case config to override what has been placed on the tags for the class. E.g.:

[code]

[2021-09-18 08:05] Kantis commented on #2495
Yes, it's fixed :)

[2021-09-18 08:05] #2495 closed, assigned to nobody

[2021-09-18 11:29] Kantis opened #2520 "Suggestion: Tweaked options API for comparing JSON"
The number of parameters to `shouldEqualJson`, along with the possible values of each, is growing with some of my latest work and I feel that perhaps it could be simplified for users by adding the following API.

The primary change would be the creation of a options class, containing all parameters specified. We allow the user to send this options-object and add a helper function for easily creati

[2021-09-18 14:01] #2340 closed, assigned to nobody

[2021-09-18 14:09] sksamuel commented on #2308
This is fixed in master for 5.0 release.

[2021-09-18 14:09] #2308 closed, assigned to nobody

[2021-09-18 20:25] #2367 closed, assigned to sksamuel

[2021-09-18 21:24] #2298 closed, assigned to nobody

[2021-09-19 15:06] sksamuel commented on #2230
You can now next withTimeout inside a withClue,

[code]

[2021-09-19 15:06] #2230 closed, assigned to nobody

[2021-09-19 17:36] #2463 closed, assigned to nobody

[2021-09-19 17:37] sksamuel commented on #2508
I think we can just use EngineExtensions for this now.

[2021-09-19 17:43] sksamuel commented on #2508
As for the interface, changing Tag to an interface will break things (like the toString). So I think we might just be stuck.
If you need inheritence, you could have a value inside your tag that is a sealed type.

[2021-09-19 17:52] #2508 closed, assigned to nobody

[2021-09-19 18:37] sksamuel commented on #2316
Do you have a standalone basic koin application for me to try ?

[2021-09-20 01:46] #2355 closed, assigned to sksamuel

[2021-09-20 01:47] #2168 closed, assigned to sksamuel

[2021-09-20 01:47] sksamuel commented on #2168
This is now an option in 5.0 via configuration.displayFullTestPath

[2021-09-20 01:56] sksamuel commented on #2505
This is your file that defines your beans, you might not call it components in your project as you can call it anything you want. If you are working on an existing project you will need to ask someone where the file is.

In the sample project you can see its like this:

[code]

The test you pasted looks fine, other than you didn't include the SpringExtension anywhere which I mentioned before.
Hone

[2021-09-20 10:18] sksamuel commented on #1999
5.0 detects intellij mode and sets this.

[2021-09-20 10:18] #1999 closed, assigned to nobody

[2021-09-20 10:29] sksamuel commented on #2335
I don't think it's going to be possible to support this on JUnit4 so I will close this.

[2021-09-20 10:29] #2335 closed, assigned to nobody

[2021-09-20 10:43] #2422 closed, assigned to nobody

[2021-09-20 10:52] sksamuel commented on #2387
I've published a BOM for 4.6.3 and it will be included going forward.
https://repo1.maven.org/maven2/io/kotest/kotest-bom/

[2021-09-20 10:52] #2387 closed, assigned to nobody

[2021-09-20 12:59] glockbender commented on #2387
Thanks a lot

[2021-09-20 14:41] #2383 closed, assigned to nobody

[2021-09-20 14:44] sksamuel commented on #2383
Added in master for 5.0 release

[2021-09-20 23:11] sangrambankar commented on #2331
the test cases are passing but the build's are failing similar to this 3 year old issue when gradle was upgrade to 4.7 i guess. https://github.com/gradle/gradle/issues/5273

I installed the new Android Studio Fox since i have to add support to jetpack compose in my project, i have to upgrade my gradle to 7.0.2.

The test case do pass, but the build fails with the following expection

Thats's the e

[2021-09-20 23:26] Kantis commented on #2505
@tomgardiner-retailx I have a sample repo you can have a look in if you'd like. https://github.com/Kantis/kotest-mockk-demo

If you feel something is missing I'd be glad to add more samples.

[2021-09-21 15:20] eugenio1590 commented on #2316
sure, let me to push the changes and I'll let you know the link to the repo.

[2021-09-22 16:02] #2520 closed, assigned to nobody

[2021-09-23 00:05] jschneidereit opened #2534 "EngineContextExtension should be marked with Extension"
Currently `EngineContextExtension` is not marked with the `Extension` marker interface, so it can never be added to `Configuration.extensions` which is of type `List<Extension>`

[2021-09-23 00:22] #2534 closed, assigned to nobody

[2021-09-23 01:09] sksamuel commented on #2373
This will require 5.0 to be released first, as we require a new extension mount to support this use case.

[2021-09-23 10:22] sksamuel opened #2536 "Allow mountable extensions to register further extensions"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-09-23 14:06] guillaumeagile opened #5436 "Does not install on IntelliJ IDEA 2021.2"
the installation from IDEA says that only version 201.*   is supported
IDEA is already up to version 212 !!!
![pb plug kotest intellij 2021-09-23 160422](https://user-images.githubusercontent.com/197786/134522145-29ba7afd-fa2c-48b9-8f4e-7dc33eccdb11.png)

[2021-09-23 14:14] guillaumeagile commented on #5436
It works when installing from the ZIP only

[2021-09-23 14:14] #5436 closed, assigned to nobody

[2021-09-23 14:33] sksamuel commented on #5436
Seems to be a known problem when updating intellij.
You need to remove the plugin, restart, then add it back again.
See https://github.com/kotest/kotest/issues/5445

[2021-09-23 19:15] elect86 opened #5435 "Plugin incompatible with latest EAP"

[2021-09-23 19:38] sksamuel commented on #5435
Will release a version for 213.*
Requires JB to approve so allow 1-2 days.

[2021-09-24 07:34] Pitel opened #2538 "Multiplatform plugin does not work with Kotlin 1.6.0-M1"
* Plugin 5.0.0.5
* Kotest 5.0.0.M2
* Kotlin 1.6.0-M1

[code]

[2021-09-24 14:34] sksamuel commented on #2538
Looks like the plugin just needs to be built with that version.
I'm not seeing an official release of M1 anywhere yet ?

[2021-09-24 14:58] #2451 closed, assigned to nobody

[2021-09-25 15:52] tomgardiner-retailx commented on #2505
@sksamuel thanks for that, yeah I added the spring extension class and it's all good. I'm not getting any more errors. Do you think it's worth adding this to the documentation? This would be for both configuration file, as well as some more thorough examples.

Yes that link you shared is OKAY, however, it doesn't help explain clearly where each annotation should be used, what tests should be using

[2021-09-25 23:40] #2354 closed, assigned to nobody

[2021-09-26 00:35] sksamuel commented on #2505
The kotest spring documentation clearly states right at the top you need the spring extension.
https://kotest.io/docs/extensions/spring.html

That's why my first comment was "you're missing the spring extension which is the first step in the docs"

[2021-09-26 00:35] #2505 closed, assigned to nobody

[2021-09-26 03:42] charleskorn opened #2540 "Kotlin/Native tests print many blank lines when run through Gradle"
**Which version of Kotest are you using**
5.0.0.M1

When running tests with Kotlin/Native through Gradle, I see a large number of blank lines in the output, for example:

[code]

The same tests, when run with Kotlin/JVM (eg. `./gradlew jvmTest`) do not produce blank lines like this.

The number of blank lines produced seems to correlate with the number of tests - as I add more tests, I get more an

[2021-09-26 15:11] sksamuel opened #2541 "Better json diff output"
Would be nice to show which fields differed, or even just a string diff.

[2021-09-26 16:33] Kantis commented on #2145
@sksamuel maybe we should deprecate these with 5.0 and remove in 6.0? For this particular case, I think the proper method to use would be

[code]

[2021-09-26 18:39] #5442 closed, assigned to nobody

[2021-09-26 19:51] sksamuel commented on #2145
Yeah the inspectors are what is meant to be used.

We should rename the first one to include the word predicate in it. That
indicates its boolean.

On Sun, 26 Sep 2021, 11:33 Emil Kantis, ***@***.***> wrote:

[2021-09-26 21:38] #2461 closed, assigned to nobody

[2021-09-27 05:13] tomgardiner-retailx opened #2544 "XML output reports not working"
**Which version of Kotest are you using**
Kotest:
kotest - 4.6.2
junit-xml-extension - 4.6.2

Gradle - 6.4.1

When running a single file through intellij, using intellij's own version (not using gradle) - the output of the XML works fine. The directory contains:
[code]

However, when running through gradle - the BasicText.xml file is not being generated. And the folder structure looks like:
[code]

[2021-09-28 13:17] fightyz opened #5434 "Plugin incompatible with Android Studio(base on Intellij 2020.3.1)"
When [kotest-extensions-robolectric](https://github.com/kotest/kotest-extensions-robolectric) is used in the unit test, then use the @RobolectricTest annotation in the unit test:
[code]
If you start to run the `context` function from the run icon provided by **kotest-intellij-plugin**:
![image](https://user-images.githubusercontent.com/1697504/135093595-83c3a063-b7b0-495a-b57d-9c3cabb5b0cc.png)

*

[2021-09-28 13:26] jschneidereit commented on #5434
I've noticed that on IJ on mac in the last few days actually. Can you try editing the all test run configuration to include `--tests "*"` and see if that helps short term? I noticed that was the difference between using the gutter icon and the main Gradle test target

[2021-09-28 15:11] fightyz commented on #5434
The problem now is that when I start the unit test from the `context` function, Android Studio will automatically use "kotest run configurations". And in its configuration window:
![image](https://user-images.githubusercontent.com/1697504/135114445-444cff39-b9b5-471a-b9ac-6d61fd3b0af8.png)

I tried adding the `--tests "*"` parameter to the three input boxes of "VM options", "Program arguments" and

[2021-09-28 21:49] jschneidereit commented on #5434
Oh I see, I guess there are two issues here then 🤔 I'll open one for mine

[2021-09-29 07:28] sschuberth opened #2545 "Make diff for data classes work with collections"
Kotlin 4.1 introduced [diffs for data classes](https://github.com/kotest/kotest/issues/826). However, that currently only works for asserting single data classes via `shouldBe`. As an extension, it would be nice if data class diffs would also work for the non-matching entries in collections.

This might be hard to do for unordered comparisons like `containExactlyInAnyOrder` as it's not clear which

[2021-09-29 15:06] suleymanbalaban3 opened #5433 "Plugin Installation Error"
Hello,

I can't install Kotest plugin on Intellij. How can I solve this compatibility problem?

My Intellij version:
`IntelliJ IDEA 2021.2.2 (Ultimate Edition)
Build #IU-212.5284.40`

Kotest version:
`1.1.37-IC-2020.1`

Thank you,

[2021-09-29 16:14] jschneidereit opened #2546 "Create engine extensions to modify launcher config for test case filtering"
The Kotest engine already has TestFilter and SpecFilter but these don't work with Gradle because of the way it thinks about test names. We should expose these two filters on project config and environment variables so someone trying to run a single test through any runner can have that capability.

[2021-09-30 11:51] #5433 closed, assigned to nobody

[2021-10-02 15:59] sksamuel opened #2549 "Support TestCoroutineDispatcher"
https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-test/index.html

[2021-10-02 16:51] #2549 closed, assigned to sksamuel

[2021-10-02 21:54] sksamuel opened #2551 "Allow extensions to be registered via a spec annotation"
[code]

[2021-10-02 21:54] sksamuel opened #2552 "Embedded consul extension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-10-03 03:33] sksamuel opened #2553 "update result matchers to use contracts"
I should be able to do

[code]

[2021-10-03 18:33] sksamuel opened #2554 "null.shouldBeEmpty() should throw better error message"
null.shouldBeEmpty() just returns in an assertion error without message.

[2021-10-03 18:33] sksamuel commented on #2553
Since Result.Success and Result.Failure are internal this might not be possible :(

[2021-10-03 21:20] sksamuel opened #2555 "ktor shouldHaveContent expected and actual values are the wrong way around in errors"
**Which version of Kotest are you using**

[2021-10-04 08:46] sksamuel commented on #2553
Not currently possible (or maybe ever)

[2021-10-04 08:46] #2553 closed, assigned to nobody

[2021-10-04 08:56] sksamuel commented on #2555
No its correct, my bad.

[2021-10-04 08:56] #2555 closed, assigned to nobody

[2021-10-04 11:03] #2554 closed, assigned to nobody

[2021-10-04 11:05] sksamuel commented on #2536
Required by #2373

[2021-10-04 11:17] #2551 closed, assigned to nobody

[2021-10-07 12:01] ashishkujoy opened #2560 "Option for marking a test case as flaky test"
In case a test is flaky, that test failure fails the whole build. Having an option to explicitly mark a test as flaky, so it can either be retried by `kotest` framework or that failure is ignored with warning, so that my build process won't fail.

[code]

[2021-10-08 01:24] cjpoulsen commented on #1770
@jschneidereit had any luck getting it off the ground?

[2021-10-08 02:52] jschneidereit commented on #1770
Let's try that again, totally dropped off my radar! 😂

[2021-10-08 02:55] cjpoulsen commented on #1770
I will be eagerly waiting to test a pre-alpha prerelease lol!

[2021-10-08 15:23] ashishkujoy commented on #2560
Based on [Slack conversation](https://app.slack.com/client/T09229ZC6/CT0G9SD7Z/thread/CT0G9SD7Z-1633656451.135300) looks like test flackyness can be handle using `eventaully` . Closing this ticket.

[2021-10-08 15:23] #2560 closed, assigned to nobody

[2021-10-10 03:26] sksamuel commented on #2540
Fixed in master.

[2021-10-10 03:26] #2540 closed, assigned to nobody

[2021-10-10 10:58] sksamuel commented on #5435
All good ?

[2021-10-10 14:33] #1851 closed, assigned to nobody

[2021-10-10 16:28] #2368 closed, assigned to nobody

[2021-10-10 19:24] elect86 commented on #5435
Yep, you did good :D

[2021-10-10 19:24] #5435 closed, assigned to nobody

[2021-10-11 03:28] sksamuel commented on #2552
Can just use test containers.

[2021-10-11 03:28] #2552 closed, assigned to nobody

[2021-10-11 03:29] sksamuel opened #2561 "Upgrade to Kotlin 1.6"
Kotest 5.0 will require Kotlin 1.6 so we can use stable durations.
https://youtrack.jetbrains.com/issue/KT-46784

[2021-10-11 05:25] sksamuel commented on #5440
@Kantis we talked about just removing this inspection.

[2021-10-11 06:26] Kantis commented on #5440
Do you prefer that over using type-analysis to determine if LHS of expression is nullable and in that case disable warning? I'm fine either way. I'll remove for now if we are unsure?

Type resolution uses intellij build caches. Not sure if that's something we could/should use..
https://github.com/kotest/kotest-intellij-plugin/blob/32972bc3bb91f49aa6f332b1d8086115109019e6/src/main/kotlin/io/kotest/

[2021-10-11 06:33] sksamuel commented on #5440
I think the OP has a good point that the inspection just doesn't work.

[2021-10-11 18:29] sksamuel commented on #5440
So yeah I would just remove it and we can play with the types for the shouldBe analysis.

[2021-10-11 21:13] ghost commented on #2243
@sksamuel thanks for the great work! Is fail-fast working on all types of specs or only some? In particular, wondering about FreeSpec. Thanks!

[2021-10-11 21:14] sksamuel commented on #2243
Should work on all, if you try a 5.0.0 milestone build.
It will apply to any tests nested within that context.

[2021-10-11 22:03] #5440 closed, assigned to nobody

[2021-10-12 13:27] duruer opened #5432 "Incompatable with IntelliJ IDEA build version 211+"
![image](https://user-images.githubusercontent.com/3341936/136964719-53d2f9f3-a153-4ac6-8085-fe45d8b4971a.png)

Can't even install the plugin with the latest IntelliJ IDEA.

[2021-10-12 13:28] sksamuel commented on #5432
See https://github.com/kotest/kotest/issues/5445

[2021-10-12 13:30] duruer commented on #5432
Oh alright, closing the issue

[2021-10-12 13:30] #5432 closed, assigned to nobody

[2021-10-12 13:31] sksamuel commented on #5432
Not sure why it happens but only happens to a couple of people.

[2021-10-12 21:07] drampelt opened #2565 "Error compiling iOS tests with 5.0.0.M2 and compiler plugin"
**Which version of Kotest are you using**
5.0.0.M2

I'm trying out the 5.0.0.M2 preview version with the gradle and compiler plugin, it works for JS and JVM but I've having trouble getting it working for iOS. Trying to run the `iosX64Test` task results in the following error during the linking step:

[code]

Am I missing a depedency specific to iOS? I have the `kotest-framework-engine` dependency

[2021-10-12 21:10] sksamuel commented on #2565
I would check you're using 5.0.0.m2 for everything

On Tue, 12 Oct 2021, 16:07 Daniel Rampelt, ***@***.***> wrote:

[2021-10-12 21:34] Kantis opened #5431 "Migrate project to gradle-intellij-plugin 1.0+"
We had some issues with 1.0+ when running `./gradlew prepareSandbox`

See https://github.com/kotest/kotest-intellij-plugin/actions/runs/1330831925

[2021-10-13 07:05] ghost commented on #2243
Thanks for the super fast answer @sksamuel !
Not sure, if I'm using it wrong for `FreeSpec` but in M2 milestone `failfast` is not available there (checked for `FunSpec` and its available there :)). Here is a sample code:
[code]

[2021-10-13 07:39] Pitel commented on #2538
1.6.0-RC is out, same error.

* https://kotlinlang.org/docs/eap.html#build-details
* https://github.com/JetBrains/kotlin/releases/tag/v1.6.0-RC

I also see there is now related issue #2561

[2021-10-13 11:43] sksamuel commented on #2565
Ok I get the same on another project.

e: /home/sam/.konan/dependencies/x86_64-unknown-linux-gnu-gcc-8.3.0-glibc-2.19-kernel-4.9-2/x86_64-unknown-linux-gnu/bin/ld.gold invocation reported errors

The /home/sam/.konan/dependencies/x86_64-unknown-linux-gnu-gcc-8.3.0-glibc-2.19-kernel-4.9-2/x86_64-unknown-linux-gnu/bin/ld.gold command returned non-zero exit code: 1.
output:
/home/runner/work/kotest/k

[2021-10-13 12:34] sksamuel commented on #2538
I think the order goes like this:
* blocked on https://youtrack.jetbrains.com/issue/KT-49219
* Then update Kotest to 1.6
* Release 5.0.0.M3 or RC

[2021-10-13 12:48] sksamuel commented on #2243
Ah I see.

Freespec doesn't support config on parent tests because the DSL doesn't quite work.
Let me see if I can support that and then add fail fast support.

[2021-10-13 13:11] sksamuel opened #2567 "afterSpec in FreeSpec seems to have no effect"
[code]

[2021-10-13 13:12] sksamuel opened #2568 "Free spec nested tests are not displaying as nested in output"
[code]

![image](https://user-images.githubusercontent.com/743706/137139530-d1dcbe55-edae-4b69-a26e-a9eaebc4fe4a.png)

[2021-10-13 13:28] sksamuel opened #2569 "Support parent config and fail fast in free spec"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-10-13 19:45] #2569 closed, assigned to nobody

[2021-10-13 20:37] Kantis opened #2571 "Add should-aliases for inspectors"
`shouldForAll`
`shouldForOne`
`shouldForAtLeastOne`
`shouldForNone`

etc

_Originally posted by @sksamuel in https://github.com/kotest/kotest/issues/2321#issuecomment-88157186

Possibly also add hints in IntelliJ plugin to replace the alias with it's corresponding inspector.

[2021-10-14 11:12] dnowak-wrldrmt opened #5430 "The default implementation of method 'getId' is deprecated"
The following exception is reported in IDEA 2021.3. It does not prevent the plugin from running tests but is very annoying as IDEA shows error notifications.

[code]

[2021-10-15 11:22] pitagoras3 commented on #2437
Hi, I've looked into it, and in my simple test case everything works:

**Dependencies:**
[code]

**Code:**
[code]

**Execution:**
[code]

Maybe issue is somewhere else? I've googled parts of your error message and found that someone else had similar problem here: https://discuss.gradle.org/t/composite-build-fails-because-of-jvm-versions-how-to-fix/34501

[2021-10-15 14:07] nilsschmidthamburg commented on #2545
I like the idea, but as far as I can see, this can only implemented in a sens full way for `containsExactly` when called upon `Itterables`.

Some suggested format (up for discussion):
[code]

[2021-10-15 15:06] AleksanderBrzozowski commented on #2568
@sksamuel is this bug in intellij plugin or in kotest package? :)

[2021-10-15 15:28] MiSikora commented on #2437
@pitagoras3 This isn't the issue. You ran a project against Java 11, and it will compile without any problem. The point is the compatibility with Java 8.

You can see it in this sample project. https://github.com/MiSikora/arrow-extensions-compatibility

A simple project builds on all versions of Java above 10. https://github.com/MiSikora/arrow-extensions-compatibility/actions/runs/1346497312

The

[2021-10-15 21:54] claytonStasenko opened #5429 "Kotest Plugin Incompatible with Android Studio Arctic Fox"
Hello! There seems to be an issue with installing the Kotest plugin on newer versions of Android Studio [seemingly on Arctic Fox, but I can't say for sure]. Whenever I try to install the plugin I get the below error

![image](https://user-images.githubusercontent.com/58704239/137557566-78726a3b-31b7-44eb-9f60-1cc21ebd995e.png)

Here is my Android Studio install information:
![image](https://user-i

[2021-10-15 21:58] sksamuel commented on #5429
This might help https://github.com/kotest/kotest/issues/5445

[2021-10-16 20:15] sksamuel commented on #2561
Blocked on https://youtrack.jetbrains.com/issue/KT-49219

[2021-10-16 20:18] sksamuel commented on #2437
I believe what happend was github actions changed their default jdk to 11 and so after that all our builds were built using that.
I've been explicitly specifying jdk 8 since, and we just need to release another arrow build.

[2021-10-16 20:28] sksamuel commented on #2544
@tomgardiner-retailx did you make a typo in those paths?
They should be something like
`test-results/test/TEST-abc.xml`

When you run from intellij and it works, does it include the TEST bit ?

[2021-10-16 22:27] sksamuel commented on #2243
This is now in master.

[2021-10-17 03:11] #2568 closed, assigned to nobody

[2021-10-17 05:33] #2567 closed, assigned to nobody

[2021-10-17 06:40] sksamuel commented on #2316
Do you have the repo ?

[2021-10-17 11:09] myuwono opened #2574 "[Discussion] Property testing ergonomics improvements"
### Context
Property testing in kotest relies on upfront commitment of arbs in `checkAll`, which needs to be put inside of a test. The `checkAll` function internally calls the `arb.generate` function on a given seed which is immensely useful to track down the root cause of failures. It also orchestrates shrinking, classifications, before / after prop, etc.

While that current mechanism is simple t

[2021-10-17 14:55] i-walker commented on #2437
I am working on the next build, sorry I was not able to proceed on this issue, but once we fix the CI build I can PR an update to that sample project in @MiSikora

[2021-10-17 15:35] sksamuel commented on #2574
I think that without requiring a lambda from the user, that has a specified number of inputs, we can't make shrinking work. So right now that's the final argument to checkAll.

Without requiring this, the code path can vary, and there's no way for us to inject shrunk values into the code.

[2021-10-17 15:37] sksamuel commented on #2574
My motive for the play around code from last night was to support before and after easily for a property test, and less about new syntax for arbs. I think that having the Arb interface is useful for things like edgecases and shrinks, and so trying to skirt around that by having the .value() means you might as well just not bother with the arb strucutre at all. Just use a function that returns rand

[2021-10-17 20:13] myuwono commented on #2574
@sksamuel yeah that's right, i know that unfortunately shrinking won't work because of the dynamic nature of the test lambda. I've noted that down in the bottom, I'll move it up to the top of the description to better highlight this.

While it is definitely not ideal, an alternative we may/may not take is to acknowledge that shrinking is not possible in dynamic prop tests, and that failure is seed

[2021-10-17 20:21] myuwono commented on #2574
The idea with `.value()` is that edgecases would also work. This is because `.value()` can call `.generate(coroutineContext[rs])`, i.e with the random seed that is propagated through.

The problem with `.next()` and `.single()` are they are very easy to misuse..

[2021-10-17 20:42] myuwono commented on #2574
On before/after property. It is currently exposed as a test listener. I think that is already great because it encourages better test structures.

[2021-10-17 23:33] sksamuel commented on #2574
Agreed, and also the inline version I think can be useful for little shortcuts.

[2021-10-18 05:43] sksamuel commented on #2568
In kotest itself. Fixed in 5.0.0.M3 and was only introduced in 5.0.0.M1.

[2021-10-18 05:45] sksamuel commented on #2243
5.0.0.M3 is out now.

[2021-10-18 13:38] claytonStasenko commented on #5429
Thanks for your help @sksamuel! I did not have the plugin installed previously, and initially when I tried invalid and restart I got the same error, but deleting the .idea and .gradle directories at the root of my project before invalidating and restarting did the trick!

feel free to close this issue. thanks again

[2021-10-18 13:50] #2536 closed, assigned to sksamuel

[2021-10-18 13:51] sksamuel commented on #2416
I've added a standalone module. All that's left is to publish it.
@GavinRay97 how would you pass the tests to the instance ?

[2021-10-18 13:52] sksamuel commented on #2145
Let's deprecate any block that is essentially doing the same as the inspectors.
But we should keep blocks that have a predicate, as it's nice for one liners, but maybe converge on the name shouldExist ?
`list.shouldExist { it.age == 90 }`

[2021-10-18 13:52] sksamuel commented on #2546
Will this make 5.0 do you think ?

[2021-10-18 14:02] sksamuel commented on #5430
Are you still running KotlinTest?
If so, I would recommend you upgrade to Kotest - last release of kotlintest was two years ago and in fact Kotest 5.0 is due out end of month.

[2021-10-18 14:10] sksamuel commented on #5438
I have imported your project into intellij but it does not resolve the sourcesets.
So main / test are not seen as sourcesets.
I guess this is because it is an android project ?

[2021-10-18 15:41] GavinRay97 commented on #2416
Probably through a small programmatic API that wrapped arguments and then spawned the `.jar`
Feel like the "safe bet" is for me to copy whatever it is that JUnit does
- https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher

It's sort of like the saying: "Nobody ever got fired for buying IBM." 😅

[code]

[code]

[2021-10-18 15:49] sksamuel commented on #2416
lol

no one ever went wrong for using junit.

But mocks ... that's a different story.

On Mon, 18 Oct 2021 at 10:41, Gavin Ray ***@***.***> wrote:

[2021-10-18 16:24] i-walker commented on #2437
As of [this](https://oss.sonatype.org/content/repositories/snapshots/io/kotest/extensions/kotest-assertions-arrow/1.0.0.36-SNAPSHOT/) release, this issue is fixed. In the following days we can release a `1.0.4` version with that fix and I try to make it binary compatible as possible

[2021-10-18 16:40] Teja-Konjeti commented on #5438
It could be, I have not tried it in IntelliJ.

[2021-10-18 19:15] ghost commented on #2243
Bravo @sksamuel 🎉  Going to test it tomorrow 😄

[2021-10-20 21:30] Kantis commented on #2145
I was wrong about replacing with `forOne`, sadly

`forOne` asserts there's one, and only one, element in the collection that matches the block.
`singleElement` checks that the subject is a collection with a single item, and that the single item matches the predicate.

So the usage would not be equivalent.

On top of that, I found these matchers which accept predicates.
`existInOrder` checks that,

[2021-10-21 06:39] charleskorn commented on #2565
I am also seeing this issue with M2 and M3, but had no issues on M1. I'm seeing this on Windows, Mac and Linux targets.

I'm also getting a similar error message for another symbol:

[code]

[2021-10-21 23:07] #2571 closed, assigned to Kantis

[2021-10-22 03:02] #2466 closed, assigned to nobody

[2021-10-23 21:45] sksamuel opened #2581 "Update eventually and continually to use Durations internally instead of timeInMillis."

[2021-10-23 21:49] sksamuel commented on #2581
Looks like monotonic will stay experimental so closing this.
https://youtrack.jetbrains.com/issue/KT-46784

[2021-10-23 21:49] #2581 closed, assigned to nobody

[2021-10-24 15:03] sksamuel commented on #2145
Could we come up with an inspector for singleElement so it aligns nicely ?
`forOnly` ?
`forSingle` ?

[2021-10-25 14:02] sksamuel opened #2584 "Add feature to disable complete dsl checks"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-10-25 18:00] jschneidereit commented on #1770
@cjpoulsen do you recommend any plugins for debugging kotlin in vscode?

[2021-10-25 18:04] cjpoulsen commented on #1770
Have you tried the Debugger for Java￼ extension?

[2021-10-26 10:03] comahe-de opened #2585 "Support for ByteArray, ShortArray, ... in collection matchers"
Currently (v4.6.3) the following is not possible

    byteArrayOf(1,2,3).shouldContainExactly(1,2,3)

because `shouldContainExactly` is only defined for `Array<T>?` and collections.

Therefor these function should be added:

[code]

The same for the other collection matchers.

[2021-10-26 12:47] #2584 closed, assigned to sksamuel

[2021-10-26 12:48] #2546 closed, assigned to jschneidereit

[2021-10-27 12:59] #2423 closed, assigned to nobody

[2021-10-28 13:43] nicopico-dev opened #2587 "Possible confusion between `shouldContainExactlyInAnyOrder` overloads"
Using Kotest 4.6.3 with Kotlin 1.5.31

There is a possible confusion for user between these overloads of `shouldContainExactlyInAnyOrder()` assertion:
[code]

When using an optional collection for `expected`, Kotlin will use the `vararg` parameter implementation, which will fails as it checks if `expected` is an **item** in the actual collection instead of comparing both collections.

Allowing opt

[2021-10-28 14:05] jschneidereit commented on #2587
Might need to do the `...(first: T, second: T, vararg rest: T)` trick here if we add that collection overload

[2021-10-28 19:48] jschneidereit commented on #2587
Now that I'm more awake, what is the use case for having an optional expected? That seems kinda unlikely 🤔

[2021-10-28 20:19] nicopico-dev commented on #2587
I was bitten by this in a test that is more or less like this:
[code]

The issue is that `expectedParameters["SomeParameter"]` is of type `List<String>?`, so the assertion did not compare the lists as I would have expected, and I couldn't understand what was happening for some time.

It just seems confusing to me that the behavior can change so much just by making a type optional

[2021-10-29 05:09] dalewking opened #2588 "Inspectors should return the collection to allow chaining"
Inspectors currently return Unit. it would be nice if they returned the collection they are invoked on to allow chaining inspector calls

[2021-10-30 17:51] sksamuel commented on #2585
Can you open a PR with those additions @comahe-de ?

[2021-10-30 17:54] sksamuel commented on #2587
The real solution would be to inform the compiler not to promote T to Any but alas we can't do that yet so we'll need a work around.
Thanks for the bug report, this is indeed a gotcha.

[2021-10-30 18:00] sksamuel commented on #2587
I created this a while ago, please upvote: https://youtrack.jetbrains.com/issue/KT-49194

[2021-10-30 18:02] #2587 closed, assigned to nobody

[2021-10-30 18:12] sksamuel commented on #2588
https://github.com/kotest/kotest/pull/2589

[2021-10-30 20:23] #2588 closed, assigned to nobody

[2021-10-30 20:45] sksamuel commented on #2314
I've been trying to do this and I can't get the class name to display. JUnit only allows for a "descriptor" and putting the class name in plays havoc, so I will have to close this as unsupportable.

[2021-10-30 20:45] #2314 closed, assigned to sksamuel

[2021-10-30 20:47] sksamuel commented on #2545
I think @nilsschmidthamburg suggestion is a good one in terms of format. And I agree that we can only make this work for exact comparisons.

[2021-10-30 20:58] sksamuel commented on #2437
1.1.0 has been released which restores JDK 8 compatibility.
@MiSikora @kieranipalmer

[2021-10-30 20:58] #2437 closed, assigned to nobody

[2021-10-30 21:02] sksamuel commented on #2574
Here is why we always need the test function to be provided with explicit arb instances.

[code]

In this example, when we first run it, we might just generate two arbs (a and c). Then when we shrink we might get to a point where we start to exceute a== 0 and thus use another arb. But we wouldn't know if the two shrinks we have available would be for a and b or a and c.

I don't think we'll be abl

[2021-10-30 21:08] sksamuel commented on #2574
@myuwono do you have a real world example of an "ugly" property test, that we can use as a motivating case to try and come up with something more elegant.

[2021-10-31 11:13] sksamuel opened #2592 "Test 5 RC against other projects"
- [ ] Hoplite
- [x] Scrimage
- [ ] https://github.com/JetBrains/kotlin-spark-api
- [x] https://github.com/micronaut-projects/micronaut-core
- [ ] https://github.com/FluentLenium/FluentLenium/tree/develop/fluentlenium-kotest
- [x] https://github.com/kotlin-graphics/glm/tree/master/src/test/kotlin/glm_
- [x] https://github.com/kotlin-graphics/gli
- [ ] https://github.com/haroldadmin/NetworkResponseA

[2021-10-31 15:36] renovate[bot] opened #2596 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/kotest/kotest).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Deprecations

[2021-10-31 19:52] sksamuel commented on #2561
Upgrade in master.

[2021-10-31 19:52] #2561 closed, assigned to nobody

[2021-10-31 19:52] sksamuel commented on #2538
@Pitel the latest snapshots are built against 1.6.0 RC2 dev if you want to test ?

[2021-10-31 19:54] sksamuel commented on #2565
I'm going to cut another milestone release but in the meantime, the latest snapshots are built with a 1.6 rc2 preview.

[2021-11-01 05:40] #2432 closed, assigned to nobody

[2021-11-01 07:14] comahe-de commented on #2585
@sksamuel, OK, but this may take a while as there are many collection matchers....

[2021-11-01 07:17] sksamuel commented on #2585
I have faith in you :)

On Mon, 1 Nov 2021 at 02:14, comahe.de ***@***.***> wrote:

[2021-11-01 08:54] Pitel commented on #2538
I don't know how to test snapshot version of Gradle plugin. :(

[2021-11-01 10:29] amirabiri opened #2610 "Make them clue less cheeky. Cheers!"
Oi! @sksamuel you cheeky wanker! Good to see you switched to Kotlin! I knew you were a smart one after all...

So we've been using your sodding `shouldBe` here for a while now, and we think it's brilliant.

Except for those damn clues. Clues give us eye pain. We don't use them. But not using them is also painful.

We was wondering if it be possible to do something 'tis like -

Instead of that bloa

[2021-11-01 12:43] JoonasC opened #2611 "shouldBe goes into an infinite loop, when generating diff message for data class with cyclic references"
**Which version of Kotest are you using**
4.6.3

When using shouldBe with a data class that has cyclic references, for example:
[code]

**Note:** I have already overwritten the equals, hashCode and toString methods from my data classes with custom implementations, to not have a stack overflow error when using them.

The shouldBe method will go into an infinite loop when generating the diff message

[2021-11-02 09:54] Xaseron opened #2614 "withEnvironment erases environment variables on Linux"
**Which version of Kotest are you using**
4.6.0

`withEnvironment` stores the originalEnvironment as reference and not as an immutable map on Linux:
![grafik](https://user-images.githubusercontent.com/1352894/139824715-1b17df19-90de-4723-926d-661996a55cec.png)

Therefore a call to `envMapOfVariables.clear()` erases the original environment.
![grafik](https://user-images.githubusercontent.com/13528

[2021-11-02 10:12] sksamuel commented on #2610
Hey how you doing matey :)

I wish we could use 2 spaces, I use 3 on this project just to be even stranger. 4 is awful, way too much white space :)

So your syntax is nice, but the shouldNotBe (and other should*** functions) are executed first, kotlin will execute them left to right, so the exception is generated and thrown before the clue infix function would be invoked.

So
`(user.name shouldNot

[2021-11-02 10:36] #2614 closed, assigned to nobody

[2021-11-02 12:30] sksamuel commented on #2610
You could do this:

`user.name shouldNotBe (null withClue "Name should be present")`

Note the parens around the rhs parameter to shouldNotBe.

[2021-11-02 12:32] sksamuel commented on #2610
Another alternative is this: https://github.com/kotest/kotest/issues/2241

Which I can get to work for nulls pretty easy. And it's nulls that are the worst right? Because currently it just says "null should not be null" or something useless.

[2021-11-02 12:46] amirabiri commented on #2610
Blimey you're right I thought infix fun is right to left.

Well in that case the solution is simple I think:

[code]

No ?

[2021-11-02 12:48] amirabiri commented on #2610
I guess all we're doing here is removing the curly braces. Because currently we can already do this no?

[code]

But you know. Some of us hate those curly braces. Don't know why. It's not rational. Humans are weird.

[2021-11-02 12:49] amirabiri commented on #2610
Oh wait you can't do that either since the RHS isn't something executable-y.

:-(

Defeat.

[2021-11-02 17:56] busches opened #5428 "Errors with 1.1.43-IC-2021.1"
I upgraded to 1.1.43-IC-2021.1 this morning and now get this error when opening a project that uses KoTest.

[code]

Running a test gives this error:
[code]

[2021-11-02 18:00] sksamuel commented on #5428
what version of intellij ?

[2021-11-02 18:09] busches opened #2616 "JSON Matchers Documentation Incorrect"
New options were added with #2523 for JSON Matchers, which look to be a great improvement over what currently exists. The issue is that the documentation, https://kotest.io/docs/assertions/json-matchers.html, makes it look like all of these options are available, but they are not.

As someone who is fairly new to using Kotest, this was super confusing to us, until we found the above PR and realize

[2021-11-02 18:14] sksamuel commented on #2616
Should be two separate PRs, one for docs, one for feature, like you see here: https://github.com/kotest/kotest/pulls Contributors might not realize that at first, mistakes happen. Blame me for merging.

[2021-11-02 18:19] busches commented on #5428
[code]
On MacOS 11.6.1

[2021-11-02 18:21] busches commented on #2616
@sksamuel that makes sense, any eta on when the next release is coming? Right now if we go forward using the old matchers, once the new version is released, we'll have a bunch of deprecated code.

[2021-11-02 18:21] sksamuel commented on #5428
Is that a EAP version of intellij ?

[2021-11-02 18:22] sksamuel commented on #5428
I've removed 1.1.43-IC-2021.1 from the plugin store, so if you uninstall, restart, and install, you'll get the prior version. That should work and if not I can push out a fix later but JB take 1-2 days to approve plugins.

[2021-11-02 18:23] sksamuel commented on #2616
You can use a 5.0 preview but 5.0 is going to be 1.6 only as it needs IR compiler plugins for JS and Native, so once 1.6 is released we're ready to release too.

We might look to release a 4.7 with some cherry pickings depending on how many people can't upgrade to 1.6.

[2021-11-02 18:23] busches commented on #2616
Ah, didn't realize `master` was 5.0 now.

[2021-11-02 18:24] busches commented on #2616
In the meantime, do we want to revert the documentation changes then?

[2021-11-02 18:24] sksamuel commented on #2616
Yes, I can revert docs unless you wanna do a PR.

[2021-11-02 18:28] busches commented on #2616
I won't be able to get to it quickly, so if you can, please do. Thanks for the prompt response.

[2021-11-02 18:28] busches commented on #5428
No it's not.

[2021-11-02 19:22] sksamuel commented on #2538
Just the snapshot of the main project is good enough.

On Mon, 1 Nov 2021 at 03:54, Ing. Jan Kaláb ***@***.***>
wrote:

[2021-11-03 09:17] #2616 closed, assigned to nobody

[2021-11-03 15:33] busches opened #5427 "Feature Request: Test Result doesn't navigate to the test"
When running tests via IntelliJ and you double click a test from the test result, it does not navigate to the test in the file. Junit tests do this. It's especially nice when a test fails and you want to quickly navigate to it. Instead you have to click the test, then find the line in the stacktrace to navigate to the test.

[2021-11-03 15:38] busches opened #2620 "JSON Matchers does not offer "Click to see difference""
When using a JSON matcher and the assertion fails, there is no "Click to see difference" option in IntelliJ to quickly compare them.

Working example:
`401 shouldBe 402`
![image](https://user-images.githubusercontent.com/857700/140092553-1d6ecfea-9375-4522-bd2e-c8b43aaae5d8.png)

JSON Example:
`"""{"a":1}""" shouldMatchJson """{"a":2}"""`
![image](https://user-images.githubusercontent.com/857700/1

[2021-11-03 15:49] Kantis commented on #2620
Is this with latest 5.0.0 milestone build?

[2021-11-03 16:57] sksamuel commented on #5427
The classname should work right ?
The test name navigation is fixed in 5.0 currently (needs that intellij release that I rolled back mind)

[2021-11-03 17:47] sschuberth commented on #1106
Has there been a regression? For me, IntelliJ IDEA 2021.2.3 (with Kotest plugin 1.1.43-IC-2021.1) does not show the usual "View assertEquals Difference" context menu on failed tests that use `shouldEqualJson()`.

[2021-11-03 18:09] busches commented on #2620
No, using latest 4.6.3. From other conversations it doesn't sound like 5 will be out for sometime.

[2021-11-03 18:13] busches commented on #5427
Classname seems to collapse in intellij. Test name right now takes to the top of the `describe` when using `DescribeSpec` which isn't that helpful.

[2021-11-03 20:39] Kantis commented on #2620
Right 😄 Was just trying to figure out if we might've fixed this one already. I'll have a look. Should definitely be fixed if not!

**Update:** Okay, seems to not work. Will try to get a fix in with 5.0.

[2021-11-03 21:35] Kantis commented on #2145
`forSingle` and `forOne` feels like they would get mixed up.

I vote for `forOnly` in that case. It feels "different" enough to distinguish it a bit.

[2021-11-03 21:53] Kantis commented on #2541
Related to #2620

[2021-11-03 22:24] busches commented on #2620
Any chance to fix the output in 4.7 to register with intellij? The linked issue, while ideal, is a much larger lift.

[2021-11-03 22:33] Kantis commented on #2620
I'm not sure what kind of changes warrants a cherry-picked 4.7 release at this point. 5.0 is honestly not _that_ far away from what I can tell, unless JetBrains run into issues with shipping Kotlin 1.6. I guess it's up to @sksamuel 🙂

See the [milestone issue](https://github.com/kotest/kotest/issues/2226), all tagged issues are done.

[2021-11-04 02:42] sksamuel commented on #2620
1.6 rc2 doesn't seem to work either.  But I'm away til Sunday so will check
properly then.

Happy to release 4.7 with some new features from 5 or 4.6.4 with bug fixes.

On Wed, 3 Nov 2021, 17:34 Emil Kantis, ***@***.***> wrote:

[2021-11-05 13:51] williamokano opened #2623 "concurrentTests not being respected during ConcurrentTestLauncher [kotest 4.6.3]"
During some experimenting with kotest, I was playing around with the `parallelism`, `concurrentTests` and `concurrentSpecs`.

When setting the `concurrentTests` to something higher than 1, it just burst and execute all the tests all at once, even if I have a delay (which could be due to being suspended) or if I have hacky stuff like doing nothing for X amount of seconds (to ensure no suspension po

[2021-11-05 13:53] busches opened #2624 "`beOneOf` doesn't tell you what value it was."
When using `beOneOf`, it doesn't tell you what it was if it's (not) in the collection.

Example:
`1 shouldBeOneOf listOf(2, 3)`

Error:
`Collection should contain the instance of value, but doesn't.`

Suggested output:
`<Value> was expected to be in the collection of <Collection>, but wasn't.`
`<Value> was not expected to be in the collection of <Collection>, but was.`

Tested against 4.6.3, but f

[2021-11-05 13:58] busches commented on #2624
Well, I think this is more my mistake as I wanted to use `beIn` at the end, which does have the nice error messages. I'll leave it up to you if you still think this makes sense.

[2021-11-05 15:37] busches opened #2626 "JSON Compare is failing even when using `CompareOrder.Lenient`"
**Which version of Kotest are you using**
4.6.3

I have a basic example of trying to compare a nested array of json objects and it's failing. As you can see `myIds` have the same values, but the order is flipped.

Example:
[code]

Error:
[code]

According to the [docs](https://kotest.io/docs/assertions/json-matchers.html) I likely want to use `CompareOrder.LenientAll` but this does not exist in 4.

[2021-11-05 16:33] Kantis commented on #2626
Yes, sorry for the inconvenience. I'll revert the docs and add to the 5.0 docs PR

I don't think there's any built-in way of handling out-of-order arrays in `4.6.x`.

[2021-11-05 22:59] grv87 opened #2629 "BDD implies Isolation mode different from existing ones"
It's expected that `BehaviorSpec` would be isolated on `when` level:

* `given`  — an object
* `when` — an action. Since the given object could be mutable, and actions may have side effects, each of these actions should use its own object instance
* `then` — a check for the object state or the action results. Each check is free of side effects, so, no isolation is required

Current isolation modes

[2021-11-05 23:32] grv87 commented on #2629
* In Should and Expect specs `should` and `expect` are checks. So, implied isolation is on the `context` block (now missing)
* In Feature spec `scenario` is an action. `scenario` is a leaf, this style doesn't have a separate block for a check. So, `InstancePerLeaf` works correctly
* In Describe spec `it` could be both a (side effect) action or a simple check
* For free spec styles, it's maybe bett

[2021-11-06 00:56] Nimelrian opened #2630 "Maven Surefire Plugin throws an error when running raw JUnit tests after Kotest tests in a reactor build"
**Which version of Kotest are you using**
4.6.3

I have a Maven project with multiple modules. One of these modules uses Kotest via the JUnit5 runner, all other modules use regular JUnit5 tests. If the Kotest module is built before another JUnit module is built, Surefire will throw a NoClassDefFoundError:
[code]

I have built a minimal reproduction repository over here: https://github.com/Nimelria

[2021-11-06 16:09] williamokano commented on #2623
I believe I have found the problem. On version `4.6.3`, `ConcurrentTestLauncher.launch` seems to be using the semaphore in a wrong way.

Instead of using `semaphore.withPermit` inside the launched coroutine, it is using outside of the coroutine, on the for loop. As coroutines launched by `launch` as fire-and-forget, I believe that the `permit` is being acquired and released even if the coroutines

[2021-11-06 17:40] sksamuel commented on #2623
I think there's a coroutine scope in the loop too to stop that happening.
I'll check more and give a full reply to your posts tomorrow night when I'm
back from vacation.

On Sat, 6 Nov 2021, 16:10 William Johnson S. Okano, <
***@***.***> wrote:

[2021-11-06 20:36] williamokano commented on #2623
Hi @sksamuel, thanks for replying back.

I updated the second comment with a few pieces of evidence and links that might help you find it faster. I can provide a demo project in which I was using to play around with these configurations if it helps.

I'll write some tests and a potential fix for it and I'll post a PR if it's not a problem.

Ain't an expert in Kotlin nor Coroutines, so I don't full

[2021-11-08 12:31] maciejpigulski opened #2632 "Arrow shouldBeRight with param fails with NoSuchMethodError exception"
**Kotest version used: 4.6.3 and arrow assertions 1.1.1**

When trying to call `"some string".right().shouldBeRight("some string")` I get
[code]
Running `"some string".right().shouldBeRight()` works fine.

Attached sample Android project that reproduces just that. To test it just launch `./gradlew test --info` to see the error.

[KotestAndroidBug.zip](https://github.com/kotest/kotest/files/7496938

[2021-11-08 14:25] soygabimoreno opened #2633 "Update kotlintest-assertions-arrow to Arrow 1.0"
The current dependencies are `0.9.0` and it can provoke failures during test execution if the project where Kotest is used has Arrow `1.0`.
https://mvnrepository.com/artifact/io.kotlintest/kotlintest-assertions-arrow/3.4.2

It would be possible to be updated to Arrow `1.0`?

Thank you so much!

[2021-11-08 14:34] #2633 closed, assigned to nobody

[2021-11-08 14:52] sksamuel commented on #2623
So bugs aside, this is the current thinking of the concurrency modes.

`concurrentSpecs` allows you to configure how many specs run at a time. If you set it to 1, then all specs will be isolated.

`concurrentTests` allows you to configure how many tests are launched at the same time inside a particular spec. 1 means all tests are isolated.

What you can't do, as you pointed out, is set how many te

[2021-11-08 16:25] ashishkujoy commented on #2632
arrow extension 1.1.1 is compiled with Kotest 5.0.0.M<X> in which signature of `eq` is
`fun <T : Any?> eq(actual: T, expected: T, strictNumberEq: Boolean = false): Throwable?`

Whereas at run during test execution, Kotest 4.6.3 is present where signature of `eq` is
 `fun <T : Any?> eq(actual: T, expected: T): Throwable?`

 Due to which you are getting `NoSuchMethodError`. Upgrading `kotest-asserti

[2021-11-08 20:58] maciejpigulski commented on #2632
Thanks @ashishkujoy for the explanation. I couldn't find why this signature is so different when looking at the source code. Do you know if that's intentional? I didn't find any documentation on that.

[2021-11-08 21:06] sksamuel commented on #2632
Can we put in a backwards compatible method ?

On Mon, 8 Nov 2021 at 14:58, Maciej Pigulski ***@***.***>
wrote:

[2021-11-09 06:50] ashishkujoy commented on #2632
Raise a PR for that, https://github.com/kotest/kotest/pull/2635 once that is merged with master, can we build with arrow core with snapshot version or will we need to publish kotest `5.0.0.M4` ?

[2021-11-09 10:29] williamokano commented on #2623
Hey @sksamuel , the idea behind my "global back-pressure control" or any related name is that at our company, we decided to use kotest as framework for end-2-end testing, and although launching several coroutines are cheap, the work they done, sometimes, it's not.

In our case, we have several tests using selenium and/or rest assured for testing the api's. Using selenium on some tests is a must be

[2021-11-09 12:22] sksamuel commented on #2623
So internally there's this thing called the `TestScheduler` which is responsible for determining when to create a test's coroutine. And the `TestSuiteScheduler` does the same for specs. I wonder if we could just combine these and make it possible to plug your own in so you can do what you want. And it would be possible to have a built in option for global concurrency like you want I think.

I have

[2021-11-09 15:49] dongsubkim opened #2636 "`shouldNotBeEqualToComparingFieldsExcept` doesn't work as intended + Incorrect Param Type"
**Which version of Kotest are you using**
Kotest version: 4.6.3
Issues can be reproduced with 5.0.0.M3 as well

Bugs demonstration.
[code]
1. `shouldNotBeEqualToComparingFieldsExcept` does not work as intended.
https://github.com/kotest/kotest/blob/625422441c48a9a3f215df318dc11f5c2530c5bb/kotest-assertions/kotest-assertions-core/src/jvmMain/kotlin/io/kotest/matchers/equality/reflection.kt#L350-L35

[2021-11-09 18:40] #2446 closed, assigned to nobody

[2021-11-10 19:48] gonmmarques opened #2639 "Sponsorship question"
Hello,

Your project is really awesome are you considering having GitHub Sponsors enabled?

Thanks in advance.

[2021-11-10 21:14] ghost commented on #2243
I tried it out unfortunately only weeks after, i'm sorry about that. For the following code, with `failfast = true`, despite that the first child test fails, second child is still running, and the third one. Is it unexpected or expected behaviour @sksamuel ?
Here is the snippet:

[code]
and here are the execution results:
![image](https://user-images.githubusercontent.com/208134/141194296-ab8919e9

[2021-11-10 21:27] sksamuel commented on #2243
Can you confirm the version of kotest ?

On Wed, 10 Nov 2021 at 15:15, Alex ***@***.***> wrote:

[2021-11-11 04:18] vngantk opened #5426 "Does not work with Intellij 2021.2.x"
I found that the plugin does not work with Intellij 2021.2.x. It cannot discover tests in a test spec. It works okay with 2021.1.x but not 2021.2.x.

[2021-11-11 10:16] #2636 closed, assigned to nobody

[2021-11-11 10:19] sksamuel commented on #2629
The terminology that kotest uses is container and test, where container is a "parent" test, and test is a "leaf" test. This is borrowed from JUnit's terminology.

Isolation modes isolate either everything (InstancePerTest) or just leaf tests (InstancePerTest).

In BehaviorSpec, `then` is the leaf.

[2021-11-11 20:41] sksamuel commented on #2624
Thanks for the idea. Updated in main branch.

[2021-11-11 20:41] #2624 closed, assigned to nobody

[2021-11-11 22:47] sksamuel commented on #2611
@JoonasC do you have a repro, with the shouldBe ?

[2021-11-12 09:25] ghost commented on #2243
@sksamuel yeah, it is latest **5.0.0.M3**. I just tried again to be sure: and yes, as described above, the second and third child run despite that first child fails. Expected behaviour is that second and third child don't run if the first child fails. Please correct me if i'm wrong. And thank you very much for checking.

[2021-11-12 14:36] sksamuel opened #2643 "String.shouldHaveLengthBetween should accept ranges"

[2021-11-12 14:44] sksamuel opened #2644 "Arb.zip"
@myuwono do you think it's worth adding zip for Arbs ?

[2021-11-12 16:28] JoonasC commented on #2611
@sksamuel The following reproduces the issue for me:
Foo.kt:
[code]

Bar.kt:
[code]

Test.kt:
[code]

[2021-11-13 02:16] myuwono commented on #2574
@sksamuel I crafted a toy example which I believe can help illustrate some of the pain points. Note that this is not yet the worst one, but is definitely close to the slightly clunkier side of the spectrum. As you can probably see from the pattern in here, we have to test a function that has interconnected moving parts and that some parts of the expectation depends on the parameter of either the i

[2021-11-13 02:19] myuwono commented on #2644
sounds like a good idea! so am i right to think of zip similarly to `Arb.bind`? i.e. `arbA.zip(arbB, arbC, arbD) { a, b, c, d -> ... }`?

[2021-11-13 03:27] sksamuel commented on #2644
I must have been drinking because I forgot about bind.
Maybe zip is an alias for bind, I tend to think of zip as more common

[2021-11-13 06:31] myuwono commented on #2644
zip is indeed more common

[2021-11-13 06:50] myuwono opened #2646 "Arb.string shrinking simplest character is always 'a' regardless of codepoint"
The offending code: https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/strings.kt#L35

but I can't really think of any deterministic way to fix it, because the lowest codepoint isn't known upfront :(

we can collect the sampled codepoints in a mutable set after the fact but it will incur a pretty noticeable runtime cost.

test to replica

[2021-11-14 19:19] sksamuel commented on #2646
We could introduce a new interface for codepoint that exposes the lowest
value ?

On Sat, 13 Nov 2021 at 00:50, Mitchell Yuwono ***@***.***>
wrote:

[2021-11-14 19:21] sksamuel commented on #2574
So to summarize, here you want to flatMap over the users (so you can use the users to add them to arbGroup) but flatMap wouldn't work because you want access to the original arb as well (although I guess you could return Pair from the flapMap).

If that's correctly summarizing your example, then yeah the ergonomics are not great.

[2021-11-15 06:35] sksamuel commented on #2611
@jschneidereit ^^ that help you out ?

[2021-11-16 02:12] sksamuel commented on #2565
Is 5.0.0.M4 working ?

[2021-11-16 02:14] sksamuel commented on #2623
Have you had any further thoughts on this ?

[2021-11-16 02:15] sksamuel commented on #2610
This is the best you'll get (which is just renaming withClue to clue).

I'm not sure anything can be made better here without a compiler plugin.

[2021-11-16 02:19] #2643 closed, assigned to nobody

[2021-11-16 02:25] #2644 closed, assigned to nobody

[2021-11-16 02:31] sksamuel commented on #2243
I think I see the issue. You have two levels here - and you're putting fail fast on the grandparent, not the immediate parent.

So the question is, should fail fast filter down. I guess it should.

[2021-11-16 03:00] sksamuel commented on #2243
Ok in master now:

![image](https://user-images.githubusercontent.com/743706/141887872-3999cdf9-5a34-4280-8b4b-0fa80f484029.png)

"f" is skipped/ignored because e failed.

![image](https://user-images.githubusercontent.com/743706/141887906-23efc655-5d7c-4854-bc83-e7c0136dc3c5.png)

[2021-11-16 03:01] sksamuel commented on #2626
@Kantis is this all ok with 5.0 and just a docs issue ?
Ie can this be closed ?

[2021-11-16 03:03] busches commented on #2626
It's just docs. With 1.6 out today, hopefully 5.0 is around the corner.

[2021-11-16 03:11] sksamuel commented on #2626
Yep, just upgraded Kotest to 1.6
Going to set 5.0.0.RC going shortly.

On Mon, 15 Nov 2021 at 21:03, Scott Busche ***@***.***> wrote:

[2021-11-16 03:11] #2243 closed, assigned to nobody

[2021-11-16 03:14] sksamuel commented on #2646
So I think the only way to solve this is to have:

[code]

And the lowest can be the first element of that list.

(Alphabet could be replaced with CodepointSet or something).

[2021-11-16 06:26] charleskorn commented on #2565
Not for me - with 5.0.0.M4 and the 1.6 release version of Kotlin, I'm still getting [errors](https://github.com/batect/docker-client/runs/4209492025?check_suite_focus=true#step:13:325):

[code]

[2021-11-16 09:23] Kantis commented on #2626
Yeah, just docs. The issue is fixed with 5.0. Left it open in case we would make another 4.x release

[2021-11-16 10:12] sksamuel commented on #2145
The std lib has the method .single() to extract only a single element from a list, and throw if the list does not have size 1.

[2021-11-16 10:18] amirabiri commented on #2610
I think what bothered the team is that they were missing their `assert...(..., ">> message <<")` and `withClue` didn't click that it's exactly that or it just smells odd.

In the end the team opted out of `kotest` back to the `assert*(...)` family 😕 . I gave them a direct order to use `kotest` but they told me to piss off. I'm not sure they remember that I recruited all of them and that I manage t

[2021-11-16 10:18] #2610 closed, assigned to nobody

[2021-11-16 10:38] sksamuel commented on #2610
The advantage of the current syntax is that a) it stacks

[code]

and b) it works for any assertion, not just `shouldBe`.

[code]

So yeah, while `assert(a == b, "oops")` is nicer for that particular use case, you have to add that parameter to every single assertion method.

[2021-11-16 12:29] Kantis commented on #2145
Should we do `existInOrder` as an inspector as well? `forInOrder { }`?

[2021-11-16 12:37] sksamuel commented on #2145
How would that work?

[2021-11-16 12:43] Kantis commented on #2145
Here's the predicate version:
[code]

I suppose the inspector version would be:

[code]

[2021-11-16 13:47] williamokano-dh commented on #2623
Hi @sksamuel , sorry for not answering after that.

Regarding the issue, since it's fixed on the newest version, I'll just wait for the release candidate/m-releases phases finish to use the stable version of it.

As for the global concurrency control, I don't think it's needed now for me, it was just a thought I had once I was investigating an issue within our test suite, so I didn't had time to p

[2021-11-16 19:01] pambrose opened #2652 "Pre-release version of Kotlin"
When using Kotlin 1.6.0, I am getting:
`Class 'io.kotest.inspectors.InspectorsKt' is compiled by a pre-release version of Kotlin and cannot be loaded by this version of the compiler
`

[2021-11-16 19:45] sksamuel commented on #2652
You're using a 5.0 milestone ?
You need an updated kotest (which we're working on publishing, as 1.6 only just came out).

[2021-11-16 19:58] Kantis commented on #2652
I had the same issue with 5.0.0.M4, had to downgrade to 5.0.0.M3

[2021-11-16 21:34] sksamuel opened #2653 "Long overflow in Arb.instant"

[2021-11-16 21:52] pambrose commented on #2652
I am sorry, I am using 5.0.0.M4.

Thanks @Kantis. I downgraded to 5.0.0.M3 and that got rid of the error.

[2021-11-17 09:58] myuwono commented on #2646
sounds good, would that be something like `Arb.string(1..20, Codepoints.alphaNumeric())` where that uses the new `Codepoints` or `Alphabet` interface? - would that be a breaking change? or should we plan through a deprecation cycle for `Arb.string(...)`?

[2021-11-17 12:55] sksamuel commented on #2646
We could deprecate one or keep both. If we do this today or tomorrow it can make 5.0

[2021-11-17 16:22] sksamuel opened #2654 "Stateful testing"
https://jqwik.net/docs/current/user-guide.html#stateful-testing
https://hypothesis.readthedocs.io/en/latest/stateful.html

[2021-11-17 16:22] sksamuel commented on #2654
@myuwono I fancy adding something like this as the next step in the property test framework. What do you think ?

[2021-11-17 18:05] pambrose commented on #2652
Works fine with 5.0.0.RC.

Thanks for your efforts with kotest. It is an awesome library.

[2021-11-17 18:05] #2652 closed, assigned to nobody

[2021-11-17 18:11] sksamuel commented on #2652
Thank you for the kind words :)

On Wed, 17 Nov 2021 at 12:05, Paul Ambrose ***@***.***> wrote:

[2021-11-17 18:17] sksamuel commented on #2538
@Pitel can you try 5.0.0.RC ?

[2021-11-17 18:19] sksamuel commented on #2565
Can you try 5.0.0.RC.
I've made a change that hopefully works around this compiler bug.

On Tue, 16 Nov 2021 at 00:27, Charles Korn ***@***.***> wrote:

[2021-11-17 21:47] charleskorn commented on #2565
Still no luck with 5.0.0.RC. I've also updated to version 5.0.0.6 of the Gradle plugin, but that didn't help either.

Sample build logs are available [here](https://github.com/batect/docker-client/runs/4243255827?check_suite_focus=true#step:13:324).

[2021-11-17 21:55] sksamuel commented on #2565
You are on 1.6 final ?

On Wed, 17 Nov 2021 at 15:47, Charles Korn ***@***.***> wrote:

[2021-11-17 21:57] charleskorn commented on #2565
Yep, [this](https://github.com/batect/docker-client/blob/renovate/kotlin/client/build.gradle.kts) is my Gradle project if you want to take a look.

[2021-11-17 22:00] sksamuel commented on #2565
I would say its a compiler issue, because nothing in kotest should be
causing the compiler to fail on annotations. I added in a work around to
avoid those annotations if not on the JVM but I guess that doesn't help.

Let's file a bug with jetbrains.

On Wed, 17 Nov 2021 at 15:57, Charles Korn ***@***.***> wrote:

[2021-11-18 03:40] sksamuel commented on #2373
Now that 5.0.0.RC has been released, the latest snapshot of the spring extension has fixed this issue.

[2021-11-18 03:40] #2373 closed, assigned to nobody

[2021-11-18 03:41] sksamuel commented on #2226
Al items on the roadmap for 5.0 are now completed.

[2021-11-18 03:41] #2226 closed, assigned to nobody

[2021-11-18 04:37] sksamuel commented on #2654
This works (not super advanced!)

[code]

[2021-11-18 14:03] sksamuel opened #2655 "Add mutable test clock"
Would be nice if we had a fixed clock but that could be advanced manually.

[2021-11-18 18:23] sksamuel opened #2656 "Inspectors for maps"
We already have them for collections

[2021-11-18 18:51] sksamuel opened #2657 "Inspectors are not suspendable"
Should change inspectors to be inline

[2021-11-18 21:50] charleskorn commented on #2565
Sure, I'll pull together a sample project and file a bug with them.

[2021-11-18 21:52] sksamuel commented on #2565
Appreciate it. You can tag me in it too if you want @sksamuel.

On Thu, 18 Nov 2021 at 15:50, Charles Korn ***@***.***> wrote:

[2021-11-18 22:03] charleskorn commented on #2565
I wasn't able to tag you, but I've raised this as https://youtrack.jetbrains.com/issue/KT-49790.

[2021-11-20 02:44] dalewking opened #2658 "Add conditional invert function with parameter to conditionally invert"
Sometimes you need to conditionally invert a matcher based on some data, so depending on the data you might need to invert the matcher or you may not. It occurs to me (and am writing an extension function to do it myself) that it would be hander if there was a member or extension function that did this:

`fun <T> Matcher<T>.invertIf(invert: Boolean): Matcher<T> = if(invert) invert() else this`

[2021-11-20 02:50] sksamuel commented on #2658
Do you have an example of the usage?

On Fri, 19 Nov 2021, 20:44 Dale King, ***@***.***> wrote:

[2021-11-20 03:39] dalewking commented on #2658
In my case I am using reflection to verify the characteristics of some properties on a data class are defined correctly. This is a boiled down version of my code. Say you have this data class:

[code]

I might use it like this:
[code]

which is using some reflective matchers I created on KProperty (let me know if you would like them to add to the library)

[2021-11-20 03:48] sksamuel commented on #2658
Makes sense to add these I think.

[2021-11-20 04:08] dalewking commented on #2658
I fixed the definition in the first comment that swallowed the generic parameters.

And if you are interested these are the reflective property matchers I mentioned:
[code]

[2021-11-20 05:11] dalewking opened #2659 "kotest-assertions-klock has not been released with latest changes"
Back in February there were a couple of PRs to klock assertions that were merged (#2116 and #2124) and shortly thereafter it was moved to its own top level repo. It does not look like those changes ever got released. I see 4.4.3 released on March 7th, the same time it was pushed to a top level repo but that does not seem to have those PRs in it.

[2021-11-20 16:28] sksamuel commented on #2630
Ok, so I have no idea why this fixes it, but if you add the junit launcher dependency to the junit module, it works.

[code]

That's defined by both junit and kotest but it's like surefire only includes it once if you don't specify it explicity.

[2021-11-20 17:41] TWiStErRob opened #2660 "Snapshot badge is broken on website"
![image](https://user-images.githubusercontent.com/2906988/142736033-30c3a3df-b53a-4b6a-b5ac-d0e12144eb56.png)

I found this snippet creating it:
https://github.com/kotest/kotest/blob/5eb9b165d4588bd59952f3afc79df4d007676d6d/documentation/src/pages/index.js#L139-L143

The interesting thing is that the artifact is there:
https://oss.sonatype.org/content/repositories/snapshots/io/kotest/kotest-frame

[2021-11-20 17:45] TWiStErRob commented on #2660
Raised upstream, I think it's on their side: https://github.com/badges/shields/issues/7305

[2021-11-20 18:11] sksamuel commented on #2660
Thanks for raising the bug with them.

[2021-11-20 18:15] sksamuel commented on #2630
I'm going to close this as the workaround above seems good to me. If you still have issues please reopen this ticket.

[2021-11-20 18:15] #2630 closed, assigned to nobody

[2021-11-20 18:23] sksamuel commented on #2659
So just coming to release this, and it looks like they've removed the ios targets from klock in the later releases.

[2021-11-20 19:03] minoism opened #2661 "Custom classpath is invalid"
**Which version of Kotest are you using** 4.6.3
[code]

It is expected that the classpath run by test should have shadowJar, but unfortunately it failed, or does kotest have another method to customize the classpath?

[2021-11-20 23:25] #2657 closed, assigned to nobody

[2021-11-20 23:26] sksamuel commented on #2661
Kotest should just use the classpath as configured by gradle. Gradle is launching the tests engine.

[2021-11-20 23:43] sksamuel opened #2662 "Java flight recorder integration"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-11-21 00:48] dalewking commented on #2659
We're using the latest release 2.4.6 and it supports iOS. Why do you think it doesn't support iOS. They probably used to tell you to do a dependency in iosMain for it but it now uses the support in Kotlin 1.4 that you only have to specify the dependency in common (https://kotlinlang.org/docs/whatsnew14.html#specifying-dependencies-only-once)

[2021-11-21 02:31] sksamuel commented on #2416
Published to maven now:
https://oss.sonatype.org/content/repositories/snapshots/io/kotest/kotest-framework-standalone-jvm/5.0.0.775-SNAPSHOT/

[2021-11-21 02:31] #2416 closed, assigned to sksamuel

[2021-11-21 03:16] sksamuel commented on #2659
Klock doesn't publish all builds on maven. You're right, ios is there. Watchos isn't or tvos. I've published all the possible targets klock supports. Let me know if I missed anything.

PS. the group is now io.kotest.extensions and the version has been reset to 1.0.0 like the other top level repos.

[2021-11-21 03:16] #2659 closed, assigned to nobody

[2021-11-21 06:27] minoism commented on #2661
Sorry, I don't have a good understanding you mean, do you mean this can't do it? But I have to clarify to you that if I run with Gradle testing, everything is normal, but if I test with the IntelliJ plugin provided by Kotest, it fails.

SUCCESS:
![image](https://user-images.githubusercontent.com/58068445/142752149-31d2c5c0-6abb-47d2-b85b-0a86bb00cbd4.png)
FAILED:
![image](https://user-images.githu

[2021-11-22 00:35] sksamuel commented on #2661
Intellij won't understand custom gradle classpaths.
Try switching execution to always use gradle.

![image](https://user-images.githubusercontent.com/743706/142785633-8ae7129c-f0af-4ab0-b9d9-e2c4341b97dc.png)

[2021-11-22 01:41] sksamuel commented on #2565
Thanks Charles

On Thu, 18 Nov 2021 at 16:03, Charles Korn ***@***.***> wrote:

[2021-11-22 01:42] sksamuel commented on #2565
Looks like they have a minimal reproducer, so hopefully fixed in 1.6.10

On Sun, 21 Nov 2021 at 19:41, Stephen Samuel (Sam) ***@***.***> wrote:

[2021-11-22 04:00] sksamuel commented on #2145
I think the difference here, is that they are single predicates. So each predicate is executed in turn on the next element of the list.

With inspectors, everything in the block is executed every each element, and the counts then compared to the requirements.

[2021-11-22 05:56] sksamuel commented on #2660
I've fixed the home page now.

[2021-11-22 05:56] #2660 closed, assigned to nobody

[2021-11-22 08:24] fipp commented on #5426
Just got this with 2021.2.3 during/after upgrade of plugin:

[code]

<img width="768" alt="image" src="https://user-images.githubusercontent.com/1716906/142827427-eb24c309-4b6a-4cef-826f-a6572f3a8cc5.png">

[2021-11-22 10:27] TWiStErRob commented on #2660
For ref https://github.com/kotest/kotest/commit/f538018ee0f34c9e9719d2fef9669bc482c161fd#diff-caf9f906b16a91cb0160c50abdac8bd6db9a283fa9751f9801ef991554b46a8a

Interesting, did the URL contract change?

[2021-11-22 12:32] sbogolepov commented on #2565
Hi. First of all, thanks for the report :)
Indeed, we reduced the problem to a minimal reproducer. But it does not mean that this is going to be fixed in 1.6.10. The purpose of 1.6.10 is to fix regressions that were introduced in 1.6.0, and this bug was introduced way-way earlier. It is definitely going to be fixed in 1.6.20, though (in fact, it should be already fixed in compiler dev builds).

Th

[2021-11-22 12:43] sksamuel commented on #2565
Any suggestions on a workaround? I tried avoiding the paths that use the
annotations unless the platform is JVM.

On Mon, 22 Nov 2021, 06:33 Sergey Bogolepov, ***@***.***>
wrote:

[2021-11-22 14:03] minoism commented on #2661
Yes, I'm sure this option always use Gradle. But the problem is, I run the Kotest test test here:
![image](https://user-images.githubusercontent.com/58068445/142874779-17f61a27-435e-411f-84b6-cdf4791ec333.png)
![image](https://user-images.githubusercontent.com/58068445/142874813-ff99bc46-ec18-4900-bcad-d454c927a43a.png)
They will run through Kotest's IDE Plugin

[2021-11-22 14:05] sbogolepov commented on #2565
Well, this is a compile-time error, so even if these paths are never executed, they still will be compiled and trigger the error.
The idea is to make sure that calls to property accessors are not compiled on Native. For example, you can create expect/actual wrappers around annotation properties:
`commonMain`:
[code]
`jsMain` and `jvmMain`:
[code]
`desktopMain`:
[code]
And use `valuesWrapper` inste

[2021-11-22 16:36] sksamuel commented on #2565
So the annotations stay as they are, but we only access via those extension vals.
I can give it a go.

[2021-11-22 16:44] sksamuel commented on #2565
Seems you can only have one wrapper per package as well (FYI)

[2021-11-22 17:34] sksamuel commented on #2565
@charleskorn can you try build 5.0.0.794-SNAPSHOT ?
if that works I will publish final RC before 5.0.0

[2021-11-22 17:47] sksamuel commented on #2661
Those will always run via intellij. The green arrow at the class level
should run via gradle.

On Mon, 22 Nov 2021 at 08:03, 凛 ***@***.***> wrote:

[2021-11-22 17:47] sksamuel commented on #2660
Not sure, just played about until it worked :)

On Mon, 22 Nov 2021 at 04:27, Róbert Papp ***@***.***> wrote:

[2021-11-22 21:29] irmen commented on #5426
I just the same error as fipp above.  Kotest 1.1.44,  IntelliJ IDEA 2021.2.3

[2021-11-22 21:31] sksamuel commented on #5426
Looks like you have two versions of the plugin installed.

It says you have .1.44-IC-2021.1 and .1.43-IC-2021.1

On Mon, 22 Nov 2021 at 15:29, Irmen de Jong ***@***.***>
wrote:

[2021-11-22 21:48] irmen commented on #5426
Hm, I guess updating the plugin without restarting IDEA isn't a good idea then

[2021-11-22 21:55] charleskorn commented on #2565
Good news: that now compiles.

However, running the tests produces no progress information during the run from Gradle, and no tests in the test report. Failing tests also don't cause the task to fail. There's also none of the usual `##teamcity` output from kotest if I run the `.kexe` directly. (The same tests fail as expected on the JVM.)

[2021-11-22 22:19] rgoldberg opened #2665 "IntelliJ IDEA plugin getId default implementation is deprecated"
**Which version of Kotest are you using**
3.3.0.11

IntelliJ IDEA 2021.3 RC outputs the following exception when using the kotlintest 3.3.0.11 plugin:

[code]

[2021-11-22 22:36] sksamuel commented on #2565
Yeah I'm seeing something similar myself.
I'll have to binary search to find out what's gone on

On Mon, 22 Nov 2021 at 15:55, Charles Korn ***@***.***> wrote:

[2021-11-22 23:33] sksamuel commented on #2565
Ok its fixed locally. Try 795 once it completes building and you should be good for native. I can run native tests with 1.6, those annotation errors have gone away (I use linux btw). Let me know :)

There's still an issue with JS that has started with 1.6. Some runtime issue with coroutines. If you're not using JS then it won't affect you, but I hold off releasing 5.0.0 final until I lock down wha

[2021-11-22 23:46] sksamuel commented on #2565
Ok the issue with JS is only when using node. So I guess that means its probably in the 1.6 compiler somewhere.
I've raised this: https://youtrack.jetbrains.com/issue/KT-49851

[2021-11-23 04:30] davidmoshal opened #2666 "5.0.0.RC ClassNotFoundException: kotlin.time.DurationUnit"
**Which version of Kotest are you using**
5.0.0.RC

Changing version from 5.0.0.M3 to 5.0.0.RC results in this error:

(note isn't specific to any particular test):

[code]

[2021-11-23 07:50] minoism commented on #2661
You are right, but it's not good to run the whole class every time, maybe there is any way to solve this special case?

[2021-11-23 08:57] charleskorn commented on #2565
I'm now getting tests running with that version 🎉 However it looks like I'm also getting tests running multiple times in the wrong class. It seems to be additive - tests from the first test class that runs seem to then run again in the context of the second class, then tests from the first two classes run again in the context of the third and so on.

[2021-11-23 15:07] sksamuel commented on #2666
You prob need to upgrade to kotlin 1.6.

[2021-11-23 15:07] sksamuel commented on #2565
I see the same, next build should have this wrapped up.
Once I confirm it works on my multiplatform test project, I will release 5.0.0.RC2.

[2021-11-23 16:35] sksamuel commented on #2565
@charleskorn other than the JS node issue with the compiler, all looking good I think.

The multiplatform example project runs against latest snapshots no problem.
https://github.com/kotest/kotest-examples-multiplatform

[2021-11-23 16:39] sksamuel commented on #2665
I would recommend you upgrade to Kotest. You can wait for 5.0 to be released (which is Kotlin 1.6 only) or use 4.6.3 which is 1.4/1.5 compatible.

[2021-11-23 17:55] sksamuel commented on #2661
Possibly make the plugin use gradle even for nested tests but that isn't
something that will be done in the short term (unless you wanted to
contribute a PR).

On Tue, 23 Nov 2021 at 01:50, 凛 ***@***.***> wrote:

[2021-11-23 21:48] charleskorn commented on #2565
Looks like everything is working now, thanks @sksamuel!

[2021-11-23 21:54] sksamuel commented on #2565
Awesome, 5.0.0.RC2 is out too.

Will wait on the JS reply from jetbrains before releasing 5.0.0 final

On Tue, 23 Nov 2021 at 15:49, Charles Korn ***@***.***> wrote:

[2021-11-24 04:21] davidmoshal commented on #2666
Am using kotlin 1.6.

[2021-11-24 05:08] davidmoshal opened #2667 "JUnitXmlReporter gradle dependency missing"
Please describe here what you would like to see documented.
The documentation alludes to using the JUnitXmlReporter:
- https://kotest.io/docs/extensions/junit_xml.html

However the dependency name for the junit and html extensions are not in the documentation

Took a bit of searching but these appear to be them:
[code]

Would be nice to put the dependencies in the documentation, actually for all g

[2021-11-24 05:27] minoism commented on #2661
It seems interesting! I will take time to study kotest, and wait for your work. Praise!

[2021-11-24 05:27] rgoldberg commented on #2665
Thanks. Didn't know these were separate plugins. Are the underlying Kotlin testing frameworks the same but just different plugins, or are the underlying frameworks different, either completely or just by versions supported? Thanks.

[2021-11-24 07:44] sschuberth opened #2668 "Have YAML matchers in addition to JSON matchers"
Just like [Json Matchers](https://kotest.io/docs/assertions/json-matchers.html), we should have *Yaml* Matchers, too. While I'm aware that [kotlinx.serialization has no built-in support for YAML](https://github.com/Kotlin/kotlinx.serialization/issues/4), there is the multi-platform https://github.com/him188/yamlkt add-on for kotlinx.serialization which we could probably use.

[2021-11-24 12:53] sksamuel commented on #2667
Yeah you need `kotest-extensions:kotest-extensions-junitxml`.
I'll update docs.

[2021-11-24 13:14] sksamuel commented on #2667
Docs updated. Thanks for the heads up.

[2021-11-24 13:14] #2667 closed, assigned to nobody

[2021-11-24 13:17] sksamuel commented on #2665
This project used to be called KotlinTest (modeled after ScalaTest) but due to Jetbrains introducing kotlin.test around the same time, we decided that this project should be renamed to avoid confusion. So in April 2020 Kotest was released as version 4.0 of this project.

So you're running the old plugin before version 4.

[2021-11-24 13:47] sksamuel commented on #2666
Sounds like a 1.5 version is being pulled in somewhere.

On Tue, 23 Nov 2021 at 22:21, davidmoshal ***@***.***> wrote:

[2021-11-24 13:47] sksamuel commented on #2666
DurationUnit was added in 1.6

@SinceKotlin("1.6")
@WasExperimental(ExperimentalTime::class)
public expect enum class DurationUnit

On Wed, 24 Nov 2021 at 07:47, Stephen Samuel (Sam) ***@***.***> wrote:

[2021-11-24 23:48] kieranipalmer opened #2670 "NoSuchMethodException eq with Arrow Assertion Extension"
**Which version of Kotest are you using**
Kotest: 5.0.0
Kotest Arrow Assertions: 1.1.0
Kotlin: 1.6.0

When using version `1.1.0` or above of `kotest-assertions-arrow`, the infix `shouldBeRight` and `shouldBeLeft` throw
`java.lang.NoSuchMethodError: 'java.lang.Throwable io.kotest.assertions.eq.EqKt.eq$default(java.lang.Object, java.lang.Object, boolean, int, java.lang.Object)'`

[2021-11-25 04:14] ashishkujoy commented on #2670
Fix added in https://github.com/kotest/kotest-extensions-arrow/pull/98

[2021-11-25 08:17] i-walker commented on #2670
Can you check if you have this in your classpath "io.kotest:kotest-assertions-shared:5.0.0"
if not you could add it like this:
[code]

[2021-11-25 08:53] rackdon opened #2671 "java.lang.NoSuchMethodError: 'io.kotest.core.test.Description$Test io.kotest.core.test.TestCase.getDescription()'"
**Which version of Kotest are you using**
	"io.kotest.extensions:kotest-extensions-spring:1.0.1"
	"io.kotest.extensions:kotest-assertions-arrow:1.1.1"
	"io.kotest:kotest-runner-junit5-jvm:5.0.0"
	"io.kotest:kotest-assertions-core-jvm:5.0.0"
	"io.kotest:kotest-property-jvm:5.0.0"

The following test
[code]

throws the following error
[code]

It only happens with the new `5.0.0` version. Works fine

[2021-11-25 15:03] sksamuel commented on #2671
Can you try spring extensions 1.1.0

[2021-11-25 16:13] sksamuel commented on #5427
Can you try in 5.0 with latest plugin

[2021-11-26 07:47] rackdon commented on #2671
Thank you very much. With spring extensions 1.1.0 works everything fine

[2021-11-26 07:47] #2671 closed, assigned to nobody

[2021-11-26 10:31] huehnerlady commented on #2666
Hi,

I am also using Kotlin 1.6 and with the update to kotest 5.0 in [this repository](https://github.com/europace/docker-publish-gradle-plugin/pull/64) I run into a similar error:

[code]

I am actually enforcing the kotlin 1.6 dependency to prevent 1.5.x to be coming up somewhere, but still run into that issue.

I thought as it is also abbout DurationUnit, I am in the right issue here instead of

[2021-11-26 19:42] #2626 closed, assigned to nobody

[2021-11-26 22:56] #2665 closed, assigned to nobody

[2021-11-26 23:31] sksamuel commented on #2666
@huehnerlady thanks for the repo, I've tracked down that the issue is caused by this: https://github.com/gradle/gradle/issues/16345#issuecomment-861119625

At the moment I'm not sure what you can do, other than wait for an updated version of gradle that uses 1.6 internally.

[2021-11-26 23:31] sksamuel commented on #2666
@davidmoshal are you also using gradleApi() or java-gradle-plugin ?

[2021-11-27 01:34] sksamuel commented on #5427
Been looking at this. It should work if you run tests from the plugin. If you're using gradle, you're hitting a gradle bug which doesn't support nested tests that are not methods.

[2021-11-27 01:35] sksamuel commented on #5431
Upgraded to 1.3.0 and it seems fixed.

[2021-11-27 01:35] #5431 closed, assigned to nobody

[2021-11-27 02:18] sksamuel commented on #5441
Fixed in next release.

[2021-11-27 02:18] #5441 closed, assigned to nobody

[2021-11-27 02:19] sksamuel commented on #5451
Closing because cannot duplicate.

[2021-11-27 02:19] #5451 closed, assigned to nobody

[2021-11-27 15:49] pientaa commented on #2656
Hi, I'd love to take that issue. Actually this will be my first issue here, so I'll inform you about my progress

[2021-11-27 16:10] sksamuel commented on #2656
cool!

On Sat, 27 Nov 2021, 09:49 Łukasz Pięta, ***@***.***> wrote:

[2021-11-27 16:52] sksamuel commented on #2538
5.0.0 has been released

[2021-11-27 16:52] #2538 closed, assigned to nobody

[2021-11-27 18:10] sksamuel commented on #5444
This is fixed in the latest plugin and kotest 5.0.0.

[2021-11-27 18:10] #5444 closed, assigned to nobody

[2021-11-27 23:42] sksamuel opened #2672 "Add docs for fail fast"
Please describe here what you would like to see documented.

[2021-11-27 23:42] sksamuel opened #2673 "Add docs for TestCoroutineDispatcher mode"
Please describe here what you would like to see documented.

[2021-11-27 23:42] sksamuel opened #2674 "Add docs for coroutine debugging mode"
Please describe here what you would like to see documented.

[2021-11-27 23:42] sksamuel opened #2675 "Add docs to fail project if no tests executed"
Please describe here what you would like to see documented.

[2021-11-27 23:43] sksamuel opened #2676 "Add docs for project extension"
Please describe here what you would like to see documented.

[2021-11-27 23:43] sksamuel opened #2677 "Add docs for project timeout"
Please describe here what you would like to see documented.

[2021-11-27 23:49] sksamuel commented on #2544
Closing until new information is added.

[2021-11-27 23:49] #2544 closed, assigned to nobody

[2021-11-27 23:50] sksamuel commented on #2632
@maciejpigulski are you able to get this to work with the latest published versions?

[2021-11-27 23:53] sksamuel opened #2678 "Roadmap 5.1"
- [x] #2646
- [x] #2655
- [x] #2656
- [x] #2658
- [x] #2684
- [x] #2698
- [x] #2701
- [x] #2704
- [x] #2746
- [x] #2756
- [x] #2759
- [x] #2766
- [x] #2767
- [x] #2768
- [x] #2774
- [x] #2779

[2021-11-27 23:56] sksamuel commented on #2620
Now that 5.0 is out, where are we with this issue ?

[2021-11-27 23:57] sksamuel commented on #2331
@sangrambankar can you try with Kotest 5.0 and a gradle 7+ build ?

[2021-11-27 23:58] sksamuel commented on #2620
Related to https://github.com/kotest/kotest/issues/1106 ?

[2021-11-28 03:32] #2677 closed, assigned to nobody

[2021-11-28 03:43] #2673 closed, assigned to nobody

[2021-11-28 04:26] #2674 closed, assigned to nobody

[2021-11-28 05:57] sksamuel opened #2680 "Dump coroutine output automatically"
Dump coroutine output automatically when coroutine debugging is enabled.

[2021-11-28 07:12] #2680 closed, assigned to nobody

[2021-11-28 13:38] JoonasC opened #2682 "Multiplatform - only one common test gets executed on JS and time reporting for JVM tests doesn't work"
**Which version of Kotest are you using**
5.0.0

I have 4 common tests: SyntaxCheckerTests, TokenizerTests, ConnectionTests and ObjectCreationUtilsTests, for some reason with a multiplatform setup similar to [https://github.com/kotest/kotest-examples-multiplatform](https://github.com/kotest/kotest-examples-multiplatform) only the ConnectionTests test gets run on browser JS and all the other tests

[2021-11-28 14:21] sksamuel commented on #2682
Do you have node target?

On Sun, 28 Nov 2021, 07:38 Joonas Coatanea, ***@***.***>
wrote:

[2021-11-28 14:22] JoonasC commented on #2682
@sksamuel Nope only the browser target

[2021-11-28 14:24] JoonasC commented on #2682
Also, I was thinking this might have something to do with the fact that all of my common tests are not in the same subdirectory within the common tests directory..

[2021-11-28 14:26] sksamuel commented on #2682
Different packages you mean?

On Sun, 28 Nov 2021, 08:24 Joonas Coatanea, ***@***.***>
wrote:

[2021-11-28 14:26] JoonasC commented on #2682
Yeah, as you can see on the attached screenshot for the running JVM test.

[2021-11-28 14:29] sksamuel commented on #2682
Shouldn't matter.

Can you remove js and or jvm targets, see if native appears.

On Sun, 28 Nov 2021, 08:27 Joonas Coatanea, ***@***.***>
wrote:

[2021-11-28 14:31] JoonasC commented on #2682
I don't have a native target, because I don't need it.

[2021-11-28 14:31] JoonasC commented on #2682
It's only JVM (with Java support), and browser JS.

[2021-11-28 14:45] sksamuel commented on #2682
I'm guessing you can't share the project because of privacy reasons?

On Sun, 28 Nov 2021 at 08:32, Joonas Coatanea ***@***.***>
wrote:

[2021-11-28 14:46] JoonasC commented on #2682
Yeah, but I can put together a reproducer, if it would help

[2021-11-28 14:48] sksamuel commented on #2682
Yes definitely.
I've just tried different packages and it works for me.

On Sun, 28 Nov 2021 at 08:46, Joonas Coatanea ***@***.***>
wrote:

[2021-11-28 15:51] sksamuel opened #2683 "Cannot compile node tests"
"TypeError: Cannot read property '_value_1' of undefined" only in node output with Kotlin 1.6 and coroutines

See kotlin compiler issue : https://youtrack.jetbrains.com/issue/KT-49851

_Originally posted by @sksamuel in https://github.com/kotest/kotest/issues/2565#issuecomment-976012531_

[2021-11-28 15:51] sksamuel commented on #2565
I have created a new issue to track the JS compiler bug, and am closing this.

https://github.com/kotest/kotest/issues/2683

[2021-11-28 15:51] #2565 closed, assigned to nobody

[2021-11-28 15:58] sksamuel commented on #2682
I've updated the examples project with multiple package tests and it still works.
I've also bumped all the versions to 5.0.0 final. Are you using 5.0.0 or the snapshot version that was in the repo ?

[2021-11-28 16:04] JoonasC commented on #2682
The final 5.0.0 version, I'll try to have a reproducer ready for next week

[2021-11-28 16:22] #2675 closed, assigned to nobody

[2021-11-28 16:28] #2672 closed, assigned to nobody

[2021-11-28 16:29] sksamuel opened #2684 "Add project wide fail fast"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-11-28 21:03] JoonasC commented on #2682
@sksamuel The following reproduces the issue for me: [kotest-repro.zip](https://github.com/kotest/kotest/files/7614359/kotest-repro.zip)
![image](https://user-images.githubusercontent.com/3898724/143785806-c6737bcb-0be4-43d5-9870-5f9f42770132.png)

[2021-11-28 21:18] sksamuel commented on #2682
![image](https://user-images.githubusercontent.com/743706/143786360-85a2d83b-b42f-4227-9e15-b2ebdb04b8cb.png)

[2021-11-28 21:21] JoonasC commented on #2682
Yes, that seems like the same behavior. As you can see only the Bar test got executed with browser JS, and the t2 test for Foo reports 0ms even though I put a 2000ms delay in that test.

[2021-11-28 21:26] sksamuel commented on #2682
Yeah, I can see the tests are being generated by the compiler plugin, so trying to figure out why they're not being picked up at runtime.

[2021-11-28 22:13] sksamuel commented on #2682
Looks like it is this: https://github.com/kotest/kotest/issues/2683. I thought that issue was node only but seems its not.

[2021-11-28 22:18] JoonasC commented on #2682
Ok, what about the incorrect time reporting? That's not a JS issue

[2021-11-28 22:19] sksamuel commented on #2682
In the JVM it's a known regression and will be fixed in 5.0.1.

On Sun, 28 Nov 2021 at 16:18, Joonas Coatanea ***@***.***>
wrote:

[2021-11-28 22:20] sksamuel opened #2686 "Regression: Test times reported as zero in junit"
This is due to the lazy eventing introduced in 5.0.0 so that will need to be backed out for anything that isn't a TestType.Dynamic

[2021-11-28 22:20] sksamuel commented on #2682
https://github.com/kotest/kotest/issues/2686

[2021-11-28 22:20] JoonasC commented on #2682
👍

[2021-11-28 22:22] sksamuel commented on #2682
If you can upvote this issue, it might help: https://youtrack.jetbrains.com/issue/KT-49851

[2021-11-28 22:23] JoonasC commented on #2682
Done

[2021-11-28 22:36] sksamuel commented on #2682
Catching the error seems to make it work, as the exception seems to happen when the final coroutine context is being released, which at that point, your test is completed anyway. So I've got it working in a local build and I guess is a workaround until Jetbrains fix it properly.

There seems to be another issue with a race condition that I'm looking at, where sometimes not all the specs are detect

[2021-11-28 22:41] sksamuel opened #2687 "Compiler plugins list of specs should be thread safe"

[2021-11-28 22:42] sksamuel commented on #2682
https://github.com/kotest/kotest/pull/2688

[2021-11-28 23:42] #2687 closed, assigned to nobody

[2021-11-28 23:42] #2676 closed, assigned to nobody

[2021-11-29 02:11] #2686 closed, assigned to nobody

[2021-11-29 08:10] huehnerlady commented on #2666
@sksamuel Thanks for the explanation. Does that mean I cannot update kotest in the plugin until [this PR](https://github.com/gradle/gradle/pull/19000) is released. Or is it something else I need to look out for?

[2021-11-29 15:09] busches commented on #2620
@sksamuel still broken in 5.0.

![image](https://user-images.githubusercontent.com/857700/143892385-c59b7511-1eba-4344-899a-43ba12ef6ead.png)

Also broken using `"""{"a":1}""".shouldEqualJson("""{"a":2}""")`
![image](https://user-images.githubusercontent.com/857700/143892515-e5c04b65-19bf-4d74-a2ad-bed9cee265ce.png)

The json is now formatted so a bit easier to paste into a diff, but same issue of

[2021-11-29 15:19] busches commented on #5427
I upgraded the plugin this morning and the behavior is slightly better as if I have the following:

[code]

Ideally it'd go to the assert that failed in test 2 though.

Not sure what you mean by via the plugin, I'm running it via intellij's gutter. I did try changing  `Run tests using: IntelliJ IDEA` and as `Gradle`, both have the same behavior of going to the test above it that I described above.

[2021-11-29 15:48] JoonasC commented on #2682
Also a minor QOL issue, but it seems like with Kotest 5.0.0 IDEA doesn't show the currently running test anymore. As you can see with the first screenshot, only completed tests in a spec are shown but not the currently running test.

[2021-11-29 16:26] sksamuel commented on #2682
It's related to the timing issue in Junit. May be changed for 5.0.1 or more
likely 5.0.2

On Mon, 29 Nov 2021 at 09:48, Joonas Coatanea ***@***.***>
wrote:

[2021-11-29 16:27] sksamuel commented on #5427
The assertions capture a stack trace so you should be able to go directly
to the line via the stack. That information isn't carried through to the
test location hints. I suppose it _could_ be in theory, but might prove
tricky trying to determine which frame of the stack to use.

On Mon, 29 Nov 2021 at 09:19, Scott Busche ***@***.***> wrote:

[2021-11-29 16:28] sksamuel commented on #2620
@Kantis do you think the recent JSON changes broke this?

[2021-11-29 17:21] ashishkujoy commented on #2670
@sksamuel We can release arrow assertion with this fix.

[2021-11-29 17:23] sksamuel commented on #2670
Yeah releasing 1.2.0

[2021-11-29 17:34] JoonasC commented on #2682
Any ETA on 5.0.1 or 5.0.2?

[2021-11-29 17:54] sksamuel commented on #2682
Today for 5.0.1

On Mon, 29 Nov 2021 at 11:34, Joonas Coatanea ***@***.***>
wrote:

[2021-11-29 17:56] i-walker commented on #2670
1.2.0 is out now Thanks @sksamuel and @ashishkujoy 🙌🏾

[2021-11-29 17:58] ashishkujoy commented on #2670
Thanks @sksamuel

[2021-11-29 18:09] #2670 closed, assigned to nobody

[2021-11-29 18:10] ashishkujoy commented on #2632
@maciejpigulski Please update `kotest-assertions-arrow` to 1.2.0 this release fixes the above issue.
`testImplementation("io.kotest.extensions:kotest-assertions-arrow:1.2.0")`

[2021-11-29 18:10] #2632 closed, assigned to nobody

[2021-11-29 19:21] SumeraMartin opened #2693 "Incorrect description of project-wide testCoroutineDispatcher settings"
The following document contains info about testCoroutineDispatcher for project config.

https://kotest.io/docs/framework/coroutines/test-coroutine-dispatcher.html

[code]

But when I try to use the following code then there is no available override for testCoroutineDispatcher. Not sure if this is a bug (missing property) or incorrect documentation.

I'm using 5.0.0 version of the library.

[2021-11-29 19:38] sksamuel commented on #2693
Yes that's an oversight. Will be corrected in 5.0.1

On Mon, 29 Nov 2021 at 13:21, Martin Sumera ***@***.***>
wrote:

[2021-11-29 19:50] Kantis commented on #2620
Looks like it's been this way for a long while, from what I can tell.. Working on fix

[2021-11-29 19:57] busches commented on #5427
That's what we do now, but the stacktraces are often quite long, so this is
quite a drawback.

On Mon, Nov 29, 2021, 10:28 AM Sam Sam ***@***.***> wrote:

[2021-11-29 20:51] sksamuel commented on #5427
We thought about adding some kind of configurable "stack trace cleaner".
So you could say like, only keep com.mycompany + next 5 lines, or something
like that.

Also intellij is supposed to collapse stack traces on certain package
names, like io.kotest.

https://github.com/kotest/kotest-intellij-plugin/blob/master/src/IC-213/resources/META-INF/plugin.xml#L82

On Mon, 29 Nov 2021 at 13:57, Scott Bu

[2021-11-29 21:56] #2693 closed, assigned to nobody

[2021-11-30 08:12] maciejpigulski commented on #2632
@ashishkujoy, @sksamuel yes it works perfectly with 1.2.0 version. Thanks for the support and keep up the good work!

[2021-11-30 11:50] grv87 commented on #2629
@sksamuel, let's forget about terminology for now. Does my use case look correct to you?

If not, maybe I don't understand the purpose of isolation modes?

[2021-11-30 13:36] JoonasC commented on #2682
@sksamuel Not sure if this is also a bug but I'm getting this when running tests that take a lot of time on JS:
[code]

I could just try to increase the timeout, but I think I shouldn't have to make the timeout as long as the total runtime of all my tests?

It's most likely this: [https://karma-runner.github.io/5.0/config/configuration-file.html#browserdisconnecttimeout](https://karma-runner.githu

[2021-11-30 13:46] JoonasC commented on #2682
This might also be related: [https://discuss.kotlinlang.org/t/configuring-timeouts-when-running-mocha-based-tests-in-mpp-or-js-projects/16567](https://discuss.kotlinlang.org/t/configuring-timeouts-when-running-mocha-based-tests-in-mpp-or-js-projects/16567)

[2021-11-30 16:26] JoonasC commented on #2682
Maybe I should move the new question into a new issue, since this issue has esssentially been addressed?

[2021-11-30 16:37] sksamuel commented on #2682
Yes please

On Tue, 30 Nov 2021, 10:27 Joonas Coatanea, ***@***.***>
wrote:

[2021-11-30 16:40] JoonasC opened #2697 "JS browser - Executing tests which take a long time causes Karma to time out"
**Which version of Kotest are you using**
5.0.1

I'm getting this when running tests that take a lot of time on JS browser:

Disconnected (0 times) reconnect failed before timeout of 2000ms (ping timeout)
java.lang.IllegalStateException: command '/home/joonas/.gradle/nodejs/node-v14.17.0-linux-x64/bin/node' exited with errors (exit code: 1)

I could just try to increase the timeout, but I think I

[2021-11-30 16:40] #2682 closed, assigned to nobody

[2021-11-30 16:48] sksamuel commented on #2697
Kotest is supposed to be setting this timeout for you.

https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-js/src/jsTest/kotlin/io/kotest/engine/js/TimeoutTest.kt

So need to figure out why it's not working for you.

On Tue, 30 Nov 2021 at 10:40, Joonas Coatanea ***@***.***>
wrote:

[2021-11-30 16:57] sksamuel commented on #2629
Your use case is fine, but it just isn't the way Kotest works. I think whether something is an action or a check (using your terms) is arbitrary and I outlined how Kotest has been designed. It won't change now, as it would break everyone's code.

So to recap:

* test are nested
* leaf tests are called TestType.Test
* containers are called TestType.Container
* isolation mode either re-creates just

[2021-11-30 17:00] JoonasC commented on #2697
The tests which are causing this issue don't have any delays, but instead are property tests with many nested `checkAll` functions.
For example:
[code]

[2021-11-30 17:05] sksamuel commented on #2697
Interesting, I wonder if data tests aren't resolving config correctly.
That's quite likely.

On Tue, 30 Nov 2021 at 11:00, Joonas Coatanea ***@***.***>
wrote:

[2021-11-30 17:33] sksamuel commented on #2697
withData is picking up the defaults.
Added another test that passes.
How long are your data tests taking ? The default is 60 seconds.

On Tue, 30 Nov 2021 at 11:04, Stephen Samuel (Sam) ***@***.***> wrote:

[2021-11-30 18:04] JoonasC commented on #2697
The longest one takes 2 min 30s on my machine on JVM

[2021-11-30 18:10] JoonasC commented on #2697
I manually set the Karma timeout to 30 minutes using [https://kotlinlang.org/docs/js-project-setup.html#karma-configuration](https://kotlinlang.org/docs/js-project-setup.html#karma-configuration), but it didn't seem like the tests were completing and the Firefox process was taking more and more RAM as time went on

[2021-11-30 18:10] JoonasC commented on #2697
Which is weird because the tests complete on JVM.

[2021-11-30 18:20] sksamuel commented on #2697
Do you have a reproducer ?

On Tue, 30 Nov 2021 at 12:10, Joonas Coatanea ***@***.***>
wrote:

[2021-11-30 18:21] sksamuel commented on #2611
I'll pick this up for 5.0.2

[2021-11-30 18:27] jschneidereit commented on #2611
Ok, there's some work in https://github.com/kotest/kotest/pull/2642 that kinda shows what's going wrong

[2021-11-30 18:49] sksamuel commented on #2611
Thanks jim, will build on your work.

On Tue, 30 Nov 2021 at 12:27, Jim Schneidereit ***@***.***>
wrote:

[2021-11-30 20:42] li-peng-dd commented on #5444
woo! thank you so much!

[2021-11-30 21:43] sksamuel opened #2698 "Allow setting the seed used for randomizing spec order"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-11-30 22:16] JoonasC commented on #2697
Here's the reproducer from #2682 which I have modified so it reproduces this issue: [kotest-repro.zip](https://github.com/kotest/kotest/files/7629246/kotest-repro.zip)

[2021-11-30 23:33] sksamuel commented on #2697
Changing your test to simply:

[code]

and removing JVM exhibits the same behavior. After 37 seconds you get:
Disconnected (0 times) reconnect failed before timeout of 2000ms (ping timeout)

So I guess its something to do with karma. I googled and it seems to happy when using JS directly too.

https://github.com/karma-runner/karma-chrome-launcher/issues/218
https://github.com/karma-runner/karma-ch

[2021-11-30 23:36] sksamuel commented on #2697
When using mocha it will time out properly.

On Tue, 30 Nov 2021 at 16:16, Joonas Coatanea ***@***.***>
wrote:

[2021-11-30 23:39] JoonasC commented on #2697
What do you mean with "when using mocha", to my knowledge Kotlin uses mocha by default for JS?

[2021-11-30 23:41] sksamuel commented on #2697
You were setting it to useKarma.

Try

js(IR) {
    browser {
        testTask {
           useMocha()
        }
    }
}

But Mocha doesn't give you the browser integrations perhaps.

On Tue, 30 Nov 2021 at 17:39, Joonas Coatanea ***@***.***>
wrote:

[2021-12-01 00:03] JoonasC commented on #2697
Thanks, I'll try that

[2021-12-01 03:08] sksamuel commented on #2620
@busches wanna try 5.0.1 ?

[2021-12-01 03:08] sksamuel commented on #2693
@SumeraMartin 5.0.1 is released

[2021-12-01 08:12] swanandvk opened #2699 "Provide a way to configure database container instance with pre-applied migration to run the tests"
**Example**

[code]

Provide a way to configure database container instance with pre-applied migration to run the tests
Each Spec can run the tests against its own individual container where the redundant migration and clean up wont be required.

[2021-12-01 12:59] JoonasC commented on #2697
Ok, that seems to have worked. It looks like I'll have to use Mocha only then.

Should I close this or do you want to keep this open?

[2021-12-01 13:31] fightyz commented on #5434
The problem is still there with `1.1.49-IC-2020.3` in Android Studio:
![image](https://user-images.githubusercontent.com/1697504/144243102-d25799b1-a194-4783-a951-7f9c5e90baa0.png)

[2021-12-01 16:37] sksamuel commented on #2697
I guess we can close as it's not a Kotest thing.

On Wed, 1 Dec 2021 at 06:59, Joonas Coatanea ***@***.***>
wrote:

[2021-12-01 16:38] sksamuel commented on #2699
Are you asking for a way to do a beforeTest on the container itself ?

On Wed, 1 Dec 2021 at 02:13, Swanand Keskar ***@***.***>
wrote:

[2021-12-01 16:39] #2697 closed, assigned to nobody

[2021-12-01 19:44] sksamuel opened #2701 "Option to fail build if a seed is set on a property test"
Useful to avoid people checking in seeds to master/main

https://twitter.com/osi/status/1466050321709293572

[2021-12-01 22:50] ocherniavskyi-lohika-tix opened #2702 "Custom spec style"
Hi, i want to add custom spec style, nothing serious just rename FunSpec Methods like

container -> migration
test or preparation or validation

e.g.

[code]

is it possible to add support to IntelliJ IDEA plugin to get possibility to run this tests using right click?

[2021-12-02 04:16] sksamuel commented on #2702
Creating the spec is easy.
Updating the plugin is hard. We'd have to make it dynamic, so you could somehow configure which methods to look for.
You would need to add a settings feature to the plugin so those names were persistent.
I'm not sure its worth it.

What about just adding migration: to the test name? If you use free spec then its pretty open ended.

[2021-12-02 08:15] ocherniavskyi-lohika-tix commented on #2702
@sksamuel unfortunately i need to add some configuration to this methods, smal but it will become boilerplate on big amount of tests
If there is a possibility to add settings file could you point me to doc or example how to do it?

[2021-12-02 10:21] SumeraMartin opened #2703 "Different testCoroutineDispatcher is used within each block"
I'm using 5.0.1 version of kotest.

I have the following class:
[code]

and I have the following test

[code]

The first test `Target - 1` passes successfully as expected. Bu the second test `Target - 2` fails with a timeout. After a while of debugging, I found that each block (Given, When, And, Then) is using different TestCoroutineDispatcher so `advanceTimeBy` in the And block is advancing a dif

[2021-12-02 10:50] LeoColman opened #2704 "LocalDateTime arb should accept localdatetimes as min and max"
https://github.com/kotest/kotest/blob/a1399074597304d1bcf7e91a80469772e9cdac9f/kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/dates.kt#L87

The arbs for both `localDate` and `localTime` have an equal type as parameter. LocalDateTime doesn't. As a LocalDateTime is a LocalDate + LocalTime, this should not be an issue.

To fix this:
1. Deprecate `Arb.localDateTime(minYear: Int, maxYe

[2021-12-02 15:32] busches commented on #2620
@sksamuel still broken
![image](https://user-images.githubusercontent.com/857700/144452590-abcca70a-5672-4684-b712-1cf05937140f.png)

Also still fails on much larger compares, but thankfully it's formatted so it's not as annoying.

[2021-12-02 19:40] Kantis commented on #2620
I see what I did wrong.. new fix OTW :)

[2021-12-02 23:21] pientaa commented on #2704
I'd like to take that issue

[2021-12-02 23:25] LeoColman commented on #2704
Absolutely!
Don't hesitate to ask for help if you need any :)

[2021-12-03 01:41] sksamuel commented on #2704
We can keep the old one as well as the new one if we want, since it's much simpler to use if you aren't too fussy on the values.

[2021-12-03 09:57] Jadarma commented on #2702
@sksamuel Indeed, supporting individual sub-context and test runs in a dynamic fashion would be complicated, but is it a reasonable compromise to make the plugin display the "play" gutter icon for any class that extends `io.kotest.core.spec.Spec`?
That would allow users to make their own specific DSLs without introducing too much complexity in the plugin, and it would be a great QoL because you do

[2021-12-03 10:50] LeoColman commented on #2704
I suggested deprecating it. Maybe keep it not deprecated?

[2021-12-03 15:00] busches opened #2706 "Issues when using globalAssertSoftly"
**Which version of Kotest are you using**
5.0.1

I'm seeing multiple issues in Intellij when using the following project config:
[code]

Removing the configuration or setting it to `false` causes the functionality below to work.

## Problem 1: Test execution halts on first failure
Example:
[code]

With `globalAssertSoftly = true`:
![image](https://user-images.githubusercontent.com/857700/144622692

[2021-12-03 15:09] busches opened #2707 "Tests results of CheckAll are not returned until all results are checked"
**Which version of Kotest are you using**
5.0.1

In V4, if I had a test using `checkAll` it would output the results of each condition as it finished, now the results are not outputted until all the tests are finished.

Example:
[code]

https://user-images.githubusercontent.com/857700/144625207-fa477172-7fff-42b2-a4cb-ea82b6ced7c9.mov

Using the above contrived example, I can see that the results

[2021-12-03 23:29] #2620 closed, assigned to Kantis

[2021-12-04 13:33] sksamuel opened #2709 "Add cleanup extension for files"
I have a test that leaves a bunch of junk around, might be nice to have something like

[code]

[2021-12-04 14:55] sasuke0209 opened #5425 "The test does not work when using AnnotationSpec @nested."
In Kotest 5.0.0, @Nested is now supported in AnnotationSpec, but when I use it I cannot run tests.
I wrote a test as follows, but the Run Test button is not displayed.

[code]

Do you have any plans for support?

Environment
- Intellij IDEA 2021.3

[2021-12-04 16:56] Jadarma opened #2710 "FunSpec contexts disable all tests with test-case config in 5.0.1"
**Kotest 5.0.1**

When using `FunSpec` in `5.0.1`, any test that uses the `.config` within a context will be disabled, regardless of passed `enabled` parameter.
I tired to test the same behaviour with `ShouldSpec`, but it does not manifest itself there.
Reverting the Kotest version to `4.6.3` fixes this issue, perhaps it is a regression?

Minimum steps to reproduce:
[code]

[2021-12-05 18:09] ocherniavskyi-lohika-tix opened #2712 "Allure extension throws NoSuchMethodError for kotest version 5.0.1"
kotest 5.0.1

[code]

@sksamuel ive tried to fix allure extension but faced two problems
1) test path currently doesnt honor "should" container prefix:
testCase.descriptor.path() returns "com.sksamuel.kotest.DummyShouldSpec/context a -- work"
for test:
[code]
2) Due to severity property in ResolvedTestConfig not nullable anymore we cant determine if severity was set from config therefor we can fal

[2021-12-06 17:53] pientaa commented on #2655
I can take that issue, too

[2021-12-06 19:28] natdorshimer opened #2714 "Strange timeout error even though tests aren't timing out"
Kotest 5.0.1
The tests followed a simple structure:

[code]

We ended up getting a `TestTimeoutException` even though each test was under a minute and `Test` as a whole was definitely less than 10 minutes.

[code]

Previously only `projectTimeout` was overriden to 15 since our test suite took longer than 10 minutes.

[code]

I solved the issue by setting them all to 15

[code]

But I'm not sure wh

[2021-12-07 03:36] sksamuel commented on #2714
Does the timeouts start happening after you've been running the entire test suite for 10 minutes ?
Or do they happen much sooner than that ?

[2021-12-07 05:55] natdorshimer commented on #2714
I've only that timeout happen after running the whole suite as it goes past the 10 minute mark

[2021-12-07 11:18] sksamuel commented on #2714
Are you setting 10 minutes as a value anywhere in the codebase?
The Kotest suite itself is about 30 minutes long so I don't think there's a
hard coded internal timeout causing this, but perhaps the 10 minutes is
being picked up and erroneously used for a project timeout.

On Mon, 6 Dec 2021 at 23:55, Natalie Dorshimer ***@***.***>
wrote:

[2021-12-07 11:20] sksamuel commented on #2714
One thing that may be different in 5.0 is that tests will inherit parent
scope timeouts. Do you have a parent timeout of 10 minutes ?

On Tue, 7 Dec 2021 at 05:18, Stephen Samuel (Sam) ***@***.***> wrote:

[2021-12-07 15:12] natdorshimer commented on #2714
As far as I know, no. I can't find Kotest timeout settings set anywhere except in the `AbstractProjectConfig`. What places could it  be trying to grab the timeout from? There is no parent scope in the test that I provided

[2021-12-07 15:16] sksamuel commented on #2714
It would try your abstract project config, and any settings inside specs
themselves or on individual tests.

It's the InvocationTimeoutInterceptor that is throwing this error, so maybe
look for invocationTimeout in your codebase.

On Tue, 7 Dec 2021 at 09:12, Natalie Dorshimer ***@***.***>
wrote:

[2021-12-07 15:38] natdorshimer commented on #2714
Then no there aren't any other timeout settings set

[2021-12-07 15:54] sksamuel commented on #2714
Has someone set a system property in your build somewhere, or in gradle or
in CI ?

kotest.framework.invocation.timeout

or

kotest.framework.timeout

or

kotest.framework.projecttimeout

On Tue, 7 Dec 2021 at 09:38, Natalie Dorshimer ***@***.***>
wrote:

[2021-12-07 15:55] sksamuel commented on #2714
Either a system property or an env var ?

[2021-12-07 16:08] natdorshimer commented on #2714
Nope, nothing like that set in CI or as an env var anywhere

And you mentioned they're supposed to default to 30 minutes instead of 10? Was that a recent change or has it always been like that?

[2021-12-07 16:30] sksamuel commented on #2714
60 minutes, been like that for years.

On Tue, 7 Dec 2021 at 10:08, Natalie Dorshimer ***@***.***>
wrote:

[2021-12-07 19:26] natdorshimer commented on #2714
Is that just the project timeout? The default timeout per test appears to be 10 minutes as demo'd here: https://github.com/natdorshimer/kotest-testing

[2021-12-07 19:29] sksamuel commented on #2714
Ok thanks for the re-producer. Let me test it out.

On Tue, 7 Dec 2021 at 13:26, Natalie Dorshimer ***@***.***>
wrote:

[2021-12-07 19:29] sksamuel commented on #2714
I guess I should ask, do you run via gradle check or from intellij with the
plugin ?

On Tue, 7 Dec 2021 at 13:28, Stephen Samuel (Sam) ***@***.***> wrote:

[2021-12-07 20:31] sksamuel commented on #2714
Yes I think you're right.
Turns out 600 x 1000 is not 60 minutes but 10 minutes.
Who knew :joy:

[2021-12-07 22:50] natdorshimer commented on #2714
We run our tests with the gradle plugin but either should work to show the default timeout

[2021-12-08 01:44] sksamuel commented on #2710
Thanks for bug report, we'll get 5.0.2 out next day or so.

[2021-12-08 01:44] #2710 closed, assigned to nobody

[2021-12-08 01:44] sksamuel commented on #2710
(Fixed in master)

[2021-12-08 08:15] SumeraMartin opened #2716 "Kotest-robolectric doesn't work with IsolationMode.InstancePerLeaf"
I'm using kotest version 5.0.1

When I tried to use kotest-robolectric-extensions then I've got an error from Robolectric with the following message `this method should only be called by Robolectric`. I found out that this was caused by multiple executions of the intercept method inside RobolectricExtension. Setting isolationMode to SingleInstance fixed this issue.

[2021-12-08 08:25] SumeraMartin opened #2717 "Kotest-robolectric doesn't work locally in my project"
I'm using kotest version 5.0.1

When I tried to use kotest-robolectric-extension then I've got an error `java.lang.IllegalStateException: No instrumentation registered! Must run under a registering instrumentation.` which was caused by noninitialized Robolectric instance. I tried to copy the robolectric-extension project and run tests but everything was working fine there. I tried to change the pr

[2021-12-08 10:27] Hydragyrum opened #2718 "withData does not take Nullable types"
I have a use case where I with to pass a `List<String?>` in the `withData` function. However, the function requires a non-nullable type
`TypeVariable<T>`

eg:

[code]

[2021-12-08 10:30] Hydragyrum commented on #2718
A workaround is to create a holder class which takes a Nullable type, but it's somewhat awkward.

For example:

[code]

and use that

[code]

This creates a lot of unnecessary boilerplate

[2021-12-08 16:24] natdorshimer commented on #2714
Here's what might be happening: Coroutines that use `withTimeout` and fail bubble up to Kotest's handler for it.

1. Checkout https://github.com/natdorshimer/kotest-testing
2. Run `./gradlew test --info` or run `KotestTesting.kt` through intellij
3. Look at the exception generated

[code]

[code]

[2021-12-08 18:01] cuchaz opened #2720 "Clues don't get reported for some assertions"
**Which version of Kotest are you using**
4.5.0

Hello,

Some assertions don't collect clue information before being thrown, so the clue information never shows up in the failure reports.

Specifically, I noticed these null-handling functions seem to bypass the clue system in my tests:

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io

[2021-12-08 19:37] sksamuel commented on #2720
Can you try 4.6.4 as the 4.6.x branch had some clue related fixes.

On Wed, 8 Dec 2021 at 12:01, Jeff Martin ***@***.***> wrote:

[2021-12-08 20:01] cuchaz commented on #2720
I just upgraded to 4.6.4. The problem still happens.

Thanks for looking into it.

[2021-12-09 00:12] sksamuel commented on #2720
Ok we'll take a look.

On Wed, 8 Dec 2021 at 14:02, Jeff Martin ***@***.***> wrote:

[2021-12-09 05:04] sksamuel opened #2722 "Before/After container not extensions"
**Which version of Kotest are you using**

[2021-12-09 05:04] #2703 closed, assigned to nobody

[2021-12-09 07:17] #2722 closed, assigned to nobody

[2021-12-09 07:21] sksamuel commented on #2714
The applicable code here is in InvocationTimeoutInterceptor.
And that only captures a TimeoutCancellationException.

I think if we create a reproduction that has a bunch of test files, each delaying for a few minutes, the error should manifest itself.

[2021-12-09 14:40] natdorshimer commented on #2714
Hmm what do you mean? The build I posted above is an accurate reproduction of the problem I encountered.

Any `withTimeout` usage in test code will surface as a `TestTimeoutException` with a duration of `kotest timeout` instead of the duration that actually caused the original `withTimeout` failure in the test code. Like if you have a request handler that uses `withTimeout` with some duration `1s`

[2021-12-09 16:32] JoonasC opened #2723 "Browser JS - Tests sometimes get executed twice"
**Which version of Kotest are you using**
5.0.1

I have specs with property tests, and sometimes the tests will be executed twice. This only happens with property tests.

It could also have something to do with the fact that the tests take a long time to run.

![image](https://user-images.githubusercontent.com/3898724/145436635-dca4b3fa-7996-43cd-a87c-d4b2884e626a.png)

The tests and general setup

[2021-12-09 17:04] iainism opened #2725 "Test path filter vs whitespace in test names"
With Kotest 5.0.1 and the Kotest Plugin 1.1.49-IC-2020.3 in Android Studio, I've spotted that the test path filter fails to hit if a test name has leading or trailing whitespace.

e.g. with:
[code]

If I try to execute this via the widget in the gutter (or via [ctrl]+[shift]+[F10]), I get no execution, rather, the message:

`SettingViewModel is initialised correctly is excluded by test filter: Exc

[2021-12-10 08:21] sksamuel commented on #2714
Yep that's it, thanks for finding this.

The `TimeoutCancellationException` that is thrown from your own withTimeout is then caught by Kotest's InvocationTimeoutInterceptor, and then the timeout used by Kotest is reported, even tho that's not the timeout that was triggered.

[2021-12-10 08:34] sksamuel commented on #2723
It's not an error with output as the times are slightly different, although the `the syntax errors in malformed input should be detected` is the exact same time. Can you re-run this a few times to get some more timing info ?

[2021-12-10 08:35] sksamuel commented on #2725
My guess is something somewhere is stripping, and something else isn't.

[2021-12-10 09:04] BorzdeG opened #2730 "For nested tests, the report uses an incomplete test name"
kotest version: 5.0.1

[code]

the report gives the following list of tests:
[code]

I would like to see this:
[code]

[2021-12-10 09:08] sksamuel commented on #2730
Which report - xml, html, gradle..

[2021-12-10 09:09] BorzdeG commented on #2730
gradle, html

... I'll add a working example with code to the tests later.

[2021-12-10 09:11] #2718 closed, assigned to nobody

[2021-12-10 09:12] #2725 closed, assigned to nobody

[2021-12-10 09:32] #2707 closed, assigned to nobody

[2021-12-10 09:56] sksamuel opened #5424 "project config when object is marked as unused"

[2021-12-10 10:06] #5424 closed, assigned to nobody

[2021-12-10 10:06] sksamuel commented on #5425
Yep we plan to support this.

[2021-12-10 10:06] sksamuel commented on #5428
Are you still seeing this with latest versions ?

[2021-12-10 10:07] sksamuel commented on #5430
Closing as no reply. Recommendation is still the same - upgrade to supported version of Kotest. Happy to advise on any migration questions.

[2021-12-10 10:07] #5430 closed, assigned to nobody

[2021-12-10 10:07] sksamuel commented on #5426
Are you still seeing issues @irmen

[2021-12-10 10:07] sksamuel commented on #5426
Are you still seeing issues @vngantk

[2021-12-10 10:09] #2714 closed, assigned to nobody

[2021-12-10 10:24] sksamuel commented on #2720
Fixed in 5.0.2

[2021-12-10 10:24] #2720 closed, assigned to nobody

[2021-12-10 11:55] irmen commented on #5426
@sksamuel  no, I've cleaned out my old config folders and restarted the IDE.  It's working fine now. :+1:

[2021-12-10 11:58] JoonasC commented on #2723
I've re-run it a few times, and the timings keep varying. Also the intellij idea test window shows the tests executing, when they are being executed twice. So this is not a bug with the output.

[2021-12-10 11:59] sksamuel commented on #5426
Great

[2021-12-10 11:59] #5426 closed, assigned to nobody

[2021-12-10 11:59] sksamuel commented on #2723
Are all of those tests data tests or is `the syntax errors in malformed input should be detected` something else ?

[2021-12-10 12:01] JoonasC commented on #2723
Yes, they are all data/property tests although some of them include standard unit tests.

For example:
[code]

[2021-12-10 12:03] sksamuel commented on #2723
Kotest has different semantics for data vs property tests. So just to be clear on this error, you're talking about property tests - nesting checkAll inside a "test" block ?

[2021-12-10 12:06] JoonasC commented on #2723
Some of the tests have nesting `chekAll` functions and some don't, but all of them use the `checkAll` function.

[2021-12-10 12:07] sksamuel commented on #2723
Thanks, will try to reproduce.

[2021-12-10 12:09] JoonasC commented on #2723
As I mentionned in the first comment, the reproducer from #2697 is quite similar to my setup (just change `useKarma` to `useMocha`). You can try copying the property test I had in that reproducer a few times in the spec, maybe change it a bit and I think that should reproduce the issue.

[2021-12-10 12:10] JoonasC commented on #2723
One important detail is that if the `build` directory doesn't exist yet (as in the tests haven't been executed at all yet), this issue doesn't appear. It only appears after the tests have already been executed a few times previously.

[2021-12-10 12:15] sksamuel commented on #2723
Added these and can't seem to duplicate
https://github.com/kotest/kotest-examples-javascript/blob/master/src/jsTest/kotlin/io/kotest/examples/js/PropertyTests.kt

What happens if you run those ?

[2021-12-10 13:06] JoonasC commented on #2723
@sksamuel Actually, I just noticed that I'm still using the `5.0.0` gradle multiplatform plugin version. Does that have newer versions available?

[2021-12-10 13:19] JoonasC commented on #2723
Could this have been caused by that?

[2021-12-10 13:24] busches commented on #5428
No I haven't seen it in a while

[2021-12-10 13:53] sksamuel commented on #2723
I don't think so. That hasn't changed.

[2021-12-10 13:54] sksamuel commented on #2723
You can try 5.0.2 to see ?

[2021-12-10 13:55] sksamuel commented on #5428
Ok closing

[2021-12-10 13:55] #5428 closed, assigned to nobody

[2021-12-10 15:01] sksamuel commented on #2718
Fixed in 5.0.2

[2021-12-10 21:46] aSemy commented on #2646
Hi, I don't think the simplest codepoint has to be a specific codepoint for a given set of codepoints - one can be randomly selected when the shrinker is created.

[code]

I'm working on a PR :)

[2021-12-10 23:11] aSemy opened #2732 "`ShouldContainExactlyTest` fails on Windows because of path separators"
Specifically these tests:

1. `print dataclasses`
2. `include extras when too many`
3. `include missing when too few`
4. `include missing and extras when not the right amount`

![image](https://user-images.githubusercontent.com/897017/145652594-496155fa-3701-4e0e-bd64-da810c6f34cc.png)

Here's a sample output from `print dataclasses`. Top is expected, bottom is actual (from my Windows machine).

[

[2021-12-11 15:37] sksamuel commented on #2666
Yep you need to wait for gradle

[2021-12-11 15:39] sksamuel commented on #1106
This is fixed again now

[2021-12-11 15:39] #1106 closed, assigned to nobody

[2021-12-11 15:41] #2592 closed, assigned to sksamuel

[2021-12-11 15:42] sksamuel commented on #2541
Anything we still want on this ?

[2021-12-13 02:22] charleskorn opened #2735 "`shouldEndWith` reports"
**Which version of Kotest are you using**

[2021-12-13 02:22] #2735 closed, assigned to nobody

[2021-12-15 10:59] sksamuel commented on #2623
Now that 5.0 is out and you're happy with the current state, I will close this.

[2021-12-15 10:59] #2623 closed, assigned to nobody

[2021-12-15 11:42] #2706 closed, assigned to ashishkujoy

[2021-12-15 12:14] #2611 closed, assigned to jschneidereit

[2021-12-15 14:42] #2662 closed, assigned to nobody

[2021-12-15 14:43] sksamuel commented on #2655
Great!

[2021-12-15 14:43] sksamuel commented on #2655
its the java.time.Clock that we want to implement.

[2021-12-16 09:21] Zordid opened #2738 "Cannot run the most simple StringSpec test example"
**Which version of Kotest are you using**
1.6.0

I tried to follow along the documention... first of all: you forget to mention the dependency for io.kotest:kotest-core completely. The only thing I find in docs is about useJUnitPlatform and to testImplementation of io.kotest:kotest-runner-junit5.
Figured that one out myself... :-(

But then, when trying to run the very first StringSpec example I g

[2021-12-16 10:25] Kantis commented on #2738
You shouldn't need to add `io.kotest:kotest-core`.
Also, I think you're mixing up kotest and kotlin versions?

I just tried checking to see if there's anything missing, but there really shouldn't be anything more to it than described in the docs from what I can see. Adding dependency to `kotest-runner-junit5` and setting `tasks.withType<Test> { useJUnitPlatform() }` should be enough.

How are you

[2021-12-16 14:22] sksamuel commented on #2738
1.6.0 isn't a version of kotest. That's a version of kotlin.

On Thu, 16 Dec 2021, 04:25 Emil Kantis, ***@***.***> wrote:

[2021-12-17 14:13] tibtof opened #2739 "Package level ProjectConfig"
For my integration tests, I use a lot of extensions (e.g. TestContainers, Wiremock, Spring), but this setup slows down running individual unit tests a lot. I think it would be useful to have ProjectConfig bound to a single package (including sub-packages) instead of a whole module or to have a more granular PackageConfig.
Is there a simple way that I'm missing to already achieve this?

[2021-12-18 01:53] sksamuel commented on #2739
There's no current way to do this.
I guess we could add a package level project config.

[2021-12-18 01:53] sksamuel commented on #2738
@Zordid can you post up your build file ?

[2021-12-18 06:19] davidmoshal commented on #2666
@sksamuel I rolled back to 4.6.3 and haven't tried 5.x again.
Gradle is such a poor build tool, so much of it is opaque which makes in impossible to debug.

[2021-12-18 06:19] #2666 closed, assigned to nobody

[2021-12-18 16:54] #2732 closed, assigned to nobody

[2021-12-18 17:23] sksamuel commented on #2653
Cannot duplicate in 5.0.x

[2021-12-18 17:23] #2653 closed, assigned to nobody

[2021-12-18 17:24] sksamuel commented on #2316
Closed without repro. Please reopen if still happening can you have a reproducer, thanks.

[2021-12-18 17:24] #2316 closed, assigned to nobody

[2021-12-18 17:35] sksamuel commented on #2716
@LeoColman do you have any ideas ?

[2021-12-18 17:43] sksamuel commented on #2639
That's very generous to ask @GonMMarques but the steps required for an org make it a bit restrictive. We could setup an open source collective account, which cover expenses, but we don't have any expenses really.

Maybe make a $5 donation to a charity that means something to me. https://www.hki.org/

[2021-12-18 23:41] LeoColman commented on #2716
Definitely a bug.
I'm not completely sure if we can support anything too different from JUnit tho, as our integration with robolectric is very macgyverish and very dependant on some Robolectric's internals which are very specific to some JUnit internals.

We might support InstancePerTest and SingleInstance atm

[2021-12-19 04:27] charleskorn opened #2740 "Gradle test logging settings not respected for native targets"
**Which version of Kotest are you using**
5.0.3

This might just be a misunderstanding on my part... I've configured my project like this:

[code]

If I then run [this sample project](https://github.com/charleskorn/kotest-gradle-event-logging-issue)'s tests on the JVM, I get the output I expect, with output for the passing test, failing test and output to stdout:

[code]

However, if I run the sam

[2021-12-19 04:29] sksamuel commented on #2740
The testLogging is a JUnit thing, so won't have any bearing on native.
The native tests all output in the "team city" format which is picked up by intellij.
We could adapt ti to print general information too.

[2021-12-19 04:33] charleskorn commented on #2740
Interesting, I just assumed that was handled by Gradle.

If it helps, the information is definitely getting to Gradle - Gradle's HTML test report still captures the individual tests and the output in both cases, although in both cases it doesn't link the output to stdout to particular tests.

[2021-12-19 05:03] sksamuel commented on #2740
I think the kotlin gradle plugin intercepts and generates that.
It's definitely not junit platform.

[2021-12-19 11:45] #2656 closed, assigned to nobody

[2021-12-19 15:38] BorzdeG opened #2741 "Not work `js{}` and `js(BOTH){}` - only `js(IR) {}`"
kotest: 5.0.3
Kotlin: 1.6.10
Gradle: 7.3.2

`Could not resolve io.kotest:kotest-framework-api:5.0.3`

[2021-12-19 16:00] sksamuel commented on #2741
Yes that's as expected.

From the docs:

![image](https://user-images.githubusercontent.com/743706/146681711-f8ad7cfd-47dc-4b7a-a7d8-a0f0fbe95d0b.png)

[2021-12-19 16:19] BorzdeG commented on #2741
Why? What is the reason for blocking Legacy in tests? it's just a compilation: https://kotlinlang.org/docs/js-ir-compiler.html#authoring-libraries-for-the-ir-compiler-with-backwards-compatibility

[2021-12-19 22:20] charleskorn commented on #2740
Turns out this does actually work as expected - I was just configuring it wrong 🤦

Instead of configuring all `Test` tasks, you need to configure all `AbstractTestTask` tasks:

[code]

This then works flawlessly.

[2021-12-19 22:20] #2740 closed, assigned to nobody

[2021-12-19 22:23] sksamuel commented on #2740
Might be worth starting a FAQ page for this stuff.

[2021-12-19 22:24] sksamuel commented on #2741
The compiler plugin uses IR specific generation:
https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-multiplatform-plugin-js/src/jvmMain/kotlin/io/kotest/framework/multiplatform/js/SpecIrGenerationExtension.kt

[2021-12-20 05:02] #2704 closed, assigned to pientaa

[2021-12-21 17:45] inquiribus opened #2746 "Test fails because lhs of shouldBe is List, and rhs is a home-grown Iterable"
Kotest 5.0.3

This is the continuation of [this discussion](https://app.slack.com/client/T09229ZC6/CT0G9SD7Z) started on the `Kotest` slack community

Summary: `lsh` and `rhs` of `shouldBe` for `Iterable<*>` should recognize, in addition to `Collection` and superclasses, also barebone `Iterable` implementations.

There is ambiguity as to how address type equality.

Presently `shouldBe` makes a spe

[2021-12-21 20:34] tibtof commented on #2739
I would like to work on this, but I need some guidelines. I don't know if a package level config would be flexible enough. Another use case that I can think of is with maven's Surefire plugin for unit tests and Failsafe for integration tests. Would it be better to split the unit and integrations tests at TestEngine level?

[2021-12-21 21:30] sksamuel commented on #2739
I wouldn't want to split the tests because person A might want unit/int tests, and person B might want unit/int/smoke tests and so on. It wouldn't be feasible to cover everyone's use cases.

What about package level config wouldn't be flexible enough. If you have an example, I may be able to think of another solution.

[2021-12-21 22:01] tibtof commented on #2739
I was thinking that a tag level config might be more flexible and explicit than a package level config.

[2021-12-21 22:04] sksamuel commented on #2739
That is a good idea.
If we can think of appropriate syntax.

Either a map of configs inside project config,
Or an AbstractTagConfig that requires you to define the tags it is active
for.

On Tue, 21 Dec 2021 at 16:01, Tiberiu Tofan ***@***.***>
wrote:

[2021-12-22 05:51] jiwhunkim opened #2748 "kotest with spring jpa insert error - Incorrect string value"
[code]
kotlin 1.6.1
kotest 4.6.4
spring extension 1.0.0

result
working properly (insert sucess)

kotlin 1.6.1
kotest 5.0.0, 5.0.1, 5.0.2, 5.0.3, 5.0.4
spring extension 1.0.0 1.1.0

result
SQL State  : 22007
Error Code : 1366
Message    : (conn=9) **Incorrect string value**: '\xEC\xA3\xBC)\xEC\x9A...' for column 'value' at row 5

[code]

this working property
kotest 4.6.4 ~ 5.0.4

I tried to find

[2021-12-22 13:26] JoonasC commented on #2723
@sksamuel Ok, I've updated Kotest and haven't seen this behavior in a while.
Should I close this?

[2021-12-22 13:29] sksamuel commented on #2723
Yep, it sounds like it was the multi platform race condition fixed in 5.0.2 or 5.0.3.

[2021-12-22 13:29] #2723 closed, assigned to nobody

[2021-12-22 13:29] sksamuel commented on #2748
This looks like you have an SQL issue, not a Kotest issue:

[code]

[2021-12-22 13:34] jiwhunkim commented on #2748
@sksamuel
yes I also think sql issue but I only changed kotest version 4.6.4 -> 5.0.1 ~ 5.0.3

[2021-12-22 13:39] sksamuel commented on #2748
I wonder if the test wasn't being executed before for whatever reason?
The underlying issue looks like a unicode encoding thing with the non-ascii
chars.

On Wed, 22 Dec 2021 at 07:35, Jiwhun Kim ***@***.***> wrote:

[2021-12-23 00:01] maxwell-carbon opened #2750 "Test Containers 4.x broken link"
On https://kotest.io/docs/extensions/test_containers.html there's a note at the top that says:

which links to http://https//kotest.io/docs/extensions/test_containers_46x.html which fails. Even if you fix the obviously malformed link to https://kotest.io/docs/extensions/test_containers_46x.html that also 404s.

[2021-12-23 01:49] jiwhunkim commented on #2748
@sksamuel
I found a workaround.
I solved this problem by specifying the default characterset of the table.
kotest was not the problem.
We apologize for any inconvenience.
thank you.

[2021-12-23 01:49] #2748 closed, assigned to nobody

[2021-12-23 01:50] sksamuel commented on #2748
Glad you were able to fix it.

On Wed, 22 Dec 2021 at 19:50, Jiwhun Kim ***@***.***> wrote:

[2021-12-23 07:56] pareekdevanshu commented on #2249
Hi,
 what is the update on this request?

[2021-12-23 12:45] pelletier197 commented on #2249
The issue was closed for inactivity I think, but it was never implemented. Should we re-open it?

[2021-12-23 12:52] sksamuel commented on #2249
I'm not quite sure of the use case. Do you have example syntax you'd like to see

[2021-12-26 18:43] #5429 closed, assigned to nobody

[2021-12-26 18:43] #5438 closed, assigned to nobody

[2021-12-27 18:54] JoonasC opened #2751 "[Question] Property test Exhaustive.collection redundant due to data tests?"
I've recently noticed that data tests and features of property tests such as `Exhaustive.collection` and `listOf().exhaustive()` do essentially the same thing.

Is there a preferred use case for both of these, or is the property test feature redundant?

[2021-12-28 17:45] sksamuel commented on #2751
You might want to use enums/other exhaustive collections in places where an arb is expected.
For example, you might want to use Arb.bind to create an instance of a data class, so you could so something like

[code]

[2021-12-30 13:25] JoonasC commented on #2751
Ok.

Would you also advocate for mixing property and data tests, for example:
[code]

[2021-12-30 23:32] sksamuel opened #2752 "Spek execution time doesn't include constructor time"
**Which version of Kotest are you using**
5.0.3

[2021-12-31 05:59] peebbv6364 commented on #1912
It operates normally by adding the dependency below.
Can't you solve the problem by adding the line below?
[code]
with : https://github.com/kotest/kotest/issues/1911

[2021-12-31 13:02] holgerbrandl commented on #1084
Using a system property here feels like a flawed design. The contract that this kicks in a 50lines is totally unclear to the user.

Also,  even when setting the property it did not show the diff, so I had to resort to use `kotlin.test.AssertionsKt#assertEquals(T, T, java.lang.String)` instead.

[2022-01-03 13:43] Kolyall opened #2754 "Why test retries after failed result?"
Config
[code]

My test failed because of "Test '#1 should...' did not complete within 100ms"
But why the test retries after failed result 6 times?
![image](https://user-images.githubusercontent.com/3495165/147937340-53e22695-4ef4-4a8f-a1f7-3c2b768012e5.png)

[2022-01-03 14:40] sksamuel commented on #2754
What version of Kotest ?

[2022-01-03 14:40] sksamuel commented on #2754
And JVM or ... ?

On Mon, 3 Jan 2022 at 07:44, Nick Unuchek ***@***.***> wrote:

[2022-01-03 16:17] Kolyall commented on #2754
kotest:5.0.3
...

classpath 'com.android.tools.build:gradle:7.0.4'

...
  compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

    kotlinOptions {
        jvmTarget = "1.8"
    }

[2022-01-03 16:34] Kolyall commented on #2754
Sorry it not depends of "timeout".
It each time runs 6 times.
I do this: `Gradle-> Tasks-> verification-> Double click on "test" to run the task `

[2022-01-03 16:51] sksamuel commented on #2754
Can you upgrade to 5.0.3.
There was a race condition in earlier versions which may cause this.

On Mon, 3 Jan 2022, 10:34 Nick Unuchek, ***@***.***> wrote:

[2022-01-03 16:54] Kolyall commented on #2754
I upgrade to 5.0.3.
Reproduced the same behaviour.

[2022-01-03 19:58] pelletier197 commented on #2249
I have an idea of how it could work. Right now, Kotest has a few matchers with long names. So to follow library naming, the function should be something like
[code]

That said this becomes really hard to read, and you need to provide overloads for the different configurations (one without `ignorePrivateFiels` for instance.

What could be great is to pass an optional object `comparor`. The default

[2022-01-04 06:46] Kolyall commented on #2754
@sksamuel maybe you have any other suggestions?

[2022-01-04 06:48] sksamuel commented on #2754
Can you make a reproducer?
A standalone project with two dummy test that I can clone and see this behavior.

[2022-01-04 06:50] Kolyall commented on #2754
I found that:
Tests run 6 times if I run the task "test"
But If I run task "testDebugUnitTest" then Tests run 1 time correctly

[2022-01-04 06:57] sksamuel commented on #2754
If you can make the reproducer I can try to fix.

On Tue, 4 Jan 2022 at 00:51, Nick Unuchek ***@***.***> wrote:

[2022-01-04 07:13] Kolyall commented on #2754
Oh.. I get it.
Task "test" runs all test from all buildTypes : testDebugUnitTest, testReleaseUnitTest

[2022-01-04 07:13] #2754 closed, assigned to nobody

[2022-01-04 07:18] sksamuel commented on #2754
Ahhh ok, glad you figured it out.

On Tue, 4 Jan 2022 at 01:13, Nick Unuchek ***@***.***> wrote:

[2022-01-04 14:23] barkakatib opened #2755 "BehaviorSpec: Received a failure event for test with unknown id"
Kotest version: 5.0.3

There is an issue with Kotest BehaviorSpec. Duplicate `then` statement across multiple `when` in a Test File are no longer executed when running the BehaviorSpec UnitTests via the Android studio IDE. So when there are failing asserts in those duplicate 'then' clauses, one one of them is executed and the test results show green.

When the tests are executed in command line, i

[2022-01-04 14:29] timrijckaert commented on #2755
Might be related to Junit4 test runner, not reproducable with Junit5 runner

[2022-01-04 15:40] JoonasC commented on #2751
@sksamuel ?

[2022-01-04 16:03] sksamuel commented on #2751
If you have a bunch of data, you can easily wrap it in an exhaustive, and then pass it all to the check all.

So like, `checkAll(Arb.string, listOf("mydata").exhaustive()) { a,b -> }`

[2022-01-05 19:56] rveguilla opened #2756 "JUnit XML extension generates invalid XML"
Issue encounter with **io.kotest:kotest-extensions-junitxml:5.0.3**.

Detected the problem when a Jenkins build job failed due to the Jenkins JUnit test report handler being unable to parse the XML generated by the kotest junitxml extension:
[code]
Based on my research, `time` attributes in the Junit XML are expected to be seconds in decimal format (see the current implementation of the [Junit5 le

[2022-01-06 07:16] florianmutter commented on #5541
Is this really solved? For me using plugin version 1.1.49-IC-213-EAP-SNAPSHOT it still does not use kotest to run tests if I right click on a package and select "Run tests" (see screenshot)
![grafik](https://user-images.githubusercontent.com/32459530/148343966-2e630ab0-caa3-414f-8481-e59bb429b256.png)

[2022-01-06 12:51] JoonasC commented on #2751
Ok

[2022-01-06 12:51] #2751 closed, assigned to nobody

[2022-01-06 15:58] sschuberth opened #2759 "Non-nullability gets lost with `shouldBeSuccess` matcher"
This looks like a bug to me:

https://github.com/kotest/kotest/blob/c64f888bca557904590585a6fdc04fe1b4cf4720/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/result/matchers.kt#L9

If the result is of type `T` (non-nullable), why is the block then called with the nullable type `T?`?

[2022-01-06 16:03] sschuberth commented on #2759
`shouldBeFailure` has a similar problem:

https://github.com/kotest/kotest/blob/c64f888bca557904590585a6fdc04fe1b4cf4720/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/result/matchers.kt#L20-L23

The block is explicitly invoked with the not-null assertion operator (`!!`), but still the signature says `Throwable?`.

[2022-01-06 20:10] thomasneuteboom opened #2760 "`shouldBeEqualToComparingFields` not working properly or not using the `compareTo()` as stated in the documentation."
**Which version of Kotest are you using**
io.kotest:kotest-assertions-core:5.0.3

As stated in the documentation the `shouldBeEqualToComparingFields` method is using the `compareTo()` method to verify. From my experience this is not working properly or it is not actually using the `compareTo()` method to verify. At least in case of comparing two `BigDecimal` types. With the use of the `BigDecimal`

[2022-01-06 20:16] thomasneuteboom commented on #2760
Ah sorry, I overlooked the documentation. It was `shouldBeEqualComparingTo` I was looking at, instead of `shouldBeEqualToComparingFields`. Can be closed.

[2022-01-06 20:16] #2760 closed, assigned to nobody

[2022-01-07 17:52] brizzbuzz commented on #1649
Know this is closed, but others may find this helpful :)

There is a special jdbc uri syntax that test containers has (that spring can accept) that means you don't need to follow the abstract class pattern.

If you have an `application.yml` like the following

[code]

Then test containers can intercept this and your test will work as expected (only verified this on Postgres 13)

With this setup, y

[2022-01-07 22:09] jschneidereit opened #2761 "beforeSpec is executed even if there are no active tests by tags"
**Which version of Kotest are you using**
5.0.3

[2022-01-08 21:22] ghost commented on #2243
Hello, I'm back :)

Just tested Kotest version **5.0.3** with the following modified FreeSpec test from the [styles](https://kotest.io/docs/framework/testing-styles.html#free-spec) page:

[code]

and when I ran it with `failfast = true`, despite the "leaf test" is failing, another test "containers can be nested as deep as you want" still runs:

![image](https://user-images.githubusercontent.com/20

[2022-01-10 16:29] svenjacobs commented on #2693
@sksamuel I believe the `open` keyword is missing from the [testCoroutineDispatcher](https://github.com/kotest/kotest/blob/aac90077fdd37ba61b0cac42e8b238cb2e5ac97b/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/config/AbstractProjectConfig.kt#L248) property in version 5.0.3. I'm not able to override this property.

[2022-01-10 17:12] #2759 closed, assigned to nobody

[2022-01-10 17:12] #2756 closed, assigned to nobody

[2022-01-10 17:13] sksamuel commented on #2738
Closing due to no reply.

[2022-01-10 17:13] #2738 closed, assigned to nobody

[2022-01-10 17:14] sksamuel commented on #2693
For the vars, you just set them, rather than override them. @svenjacobs

[2022-01-11 07:05] svenjacobs commented on #2693
Right, but instead of overriding I have to set the property in the `init` block of my instance of `AbstractProjectConfig`.

[code]

This is different from the other properties and also does not match the [documentation](https://kotest.io/docs/framework/coroutines/test-coroutine-dispatcher.html).

[2022-01-11 07:58] krzema12 opened #5423 "Support Kotlin/JS vol. 2"
Hi Team!

I'm aware of kotest/kotest#5468 but I think it was closed prematurely. For me, the lack of gutter icons and in fact any IDE integration is a major pain point. I'm close to moving back to kotlin.test and leaving just kotest assertions library.

Implementation-wise, my intuition tells me that, contrary to what was suggested in the closed ticket, the individual tests can be detected by stat

[2022-01-11 14:22] sksamuel commented on #5423
It's in the works. The PSI side is done. This is a JS project.

![image](https://user-images.githubusercontent.com/743706/148960140-a9de7e4b-2331-4100-8bcf-1f3312794db7.png)

The outstanding issue is attaching the JDK to run the engine to the run configurations.

![image](https://user-images.githubusercontent.com/743706/148960296-68b16e0a-35f0-4f14-9536-941e1e119124.png)

[2022-01-11 14:26] sksamuel commented on #5541
What output do you get ?

[2022-01-11 19:01] tonicsoft opened #2765 "Kotest is very slow to start"
See CMVE here: https://github.com/tonicsoft/slow-kotest

relevant background:
#1143
#470

For the example project above, Kotest takes around 4 seconds to run an empty unit test, compared to 1 second for junit. This is a significant interruption for a fast TDD workflow where a developer might be changing one line of code and rerunning a single, simple unit test tens or hundreds of times in a row.

[2022-01-11 19:15] tonicsoft commented on #2739
I have also faced this issue in a gradle project.

We considered solving it by splitting the tests into different gradle modules. It seemed like a good solution, I'm interested to here from @tibtof how this is different to his suggestion of splitting at `TestEngine` level (I'm not familiar with the TestEngine), and also from @sksamuel why separate modules for unit/int/smoke tests wouldn't have wor

[2022-01-11 19:25] tonicsoft commented on #2739
Another idea which may be worth considering is what do people actually want to achieve here? It sounds like both me and tibtof have the same use case: we want to use project extensions, but only have them activate when they are actually required, i.e. not when running individual unit tests.

What about some kind of API that allowed you to install extensions on individual specs (thus keeping the de

[2022-01-11 19:29] tonicsoft commented on #2739
First class support for lazy project wide extensions could amount to configuring the extension the same as one would today, in the `ProjectConfig`, but declaring a dependency on it within the `Spec` with an API similar to `install`:

[code]

This also has the potential to bring the benefits of the `install` vs `mount` API to project wide extensions, to separate the API of the extension class from

[2022-01-11 19:45] sksamuel commented on #2765
Easy enough to have an opt in disable (already is for auto scan). Can't really turn it off by default until release 6.0 which will be 2023 at the earliest.

We can include this for 5.1

[2022-01-11 19:46] sksamuel commented on #2765
And I agree, in retrospect it was a bad idea to have magic scanning turned on by default (and I absolutely detest spring and other magical DI frameworks).

[2022-01-11 20:33] tonicsoft commented on #2765
Nice one! Can I just say in general the extensions API has been an absolute pleasure to use and anyone that had a hand in it should be congratulated.

Just to clarify, do you envisage an opt out being accompanied by an alternative way of configuring the project config? I'm using features that rely on `ProjectConfig` so an opt out wouldn't benefit me personally. Can't speak for others of course, I'

[2022-01-11 20:41] sksamuel commented on #2765
I was thinking that we would add a system property to disable autoscanning of project config, and another system property to specify an FQN, so the system can directly instantiate it via Class.forName. Then you can use project config but it should take a few millis to setup, rather than however long it takes to scan the entire classpath.

[2022-01-11 20:48] tonicsoft commented on #2765
That sounds ideal to me.

[2022-01-12 01:05] sksamuel opened #2766 "System property to disable config scanning"
I was thinking that we would add a system property to disable autoscanning of project config, and another system property to specify an FQN, so the system can directly instantiate it via Class.forName. Then you can use project config but it should take a few millis to setup, rather than however long it takes to scan the entire classpath.

_Originally posted by @sksamuel in https://github.com/kotes

[2022-01-12 01:05] sksamuel opened #2767 "System property for config class"
I was thinking that we would add a system property to disable autoscanning of project config, and another system property to specify an FQN, so the system can directly instantiate it via Class.forName. Then you can use project config but it should take a few millis to setup, rather than however long it takes to scan the entire classpath.

_Originally posted by @sksamuel in https://github.com/kotes

[2022-01-12 01:23] #2766 closed, assigned to nobody

[2022-01-12 01:29] #2767 closed, assigned to nobody

[2022-01-12 01:31] sksamuel commented on #2750
Thanks, fixed.

[2022-01-12 01:31] #2750 closed, assigned to nobody

[2022-01-12 01:50] sksamuel commented on #2739
Maybe something like:

[code]

In which case it shares with another spec and the shutdown logic is deferred to the end of the project.

A question would be if you did

[code]

and

[code]

Does it just ignore the 2nd one and return the first.

[2022-01-12 02:01] sksamuel commented on #2765
Implemented in master and will be included in 5.1, which we hope to release this week.

[2022-01-12 02:01] #2765 closed, assigned to nobody

[2022-01-12 02:03] #2701 closed, assigned to nobody

[2022-01-12 02:03] sksamuel commented on #2655
@pientaa did you still intend to do this ?

[2022-01-12 02:14] sksamuel opened #2768 "Update coroutines to 1.6 final"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2022-01-12 02:30] tonicsoft commented on #2739
I think you have to pass the same instance in both specs, otherwise you are somehow hiding what is really happening. Maybe this allows you to get rid of `shared = true` too because the framework can use object reference equality to see if the extension is shared.

How would the framework know which extensions to check for this sharing?

You could have some new listener interfaces that identify thi

[2022-01-12 02:50] sksamuel commented on #2739
If you restrict to the same instance, then you have to share that instance, unless you mean same input parameters, but then what is "equal'.

I need a use case to drive the design. I think a shared test container is a good one. You want to put a MySQL instance in a bunch of tests. In some tests you want to share, others you want a fresh instance.

I don't like the idea of it doing this magically,

[2022-01-12 03:18] sksamuel commented on #2249
I think this is an excellent idea.
And we can provide a few comparators out of the box.

[2022-01-12 03:19] sksamuel commented on #1084
What about if when the diff kicks in, it also includes a line letting you know what happened and how to disable?
@holgerbrandl

[2022-01-12 03:20] sksamuel opened #2773 "Fail fast should nest to any level"
Hello, I'm back :)

Just tested Kotest version **5.0.3** with the following modified FreeSpec test from the [styles](https://kotest.io/docs/framework/testing-styles.html#free-spec) page:

[code]

and when I ran it with `failfast = true`, despite the "leaf test" is failing, another test "containers can be nested as deep as you want" still runs:

![image](https://user-images.githubusercontent.com/20

[2022-01-12 03:20] sksamuel commented on #2243
Created issue to track this https://github.com/kotest/kotest/issues/2773

[2022-01-12 03:22] sksamuel commented on #2693
The docs are wrong for sure. I'll fix that now.
But none of the other properties allow you to override. They are all vars.
@svenjacobs

[2022-01-12 03:24] sksamuel commented on #2693
Actually sorry you're right, I was looking at other config objects.
This will be fixed for 5.0.4 and 5.1.0.

[2022-01-12 04:11] #2639 closed, assigned to nobody

[2022-01-12 04:35] #2658 closed, assigned to nobody

[2022-01-12 04:36] sksamuel commented on #2658
Will be included in 5.1.0

[2022-01-12 11:32] pelletier197 commented on #2249
Yes! And it would even be easy for users of the library to implement their own.

[2022-01-12 12:03] sksamuel commented on #2249
Do you want to craft a pr? No rush on it.

On Wed, 12 Jan 2022, 05:32 Sunny Pelletier, ***@***.***>
wrote:

[2022-01-12 12:56] #2684 closed, assigned to nobody

[2022-01-12 13:01] pelletier197 commented on #2249
Yes, I could do that when I get some free time!

[2022-01-12 14:55] tibtof commented on #2739
A typical use case for integration tests is this: start a server on a random available port (using an embedded server or testcontainers) then have multiple tests using the same instance of the server. As a workaround, instead of using `ProjectConfig` to start the servers, which leads to a long startup time even for a unit test, I use a common superclass (e.g. for wiremock). This is obviously not v

[2022-01-12 16:19] tonicsoft commented on #2739
I resonate with @tibtof 's use case and have implemented exactly the same base class oriented solution in several old java/junit4 projects. It always causes some minor inconvenience eventually. For what it's worth, here is some code that implements a shared dynamoDb container, just to add some more variety into the examples given already with wiremock and mysql:

[code]
`dynamoDbClient` is suppose

[2022-01-12 16:23] tonicsoft commented on #2739
Downside of the above `DynaliteContainerExtension` is that it does not support the "others you want a fresh instance" requirement. Fulfilling this requirement would indicate the API is really consistent and modular. I would have to create a different extension for that use case that would essentially be a copy and paste of this one which is a bit of a smell.

[2022-01-12 18:51] holgerbrandl commented on #1084
My problem was more the other way round: There was no diff and no indication how to enable it. That's why ended up writing my own extension function (see referenced commit).

So adding some hint why a diff was not reported and how to enable it, would be more useful. A system property is a wrong approach IMHO, because it's a behaviour the user may want to set on a per test basis (or maybe even with

[2022-01-12 18:53] sksamuel commented on #1084
assert with diff is a good idea

"qweqwe" shouldBeWtihDiff "rtertert" or something.

On Wed, 12 Jan 2022 at 12:52, Holger Brandl ***@***.***>
wrote:

[2022-01-12 19:03] tibtof commented on #2739
@tonicsoft your solution gave me an idea to combine project lifecycle with spec lifecycle. We need `AfterProjectListener` to be able to register a cleanup stage. The downside is that we need two extensions to separate `beforeSpec` and `afterProject`.

[code]

and the output is as expected:
[code]

[2022-01-12 19:20] tibtof commented on #2739
Small improvement to hide `AfterProjectListener`, that is not needed outside `ProjectConfig`:
[code]

[2022-01-12 19:43] tibtof commented on #2739
And going back to the idea of providing this at tag level, maybe having tag level events could be an option:

[code]

[2022-01-13 00:47] sksamuel opened #2774 "Arb.bind should detect nullables and inject null values"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2022-01-13 02:07] #2774 closed, assigned to nobody

[2022-01-13 17:49] pientaa commented on #2655
@sksamuel yes, I'm sorry, I was busy recently

[2022-01-13 18:02] sksamuel commented on #2655
No problem, just wondering :)

[2022-01-13 18:44] pientaa commented on #2655
@sksamuel after looking at `java.time.Clock` I noticed that there are already implemented such classes: `OffsetClock` and `TickClock`. And they seem to be exactly what you asked for. Or maybe there is something that I missed or misunderstood?

[2022-01-13 19:14] sksamuel commented on #2655
You can't set an arbitrary value on them after creation. Unless i missed it.

On Thu, 13 Jan 2022, 12:44 Łukasz Pięta, ***@***.***> wrote:

[2022-01-14 05:23] #2768 closed, assigned to nobody

[2022-01-14 05:24] #2655 closed, assigned to nobody

[2022-01-16 19:14] #2746 closed, assigned to nobody

[2022-01-16 19:20] sksamuel opened #2779 "Add ios arm 64 simulator target to build"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2022-01-16 19:26] #2779 closed, assigned to nobody

[2022-01-16 19:26] sksamuel commented on #2779
Added to master.

[2022-01-16 19:45] #2646 closed, assigned to nobody

[2022-01-16 20:34] #2698 closed, assigned to nobody

[2022-01-16 20:39] #2678 closed, assigned to nobody

[2022-01-16 21:13] sksamuel commented on #2702
I think the easiest thing to do would be have a settings area in the plugin that accepted a list of names which it would look for as "tests". That is basically how fun spec, should spec, etc work.

1. Create a settings area for the plugin so that users can bring it up in intellij -> settings -> kotest
2. Update the PSI logic to use the settings value when looking for "tests".

Someone would need t

[2022-01-17 08:47] sschuberth opened #2780 "Regression when comparing a (Sorted)Set with containExactly"
Kotest 5.1.0 seems to contain a regression compared to Kotest 5.0.3 when [comparing (Sorted)Set with containExactly](https://github.com/oss-review-toolkit/ort/runs/4837966976?check_suite_focus=true#step:4:3621):

[code]

As you can see, the failure is bogus as the values and order match.

[2022-01-17 08:52] sschuberth commented on #2780
A work-around seems to be to use `containExactlyInAnyOrder` instead of `containExactly` even though the order matches.

[2022-01-17 09:14] sschuberth commented on #2780
Looks like this only happens if the collection types differ, i.e. if I do `set containsExactly(list)`.

[2022-01-17 09:56] sschuberth commented on #2780
Ok, so the change was intended, see https://github.com/kotest/kotest/issues/2746. I agree that `set containsExactly(list)` is fragile as sets usually do not guarantee any ordering. I'll change my code and close this.

[2022-01-17 09:56] #2780 closed, assigned to nobody

[2022-01-17 10:13] sschuberth commented on #2746
~Hmm. The fix for this also seems to make `listOf(1, 2, 3) should containExactly(1, 2, 3)` fail. Is this expected?~

*Edit:* Scratch that, I cannot reproduce this anymore.

[2022-01-17 16:20] busches opened #2782 "`java.lang.NoClassDefFoundError: kotlinx/coroutines/test/TestDispatcher` when upgrading to 5.1.0"
**Which version of Kotest are you using**
5.1.0

Currently using 5.0.3 with the following dependencies:
[code]
`DescribeSpec` tests work fine.

Upgrade to `5.1.0` and now all the tests are failing with:

[code]

Manually adding `org.jetbrains.kotlinx:kotlinx-coroutines-test:1.6.0` as a test dependency resolves the issue.

[code]

I would expect Kotest to either bring in this dependency for us or u

[2022-01-17 18:54] sksamuel commented on #2782
The junit runnner module has a dependency on framework-engine
https://github.com/kotest/kotest/blob/master/kotest-runner/kotest-runner-junit5/build.gradle.kts#L29

And then framework-engine has a dependency on coroutines-test
https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-engine/build.gradle.kts#L66

So why it's not appearing in your build.... no idea.

[2022-01-17 19:57] TheSunshinator opened #2783 "Missing shouldNotMatch with Regex parameter"
[code]

[2022-01-17 23:03] busches commented on #2782
🤷  I will create a reproduction repo for you when I get time, but since this runs on a fresh CI image each time, it's very reproducible.

[2022-01-17 23:04] sksamuel commented on #2782
I believe you, I just don't know what to change in gradle to make it work properly. I wish gradle wouldn't keep trying to be clever.

[2022-01-18 08:46] lenguyenthanh commented on #2782
I have the same issue with Kotest 5.1.0, Kotlin 1.6.10, gradle 7.3.3. I use jdk 17 on my local machine.

Downgraded to Kottest 5.0.3 solved the issue.

[2022-01-18 23:02] inquiribus commented on #2746
I just saw this.  Looking.

On Mon, Jan 17, 2022 at 3:13 AM Sebastian Schuberth <
***@***.***> wrote:

[2022-01-18 23:19] sschuberth commented on #2746
Please see my edit, I don't think anymore that there's an issue.

[2022-01-19 00:02] sksamuel commented on #2730
Do you have time to add the working example ?

[2022-01-19 06:19] #2741 closed, assigned to nobody

[2022-01-19 09:35] #2783 closed, assigned to nobody

[2022-01-19 13:28] frozenice commented on #2782
**TL;DR:** add `kotlin-coroutines.version=1.6.0` to `gradle.properties` when using Spring Boot.

---

@busches @lenguyenthanh are you using Spring? Because that was the culprit here.

Spring's `io.spring.dependency-management` Gradle Plugin pre-defines versions for several dependencies (according to the respective Spring Boot version's BOM, see [here](https://github.com/spring-projects/spring-boot

[2022-01-19 14:19] busches commented on #2782
@frozenice thanks! I did it via `extra["kotlin-coroutines.version"] = "1.6.0"` in `build.gradle.kts` but same thing in the end.

[2022-01-19 14:19] #2782 closed, assigned to nobody

[2022-01-19 23:49] sksamuel commented on #2782
Thanks for the follow up @frozenice.

[2022-01-20 11:03] nicolasfara opened #2785 "TestEngine with ID 'kotest' failed to execute tests"
`kotlin` version : `1.6.10`
`kotest` version: `5.1.0`

Running the `./gradlew test` task, the folowing exception is raised:
[code]
The `build.gradle.kts`:
[code]

[2022-01-20 12:01] sksamuel commented on #2785
Looks like you're on kotlin 1.5 ?

On Thu, 20 Jan 2022, 05:04 Nicolas Farabegoli, ***@***.***>
wrote:

[2022-01-20 12:23] nicolasfara commented on #2785
Hi @sksamuel, thanks for replying. Where do you deduce that I use kotlin 1.5?

[2022-01-20 12:26] sksamuel commented on #2785
It's erroring on a duration method that only exists in 1.6

On Thu, 20 Jan 2022, 06:23 Nicolas Farabegoli, ***@***.***>
wrote:

[2022-01-20 12:30] nicolasfara commented on #2785
in `build.gradle.kts` i have:
[code]
why is setup kotlin 1.5?

[2022-01-20 13:06] nicolasfara commented on #2785
Seems that the ``java-gradle-plugin`` plugin use kotlin 1.5 and the whole project use that version despite i've specified the 1.6 version. Any fix is available for using the 1.6 globally?

[2022-01-20 13:15] sksamuel commented on #2785
Ah then sounds like you're running into this:
https://github.com/kotest/kotest/issues/2666

https://github.com/gradle/gradle/issues/16345#issuecomment-861119625

[2022-01-20 16:48] bendb-instacart opened #2786 "Publish missing kotest-assertions-compiler binaries"
I'm attempting to use kotest 5.1.0, upgrading from 4.4.1, and building my project fails because it can't resolve `io.kotest:kotest-assertions-compiler:5.1.0`.  [Searching Maven Central](https://mvnrepository.com/artifact/io.kotest/kotest-assertions-compiler) shows that the most recent version of this artifact appears to be 5.0.0.M3.

Is this an intentional change?  If not, and it's merely an omiss

[2022-01-20 16:57] ashishkujoy commented on #2786
Hi @bendb-instacart compiler assertion and other extension like arrow, testcontainers etc are now separate code base having release cycle independent of kotest.  Below is the link for latest version of compiler assertion extension. We will update the doc with correct artifact id.

https://search.maven.org/artifact/io.kotest.extensions/kotest-assertions-compiler/1.0.0/jar

[2022-01-20 16:59] bendb-instacart commented on #2786
Heh, glad to know it's user error and I just missed the move.  Thanks for the pointer!

[2022-01-20 17:10] ashishkujoy commented on #2786
The updated document can be found here. https://kotest.io/docs/assertions/compiler-matchers.html

[2022-01-20 17:10] #2786 closed, assigned to nobody

[2022-01-20 18:34] ghost opened #2788 "Test reports for hierarchical (levels) tests include only information about leaves"
Dear @sksamuel

Starting from version 5.x.x the HTML test report only contains information about leaf nodes of the tests and not intermediate (container) nodes. Like for the https://kotest.io/docs/framework/testing-styles.html#free-spec the test report will contain only leaves:
![image](https://user-images.githubusercontent.com/208134/150351421-6c07d961-5a92-44f2-9689-2c6cd68fa571.png)

while the

[2022-01-21 10:02] ghost commented on #2788
I guess it was my fault of not reading the release notes properly. Since now there is a JUnit XML Format Reporter, it's fixed via `includeContainers = true`. You can read more about it here: https://kotest.io/docs/extensions/junit_xml.html

[2022-01-21 10:02] #2788 closed, assigned to nobody

[2022-01-21 12:44] buzoherbert commented on #5442
I have the same issue, does anyone know if there is a fix for using this plugin and WSL?

[2022-01-21 14:58] jacekgajek opened #2789 "Coroutine Debugging – code doesn't compile"
**Which version of Kotest are you using**

The default version which is fetched with testRuntime("kotest") by micronaut 3.2.0, which is **4.6.0**

I don't know if it's a bug in documentation or kotest itself, but the code provided on
https://kotest.io/docs/framework/coroutines/coroutine-debugging.html
**does not compile**.

The first example causes "no property coroutineDebugProbes", the second on

[2022-01-21 18:56] OliverO2 opened #2790 "withClue and assertSoftly interfere when concurrent coroutines start on the same thread"
Kotest 5.1.0/JVM

When multiple concurrent coroutines start on the same thread, they share an `ErrorCollector`. Whenever they happen to resume on different threads sometime later, they mess up each other's clue stack and/or failure list. This is true regardless of whether the error collector's methods are thread-safe or not.

What is really required is a coroutine-local error collector.

PR upcomi

[2022-01-22 00:35] BryanDonovan opened #2792 "Nested "before" lifecycle hook"
I'm trying to use Kotest to write nested tests that have hooks that only run once per nest level.  This is how mocha works in JavaScript and how RSpec works in ruby.  In mocha the function is called `before`. I tried using `beforeContainer` but it runs once for *each* nested container instead of just once for the entire container including any nested containers within that parent container. This i

[2022-01-22 00:38] sksamuel commented on #2792
So if you could put beforeContainer inside a container and it only execute
for THAT container (and not child containers), that's what you'd expect ?

On Fri, 21 Jan 2022 at 18:35, Bryan Donovan ***@***.***>
wrote:

[2022-01-22 00:40] BryanDonovan commented on #2792
Yes, exactly!  I guess that was an easier way of saying it :)

[2022-01-22 00:43] sksamuel commented on #2792
We could add this and call it beforeScope to make it clear it only runs
before that particular scope.

On Fri, 21 Jan 2022 at 18:41, Bryan Donovan ***@***.***>
wrote:

[2022-01-22 00:44] BryanDonovan commented on #2792
e.g,. this javascript suite passes using `mocha`:

[code]

[2022-01-22 00:44] BryanDonovan commented on #2792
before that particular scope.

That would be awesome. Thanks!

[2022-01-22 00:45] sksamuel commented on #2792
We can put this in 5.2, which is due in a month or so.

[2022-01-22 01:29] zakhenry opened #2793 "Incorrect number comparison in lenient json comparisons"
**Which version of Kotest are you using**
master

This is best explained with a failing test so here goes:

[code]

both of these assertions fail - `1.0E-3` is considered equal to `0.0001` (off by one zero) and `1.0E-4` really is `0.0001` but the assertion doesn't think so.

Digging in to this there are two separate issues:
1. the lenient option is using a regex to trim irrelevant trailing zeroes

[2022-01-22 17:57] sksamuel commented on #2789
This feature is available in 5.0.0 and above. I think if you just upgrade the kotest version then you're good.

[2022-01-22 18:05] #2793 closed, assigned to nobody

[2022-01-22 18:19] #2790 closed, assigned to nobody

[2022-01-23 20:07] reevn commented on #2792
I'd suggest to think carefully about choosing a name for this particular callback. We already have some ambiguity with callback names for historic reasons. We currently have:

Historically:
- `beforeTest` - runs before all containers and leaf tests

Newish:
- `beforeEach` - runs before all leaf tests (naming suboptimal as `beforeTest` already existed, but this naming is used in a lot of other fram

[2022-01-23 20:22] BryanDonovan commented on #2792
I was thinking the same thing, @Reevn.  Maybe even `beforeThisContainerOnce` but that's getting a little too verbose.

[2022-01-23 20:31] BryanDonovan commented on #2792
I'm new to Kotest and Kotlin, so please forgive my naivety, but I honestly don't get why there aren't just two "before" callbacks:  a `beforeAll` and a `beforeEach`.  I think they cover every possibility I've ever run into in the 15 years I've been using a "describe" style to write tests.  Perhaps it's something to do with running tests in parallel?  Either way, I really appreciate the new feature

[2022-01-23 20:48] reevn commented on #2792
It's a combination of trying to make a _really_ flexible test framework and historical reasons. I've had some of the same questions in the past and have been made aware that people are writing tests in pretty different styles. Some people like to put test code inside a "container", but without wrapping it in a "leaf test". For those people for example it is important that something like `beforeTes

[2022-01-23 23:48] BryanDonovan commented on #2792
Thanks for detailed response, @Reevn!

[2022-01-24 00:05] sksamuel commented on #2792
beforeTest is a confusing name but as @Reevn says, history. I'd love it if beforeTest was only leaf, but alas.

beforeScope is a good name I think because the lambdas are called scopes in kotest - container scope, test scope. But I agree that we need to tread carefully.

Another option is simply overloading beforeContainer to have a paramaeter

`beforeContainer(inherit = false) { }`

[2022-01-24 00:14] BryanDonovan commented on #2792
I'd personally like to see this new callback be called from within the container.  Main reason is I like to set up empty variables inside the container and then assign values to them inside the `before*` function.  Basically setting up a SUT and possibly related variables for the tests within the container.  I guess I'm thinking of this as not "before container" but as "before all tests in contain

[2022-01-24 00:33] sksamuel commented on #2792
Yeah it's just a matter of choosing a good name.

beforeScope / setup / teardown / etc,

Something like beforeThisContainerOnly is descriptive but ugly.

[2022-01-24 08:21] jacekgajek commented on #2789
Definitely a bug in documentation then, especially since the default version fetched by the latest Micronaut is <5
Also need instructions how to setup the upgrade – kotest core is maxed at 4.1.3...

So to find out which package I should update, I've checked where the `AbstractProjectConfig` is defined and added
[code]
to gradle.

gradle clean build and then this happened...

[code]

[2022-01-24 08:26] jacekgajek commented on #2789
I've tried `kotest-framework-api-jvm:5.1.0`, `io.kotest:kotest-assertions-shared-jvm:5.1.0`, `io.kotest:kotest-common:5.1.0` and `io.kotest:kotest-property-jvm:5.1.0`, still the same error.

[2022-01-24 08:37] jacekgajek commented on #2789
My gradle script:
[code]
Application.kt
[code]

[2022-01-24 08:42] sksamuel commented on #2789
Thanks I'll run your gradle script see what happens.

On Mon, 24 Jan 2022, 02:37 jacekgajek, ***@***.***> wrote:

[2022-01-24 09:12] jacekgajek commented on #2789
"-Dkotlinx.coroutines.stacktrace.recovery=true" was just my attempt, but it doesn't work so you'd have to remove it.

[2022-01-24 09:46] jacekgajek commented on #2789
Also, a side note:
`AbstractProjectConfig.listeners()`
seems to be deprecated
"Overrides deprecated member in 'io.kotest.core.config.AbstractProjectConfig'. Use extensions. This will be removed in 6.0"
Please consider not removing it so soon – All Micronaut tutorials require adding this to tests:
[code]
If you remove it, Micronaut will be stuck on the old version forever. Especially that the descr

[2022-01-24 13:19] sksamuel commented on #2789
It wouldn't be removed for years.

[2022-01-24 13:30] sksamuel commented on #2789
Seems to work for me
https://github.com/kotest/jacekexample/blob/master/src/test/kotlin/config.kt

[2022-01-24 20:59] ghasemdev opened #2797 "Add option to automatically advance time"
Hi, I wanted to know if there is a way to use `config` method or `AbstractProjectConfig` for skip delay in test, such as the `runTest` function that currently exists in Kotlin 1.6.0 and replaced for `runBlockingTest` , and runs tests quickly.

[code]

[code]
**I like this way and `runTest` behavior exist in `it` function**
[code]

[2022-01-24 22:47] DarshanARahate opened #2798 "Run option is not showing for unit test on Android Studio latest version 2020.3.1"
Run option is not showing for unit testcase on Android Studio latest version 2020.3.1

Added following dependencies:

    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"
    implementation 'androidx.core:core-ktx:1.3.2'
    implementation 'androidx.appcompat:appcompat:1.2.0'
    implementation 'com.google.android.material:material:1.3.0'
    implementation 'androidx.constr

[2022-01-25 01:56] sksamuel commented on #2797
Is this what you're looking for ? https://kotest.io/docs/framework/coroutines/test-coroutine-dispatcher.html

[2022-01-25 18:50] rs-georg opened #2800 "ClassNotFoundException: com.github.curiousoddman.rgxgen.RgxGen"
Hi,

when writing a property test that uses the UUID generator `Arb.uuid()` I get the following exception.

Kotest Version 5.1.0
Android SDK 31
Android Gradle Plugin 7.0.3
Gradle 7.0.2
Kotlin 1.6.10

[code]

[2022-01-25 18:56] sksamuel commented on #2800
Do you have an old version of kotest-property lurking about ?
Or can you confirm if that curiousoddman package is coming in?

On Tue, 25 Jan 2022 at 12:50, Georg Dresler ***@***.***>
wrote:

[2022-01-25 20:35] ghasemdev commented on #2797
I try that but doesn't work. also I enabled testCoroutineDispatcher in AbstractProjectConfig

[code]
My dependencies

[code]

and my test

[code]
But no skip behavior for delay

[2022-01-25 20:44] sksamuel commented on #2797
Where are you using the advance methods in that example ?

On Tue, 25 Jan 2022 at 14:35, Ghasem Shirdel ***@***.***>
wrote:

[2022-01-25 20:59] DarshanARahate commented on #2798
Issue resolve: Need to install the Kotest plugin for Android studio.

[2022-01-25 20:59] #2798 closed, assigned to nobody

[2022-01-26 02:24] #2661 closed, assigned to nobody

[2022-01-26 02:24] #2331 closed, assigned to nobody

[2022-01-26 02:24] #2629 closed, assigned to nobody

[2022-01-26 02:24] #2717 closed, assigned to nobody

[2022-01-26 02:24] #2541 closed, assigned to Kantis

[2022-01-26 02:24] #2716 closed, assigned to nobody

[2022-01-26 09:58] rs-georg commented on #2800
Thanks for your reply. Yes, the package is coming in with version 1.3

[2022-01-27 09:22] tibtof commented on #2739
Would there be a problem if instead of having the `shared` flag we just reuse the same instance of the extension?
e.g. ```val extension = install(MyExtension)``` where `MyExtension` is an object.

[2022-01-27 15:53] rs-georg commented on #2800
Adding the dependency manually fixes the issue
```testImplementation "com.github.curious-odd-man:rgxgen:1.3"```

[2022-01-27 23:05] klozovin opened #2803 "Assertion shouldBe succeeds even when equals() always returns false"
Here's a simple class that implements a `Set` interface and always returns `false` from its `equals()` method. That should mean that every `shouldBe` assertion fails, right?

In my case, using kotest 5.1.0, first two tests succeed, and the last one fails - it seems kotest is doing something else instead of using the `equals()` method.

Is this a bug, or just unexpected behavior? If so, is there an

[2022-01-28 06:08] hanc1208 commented on #2789
@sksamuel I got a same error on my project. and jacekexample repository causes same error.

I've run `./gradlew test`

[2022-01-28 06:32] sksamuel commented on #2789
Can you paste the full output.

[2022-01-28 07:27] hanc1208 commented on #2789
[code]

@sksamuel  here it is. i've run only `git clone` and `./gradlew test` on the jacekexample repository.

[2022-01-28 14:21] inquiribus commented on #2803
[code]
does not test the custom `equals()` method, If `shouldBe` were to be implemented in terms of the `equals()` method, the outcome would be fragile since by default (https://kotlinlang.org/docs/equality.html)  `equals()` may result in address equality and the default may or may not be overridden, To test the custom `equals()` method a possible test is, rather,
[code]

[2022-01-28 18:12] sksamuel commented on #2789
Thisi s a different error. The versions are wrong if you are seeing Caused by: java.lang.NoClassDefFoundError: io/kotest/fp/OptionKt.
That class hasn't existed for a while in kotest, so you have old versions leaking in.

[2022-01-30 13:45] brizzbuzz opened #2901 "Remove wrapping quotes from diff"
Hey, can't thank you guys enough for all the work that has gone into Kotest.

This is a pretty small bug, but I know at least for me the QoL improvement would be pretty huge.

At the moment, when one compares a diff in Intellij, the result (for strings) gets wrapped in a set of quotes like so

<img width="871" alt="Screen Shot 2022-01-30 at 8 42 37 AM" src="https://user-images.githubusercontent.co

[2022-01-30 17:44] sksamuel commented on #2797
@ghasemdev Can you reply - you need to call the advance methods to make 5.hours skip.

[2022-01-30 17:45] sksamuel commented on #2803
I think shouldBe should (and does) use equals except where we override it for special behavior - like we are doing for sets for example.

This example is failing because I think we are using the iterator methods of set, and thus not the equals behavior.
We should document all the special cases for shouldBe.
And after that I can add lint rules to the kotest plugin to warn you.

[2022-01-30 19:16] ghasemdev commented on #2797
Which one? I can't find or use them.

[2022-01-30 19:43] sksamuel commented on #2797
I've refreshed the docs. https://kotest.io/docs/framework/coroutines/test-coroutine-dispatcher.html
And this might help https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-test/
You have to call advanceTimeBy to move the clock on. It won't just skip delays automatically.

[2022-01-31 01:52] busches commented on #5427
This still doesn't with and one of the main reasons I won't convert all projects over to kotest.

[2022-01-31 02:13] sksamuel commented on #5427
Remind me how you're running your tests.

[2022-01-31 02:15] busches commented on #5427
Via intellij. Same behavior using gradle or intellij to run them.

[2022-01-31 02:16] sksamuel commented on #5427
It won't work via gradle because gradle is broken in respect to location reporting.
It should work via intellij though - if you're running with the plugin and not just running gradle inside intellij.

[2022-01-31 02:22] busches commented on #5427
Running via the normal test runner inside intellij.

On Sun, Jan 30, 2022, 8:16 PM Sam Sam ***@***.***> wrote: