[2022-01-31 02:22] sksamuel commented on #5427
Do you have this set to gradle:

![image](https://user-images.githubusercontent.com/743706/151730668-f9a09ec0-0283-4539-b394-e63eb9c44a30.png)

[2022-01-31 04:04] ghasemdev commented on #2797
Thanks, but I mean `run Test` use under the hood is better way to skip delays automatically. Because usually we test suspend method and we can't use `advanced TimeBy`.

[2022-01-31 04:21] sksamuel commented on #2797
I see. Then we need another option that provides this automatic "skip all delays" like what runTest is doing.

[2022-01-31 14:18] DanySK opened #2804 "Kotest v5.1.0 fails initialization: NoSuchMethodError: kotlin.time.DurationKt.toDuration(ILkotlin/time/DurationUnit;)J"
**Kotest 5.1.0**
**Kotlin 1.6.10**

All dependencies: https://github.com/DanySK/gradle-java-qa/blob/f7e18c264646f2dd069427391ed937e90bd5a7b5/gradle/libs.versions.toml

[code]

[2022-01-31 14:20] sksamuel commented on #2804
You have kotlin 1.5 on the classpath somewhere.

On Mon, 31 Jan 2022, 08:18 Danilo Pianini, ***@***.***> wrote:

[2022-01-31 14:35] DanySK commented on #2804
# **HIDDEN AS I CHECKED OUT THE WRONG COMMIT**

Which component of Kotlin?

The only one that is not @1.6 is `kotlinx-coroutines`, could that be the culprit?:

[code]

<details>
  <summary>Runtime dependency tree</summary>

[code]
</details>

<details>
  <summary>Dependency Inspection</summary>

[code]
</details>

[2022-01-31 14:40] DanySK commented on #2804
Uhmm... my inspection does not find any Kotlin 1.5 around:

`$ ./gradlew dependencyInsight --dependency kotlin --configuration testRuntimeClasspath | grep -P '1\.5\.\d+$'` has no output.

<details>
  <summary>Dependency Inspection for Kotlin</summary>

[code]

</details>

[2022-01-31 14:41] DanySK commented on #2804
Possibly relevant note: this is a Gradle plugin and I am using the Gradle Testkit.

[2022-01-31 14:42] sksamuel commented on #2804
Jackson 2.13.x kotlin module, spring boot  coroutines 1.5 are all modules I
know bring in kotlin 1.5

On Mon, 31 Jan 2022, 08:35 Danilo Pianini, ***@***.***> wrote:

[2022-01-31 14:53] DanySK commented on #2804
Yes, but I do forcibly set all Kotlin modules to 1.6, see, e.g.:
[code]

via

[code]

Plus, at least when compiling, if inconsistent packages are detected a warning is raised and the build forced to fail:

[code]

To be clear: I have **no doubt** that you are right and some kotlin 1.5.x package gets in my classpath. I just want to understand **why** this happens, and my suspicion is that the Gradl

[2022-01-31 15:20] sksamuel commented on #2804
Oh you're writing a gradle plugin?
Then you're seeing this gradle bug: https://github.com/gradle/gradle/issues/16345

[2022-01-31 15:32] sksamuel commented on #2804
I've made a change to avoid use of these methods in that Defaults class. If you want to try 5.1.0.887-SNAPSHOT once it's built, we can see if it works with 1.5.x

[2022-01-31 15:41] DanySK commented on #2804
Will it hit Maven Central? Which repo should I use to try it? I'll gladly give it a spin.
Nevertheless, if this is a Gradle issue and not a Kotest's, then I guess it will solve by itself as soon as Gradle gets updated.
I'm not even sure it is worth a rollback unless it doesn't add any maintenance burden or tech debt kotest-side.

[2022-01-31 15:57] sksamuel commented on #2804
It's not really an issue from the kotest side, but I won't be able to remove all uses of the 1.6 duration methods.
But maybe enough to avoid errors unless you are specifically using certain features.
Good luck waiting on gradle, they're terrible for fixing bugs imo.

[2022-02-01 09:30] kaylanx opened #2805 "Add blockingTest to the config options on FreeSpec"
It seems at the moment that the only way to have a blocking test is by using `FunSpec`.  Most of our tests are using `FreeSpec`, but we noticed that the `blockingTest` parameter is missing from the config function on `FreeSpec`, so for this particular test class I've had to move them over to `FunSpec`.

Is it possible to make the `blockingTest` parameter available in the other styles of test?

[2022-02-01 13:44] sksamuel opened #2806 "Kotest should respect engine name in junit platform launcher"
_I have a test suite that uses multiple junit engines, and when i run tests by uniqueId kotest also runs tests even when the uniqueId clearly states a different engine than kotest. [engine:failgood]/[class:...]/[class:...]
I think kotest should just run no tests when the uniqueid selector is used with a different engine._

https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1643716624167609

[2022-02-01 14:14] christophsturm commented on #2806
thanks for creating this ticket!
we are currently using 4.6.3 because we haven't upgraded to kotlin 1.6 yet.

[2022-02-01 16:38] brunoteo opened #2808 "kotest-assertions-arrow > 1.0.3 import with Maven"
**Which version of Kotest are you using**
Kotest: 5.1.0
Kotlin: 1.6.10
Arrow: 1.0.0

Hi,
when I try to upgrade kotest-assertions-arrow from 1.0.3 to one of the next releases with Maven, I can't find anymore the package from kotest-assertions-arrow.

Here what I have with 1.0.3 into the Maven Dependency Tree:
![image](https://user-images.githubusercontent.com/7426747/152010392-fed0b619-e486-4d4d-a5

[2022-02-01 16:39] sksamuel commented on #2808
Can you show the maven snippet for that dependency.

[2022-02-01 16:45] brunoteo commented on #2808
Here the snippet. I have created a small project to reproduce the problem

[code]

Looking at the library I have only that metadata:
![image (2)](https://user-images.githubusercontent.com/7426747/152012004-0b027c4e-5099-47e0-b730-fef5f8a95721.png)

[2022-02-01 21:00] klozovin commented on #2803
Thanks both of you for the explanation, it makes sense. For now, I've used the `(a == b).shouldBe true` form to check for `equals()` equality.

The docs on the `shouldBe` could be a little bit more specific, at the moment it says "...to assert that a variable has an expected value, we can use the shouldBe function". At least mentioning that it does something special for Iterators (and other interf

[2022-02-02 01:30] sksamuel commented on #2808
You might need to use kotest-assertions-arrow-jvm since it is now a multiplatform project and maven doesn't understand that.

[2022-02-02 08:44] brunoteo commented on #2808
ok thank you it works! I didn't find anywhere that part for the new releases.

Have a good day!

[2022-02-02 16:20] #2808 closed, assigned to nobody

[2022-02-03 09:20] RusticFlare opened #2810 "The latest versions of Kotest and kotest-extensions-pitest don't work together"
**Which version of Kotest are you using**
5.1.0

I've made https://github.com/kotest/kotest-extensions-pitest/pull/1 to hopefully help

[2022-02-03 09:43] sksamuel commented on #2810
Thanks, I've added some comments on how to get the tests to pass.

On Thu, 3 Feb 2022 at 03:20, James Baker ***@***.***> wrote:

[2022-02-04 17:18] yaroslav-shlapak commented on #1911
I'm closing this issue as it no longer occurs after dependencies update on Android Studio 2020.3.1 Patch 4 both in production and for test project https://github.com/yaroslav-shlapak/KotestPluginDoesntRunJUnit4Tests

[2022-02-04 17:18] #1911 closed, assigned to nobody

[2022-02-05 05:30] pbit opened #2813 "kotest-assertions-ktor and ktor 2.0"
I am preparing a project for the comming ktor version 2.0 and want to update ktor-assertions-ktor.

While the matchers are easy to migrate there are some questions about the project.

One of the main changes is the restructuring of module and packages.
So the change is not just an update, its a new extension.
Both versions should be independent available for the user to choose.

- kotest-assertion

[2022-02-05 05:35] sksamuel commented on #2813
I think the name is partly historical, partly because kotest-extensions is used for things that aren't purely assertions.

Is ktor changing significantly that we need a new package? I ask partly because of kotest and partly because I use ktor extensively at work.

[2022-02-05 05:52] pbit commented on #2813
They did a heavy cleanup on artifacts and packages.
For example ktor-client-* and ktor-server-* use bot ktor-http-*
This makes it much easier to write shared code used on client and server.

see: [Migrating from 1.6.x to 2.0.0](https://ktor.io/docs/eap/migrating-2.html)

I expect that many projects will stay on ktor-1 some may even use both versions while migrating.
Having two artifacts would allo

[2022-02-06 09:07] yaroslav-shlapak commented on #1912
Still have an issue with no Junit4 tests being run in `primary` module (see the issue description).
The only workaround is to add `testRuntimeOnly "org.junit.vintage:junit-vintage-engine:5.7.2"` to the `primary` module.
Kotest version is `"5.1.0"`.
Android gradle plugin version is `"7.0.2"`.

However, the error is different this time
[code]

[2022-02-06 22:19] sksamuel opened #2815 "json.shouldBeArray()"
Asserts that the json element or string is a json array.

[2022-02-06 22:19] sksamuel opened #2816 "json.shouldBeObject()"
Asserts that the json element or string is a json object.

[2022-02-06 22:20] sksamuel opened #2817 "json.shouldMatchSchema(schema)"
Asserts that the json string or node matches the given schema.
Need a simple schema builder. Doesn't need to be full json schema compatible.

[2022-02-07 02:01] #2249 closed, assigned to nobody

[2022-02-07 12:53] #2805 closed, assigned to nobody

[2022-02-07 13:18] sksamuel commented on #1912
The error in that stack is because it can't find either jupiter or kotest.

On Sun, 6 Feb 2022 at 03:07, Yaroslav Shlapak ***@***.***>
wrote:

[2022-02-07 15:15] RusticFlare commented on #2810
Thank you! Tests are passing 😄

[2022-02-07 18:45] theHacker opened #5422 "Support for IntelliJ 2022.1"
Hi,

IntelliJ started EAP for 2022.1, however the plugin only supports up to 2021.3.
Will there be a new version of the Kotest plugin?

Thank you! :D

[2022-02-07 21:03] yaroslav-shlapak commented on #1912
So why does it happen when the tests are run for a module which doesn't have any dependency neither from jupiter or kotest. This `primary` module does have a dependency on another module that has the dependency from jupiter or kotest, but I wouldn't expect that this affect the primary `module`.

[2022-02-07 22:53] sksamuel commented on #5422
Yep we can update the builds.

On Mon, 7 Feb 2022 at 12:45, Alexander Münch ***@***.***>
wrote:

[2022-02-08 03:21] sksamuel commented on #1912
I don't know why it's not picking the deps up, but that's the error. JUnit
platform is saying it can't find an engine implementation.

On Mon, 7 Feb 2022 at 15:03, Yaroslav Shlapak ***@***.***>
wrote:

[2022-02-08 03:21] sksamuel commented on #2810
1.1.0 released of the pitest plugin.

[2022-02-08 03:21] #2810 closed, assigned to nobody

[2022-02-08 05:27] aseria opened #2819 "TestEngine with ID 'kotest' failed to execute tests"
kotlin version : 1.6.10
kotest version: 5.1.0

Running the ./gradlew test task, the folowing exception is raised:
[code]

Running the test  on intellij:
[code]
The last 3 sentences are repeated.

When version 5.0.3 was used, it worked well. But it doesn't work with 5.1.0.

[2022-02-08 11:47] #5434 closed, assigned to nobody

[2022-02-09 11:12] buzoherbert commented on #2819
I encountered the same issue when upgrading from 4.3.1

[2022-02-09 11:17] sksamuel commented on #2819
Perhaps you have older coroutines. You should be on 1.6.

[2022-02-09 11:18] buzoherbert commented on #2819
Thanks, I updated coroutines before encountering the issue

implementation("org.jetbrains.kotlinx:kotlinx-coroutines-core:1.6.0")

[2022-02-09 11:23] sksamuel commented on #2819
I can't see Kotest in the stack trace. What's going on at that line in
MainDispatcher.

On Wed, 9 Feb 2022, 05:18 Daniel Heriberto Palencia Arreola, <
***@***.***> wrote:

[2022-02-09 21:26] hemfridsvagen25 opened #2820 "5.02 hides console output during test."
Kotlin version 1.6.10
Starting on Kotest verion 5.02 console output is no longer visible during run.

Easiest example is setting a breakpoint on the row after a print statement.
Output after test is complete also appears below the test result instead of above as earlier.

[2022-02-10 04:02] sksamuel commented on #2820
Can you try 5.1.0 just to make sure it's still happening on latest version.

On Wed, 9 Feb 2022 at 15:26, hemfridsvagen25 ***@***.***>
wrote:

[2022-02-10 07:54] hemfridsvagen25 commented on #2820
Yeas it happens on 5.1.0 as well. I discovered it there and downgraded until it worked. So last working version is 5.0.1

[2022-02-10 10:34] Pitel opened #2821 "AnnotationSpec does not support suspend @Before function"
Kotest 5.1.0

[code]

[code]

Workaround:

[code]

[2022-02-11 15:36] timrijckaert commented on #2755
Not stale

[2022-02-11 20:27] Sintrastes opened #2822 "Additional documentation for shrinking."
Hello! First off, thank you for this wonderful library. I just switched over from JUnit-Quickcheck for one of my projects, and it's been working great for me so far.

However, one thing I found that could be improved is that there is seemingly little documentation about shrinking on the kotest website.   The documentation [does mention](https://kotest.io/docs/proptest/property-test-global-config.h

[2022-02-12 10:14] sksamuel commented on #2813
I think a separate extensions project makes sense.

kotest-extensions-ktor2

[2022-02-13 16:39] JoonasC opened #2824 "Timing issues with Koin and Testcontainers"
I have a Koin module which creates an instance of a client class based on system properties. One of the system properties depends on the dynamically mapped port that testcontainers assigns. I have tried to set the system properties in a beforeSpec block, but the Koin instance gets created before the beforeSpec block runs. How can I ensure that I am able to run code after the container has started

[2022-02-13 18:30] JoonasC commented on #2824
Any ideas @sksamuel?

[2022-02-13 18:38] sksamuel commented on #2824
Can you give an example of what you would want to happen ?

[2022-02-13 18:59] JoonasC commented on #2824
Let's say I have a client such as:
[code]

Which I instantiate in a Koin module:
[code]

And then I have a test class:
[code]

Attempting to set the system properties in a before spec block doesn't work because the Koin module gets initialized before it is called:
[code]

How can I set the system properties after the container has started but before Koin initializes the client?

[2022-02-13 19:08] sksamuel commented on #2824
So the clientModule code is being executed straight away, because it's a val.
What we could do is make the koin extension support lazy setup.

For now, I would copy the extension https://github.com/kotest/kotest-extensions-koin/blob/master/src/commonMain/kotlin/io.kotest.koin/KoinExtension.kt and just make it setup your module in the intercept method.

[2022-02-13 19:20] JoonasC commented on #2824
Ok, thanks for the tip. I guess you can add a feature request tag then?

[2022-02-13 19:28] JoonasC commented on #2824
Btw, what exactly do you mean with "setting up a module"?

[2022-02-13 19:40] sksamuel commented on #2824
Yep, we can add that new feature.

For your 2nd question, move this code:

[code]

inside the intercept method of the copy n paste extension.

[2022-02-13 20:11] JoonasC commented on #2824
Ok,  thanks.

[2022-02-13 22:40] LeoColman opened #2825 "MockServerListener should accept a variable number of ports"
The constructor for MockServerListener
[code]
requires a port. Mockserver however receives (and allows) multiple ports - or even no port at all, which means 'give me a random port' - via vararg:
[code]

A workaround to not being able to pass an empty array is passing 0 as the port. This will randomize it.

This is important because running parallel requires a different port for each webserver.
Cha

[2022-02-14 09:15] dobe opened #2826 "docs about Conditional tests with Gradle are wrong"
hi!

at https://kotest.io/docs/framework/conditional/conditional-tests-with-gradle.html#kotest-specific-test-filtering the statements do not work, since an equal sign is missing. e.g:

[code]

should become:

[code]

also the documented approach does not work because gradle (at least in v7.x) does not pass on system props to the test JVM  (see the discussion [here](https://stackoverflow.com/questi

[2022-02-14 16:01] LeoColman commented on #2825
Closed as per https://github.com/kotest/kotest-extensions-mockserver/commit/96bc47973c40f94af5779eea29eb55e3bd299442

[2022-02-14 16:01] #2825 closed, assigned to LeoColman

[2022-02-16 09:16] buzoherbert commented on #2819
Ahh, when looking deeper into this issue, it seems like it is a problem when providing a MainDispatcher to the test environment rather than Kotest itself? I found that in this similar issue thread. https://github.com/Kotlin/kotlinx.coroutines/issues/3005

Still looking for a working solution in my case.

[2022-02-16 11:07] tibtof commented on #2792
I think that `beforeRootContainer` would be semantically equivalent to `beforeThisContainerOnly`, but nicer.

[2022-02-16 11:44] SerVB opened #2832 "Support annotation spec for JS tests"
I see from the [documentation](https://kotest.io/docs/quickstart) that not all styles are supported for JS:

![image](https://user-images.githubusercontent.com/20105593/154257587-e8fdfc59-899f-4193-b1bb-b8f1cec8f769.png)

The default kotlin.test for JS uses annotations but kotest doesn't support annotation spec for JS.

Is there any reason why? Looks quite similar. Would be handy to have annotatio

[2022-02-16 13:04] msttmms commented on #5442
Hello everyone, I am experiencing the same issue.

[2022-02-16 13:52] sschuberth commented on #1516
I'm seeing the 2.a case happening again with Kotest 5.1.0, is there a regression?

[2022-02-17 06:39] #5425 closed, assigned to nobody

[2022-02-17 13:44] ciffer opened #2834 "BigDecimal arb can return edgecases outside min max limits"
**Which version of Kotest are you using**
5.0.3

`Arb.bigDecimal(min = .., max = ..)` returns an Arbitrary that has edgecases outside of range min..max.

**Reproduction**:
[code]

**Current output**:
[code]

**Expected output**:
[code]

I can provide a pull request later today if the report is accepted.

Cheers and keep up the great work!

[2022-02-17 13:52] sksamuel commented on #2834
Pr always most welcome!

On Thu, 17 Feb 2022, 07:44 Kacper Lamparski, ***@***.***>
wrote:

[2022-02-18 06:57] pbit commented on #2813
Ok, I will try to setup a project over the weekend

[2022-02-18 09:39] ciffer commented on #2834
Created PR #2835

[2022-02-18 09:41] ciffer commented on #2834
I wasn't sure what branch should I target as it isn't a fix for any specific version. Let me know if I need to change it to `release/5.0.x`

[2022-02-18 22:52] aSemy opened #5421 "com.intellij.openapi.project.IndexNotReadyException: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation"
I ran Gradle clean, the 'Gradle refresh' button, and then tried executing a test task with IntelliJ.

* Kotest plugin version `1.1.49-IC-213-EAP-SNAPSHOT`
* IntelliJ IDEA 2021.3.2 (Ultimate Edition) Build #IU-213.6777.52, built on January 28, 2022
* Runtime version: 11.0.13+7-b1751.25 amd64
* Kotlin plugin version 213-1.6.20-M1-release-205-IJ6777.52

#### `stacktrace.txt`

[code]

#### `indexingSt

[2022-02-21 04:37] swanandvk commented on #2699
@sksamuel  I am thinking if we could allow defining default type of test container on parent spec via some configuration
so that container will be by default initialized when the test spec execution starts.
That will solve problem of re-defining the db container in all tests and will help in achieving parallelism.

[2022-02-21 07:12] optician opened #2838 "Human-readable names in AnnotationSpec"
It would be great to see support for human-readable names in AnnotationSpec. For example `@Test("validation allows only well formatted values")`

[2022-02-21 07:22] optician commented on #2838
My bad. Didnt know it's possible to call functions in kotlin like
[code]

[2022-02-21 07:22] #2838 closed, assigned to nobody

[2022-02-21 11:11] myuwono opened #2839 "RandomSpecSorter occasionally crashes kotest with "Comparison method violates its general contract!""
**Which version of Kotest are you using**
5.1.0

### Problem statement
`SpecSorter` relies on the `fun compare(a: KClass<out Spec>, b: KClass<out Spec>): Int` defining a valid comparator object used in the `specs.sortedWith(comparator)` in the `.sort` function.

Observing the random behaviour of the `RandomSpecSorter` comparator I believe that there is some chance that an inconsistent comparator i

[2022-02-21 12:15] #2839 closed, assigned to myuwono

[2022-02-22 10:42] lukasz-kalnik-gcx opened #2841 "Running Gradle `test` task doesn't propagate exceptions as test failures"
Android project.
Gradle config:

Gradle version 7.2
Android Gradle plugin version 7.1.1
Kotlin version 1.6.10

[code]

Running from Android Studio "Run test" gutter icon (with Kotest IntelliJ plugin installed) fails the test correctly by throwing an exception, as there are not mocked Android classes used in `LightColorTemperatureViewModel` under test:

[code]

Running the Gradle `test` task passes

[2022-02-22 11:31] myuwono commented on #2834
This was fixed in #2835

[2022-02-22 11:31] #2834 closed, assigned to nobody

[2022-02-22 14:35] lukasz-kalnik-gcx commented on #2841
If I provide mocks for the Android dependencies, but make the test fail in some other way, e.g. by adding

[code]

then the failure is propagated correctly both when running the test using Gradle task as well as by clicking on the "Run test" icon.

[2022-02-22 15:34] lukasz-kalnik-gcx opened #2842 "Expose coroutines `TestDispatcher` inside the test"
We usually inject a coroutines Dispatcher into our ViewModels:

[code]

With coroutines 1.6, we test it like this:

[code]

This way the dispatcher used inside the `ViewModel` under test is directly connected to the `testScope` and any unfinished coroutines etc. will get reported as test failures.

Is it possible to achieve something like this with Kotest?

[2022-02-22 21:46] YSakhno opened #2843 "Discrepancy in the documentation for @Tags annotation"
The current documentation [specifies](https://kotest.io/docs/framework/tags.html#marking-specs) that annotation `@Tags` receives a list of tag objects/classes (at least that what it looks in the examples). But [in the source code for version 5.1.0](https://github.com/kotest/kotest/blob/v5.1.0/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/annotation/Tags.kt) that annota

[2022-02-23 06:38] LimmaPaulus opened #2844 "defaultTestConfig deprecation"
Hi!

I personally disagree with the decision to deprecate defaultTestConfig/defaultTestCaseConfig()

[code]

I think it doesn't hurt to allow users to configure tests on coarse grain. Giving more options to user is a good thing on API like this.

My use case is that I have several integration tests I cannot run frequently because there are costs and rate limits associated with integrated services.

[2022-02-23 10:30] buzoherbert commented on #2819
Ok, for me what solved it is to add this dependency

   ` implementation("org.jetbrains.kotlinx:kotlinx-coroutines-reactor:$coroutinesVersion")`

[2022-02-23 12:39] sksamuel commented on #2841
Might be something to do with how android tests are setup with gradle
source sets

On Tue, 22 Feb 2022, 08:35 Lukasz Kalnik, ***@***.***> wrote:

[2022-02-23 13:39] sksamuel opened #2845 "Matcher compose"
[code]

(Or another design if you prefer).

[2022-02-23 20:10] lukaszkalnik commented on #2841
Just to be clear: these are not instrumented Android tests. These are pure JVM unit tests. Only the classes under test have (in production code) some Android dependencies like this:

[code]

In tests I replace this Android dependency with a mocked function. However if I forget to replace it, the tests should fail with an exception because Android framework is not accessible in tests.

[2022-02-23 20:33] sksamuel commented on #2841
If it's not android but just uses an android dep, can you make a standalone
project that fails for us to take a look at ?

On Wed, 23 Feb 2022 at 14:10, Lukasz Kalnik ***@***.***>
wrote:

[2022-02-23 22:11] jeobrien opened #2846 "Upgrade MockServer in kotest-extensions-mockserver to latest version"
**Which version of Kotest are you using** 1.1.0

Running into this issue https://github.com/mock-server/mockserver/issues/1031, and the [fix](https://github.com/mock-server/mockserver/commit/11790578ef4e4757d973aa38137d80d287c239aa) was tagged in version [5.12.0](https://github.com/mock-server/mockserver/releases/tag/mockserver-5.12.0).

Looks like the extension is still on [5.11 ](https://github.

[2022-02-23 23:45] #2574 closed, assigned to nobody

[2022-02-23 23:45] #2761 closed, assigned to nobody

[2022-02-24 20:13] nkiesel opened #2847 "shouldThrowWithMessage"
We often have tests where we expect a specific exception with a specific message to be thrown.  We currently use
[code]
I wonder if there is a better way or if this could be added to the standard matchers.

[2022-02-24 21:58] sksamuel commented on #2847
Happy to add another one.
I sometimes do

shouldThrow<Foo> { }.message.shouldBe("msg")

[2022-02-25 09:25] JesusMcCloud opened #2848 "FreeSpec seems to work with `-` in Leaf Tests"
**Which version of Kotest are you using** 5.1.0

**Which version of Gradle are you using** 7.1.1

**Which version of Kotlin are you using** 1.6.10

FreeSpec tests work perfectly fine, even if the leaf tests contain an infix minus between the string and the lambda.<br>Why is this working?

Some more background: I was butting my head as to which test style to use in a project which involves multiple

[2022-02-25 09:30] zapodot opened #2849 "withEnvironment from kotest-extensions-jvm fails on Java 17"
**Which version of Kotest are you using**
5.1.0

In some of our tests we are using withEnvironment to set some system properties. This works well when we are building on JDK11 but with a JDK17 (and jvmTarget set to 17) it fails due to the use of reflection at https://github.com/kotest/kotest/blob/5b81fb0d8d5b15bf1956e678f80b9818237e73ba/kotest-extensions/src/jvmMain/kotlin/io/kotest/extensions/sys

[2022-02-27 19:07] sksamuel opened #2852 "shouldBeSuccess should return value for chaining"
Result<Foo>(foo).shouldBeSuccess().fooname

[2022-02-27 19:08] sksamuel commented on #2844
Would tags achieve the same thing ?
Annotate those classes with an @ExpensiveTest tag and exclude those by default ?

[2022-02-27 19:09] sksamuel commented on #2844
https://kotest.io/docs/framework/tags.html

[2022-02-27 19:10] sksamuel commented on #2848
Kotest won't force you to "finish" the tests by having a non-minus leaf test.
I guess an option could be added to force that, but are you having an issue? In 5.x you shouldn't see data driven tests discarded, can you show an example of that ?

[2022-02-27 19:11] #2822 closed, assigned to nobody

[2022-02-27 19:11] sksamuel commented on #2822
@Sintrastes, @BjornvdLaan has added shrinking docs introducing shrinking.

[2022-02-28 08:39] JesusMcCloud commented on #2848
To clarify: data-driven tests (`withData`) in non-minus leaf tests are silently discarded.

Everything is working fine and I do understand why it makes sense to distinguish between containers and tests (`before{Container,Each,Any}`, report generation, etc…), but the _FreeSpec_ docs are a bit unclear in this respect, since the implications of only using containers are not clearly communicated (as m

[2022-02-28 22:17] #2852 closed, assigned to nobody

[2022-03-02 09:24] JesusMcCloud opened #2854 "Segmentation Fault on iosX64"
**Which version of Kotest are you using** 5.1.0

**Which version of Gradle are you using** 7.1.1

**Which version of Kotlin are you using** 1.6.10

Title says it all.

How can i debug this to provide some more info? it is not possible for me to share the affected project? It used to work fine when using `kotlin.test`…

[2022-03-02 12:16] JesusMcCloud opened #2855 "Kotest native runner does not work with experimental memory model"
**Which version of Kotest are you using** 5.1.0

**Which version of Gradle are you using** 7.1.1

**Which version of Kotlin are you using** 1.6.10

Tests do not run on native targets with experimental memory model

[2022-03-02 12:45] sksamuel commented on #2855
There's a pr merged for this for 5.2

On Wed, 2 Mar 2022, 06:16 Bernd Prünster, ***@***.***> wrote:

[2022-03-02 13:14] #2855 closed, assigned to nobody

[2022-03-02 15:08] LimmaPaulus commented on #2844
Yes, this seems sufficient. I still see no reason to remove that another option, but that's not problem for me any longer.

[2022-03-02 15:08] #2844 closed, assigned to nobody

[2022-03-02 18:28] lukasz-kalnik-gcx commented on #2841
I have tried to create a minimum reproducible project, but then I don't observe this problem anymore... So there might be some more complex interdependencies at play.

[2022-03-02 18:35] lukasz-kalnik-gcx commented on #2841
I will get back to you if I see the problem again and can describe it in more detail. For now I will just close this issue.

[2022-03-02 18:35] #2841 closed, assigned to nobody

[2022-03-02 19:03] sksamuel commented on #2841
Ok cool

On Wed, 2 Mar 2022, 12:36 Lukasz Kalnik, ***@***.***> wrote:

[2022-03-03 08:56] JesusMcCloud commented on #2854
Sorry, this was most probably an issue with coroutines on the old memory model

[2022-03-03 08:56] #2854 closed, assigned to nobody

[2022-03-03 14:56] LeoColman opened #2857 "Add `CharSequence` matchers similar to Collection<*> matchers"
Our collection matchers `forAll`, `forNone`, `checkAll` and others don't include `Charsequence`. It's only a type issue, as `CharSequence !is Collection<Char>`

The current workaround for this is turning your strings into lists via `toList`:

[code]

However, I do feel we should be able to just do:

[code]

We've done similar compatibility changes for `Array`, `Sequence`, `Set`, having the matcher

[2022-03-05 17:49] #2785 closed, assigned to nobody

[2022-03-06 20:49] sksamuel commented on #2849
This is because that API has been deprecated in 17 but no replacement has been given.

[2022-03-06 20:51] sksamuel commented on #2842
Does this help ? https://kotest.io/docs/framework/coroutines/test-coroutine-dispatcher.html

[2022-03-06 20:55] sksamuel commented on #2843
I think annotations can only include primitives and strings.

[2022-03-07 11:24] spadger opened #2858 "Type-specific `should`"
Hi,

(Verified with kotest 5.1.0 on JVM)

I don't know if this is even possible, but it could be useful to have an infix operator similar to `shouldBe` which doesn't allow upcasting?

e.g.
* Make the compiler force me to ensure my 2 types are the same
* Stop me accidentally asserting `a.b.c.SomeEnum.SAME_VALUE shouldBe x.y.z.SomeEnum.SAME_VALUE`

☝️  The second point was entirely my fault, and wha

[2022-03-07 17:28] lukasz-kalnik-gcx commented on #2842
Unfortunately not, I already had a look at this.
The problem is I need a `TestScope` or `TestDispatcher` instance *inside* of the test body.
Setting `config(testCoroutineDispatcher = true)` only gives access to the `testCoroutineScheduler` inside the test, not the dispatcher.

[2022-03-07 17:33] sksamuel commented on #2842
You can always get the dispatcher inside any coroutine as it's in the
context.

On Mon, Mar 7, 2022, 11:28 AM Lukasz Kalnik ***@***.***>
wrote:

[2022-03-07 17:35] lukasz-kalnik-gcx commented on #2842
Ok, I will try this. Thank you for your help!

[2022-03-08 09:41] JesusMcCloud commented on #2730
I might be able to provide some more context.

Using Kotest 5.1.0 on a kotlin multiplatform project, including an Android and an iOS target and `FreeSpec` tests, some of which contain `withData` tests.

On the JVM targets (Android and JVM, JUnit 5 runner), the behaviour is exactly as described here (only the `nameFn` result shows up as test name, and the `FreeSpec` container is gone. So what shows

[2022-03-10 19:03] aSemy commented on #2858
Hi, what do you think about using `shouldBeEqualToComparingFields` or `shouldBeEqualComparingTo`?

[code]

[2022-03-10 21:28] spadger commented on #2858
Umm, yep, works for me! Works for enums too. Thanks!
[code]

[2022-03-10 21:28] #2858 closed, assigned to nobody

[2022-03-11 22:46] CharlesG-Branch opened #2863 "Positive infinity being returned for Arb.negativeFloat() and vice versa"
I'm using `io.kotest:kotest-property:5.0.2` on jvm

Maybe this isn't a bug but it is unexpected. It appears that both positive and negative infinity are being returned in each of the `Arb.negativeFloat()` etc generators.

When I run:
[code]
This is what I get:
[code]

[2022-03-11 23:50] CharlesG-Branch opened #2865 "Combine multiple generators with an even distribution"
Consider something like this:
[code]
Because of the way that the `merge` function is written earlier generators in the list will be exponentially less likely to be called. I've dealt with this in my own project with the following function:
[code]

If you run this sample you can see the impact is quite dramatic:
[code]

I'm happy to add this + update the docs if there is a template PR I can go off

[2022-03-12 03:59] sksamuel commented on #2865
Without looking at the original, can you tl;dr on why it favors the earlier gens ?

[2022-03-12 04:00] sksamuel commented on #2848
Do you have an example test?

[2022-03-12 04:01] sksamuel commented on #2842
Did you get this figured out ?

[2022-03-12 04:02] sksamuel commented on #2826
You can't pass the env vars in the command line as far as I know? So you would need to set them, then run. The problem with gradle not passing system properties is annoying.

[2022-03-12 04:08] sksamuel commented on #2819
I will close this @buzoherbert since you found the solution.

[2022-03-12 04:08] #2819 closed, assigned to nobody

[2022-03-12 04:12] sksamuel opened #2867 "Roadmap 5.2"
- [x] #2249
- [x] #2695
- [x] #2709
- [x] #2752
- [x] #2781
- [x] #2783
- [x] #2790
- [x] #2793
- [x] #2795
- [x] #2800
- [x] #2805
- [x] #2806
- [x] #2812
- [x] #2815
- [x] #2816
- [x] #2821
- [x] #2834
- [x] #2836
- [x] #2839
- [x] #2845
- [x] #2848
- [x] #2852

[2022-03-12 04:19] sksamuel commented on #2800
Changed dependency scope for this in 5.2

[2022-03-12 04:19] #2800 closed, assigned to nobody

[2022-03-12 04:21] #2789 closed, assigned to nobody

[2022-03-12 06:48] dobe commented on #2826
calling the tests would work this way

[code]

 at least on *nix based systems

[2022-03-12 07:38] sksamuel commented on #2826
with export you mean ?

[2022-03-12 21:00] #2845 closed, assigned to nobody

[2022-03-12 21:00] #2806 closed, assigned to nobody

[2022-03-12 21:01] #2815 closed, assigned to nobody

[2022-03-12 21:01] #2816 closed, assigned to nobody

[2022-03-12 21:04] #2145 closed, assigned to Kantis

[2022-03-12 21:08] sksamuel commented on #2712
This is fixed in the latest allure extension release.

[2022-03-12 21:08] #2712 closed, assigned to nobody

[2022-03-12 21:10] sksamuel commented on #2730
JVM and non-JVM go through different gradle code paths (junit platform vs jetbrains format test output).
I'll try to reproduce this.

[2022-03-12 21:27] myuwono commented on #2865
@CharlesG-Branch there is also `Arb.choice` that you might be interested to check out. Maybe the mergeAll function can just be an alias for that function

[2022-03-12 22:48] sksamuel commented on #2863
Yep that's expected, as mentioned in the edge cases part of the docs.

/**
 * Returns an [Arb] that produces negative [Float]s from [min] to -[Float.MIN_VALUE] (inclusive).
 * The edge cases are [Float.NEGATIVE_INFINITY], [min], -1.0 and -[Float.MIN_VALUE] which are only included if they
 * are in the provided range.
 */

If you don't want to include infinity, then you can use use numericFloat and

[2022-03-12 22:57] sksamuel commented on #2865
I'm not seeing the issue, I've added this test and it's ok.

      test("merge should distribute equally") {
         val ints = Arb.constant(0).merge(Arb.constant(1)).take(10000).toList()
         val zeros: Int = ints.count { it == 0 }
         val ones: Int = ints.count { it == 1 }
         val diff: Int = abs(zeros - ones)
         diff.shouldBeLessThan(500)
      }

Merge will pick equally be

[2022-03-12 23:59] sksamuel commented on #2820
I can't seem to duplicate this. Eg with this test

![image](https://user-images.githubusercontent.com/743706/158039190-34e1557d-1989-434c-a5e1-644cd6558e8e.png)

I get this
![image](https://user-images.githubusercontent.com/743706/158039205-dd59b6aa-5583-4329-ac96-afef9ab22375.png)

Clicking on a test shows the output associated with that test.

[2022-03-13 00:08] #2709 closed, assigned to nobody

[2022-03-13 01:40] #2821 closed, assigned to nobody

[2022-03-13 02:26] #2848 closed, assigned to nobody

[2022-03-13 02:27] sksamuel commented on #2848
So the issue was that we shouldn't allow withData inside leaf's at all, but it was binding to RootScope.
I've fixed that now, so you shouldn't see data test disappear.

[2022-03-13 02:31] sksamuel commented on #2730
@BorzdeG your issue here I think is covered by these docs.
https://kotest.io/docs/framework/test_output.html

@JesusMcCloud your issue is covered in #2848 I think

[2022-03-13 03:45] myuwono commented on #2865
@sksamuel i think this only happens as soon as you chain merge arbs one after the other, i.e. `arbA.merge(arbB).merge(arbC)`. That's because as we evenly split left arb vs right arb, probabilistically we'll get 25% a, 25% b, and 50% c.

[2022-03-13 04:13] sksamuel commented on #2865
Oh I see, yes. That's exactly what we do.

[2022-03-13 11:49] myuwono commented on #2865
@CharlesG-Branch do you mind trying this? see if that's closer to the result that you'd expect?
[code]

[2022-03-13 15:11] sksamuel commented on #2843
I have improved the docs for tags, thanks for the heads up.

[2022-03-13 15:11] #2843 closed, assigned to nobody

[2022-03-13 15:12] #2752 closed, assigned to nobody

[2022-03-13 15:12] #2867 closed, assigned to nobody

[2022-03-13 15:18] sksamuel commented on #2826
I've updated those docs.

[2022-03-13 15:20] sksamuel commented on #2826
And we already support them as env vars so I've added that to the docs as well.

[2022-03-13 15:20] #2826 closed, assigned to nobody

[2022-03-13 15:21] sksamuel commented on #2846
Extension has now been updated to 5.12.0 and released as 1.1.1

[2022-03-13 15:21] #2846 closed, assigned to nobody

[2022-03-13 18:04] krzema12 commented on #5423
@sksamuel could you share if there's any progress?

[2022-03-13 19:05] dobe commented on #2826
see https://stackoverflow.com/questions/41183403/passing-environment-variables-to-a-process

[2022-03-13 19:29] sksamuel commented on #2826
Good to know.

On Sun, 13 Mar 2022 at 14:05, Bernd Dorn ***@***.***> wrote:

[2022-03-14 09:18] lukasz-kalnik-gcx commented on #2842
No, unfortunately we didn't migrate our project to kotest yet, but thanks for asking. I will close this issue.

[2022-03-14 09:18] #2842 closed, assigned to nobody

[2022-03-14 10:25] abendt opened #2873 "cannot update from 5.1.0 to 5.2.1"
**Which version of Kotest are you using**

i am currently using v5.1.0

When trying to update to the latest version 5.2.1 i get some errors when running the tests:

[code]

[2022-03-14 11:17] hestad opened #2874 "Can't upgrade from version 5.1.0 to 5.2.1 because of nested nullable in checkEqualityOfFieldsRecursively"
Can't upgrade from version 5.1.0 to 5.2.1 because of nested nullable:
[code]

**Which version of Kotest are you using**
Upgraded from 5.1.0 to 5.2.1

[2022-03-14 11:40] hemfridsvagen25 commented on #2820
Hi
If you use this test below.  Run only test 2 in debug mode with a break point on the second print. And look at the console when paused at breakpoint you should see test 1.0 in the console.  in 5.01 it works but in 5.02 and later the console is empty until test is finished.

class KotestTest:StringSpec() {
	init {
		"1" {
			println("test 1")
		}
		"2" {
			println("test 1.0")
			println("test 1

[2022-03-14 11:58] ashishkujoy commented on #2874
Thanks, @hestad, for reporting this issue, will try to fix this soon.

[2022-03-14 17:10] CharlesG-Branch commented on #2863
This issue isn't that it includes an infinity, it's that it includes **positive** infinity for `Arb. negativeFloat`. In the docs you just posted it only lists negative infinity not positive infinity as an edgecase.

[2022-03-14 22:04] CharlesG-Branch commented on #2865
@myuwono That works for me. No need imho to add a `mergeAll` alias — maybe just add a note in the `merge` docs about if you're using it in a chain consider using `Arb.choice`.

I missed this because in the docs I assumed that [Generators List](https://kotest.io/docs/proptest/property-test-generators-list.html) referred to generating discrete things (e.g. strings, doubles, enums, etc) and that [Gen

[2022-03-15 04:10] ashishkujoy commented on #2874
@hestad can you try the latest snapshot version.

[2022-03-15 04:43] sksamuel commented on #2863
Ah I see.

[2022-03-15 05:14] sksamuel commented on #2863
Will fix for 5.2.2

[2022-03-15 07:01] ewoelfel commented on #2873
Are you using spring? I had the same error as the wrong version of `io.kotest:kotest-assertions-core-jvm` was pulled (1.5.2).
For me the fix was to add a gradle.properties file containing `kotlin-coroutines.version=1.6.0`

[2022-03-15 08:02] abendt commented on #2873
thanks @ewoelfel!

yes, i am using spring.
i think you mean `org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm` here?

i have added an explicit dependency to that artifact: `implementation("org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.6.0")`. That helped resolve the issue. Don't understand though why the wrong version was selected in the first place
🤷🏽‍♂️
thanks again for the hint!

[2022-03-15 08:02] #2873 closed, assigned to nobody

[2022-03-15 09:22] Avvessalom opened #5420 "IDEA marks test functions and classes as unused"
Hello. Faced such a problem:

When using annotation spec, IDEA marks test functions as unused
![image](https://user-images.githubusercontent.com/49491863/158340666-0f791b24-0b3c-46ba-97f7-3d70d6f951b3.png)

Also, functions that use other annotations are also marked as unused.
![image](https://user-images.githubusercontent.com/49491863/158340568-756a4e5c-561d-4fb4-9734-97aa9dacc0d1.png)
![image](ht

[2022-03-15 11:45] hestad commented on #2874
@ashishkujoy Just tried it. This solves our problem.

[2022-03-15 12:42] #2874 closed, assigned to ashishkujoy

[2022-03-15 14:13] sjolfr opened #2877 "Multiplatform support for kotest-extensions-koin"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
Hi,

We're currently using kotest and koin with a kotlin multiplatform library and tried to take a dependency on kotest-extensions-koin, but it doesn't support iOS and JS targets?

Would it be possible to add multiplatform support?

[2022-03-15 18:15] BorzdeG opened #2878 "DslMarker not propagating properly in IDEA builds test tree incorrectly"
kotest: 5.2.1
kotest plugin: 1.1.49-IC-213-EAP-SNAPSHOT
IDEA: 2021.3.2

The test starts through GRADLE run Configuration

sample code:
[code]

![image](https://user-images.githubusercontent.com/2332528/158444640-1fbcd907-38dc-4082-9a44-e563df670052.png)

[2022-03-15 18:17] sksamuel commented on #2878
You can only put withData inside containers, so it's binding to the
describe level.
This is a bug in the sense that you shouldn't be able to create a test like
that.

On Tue, 15 Mar 2022 at 13:15, Viktor Alenkov ***@***.***>
wrote:

[2022-03-15 18:25] BorzdeG commented on #2730
checked on kotest 5.2.1 - it's fixed!
The output is not the same as in the documentation :)

[code]

According to the documentation, the output should have looked like this:
[code]

[2022-03-15 18:31] sksamuel commented on #2730
Where does the DemoTest come into it ?

[2022-03-15 18:32] BorzdeG commented on #2730
did not correct the output to the log regarding the class name - fixed

[2022-03-15 18:35] sksamuel commented on #2730
So the class name is included both times? Did you upgrade gradle or a gradle plugin ?

[2022-03-15 18:36] BorzdeG commented on #2730
kotest: 5.2.1
Gradle: 7.4.1
JVM: 17

Yes

PS: Also, the delimiters are different from the documentation

[2022-03-15 18:40] sksamuel commented on #2730
Not tried gradle 7.4.x yet so maybe they finally fixed some junit platform bugs.

[2022-03-15 20:53] myuwono commented on #2865
I see yes that's a good idea. I'll make that clear in the readme accordingly.

[2022-03-15 20:53] myuwono commented on #2863
@sksamuel I'll look into this today

[2022-03-15 23:25] maxwell-carbon opened #2879 "shouldContainExactly should work with TreeSet"
If you call `treeSet shouldContainExactly listOf("a", "b")`, that should work, but currently blows up[1] because Kotest doesn't treat TreeSets as ordered sets ([source](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/eq/IterableEq.kt#L63)). They probably should be -- they have a consistent iteration order.

Side not

[2022-03-15 23:36] maxwell-carbon commented on #2879
Internally there's an error message

[code]
which would have helped, but the `containExactly` method discards that and generates its own unhelpful error message: https://github.com/kotest/kotest/blob/45df11acd0310877af75eb5229b79bcaba2922ce/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/collections/containExactly.kt#L47

[2022-03-16 13:10] timrijckaert commented on #2755
Not stale

[2022-03-16 19:32] fitzvinicius commented on #2789
I tried to reproduce the jacekexample repository and got the same error too. Seems like Micronaut doesn't have support for Kotest 5+ yet, look at: micronaut-projects/micronaut-test#504.

[2022-03-17 02:56] #2863 closed, assigned to myuwono

[2022-03-18 08:31] #2879 closed, assigned to Kantis

[2022-03-18 12:42] Kantis commented on #2879
Thanks for the excellent report @maxwell-carbon 😃

[2022-03-19 14:48] ekaralamov opened #2884 "Repeating Container Descriptions Break the Execution"
###### Setup

Android Gradle project (I'll give details if it turns out they matter)

Kotest version 5.2.1

[code]

###### Problem

The following spec fails to execute completely, because of the repeating container descriptions:

[code]

The result is this:
[code]

I believe such repeating descriptions have to be supported, because for example the spec might contain different sequences of a bunch

[2022-03-19 20:36] pientaa commented on #2857
I'll implement it

[2022-03-19 20:50] sksamuel commented on #2857
awesome @pientaa

[2022-03-20 17:23] sksamuel opened #2887 "Add explicit local stack handling to test containers"

[2022-03-20 19:53] #2847 closed, assigned to nobody

[2022-03-20 19:53] #2857 closed, assigned to nobody

[2022-03-20 21:26] nkiesel commented on #2847
Thanks!

[2022-03-21 10:14] #2865 closed, assigned to myuwono

[2022-03-21 21:24] pientaa commented on #2668
@sschuberth are you sure that using the library you mentioned is the good idea? It looks like not being supported recently.

The alternative could be https://github.com/charleskorn/kaml, but it works only on JVM. However there is an open issue https://github.com/charleskorn/kaml/issues/232 to add other targets, too. So, wouldn't it be better to wait until that issue is done?

[2022-03-21 21:33] sksamuel commented on #2668
Let's ask @charleskorn since he uses Kotest :)

[2022-03-21 21:35] charleskorn commented on #2668
If anyone is interested in contributing support for other targets to kaml, I'd be keen to help out, but it's not high on my list of priorities at the moment unfortunately.

[2022-03-22 07:21] sschuberth commented on #2668
Of course I cannot tell for *sure*. But personally I strongly prefer multiplatform Kotlin code over something that just wraps existing Java libraries.

I'm not sure what you mean by "supported". It's open source, so if you feel that something needs to be improved, you should contribute. We cannot expect @him188 to do all the work for us.

Also, https://github.com/him188/yamlkt does not look unmain

[2022-03-22 08:27] anatawa12 opened #5419 "Test are not ran for IC-213 or later"
Because of gradle/gradle#18486 (see also: JetBrains/intellij-platform-plugin-template#241), most tests of this repository are not invoked by Gradle.

I found this problem during investigating error of kotest/kotest-intellij-plugin#164.
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/22656849/159438602-b919d2bc-3fd4-47e7-874b-e771280948ff.png">

[2022-03-22 10:52] myuwono opened #2889 "Arb.map generates and shrinks Maps to a size less than minSize"
Essentially there are two issues:
- minSize during `Arb.map` generation encounters the same phenomenon as `Arb.set`, so we may need a similar solution like slippage factor.
- shrinking logic in `MapShrinker` which ignores minSize

For instance this code can generate a map of 1, because essentially it's possible that the random sampling process picks the same values for the map key.
[code]
The curr

[2022-03-22 11:09] #5419 closed, assigned to nobody

[2022-03-22 11:24] Him188 commented on #2668
Yes, yamlkt is indeed in support. YAML is complex to implement from the beginning, and requires a lot of work. I will continue working on it, and I appreciate anyone who wants to contribute to yamlkt.

A remind: yamlkt is still in pre-release stage. API is subject to change in the future, and yamlkt currently doesn't support all the features, like anchors. Unfortunately, I cannot guarante a specif

[2022-03-22 12:33] #2889 closed, assigned to nobody

[2022-03-22 13:11] sksamuel commented on #2820
still struggling to duplicate. Will keep trying.

[2022-03-22 15:42] muellerml opened #2891 "Global configuration for eventually"
In our project we have a BDD test setup with Cucumber and kotest which performs some REST calls on our applications testing asynchronous behaviour. As the default timeout of 25 milliseconds for REST calls is quite low, we have to configure at each invocation of eventually the same delays again and again as there's no global configuration possibility. This sometimes even lead to networking issues a

[2022-03-22 15:54] sksamuel commented on #2891
Yeah I think that makes sense.

On Tue, 22 Mar 2022 at 10:42, Michael Müller ***@***.***>
wrote:

[2022-03-23 01:41] nkiesel opened #2892 "shouldStartWith and shouldEndWith should support Regex"
Kotlin stdlib overloads methods for strings and regex (e.g. `replace`).  The same should be done for kotest assertions. I should be able to write
[code]
Right now I instead have to use
[code]

[2022-03-23 02:48] sksamuel commented on #2892
Good idea.

[2022-03-23 19:56] Kantis opened #2894 "Composable matchers for primitives"
Seeing https://github.com/kotest/kotest/issues/2845

Perhaps we could also extend it for composing primitive and collection matchers? In those cases, omitting extraction functions would be fine.

like:
[code]

What do you think?

[2022-03-23 20:00] sksamuel commented on #2894
Yep I think that's great.

On Wed, 23 Mar 2022 at 14:57, Emil Kantis ***@***.***> wrote:

[2022-03-24 03:30] caeus opened #2896 "Flaky java.lang.StackOverflowError using generators."
**Which version of Kotest are you using**: 5.1.0

So I'm using generators not for property testing, but just to generate complex data classes for testing.

But from time to time it throws a `java.lang.StackOverflowError`:

[code]

Maybe it's just a very complex structure, so it is not in an infinite loop, but just very very deep into some frame. If that were the case, how can it be solved?

[2022-03-24 04:59] sksamuel commented on #2896
Do you have example code ?

[2022-03-25 00:32] joaoeudes7 commented on #2666
While uses the old version kotlin (<1.6.0)
[code]
and not the new version of coroutines Scope test library
[code]
can set in gradle um [replace of dependencies transitive](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.ResolutionStrategy.html), add on end of gradle:
[code]

[2022-03-25 14:38] caeus commented on #2896
[code]
When I try to get 1 sample from incomingOrderGen, that happens (sometimes)

[2022-03-25 15:00] Avvessalom opened #2898 "Support OS annotations in annotation spec"
Hello.
JUnit5 has an annotation for running tests under different operating systems

[code]
I would like to have the same possibility when using the Kotest annotation spec

[2022-03-25 15:21] caeus commented on #2896
I'm trying replacing `.bind()` with more verbose `flatMap`.
so instead of

[code]

I'll do

[code]
It's super annoying, but I think it could solve the problem

[2022-03-25 16:02] caeus commented on #2896
It seems it's the `itemGen`... so basically, recursive generators. Is there a way to build them so that they don't do flakily end up in a stackoverflow?

[2022-03-25 16:34] caeus commented on #2896
So... I fixed it like this.

the flatMap idea didn't actually work. What worked (I don't understand why) is this:
I replaced
[code]
for
[code]

It can be further reduced, but it works...

[2022-03-25 19:41] Kantis opened #2899 "Support Dynamic tests in Spring extension"
Currently, tests which are generated by `withData` don't trigger Spring lifecycle events due to being `TestType.Dynamic`

[2022-03-25 20:56] myuwono commented on #2896
i see - we need to fix this. Arb.flatMap doesn't seem to be stack-safe. I'll look into this. I believe it's possible to implement a trampolined version of that.

[2022-03-25 22:39] hemfridsvagen25 commented on #2820
Hi after upgrade of IntelliJ to IntelliJ IDEA 2021.3.3  The problem has vanished.
Now everything seems to work as expected again.

[2022-03-26 00:10] Kantis commented on #2894
I just noticed that matcher's have `and` and `or` methods for composing like this 🙈

[2022-03-26 00:10] #2894 closed, assigned to nobody

[2022-03-26 18:08] sksamuel commented on #2898
There is `@EnabledIf` you can add to a spec.
https://kotest.io/docs/framework/conditional/spec-annotations-conditional-evaluation.html

Then if you want the OS constants, you can bring in apache commons lang which provides those.

[2022-03-26 18:08] #2896 closed, assigned to myuwono

[2022-03-26 18:10] sksamuel commented on #2820
Ok so must have been an intellij bug, good to know!.

[2022-03-26 18:10] #2820 closed, assigned to nobody

[2022-03-26 18:12] sksamuel commented on #2878
This is giving an error in 5.2.1 now.
Can you confirm @BorzdeG

[2022-03-26 18:16] sksamuel commented on #5421
This exception is not thrown in our code. It's in FileBasedIndexImpl which is part of intellij itself.

[2022-03-26 18:38] sksamuel commented on #5422
2022.1 build is published (takes a couple of days for jetbrains to approve it in the marketplace).

[2022-03-26 18:38] #5422 closed, assigned to nobody

[2022-03-26 18:39] sksamuel commented on #2792
What about just `before` ?

[2022-03-26 19:14] BorzdeG commented on #2878
@sksamuel Yes, the error persists. Published a demo project: https://github.com/BorzdeG/bugs-kotest-2878

[2022-03-26 21:48] #5468 closed, assigned to nobody

[2022-03-27 16:49] #5421 closed, assigned to nobody

[2022-03-28 00:57] sksamuel commented on #2878
It must be fixed in master because I can't duplicate.

![image](https://user-images.githubusercontent.com/743706/160309513-b5b34e7a-ddc4-412b-9fcb-65b29cc969c9.png)

I am going to release 5.2.2 so we can try against that.

[2022-03-28 06:30] BorzdeG commented on #2878
Upgrading the versions didn't fix the problem. Updated repository

[2022-03-28 08:42] nor-ek commented on #2892
You can assign me.

[2022-03-28 08:43] sksamuel commented on #2892
Done

[2022-03-28 16:21] BryanDonovan commented on #2792
I think `before` is best (for me anyway) because it aligns with some other test frameworks.  For some reason I was under the impression that `before` couldn't be used in Kotest, but not sure why I thought that.

[2022-03-29 03:59] #1516 closed, assigned to nobody

[2022-03-29 05:37] aids61517 opened #2905 "Override parallelism in ProjectConfig cause Mockk setup coEvery failed"
**Which version of Kotest are you using**
Kotest : 5.2.1 (Exception happened Kotest 5, but 4.6.3 is fine.)
MockK : 1.12.1 ~ 1.12.3 (haven't tested on old version)

I upgrade Kotest version from 4.6.3 in my Android project, and CI always failed.

After lots of testing, I found override `parallelism` in `ProjectConfig` is root cause. If `parallelism` greater than 1, `coEvery` would failed with lots

[2022-03-29 12:53] reevn commented on #2792
With the current names I think just `before` does not differentiate itself from the existing lifecycle callbacks. It would be the most generic `before*` function, but it does something pretty specific. I don't think a new user would see `beforeEach`, `beforeTest`, `beforeAny`, `beforeContainer` and then `before`, and intuitively understand that `before` is just `beforeContainer` but only for the c

[2022-03-29 16:36] BryanDonovan commented on #2792
Good point @Reevn

[2022-03-29 19:19] sksamuel commented on #2792
Good point. I go back to my previous suggestion of beforeScope then

On Tue, Mar 29, 2022, 9:36 AM Bryan Donovan ***@***.***>
wrote:

[2022-03-29 21:53] Kantis commented on #2792
What if we used `@DslMarker` to restrict access to the root `Spec` when using `beforeTest`, `beforeEach`, `beforeAny`, `beforeContainer`, and  `before` could be  made available _only_ on `ContainerScope`. Would that make it intuitive?

[2022-03-30 06:01] myuwono opened #2906 "Property Test does not shrink or report failing inputs when function being tested throws"
**Which version of Kotest are you using**
5.2.2

The test below does not print out the generated value when the function being tested throws.
[code]

I realized that we don’t report the inputs or attempt any shrinking to the users when the exception is not kotest’s assertion errs. i.e. if that function was wrapped around `shouldNotThrowAny { .. }` then that’ll print out the inputs and properly per

[2022-03-31 10:51] zyxist opened #2908 "kotest.io documentations list non-existing assertions"
Hello, I noticed that [kotest.io website](https://kotest.io/docs/assertions/core-matchers.html) shows a non-existing assertion:

iterable.shouldMatchEach(assertions)

The doc version in the repository, on the other hand, does not show the following assertions that exist:

iterable.shouldMatchInOrder(assertions)
iterable.shouldMatchInOrderSubset(assertions)

Ref: https://github.com/kotest/kotest/bl

[2022-03-31 11:02] Kantis commented on #2908
@zyxist all these were added in 5.2. What makes you say they don't exist?

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/collections/matchers.kt#L64

[2022-03-31 12:42] zyxist commented on #2908
OK, part 1 looks like Github issue - I'm still using 5.1.0 (was not able to migrate to 5.2.1 due to a bug in assertion library, and no time yet to move to 5.2.2), and I used Github search to check if the assertion exists in code on master branch before raising the issue, returned 0 results for me.

However, the second part still applies: https://github.com/kotest/kotest/blob/master/doc/matchers/co

[2022-03-31 13:06] reevn commented on #2792
@Kantis I don't think that restricting the function to the `ContainerScope` helps to make users understand that it is not inherited to other children `ContainerScope`s. That's my personal opinion at least.

I'll +1 @sksamuel's suggestion earlier in the thread:

[code]

It already uses the function that is responsible for setting up a container scope, so no new concept or naming introduced, while m

[2022-03-31 13:29] jarhoax commented on #2792
Following the thread and seeing all the suggestions I also think

[code]

is pretty much on point. It is clear from reading it what will happen. Also as @Reevn mentioned the concept of `beforeContainer` already exists, with this change having the possibility to "limit" with an additional parameter. Awesome.

[2022-03-31 16:31] BryanDonovan commented on #2792
My issue with using `beforeContainer` is that's outside the container.  I want something that is before the tests within a container -- in that case it makes more intuitive sense (and is consistent with other frameworks that Kotest's nesting was based on) to put the new hook inside the container that contains the tests.  Having it outside the container makes the test code confusing to me.

**Howev

[2022-03-31 17:20] Kantis commented on #2908
The documentation at /doc seems deprecated indeed. See for instance [this commit](https://github.com/kotest/kotest/commit/1a8e74b1a71221563f83debc25f623e9a07a4d08). I think we should do the same for the matchers 🙂

Do you mean to add which version everything was added? Like...

| General                                 | Since |

[2022-04-01 05:37] zyxist commented on #2908
Regarding version selector - I meant something more like here: https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html

"Elasticsearch guide: 8.1 (current)" - the version is switchable and then you view the documentation for a particular version. I think having the current and previous versions will be sufficient, given that sometimes devs can't migrate to the newest version imm

[2022-04-01 06:23] jarhoax commented on #2792
I see. That would mean if you have following code example:

[code]

it will print:
[code]

So by introducing a parameter `inherit = false` it will only honor the first level child containers, but not the _actual current container scope_. This would probably require something like `beforeThisContainer` like @Reevn said, acting similar than `beforeSpec`, but for the current container scope.

[2022-04-01 08:16] Kantis commented on #2908
Regarding version selector - I just checked the framework we're using (Docusaurus) and it seems to have support for this. Perhaps we can create a new issue to implement version selection in docs? And this re-write this one to address unmaintained `/docs` folder? What do you think? 🙂

[2022-04-03 16:43] #2813 closed, assigned to nobody

[2022-04-04 17:35] nor-ek commented on #2892
PR -> https://github.com/kotest/kotest/pull/2909

[2022-04-04 22:34] LeoColman opened #2910 "Change documentations to recommend by default a `KotestConfig` instead of `ProjectConfig`"
https://github.com/kotest/kotest/blob/f1c729d7de1150d30ee1806fe354887ce80777cd/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/config/AbstractProjectConfig.kt#L29

### Small bugfix in KDocs
First, `AbstractProjectConfig` must be instantiated, therefore this must be changed to

`: AbstractProjectConfig()`

### Change in KDocs
For the line
https://github.com/kotest/kotest/

[2022-04-05 07:38] svenjacobs opened #2911 "Kotest 5.2.2 not compatible with Coroutines 1.6.1"
I'm receiving the following exception when trying to run Kotest tests with the latest version 1.6.1 of Coroutines:

[code]

[2022-04-05 10:49] ffeltrinelli opened #2913 "Pitest fails to run Junit5/Kotest tests because it assigns unique id selectors"
**Which version of Kotest are you using**
I'm upgrading kotest from 5.1.0 (where it works fine) to 5.2.2 (where I have the error described below).

**Description**

In #2862, kotest was updated to throw an exception if tests running with `kotest` engine have a unique id selector.

Unfortunately, this is exactly what [Pitest](http://pitest.org/) is doing:

[code]

As you can see, `org.pitest.junit5

[2022-04-07 12:15] #2911 closed, assigned to nobody

[2022-04-07 18:28] aSemy opened #2914 "Provide multiplatform implementations of `captureStandardOut`"
I'm writing some tests using [Knit](https://github.com/Kotlin/kotlinx-knit/), and I'd like it to generate tests to work on as many platforms as possible

Because Knit works best by showing and testing examples that use `println(...)`, the tests need to be able to capture stdout.

There's a way of capturing stdout on JVM:

https://github.com/kotest/kotest/blob/b832d4941ecc45074bcd6dea3f24d16553f2fc

[2022-04-08 06:28] lwasyl opened #2915 "Unexpected execution order and failure with duplicated test names"
I tried with Kotest 5.0 and later updates

The issue seems to be related to be triggered by two tests _not on the same level_ having the same name. The following tests should work: each `load()` is properly followed by a `complete()`, and the tests pass on Kotest 4.x. However, on 5.x they fail with two exceptions: one somewhere in JUnit code, the other in the `FakeService`. Looks like either `Inst

[2022-04-08 10:47] aSemy opened #2916 "Use 'language injection' on assertions, so embedded languages are easier to use in IntelliJ"
I'd like the JSON Path matchers to be easier to use. IntelliJ has a nice feature which will apply highlighting and formatting to a string if it's specially marked
https://www.jetbrains.com/help/idea/using-language-injections.html

It would be very convenient if Kotest applied this to the JSONPath assertions.

#### Example language injection

[code]

Note the invalid path has a red error highlight:

[2022-04-08 11:19] aSemy opened #2917 "Docs examples use null-safe accessors for matchers, which produces false positives in some situations"
The docs have examples that use the null-safe accessor `?.`

https://kotest.io/docs/assertions/json-matchers.html#shouldcontainjsonkey

https://github.com/kotest/kotest/blob/b832d4941ecc45074bcd6dea3f24d16553f2fc21/doc/matchers/json.md?plain=1#L8

If the `json` variable is null then the assertion won't be called. I think that's a bit confusing to beginners, the docs probably shouldn't use null-saf

[2022-04-08 11:37] nor-ek commented on #2910
Assign me

[2022-04-08 11:40] Kantis commented on #2916
**edit: Noticed that the particular assertion is in jvmMain. I think we should do it** 🙂

--
Most assertions are defined in common target, and `@Language` annotations are sadl not multiplatform compatible. I've been itching to do this for a while. Do you have any ideas for workarounds?

See https://youtrack.jetbrains.com/issue/KTIJ-16340

[2022-04-08 11:52] nor-ek commented on #2910
PR ->  https://github.com/kotest/kotest/pull/2918

[2022-04-08 14:18] aSemy commented on #2916
Potential workarounds/vague ideas for common targets are

1. adding `// language=JSONPath` - this might work if the source code is downloaded?
2. Creating and sharing external annotations https://www.jetbrains.com/help/idea/external-annotations.html. This seems fiddly to set up though. Maybe the Kotest IntelliJ plugin can set it up automatically?
3. Some sort of post-processing by the Kotest Gradl

[2022-04-12 13:25] #2892 closed, assigned to nor-ek

[2022-04-12 13:26] #2910 closed, assigned to nor-ek

[2022-04-12 14:12] bashor commented on #2163
JFYI starting from 1.6.20 it's possible to provide own adapter from JS without using compiler plugin, like described [here](https://youtrack.jetbrains.com/issue/KT-42283#focus=Comments-27-5994631.0-0). If you you have any question feel free to ask in the issue ([KT-42283](https://youtrack.jetbrains.com/issue/KT-42283)).

cc @sksamuel

[2022-04-13 17:48] sksamuel commented on #2163
Thanks for the update @bashor

[2022-04-15 16:54] DerekBeam commented on #1603
This seems to still be an issue for me

[2022-04-16 08:11] SerVB commented on #2832
Still actual

[2022-04-16 12:25] #5427 closed, assigned to nobody

[2022-04-18 15:49] LeoColman opened #2927 "Add String truthy/falsy matchers to the documentation"
https://kotest.io/docs/assertions/core-matchers.html

Truthy and falsy matchers aren't in the core-matchers documentation.

[2022-04-18 21:21] LeoColman opened #2928 "Add YearMonth Arbitrary"
We have Arbitraries for LocalDate, LocalDateTime, LocalTime and more of these cute `java.time` guys.

I propose we also add a `YearMonth` generator, which would behave similarly (and can even be derived from the others if they contain a date `localDateTime.yearMonth`)

# YearMonthArb

I propose this function:

[code]

## Edge cases
I think there are some good edgecases that we can add:
- `YearMont

[2022-04-18 21:32] PeekAndPoke opened #2929 "Javascript tests are not executed with Kotlin 1.6.20"
Kotest: 5.*
Kotlin: 1.6.20

When using Kotlin 1.6.20 Javascript tests are not executed, while tests are executed with the same setup using Kotlin 1.6.10.

Chances are that this is related to https://kotlinlang.org/docs/whatsnew1620.html#lazy-initialization-of-top-level-properties-by-default-with-ir-compiler

See details in Slack: https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1650269545420299

[2022-04-19 14:20] nor-ek commented on #2928
You can assign me for that.

[2022-04-21 02:04] #2899 closed, assigned to nobody

[2022-04-21 20:38] muellerml commented on #2891
In https://github.com/muellerml/kotest/commit/3042dcff026a809c413050da19876f89a5afe657 I added such an object. Would that already be enough or should a test be added as well?

I also thought about adding the possibility to configure those configuration values via System properties or similar but I guess at least for the interval property it's not straightforward to support all variations.

[2022-04-21 21:02] Kantis commented on #2891
Is the global object approach safe for parallelism?

[2022-04-21 22:34] Kantis commented on #2915
Feels related to #2884

[2022-04-22 05:27] #2906 closed, assigned to nobody

[2022-04-22 05:44] lwasyl commented on #2915
Yep, looks like exactly the same issue, thanks for pointing me to it! I'll keep both opened just in case though, as both have clear repros that can be verified.

[2022-04-22 05:46] lwasyl commented on #2884
This is still an issue

[2022-04-22 11:34] Jolanrensen opened #2934 "NoSuchMethod using Kotest JVM Maven"
Using Kotest 5.2.3 and the dependency:

[code]

I get `NoSuchMethod 'kotlin.coroutines.CoroutineContext$Element io.kotest.assertions.jvmerrorcollector.getErrorCollectorContextElement()'` when attempting to run a test.

I fixed it by explicitly adding
[code]

[2022-04-22 12:04] nor-ek commented on #2928
PR: https://github.com/kotest/kotest/pull/2935

[2022-04-22 15:48] unluckyjung opened #2936 "Equivalence comparison related functions operate abnormally (with shouldBeEqualToComparingFields)"
**Which version of Kotest are you using**

There are problems with `shouldBeEqualToComparingFields` and `shouldBeEqualToUsingFields`

Problems occur when used with an immutable list.

## Case1

[code]

kotlin.reflect.full.IllegalCallableAccessException: java.lang.IllegalAccessException: class kotlin.reflect.jvm.internal.calls.CallerImpl$Method cannot access a member of class java.util.Arrays$Array

[2022-04-22 18:26] muellerml commented on #2891
You are probably right that it would lead to problems with Kotlin/Native implementations/usages. I also receive the warning "With old Native GC, variable in singleton without @ThreadLocal can't be changed after initialization" from Kotlin plugin in IntelliJ.

Thanks for the hint, but now I have no idea how my initial issue would be solvable with the current structure of kotest.

[2022-04-22 19:57] lgtout commented on #2797
@sksamuel @ghasemdev
Is a change to Kotest necessary?
After all, this has the same effect:
(Using StringSpec)
[code]

[2022-04-22 20:55] Kantis commented on #2908
Version selection has been added to kotest.io docs ✌🏼

[2022-04-22 21:05] Kantis commented on #2934
Could you share your `mvn dependency:tree`? It feels like something else is pulling in another Kotest version.

[2022-04-23 21:33] Kantis commented on #2891
@muellerml a lot of project-wide/global configuration is performed using [AbstractProjectConfig](https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/config/AbstractProjectConfig.kt). Perhaps it can be extended with config for eventually?

[2022-04-24 11:47] Kantis opened #2937 "Support automatic binding of Enums"
It would be nice if the property framework automatically bound enum types when generating arbs for data classes. Currently we have to manually provide the enum arb.

This gets very tedious with large structures containing many enums. :)

## Current
[code]

## Desired
[code]

[2022-04-24 21:36] jkasten2 commented on #1760
Looks like the documentation is public here:
https://github.com/kotest/kotest/blob/master/documentation/docs/framework/concurrency.md

Don't see a "Concurrency" section on the page. (would expect it since it is in the docs/framework directory in github)
https://kotest.io/docs/framework/framework.html

Was "ConcurrencyMode" dropped and become something else?
I tired using "kotest.framework.concurre

[2022-04-25 01:19] sksamuel commented on #2937
Yep seems like an oversight to not include that.

[2022-04-25 02:36] sksamuel commented on #1760
@jkasten2 I think this is more up to date https://kotest.io/docs/framework/concurrency.html

[2022-04-25 02:45] sksamuel commented on #2891
Eventually is part of the assertions module, and project config is only for the test framework.

It might be nice to have options in project config that eventually could _optionally_ look at though.

[2022-04-25 02:46] sksamuel commented on #2914
Using those links you provided, we should be able to make captureStandardOut multiplatform.

[2022-04-25 02:48] #2908 closed, assigned to nobody

[2022-04-25 02:57] jkasten2 commented on #1760
@sksamuel Thanks for the quick response, it looks like https://kotest.io/docs/framework/concurrency.html is just the same as https://github.com/kotest/kotest/blob/master/documentation/docs/framework/concurrency.md (as probably expected). It notes `"kotest.framework.concurrency.mode"` for this setting as well, but it doesn't have any effect. Also don't see the `concurrencyMode` option anywhere eith

[2022-04-25 11:44] Jolanrensen commented on #2934
[code]

Thanks! I think it's org.jetbrains.kotlinx:kotlin-jupyter-test-kit:jar:0.11.0-76:test indeed :) I need that library too, so is there anything else I can do instead of just explicitly adding  kotest-assertions-shared-jvm?

Edit: So I moved the jupyter library to the bottom of the depencencies in the maven file and that seems to fix it. Apparently the order matters. You learn something new e

[2022-04-25 15:16] Kantis commented on #2934
Suppose we can close this then? 🙂

[2022-04-25 15:19] Jolanrensen commented on #2934
yup! thanks!

[2022-04-25 15:19] #2934 closed, assigned to nobody

[2022-04-27 13:50] theHacker opened #5418 "KotlinIdeaResolutionException"
For a while (could be since upgrading to stable IntelliJ 2022.1) IntelliJ stops syntax highlighting because of an exception in Kotest.
"Syntax highlighting has been temporarily turned off in file xxxx.kt because of an internal error"

Stacktrace:
[code]

Kotest plugin: 1.1.50-IC-221-EAP-SNAPSHOT
IntelliJ: #IU-221.5080.210, built on April 12, 2022

[2022-04-28 09:10] #2824 closed, assigned to nobody

[2022-04-28 09:10] #2877 closed, assigned to nobody

[2022-04-28 10:26] Avvessalom commented on #5420
still actual

[2022-04-28 16:31] nlochschmidt opened #2940 "Add shouldBeSortedBy matcher"
Maybe I missed it, but I can't find a quick way to check if a list of things is sorted according to one of the fields of the objects in the list

[code]

[2022-04-28 16:32] nlochschmidt commented on #2940
A clunky way to do it is

[code]

[2022-04-28 17:24] mjsztainbok opened #2941 "AbstractProjectConfig is missing displayFullTestPath"
**Which version of Kotest are you using** 5.2.3

`ProjectConfiguration` had a property added to it called `displayFullTestPath` recently. This property was not added to `AbstractProjectConfig` though so it can't be set using that.

[2022-04-28 21:08] Kantis opened #2942 "Create a SLF4J-compatible logging extension, which can be used to sniff logs"
[code]

Do you think it's worth adding as an extension (`kotest-extensions-logging`?)?

[2022-04-28 21:12] jschneidereit commented on #2942
There's [built in logging](https://github.com/kotest/kotest/blob/master/documentation/docs/framework/logging.md), all one needs to do is implement a `LogExtension` and wire it up to their chosen logging framework.

Edit: after re-reading the original comment, perhaps I don't understand

[2022-04-28 21:45] Kantis commented on #2942
@jschneidereit i meant to monitor the logs of the production code. :)

for instance:

[code]

test:
[code]

[2022-04-28 22:04] jschneidereit commented on #2942
Oh that's pretty cool 😎

[2022-04-29 02:32] sksamuel commented on #2942
I think this would be awesome.

On Thu, 28 Apr 2022 at 17:04, Jim Schneidereit ***@***.***>
wrote:

[2022-04-29 06:33] #2937 closed, assigned to nobody

[2022-04-29 21:23] Kantis commented on #2942
This turned out to be tedious as hell.

SLF4J didn't provide any ways of intercepting logs. I tried writing a new SLF4J implementation which would record the logs, but realized later that it will clash with whatever other logging implementation is present on the classpath..

I think the most pragmatic way forward would be to limit this to adding support for Logback for now (seems to be widely used

[2022-04-29 22:00] jmfayard opened #2945 "largeString shouldMatchFile "workflow.yaml""
**Please describe the feature you'd like to see including any solutions in mind if you have any**

To compare very large strings, it's easier to write the expected content in a separate file.

https://github.com/krzema12/github-actions-kotlin-dsl/blob/6fc0b3f279ee7372e084545245a08d9e51f36317/library/src/test/kotlin/it/krzeminski/githubactions/IntegrationTest.kt#L25-L39

[code]

When the test fails

[2022-04-30 10:32] sksamuel commented on #2945
Hi. I'm not sure what you're asking for :)
Are you suggesting we add a "string" shouldBe file matcher?

[2022-04-30 11:10] #2940 closed, assigned to nobody

[2022-04-30 12:19] jmfayard commented on #2945
Yes that was the suggestion :)

[2022-04-30 17:22] sksamuel commented on #2915
This seems to only be with instancePerLeaf

[2022-04-30 17:27] sksamuel commented on #2884
This is the smallest failing case I can make.

[code]

[2022-04-30 17:40] #2898 closed, assigned to nobody

[2022-04-30 17:42] #2929 closed, assigned to nobody

[2022-04-30 18:07] sksamuel commented on #2792
You should just be able to put your after code literally after the test blocks inside the same container, so like for before.

[2022-04-30 18:11] sksamuel commented on #2891
What about allowing eventually to be configured via a data class.

`eventually(options) { }`

A tiny bit more work than just `eventually { }` that uses global options, but allows multiple configurations per project, and avoids any memory race conditions.

[2022-04-30 18:13] sksamuel commented on #2941
Fixed in master, ready for 5.3 release.

[2022-04-30 18:13] #2941 closed, assigned to nobody

[2022-04-30 19:06] #2884 closed, assigned to nobody

[2022-04-30 19:07] sksamuel commented on #2915
Fixed in master.

[2022-04-30 19:16] sksamuel commented on #2878
@BorzdeG I have played with your repo and I don't understand.
The same test in kotest shows the red build. Inside your repo it's green.
The versions are identical and the code is the same.

[2022-04-30 19:17] sksamuel commented on #2905
@LeoColman you used mockk a lot, do you know if it needs some setting to work properly when in parallel ?

[2022-04-30 19:19] sksamuel commented on #2913
Are you using Pitest with junit5 and kotest mixed ?

[2022-04-30 19:25] sksamuel commented on #2901
Hmmm that might be nicer.
We do it so it's obvious when you have this:

`"1" shouldBe 1`

and it fails, you get

[code]

![image](https://user-images.githubusercontent.com/743706/166119853-5c90d4fb-c26a-4640-9be2-70a3144ee692.png)

[2022-04-30 19:35] ffeltrinelli commented on #2913
Yes, I'm using the [standard JVM/Maven setup](https://kotest.io/docs/quickstart#test-framework), with `maven-surefire-plugin` and `kotest-runner-junit5-jvm`, in which Kotest uses Junit5 as runner.

[2022-04-30 19:37] LeoColman commented on #2905
Usually when mockk starts being an issue I disable everything else. I try to keep mocking to the least I can.

What I would try to do first is to set the isolation mode to InstancePerTest, if it's not already that way

[2022-04-30 19:38] sksamuel commented on #2901
Without it, intellij gets confused and does this:

![image](https://user-images.githubusercontent.com/743706/166120251-452f6064-a44a-4e5c-9448-8420f69b3952.png)

[2022-04-30 19:39] sksamuel commented on #2913
Right, but are you using JUnit tests in addition to Kotest tests ?
Because Pitest shouldn't be sending over the uniqueId with an engine selector of Kotest as that's not supported. I don't know where org.pitest.junit5.JUnit5TestUnit is coming into play ?

[2022-04-30 19:44] ffeltrinelli commented on #2913
Pitest is running with the [pitest-junit5-plugin](https://github.com/pitest/pitest-junit5-plugin) Maven plugin.
I don't have Junit5 tests, only Kotest tests.
My understanding is that Junit5 is used as the underlying runner both from the point of view of Kotest and Pitest.

[2022-04-30 19:51] sksamuel commented on #2913
Junit 5 is both a platform and a test engine.

Can you try the kotest pitest extension and not the junit one?

On Sat, Apr 30, 2022, 2:44 PM Francesco Feltrinelli <
***@***.***> wrote:

[2022-04-30 20:18] ffeltrinelli commented on #2913
I guess you are referring to this one: https://kotest.io/docs/extensions/pitest.html .
Thanks, I wasn't aware of it!

Looking at its docs, I'm having some difficulties to understand how to set it up with Maven.

As regards all the Pitest configurations, should I keep using the [Maven Pitest plugin](https://pitest.org/quickstart/maven/) (but without pitest-junit5-plugin), like this:

[code]

and th

[2022-04-30 20:22] sksamuel commented on #2739
There's SharedTestContainerExtension in the latest kotest test containers which will probably do what you want @tibtof

[2022-04-30 20:24] sksamuel commented on #2914
The native implementation looks completed.

[2022-04-30 20:24] sksamuel commented on #2942
What about just saying this was a good idea that didn't work out :)

[2022-04-30 20:27] sksamuel commented on #2797
What is `runTest` in this case ? @lgtout

[2022-04-30 20:28] #2942 closed, assigned to nobody

[2022-04-30 20:30] sksamuel commented on #2913
That seems about right, just add the kotest pitest extension as a normal test dependency and configure it in kotest.

[2022-04-30 20:38] lgtout commented on #2797
@sksamuel It's [this](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-test/kotlinx.coroutines.test/run-test.html) - provides virtual time when testing coroutines.

[2022-04-30 20:47] ffeltrinelli commented on #2913
Ok thanks a lot! I'll try it and report back here.

[2022-04-30 21:15] #2773 closed, assigned to nobody

[2022-04-30 22:15] #2797 closed, assigned to nobody

[2022-05-01 02:30] sksamuel commented on #5418
Looks like some error in kapt triggering some IllegalStateException in kotest.

[2022-05-01 02:32] sksamuel opened #5417 "Test resolution should trim test names"
![image](https://user-images.githubusercontent.com/743706/166129670-49e0b439-13fc-4c9b-8f32-2eeb7d3172ad.png)

[2022-05-01 07:34] aSemy opened #2952 "Property based testing an application using OpenAPI specs"
I've used [Schemathesis](https://github.com/schemathesis/schemathesis/) to test a server using an OpenAPI spec before, to great effect.

In short, Schemathesis parses an OpenAPI spec and randomly generates HTTP requests. It validates that the responses match those described in the OpenAPI spec.

I'd like a Kotlin based version!

#### Benefits

The benefits of using OpenAPI to generate tests are
*

[2022-05-01 08:56] jmfayard opened #2953 "Suggestion for kotest-assertions-json"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

Hello !

`json.shouldEqualJson(other)` is great, but often some keys (typically an ID or a date) have values that I can't predict, neither do I really care.

I could do a bunch of `json.shouldContainJsonKey(jsonPath)` instead, but that's not quite as convenient.

I have a proposal that would check th

[2022-05-01 13:24] sksamuel commented on #2953
@Kantis

[2022-05-02 06:43] muellerml commented on #2891
A configuration via data class would definitely improve the situation on our side, although we still would need to ensure that the data class is everywhere used correctly.
However, this might be possible via linting and we could work around the kotest framework constraints that way.

[2022-05-02 11:03] #2817 closed, assigned to Kantis

[2022-05-02 16:15] ffeltrinelli commented on #2913
It works like a charm, thanks! It even reduced the overall Pitest execution time of ~ 3x factor!

By the way, I didn't have to "configure it in kotest", the changes in the Maven pom.xml that I highlighted in my previous comment were enough.

The only drawback is that now I started having a lot of `PIT >> WARNING : Minion exited abnormally due to TIMED_OUT` logs, I didn't have any of these before.

[2022-05-02 19:48] BryanDonovan commented on #2792
Yeah, but I think it's bad practice to put a teardown hook after the code.  It's not obvious that it exists unless you scroll to the bottom.

[2022-05-02 21:01] sksamuel commented on #2792
I guess you could say that about any code :)

[2022-05-02 21:19] BryanDonovan commented on #2792
True, but it's also unconventional :)

[2022-05-02 21:21] sksamuel commented on #2792
Yep, that I agree with.

[2022-05-03 05:51] BorzdeG commented on #2878
The problem seems to be in how the test report is generated: `build/test-results/test/TEST-demo.DemoTest.xml`

[code]

[2022-05-03 10:49] ffeltrinelli commented on #2913
I raised #2955 to improve the Pitest extension docs for Maven users :-)

[2022-05-03 17:46] #2928 closed, assigned to nor-ek

[2022-05-03 19:04] jtonic commented on #2873
Hi,

I have the same issue with any kotest version greater than `5.1.0` (even the most recent `5.3.0`).
For me the suggestion to use the `implementation("org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.6.0"` didn't work.
The project is indeed a spring boot one... but I do not understand why this happened.
I've tried with kotlinx-coroutines-core-jvm both version 1.6.0 and 1.6.1, without any luc

[2022-05-03 20:22] sksamuel commented on #2873
I would try adding all the coroutine deps manually - so core, sdk8 and test.

[2022-05-03 21:23] Kantis commented on #2945
I typically define a method for reading from the test resources like:
[code]

then your test could simply be:

[code]

If the strings differ by content you will get a link for diffing:

<img width="1524" alt="image" src="https://user-images.githubusercontent.com/316857/166568399-59bd8966-d196-4d7b-a970-972c1f8662bf.png">

Which opens the diff, without having to select files manually.

In which sce

[2022-05-03 21:34] Kantis commented on #2953
@jmfayard JSON schema assertions were added in 5.3.0, hopefully they would solve this need? For instance, your schema could be tested by:

[code]

Sam also suggested an improvement to the DSL that could shorten it to:

[code]

What do you think about this?

IMO it's nice that it is clear what  is required, if additional props should cause failure, enforced formats (very flexible thanks to matcher

[2022-05-04 06:58] jmfayard commented on #2945
@Kantis `readResource` is nice ; when I use IntelliJ diffing tool, I do not only _see_ the diff, I can also directly _edit_ the expected file, accepting or rejecting chunks of the diff. For large files that's quite convenient.
<img width="1585" alt="github-actions-kotlin-dsl_–_DockerImage_kt" src="https://user-images.githubusercontent.com/459464/166634892-0c492fa7-f6d5-4194-aea3-13a302d5bf58.png">

[2022-05-04 07:01] jmfayard commented on #2953
@Kantis indeed that's very nice and I like the shorter version. That solves my issue

[2022-05-04 21:02] Kantis commented on #2953
awesome! 😄 I think the shorthand syntax will be available soon.

[2022-05-04 21:02] #2953 closed, assigned to nobody

[2022-05-04 21:06] Kantis commented on #2945
Ah.. gotcha! That's pretty neat. Could we somehow maybe have `str shouldMatchResource("/integration/workflow.yaml")`  w/o any setup (always assume from test resources) and if that particular assertion fails, write `str` to a temp file and somehow make it easy to diff? Would be awesome with a link from the console. Perhaps doable with the IntelliJ plugin somehow?

[2022-05-06 14:54] obecker opened #2959 "Inconsistent lifecycle hooks"
I'm using kotest 5.3.0

While understanding the available lifecycle hooks I experienced same unexpected behavior, which I believe should be fixed/improved.

Consider this example:
[code]

Running this test prints
[code]

1. Apparently `afterSpec` is called, but `beforeSpec` is not. I have seen the discussion in https://github.com/kotest/kotest/issues/2792, so I'm not sure if the pair `beforeSpec`/

[2022-05-06 15:35] WToon opened #2960 "Incompatibility with Kotlin-1.7.0-Beta"
Using the latest version of Kotest (5.3.0) and the Kotlin 1.7.0-Beta, I am encountering the following error:

[code]

The full stacktrace is attached.

[stacktrace.txt](https://github.com/kotest/kotest/files/8641823/stacktrace.txt)

[2022-05-06 15:36] sksamuel commented on #2960
Sounds like they've changed the time stuff again.

[2022-05-06 15:37] sksamuel commented on #2960
We'll prob need to wait for 1.7 final and then cut a 5.4 release that targets that.

[2022-05-06 15:39] sksamuel commented on #2959
Some good observations thank you.
1.I think beforeSpec should be forbidden inside any context, as the spec already exists at that point so makes no sense.
2. I think the beforeContainer semantics are that they are called on nested containers inside that container. We should clarify this. If what you want is just some code to run inside _that_ container, then just have code there. There some some c

[2022-05-06 16:30] obecker commented on #2959
Thanks for the clarification on `beforeContainer` - makes sense!

[2022-05-06 20:55] Kantis opened #2961 "Add JsonSchema array support for minItems, maxItems"
See reference: https://json-schema.org/understanding-json-schema/reference/array.html#length

It should be possible to define a schema like:

[code]

[2022-05-06 20:58] Kantis opened #2962 "JsonSchema - array contains"
On top of being able to specify item type, which must hold for _every_ item, it should be possible to specify the _contains_ schema, which must hold true for _at least 1_ item by default. It should be possible to specify min/max times the schema may occur using `minContains`, `maxContains`.

See https://json-schema.org/understanding-json-schema/reference/array.html#contains

As part of this, it sh

[2022-05-09 13:37] renatomrcosta commented on #2873
just to add a +1 to the solution, setting the version to the most current (such as 1.6.1) does the trick wonderfully.

[2022-05-09 19:09] #2891 closed, assigned to nobody

[2022-05-10 09:32] nor-ek commented on #2961
can assign me

[2022-05-10 09:42] PHaroZ opened #2964 "shouldBeEqualToComparingFields and recursivity"
Hi,

Since https://github.com/kotest/kotest/pull/2833 `shouldBeEqualToComparingFields` is recursive until a prop come from a packge with a name that starts with `java` or `kotlin`.
I understand that, in some case, this could be an improvment, but in some others this leads to breaking/incompatible changes.

An example :
[code]
Now fails because `org.aComplexObject` is not mocked and the recursive c

[2022-05-10 12:40] veluxer62 opened #2965 "Can't Install Intellij Plugin"
When I intall kotest plugin in Intallij IDEA, there is an error message as below

[code]

<img width="973" alt="image" src="https://user-images.githubusercontent.com/59301541/167629810-0628a449-c948-4d60-9914-d36a0cf4499d.png">

Intellij version: `IntelliJ IDEA 2022.1 (Ultimate Edition)`

[2022-05-10 15:13] kkann-allegro commented on #2965
I managed to install it by downloading the snapshot version from https://plugins.jetbrains.com/plugin/14080-kotest/versions/stable

[2022-05-10 15:14] sksamuel commented on #2965
You can remove the plugin, restart intellij, and then add it and it will
work.
For some reason intellij doesn't always update the plugin when move between
intellij versions.

On Tue, 10 May 2022 at 10:13, Kristian Kann ***@***.***>
wrote:

[2022-05-13 08:10] Kantis commented on #2916
Maybe the plugin can register injection rules. https://www.jetbrains.com/help/idea/using-language-injections.html#configure-injection-rules

[2022-05-13 12:04] aSemy commented on #2916
Yes it looks like a IntelliJ plugin can do it. See [this question](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206103549--Custom-Language-Provide-custom-Language-Injections-via-plugin), which links to [these](https://github.com/JetBrains/intellij-community/blob/master/plugins/groovy/src/META-INF/intellilang-groovy-support.xml#L7) [examples](https://github.com/JetBrains/intellij

[2022-05-14 02:51] sksamuel opened #2966 "Property test assumptions"
Inspired by https://jqwik.net/docs/current/user-guide.html#assumptions

[2022-05-14 03:15] sksamuel opened #2967 "Property testing - re use failed seed automatically"
Inspired by https://jqwik.net/docs/current/user-guide.html#rerunning-falsified-properties

[2022-05-14 05:02] myuwono commented on #2654
@sksamuel sorry i didn't know you tagged me here! might have missed your ping before..

Q: for each of the action, would it be possible for users to summon a random value from an arb? As in

[code]

[2022-05-14 17:15] Kantis opened #2969 "Support automatic binding of value classes"
See #2937

Should be possible to automatically derive an Arb for a value class if it is possible to generate the wrapped value.

[2022-05-15 13:26] Kantis opened #2971 "`shouldBe` fails for byte arrays wrapped in data classes"
The following example fails. Not sure if this is intended?

[code]

Comparing the byte arrays directly works:
[code]

[2022-05-15 13:31] sksamuel commented on #2971
I think it's because equals in data classes don't use deep equals for
arrays.

On Sun, May 15, 2022, 8:26 AM Emil Kantis ***@***.***> wrote:

[2022-05-15 13:41] Kantis commented on #2971
Would it be fine to add?

[2022-05-15 14:04] sksamuel commented on #2971
We'd have to custom handle all data classes via reflection. Seems a big
breaking change.

On Sun, May 15, 2022, 8:41 AM Emil Kantis ***@***.***> wrote:

[2022-05-15 20:16] sksamuel commented on #2654
Good feedback, so I've updated my playground to this:

[code]

Which I could turn in a PR if we like it.

[2022-05-15 20:35] sksamuel commented on #2654
I've opened a PR as a starting point.

[2022-05-16 15:36] agile-jordi opened #2973 "Property based testing edge cases are not shrinked"
**Example scenario:**

1. A function takes an argument of type `Filters`:
[code]

2. We are using property based testing to test it. The `Arb<Filters>` is generated with `bind` from several other `Arb` instances (i.e. `Arb<Instant?>`, `Arb<Money?>`, `Arb<Set<Tag>?>`, etc.). Each of these base `Arb` instances shrink to null (and may shrink to other values).
3. There is a bug in the implementation o

[2022-05-16 16:41] jandryml commented on #2960
I had the same issue with Kotest (5.3.0), but with Kotlin version 1.6.21 also I was using kotlinx-datetime on version 0.3.3. Downgrade of kotlinx-datetime to 0.3.2 solved it for me.

[2022-05-16 16:54] myuwono commented on #2973
I see.. yeah if edgecase returns sample then I believe we definitely can address this issue. I wonder if we do that will that be a deprecation cycle, wdyt @sksamuel I wonder if there's another alternative?

[2022-05-16 20:50] nor-ek commented on #2961
@Kantis PR https://github.com/kotest/kotest/pull/2974

I noticed such information in `schema.md`
[code]
Can I work on them?

[2022-05-17 06:08] Kantis commented on #2961
Sure! Please split into smaller tasks,  raise an issue and write something short about how you're thinking to proceed and we can take it from there? 😃 thanks for helping out! 🙌

[2022-05-17 06:46] agile-jordi opened #2976 "Property based testing: Make Arb.orNull() be able to shrink to null (automatically)"
Property based testing shrinking in Kotest is really interesting to get simplified examples when we find a fail in our tests. Acording to the documentation, base `Arb` instances, like `Arb.string`, `Arb.int`, etc. already have shrinking implemented but you must provide shrinking explicitly for custom `Arb`s.

Interestingly enough, `bind` family of functions already provide a nice default shrinking

[2022-05-17 07:48] nor-ek opened #2977 "Add JsonSchema array support for contains"
According to task comment https://github.com/kotest/kotest/issues/2961#issuecomment-1128122006 it should be possible to do
[code]
- https://json-schema.org/understanding-json-schema/reference/array.html#contains

[2022-05-17 07:50] nor-ek opened #2978 "Add JsonSchema array support for maxContains, minContains"
According to task comment https://github.com/kotest/kotest/issues/2961#issuecomment-1128122006 it should be possible to do
[code]
- https://json-schema.org/understanding-json-schema/reference/array.html#mincontains-maxcontains

[2022-05-17 07:51] nor-ek opened #2979 "Add JsonSchema array support for unique"
According to task comment https://github.com/kotest/kotest/issues/2961#issuecomment-1128122006 it should be possible to do
[code]
- https://json-schema.org/understanding-json-schema/reference/array.html#uniqueness

[2022-05-17 07:53] nor-ek commented on #2961
Done:
- https://github.com/kotest/kotest/issues/2979
- https://github.com/kotest/kotest/issues/2978
- https://github.com/kotest/kotest/issues/2977
- https://github.com/kotest/kotest/issues/2980 - not sure about this example if it's fine

[2022-05-17 07:56] nor-ek opened #2980 "Add JsonSchema array support for prefixItems"
According to task comment https://github.com/kotest/kotest/issues/2961#issuecomment-1128122006 it should be possible to do
[code]
- https://json-schema.org/understanding-json-schema/reference/array.html#tuple-validation

[2022-05-17 13:53] leeyohan93 opened #2981 "Excluded when the escape character is used in the `DescribeSpec`"
[code]

When I used the escape character in the test, I had the experience of being excluded from execution. The example code below is a sample. Circle Symbols are at each execution point.
🟢  : run
⚪  : excluded

[code]

[2022-05-17 18:16] Kantis commented on #2979
We have a `beUnique()` matcher for Collections. Perhaps that could be used to delegate a bit? We use matchers  a bit for other Json primitives already

[2022-05-17 18:20] nor-ek commented on #2979
Could you show me an example? Btw. you can assign me.

[2022-05-17 18:25] Kantis commented on #2978
We need to make it possible to build a `JsonSchemaElement`. I'm thinking something like:

[code]

then you could do:

[code]

[2022-05-17 18:29] Kantis commented on #2979
Here you can see usage with matchers:

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-json/src/jvmTest/kotlin/io/kotest/assertions/json/schema/SchemaWithMatcherTest.kt#L34

And validation:

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-json/src/commonMain/kotlin/io/kotest/assertions/json/schema/matchSchema.kt#L137

It's perhaps n

[2022-05-17 18:39] nor-ek commented on #2979
@Kantis So you suggest it should work like:
[code]

As I quickly checked it there is problem because `beUnique` returns `Matcher<Sequence<T>> ` instead of `Matcher<String>` .

[2022-05-17 18:44] Kantis commented on #2979
no I was thinking exactly what you wrote originally:

[code]

but that this could be implemented as:

[code]

But it introduces some additional work, since you would have to rework parsing of the Json Arrays.. Perhaps that's inevitable though, as we keep adding stuff for arrays..

[2022-05-18 04:14] CXwudi opened #5416 "Support running on non-local envrionment"
Hi,

Thanks for maintaining this convience plugin. It would be great if I can configure the run configuration to let a particular kotest run in docker or WSL2, similar to how Junit test in Intellij can be ran in docker or WSL2 as shown below
![image](https://user-images.githubusercontent.com/17377423/168955518-75ab4a5b-5113-48ea-8ff1-73bd4f24ed91.png)

[2022-05-18 05:21] sksamuel commented on #5416
Is this an intellij screenshot ?

On Tue, 17 May 2022 at 23:14, CXwudi ***@***.***> wrote:

[2022-05-18 06:04] CXwudi commented on #5416
Yes, I think this functionality appears since a 2021 version intellij

[2022-05-18 08:39] i-walker opened #5415 "Test Run Button isn't working in commonTest directory"
current IJ Community version:
2022.1.1

Kotest Plugin version:
[1.1.50-IC-221-EAP-SNAPSHOT](https://plugins.jetbrains.com/plugin/14080-kotest/versions/stable/164577)

Kotest version:
5.3.0

I can't run the Debug or Run Button and no actions are run.
<img width="487" alt="Screenshot 2022-05-18 at 10 36 29" src="https://user-images.githubusercontent.com/46971368/168995924-d51629a0-524a-49ae-a373-798

[2022-05-18 10:56] jlous opened #2983 "catchThrowable or similar"
I miss the "catchThrowable" feature in assertJ.

I like to keep a uniform "prepare, act, assert"-structure to my test code.
KoTest forces me to assert before I act when dealing with exceptions.

I would like to do something like this:
[code]

Aside from aesthetics, a nullable return value would also be extremely useful for evaluating both failing and successful cases with the same code, such as in

[2022-05-18 11:41] Kantis commented on #2983
You can use `shouldThrowAny` or `shouldThrow<T>` for this?

[2022-05-18 12:47] jlous commented on #2983
As implied in my post, there are two problems with those:
- They fail unconditionally if no exception is thrown, which limits utilty in some types of testing
- They require me to assert while or before I act, which is not my preferred style and IMO limits readability

[2022-05-18 18:22] i-walker commented on #5415
Oh I think it's because I am running the Button on `commonTest`

[2022-05-19 07:52] WToon commented on #2960
I tried the following to force version 0.3.2:
`
    implementation("org.jetbrains.kotlinx:kotlinx-datetime:0.3.2"){
        force = true
    }
`
but I get the same error.

[2022-05-19 08:38] ashishkujoy commented on #2983
Not sure if for that case we should add a function in kotest. Above usecase can be achieve using runCatching from kotlin std library.

[code]

[2022-05-19 08:57] myuwono commented on #2983
+1 to @ashishkujoy 's approach too if that's the style you'd prefer @jlous. Just another data point that there are matchers on `Result<T>` as well, so you can leverage that.
[code]
the matcher above also return `MyException` type when the assertion succeeds in case you want to continue with more sophisticated assertions on the exception.

[2022-05-19 10:13] jlous commented on #2983
Thanks, I didn't know about runCatching. That is exactly what I want.
Closing.

[2022-05-19 10:13] #2983 closed, assigned to nobody

[2022-05-19 18:16] jtonic commented on #5418
Hi,

Recently I started to stumble upon this issue.

IntelliJ IDEA 2022.1.1 (Ultimate Edition)
Build #IU-221.5591.52, built on May 10, 2022
Runtime version: 11.0.14.1+1-b2043.45 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 12.3.1

**kotest-plugin-intellij** (1.1.50-IC-221-EAP-SNAPSHOT)

**Kotlin**: 221-1.6.21-release-337-IJ5591.52

[2022-05-20 07:04] moikarin opened #2988 "afterEach does not run if callbacks are not defined first in a DescribeSpec"
**Which version of Kotest are you using**
io.kotest:kotest-runner-junit5:5.3.0
io.kotest:kotest-assertions-core:5.3.0

Documentation states that: "Note that the order of the callbacks in the file is not important."
https://kotest.io/docs/framework/writing-tests.html

However, this example does NOT run afterEach:

[code]

Expected output:
[code]
Actual output:
[code]

If you define the lifecycle ca

[2022-05-21 03:38] myuwono commented on #2976
resolved in #2975

[2022-05-21 03:38] #2976 closed, assigned to agile-jordi

[2022-05-21 11:25] nor-ek commented on #2979
PR https://github.com/kotest/kotest/pull/2987

[2022-05-21 17:43] nor-ek commented on #2977
@Kantis How it should behave in such example?
[code]

Reason why I'm asking is because now we have two `elementTypes` one from containSpec and second one from `expected/ JsonArray`.
I see two possibilities:
1. Respect `contains.elementType` rules if `ContainsSpec` its not null and don't look on `JsonArray.elementType`
2. Make `JsonArray.elementType` nullable and allow only one elementType

I would

[2022-05-21 18:40] sksamuel opened #2990 "Updated to Kotlin 1.7"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2022-05-22 00:32] JavierSegoviaCordoba opened #2992 "Gradle assertions for plugin authors"
Some samples:

- Task outcome
  - `Result.hasSuccessOutcome()`
  - `Result.hasFromCacheOutcome()`
  - `TaskOutcome.shouldBeSuccess()`
  - `TaskOutcome.shouldBeFromCache()`
  - and so on
- Result output
   - `Result.shouldBeConfigurationCacheCompatible()`

[2022-05-22 01:05] myuwono opened #2993 "unrestricted `suspendArbitraryBuilder` throws when there were suspend functions within the builder lambda"
**Which version of Kotest are you using**
5.3.0

## Context
A while back we introduced support to non-restricted suspend function to the arbitrary builders for building arbitraries. Unfortunately, the suspend arbitrary builder throws when there were suspend functions within the builder lambda. For instance this function fails:
[code]
This is because the suspensions were called from a blocking cont

[2022-05-22 16:35] sherviiin commented on #2927
PR [#2994](https://github.com/kotest/kotest/pull/2994)

[2022-05-22 18:28] #2927 closed, assigned to nobody

[2022-05-22 18:32] LeoColman commented on #2992
Maybe this could be a different module, like we have for Ktor assertions https://github.com/kotest/kotest-assertions-ktor

[2022-05-22 19:32] JavierSegoviaCordoba commented on #2992
@LeoColman exactly, it is too specific to be added to the core assertions module.

[2022-05-22 20:22] sksamuel commented on #2960
Once 1.7 final is out we will release.
See https://github.com/kotest/kotest/issues/2990

[2022-05-22 20:29] sksamuel commented on #2973
Do we want to shrink edge cases? It doesn't really fit with the terminology in my opinion, since they meant to be corner cases you might miss. Here are you really looking for "arbs that cover lots of areas and I want them shrunk?" Like, for ints, we have say zero, positive and negative infinity, minus 1 and plus 1. Do we want to shrink positive infinity? If so, then what you're really looking for

[2022-05-23 01:52] #2967 closed, assigned to nobody

[2022-05-23 08:34] agile-jordi commented on #2973
I understand, but I think I may have not made myself clear about the actual need.
I'm not actually concerned about shrinking edge cases in my final Arb, the one I use for testing. I just need my Arbs to always shrink value, even if some Arb I used to build them (with Arb.bind) has edge cases.

Let's say I build an Arb using bind over a couple of other Arbs. I don't even inform of any edgecases of

[2022-05-23 17:26] sherviiin opened #2996 "KotestExtensionContextTest"
Tests in KotestExtensionContextTest are commented out. Is there a specific reason for not rewriting (or deleting) them?
I would like to take care of it.

[2022-05-23 18:16] sksamuel commented on #2996
I think this was for compatibility with JUnit5 rules. Feel free to fix / expand etc.

[2022-05-23 20:08] enolive opened #2997 "Collecting statistics of property tests just like in jqwik or quickcheck"
As of 5.3, Kotest has some nice features for analysing the test case distribution of the used arbitraries, namely

- Auto Classifiers for many of its arbitraries that report the statistics for their input values (when `PropTestConfig::outputClassifications` is enabled)
- `checkCoverage` combined with `classify` to test the value distribution of an arbitrary
- anything else I might be missing? Curr

[2022-05-23 22:47] Kantis opened #2999 "add renovatebot"
https://github.com/apps/renovate

I can't do it, think it's locked to admins @sksamuel :)

[2022-05-23 23:19] sksamuel commented on #2999
Try now !

On Mon, May 23, 2022, 5:47 PM Emil Kantis ***@***.***> wrote:

[2022-05-24 02:31] Kantis commented on #2999
Working now! 🎉

[2022-05-24 02:31] #2999 closed, assigned to nobody

[2022-05-24 03:10] renovate[bot] opened #5414 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/kotest/kotest).

## Deprecations / Replacements

The following dependencies are either deprecated or have replacements available.

| Datasource | Pa

[2022-05-24 08:19] sandra-thieme opened #5413 "Respect `Run Tests Using` setting"
I have Intellij configured to run tests with gradle (`Settings > Build, Execution, Deployment > Build Tools > Gradle > Run Tests Using`).

It seems like this setting is not yet picked up by the kotest plugin. I've checked the Kotest run configurations, but it doesn't look like I can do anything with gradle there. Some of our tests can now not be run in the IDE because they rely on configuration in

[2022-05-24 11:53] soidisant opened #3012 "typo in Conditional tests with annotations doc"
https://kotest.io/docs/framework/conditional/spec-annotations-conditional-evaluation.html

"If we with to simply disable a spec " instead of if we wish to

:)

[2022-05-24 19:15] sherviiin commented on #2996
Pull request #3014

[2022-05-25 10:21] theHacker opened #5412 "Support for 2022.2 EAP"
IntelliJ started a new EAP for 2022.2.
Build number: #IU-222.2270.31

Could you make a build for the new version please?
Thank you! 😀

[2022-05-27 13:52] tibtof commented on #2739
@sksamuel thanks for the suggestion, `SharedTestContainerExtension` was exactly what I needed, but not enough for all cases. I also had some embedded servers that were not test containers. Thus I adapted `SharedTestContainerExtension` this way:
[code]

here's an example usage:
[code]

and in the test itself:
[code]

I'm happy with this solution, now when I run just the unit tests the testcontainer

[2022-05-27 14:08] Kantis commented on #2971
I agree, big breaking change. Would it be wrong to consider them equal though?

Perhaps we could make it possible to opt-out from the deep equals handling..

[2022-05-28 04:22] charleskorn opened #3022 "`AssertionMode` incorrectly considers test to have no assertions if it launches coroutines that make assertions from other threads"
**Which version of Kotest are you using**
v5.3.0

Example test:

[code]

This test fails with the following error when run on the JVM, even though an assertion is made in the test:

[code]

[2022-05-28 04:23] charleskorn commented on #3022
From discussion on Slack: https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1653346298893609

[2022-05-28 05:08] #2996 closed, assigned to nobody

[2022-05-28 07:20] thegrxp opened #3023 "In a coroutine the code after a delay() is never called"
**Which version of Kotest are you using**
5.3.0

In a coroutine the code after a delay() is never called.
[code]

[2022-05-28 07:32] thegrxp commented on #3023
Without dispatcher it can't work...

[2022-05-28 07:32] #3023 closed, assigned to nobody

[2022-05-28 19:02] #5412 closed, assigned to nobody

[2022-05-29 07:54] znwabudike opened #3025 "Android project - PluginException: The default implementation of method 'getId' is deprecated, you need to override it in 'class io.kotlintest.plugin.intellij.KotlinTestConfigurationFactory'.PluginException: The default implementation of method 'getId' is deprecated, you need to override it in 'class io.kotlintest.plugin.intellij.KotlinTestConfigurationFactory'."
**Problem:** Plugin fails when IDE opens and selecting items out of the project tree
**Version** IntelliJ Ultimate 2022.1.1
**Reproduction:** Load Android project in IDE.  I have not created a self-contained example, sorry :/
**Stacktrace:**
[code]

[2022-05-31 01:09] sksamuel commented on #2993
If we take option 3 and instead of adding suspend to edgecases and sample, we introduce new suspendable versions, deprecate the originals, and have the new ones point to the old ones by default. Then we could implement bind as easily as this perhaps?

[code]

[2022-05-31 11:36] nor-ek commented on #2977
@Kantis PR: https://github.com/kotest/kotest/pull/3026. By the way you can assign me.

[2022-05-31 17:34] njokipal opened #3027 "`log()` with `KOTEST_DEBUG` breaks execution because of hard-coded, non-existing log file"
**Which version of Kotest are you using** Version 5.0.2

I'm using version 5.0.2. Logging messages is possible using the `log()` (full path reference of method: `/<gradle cache dir>/io.kotest/kotest-common-jvm/5.0.2/82ca5e911148de83261c956bf591c27f0facc86c/kotest-common-jvm-5.0.2-sources.jar!/commonMain/io/kotest/mpp/logger.kt:28`) method. The method will however not log anything as it uses the `i

[2022-05-31 18:40] andrey-bolduzev opened #3028 "Nesting `When` under `When` in `BehaviorSpec` results in silently ignored tests"
As illustrated in the [sample project](https://github.com/andrey-bolduzev/kotest-when-when/blob/main/src/test/kotlin/demo/DemoTest.kt), doing something along the lines of:

[code]

and the isolation mode set to `IsolationMode.InstancePerLeaf` results in all tests passing without execution.

If the isolation mode is left at the default, the outer `When` is ignored as not containing any tests/leafs,

[2022-05-31 20:20] Kantis commented on #3028
I think we can solve it by adding a `@DslMarker`. I can have a look :)

[2022-05-31 21:21] Kantis commented on #3028
So all spec scopes already have a `@DslMarker` in the form of [@KotestTestScope](https://github.com/kotest/kotest/blob/9fcf94066f462e9337db1e8153f39106edde277e/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/spec/KotestTestScope.kt), see [BehaviorSpecGivenContainerScope](https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-api/src/commonMain/kot

[2022-06-01 00:11] jschneidereit opened #3029 "Spec class annotation enhancements"
- [x]  `@Ignored` should accept an optional reason and log it similar to `enabledIfOrReason`
- [ ]  `@EnabledIf` should accept multiple `EnabledCondition`s
- [ ]  `EnabledCondition` should have an optional reason and should be logged when `enabled` is evaluated and if it is false

[2022-06-01 02:02] sksamuel commented on #3027
This log isn't intended for public use but kotest internally.
In a future release we'll rename it to internalLog so it's clearer.

On Tue, 31 May 2022 at 12:34, Niko Jokipalo ***@***.***>
wrote:

[2022-06-01 05:16] njokipal commented on #3027
Ah, I see. Too bad, I thought I stroke some gold finding that function as I was in need for an engine-managed logger for my test cases. I'll migrate to another implementation then.

[2022-06-01 05:16] #3027 closed, assigned to nobody

[2022-06-01 10:28] sksamuel commented on #3027
This might be what you want https://kotest.io/docs/framework/logging.html

[2022-06-01 13:05] andrey-bolduzev commented on #3028
Interesting. Just looking around other dependencies in a project, any marker annotation annotated with `@DslMarker` I can see uses the default retention (`RUNTIME`).

[2022-06-01 17:23] Kantis opened #3031 "Testcontainers - Attach container logs to test logs"
Possibly specify what log level to print them at, and whether to do it on failure / error / all

[2022-06-02 00:02] AarjavP opened #3032 "Set<Path> comparison no longer works as expected"
[code]
Using `io.kotest:kotest-assertions-core-jvm:5.0.3` this passes.

In version `5.1.0` and onwards, it fails with the message
[code]
(The message is constructed [here](https://github.com/kotest/kotest/blob/v5.3.0/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/eq/IterableEq.kt#L154))
Note that `Path` implements `Iterable<Path>`.
I do not know what the prop

[2022-06-02 03:46] sksamuel commented on #3032
Are you looking for something like `lhs should be equal using .equals rhs` ?

[2022-06-02 04:14] AarjavP commented on #3032
You're right, I could be doing `lhs == rhs shouldBe true` but Ideally I should be using something like `lhs shouldContainExactly rhs` so that kotest can print on the set differences (missing or extra expected elements)
I will try out that function when I get on again but I think it had the same issue.

since `Path` is a jdk type I would like it to work out of the box, but if its not possible or a

[2022-06-02 04:30] sksamuel commented on #3032
I think we should consider adding a `lhr shouldEqual rhs` which just uses .equals.

[2022-06-02 07:22] LimmaPaulus opened #5411 "Slow typing performance on test files"
Hi,

Typing performance suddenly got unusable slow when editing Kotest-files with plugin enabled. I don't know if this was consequence of some unattended version update. I'm using IntelliJ 2021.2.4 and plugin version 1.1.50-IC-2021.2.3.

Related IntelliJ issue with CPU profiler dump:
https://youtrack.jetbrains.com/issue/IDEA-295228

[2022-06-02 22:29] Kantis commented on #3028
I tried it out with every possible retention type, and still no luck.. Maybe something to do with how our stuff is packaged? Ktor also uses `@DslMarker` in a Kotlin multiplatform project and it's working there.. 🤔

[2022-06-04 10:49] jmfayard commented on #2945
Hello yes that would be awesome if the intellij plugin could enable that

Le mer. 4 mai 2022 à 23:06, Emil Kantis ***@***.***> a écrit :

[2022-06-04 12:55] SerVB commented on #2832
Still actual

[2022-06-05 09:17] ashishkujoy commented on #2964
PR added https://github.com/kotest/kotest/pull/3034

[2022-06-05 10:07] Marek00Malik opened #3035 "SystemEnvironmentTestListener - Unable to make field private final java.util.Map java.util.Collections$UnmodifiableMap.m accessible:"
**Which version of Kotest are you using**
KoTest - 5.3

Kotlin - 1.6.20

I'm getting the following error when trying to run this code line in a WordSpec test.

[code]
Error Message:
` Unable to make field private final java.util.Map java.util.Collections$UnmodifiableMap.m accessible: module java.base does not "opens java.util" to unnamed module @309e345f`

This is directly thrown when in SystemEnv

[2022-06-05 14:22] sksamuel commented on #3035
Which version of the jdk ?

On Sun, Jun 5, 2022, 5:07 AM Marek00Malik ***@***.***> wrote:

[2022-06-05 15:19] Marek00Malik commented on #3035
java 17

[2022-06-05 20:24] BryanDonovan commented on #2792
Bump for staleness

[2022-06-06 08:55] sksamuel commented on #3035
Looks like this stopped working in Java16 and there's no way to set the map anymore.

[2022-06-06 12:20] krzema12 commented on #5423
@sksamuel is there still hope?

[2022-06-06 19:17] Marek00Malik commented on #3035
Can someone fix this?

[2022-06-07 00:55] sksamuel commented on #3035
Can't fix the JVM. They've just removed the functionality.
We will prob need to just remove this from Kotest.

On Mon, 6 Jun 2022 at 14:17, Marek00Malik ***@***.***> wrote:

[2022-06-07 02:44] sksamuel commented on #5423
We are actively working on this.
But it won't be Q2.

[2022-06-07 06:35] Kantis commented on #2832
Think this could be a candidate for 6.0 @sksamuel ?

[2022-06-07 10:51] Marek00Malik commented on #3035
this is bad/sad news... :( How can we configure Ktor then after it already started with a container on a random port?

[2022-06-07 10:52] LimmaPaulus commented on #5411
Any comments or similar experiences? Editing test files is pretty much impossible for me currently.

[2022-06-07 16:48] sksamuel commented on #2832
We'd need to see if annotations are available at runtime in JS land. They
might not be.

On Tue, 7 Jun 2022 at 01:35, Emil Kantis ***@***.***> wrote:

[2022-06-07 17:07] wfhartford commented on #5411
I'm experiencing similar issues with IDEA 2022.1.2 and Kotest plugin 1.1.57-IC-2022.1

[2022-06-07 17:10] sksamuel commented on #5411
@LimmaPaulus I don't see the cpu dump in that ticket ?

[2022-06-08 05:26] LimmaPaulus commented on #5411
[IU-212.5712.43_paulus_02.06.2022_10.07.30.zip](https://github.com/kotest/kotest-intellij-plugin/files/8858528/IU-212.5712.43_paulus_02.06.2022_10.07.30.zip)

Here it is. This is a dump got by "Start CPU usage profiling" button.

[2022-06-08 19:07] jesperancinha commented on #2960
Hi, I just came across this same issue @sksamuel . Can you give an estimate as to when this issue might be solved? Thanks!

[2022-06-08 21:05] sksamuel commented on #2960
We'll do a 5.4 build once 1.7 is fully out.

On Wed, 8 Jun 2022 at 14:07, João Filipe Sabino Esperancinha <
***@***.***> wrote:

[2022-06-08 21:09] ismarslomic commented on #2960
I'm also facing this issue with kotest `v5.3.0` and kotlin `v1.7.0` (which is available as we speak)

[2022-06-08 21:11] sksamuel commented on #2960
1.7 just got released a few hours ago but we'll wait for the official blog
post.
Then we can upgrade kotest and make sure it compiles and then release 5.4

On Wed, 8 Jun 2022 at 16:09, Ismar Slomic ***@***.***> wrote:

[2022-06-08 23:35] ksletmoe opened #5410 "Kotest plugin 1.1.57-IC-2022.1 appears to be broken on IntelliJ 2022.1"
I've observed this issue in both IntelliJ Professional and Community Edition. If I try to edit or create a Kotest Run Configuration, I get the following error (demonstrated here on a completely empty project, but the same happens on a project with Kotest tests):

[code]

To reproduce use the versions of IntelliJ and the Kotest plugin mentioned, create an empty project, and try to add a new Kotest

[2022-06-09 03:32] sksamuel commented on #5410
Is this intermittent for you or every time ?

On Wed, 8 Jun 2022 at 18:35, Kyle Sletmoe ***@***.***> wrote:

[2022-06-09 03:33] sksamuel commented on #3029
@jschneidereit we'll be releasing 5.4 in the coming days for Kotlin 1.7 support.
If you want all this in 5.4 then add the PRs and we'll merge.

[2022-06-09 03:36] sksamuel commented on #3028
I think we need the RUNTIME retention like @andrey-bolduzev says. We're using source so it works for us locally but not in other projects.

[2022-06-09 03:39] #2965 closed, assigned to nobody

[2022-06-09 03:41] sksamuel commented on #3012
Thanks fixed.

[2022-06-09 03:41] #3012 closed, assigned to nobody

[2022-06-09 03:42] sksamuel commented on #2971
Doesn't intellij give you a warning anyway if you have arrays in a data class ?
Seems a kotlin/java thing rather than a Kotest thing ?

[2022-06-09 03:44] sksamuel commented on #2988
I'm not sure we can do much about this. If the tests are first, then they are immediately executed.
We should clarify the docs though.
Or maybe even throw if you have an after each AFTER tests are defined.

[2022-06-09 11:45] radek2s commented on #5410
I've got the same issue with latest version of Kotest plugin in latest version of IntelliJ.

[code]

My environment configuration:
[code]

[2022-06-09 16:35] sschuberth commented on #2960
The blog post is there now: https://blog.jetbrains.com/kotlin/2022/06/kotlin-1-7-0-released/

[2022-06-09 16:41] ksletmoe commented on #5410
@sksamuel It happens every time. I've also tried it on two laptops (M1 MacBook Pro and Intel MacBook Pro). Same on both

[2022-06-10 11:47] tbvh opened #3044 "Implement shrinker for `Set`s"
Using `Arb.set(..)` we can generate a Generator for sets. However, the Generator thus created does not have a shrinker defined. Tests that require sets as input are not able to create a minimal failure case, making debugging such tests hard.

A `SetShrinker` could be implemented using the `ListShrinker`.

[2022-06-10 13:05] tbvh opened #3046 "Provide RandomSource in PropertyContext"
For certain tests it might be useful to have access to a deterministic random source. For example when working on (large) lists with expensive computations, where it is too expensive to verify all combinations exhaustively. Or simply when one element or a subset must be selected.

It would be helpful to be able to simply call:
`val element = theCompleteList.random(random)`

Omitting the random arg

[2022-06-10 13:14] tbvh commented on #3046
If there is support for this feature I'm willing to create a merge request to add RandomSource to PropertyContext.

For the time being, as workaround one can append the checkAll with a Generator for the kind of values that is desired. E.g. `Arb.int()` for list indexes, but this is cumbersome b/c list size needs to be respected.

Alternative workaround: a faux Arbitrary can be created that exposes

[2022-06-10 14:24] ashishkujoy commented on #2964
Fixed in master will available with next release.

[2022-06-10 14:24] #2964 closed, assigned to nobody

[2022-06-10 22:37] myuwono commented on #3046
We have briefly discussed about it in the past https://github.com/kotest/kotest/issues/2574#issue-1028289236

The caveat here is that shrinking won't work.. so that was why we couldn't pursue it further. However, if we don't care about shrinking then yes it's possible to propagate random source and whether it's an edgecase etc inside a property context so that you can sample/edgecase any arb as in

[2022-06-11 03:05] #2699 closed, assigned to nobody

[2022-06-11 03:05] #2585 closed, assigned to nobody

[2022-06-11 03:05] #2936 closed, assigned to nobody

[2022-06-11 03:05] #2901 closed, assigned to nobody

[2022-06-11 03:05] #2905 closed, assigned to nobody

[2022-06-11 03:05] #2914 closed, assigned to nobody

[2022-06-11 03:05] #2952 closed, assigned to nobody

[2022-06-11 03:05] #2878 closed, assigned to nobody

[2022-06-11 03:05] #2913 closed, assigned to nobody

[2022-06-11 05:40] testfailed commented on #5410
I have the same error.
The first error occurred about 4-6 days ago (not sure, but maybe after installed kotest-framework-datatest) and it's been always happening since then (even after uninstalled kotest-framework-datatest).
The error occurs when I first open the Run/Debug Configurations after launching IntelliJ, not showing kotest configuration details at right on selecting kotest item from left

[2022-06-12 02:05] sksamuel commented on #3046
If we're talking about just having a random source in general, then we can add `seed` and `random` to the test structure in Kotest. So that any test, whether a property test or not, has access to a deterministic random instance.

If we are talking about property testing in particular, then I don't see why PropertyContext can't have access to the random instance used by the property test. I don't u

[2022-06-12 02:06] sksamuel commented on #3025
Just to clarify, you're using Ultimate 2022.1.1 and not android studio ?

[2022-06-12 02:07] sksamuel commented on #3025
What version of Kotest are you using - looks like the old kotlintest plugin ?

[2022-06-12 03:04] sksamuel commented on #2981
This is what I see:

![image](https://user-images.githubusercontent.com/743706/173212460-133f5e84-f70d-4c72-9fce-0ae377629d93.png)

Are you running from intellij or gradle?

[2022-06-12 04:39] leeyohan93 commented on #2981
Both gradle and intellij running resulted in the following results.

When I run it in class units, everything works fine, but when I start it in other units(⚪ marked line ), the result is like the picture.

<img width="542" alt="스크린샷 2022-06-12 오후 1 32 22" src="https://user-images.githubusercontent.com/44187892/173214617-9c920f8b-8239-41d0-ab3c-54914ad150c2.png">

[2022-06-12 08:55] myuwono commented on #3046
Ah right, nice! well in that case i think it makes sense to introduce the seed and therefore propagated as random source to within the prop/normal test. After which that actually means we can bind any arbs within any test context.

[2022-06-12 09:00] myuwono commented on #3046
Leave this to me, I think I know what to do

[2022-06-12 11:12] aSemy commented on #2960
Here's the description of the change: https://kotlinlang.org/docs/whatsnew17.html#time-marks-based-on-inline-classes-for-default-time-source

(sharing for completeness)

[2022-06-12 11:54] lwasyl commented on #2915
@sksamuel Seems like there's still an issue with duplicated tests names in 5.3.0, with slightly different repro (simplified compared to the original):

[code]

And the failure:
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/3951580/173231930-d72cbb5f-6641-4df1-8295-9665aa8154eb.png">

(let me know if I should open a new issue)

[2022-06-12 13:12] aSemy opened #3047 "Writing failed property test seed uses invalid file-name parameters, causes exception `Illegal char <<> at index`"
**Which version of Kotest are you using**

`5.3.0.1010-SNAPSHOT`

When this test fails, it causes an exception

[code]

[code]

I don't think the [new failed-seed-writer](https://github.com/kotest/kotest/issues/2967) is escaping the names.

https://github.com/kotest/kotest/blob/7bf2a995d186549c4c955f7111055115c9b36a46/kotest-property/src/jvmMain/kotlin/io/kotest/property/seed/seedio.kt#L27-L38

<d

[2022-06-12 13:28] aSemy opened #3048 "Use XDG base directories for writing failed seeds"
**Which version of Kotest are you using**

`5.3.0.1010-SNAPSHOT`

Presently the seeds are written in the subdirectory of the home directory.

https://github.com/kotest/kotest/blob/7bf2a995d186549c4c955f7111055115c9b36a46/kotest-property/src/jvmMain/kotlin/io/kotest/property/seed/seedio.kt#L21-L23

It's a huge bugbear of mine, and others, when the home directory is littered with dot files. [XDG Bas

[2022-06-12 16:06] sksamuel commented on #3048
See https://github.com/kotest/kotest/pull/3050

[2022-06-12 16:34] sksamuel commented on #3047
See https://github.com/kotest/kotest/issues/3047

[2022-06-12 16:50] sksamuel commented on #3028
@Kantis I've taken the latest snapshot after merging this, and applied it to one of my projects, and tried the above snippet. The nested When is now correctly highlighted as invalid.

![image](https://user-images.githubusercontent.com/743706/173244002-74832256-b101-4aec-9bde-415d6a53f80c.png)

[2022-06-12 16:58] sksamuel commented on #2960
@aSemy so it sounds like if we don't reference Monotonic, then it will continue to work like before and we don't need to release separately for 1.6 and 1.7

[2022-06-12 17:04] sksamuel commented on #2960
Doesn't look like other time sources are available :(

[2022-06-12 17:23] aSemy commented on #2960
Possibly Kotest can try avoiding the call to `measureTimedValue { }`

https://github.com/kotest/kotest/blob/652c768b931b07c95ddf412fee3acbfad224ff66/kotest-framework/kotest-framework-engine/src/commonMain/kotlin/io/kotest/engine/spec/interceptor/SpecFinishedInterceptor.kt#L19

That's the one that references `TimeSource.Monotonic`

https://github.com/JetBrains/kotlin/blob/bcd8a28d4c77d1652ddcaaf0fd

[2022-06-12 17:23] Kantis commented on #3028
Awesome! I must've done something wrong when building locally then 😄

[2022-06-12 17:24] #3048 closed, assigned to nobody

[2022-06-12 18:45] #3028 closed, assigned to Kantis

[2022-06-12 19:14] #3047 closed, assigned to nobody

[2022-06-13 01:50] #2997 closed, assigned to nobody

[2022-06-13 14:01] sksamuel opened #3055 "Slow property testing in JS"
See slack thread https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1640365559342000

[2022-06-13 14:03] sksamuel opened #3056 "Tags defined in spec being ignored"
[code]

See slack thread https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1640113256328100

[2022-06-13 19:16] ghost commented on #2960
Are snapshots working with 1.7?

[2022-06-13 19:18] sksamuel commented on #2960
5.3.1 has been released, can you try that ?

[2022-06-13 19:54] sschuberth commented on #2960
Local tests look promising! Let's see what our CI says: https://github.com/oss-review-toolkit/ort/pull/5419

[2022-06-13 20:03] jesperancinha commented on #2960
@sksamuel , I see that my builds are slowly, but surely, automatically merging again. Looks good! tks! 👍

[2022-06-13 20:14] sksamuel commented on #2960
Awesome @sschuberth @jesperancinha

[2022-06-13 20:42] snowe2010 commented on #2960
hm.. I'm seeing this error with that release.

[code]

[2022-06-13 21:47] sksamuel commented on #2960
What version of Kotlin and coroutines are you using ?

[2022-06-13 21:50] snowe2010 commented on #2960
[code]

Looks like coroutines has a 1.6.2 version, I will try that. I posted that previous message while in the middle of a meeting (posting this one in a meeting too 😅)

[2022-06-13 22:02] sksamuel commented on #2960
Should work with 1.6.1.

On Mon, 13 Jun 2022 at 16:51, Tyler Thrailkill ***@***.***>
wrote:

[2022-06-13 23:08] ksletmoe commented on #5410
Any updates here? I'd rather avoid doing my day job with early access builds of IntelliJ

[2022-06-14 00:19] sksamuel commented on #5410
@ksletmoe isn't this only happening on EAP release of intellij?

[2022-06-14 00:20] sksamuel commented on #5410
Because I am using 2022.1 just fine.

[2022-06-14 02:40] #2960 closed, assigned to nobody

[2022-06-14 03:01] ksletmoe commented on #5410
No, I'm on `IntelliJ IDEA 2022.1.2`, which is not EAP:

IntelliJ IDEA 2022.1.2 (Ultimate Edition)
Build #IU-221.5787.30, built on May 31, 2022

Runtime version: 11.0.15+10-b2043.56 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2022-06-14 03:07] ksletmoe commented on #5410
@radek2s above is also on 2022.1.2

[2022-06-14 03:10] sksamuel commented on #5410
Is this a standard gradle project, server side ?

On Mon, 13 Jun 2022 at 22:07, Kyle Sletmoe ***@***.***> wrote:

[2022-06-14 03:28] ksletmoe commented on #5410
It happens on whatever project I'm working on (including just creating a completely empty Gradle project via the New Project dialog):

![Screen Shot 2022-06-13 at 8 25 25 PM](https://user-images.githubusercontent.com/5762006/173487346-8bc0e18f-a430-475b-bb21-6687e70ea81c.png)

[2022-06-14 03:43] sksamuel commented on #5410
Is this some funky theme ?

[2022-06-14 03:45] ksletmoe commented on #5410
It's the [Material Theme UI](https://plugins.jetbrains.com/plugin/8006-material-theme-ui), but I get the same problem if I uninstall all plugins besides Kotest.

[2022-06-14 03:47] sksamuel commented on #5410
Oh that was just me being curious cos it looked good.
After you try running a test, can you take a screengrab of the config panel by going to edit configurations and the kotest one.

[2022-06-14 03:49] sksamuel commented on #5410
This kind of thing
![image](https://user-images.githubusercontent.com/743706/173489516-c25c5a7e-3b48-45d4-987e-22a921e83ce3.png)

[2022-06-14 03:59] ksletmoe commented on #5410
Oh, gotcha! Yeah, it's blank actually:

![](https://media.giphy.com/media/zOcyqop326CYc8naTh/giphy.gif)

[2022-06-14 04:02] ksletmoe commented on #5410
The same happens if I try to open the tests on an existing project:
![Screen Shot 2022-06-13 at 9 01 11 PM](https://user-images.githubusercontent.com/5762006/173490768-7eee7032-e658-44e1-8a4e-fb24848fc888.png)

[2022-06-14 06:57] nielsvanvelzen commented on #2960
There is no published 5.3.1 version of the multiplatform Gradle plugin. Is the version supposed to be in sync with the library?

[2022-06-14 10:32] DanySK opened #3059 "NoSuchMethodError: kotlin.time.DurationKt.toDuration with version 5.3.1 when testing Gradle plugins"
Hi,
I tried to update Kotest to 5.3.1, but I could not in projects testing Gradle plugins, for instance https://github.com/DanySK/Template-for-Gradle-Plugins, on the branch [`renovate/patch-kotest`](https://github.com/DanySK/Template-for-Gradle-Plugins/tree/renovate/patch-kotest).

Here is the build scan of the failing build: https://scans.gradle.com/s/fyvjl7xhjrazm/failure?anchor=e30&expanded-sta

[2022-06-14 10:40] Kantis commented on #3059
Seems to be caused by
[code]

I guess Gradle 7.4.2 still embeds Kotlin 1.5.31?

[2022-06-14 11:05] DanySK commented on #3059
This is very much possible indeed

[2022-06-14 15:17] jschneidereit commented on #3029
Actually @sksamuel I think the second two items would be breaking changes because EnabledCondition is a `fun interface` - getting #3030 into 5.4 is enough for now

[code]

[2022-06-14 15:17] #3029 closed, assigned to jschneidereit

[2022-06-14 15:42] Kantis commented on #3059
I guess this wasn't working on 5.x.x ? Kotest requires Kotlin 1.6 since 5.0.0 (see https://kotest.io/docs/changelog.html#kotlin-16-is-now-the-minimum-supported-version)

[2022-06-14 15:45] sksamuel commented on #3059
This is a duplicate of https://github.com/kotest/kotest/issues/2804
It's because gradle embed a kotlin version. It causes lots of issues.

[2022-06-14 15:46] sksamuel commented on #3059
https://github.com/gradle/gradle/issues/16345

On Tue, 14 Jun 2022 at 10:42, Emil Kantis ***@***.***> wrote:

[2022-06-14 16:56] DanySK commented on #3059
@sksamuel It can't be an exact duplicate, as it works with Kotest 5.3.0: https://github.com/DanySK/Template-for-Gradle-Plugins/blob/master/gradle/libs.versions.toml

[2022-06-14 17:36] snowe2010 commented on #2960
had to switch from using `kotlinx-coroutines-core` to `kotlinx-coroutines-core-jvm` but it did work after updating that and the version to `1.6.2`

[2022-06-15 04:56] Kantis commented on #2960
@nielsvanvelzen it should be out now :)

[2022-06-15 09:57] charleskorn opened #3060 "Compilation fails for Kotlin/Native targets with Kotlin 1.7"
**Which version of Kotest are you using?**
5.3.1

I've just upgraded to Kotlin 1.7 and Kotest 5.3.1, and I'm getting errors like these from Gradle when trying to run my tests (I'm not sure why it says I'm using Kotlin 1.7.20, I'm definitely using 1.7.0):

[code]

This happens both locally and on GitHub Actions ([example](https://github.com/batect/docker-client/runs/6897106560?check_suite_focus=tru

[2022-06-15 11:15] Kantis commented on #3060
What suggests that this is test sources? Looks like main sources to me (albeit on mobile. Might miss something)

[2022-06-15 11:29] charleskorn commented on #3060
You're correct - this is failing when it's compiling the main source set. I saw the first line of the stack trace contained a reference to the Kotest plugin and jumped to conclusions.

Still looks like an issue with the Kotest plugin though, no?

[2022-06-15 22:45] brucek opened #3061 "Add semantics for "expected failures""
I couldn't re-open the issue in #187 but this does have value, esp coming to Kotlin from other more developed ecosystems, so I'd like to reopen and reconsider this - key information copied here:

[sschuberth](https://github.com/sschuberth) Sometimes, esp. in TDD, it's convenient to add a test that is expected to fail at first, but will be fixed to succeed (e.g. by adding an implementation in the a

[2022-06-16 06:15] sschuberth commented on #3061
I've reopened https://github.com/kotest/kotest/issues/187 to keep the discussion in a single place.

[2022-06-16 06:15] #3061 closed, assigned to nobody

[2022-06-16 17:44] jmfayard commented on #2960
I can confirmed this is fixed after updating to Kotlin 1.7.0 and kotest 5.3.1

[2022-06-16 18:20] nbrosnahan commented on #3025
I just ran into this as well.  I'm on IDEA 2022.1.2 and it comes with kotlintest 3.3.0.11.  I just disabled it and downloaded kotest.

[2022-06-17 04:58] sksamuel commented on #3060
SpecIrGenerationExtension is a kotest thing, so maybe it's being
invoked incorrectly.

Are you using the latest gradle plugin for kotest too ?

On Wed, 15 Jun 2022 at 06:30, Charles Korn ***@***.***> wrote:

[2022-06-17 04:59] sksamuel commented on #3025
Kotlintest is the old plugin from years ago. It shouldn't be downloaded but the Kotest one should be used.

[2022-06-17 04:59] #3025 closed, assigned to nobody

[2022-06-17 05:48] Flaxoos opened #5409 "in intellij run/debug pane, clicking on test doesn't navigate to test code"
<img width="499" alt="Screenshot 2022-06-17 at 07 42 40" src="https://user-images.githubusercontent.com/10278950/174233002-eb7aa1ce-d55a-4410-af85-0148efcae0a4.png">

double clicking on this should open up the relevant code as it does with junit

<img width="400" alt="Screenshot 2022-06-17 at 07 44 52" src="https://user-images.githubusercontent.com/10278950/174233112-f66c253b-0b8c-460c-9074-0f95f8

[2022-06-17 07:13] charleskorn commented on #3060
Yep - 5.3.1 for both the plugin and Kotest itself.

[2022-06-18 21:35] mattupstate opened #3062 "Allure Report Showing two tests in one suite when there is only one test"
`kotest:5.3.0`
`kotest-extensions-allure:1.2.0`

The `AllureTestReporter` extension seems to be buggy. Perhaps my configuration is out of the ordinary, though. When running [this test](https://github.com/mattupstate/acme/blob/acme-app-web-test-kotest/acme-app/acme-app-web-test/src/test/kotlin/com/acme/web/test/specs/EmailAndPasswordRegistrationWorkflowSpec.kt) I get the following output in the All

[2022-06-19 01:10] sgammon commented on #3060
encountering this on a new MPP project, at kotlin 1.7.0.

[2022-06-20 01:51] #2916 closed, assigned to nobody

[2022-06-20 01:51] #2959 closed, assigned to nobody

[2022-06-20 07:14] charleskorn commented on #3060
Looks like the issue is that the `IrFile.name` extension property moved from `IrFile.kt` in [1.6](https://github.com/JetBrains/kotlin/blob/v1.6.21/compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrFile.kt#L56) to `IrDeclarations.kt` in [1.7](https://github.com/JetBrains/kotlin/blob/v1.7.0/compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrDeclarations.kt#L37).

I'm guessin

[2022-06-20 12:37] henrik242 commented on #5418
I'm seeing the same thing. Has anyone figured it out?

[2022-06-21 06:29] Kantis commented on #3060
I raised a [Youtrack issue](https://youtrack.jetbrains.com/issue/KT-52888/KotlinNative-17-breaks-backwards-compatability-for-compiler-plugins) for this.

[2022-06-21 07:25] sksamuel commented on #5418
The latest plugin should now be working with 221.

[2022-06-21 07:25] sksamuel commented on #5410
The latest plugin should now be working.

[2022-06-21 09:27] vladich commented on #5410
It's not the only issue, there is another one which is happening on the latest version:

[2022-06-21 09:28] sksamuel commented on #5410
That looks like the very old kotlintest plugin. You should remove that and install the kotest plugin.

[2022-06-21 09:30] vladich commented on #5410
kotest was installed as well, but apparently they conflict, thanks for the hint.
after removing the kotlintest, it's working now.

[2022-06-21 10:03] hosswald opened #3068 "Nested Test Names broken in in Kotest 5 (worked in Kotest 4)"
**Which version of Kotest are you using**
5.3.1

Nested test names are broken in Kotest 5+:
[code]
![image](https://user-images.githubusercontent.com/32925139/174770032-0f12d4a0-3aaa-4ea0-89e5-aa2016a6f3f3.png)

[code]
It does not matter which Testing Style (that supports nesting) I use.
I would expect the test report to reflect the hierarchy, as it did in Kotest 4.6.3 (only "failed" (yellow) vs "

[2022-06-21 10:04] hosswald commented on #3068
#2730 seems related

[2022-06-21 10:04] tbvh commented on #3046
Hi,
I'm reporting back after tinkering with the Arb<Random> workaround. At first I didn't understand the concern with shrinking, but I've now encountered it myself and can illustrate it. I believe there is still a good case to provide deterministic random but it should come with some guidance to the user (I), and perhaps more (complex) examples of preparing the generator (II).

I) I've added an ex

[2022-06-21 10:11] hosswald commented on #3068
Test reports exported fron IntelliJ IDEA 2022.1.2 UE with Kotest Plugin 1.2.58-IC-2022.1
[TestResult_Kotest_4_6_3.xml.txt](https://github.com/kotest/kotest/files/8947891/TestResult_Kotest_4_6_3.xml.txt)
[TestResult_Kotest_5_3_1.xml.txt](https://github.com/kotest/kotest/files/8947892/TestResult_Kotest_5_3_1.xml.txt)

[2022-06-21 12:24] LeoColman opened #3069 "Error description for DuplicateTestNameHandler incorrectly references the enum value"
Currently the warning suggests to use "None" as value, however, "None" is not a valid enum value of DuplicateTestNameMethod. Instead of "None", "Silent" should be used in the warning message.

_Originally posted by @ferdoran in https://github.com/kotest/kotest/pull/2235#discussion_r902331192_

[2022-06-21 12:26] #3069 closed, assigned to nobody

[2022-06-21 12:27] LeoColman commented on #3069
Good!
This was closed via
462f19b706275531386e3ee2ef6720b846d10809

[2022-06-21 12:28] LeoColman commented on #3069
Sorry, didn't check it before :P

[2022-06-21 15:48] ksletmoe commented on #5410
Confirmed this is fixed on the latest plugin version (`1.2.58-IC-2022.1`)!  🙌 Thanks so much @sksamuel !

[2022-06-21 15:48] #5410 closed, assigned to nobody

[2022-06-22 09:52] tbvh opened #3070 "PropTestListeners should trigger for every check, including shrink runs"
When running a pb test it can be necessary to perform a setup or cleanup between each run. Via the listeners in the config it is possible to perform a beforeTest on each iteration, but this listener is not invoked between shrinking runs. See the test below.

If the system-under-test uses some form of persistence or cache this could lead to unreliable shrinking, especially since the values are reus

[2022-06-23 07:46] JavierSegoviaCordoba commented on #2992
No stale

[2022-06-23 15:36] LeoColman commented on #3035
From https://github.com/webcompere/system-stubs

[2022-06-23 15:39] LeoColman commented on #3035
They seem to still do it in some way, but bringing Mockito in.
It might be a possibility

[2022-06-23 15:40] LeoColman commented on #3035
https://github.com/webcompere/system-stubs/blob/main/system-stubs-core/src/main/java/uk/org/webcompere/systemstubs/environment/EnvironmentVariableMocker.java

https://github.com/webcompere/system-stubs/blob/main/system-stubs-core/src/main/java/uk/org/webcompere/systemstubs/environment/EnvironmentVariables.java

[2022-06-23 15:40] LeoColman commented on #3035
We do similar stuff with `CurrentInstantListener`, but using `mockk`.

[2022-06-23 15:57] LeoColman commented on #3035
Just tested with
openjdk 18.0.1 2022-04-19

And our code is still working. Can you help me reproduce, @Marek00Malik ?

[2022-06-25 07:39] Kantis commented on #3060
@charleskorn 5.3.2 out now with the fix. Wanna give it a try? 😊

[2022-06-25 12:09] charleskorn commented on #3060
I'm still seeing the issue with 5.3.2.

Looking more closely at the original stack trace I posted, the issue seems to be twofold:
* the JS compiler plugin is running (based on the package being `io.kotest.framework.multiplatform.js.SpecIrGenerationExtension` rather than `io.kotest.framework.multiplatform.native.SpecIrGenerationExtension`)
* the JS compiler plugin has the same issue as the native c

[2022-06-25 23:25] charleskorn commented on #3059
I am seeing a similar issue as well - my Gradle plugin tests are failing with 5.3.1 and 5.3.2, but passed with 5.3.0.

[2022-06-27 09:46] tbvh opened #3076 "Allow rerunning shrunk test instead of starting from seeded (not shrunk) large testcase"
When a test fails it is desirable to investigate the cause of failure. For this reason the reported seed is helpful, since it allows to repeat the exact same test.
However, if one wants to debug, the seed is not the best way to replay the test because the test is first repeated with large failing tests and shrink attempts until the relevant shrunk test case is applied.

It would be wonderful to re

[2022-06-27 09:50] tbvh commented on #3046
Sorry to complicate this further. I've just created https://github.com/kotest/kotest/issues/3076, suggesting the possibility to run the shrunk case, by skipping over the large iterations.

This new feature requires that the random source is completely controlled by the kotest framework, and no interactions with it are outside the framework. This should be taken into account when solving this issue

[2022-06-27 11:27] myuwono commented on #3046
all good inputs! thank you @tbvh. Those all make sense. I think the last point would require quite an overhaul of how checkAll is currently run within kotest. Since I'm currently making some pretty large modification to the property test runner it makes sense to ensure that the last point that you raised is addressed.

[2022-06-27 15:05] artemptushkin opened #3077 "Extensions and hooks don't work when you mixup DSL code (afterEach, beforeEach)"
* `kotest version: 5.3.1`

I noticed that it's easy to mixup with the DSL to the scenario where your tests run and pass but hooks / extensions do not work, such as: `afterEach, beforeEach` and the corresponded classes: `AfterEachListener` and `BeforeEachListener`

Given:
[code]
Actual output:
[code]
The expected output should contain `this will never run`, imo

At the same time when we only remove

[2022-06-28 15:33] Kantis commented on #3077
Does this duplicate  https://github.com/kotest/kotest/issues/2988?

[2022-06-28 15:43] artemptushkin commented on #3077
@Kantis it's close but that's about the order and mine is about lambdas of different types (dash)

[2022-06-28 15:52] pooja-choudhary13 commented on #3062
Facing same issue with kotest version 5.2.2 kotest-extensions-allure:1.1.1, any luck @mattupstate ?

[2022-06-28 17:07] Kantis commented on #3077
It sounds like expected behaviour to me. [Containers](https://kotest.io/docs/framework/writing-tests.html#nested-tests) are not tests by themselves. The [docs for FreeSpec](https://kotest.io/docs/framework/testing-styles.html#free-spec) clearly states that the inner-most test must not use the `-` operand.

`afterEach` is invoked after each `TestType.Test` (not `TestType.Container`, unlike `afterAn

[2022-06-28 17:10] Kantis commented on #3044
Should we close this, since #3045 has been merged?

[2022-06-29 07:42] LimmaPaulus commented on #5411
Closing the issue as the problems seems to been disappeared at least for me.

[2022-06-29 07:42] #5411 closed, assigned to nobody

[2022-06-29 08:27] artemptushkin commented on #3077
@Kantis thanks, that's address the question and I see it's well documented especially [FreeSpec doc](https://kotest.io/docs/framework/testing-styles.html#free-spec)

I hope this closed issue will help someone if they end the same situation

[2022-06-29 08:27] #3077 closed, assigned to nobody

[2022-06-29 09:28] edoardo-liotta opened #3078 "Tests containing escaped double quotes are not correctly filtered"
Case:
A test has an escaped double quote character

Expected:
When clicking the "Run test" button, such test should run

Actual:
the test filter adds the backslash character, thus the test is filtered out and won't run.

Example:
[code]

console log:
`order mapping -- map delivery status 100 to "PENDING_RETURN" is excluded by test filter(s): Excluded by test path filter: 'order mapping -- map deli

[2022-06-29 12:40] tbvh commented on #3032
I've been tinkering with an alternative. I don't know if it fits the architecture of kotest.

In IterableEq the method `nestedIterator` triggers the failure, `checkEquality` on Iterables doesn't want to operate on nested iterables. So, either nestedIterator could throw an exception that is caught so that `equals(Iterable, Iterable)` can fall back on `.equals`, or nested Iterators should be identif

[2022-06-30 18:06] wfhartford commented on #5411
I am still experiencing significant lag when editing moderately large kotest test classes when the IDEA extension is enabled.

[2022-06-30 18:18] wfhartford commented on #5411
I've tested with the most up-to-date IDEA 2022.1.3 and up-to-date plugin 1.2.58-IC-2022.1 as well as with the current IDEA EAP and EAP version of the plugin. In both configurations, I experience significant lag when editing a test file of about 300 lines. The lag is not noticeable with very small files, but gets worse the larger the file is.

[2022-06-30 22:59] sksamuel commented on #5411
And if you remove the plugin and restart, it's good?

Do you have a sample file? You could obfuscate the names if it's sensitive.

On Thu, Jun 30, 2022, 11:18 AM Wesley Hartford ***@***.***>
wrote:

[2022-07-01 15:53] wfhartford commented on #5411
Yes, disabling the plugin and restarting resolves the lag issue. Removing the plugin is not necessary, just disabling. Restarting is necessary, the lag remains after disabling the plugin until IDEA is restarted.

This is a large kotest file using FunSpec, when I edit anywhere in this file in IDEA with the kotest plugin enabled, it's very laggy. I don't think there is anything special about this fi

[2022-07-01 16:46] sksamuel commented on #5411
Thanks, this is a good reproduction. I'll see what happens on my machine.
What's your system setup (os, cpu)

On Fri, 1 Jul 2022 at 10:53, Wesley Hartford ***@***.***>
wrote:

[2022-07-01 19:55] wfhartford commented on #5411
Linux (Pop_OS!)
AMD Ryzen 9 3900 12-Core Processor
64GB RAM
16GB Heap for IDEA

[2022-07-01 20:13] sksamuel commented on #5411
Should be plenty fast :)

On Fri, 1 Jul 2022 at 14:55, Wesley Hartford ***@***.***>
wrote:

[2022-07-01 22:37] Kantis commented on #3078
Should be fixed in Kotest IntelliJ plugin 1.2.59 when it's available. Thanks for the report @edoardo-liotta

[2022-07-01 22:37] #3078 closed, assigned to Kantis

[2022-07-01 23:03] Kantis commented on #3035
I added info here on how you can work around it: https://kotest.io/docs/extensions/system_extensions.html (see the blue info box)

[2022-07-02 01:34] #2977 closed, assigned to nor-ek

[2022-07-02 04:45] #3044 closed, assigned to nobody

[2022-07-02 19:05] Kantis commented on #2990
So updating to Kotlin 1.7 means we can't use Kotest 5.4 to test Gradle plugins for Gradle 7.4 or earlier. I think maybe we could hold off a bit?

[2022-07-02 19:15] sksamuel commented on #2990
I don't think we should do 1.7 at all for now.

On Sat, Jul 2, 2022, 2:06 PM Emil Kantis ***@***.***> wrote:

[2022-07-02 19:17] #2915 closed, assigned to nobody

[2022-07-02 20:10] #2979 closed, assigned to nor-ek

[2022-07-03 17:08] sksamuel commented on #2990
Closing this, as we don't need any features from 1.7 and 5.3.2 works with 1.6 and 1.7 so we're good.

[2022-07-03 17:08] #2990 closed, assigned to nobody

[2022-07-03 17:11] sksamuel commented on #3046
So in other words, using the provided random source wouldn't move the framework's random source on?
So we'd create a "seed" random from the seed value, and then use that to generate a random per test, which would be fed into the test for users to use?

Something like

val seedRandom = Random(seed)
for (iteration in iterations) {
  val testRandom = Random(seedRandom.nextLong())
}

[2022-07-03 18:19] sksamuel opened #3081 "Add suspendable installable extension"
https://github.com/kotest/kotest-extensions-arrow/pull/189

[2022-07-03 20:05] nor-ek commented on #2978
Working on this.

[2022-07-03 21:49] myuwono commented on #3046
Yeah, I've done exactly that in my local and hasn't pushed it. I'll raise a quick pr for that.

[2022-07-04 00:49] sksamuel commented on #3068
I can't duplicate with gradle 7.4.2.
Which version of gradle are you using ?

[code]

[2022-07-04 00:49] sksamuel commented on #3068
And this is 5.3.2

[2022-07-04 06:04] Marek00Malik commented on #3035
Thanks @Kantis, will test this later today!

[2022-07-04 08:30] eba11fs opened #3083 "KotestPropertiesInterceptor executed after applyConfigFromSystemProperties()"
**5.3.1**

Expected behaviour:
After setting up a `kotest.properties` file under `test.resources` package and setting the `kotest.framework.parallelism` property to 15, I expect the property to be loaded in the configuration and parallelism to be applied upon test execution.

Observed behaviour:
The `kotest.properties` file is read by KotestPropertiesInterceptor and the system property is set, but

[2022-07-04 09:11] mor4thii opened #3084 "kotest 5.4.x-SNAPSHOT does not seem to work together with Spring 2.7.1"
Hi,

I have an issue w/ kotest:5.4.0-1038-SNAPSHOT (and all other SNAPSHOTs of 5.4.0, and 5.3.2, and 5.3.0)

I tried to update to Spring 2.7.1 today and I got the following error from maven:
`
Unresolved dependency: 'org.jetbrains.kotlinx:kotlinx-coroutines-bom:jar:1.6.3'
`

From what I was able to test, it works with Spring 2.7.0 and all kotest versions mentioned above. Also, it appears with both

[2022-07-04 09:39] nor-ek commented on #2978
PR ready to review https://github.com/kotest/kotest/pull/3085

[2022-07-04 10:57] #2969 closed, assigned to nobody

[2022-07-04 15:13] sksamuel commented on #2981
Ok I can duplicate this now.

[2022-07-04 15:15] sksamuel commented on #3084
I think probably the same thing as this? https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1656524779419449

[2022-07-04 15:17] sksamuel commented on #3062
@mattupstate where do you configure the kotest allure plugin so I can see how that's wired in.

[2022-07-04 17:05] sksamuel commented on #3062
Looks like in later versions they started adding junit platform by default, so that's generating test names in addition to the kotlin one.

https://github.com/allure-framework/allure-java/issues/739

[2022-07-04 17:13] sksamuel commented on #3062
I've asked the maintainer here: https://github.com/allure-framework/allure-java/issues/428

[2022-07-04 17:17] sksamuel commented on #3035
Closing, please reopen if issue persists.

[2022-07-04 17:17] #3035 closed, assigned to nobody

[2022-07-04 17:37] #2978 closed, assigned to nobody

[2022-07-04 17:37] sksamuel opened #3088 "Move json assertions to top level extension repo"
What do you think about moving the json assertions into their own repo so we can release as and when?
@Kantis @LeoColman

[2022-07-04 20:36] #3083 closed, assigned to sksamuel

[2022-07-04 22:37] LeoColman commented on #3088
I like it.
It's onboard on what we've been doing to other extensions.

[2022-07-05 08:41] aSemy opened #3090 "JSON objects with duplicated properties should fail validity and equality checks"
**Which version of Kotest are you using**
5.3.2

I want to verify that a JSON object does not contain duplicated fields. However `shouldBeValidJson()` and `shouldEqualJson()` do not throw errors.

I would like an additional comparison flag added to `shouldBeValidJson()` and `compareJsonOptions { }` for verifying that properties are distinct.

[code]

[2022-07-05 15:24] Kantis commented on #3090
It seems to be in line with the spec (multiple properties allowed), but I don't see any harm in adding an extra flag to make it stricter and disallow it. I think it makes most sense to have the default to current behaviour.

[2022-07-05 15:32] Kantis commented on #3088
Disregarding the fact that it's sorta convention for now, which might be wrong.. 🤷 But I haven't felt limited by the release cadence of the main repo. I don't mind letting things take a while, and I think it's easier on consumers to not change the artifact coordinates and introduce a separate versioning series. My preference would be to keep it as-is. Do you feel it creates friction to have it in?

[2022-07-06 05:18] sksamuel commented on #3088
I'm pretty easy either way. The advantage of going to a separate deployment is a faster cadence, that's basically it.

[2022-07-06 06:59] mor4thii commented on #3084
Yeah, seems to be the same issue, but with quarkus.

[2022-07-06 10:41] tbvh commented on #2654
Hi,
I hope I'm not being to nosy by interfering with this ticket.
Having used this strategy in the past I would like to share some experiences to consider.

1. My approach was to create a Command type, consisting of the necessary input for the system under test and an ActionType. And then run checkAll for a list of Commands.

       data class Command(val id1: Long, val id2: Long, val action: Acti

[2022-07-06 13:51] LeoColman commented on #3088
I like to have it separate, as "Kotest json matchers" can be external to Kotest itself, which maybe should limit itself to only primite types of assertions

For new contributors:

- Much quicker to sync and execute tests from a smaller project with it's own ecosystem
- Easier to have a stabilized version of json assertions instead of depending on Kotest stability

So I think "Hey, I want to add ne

[2022-07-06 17:06] sksamuel opened #3094 "Property test failure with enum set"
[code]

[2022-07-06 19:13] erik opened #3095 "Tolerance-based matchers don't work with negative values"
Hi!

I believe I've run into a bug using the tolerance matchers today when writing a test that had a negative expected value. After some digging, I think I've figured out the cause.

Negative numbers will never match the `x plusOrMinus y.percent` and `x.shouldBeWithinPercentageOf(y, z)` forms.

This is true for each typed implementation: `Int`, `Float`, `Long`, `Double`

Trivial example (notice ho

[2022-07-06 19:46] Kantis commented on #3084
Jetbrains seem to be working on a fix.
Likely only affecting Maven builds.
https://github.com/Kotlin/kotlinx.coroutines/issues/3334

[2022-07-06 19:49] mor4thii commented on #3084
TYVM for linking this here.

[2022-07-06 19:58] Kantis commented on #3088
I agree with your points, but I'm not sure if I think it's enough to warrant the move. How do we weigh convenience for contributors versus convenience for users? Can we see how many are currently using the `kotest-assertions-json` dependency?

[2022-07-06 20:52] JonathanLennox opened #3097 "Error message when using shouldContainExactly with HashSet is hard to understand"
**Which version of Kotest are you using**
kotest 5.3.0, JVM

When I apply the `shouldContainExactly` to a `HashSet`, the resulting error message is very hard to understand:

[code]

As I eventually figured out, `shouldContainExactly` requires a collection with a fixed iteration order, which `HashSet` does not satisfy, but that is not at all clear from that error.

The error message should say some

[2022-07-06 21:18] sksamuel commented on #3088
Yeah there's stats inside maven central.
What's the objection, just that it's another repo to work in ?

[2022-07-06 22:05] LeoColman commented on #3088
That it's another coordinate, I think.

[2022-07-07 07:33] Kantis opened #3098 "Unable to change JRE without also altering some other values in run configuration"
It's currently not possible to change the "build and run" java version without also changing something else in the run config.

Likely affects Kotest-intellij-plugin 1.2.x

[2022-07-07 07:56] erik opened #3099 "Tolerance matchers fail on edge-case numeric inputs"
While working on #3096, the property-based checker found some edge cases for tolerance matchers which don't appear to work correctly (or at least have somewhat strange behavior).

Cases where we should probably throw an `IllegalArgumentException`:

[code]

Cases where behavior differs from `x shouldBe (y plusOrMinus z.percent)`:

[code]

**Which version of Kotest are you using**
#3096 - branched f

[2022-07-07 11:07] kboyarshinov commented on #3060
This issue is still present in 5.3.2. In my case it fails for iOS targets and there's no JS target configured.

[2022-07-08 01:08] #3095 closed, assigned to nobody

[2022-07-08 11:30] a-reznic opened #3101 "android unit test can't read file from resources"
io.kotest:kotest-runner-junit5:5.3.2

test/resources/test.json - exist

but code not found it
[code]
print result -> null

`--------------------------------`

if i run JUnit Test  this code works perfect.

    @Test
    fun `test file reading`() {
        val inputStream = javaClass.classLoader?.getResource("test.json")

        println("result -> $inputStream")
    }
result -> file:/Users/alex/xx

[2022-07-08 16:58] alkincakiralar1996 commented on #3060
When i execute the gradle :shared:compileKotlinIosArm64 command i'm getting same error too.

and my versions like below

const val gradlePlugin = "7.2.1"
const val kotlin = "1.7.0"
const val koTest = "5.3.2"

[2022-07-08 20:32] Kantis commented on #3101
Related: https://stackoverflow.com/questions/42571324/kotlin-myclassclass-java-vs-this-javaclass

In this case, you're invoking `javaClass` inside a lambda passed to the test function, where the _interface_ `TestScope` is the receiver.  `object : {}.javaClass`, `MyTest::class.java` should both be enough to get a classloader you can use.

[2022-07-08 20:32] #3101 closed, assigned to nobody

[2022-07-09 12:32] cjlee38 opened #3103 "Nested annotation doesn't work with inner class"
**Which version of Kotest are you using**

5.2.3

Hi, I'm trying to migrate test framework from Junit5 to kotest.

The test codes in my project are written in with DCI pattern using `Nested` annotation. To ensure compatibility, I simply added AnnotationSpec on my test classes, including inner class but it goes into failure with following messages

`java.lang.IllegalArgumentException: object is not

[2022-07-10 08:11] aSemy commented on #3103
Basically the bug is here

https://github.com/kotest/kotest/blob/4af10c624be33d39b88d7241765fdffb08758999/kotest-framework/kotest-framework-api/src/jvmMain/kotlin/io/kotest/core/spec/style/AnnotationSpec.kt#L139

Here's what I think is going on

1. `AnnotationSpec` finds all top-level `@Test`s no problem
2. It then finds all nested classes
    https://github.com/kotest/kotest/blob/4af10c624be33d39

[2022-07-10 22:05] sksamuel commented on #5411
I do see the analyzing phase taking a long time, but I tried disabling all the parts of the plugin and it's no different. I think just the latest Kotlin plugins often have regressions in terms of performance. And I wonder if the kotlin plugin isn't great with lots of nested lambdas (it certainly used to be slow in this area).

[2022-07-12 11:08] #3059 closed, assigned to nobody

[2022-07-12 14:48] DerekBeam opened #5408 "Unable to download on Android Studio"
**Android Studio**
Android Studio Chipmunk | 2021.2.1 Patch 1
Build #AI-212.5712.43.2112.8609683, built on May 18, 2022
Runtime version: 11.0.12+0-b1504.28-7817840 aarch64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 12.2

**Issue**
<img width="404" alt="Screen Shot 2022-07-12 at 10 43 59 AM" src="https://user-images.githubusercontent.com/101125993/178518357-83ff17ef-949a-460c-ae3c-e15a8

[2022-07-12 14:51] DerekBeam commented on #5408
I was able to install it from disk. It just seems like the marketplace is not pointing to the right file or something.

[2022-07-13 06:27] #3098 closed, assigned to Kantis

[2022-07-14 14:51] RaySmith-ttc opened #3108 "Incorrect encoding in console output with Java 18"
**Kotest**: 5.3.2
**IDEA**: 2022.1.3
**JDK**: 18.0.1.1
**Kotlin**: 1.7.10

### Test
[code]

### Output with Java 18.0.1.1
[code]
### Output with Java 17.0.3.1 (or less)
[code]

I found the solution by adding VM parameters to test, but of course I would not want to add it to each individual test:
`-Dsun.stdout.encoding="UTF-8" -Dsun.stderr.encoding="UTF-8"`

[2022-07-15 07:04] charleskorn commented on #3059
It looks like Gradle 7.5 upgrades the embedded version of Kotlin to 1.6.10 🎉  https://github.com/gradle/gradle/pull/19539

[2022-07-15 08:09] DanySK commented on #3059
Tested, confirmed. Issue solved.

On Fri, Jul 15, 2022, 09:05 Charles Korn ***@***.***> wrote:

[2022-07-16 20:59] LeoColman opened #3111 "Result matchers should include the failure reason"
https://github.com/kotest/kotest/blob/b47f92247e12bdb43617c762950ed1f392e0afe1/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/result/matchers.kt#L62

Currently, a test that tests for

[code]
will fail if a is `Failure` (as expected).

What it won't do is print what was the failure, so there's no way to debug other than, well, debugging.

[2022-07-18 10:21] jmfayard opened #3112 "withEnvironment throws a reflection error"
**Which version of Kotest are you using**

[code]

What:

[code]

calls `internal fun setEnvironmentMap(map: Map<String, String?>) {`

which fails like this:

[code]

[2022-07-18 10:41] ashishkujoy commented on #3112
Please check here the value of required parameter need to pass to jvm
https://kotest.io/docs/next/extensions/system_extensions.html#system-environment

[2022-07-18 12:10] jmfayard commented on #3112
Looks like that's the right issue; but I can't get it to work either with `gradle.properties` or in IntelliJ Gradle configuration

<img width="1591" alt="Run_Debug_Configurations_et_backend-tignum-x_–_gradle_properties__backend-tignum-x__et_System_Extensions___Kotest" src="https://user-images.githubusercontent.com/459464/179508076-df86b75b-7ba9-461d-9687-9c9d2ae48a8f.png">

[2022-07-21 08:18] Kantis commented on #3112
@jmfayard in your `gradle.properties` it looks like you added it with a single dash? `-add-opens`

[2022-07-22 09:12] mor4thii commented on #3084
I just wanted to report that with the 2.7.2 release of Spring (https://github.com/spring-projects/spring-boot/releases/tag/v2.7.2), the issue has been resolved. They use coroutines in v1.6.4, just as kotest does :)

[2022-07-22 12:46] sksamuel commented on #3084
Closing as fixed in latest spring release.

[2022-07-22 12:46] #3084 closed, assigned to nobody

[2022-07-22 15:00] sharmando opened #3117 "Parallel tests fail to run mockk's coEvery in beforeTest lifecycle"
I am attempting to run multiple Specs in parallel. After increasing parallelism some of my test fail.

The reason of the failure is that the coEvery mockking functionality hasn't run and mockk fails with missing implementation.

I am not sure if this is a bug in kotest (lifecycle and parallelism) or I am just using it wrong.

* kotest 5.3.2
* kotlin 1.6.21
* coroutines 1.6.4
* mockk 1.12.4

[2022-07-22 15:01] sksamuel commented on #3117
MockK often has problems with race conditions. We've seen this in the past.

On Fri, 22 Jul 2022 at 10:00, sharmando ***@***.***> wrote:

[2022-07-22 15:05] sharmando commented on #3117
Hi Sam, thanks for the quick response.

Is there mocking library known to work with kotest in parallel? Mockito for instance? I am trying to run parallel mocking tests.

Should we make a note somewhere in the docs to say that mockk works with kotest but fails to do so when parallelism is on?

[2022-07-24 05:33] #2966 closed, assigned to nobody

[2022-07-24 05:54] sksamuel commented on #3088
Closing this, doesn't seem to be huge support in favor.

[2022-07-24 05:54] #3088 closed, assigned to nobody

[2022-07-24 15:37] LeoColman commented on #3117
Personally, I'd say that if you're mocking too many things that are prone to race conditions, Mockk or any other mocking framework will be very delicate around it. My guess is even Mockito.

Have you tried to play with Isolation Mode? https://kotest.io/docs/framework/isolation-mode.html

When racing with mocks, `InstancePerTest` usually saves me

[2022-07-24 15:41] LeoColman commented on #3112
I think this is a duplicate of
https://github.com/kotest/kotest/issues/3035

[2022-07-24 15:42] #3112 closed, assigned to nobody

[2022-07-24 17:29] sharmando commented on #3117
@LeoColman, thanks for the recommendations they make total sense. However, I have successfully run parallel mocking tests before (with other libs and language) and I made sure the code I was testing was side effect free.

My problem was to assume that clearAllMocks would somehow figure out what are the mocks in the current Spec, it knows nothing and it was clearing mocks across all tests running i

[2022-07-24 17:29] #3117 closed, assigned to nobody

[2022-07-24 22:53] #3111 closed, assigned to nobody

[2022-07-25 02:49] mikucat0309 opened #3120 "Testcase disappeared when succeed"
### Environment

| Type | Tool |
| --- | --- |
| IDE | Android Studio Android Studio Chipmunk 2021.2.1 Patch 1 |
| Kotest IntelliJ Plugin | 1.2.59-IC-2021.2.3 |
| Kotest Testing | JUnit 5.3.2 |
| Build tool | Gradle |
| Language | Kotlin/Android |

### Sample FIles

https://gist.github.com/mikucat0309/3cbda88c82131fcc2c1965cf1af328f9

### Description

When I run below test, Gradle show no tests
`N

[2022-07-25 03:23] sksamuel commented on #3120
Can you paste your gradle junit setup code.

[2022-07-25 03:56] mikucat0309 commented on #3120
@sksamuel Sure
project gradle file, app gradle file and test source code have been upload to gist
https://gist.github.com/mikucat0309/3cbda88c82131fcc2c1965cf1af328f9

[2022-07-25 03:57] sksamuel commented on #3120
I think the issue is you don't have a Then block.

On Sun, 24 Jul 2022 at 22:56, Mikucat ***@***.***> wrote:

[2022-07-25 04:05] mikucat0309 commented on #3120
Oh my fault, I should take a break. Thx!

[2022-07-25 04:05] #3120 closed, assigned to nobody

[2022-07-25 04:07] sksamuel commented on #2971
What's your current thinking on this @Kantis

[2022-07-25 05:25] kohei-akasaka-biz opened #3121 "Conditional tests with Gradle by backward match is failed (5.3.0 or later)"
**Which version of Kotest are you using**
- Kotest: 5.3.0 or later
- Kotlin: 1.6.10
- Gradle: 7.4.2

Hi, I use version 5.1.0 of kotest. I have updated my version of kotest to 5.3.0.
`./gradlew test --tests '*Spec'` is failed in version 5.3.0 of kotest.
I browsed https://kotest.io/docs/framework/conditional/conditional-tests-with-gradle.html.
The page says I can filter with `gradle test --tests '*I

[2022-07-25 13:03] MrTomato opened #3122 "NoSuchMethodError io.kotest.core.descriptors.Descriptor$TestDescriptor.path(boolean)"
After upgrading from Kotest version 5.3.2 to 5.4.0 for dependencies io.kotest:kotest-runner-junit5-jvm and io.kotest:kotest-assertions-core-jvm (additionally using io.kotest.extensions:kotest-extensions-spring version 1.1.1 and spring-boot.starter.parent version 2.7.2)
I get the following error Exception:
[code]

Minimal class to reproduce:
[code]

where SpringStringSpec is defined as
[code]

I am

[2022-07-25 13:08] sksamuel commented on #3122
There was some issue solved by upgrading to coroutines 1.6.4. That may help.

On Mon, Jul 25, 2022, 8:03 AM MrTomato ***@***.***> wrote:

[2022-07-25 13:24] mrtomatwo commented on #3122
Hi Samuel,

unfortunately that doesn't fix my issue.

All other dependencies are on their latest version (renovate bot makes sure of that).

That's why I encountered the error trying to update Kotest to the latest version 🥲

[2022-07-26 00:58] sksamuel commented on #3121
Can you try 5.4.0 ?
Just in case.

On Mon, 25 Jul 2022 at 00:25, kohei-akasaka-biz ***@***.***>
wrote:

[2022-07-26 01:25] kohei-akasaka-biz commented on #3121
Thanks for the reply.
Yes, I can.
I ran it, but the result was a failure.

[2022-07-26 02:48] CXwudi commented on #3122
Same issue with Spring Boot 1.7.2 (which uses coroutine 1.6.4 AFAIK) and Kotlin 1.7.10 https://github.com/CXwudi/vocadb-video-downloader-new/pull/25

[2022-07-26 14:17] arik-dig opened #3123 "Plugin throws 'com.intellij.diagnostic.PluginException: The default implementation of method 'getId' is deprecated'"
**Which version of Kotest are you using**
3.3.0.11

**Intellij IDEA version**
2022.1.2

**seeing 4 similar stack traces:**

[code]

[2022-07-26 15:30] ctfaria2 opened #3124 "And() cannot be nested in Then() block in BehaviourSpec"
**Which version of Kotest are you using**
On upgrade from `5.3.2 -> 5.4.0`

**Description of issue**
After upgrading it is no longer possible to have an And() block inside a Then()

Silly example test

[code]

Error presented is

[code]

**Expected result**
Test should work as before

[2022-07-26 16:03] sksamuel commented on #3123
kotlintest is deprecated for a while now in favour of kotest.
I'd recommend you switch to that plugin with a recent version of kotest.

On Tue, 26 Jul 2022 at 09:17, Arik Sher ***@***.***> wrote:

[2022-07-27 18:29] jesperancinha commented on #3122
I just encountered the same issue on the same upgrade @sksamuel

[2022-07-27 20:09] sksamuel commented on #3122
Can I get a self contained project that fails ?

On Wed, 27 Jul 2022 at 13:30, João Filipe Sabino Esperancinha <
***@***.***> wrote:

[2022-07-27 20:44] tonicsoft opened #3125 "Kotest Intellij IDE plugin does not respect system property configuration from Gradle test tasks"
**Which version of Kotest are you using** 5.4

This issue is a follow up of https://github.com/kotest/kotest/issues/2765 and it's related issues. Please see https://github.com/tonicsoft/slow-kotest for an example project that demonstrates the issue. The README.md in that project explains the context.

When running tests from the Intellij GUI, using the functionality provided by the kotest plugin,

[2022-07-27 20:49] tonicsoft opened #3126 "Kotest is very slow to start."
This is a follow up of https://github.com/kotest/kotest/issues/2765. The problem discovered via that issue was a classpath scanning issue, for which a workaround is now provided via system properties:

[code]

Unfortunately the workaround doesn't work when using the IDE, and I have raised that issue separately here: https://github.com/kotest/kotest/issues/3125

However when using the command line,

[2022-07-27 20:55] tonicsoft commented on #3125
probably this belongs in the project dedicated to the plugin, and also it may be best addressed by https://github.com/kotest/kotest/issues/5413

[2022-07-28 08:04] sksamuel commented on #3126
So what you need is a couple of things. Firstly, disable classpath scanning of `autoscan` in addition to config. Then your timing script is the same for me in junit vs kotest.

[code]

Secondly, to make this work via the intellij plugin, you need to specify the props in a `kotest.properties` file. I have updated the docs to clarify this [here](https://kotest.io/docs/next/framework/project-config.h

[2022-07-28 08:06] sksamuel commented on #3125
This is best addressed by https://kotest.io/docs/next/intellij/intellij-properties.html

[2022-07-28 08:07] sksamuel commented on #3124
This was a bug previously. And should be a sibling of Then, and not a child. Then is a "final" test lambda and so cannot allow children.

[2022-07-28 08:08] sksamuel commented on #3123
Will close since upgrade path is the way forward.

[2022-07-28 08:08] #3123 closed, assigned to nobody

[2022-07-28 09:52] DanySK opened #3127 "`shouldContainExactly` produces surprising results, failing when it should pass"
**Which version of Kotest are you using**: 5.3.2

When running code like:
[code]

I receive surprising failures like the following:
[code]

When debugging,
[code]

gets called with arguments that should cause success:
![image](https://user-images.githubusercontent.com/1991673/181474819-9480c26e-b400-479e-8e99-6a75e295f0d6.png)

The coherence seems to be carried on in `Matcher.kt`:
![image](https:/

[2022-07-28 09:53] DanySK commented on #3127
Actually, on a second look, I am completely off. The two collections are different indeed. Closing as invalid; sorry for the noise.

[2022-07-28 09:53] #3127 closed, assigned to nobody

[2022-07-28 10:45] sksamuel commented on #3122
Fixed in 5.4.1

[2022-07-28 10:45] #3122 closed, assigned to nobody

[2022-07-28 10:47] sksamuel commented on #3121
Doesn't seem to support the *prefix, only suffix* style.
We can look to enhance/fix that for 5.4.2

[2022-07-28 10:48] sksamuel commented on #5413
I've added a reply to the other ticket.

[2022-07-28 11:13] timorantalaiho commented on #3122
Hmm... I still get the same error with kotest 5.4.1 and kotest-extensions-spring 1.1.1 :thinking:

[2022-07-28 11:14] ctfaria2 commented on #3124
So, to clarify. The expectation would be

[code]

If that is the case, am happy for you to close this issue. We can re-work things.

[2022-07-28 11:14] sksamuel commented on #3122
Are you sure you're on 5.4.1 for all the right dependencies?
Here is the spring project itself, which you can clone, change to 5.4.0 see it fail, and then see it pass on 5.4.1
https://github.com/kotest/kotest-extensions-spring

[2022-07-28 11:15] sksamuel commented on #3124
Yep. Due to a bug/restriction in how Gradle works, we have to denote tests as "final" or not. And so it can't be entirely flexible.

[2022-07-28 11:15] #3124 closed, assigned to nobody

[2022-07-28 11:31] otbe commented on #3122
Renovate updated to 5.4.1 but error is the same for us :/

[2022-07-28 11:34] sksamuel commented on #3122
Can you try adding `kotest-common` to your build, 5.4.1

[2022-07-28 11:47] otbe commented on #3122
Stays the same unfortunately :/

`testImplementation("io.kotest:kotest-common:5.4.1")`

[2022-07-28 12:06] sksamuel commented on #3122
Well I'm stumped because this change fixed it for me.
Is it possible to get a single test class example project that fails?

On Thu, 28 Jul 2022 at 06:47, Benjamin Otto ***@***.***>
wrote:

[2022-07-28 12:26] timorantalaiho commented on #3122
Thankyou @sksamuel ! I investigated this a bit, and noticed that if I build `kotest-extensions-spring` from latest commit in version control and use that version as a dependency (`testImplementation("io.kotest.extensions:kotest-extensions-spring:1.1.0-LOCAL")`) for our own application (with kotest 5.4.1), then everything works.

But from the latest publicly available `kotest-extensions-spring` ver

[2022-07-28 12:33] sksamuel commented on #3122
@timorantalaiho thanks for trying that. I think we can make this work for all versions - can you try the latest master build for the spring extension, and if you confirm that works, I will release 1.1.2 of the spring extension.

[2022-07-28 12:36] timorantalaiho commented on #3122
@sksamuel Hmm is there a readily available build of latest https://github.com/kotest/kotest-extensions-spring somewhere?

I used latest master from there (`39c0d0dd1751bf23a102c14fd2039abaf709fead`), but built it locally for testing (with `./gradlew publishToMavenLocal`), and this is what worked for us.

[2022-07-28 12:37] sksamuel commented on #3122
yeah you can do that, or take the latest snapshot.

[2022-07-28 12:38] sksamuel commented on #3122
Eg https://oss.sonatype.org/content/repositories/snapshots/io/kotest/extensions/kotest-extensions-spring/
But you need to add that maven repo to your build.

[2022-07-28 12:57] timorantalaiho commented on #3122
Oh yes: using `io.kotest.extensions:kotest-extensions-spring:1.1.0.50-SNAPSHOT` from the Sonatype snapshots repo works too :+1:

[2022-07-28 13:39] tonicsoft commented on #3126
That's awesome, very helpful additions to the docs too.

Thanks, and apologies for the rtfm.

[2022-07-28 13:39] #3126 closed, assigned to nobody

[2022-07-28 13:42] tonicsoft commented on #3125
Thanks, for me personally, this works and I consider this issue resolved.

However, I'll let you decide whether to close this issue or whether to leave it open. It's not quite the same as respecting the "run tests using" option (but may make no difference to anyone), and I don't know if there might be other use cases beyond system properties where respecting the gradle configuration may be importa

[2022-07-28 14:19] tbcrawford opened #3129 "Improve Github release documentation"
## Request
As it stands now, from my perspective, the change log for Kotest appears to be a bit hidden. In order to get to the change log from the website, you have to scroll to the bottom of the page and look at the footer to get to the change log. Getting to the change log from the README seems modestly sufficient for now. However, with that said, I think adding the changes for each release to t

[2022-07-28 14:55] ahatzz11 commented on #3129
Another possible solution here is to use the GitHub auto-generated changelogs in the GitHub Releases. This will automatically generate release notes based on the PRs that have been merged since the last release. A `.github/release.yml` file is allowed to customize the sections of each release as well.

<img width="303" alt="image" src="https://user-images.githubusercontent.com/6256032/181568235-58

[2022-07-28 15:13] sksamuel commented on #3122
1.1.2 should be good for you then.

On Thu, Jul 28, 2022, 7:57 AM Timo Rantalaiho ***@***.***>
wrote:

[2022-07-28 19:50] TheSench commented on #1727
Still seeing `JsonNode` comparisons not properly detect different values in `TextNode`s in 5.3.1.

[2022-07-28 19:53] TheSench commented on #1727
Here's a simple test that reproduces this for me:
[code]

[2022-07-28 19:55] TheSench opened #3130 "Jackson JsonNode comparisons are broken"
**Which version of Kotest are you using**
`5.3.1`

When comparing two different `JsonNode`s, `shouldBe` is erroneously stating they are equal when they have different values at the same key.

Here's a simple test that reproduces this issue for me:
[code]

[2022-07-29 04:40] sksamuel commented on #3129
I think we tried release drafter in the past but it doesn't include stuff pushed straight to master (which is another topic I guess :) ). And lots of PRs are cruft in my opinion. No one looking at a renovate PR cares that we fixed a typo in docs. So maybe your second option is a good solution - copying the changelog notes into the release section in github?

@ahatzz11 Right now we create the chang

[2022-07-29 04:40] kohei-akasaka-biz commented on #3121
Thank you very much.

[2022-07-29 04:40] sksamuel commented on #3125
I will close this, because our medium term solution is that we're going to add a new gradle plugin that does all this properly, and doesn't rely on the broken Junit Platform implementation in gradle.

[2022-07-29 04:40] #3125 closed, assigned to nobody

[2022-07-29 07:05] andriesfc opened #5407 "Kotest plugin crash"
Here is the stack trace:

[code]

Github does not allow me for upload more info. But please se this [https://1drv.ms/u/s!Ahlh1Q4qZlNLhO0VoIx8FVDI0zeNKw](link) for a 7zip file with the some more info.

[2022-07-29 09:05] timorantalaiho commented on #3122
Yes, it does the trick.

Thankyou very much!

[2022-07-29 09:56] mrtomatwo commented on #3122
yup, mine work now too - thanks @sksamuel!

[2022-07-29 20:15] LeMimit opened #3131 "WordSpec tests with withData not compiling anymore with 5.4.0"
**Which version of Kotest are you using**
I tried to update to version `5.4.0`.

I have some test using Data Driven testing feature. These tests are not compiling anymore with version `5.4.0`.
I looked to the release note, it is may be related to the change: `Set runtime retention on dsl marker` (#3038)

Here is the error I got:

`suspend fun <T> ContainerScope.withData(nameFn: (QuantityConvert) -

[2022-07-30 06:45] CXwudi commented on #5416
I think this is the same cause, so I didn't create a separate issue

But when I open a project stored in WSL2
![image](https://user-images.githubusercontent.com/17377423/181878408-6940b782-7fd8-4d38-b1d1-723428b169a4.png)
and run a test by clicking the run button. it show that kotest can not run as it is not a Win32 process
![image](https://user-images.githubusercontent.com/17377423/181878153-ff07

[2022-07-31 18:25] sksamuel opened #3133 "Mock server DSL"
I often use Kotest's mock server extensions for testing responses to external HTTP services, but the syntax is very Java-y. Consider adding a simple DSL wrapping the Mockserver DSL.

Eg,

before:
[code]

after:
[code]

[2022-07-31 18:27] sksamuel commented on #3131
`withData` only ever worked with _container_ scopes, so in this case, your test is being bound to the `"Test" should` scope, and the "be good" is being ignored. In 5.4.0 this bug has been fixed so it doesn't just silently work incorrectly.

You can rewrite this as:

[code]

or

[code]

[2022-07-31 18:29] sksamuel commented on #3130
I guess this is because JsonNode is iterable, and so it's doing an iterable comparison.

@Kantis @ashishkujoy what do you think about dropping "is Iterable" from the checks, and only checking for Array / Collections, which is really our intent.

[2022-07-31 18:30] sksamuel commented on #3031
Is it possible to get a handle to the test container logs ?

[2022-07-31 18:32] sksamuel commented on #2961
@Kantis is this just waiting on https://github.com/kotest/kotest/issues/2961 ?

[2022-08-01 00:36] #5417 closed, assigned to nobody

[2022-08-01 09:20] Kantis commented on #3133
I started doing something similar a while back, nothing too fleshed out but feel free to take inspiration (or copy everything).. https://github.com/Kantis/mockserver-kotlin

[2022-08-01 10:09] ollis opened #3134 "Nested spec hangs"
kotest : 5.4.0
kotlin: 1.6.21
ktor: 2.0.3

kotest hangs when I use nested spec styles in conjunction with [ktor](https://ktor.io/docs/testing.html)
Minimal example:
[code]
This gives the following (expected) output:
[code]
But it hangs if I uncomment the "inner 2" block and the output changes to this:
[code]

[2022-08-01 13:28] sksamuel commented on #3134
My guess, without delving into it, is that the test application never
terminates, and so the coroutine is kept alive, and Kotest is waiting for
your test to complete (until it hits the default timeout).

On Mon, 1 Aug 2022 at 05:09, Ole Hjalmar Herje ***@***.***>
wrote:

[2022-08-01 19:35] LeMimit commented on #3131
Ohhh I get it now. I got a wrong definition for sooo long then.
I fixed my tests by using the good syntax. 👍🏻

Thanks a lot for your answer and fixing the bug in `5.4.0`.

[2022-08-01 19:35] #3131 closed, assigned to nobody

[2022-08-01 21:28] Kantis commented on #3133
I think your suggested DSL is nicer btw, so not sure if the link adds anything at all.. 😂

[2022-08-02 08:23] ollis commented on #3134
Yes, so the issue/question is why the inclusion of an inner test ("inner 2") causes this behaviour?

[2022-08-02 10:14] ashishkujoy commented on #3130
That might break the existing test for other folks, currently I don't remember why I have added Iterable EQ.

[2022-08-02 10:56] abendt opened #3135 "kotest-extensions-testcontainers seems to be incompatible with kotest 5.4.1"
**Which version of Kotest are you using**

i am using kotest with the kotest-extensions-testcontainers extension.
After upgrading to kotest version _5.4.1_ i am seeing this exception:

[code]

I assume the extension must be released to be compatible with latest kotest?

[2022-08-02 12:24] tbcrawford commented on #3129
@sksamuel Totally understandable! I think copying the changelog notes to the release section in github would be an excellent solution then! It sounds like it would just be one quick extra step after creating the changelogs right now.

[2022-08-03 05:37] sksamuel commented on #3135
Can you try kotest-extensions-testcontainers 1.3.4 ?

[2022-08-03 07:48] abendt commented on #3135
thanks @sksamuel that fixed the issue

[2022-08-03 07:48] #3135 closed, assigned to nobody

[2022-08-03 07:51] abendt commented on #3135
@sksamuel small thing:

apparently the extension now requires jdk11. before it also worked with java8. this is not an issue for me, just might be an unexpected change for others when they are updating from 1.3.3 to 1.3.4

[code]

[2022-08-03 20:58] Rubydesic opened #3136 "Allow registering custom default Arb for your own types in checkAll/forAll"
Currently `checkAll` and `forAll` use `defaultForClass` and `targetDefaultForClass` to get a hardcoded list of global default Arb for those classes.

I have some more types (like `Vector3d` from JOML) that I would like to register default generators for, but it doesn't seem possible.

----

Maybe the definition of  `checkAll` could be amended like this:

[code]

[2022-08-04 14:19] minzoovv opened #3137 "java.lang.NoSuchMethodError: 'long kotlin.time.Duration$Companion.milliseconds-UwyO8pc(long)'"
I'm encontering the error  while running my kotest

My kotlin version is 1.7.10
I cannot figure out how cause this runtime error

[code]

using Kotest Version : 5.4.1
and all 5.X.X version gives this error when I run the kotest test

Is there any solution to resolve this error?

[2022-08-04 16:15] sksamuel commented on #3136
Your suggestion would work, also another option would be to allow you to register with the global store.

[code]

Or something

[2022-08-05 05:40] SonYoonSeok commented on #3108
Hello, Just before, I tested it but it outputs correctly in jdk 18.0.2 and kotest 5.4.1 with Intellij.

[2022-08-05 06:44] SonYoonSeok commented on #3137
I think it's because function Duration.milliseconds is deprecated. I'll modify it, and send PR Thanks.

[2022-08-08 10:10] ptitjes opened #3141 "Support for nested tests on JS target (again)"
Nested tests on JS target were working in 5.0.0. However, it seems to be broken in newer versions.

One of the good things of Kotest is the ability to have nested tests. However, nested tests not working on the JS target means that you're stuck to not using this feature as soon as you have a multiplatform Kotlin project that also targets JS (which is supposed to be a lot of projects). This is a fe

[2022-08-08 14:39] jumpstreet13 commented on #594
I tried And in Then scope on my project and all worked like a charm.
 There were updates ?
<img width="802" alt="Screenshot 2022-08-08 at 17 39 03" src="https://user-images.githubusercontent.com/19886384/183444080-3343cca7-6024-4761-a5a3-7e6ea4624a8c.png">

[2022-08-09 06:30] oscargolding opened #3142 "UniqueId Selectors Failing With Kotest"
**Which version of Kotest are you using**
5.3.0

Hi there, I have had a `kotest` commit recently break the functionality of my application. Please see the error line below. I make a tool that performs load tests using the JUnit launcher. Some of the tests that may be run include `kotest` tests.

[code]

Due to performance reasons, our application requires that the `UniqueId` be used from a JUnit `

[2022-08-09 06:37] jumpstreet13 opened #3143 "Hi, it is question about AND in THEN scope."
Please describe here what you would like to see documented.
Here is the issue about that - https://github.com/kotest/kotest/issues/594

But I tried it on my project and it worked like a charm. Maybe you can upgrade documentation about AND in THEN scope ?
Or there are still problems with that approach ?
![image](https://user-images.githubusercontent.com/19886384/183581149-d317305f-57bd-4025-a62f-0c

[2022-08-10 00:30] mattupstate commented on #3062
@sksamuel sorry for the slow reply. The Gradle config is [here](https://github.com/mattupstate/acme/blob/acme-app-web-test-kotest/acme-app/acme-app-web-test/build.gradle.kts) and the kotest config is [here](https://github.com/mattupstate/acme/blob/acme-app-web-test-kotest/acme-app/acme-app-web-test/src/test/kotlin/com/acme/web/test/AcmeAppWebTestConfig.kt)

Appreciate that you dug into the depths

[2022-08-10 04:31] jmfayard opened #5406 "What's the best way to report IDE errors?"
Hello

recently the kotest plugin has filled my IDE with errors.
That's life, but my question is how to report them best?
Because for a Jetbrains or Google plugin, this goes straight to their issue tracker,
where they put the relevant data in a way that makes sense.
If I were to just copy/paste that into an issue, that would feel like spamming :P

[2022-08-10 04:45] jmfayard opened #5405 "`Jump to source` is not available in the `Run` view"
Bonjour,

## What?

If possible, support `Jump to source` for `SomeKotestSpec` in the `Run` view

## Why?

When a test fails, I can currently:
- `Jump to source` from the `Run` view the relevant test if it's a `PlainJunitTest`
- do the same from the `Kotest` view if it's a `SomeKotestSpec`
- but I can't `Jump to source` to a test  inside `SomeKotestSpec` from the normal `Run` view

In a project th

[2022-08-10 14:06] sksamuel opened #3144 "shouldContainJsonKeyValue should error if input is not a json path"
**Which version of Kotest are you using** 5.4.1

[2022-08-10 14:12] sksamuel opened #3145 "shouldMatchJsonResource requires fields in order"
**Which version of Kotest are you using** 5.4.1

[2022-08-10 14:12] sksamuel commented on #3145
@Kantis thoughts on this ?

[2022-08-10 18:41] Kantis commented on #3145
Are you saying that

[code]

`shouldEqualJson` would accept that difference, so I think `shouldMatchJsonResource` should too.

[2022-08-10 21:37] Kantis opened #3146 "Show unsigned numbers with `u` suffix"
Example:

[code]
fails with:
[code]
the u would make it a bit clearer why this fails:

[code]

[2022-08-11 14:48] broglep-work commented on #3130
We are experiencing probably related issue when using vertx JsonObject. They are also Iterable and when they contain a complex property value (like a list), comparison fails.

[code]

Outputs:
[code]

(Using kotest 5.4.1)

[2022-08-11 20:25] Kantis commented on #3130
Sounds like it has some unfortunate consequences. Perhaps you could try dropping the `is Iterable` and see what tests fail as a result to help remember why it was added @ashishkujoy ?

[2022-08-11 20:36] Kantis commented on #3145
I added a couple of tests here to check: https://github.com/kotest/kotest/commit/aa750b1e97402d948bbabde964b11f06edfb9361

Seems array order matters, and property order doesn't, which is in line with the [defaults for shouldEqualJson](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-json/src/commonMain/kotlin/io/kotest/assertions/json/compare.kt#L71). Perhaps we cou

[2022-08-12 00:20] #5415 closed, assigned to nobody

[2022-08-12 00:47] charleskorn commented on #3060
This should be resolved in 5.4.2 - could you please give that a try @kboyarshinov and @alkincakiralar1996?

[2022-08-12 00:48] #3060 closed, assigned to nobody

[2022-08-12 05:02] krzema12 commented on #5423
It still would be nice to have it.

[2022-08-12 05:10] sksamuel commented on #5423
It's still on the roadmap.

On Fri, 12 Aug 2022 at 00:02, Piotr Krzemiński ***@***.***>
wrote:

[2022-08-12 14:46] nsk90 opened #3148 "withData() not working as expected with BehaviorSpec"
kotest version: 5.4.1
kotlin version: 1.7.10

I have a trouble with data tests using `BehaviorSpec`. I have tried both `withData()` overloads for top level scope and container scope usage.

* top level case fails with InvalidDslException
* container case does not compile util I use explicit context receiver, which looks ugly

[code]

Does `BehaviorSpec` support using `withData()` api? Is that a bu

[2022-08-13 04:02] AarjavP commented on #3032
I think it makes sense to have such method but in this case where I needed to compare two collections of items, I would miss the nice assertion message stating the differing elements

I do like tbvh's suggestion of adding additional checks for self type Iterable using reflection but I agree that it may still not cover all cases. I wonder of we can just have a simple config where we explicitly spec

[2022-08-13 13:13] iRomul opened #3152 "Kotest + Allure: NoSuchMethodError: io.kotest.core.descriptors.Descriptor$DefaultImpls.path$default(...)"
Hi! I'm encountering with an error `java.lang.NoSuchMethodError: 'io.kotest.core.descriptors.TestPath io.kotest.core.descriptors.Descriptor$DefaultImpls.path$default(io.kotest.core.descriptors.Descriptor, boolean, int, java.lang.Object)'` while trying to run minimal test with Allure extension.
Full exception:
[code]

Dependencies used in project:
[code]

Kotest config:
[code]

Test class:
[code]

[2022-08-13 15:30] LeoColman commented on #3099
Nice catch!

[2022-08-13 16:25] aSemy opened #3153 "Kotest is not enabled in Gradle Kotlin Multiplatform project: "no explicit dependency version has been provided""
* Kotest 7.4.2
* Kotlin Multiplatform 1.7.10
* Gradle 7.5.1

I'm getting a warning from Kotest in my Kotlin Multiplatform project about the Gradle config

[code]

I'm not sure what this means.

1. I've defined Kotest dependencies in `build.gradle.kts` `commonTest`, but the version is provided by a [Java Platform](https://docs.gradle.org/current/userguide/java_platform_plugin.html) subproject.
2. t

[2022-08-13 20:16] progresivoJS opened #3155 "Is there any way to clear all mocks after each data testing?"
### Problem

I want to clear mocks after each data testing.
The problem case is following.

[code]
In this case, verifying `mockked.handle()` may fail, because in this test function, single mockked instance is used.

### Ugly Solution
Currently, the second best solution is just to append `clearAllMocks()` after each data testing.
[code]

Is there any idea for this problem?

FYI. I used mockk.