[2021-02-12 15:32] sksamuel commented on #2089
If I do `eventually(1.seconds, 10.seconds)` would you expect it to run once or twice?
I like the thinking behind this, but also if your test is expensive then running it again as you exit the loop might be unexpected.

[2021-02-12 18:03] xeruf commented on #2089
I would expect it to run twice, yes. Imo, regardless of the interval, there should be a check at the end of the duration. How can such a test be that expensive that that would be a problem?

Either way, in the above case, it should definitely run more than once - if the coroutines are all busy and there are only two checks with one at the end of the duration, fine, but that second check needs to c

[2021-02-12 18:05] xeruf opened #2093 "Merge FunSpec and ShouldSpec?"
Is there any architectural reason to not have a single style where both `test` and `should` can be used? I actually have tests where that could be convenient.

[2021-02-12 18:06] sksamuel commented on #2093
No reason why you couldn't combine a bunch of them really.
I guess history.
Could have a new one that replaces them both, and the other two are discouraged.

[2021-02-12 18:06] sksamuel commented on #2093
Or what you say, add should support into fun spec.

[2021-02-12 18:13] jschneidereit commented on #2089
Personally, I've got some pretty expensive tests and risk of being throttled will cause other problems. We should think about this carefully...

[2021-02-12 18:14] sksamuel commented on #2089
I don't see why you would always want the test to run again after the duration is over?
I mean you're explicitly saying, please run this for 5 seconds, not 5 seconds + another go.
I'm open to being convinced though :)

[2021-02-12 19:30] xeruf commented on #2089
Okay, whether this should always happen is debatable, but this is not:

[2021-02-12 19:59] jschneidereit commented on #2089
If the second check doesn't happen, doesn't that just mean your duration was too short or your delay too long?

[2021-02-12 20:52] #2083 closed, assigned to ashishkujoy

[2021-02-13 03:25] myuwono opened #2095 "Arb composition through Arb.bind / Arb.flatMap should preserve edgecases"
**Description**

When the edgecases in one of the arbs in bind / flatmap were empty, the resulting edgecases is empty.

[code]

This is due to the cartesian product between any list with an empty list is an empty list. This is sometimes less than ideal especially if we need to test a system which depends on multiple inputs, each with its own set of edgecases. We need to find a way to make sure the

[2021-02-13 21:08] sksamuel commented on #2089
I think the problem can be solved. When we exit the eventually loop, we check the time from the last run. If _that_ time is > interval, then we run one more time.

This solves the problem whereby a dispatcher is not free to run the eventually and it never runs before the delay expires.

What do you think @jschneidereit @xerus2000

[2021-02-13 23:08] jschneidereit opened #2098 "kotest.tags should come from properties or environment"
Currently it only comes from properties

[2021-02-14 03:36] funct7 commented on #1544
I wish the docs were more explicit about this. Wasted hours searching, downloading the sample project, changing versions to find out what was wrong.

[2021-02-14 03:39] sksamuel commented on #1544
@funct7 what would you like the docs to be more explicit on exactly? Let me know and I'll make a PR to update them.

[2021-02-14 03:47] funct7 commented on #1544
The [document on installation for Android](https://kotest.io/docs/quickstart#test-framework) doesn't mention anything about the Kotest IntelliJ plugin. Also the fact that `useJUnitPlatform()` seems to be deprecated also confuses users if they should go ahead and use it.

As this issue points out, none of the tests were being discovered, and I had to download the Android sample code and change the

[2021-02-14 04:09] sksamuel commented on #1544
The plugin is only required for the play icon in intellij not for gradle.

I'll make that more clear.

On Sat, 13 Feb 2021, 21:47 Josh Woomin Park, <notifications@github.com>
wrote:

[2021-02-14 20:49] PaulWoitaschek commented on #2047
This is a compiler bug. I narrowed it down to:

[code]

And reported it upstream: https://youtrack.jetbrains.com/issue/KT-44928

[2021-02-14 20:50] sksamuel commented on #2047
Nice job.

On Sun, 14 Feb 2021 at 14:49, Paul Woitaschek <notifications@github.com>
wrote:

[2021-02-15 08:04] henry-jo commented on #2079
**With kotest 4.3.2
With kotlin 1.3.72**

@sksamuel
Simple examples
[code]
- All 4 testcases works in `SingleInstance` mode, whereas only three of them works in `InstancePerLeaf` mode
- When second Given description changes to `테스트 테스트`, all 4 testcases works well even in `InstancePerLeaf`
- Typing in Korean sometimes made a problem. I guess a particular circumstance makes a problem.
- Korean word

[2021-02-15 08:08] sksamuel commented on #2079
Sounds like a bug. I think easy fix for 4.4.2.

On Mon, 15 Feb 2021, 02:05 ByeongChan Cho, <notifications@github.com> wrote:

[2021-02-15 08:28] henry-jo commented on #2079
Okay, thanks :)

[2021-02-15 10:19] xeruf commented on #2089
Yes, that was exactly what I wanted :)

[2021-02-15 10:21] xeruf commented on #2089
No, coroutines are queued, and sometimes they are delayed a bit more if other busy coroutines are still working. Please read the error in my first comment carefully.

[2021-02-15 10:38] sksamuel commented on #2089
Do you want to make the PR or shall I? @xerus2000

[2021-02-15 10:57] PaulWoitaschek commented on #2047
This can be worked around by adding:
`kotlin.native.cacheKind=none` to your `gradle.properties`. As this is an upstream issue I think this can be closed. Maybe add a note to the release notes @sksamuel

[2021-02-15 12:12] sksamuel commented on #2047
Can you clarify the circumstances upon which you need that property. Is it
anyone using 1.4.30 ?

On Mon, 15 Feb 2021 at 04:58, Paul Woitaschek <notifications@github.com>
wrote:

[2021-02-15 12:19] PaulWoitaschek commented on #2047
Apparently the workaround doesn't work. https://youtrack.jetbrains.com/issue/KT-44826

I'll try later if we can modify kotest to not trigger that error.

[2021-02-15 12:20] sksamuel commented on #2047
I hope they'll release 1.4.31 with a fix soon then.

On Mon, 15 Feb 2021 at 06:19, Paul Woitaschek <notifications@github.com>
wrote:

[2021-02-15 18:01] xeruf commented on #2089
Would be nice if you did @sksamuel :)

[2021-02-15 18:12] sksamuel commented on #2089
Ok I'll pick it up tonight or tomorrow.

On Mon, 15 Feb 2021 at 12:02, Janek <notifications@github.com> wrote:

[2021-02-16 18:24] caramelomartins commented on #2011
Hey! Just wanted to get back to you on this. I've got some minor progress:

![image](https://user-images.githubusercontent.com/2028058/108105192-36a97000-7084-11eb-96b3-e5fc67d2bdaa.png)

Not pretty or particularly useful yet but it does produce something. :smile:

[2021-02-16 19:43] #2089 closed, assigned to nobody

[2021-02-16 21:07] DarkFelex commented on #5457
Can confirm exactly the same issue with `BehaviorSpec`.

[2021-02-17 22:34] enolive commented on #5454
Affects me as well. Observed it both on my Windows and Linux machine with several versions of IntelliJ 2020.x

[2021-02-17 23:12] enolive commented on #5536
Tried it out today in Ultimate 2020.3.2.

The auto-test button actually works on my machine, at least for maven and gradle projects.

There is a slight problem when using Gradle for all build actions instead of IDEA (File | Settings | Build, Execution, Deployment | Build Tools | Gradle). For some reasons, my project is constantly rebuild which triggers the auto-testing feature.

I don't think this

[2021-02-18 03:09] #1899 closed, assigned to nobody

[2021-02-18 08:23] yaroslav-shlapak commented on #1912
Hey, any plans to fix this bug?

[2021-02-18 08:24] yaroslav-shlapak commented on #1911
Hey, any plans to address this issue?

[2021-02-18 17:54] snowe2010 commented on #1401
don't close pls. I've started to look into it again, but keep getting pulled off for other work.

[2021-02-19 06:56] renpillay opened #2112 "Probabilistically use edge cases with random data instead of a cartesian product of all edge cases"
Current status: Given 2 arbs with 5 edge cases each, a test that uses these two arbs would require 25 (5*5) iterations before going into testing random values. This scales poorly with a large amount of arbs, or when combining arbs. For example - if we instead had 4 of these arbs, we'd need a minimum of 625 iterations. 6 of these arbs = 15,000. 8 = almost 400,000.

This makes using complex objects

[2021-02-19 16:18] sksamuel commented on #2112
So we have two methods currently:

[code]

Do we make edge cases return a single value (randomized, but within the "edge case constraints"), and the framework then picks from either an edge or a sample (weighted towards samples, customizable) or do we stick with a list.

Do edge cases still need the random parameter anymore, because now it's feasible to have larger edge cases lists (before the lis

[2021-02-19 22:13] dalewking opened #2113 "Add DayOfWeek assertions to Klock matchers"
Klock matchers should have matchers to assert that a value is on a given DayOfWeek value

[2021-02-19 23:30] myuwono commented on #2112
We still do, because even if we transition to probabilistic edgecases, bind / flatMap will still suffer the same bug because of the product with empty list. So that work still have to be done, but the way we solve that will have to depend on this now.

On type, you're right i've been thinking along the same lines regarding types. in 4.5 what we can do is to have the following instead
[code]

we ne

[2021-02-20 17:37] dalewking opened #2114 "Add a factory function to Matcher to simplify writing matchers"
There is a repetitive boilerplate when writing matchers. For example consider this one core matcher on Int:

    fun beLessThanOrEqualTo(x: Int) = object : Matcher<Int> {
      override fun test(value: Int) = MatcherResult(value <= x, "$value should be <= $x", "$value should not be <= $x")
    }

There are several bits of boilerplate in there that can be eliminated. What I propose is adding this t

[2021-02-20 18:27] dalewking commented on #2114
Actually now that Matcher has a companion object you could use an extension function for this. Here is what I added to our codebase:

    /**
     * Convenience function for creating custom matchers
     * @param tester Function that generates a MatcherResult for a value being tested
     */
    inline operator fun <T> Matcher.Companion.invoke(crossinline tester: (T) -> MatcherResult) =
        ob

[2021-02-20 18:46] dalewking opened #2115 "Support multiplatform mobile for Klock assertions"
The Klock assertions library currently does not support KMM (i.e. no IOS support)

[2021-02-20 19:14] sksamuel commented on #2112
I tend to favour the configuration as a parameter to Arb.bind.

What I was asking about with "do we need it" was this - since a bind accepts k gens, and since the values generated by each of those gens already includes some degree of edgecaseness, does bind need to provide any edge cases at all? In other words, the edgecaseness of bind is implicitly supplied via the values provided by the underlyi

[2021-02-20 19:15] sksamuel commented on #2114
I like the idea of adding the invoke to the companion object @dalewking . Do you want PR that up?

[2021-02-20 19:25] sksamuel commented on #2079
I cannot duplicate this error.

![image](https://user-images.githubusercontent.com/743706/108606280-d44fb880-737e-11eb-9e15-40b255e03d87.png)

I added a test here: https://github.com/kotest/kotest/commit/407351dba6b8a93805709aec836a46b51fe915a4

Did I copy the test case correctly ?

[2021-02-20 19:30] #2115 closed, assigned to nobody

[2021-02-20 19:42] caramelomartins commented on #2011
We can now go from having a summary of all the test classes to seeing tests in each of the test classes. Still without any styles.

![image](https://user-images.githubusercontent.com/2028058/108606713-899c6380-73b3-11eb-9f90-c5e77ffe959b.png)

![image](https://user-images.githubusercontent.com/2028058/108606727-a3d64180-73b3-11eb-8b3b-2974cdacb89c.png)

I've noticed something odd which is that non

[2021-02-20 20:33] myuwono commented on #2112
Nice yeah, i do prefer the bind level conf as well.

I see, indeed you can get the random edge+sample by calling Gen.generate(rs) in bind/flatmap's sample(rs) however I think we should not. My suggestion is to not conflate the two. I would still vouch for introducing `edgecase(rs)` or `generateEdge(rs)` mainly because of the following:

One that i was trying to avoid is implicitly dirtying `sample

[2021-02-20 20:39] myuwono commented on #2112
I'll raise a sample PR some time this week to illustrate what i mean. The positive is that i imagine everything becomes much simpler with probabilistic edges.

[2021-02-20 21:40] sksamuel commented on #2011
Looking good so far.

No, the durations should be set, assuming they take longer than 1ms

On Sat, 20 Feb 2021 at 13:42, Hugo Martins <notifications@github.com> wrote:

[2021-02-20 22:06] sksamuel opened #2117 "Add docs for kotest.properties"
Please describe here what you would like to see documented.

[2021-02-20 22:13] sksamuel commented on #2112
Ok that all sounds good.

On Sat, 20 Feb 2021 at 14:39, Mitchell Yuwono <notifications@github.com>
wrote:

[2021-02-20 22:26] sksamuel commented on #5453
A new version of the plugin that supports 2021.1 EAP has been uploaded. It usually takes Jetbrains 1-2 working days to approve the release - so hopefully by close of business Monday it will be in the marketplace, if not then Tuesday.

[2021-02-20 22:26] #5453 closed, assigned to nobody

[2021-02-20 22:27] sksamuel commented on #5454
This is fixed in the latest version of the plugin. It usually takes Jetbrains 1-2 working days to approve the release - so hopefully by close of business Monday it will be in the marketplace, if not then Tuesday.

[2021-02-20 22:27] #5454 closed, assigned to nobody

[2021-02-20 22:27] sksamuel commented on #5454
And thanks for the bug report @theHacker @enolive

[2021-02-20 23:24] sksamuel commented on #2011
We could expand the junit XML too, since the format is kind of limiting.

[2021-02-21 04:12] dalewking opened #2118 "Not sure how to build"
Trying to create PR, checked out the code and building fails so you at least need some documentation of what is needed:

[code]

[2021-02-21 04:17] sksamuel commented on #2118
You on a mac ?

On Sat, 20 Feb 2021 at 22:13, Dale King <notifications@github.com> wrote:

[2021-02-21 04:55] #1896 closed, assigned to nobody

[2021-02-21 04:55] #1830 closed, assigned to nobody

[2021-02-21 05:47] dalewking commented on #2118
Yes

[2021-02-21 13:17] caramelomartins commented on #2011
Definitely but I'd say that, for now, it would be good enough. It can obviously be expanded further in the future but it would be interesting to have both of them (XML and HTML) evolve together.

[2021-02-21 14:22] sksamuel opened #2119 "Exhaustive cartesian"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-02-21 17:53] sksamuel commented on #2118
I have disabled the watchos builds from master pending #2069.
Please try now.

[2021-02-21 17:56] #2071 closed, assigned to nobody

[2021-02-21 17:56] #2087 closed, assigned to ashishkujoy

[2021-02-21 17:56] #1970 closed, assigned to nobody

[2021-02-21 19:08] #2119 closed, assigned to nobody

[2021-02-21 19:08] #2117 closed, assigned to nobody

[2021-02-21 19:35] sksamuel opened #2121 "Improve shouldBe for collections"
`listOf(1, 2, 3) shouldBe listOf(3, 4, 5)` gives

Elements differ at index 0: expected:<3> but was:<1>
Expected :3
Actual   :1

Which is not great. I should be able to fix the entire test at once within reason. Changing index 0 will then give me an error at index 1.

`listOf(1, 2, 3) shouldBe emptyList()` gives

Unexpected element at index 0: 1

Which again, is only partial information.

[2021-02-21 23:47] #2118 closed, assigned to nobody

[2021-02-22 01:45] ashishkujoy opened #2123 "Unable to use non suspend version of forAll"
Currently both suspend and non-suspend version of forAll are in same package as result if I try to use non-suspend version of forAll, kotlin automatically try to infer that suspend version of forAll is getting used and shows error.
<img width="1135" alt="Screenshot 2021-02-22 at 7 15 09 AM" src="https://user-images.githubusercontent.com/34642693/108647061-b51b6d00-74dd-11eb-9773-3c003493c8cd.png">

[2021-02-22 02:11] dalewking commented on #1785
There is a good library for testing flows: https://github.com/cashapp/turbine

[2021-02-22 04:04] #2113 closed, assigned to nobody

[2021-02-22 04:05] #2114 closed, assigned to nobody

[2021-02-22 04:05] sksamuel commented on #2123
Is this data testing for all, or property testing for all ?

[2021-02-22 04:06] sksamuel commented on #1911
Can you make a standalone project that exhibits this behavior that can be imported directly into intellij ?

[2021-02-22 04:35] ashishkujoy commented on #2123
Property testing forAll

[2021-02-22 04:46] sksamuel commented on #2123
We should move the non-suspend to a `io.kotest.....blocking` package then ?

[2021-02-22 04:51] ashishkujoy commented on #2123
Yes, changing package is the only option I can see.

[2021-02-22 05:01] henry-jo commented on #2079
@sksamuel
Correct.

I tested it again in the latest version. Works well.

I mentioned above, I did the test on 4.3.2.
On 4.4.1, all tests are working well.
What changes are there between previous and new version?

[2021-02-22 05:15] sksamuel commented on #2079
In 4.4.0 the way test names were stored was tweaked to support non-ascii. So that probably fixed this too.
I think we can close this now ?

[2021-02-22 05:43] henry-jo commented on #2079
Yes, Thanks for your help.

[2021-02-22 06:50] #2079 closed, assigned to sksamuel

[2021-02-23 20:25] jschneidereit opened #2127 "Project Config should have option for failing if no tests were executed"
- config for failing project if there are no tests that match tag expression
- `declaredTags()` should be accessible from `ProjectListener`

[2021-02-24 14:48] ashishkujoy commented on #2123
@sksamuel I just realised that we already have non-suspend version of forAll  in `io.kotest.data.blocking` package.

[code]

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/data/blocking/forAll1.kt

The other non-suspending forAll in `io.kotest.data` is
[code]
https://github.com/kotest/kotest/blob/master/kotest-assertions/kote

[2021-02-24 14:48] #2123 closed, assigned to nobody

[2021-02-24 19:21] enolive commented on #5460
I can confirm that this bug still persists. But the description from @StragaSevera suggests that they are using the Gradle Runner to run the tests instead of the Plugin. When trying this feature with the Kotest Runner, it just reruns all tests from the session instead of only the failed ones. The same thing happens when using the JUnit Runner.

![grafik](https://user-images.githubusercontent.com/2

[2021-02-26 05:17] jschneidereit commented on #1770
Bloop, I have interest in taking a look at this in the next month or two

[2021-02-27 01:28] #1923 closed, assigned to nobody

[2021-02-28 16:43] #1495 closed, assigned to nobody

[2021-03-01 13:20] headsvk commented on #2047
I came across this issue in our multiplatform mobile project when updating to Kotlin 1.4.30. However, with the recent Kotlin 1.4.31 update, I can confirm iOS tests work again with Kotest 4.4.1 🙂

[2021-03-01 13:59] sksamuel commented on #2047
Great.  Marking as closed

[2021-03-01 13:59] #2047 closed, assigned to nobody

[2021-03-01 14:10] JavierSegoviaCordoba commented on #2047
Nice, I was going to check it today :)

[2021-03-01 14:21] LeoColman opened #2132 "Improve BigDecimal arbs"
Currently the BigDecimal arb is quite innefficient when we try to to create BigDecimals between certain values.

For example:

[code]

This didn't ever print a single number, and the test never completed.

[2021-03-01 16:39] hpehl commented on #2037
Any updates?
Is both mode supported? If so which version does it support?

[2021-03-01 16:44] sksamuel commented on #2037
There were some bugs that hopefully 1.4.31 has fixed. Then 4.4.2 will be
completely ir enabled

On Mon, 1 Mar 2021, 10:39 Harald Pehl, <notifications@github.com> wrote:

[2021-03-01 17:03] hpehl commented on #2037
Thanks @sksamuel for the info

[2021-03-02 22:13] #5467 closed, assigned to nobody

[2021-03-03 15:22] mkotsbak commented on #5457
Looks like same problem with FunSpec too.

[2021-03-03 17:32] sschuberth opened #2136 "Temporary files / directories should give a clue about which test / spec created them"
Looking at

https://github.com/kotest/kotest/blob/62012f30d12ac44d639883189d0e6a11e7c65265/kotest-framework/kotest-framework-engine/src/jvmMain/kotlin/io/kotest/engine/spec/tempfile.kt#L7

and

https://github.com/kotest/kotest/blob/62012f30d12ac44d639883189d0e6a11e7c65265/kotest-framework/kotest-framework-engine/src/jvmMain/kotlin/io/kotest/engine/spec/tempdir.kt#L6

I wonder whether we could appl

[2021-03-03 17:38] sksamuel commented on #2136
Excellent idea.

On Wed, 3 Mar 2021, 11:32 Sebastian Schuberth, <notifications@github.com>
wrote:

[2021-03-03 17:39] Zordid opened #2137 "Arrow matchers with fn are missing in lots of places"
When looking and using the Either / Validated assertion function, you can use

shouldBeValid { ... } to give more assertions to the encapsulated valid T.

BUT: when you need a matcher, you only got beValid() and beValid(e: T) - the corresponding function lambda assertion is simply missing.

This applies to basically all types mentioned above.

Is there a reason for this lack of matcher? It is abso

[2021-03-03 19:46] sschuberth commented on #2136
But does the `TestConfiguration` have any knowledge about the test / spec name? After a quick look I don't think that's the case. So where could we get that information from?

[2021-03-03 20:39] sksamuel commented on #2136
Test name no, but it could get it's classname.

On Wed, 3 Mar 2021 at 13:46, Sebastian Schuberth <notifications@github.com>
wrote:

[2021-03-03 20:46] sksamuel commented on #2137
I think the original idea was we'd have smart cast contracts by now for higher kinded types, but that doesn't seem to be coming.

If you had the time to add lambda versions that would be great.

[2021-03-03 20:57] sksamuel opened #2138 "Docs are not compiling"
@ashishkujoy can you take a look at the docs,they're not compiling after your last PR.

[2021-03-04 01:43] ashishkujoy commented on #2138
Fixed

[2021-03-04 01:43] #2138 closed, assigned to ashishkujoy

[2021-03-04 02:44] enolive opened #2139 "Distorted output when using datatest with a nested test structure"
**Which version of Kotest are you using**

Tested with 4.4.1

For some reasons, I am unable to build nested structures inside a data test written with the new io.kotest.core.datatest capabilities. The same show case works when using io.kotest.data instead

With datatest even the first attempt to build a nested structure fails:

![grafik](https://user-images.githubusercontent.com/20992515/109902314

[2021-03-04 02:47] sksamuel commented on #2139
The issue (I think) is that the static test builder functions are binding to the compile time test scope of the outer block. The inner "runtime" scope doesn't exist for the compiler to use.

So I think this is the same as https://github.com/kotest/kotest/issues/2078

[2021-03-05 01:57] #2132 closed, assigned to nobody

[2021-03-05 02:48] #2136 closed, assigned to sschuberth

[2021-03-05 10:29] Zordid opened #2144 "Easy way to check collection against a collection of matchers"
Here's the problem.
I have a collection of elements `Collection<E>` that I want to test using a collection of Matchers / functions `Collection<Matcher<E>>`.

I cannot test using `shouldBe listOf(...,...,...)` or even any of the `shouldContain` variants - because all of them require concrete instances of E to be checked against, not inspections.

What I need is inspection - but none of the inspecto

[2021-03-05 14:46] yaroslav-shlapak commented on #1911
@sksamuel can I use AS and android modules to try to replicate this issue on the test project? Not sure if it's related to this, but the modules on which I reproduced this issue were `com.android.library`

[2021-03-05 15:01] Zordid opened #2145 "Why does shouldHaveSingleElement and other Collection "shoulds" have predicate instead of block for assertions?"
What I do not really get is: when does your library want predicates (T)->Boolean and when does it require a function block that itself can do multiple assertions using matchers and should constructs?

I.e.:
[code]

vs. (not the case)
[code]

I've stumbled across both ways, but the simple predicate one is used for collections - and I do not like it at all, because the error messages don't reveal an

[2021-03-05 15:45] sksamuel commented on #1911
Yes please.

On Fri, 5 Mar 2021 at 08:47, Yaroslav Shlapak <notifications@github.com>
wrote:

[2021-03-05 16:41] sksamuel opened #2146 "Release 4.4.2 with coroutines 1.4.3"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-03-05 21:56] xenomachina opened #2149 "Please provide a version of "eventually" that is not reliant on "experimental" features of Kotlin"
`eventually` relies on `@ExperimentalTime`. Apparently [this means that even patch releases of kotlinx-coroutines can break binary backwards compatibility](https://github.com/Kotlin/kotlinx.coroutines/issues/2565).  This, in fact, happened with the update from 1.4.2 to 1.4.3 because the mangled name of `delay(Duration)` changed. You can verify this by getting the two jars, kotlinx-coroutines-core-

[2021-03-06 02:07] sksamuel commented on #2149
Yes fair point. 4.4.2 is being released now with 1.4.3 so that should keep you good for the time being while we add equivs.

[2021-03-06 02:09] sksamuel commented on #2144
So if I understand, if you have a collection of size 5 and 5 matchers, each matcher should work on a single element, and each element should work on a single matcher.

[2021-03-06 02:10] sksamuel commented on #2145
It's probably just because the project is large and we have a smaller number of regular committers so there will be some areas that miss functionality like this. If you want to make a PR that would be great, or if you have a list of matchers you want the block for we'll add them.

[2021-03-06 03:09] sksamuel commented on #2146
Done.

[2021-03-06 03:09] #2146 closed, assigned to nobody

[2021-03-06 03:10] sksamuel commented on #2037
4.4.2 is released which has IR support.

[2021-03-06 03:10] #2037 closed, assigned to nobody

[2021-03-07 10:37] sschuberth opened #5452 "Offer a way to set VM options programmatically"
Looks like the *kotest* plugin creates different kinds of IDEA run configuration depending on whether the whole spec or just a single test is run:

For whole specs a run configuarion of type "Gradle" is created, for single tests a run configuration of type "Kotest" is created. Now, I'd like to automatically set `-Dkotest.assertions.multi-line-diff=simple` as a VM options when running tests from th

[2021-03-07 14:14] zeitlinger opened #2153 "data test silently ignored"
**Which version of Kotest are you using**

4.4.2

[code]

[2021-03-07 14:20] sksamuel commented on #2153
Can you include the punkt class too.

On Sun, 7 Mar 2021, 08:14 Gregor Zeitlinger, <notifications@github.com>
wrote:

[2021-03-07 15:46] sksamuel commented on #5452
Would this do the trick.

https://kotest.io/docs/intellij/intellij-properties.html

On Sun, 7 Mar 2021, 04:38 Sebastian Schuberth, <notifications@github.com>
wrote:

[2021-03-07 16:51] sksamuel commented on #2153
I guess Punkt is just `data class Punkt(val x: Double, val y: Double)`

[2021-03-07 17:01] sksamuel commented on #2153
Ok, you cannot dynamically add root tests. Root tests must be added by the constructor only. This is confusing, and the subject of another ticket https://github.com/kotest/kotest/issues/2078

In the meantime, you can add either add a minus after your test name as you put in the comments, or have no test name at all.

This will be fixed for 4.5

[2021-03-07 17:35] zeitlinger commented on #2153
Great - then I can close this

[2021-03-07 17:35] #2153 closed, assigned to nobody

[2021-03-07 19:22] sschuberth commented on #5452
I don't see how, as I'd like to *only* use `-Dkotest.assertions.multi-line-diff=simple` when running tests from the IDE; when running from the CLI by directly invoking Gradle tasks (like on CI), I'd *not* like to have this property set.

[2021-03-07 19:42] sksamuel commented on #5452
Right I see.

Well in general, it's difficult to know when you're using the IDE vs gradle
because you can just invoke gradle from inside the IDE anyway.
What about if we added a system property that is set by the intellig kotest
plugin, and when that is set, we load properties from a file
`kotest.plugin.properties`. So kind of like what I linked you to, but only
for when you're using the intellij

[2021-03-07 19:43] sksamuel commented on #5452
You could also create project config that sets that value based on whether
idea.rt is on the classpath.

On Sun, 7 Mar 2021 at 13:41, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2021-03-07 20:32] sschuberth commented on #5452
Did that just now, works great, thanks for the idea!

[2021-03-07 20:32] #5452 closed, assigned to nobody

[2021-03-07 21:04] sksamuel commented on #2070
Released in a standalone repo as a test listener.

https://github.com/kotest/kotest-extension-embedded-kafka

[2021-03-07 21:04] #2070 closed, assigned to nobody

[2021-03-07 21:43] deining opened #2156 "System Exit Extension: Test fails though it should pass"
**Kotest 4.4.2**

I encountered strange behaviour when using the `System Exit Extension`:

Minimum working example:

[code]

I'm testing a command line application based on the [https://picocli.info](picocli) framework.

**First test:** PicocliApp app is called, returns an exit code, top level process exits with returned code. Everything is fine here.

**Second test:** PicocliApp app is called, ap

[2021-03-07 22:06] sksamuel commented on #2156
If you do something like this:

[code]

It works fine.
So the picocli app must be doing something inside the CommandLine constructor or execute method.

[2021-03-07 22:11] sksamuel commented on #2156
This is a guess, but if execute forks, then the exitProcess inside App2 is just going to exit the forked JVM and therefore cannot be intercepted by the kotest security manager.

[2021-03-07 22:46] LeoColman commented on #2156
[code]
doesn't throw an exception.

It instead executes your code and calculates an exit code based on what was executed. The exception is never rethrown, and for such reason you can't catch it with `shouldThrow`.

It has nothing to do with forking the JVM. It's just that the exception won't fall through.

What we can do is improve the listener to record every caught `System.exit` and then people

[2021-03-07 22:48] LeoColman commented on #2156
The line that won't rethrow the exception is

in this class, line 2090~

https://github.com/remkop/picocli/blob/e5aa2d88a5cbe12a66da639233a4e9169b8fd528/src/main/java/picocli/CommandLine.java

[2021-03-07 22:55] sksamuel commented on #2156
Oh nice find

On Sun, 7 Mar 2021, 16:49 Leonardo Colman, <notifications@github.com> wrote:

[2021-03-07 23:21] LeoColman commented on #2156
I don't think that would be very used, but it also isn't that hard to implement and won't be too confusing. I'm not against it :D

[2021-03-07 23:23] sksamuel commented on #2156
I guess its easy enough for SpecSystemExitListener to store the last return code so it can be inspected. That's how the Java one works.

[2021-03-07 23:29] sksamuel commented on #2156
What do you think about something like this https://github.com/kotest/kotest/pull/2157 @LeoColman

[2021-03-08 02:30] #2156 closed, assigned to nobody

[2021-03-08 02:45] #2121 closed, assigned to ashishkujoy

[2021-03-08 04:04] #2098 closed, assigned to nobody

[2021-03-08 11:23] deining commented on #2156
Doesn't that make sense?

I see it from a test user perspective: I called `System.exit` and want to test for this, but the test fails.
Like said, other test systems perform different (=better) when confronted with my second test case.

You may also have a look at the [perspective](https://github.com/remkop/picocli/issues/1341#issuecomment-792678217) from the author of picocli.

[2021-03-08 11:31] deining opened #2159 "Report: illegal reflective access operation"
**Kotest 4.4.2**

I'm testing a command line application based on the [https://picocli.info](picocli) framework.
While doing so, I encountered an illegal reflective access operation that I would like to report:

Minimum working example:

[code]

When running the test, I'm getting:

[code]

Thanks for investigating!

[2021-03-09 01:03] remkop commented on #2156
An alternative would be to throw a Throwable from the security manager instead of Exception, because my guess is that libraries and applications are less likely to catch all Throwables (and cause the same issue with the test). However, "less likely" is not zero. :-)

The approach suggested by @sksamuel to store the last return code so it can be inspected is more robust.

Thanks all for raising thi

[2021-03-09 06:09] Zordid commented on #2144
Correct. In a very concrete situation now, I have 10 strings in a list. But I only know that they must contain certain substrings "1 of 10", "2 of 10", "3 of 10", etc.

I simply do not know how to test that in kotest.

In Hamcrest, I created a list of matchers, each being "`containsString`" and then checked `hasItems(matchers)`.

Any ideas?

[2021-03-09 07:17] sksamuel commented on #2144
Can you link me to the hamcrest stuff.

On Tue, 9 Mar 2021, 00:09 Olaf Gottschalk, <notifications@github.com> wrote:

[2021-03-09 13:22] Zordid opened #2160 "shoud(Not)BeEmpty for maps is missing"
Maps can also be verified to be empty. Currently only

`map shouldHaveSize 0`

is offered, but for `shouldBeEmpty` this is needed:

`map.toList().shouldeBeEmpty()`

[2021-03-09 13:36] sksamuel opened #2161 "Lifecycle methods for property test"
Allow some way to register beforeProperty / afterProperty callbacks that work for all property tests / all property tests in a scope. Possibly using the coroutine context as a way to make arbitrary data available.

[2021-03-09 13:43] sksamuel commented on #2160
Is this not working for you

https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/maps/matchers.kt#L56-L57

[2021-03-09 13:54] Zordid commented on #2160
So sorry! Was on 4.4.1... did not update until just 5 minutes ago where I also found a bug you already fixed. My mistake! Thanks! Need to get to contribute to your project soon, currently very busy trying to port everything to kotest...

[2021-03-09 13:54] #2160 closed, assigned to nobody

[2021-03-10 16:25] sksamuel opened #2162 "Assert softly on target ?"
Perhaps,

[code]

[2021-03-10 16:52] ashishkujoy commented on #2162
how will it be different from the existing.

[code]

[2021-03-10 19:02] LeoColman commented on #2162
https://github.com/kotest/kotest/issues/1427

[2021-03-10 19:03] LeoColman commented on #2162
We removed it because it went bananas with the current syntax

[2021-03-10 19:04] LeoColman commented on #2162
https://github.com/kotest/kotest/pull/1557

[2021-03-10 19:05] LeoColman commented on #2162
https://kotlinlang.slack.com/archives/CSYLDDZUY/p1594489972146700

[2021-03-10 19:25] sksamuel commented on #2162
Ahh that's right.
Silly me.

On Wed, 10 Mar 2021 at 13:06, Leonardo Colman <notifications@github.com>
wrote:

[2021-03-11 16:02] ashishkujoy opened #2163 "Support JS/IR in Framework"
snapshot:  4.6.0.166-SNAPSHOT.

Sample code for reproducing the issue: https://github.com/ashishkujoy/kotlin-js-jvm-library

[2021-03-11 19:14] sarinarw opened #5451 "BehaviorSpec tests must be run from class level, or always pass"
Using each green arrow shown in the below image to run the test, all pass (which they should not), except for the `class`-level run.
<img width="450" alt="Screen Shot 2021-03-11 at 11 55 57 AM" src="https://user-images.githubusercontent.com/9454101/110841296-f55f4700-8262-11eb-91af-2bf0a619036c.png">

Code for reference:
[code]

Repro Steps:
1. Create Kotlin+Gradle project using:
[code]
2. Create

[2021-03-13 03:21] #2162 closed, assigned to nobody

[2021-03-13 18:36] nlochschmidt opened #2165 "java.util.NoSuchElementException when running Spring tests in parallel"
**Which version of Kotest are you using**
4.4.3

I believe I have run into a concurrency issue in the `SpringTestListener` related to the use of an un-synchronized `LinkedHashMap`. Every once in a while I get this error message

[code]

coming from

https://github.com/kotest/kotest/blob/01a2188a6440189b996757503e6d410567d5fb78/kotest-extensions/kotest-extensions-spring/src/jvmMain/kotlin/io/kotest

[2021-03-13 21:14] sksamuel commented on #2165
Seems like a good fix.

[2021-03-13 21:14] #2165 closed, assigned to nobody

[2021-03-15 07:00] #1764 closed, assigned to LeoColman

[2021-03-15 20:22] bbaldino opened #2168 "Add configuration option to send full test name paths to junit 5 platform"
The [JunitXmlReporter](https://kotest.io/docs/extensions/junit_xml.html) extension enables getting longer test names in an xml file, but surefire's console output still uses the shorter names.  It would be great to have the longer names in the surefire output as well.

[2021-03-16 08:41] Zordid commented on #2144
One missing way that Hamcrest offers as an example is to check a collection/iterable agains a set of matchers where the logic is that all matchers must "find" a corresponding item.
http://hamcrest.org/JavaHamcrest/javadoc/2.2/org/hamcrest/CoreMatchers.html#hasItems-org.hamcrest.Matcher...-

If I try that with Kotest, I am out of luck. You can only check against concrete items, but not against matc

[2021-03-17 12:02] pawegio commented on #1603
It seems to fail for Kotest + MockK again:
- kotest-runner-junit5-jvm: `4.4.3`
- kotest plugin: `1.1.30-IC-2020.3`
- mockK: `1.11.0`
- android studio: `Arctic Fox 2020.3.1 Canary 10`

(all recent versions)

`java.lang.NoClassDefFoundError: io/mockk/proxy/MockKAgentFactory`

Only tests without any mockk declared run without the issue.

[2021-03-19 11:16] headsvk opened #2171 "Make KoinListener work with property based testing"
I took me some debugging to find out why my property tests with Koin fail.\
I expected `KoinListener` would reset Koin after each test, no matter if it's a basic test or a property test.

Then I found out that the second run of my simple test reuses the values saved in Koin from the first run.
[code]

I understand I have to implement Koin support with `PropTestListener` on top of the `KoinListener

[2021-03-19 21:59] jschneidereit commented on #2127
Maybe in `runTestsIfAtLeastOneActive`

[2021-03-20 18:51] jschneidereit opened #2172 "TestResult should have a reason why tests were skipped"

[2021-03-20 19:55] jschneidereit commented on #1992
After working on #2172 It feels like `TestCase` should have the logger and the runner passes the contents of the logger to the `TestResult`

[2021-03-21 16:09] basshelal opened #2175 "Is it possible to smart cast when using `shouldBe` and `shouldNotBe` ?"
I know there exists the `shouldBeNull()` and `shouldNotBeNull()` which allow for smart casts, but is it possible to allow the more generic `shouldBe` and `shouldNotBe` have the same?

For example:

[code]

I know in order to implement this you would have to use the Kotlin contracts DSL as is shown in the implementation of `shouldNotBeNull()` and `shouldBeNull()`.

I'm not sure if this is even poss

[2021-03-21 20:32] #5463 closed, assigned to nobody

[2021-03-22 07:59] #1620 closed, assigned to LeoColman

[2021-03-22 09:32] agile-jordi opened #2176 "Arb.choose (the version taking Arbs) does not generate random values"
Kotest version: **4.3.1**

When using Arb.choose with Arbs, we always get the first edge case of the chosen Arb:

Code to reproduce:

[code]

When using `exampleArb` with `checkAll` we only get values "0" and "".

Possible fix:

[code]

[2021-03-22 12:16] yaroslav-shlapak commented on #1911
Sorry for the delay @sksamuel
Here is the project https://github.com/yaroslav-shlapak/KotestPluginDoesntRunJUnit4Tests. Also, I've confirmed that the same issue exists with the newer `4.4.2` Kotest version and `1.1.30-IC-2020.1` Kotest Plugin version.
Here is how to run tests from the package, only Kotest tests are being executed as a result:
<img width="658" alt="Screenshot 2021-03-22 at 14 11 55

[2021-03-23 01:55] LeoColman commented on #1620
Hey people!
Stale bot just reminded us of this issue.
I just pushed a fix to this behavior. Let's see if things improve!

[2021-03-23 06:49] mateuszkwiecinski opened #2179 "Suggestion: change `beEqualToIgnoringFields` signature to avoid runtime crashes"
### Context
I wanted to compare object eqaulity reflectively, as the object I wanted to compare [didn't have all properties included in equals call](https://github.com/pinterest/ktlint/commit/270584dc189a0babe6b527b9584cf44d9528e1ca#diff-0b1693fe6cb76775c846585ebcb4c1122eef31ff105a5a409dc1895d7a191061R16). I found Kotest exposes `beEqualToUsingFields` and `beEqualToIgnoringFields`, but looking at

[2021-03-23 07:44] Bombo commented on #1620
Thanks @LeoColman! How can we help test this?

[2021-03-23 10:21] LeoColman commented on #1620
Absolutely!
Take a look here:
https://kotest.io/docs/extensions/robolectric.html

[2021-03-23 17:05] mitasov-ra commented on #1483
@sksamuel
FYI
Right now I can see in `afterTest` callback in Gradle information about whole test hierarchy.
The info about test hierarchy stored in `TestDescriptor.parent` property.

I'm going to go deeper and check, is there needed info in Gradle test report generators or not.

My Gradle version is 6.8.1

P.S. Anyway, Gradle holds test hierarchy now, so theoretically making some kind of plugin fo

[2021-03-23 18:50] #5456 closed, assigned to nobody

[2021-03-24 13:45] piotrhermanowicz-silvair commented on #1743
Still not working for iOS. After adding library and simple test `"name" shouldBe "name"` in common folder, android works just fine but iOS throws error.

[code]

Edit: After some tests it turns out that this was fixed in kotlin 1.4.31 :)

[2021-03-25 04:22] peter-majeed opened #2182 "Error while running mvn test target: java.lang.NoSuchMethodError: 'io.github.classgraph.ClassGraph io.github.classgraph.ClassGraph.rejectPackages(java.lang.String[])'"
Since upgrading from Kotlin version 1.3.70 to 1.4.31, when running `mvn test`, we get this exception.

	at io.kotest.engine.config.DetectConfigKt.detectConfig(detectConfig.kt:28)

Below is a snippet of our mvn configuration.

[code]

We're using `maven-surefire-plugin v.2.22.2`. Having had a quick look, it _does_ appear that `io.github.classgraph.ClassGraph.rejectPackages` still exists @ https://g

[2021-03-31 11:12] meesamh opened #2185 "Eventually doesn't handle multiple exceptions"
**Which version of Kotest are you using**
v3.x

According to this [comment on eventually](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/timing/eventually.kt#L56), `eventually` should handle `AssertionError` when another exception is passed in as exceptionClass. That doesn't seem to be the case when I pass in a dif

[2021-03-31 19:25] #2185 closed, assigned to nobody

[2021-04-01 22:10] jwalrus opened #2187 "upgrade `kotest-assertions-arrow` to work with Arrow 0.13.1"
Upgrade the `kotest-assertions-arrow` assertions to work with Arrow 0.13.1. A number of things have changed, for example, `Either.Right.b` and `Either.Left.a` are now simply `Either.Right.value` and `Either.Left.value`

[2021-04-01 22:24] jwalrus commented on #2187
I am really interested in contributing to this project and kotest more generally. Let me know if you'd like discuss how you see this set of matchers evolving, for example, `Eq`, `Order`, etc are being deprecated in Arrow `0.12.0` and removed in `0.13.1`.   Really, most of the higher-kinded stuff is begin removed.

[2021-04-01 22:47] cldfzn commented on #2187
I've made changes to at least compile and pass tests with the latest arrow:
https://github.com/kotest/kotest-assertions-arrow/pull/1

[2021-04-02 00:34] jwalrus commented on #2187
thanks @cldfzn. FWIW, thanks to Arrow's strategy of deprecating everything in 0.12.0, it appears one can upgrade Arrow to 0.12.0 and everything works just fine with the current version of the library. However, we need @cldfzn changes before upgrading to 0.13.1

[2021-04-02 00:41] sksamuel commented on #2187
One of the reasons I moved this to a top level repo was so that we can iterate much faster compared to the main repo.
I think we can keep this in line with the current arrow release whenever that changes.

[2021-04-02 04:24] #1858 closed, assigned to nobody

[2021-04-02 15:15] sksamuel opened #2188 "Add beforeGroup / beforeFactory callbacks to test factories"
should run before any of the tests in the factory, and after all the tests in the factory, but only where the factory was included.

[2021-04-04 12:00] #2179 closed, assigned to nobody

[2021-04-04 13:56] sergey-morenets opened #2189 "Parametrized tests are not executed"
Hi

I'm new to Kotest and tried to use data-driven example which didn't work well for me:

[code]

In Intellij IDEA 2021 beta I got no errors although I expected 4 tests (all of them should fail).
If I use Gradle: _gradle test_ the "test" test also passed.
Please advise how to fix this parametrized test.

**Which version of Kotest are you using**

4.4.3

[2021-04-04 15:19] sksamuel commented on #2189
You can't use forAll with StringSpec at the moment. It will be fixed in 4.5.

You can use free spec if you place a minus symbol after the test name
string.

"My test" - { ....}

Or another spec type such as FunSpec.
On Sun, 4 Apr 2021, 08:56 Sergiy Morenets, ***@***.***> wrote:

[2021-04-04 16:23] sergey-morenets commented on #2189
Thank you, it works with FreeSpec.
However I don't see any warnings in the documentation that it's not supported with StringSpec now:
https://kotest.io/docs/framework/data-driven-testing.html

[2021-04-04 16:30] sksamuel commented on #2189
Thanks, updated.

On Sun, 4 Apr 2021 at 11:24, Sergiy Morenets ***@***.***>
wrote:

[2021-04-06 17:36] ReaktorDTR commented on #2187
Hi. I noticed changes related to migrating to the new version of the Arrow library.
In merge request was used a new way of creating NonEmptyList using constructor `NonEmptyList(1, listOf(2, 3, 4, 5))`. But I found a better way to do it using function `nonEmptyListOf(1, 2, 3, 4, 5)`.
I tried to make a pull request to the repo but I don't have access to create a branch.

It's a minor thing, you can

[2021-04-07 16:41] jschneidereit opened #2190 "Eventually only calls listener on successful result"
In the case that someone is using matchers within their eventually function we should call their listener when the exception produced by those matchers is thrown. Currently we only call the listener on a [successful result from the producer function](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/timing/eventually.

[2021-04-08 05:50] bjpe opened #2192 "Failing kotest assertion seems to not be correctly propagated to test results in IntelliJ"
Hi everyone,

we a have project with Java and Kotlin code, and both have JUnit and kotest tests (we are migrating from Java to Kotlin). When we execute all tests in IntelliJ using the context menu action Run 'All Tests', we observed the following irritating behaviour:
* Both JUnit and kotest tests are executed (good)
* A failing JUnit assertion marks the test class and the entire test executed as

[2021-04-08 08:17] bjpe opened #5450 "Failing kotest assertion seems to not be correctly propagated to test results in IntelliJ"
Hi everyone,

I'm not sure if this is the right project, so I also reported it under https://github.com/kotest/kotest/issues/2192.

We a have project with Java and Kotlin code, and both have JUnit and kotest tests (we are migrating from Java to Kotlin). When we execute all tests in IntelliJ using the context menu action Run 'All Tests', we observed the following irritating behaviour:
* Both JUnit

[2021-04-08 08:17] bjpe commented on #2192
Hi everyone,

in case this is the wrong project I also reported it as https://github.com/kotest/kotest/issues/5450.

[2021-04-08 13:20] pawegio commented on #5458
It still fails with `java.lang.NoClassDefFoundError: io/mockk/proxy/MockKAgentFactory` for:
[code]

[2021-04-08 16:12] ashishkujoy opened #2193 "shouldBeEqualToComparingFields matcher to check equality based of field instead of equals method of a class"
For entity class where equality or `equals` method consider the unique key or id of entity class, if we want to check all fields of that entity are equal we would need a matcher which check all fields of that entity are equal.

Something like [this](https://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#field-by-field-comparison)

[2021-04-08 18:07] #2190 closed, assigned to nobody

[2021-04-08 21:28] sksamuel opened #2195 "H2 embedded SQL database extension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-04-09 13:57] sksamuel opened #2196 "assertSoftly non-inline version"
assertSoftly is inline, so debugging doesn't work in intellij.
We can make this not-inline but then you can't use suspend functions inside it, unless we make this suspend too. Which is fine for kotest, but wouldn't be great for other frameworks like junit.

Perhaps we add a kotest specific version that is suspend ?

[2021-04-09 16:35] LeoColman commented on #2196
Didn't the new Kotlin plugin theoretically solve the issue with inline and debugging?

I remember reading something like this in the latest patch notes

[2021-04-09 18:25] KweBoakye opened #2198 "Using checkAll, forAll and using take on an Arb cause an InvalidMutabilityException on XorWowRandom for Ios"
Version of Kotest is 4.43

Using checkAll and ForAll with or without Generators (Arbs) causes the exception however if a PropTestConfig is passed to them with a seed the exception no longer happens.

The exception also happens with something like `Arb.long().take(1)` whether it's used with runBloacking or not but not with
`Arb.long().take(1,RandomSource(Random(1),1))`

[related slack thread](https

[2021-04-10 17:03] #2198 closed, assigned to nobody

[2021-04-10 17:04] sksamuel commented on #2196
I've not tried it with 1.5 M2 but the you track tickets I read  are not marked as fixed or even with a targetted version

[2021-04-10 17:48] sksamuel commented on #2112
This is a good reason not to just use generate instead bind like I was suggesting.

I think the implementation here can be simplified a bit, and I want to remove options in the public API for reasons I discussed previously. Let me merge this in and create another PR that proposes some further modifications.

[2021-04-10 17:49] #2112 closed, assigned to myuwono

[2021-04-10 22:19] sksamuel commented on #2176
The way edge cases work is being changed in 4.5. A fix for this can go into that work.

[2021-04-10 22:32] sksamuel commented on #2127
Shall we do this for 4.6 ?

[2021-04-10 22:49] jschneidereit commented on #2127
I'll take a look at it tomorrow to see if it's doable in the short term

[2021-04-11 00:55] sksamuel commented on #1483
@mitasov-ra let me know what you find 👍🏼

[2021-04-11 11:51] sksamuel commented on #2043
Changelogs are up to date.

[2021-04-11 11:51] #2043 closed, assigned to nobody

[2021-04-11 13:30] #2193 closed, assigned to ashishkujoy

[2021-04-12 07:31] Zordid opened #2203 "Option.shouldBeNone() is defined with non-nullable Any"
**Which version of Kotest are you using**
4.4.3

I have an Option<Any?> that I need to test against being none.
I was quite surprised, `x.shouldBeNone()` did not compile... Turns out, that `shouldBeNone()` is defined like this:
[code]

To correct that, add a ?:
[code]

would also work. Same applies for `shouldNotBeNone` of course and `beNone`.

In fact - one of the few reasons why anybody would us

[2021-04-14 15:00] PaulWoitaschek opened #2204 "Add watchos support back for x86"
As watchos support was removed for x86, we're stuck with kotest 4.4.0.

There are [arm32](https://mvnrepository.com/artifact/io.kotest/kotest-common-watchosarm32) libraries for 4.4.3 but [x86](https://mvnrepository.com/artifact/io.kotest/kotest-common-watchosx86) is still at 4.4.0

[2021-04-14 15:25] sksamuel commented on #2204
Aren't we waiting on coroutines to support it ?
Or did that happen already ?

[2021-04-14 15:36] PaulWoitaschek commented on #2204
No, it's the old target that has been removed from the watchos shortcut but is still in use for us.

[2021-04-14 15:37] sksamuel commented on #2204
And wasn't that removed from latest coroutines? So 1.4.3 doesn't have either ?

[2021-04-14 15:53] PaulWoitaschek commented on #2204
Nope
https://mvnrepository.com/artifact/org.jetbrains.kotlinx/kotlinx-coroutines-core-watchosx86/1.4.3

[2021-04-14 16:24] sksamuel opened #2324 "Do not report specs which have no matching tests"
Eg, when using a tag, we should not include the classname if all the tests were filtered out.

[2021-04-15 04:32] #2049 closed, assigned to nobody

[2021-04-16 09:44] Zordid opened #2206 "When asserting maps, the way errors are reported is wrong"
**Which version of Kotest are you using**
4.4.3

When I assert that "SOMETHING *shouldBe* EXPECTED", I expect deviations from that to sound like this:

"Expected SOMETHING to be EXPECTED"

But strangely, when you do this for maps, it is the other way around - the classic confusion with actual and expected.

If you run this:
[code]

The output says:
Expected
{
  "field" = "expected"
}
to be equal t

[2021-04-16 14:21] Jacks0N23 opened #5449 "Does plugin support custom spec?"
I have custom spec — AllureBehaviorSpec.
Could I run my spec through this plugin?

[2021-04-16 16:02] sksamuel commented on #5449
Does allure spec extend one of the other specs?
It looks for the spec classes on the classpath and also for the structure they define.
If you have a custom structure then no it won't.

[2021-04-17 02:23] sksamuel opened #2207 "Handle multiple exceptions in Kotlin Kotest eventually"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-04-17 12:57] mjstrasser opened #2208 "JunitXmlReporter XML output files are being overwritten"
**Kotest version 4.4.3**

I have specified [JUnit XML Format Reporter](https://kotest.io/docs/extensions/junit_xml.html) so my test names include the nested paths.

But if the XML report files are written to the standard directory `build/test-results/test` directory, they are overwritten by some other reporting action. I demonstrated that by debugging in IntelliJ with breakpoints in `JunitXmlRepor

[2021-04-17 13:06] mjstrasser commented on #2208
I found a clue from running Gradle with `--debug`.

`2021-04-17T22:57:06.399+1000 [INFO] [org.gradle.api.internal.tasks.testing.junit.result.Binary2JUnitXmlReportGenerator] Finished generating test XML results (0.021 secs) into: /Users/michael/dev/kotlin/ktor-features-zipkin/build/test-results/test
`

Is there a way to stop generating those XML files when using `JunitXmlReporter`?

[2021-04-18 13:47] #5462 closed, assigned to nobody

[2021-04-18 13:48] #1996 closed, assigned to nobody

[2021-04-18 14:56] dave08 opened #2209 "Given / when / then style on one indentation level"
It would be nice to not have to nest given/and/when/and/then/and to such levels, while still keeping test setup and running in the corresponding sections, similar to how Spock does things.

Initial proposition (not the cleanest, but at least an idea):
[code]

[2021-04-18 15:04] dave08 commented on #2209
It could be easier if the `given` contains the rest, then the main fixtures can be initialized (but then an `and` on the given would still be nested... unless the `and` would contain the rest?):

[code]

[code]

[2021-04-19 10:25] Jacks0N23 commented on #5449
Yes, I have Spec extended from DslDrivenSpec and written in BehaviorSpec style but with custom actions for allure

[2021-04-19 11:03] sksamuel commented on #5449
Right, so it only looks for classes extending one of the concrete spec
styles (that's easy enough to update though).
But it does have hard coded rules to look for certain layouts - is your
behavior spec layout the same?

On Mon, 19 Apr 2021 at 05:26, Jacks0N23 ***@***.***> wrote:

[2021-04-19 11:03] sksamuel opened #2210 "Pitest plugin should use compileOnly"

[2021-04-19 11:35] #2139 closed, assigned to nobody

[2021-04-19 11:35] #2189 closed, assigned to nobody

[2021-04-19 11:35] #2078 closed, assigned to nobody

[2021-04-19 16:38] sksamuel commented on #2208
Can you do something like:

[code]

[2021-04-19 16:39] sksamuel commented on #2203
For anyone reading in the future, this has been completed in the kotest arrow repo:
https://github.com/kotest/kotest-assertions-arrow

[2021-04-19 16:39] #2203 closed, assigned to nobody

[2021-04-19 16:40] sksamuel commented on #2187
@ReaktorDTR feel free to open a PR if you wish.
Closing this ticket as the latest kotest arrow release is on 0.13.x

[2021-04-19 16:40] #2187 closed, assigned to nobody

[2021-04-19 16:41] sksamuel commented on #2175
Contracts don't support this at the moment.
As you say, the `.shouldNotBeNull()` matchers will smart cast.

[2021-04-19 16:41] #2175 closed, assigned to nobody

[2021-04-19 16:42] sksamuel commented on #2182
My guess is something to do with the mismatched versions you have there.
You don't need `kotest-core-jvm` so you can remove that.
You can remove `kotest-assertions-jvm as well.

[2021-04-19 16:50] sksamuel opened #2211 "Add docs for HTML Report"
As added here: https://github.com/kotest/kotest/issues/2011

[2021-04-19 16:50] sksamuel commented on #1992
Adding this to 4.6
We can add a log interface to TestContext

[2021-04-19 16:54] sksamuel commented on #2204
So I don't know a lot about watchos (I don't use apple stuff). So I've looked at this:
https://kotlinlang.org/docs/mpp-supported-platforms.html
There are four watchos targets.

And I can't see coroutines published for kotlinx-coroutines-watchosx64 seems to be an open ticket too:
https://github.com/Kotlin/kotlinx.coroutines/issues/2524

So we can publish for arm32 arm64 and watchx86 right ?

[2021-04-19 16:56] sksamuel commented on #2204
I will play around in this PR: https://github.com/kotest/kotest/pull/2212

[2021-04-19 17:12] PaulWoitaschek commented on #2204
Correctly. The pr implementation seems correct.

[2021-04-19 18:24] Jacks0N23 commented on #5449
yeah, I have similar classes, but with name *Context instead of Scope, like: GivenContext, WhenContext
and their content also similar to Behavior's one

[2021-04-20 18:41] aSemy opened #2213 "Shrinking of Arbs (String, and maybe others?) exceeds min size limit"
**Which version of Kotest are you using** 4.4.3

If I’ve got a String Arb and I set the minimum size to 1, it shrinks to size 0.

In this example, `authKey` shrinks to 0, and so gives an invalid reason for failure.

[code]

I’ve tried using this but then the test loops endlessly

[code]

[2021-04-20 19:04] aSemy commented on #2213
In the meantime I quickly wrote this - maybe it could help with a new StringShrinker that's aware of minimum size. Feel free to use it.

[code]

[2021-04-20 19:06] sksamuel commented on #2213
Thank you.

On Tue, 20 Apr 2021 at 14:05, aSemy ***@***.***> wrote:

[2021-04-20 22:37] sksamuel commented on #2204
@PaulWoitaschek do you know what this means:

Task 'watchosArm32Test' is ambiguous in root project 'kotest'. Candidates are: 'watchosArm32TestBinaries', 'watchosArm32TestKlibrary', 'watchosArm32TestProcessResources'.

Is the watchos test task different to the others ?

[2021-04-21 02:46] sksamuel commented on #2204
It's now publishing again in the snapshots.
We'll be releasing 4.5 in the next couple of days and that will include all watchos targets.

[2021-04-21 04:02] #2011 closed, assigned to nobody

[2021-04-21 04:03] sksamuel commented on #2011
This will be included in 4.5

[2021-04-21 05:48] PaulWoitaschek commented on #2204
Great! Did you figure out or should I investigate?

[2021-04-21 09:30] caramelomartins commented on #2211
I could maybe help out with this one if you'd like.

[2021-04-21 09:59] sksamuel commented on #2211
Awesome please do

On Wed, 21 Apr 2021, 04:31 Hugo Martins, ***@***.***> wrote:

[2021-04-21 10:52] yaroslav-shlapak commented on #1912
Remove stale

[2021-04-21 17:57] aSemy commented on #2213
For fun I did a bit more hacking around. I think it produces some pretty nice output! I really like seeing the steps shrink.

[code]

[code]

[code]

[2021-04-21 17:58] sksamuel commented on #2204
This is all working properly now, the snapshots are back for watchosArm32 watchosArm64 and watchosX86.
4.5 will be released tomorrow or Friday.

[2021-04-21 17:58] #2204 closed, assigned to nobody

[2021-04-21 19:18] sksamuel commented on #2093
Closing this as this won't happen before 5.0 which is probably a year or two away.

[2021-04-21 19:18] #2093 closed, assigned to nobody

[2021-04-21 19:19] sksamuel commented on #1785
Closing this as turbine fills this need perfectly.

[2021-04-21 19:19] #1785 closed, assigned to nobody

[2021-04-21 19:21] #2172 closed, assigned to jschneidereit

[2021-04-21 21:44] sksamuel commented on #2196
@jschneidereit  your new all { } is not inline right ?

[2021-04-21 22:04] jschneidereit commented on #2196
Yep! `all` is suspending and not inline

[2021-04-21 22:12] sksamuel commented on #2196
Ok so we have a solution already then.

[2021-04-21 22:12] #2196 closed, assigned to nobody

[2021-04-22 01:04] #2213 closed, assigned to nobody

[2021-04-22 01:05] sksamuel opened #2218 "Roadmap 4.6"
- [x] Support config at spec, container and test level. #1370
- [x] test config is not recognized on tests run within a context #2050
- [x] Expanding config - style discussion #2065
- [x] Handle multiple exceptions in Kotlin Kotest eventually #2207
- [x] Upgrade to Kotlin 1.5 #2222
- [x] Add watchosX64 once coroutines is released #2069
- [x] Uniform way of providing test names for data-driven test

[2021-04-22 13:12] theHacker commented on #5455
\*activity* 🤨

[2021-04-22 17:42] donbeave opened #5448 "Unable to debug variable from another scope"
I think it's probably because of the usage of coroutines, but this is quite inconvenient, especially when want to check the value from the parent scopes. There is a problem with the screenshot:

![CleanShot 2021-04-23 at 01 36 11@2x](https://user-images.githubusercontent.com/139017/115761115-90a41a00-a3d4-11eb-89e0-723ed770ea14.png)

In the debugger window, I'm unable to see the value for `email`

[2021-04-24 01:26] #2081 closed, assigned to nobody

[2021-04-24 20:15] sksamuel opened #2222 "Upgrade to Kotlin 1.5"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-04-24 20:16] sksamuel commented on #2171
Good idea, we can add an adapter to allow this to reset in property tests too.

[2021-04-24 20:18] sksamuel commented on #2161
Related to #2171

[2021-04-24 20:25] #2084 closed, assigned to nobody

[2021-04-24 22:49] myuwono commented on #2095
@sksamuel i think this is addressed with our changes to probabilistic edges

[2021-04-24 22:52] sksamuel commented on #2095
Yep.

[2021-04-24 22:52] #2095 closed, assigned to myuwono

[2021-04-24 22:54] sksamuel commented on #2176
This is fixed as part of an earlier PR. Will be released in 4.5

[2021-04-24 22:54] #2176 closed, assigned to nobody

[2021-04-25 02:54] #1950 closed, assigned to jschneidereit

[2021-04-25 02:55] #1913 closed, assigned to nobody

[2021-04-25 03:51] sksamuel commented on #2159
Yeah this is a standard warning from the JDK. Unfortunately there's no alternative way of doing this at the moment.
Before they remove it from the JDK, they will (hopefully!) add another way.

[2021-04-25 12:04] christophsturm opened #5447 "Exception in kotest plugin logged by idea error reporter"
I'm not sure if this is really kotest related, but the idea exception reporter says it is.

When opening `ServerRequestScope` from `ktor` main branch idea keeps reporting this error:
[code]

[2021-04-25 23:57] dalewking opened #2224 "Most of the matchers on String really should be matchers on CharSequence"
Matchers on String are really too specific in that they only match on String, but CharSequence is the interface that String implements and most of the matchers don't care about the difference.

[2021-04-26 00:58] sksamuel commented on #2224
Good call. I think we can change that very easily.

On Sun, 25 Apr 2021, 18:57 Dale King, ***@***.***> wrote:

[2021-04-26 03:36] sksamuel opened #2226 "Roadmap 5.0"
- [x] #1743
- [x] #1820
- [x] #1851
- [x] #1992
- [x] #1999
- [x] #2127
- [x] #2161
- [x] #2163
- [x] #2168
- [x] #2230
- [x] #2232
- [x] #2240
- [x] #2243
- [x] #2250
- [x] #2262
- [x] #2268
- [x] #2270
- [x] #2302
- [x] #2308
- [x] #2312
- [x] #2323
- [x] #2324
- [x] #2343
- [x] #2348
- [x] #2351
- [x] #2355
- [x] #2359
- [x] #2373
- [x] #2375
- [x] #2377
- [x] #2378
- [x] #2380
- [x] #2383
- [x

[2021-04-26 07:22] mkotsbak commented on #5460
Stale bot, no new release since last comment....

[2021-04-27 16:45] peter-majeed commented on #2182
Thanks. For now, I'll close out this ticket without a resolution. We've moved our application to use kotlin.test in the interim. I do appreciate this library, so at some point I'll look into the suggestions you mentioned.

[2021-04-27 16:45] #2182 closed, assigned to nobody

[2021-04-27 17:18] sksamuel commented on #2182
I'm 99% sure it was caused by having version mismatches (you had 4.4.3 4.07 and 4.1.3 mixed up in there). If you ever come back to using Kotest again in the future feel free to reach out.

[2021-04-27 23:42] #5536 closed, assigned to nobody

[2021-04-28 12:11] sksamuel commented on #5457
There is an update pending approval with jetbrains that fixes this for Describe and Fun Specs.

BehaviorSpec will be fixed in the update after that.

[2021-04-28 12:12] sksamuel commented on #5447
This seems a bug in intellij's kotlin plugin. Calling superclasses on an element shouldn't give an exception ever.

[2021-04-28 12:13] sksamuel commented on #5455
Ticket pinned.

[2021-04-28 12:58] sksamuel opened #2229 "Make duplicated test names an optional error"

[2021-04-28 16:26] Miha22 commented on #622
[code]

[2021-04-30 08:21] dajulia3 commented on #5451
I've noticed the same behavior with DescribeSpec.

[2021-04-30 10:22] sschuberth opened #2230 "Allow clues to be added to timeouts"
It would be nice if there was a way to also give a clue when a timeout occurs (configured either via `withTimeout()` or the test configuration). A use-case would be tests that call external programs. Such programs might run interactive prompts, blocking the test, which then runs into a timeout. In such cases *stdout* could be shown as a clue, which would help to identify the interactive prompt.

[2021-04-30 12:45] sksamuel commented on #5451
David did you try the latest plugin version 34?

On Fri, 30 Apr 2021, 03:21 David Julia, ***@***.***> wrote:

[2021-04-30 16:28] pambrose-ef opened #2231 "Missing kotest-assertions-ktor 4.5.0.RC1"
It seems the kotest-assertions-ktor:4.5.0.RC1 jar did not get published to the maven repo.
A search on https://search.maven.org/search?q=kotest-assertions-ktor confirms the newest published version is 4.4.3.

[2021-04-30 16:32] ashishkujoy commented on #2231
@pambrose-ef Ktor and few other modules are under separate release cycle.
https://github.com/kotest/kotest-assertions-ktor , You can find latest [1.0.1](https://search.maven.org/search?q=kotest-assertions-ktor
)

[2021-04-30 16:58] sksamuel commented on #2231
Yep, please see the changelog for full details https://kotest.io/docs/changelog.html
@pambrose-ef

[2021-04-30 23:04] pambrose commented on #2231
Thanks!!

[2021-04-30 23:06] #2231 closed, assigned to nobody

[2021-05-01 16:24] sksamuel commented on #5451
@sarinarw I cannot duplicate this on the latest versions.

I am using 4.4.3 and the latest intellij plugin. At each level I get:

![image](https://user-images.githubusercontent.com/743706/116788530-bb930b80-aa6f-11eb-9a96-64a186135af6.png)

Would you be able to try the latest versions to see if it works for you ?

[2021-05-02 17:50] LeoColman opened #2232 "Add tolerance matcher to Float, Int and Long"
We only have tolerance matcher for Double at the moment.
We could probably use the fact that all numbers extend from `Number`

[2021-05-02 20:39] sksamuel commented on #2232
Float we should (don't we already?) but int and long can be compared exactly.

[2021-05-02 20:58] LeoColman commented on #2232
They can.
My specific use-case includes non-deterministic data generation. So, for example, I want to generate property `name` with 90% of chance for it to be `Leo`. When I generate 1.000, I expect that about 900 will be called Leo, but not exactly 900 usually.

So I go
[code]

Do you see a way to solve this that is better?

[2021-05-03 18:57] sksamuel commented on #5457
BehaviorSpec is fixed in the latest plugin too. Any further issues please reopen or file another ticket.

[2021-05-03 18:57] #5457 closed, assigned to sksamuel

[2021-05-03 18:57] sksamuel commented on #5455
Fixed in latest plugin release.

[2021-05-03 18:57] #5455 closed, assigned to nobody

[2021-05-04 08:16] mkotsbak opened #5446 "Run single FunSpec from gutter icon does not work in custom source set"
From https://github.com/kotest/kotest/issues/5457#issuecomment-789794020 in kotest/kotest#5457.

Running a whole test from the gutter icon works, but nothing happens when clicking on a single test within the class.

Using version 1.1.36-IC-2020.3.

[2021-05-04 08:17] mkotsbak commented on #5457
Ok, opened kotest/kotest#5446 for FunSpec.

[2021-05-04 14:46] sksamuel commented on #5446
Just to clarify you can see the green icons but they do nothing?

On Tue, 4 May 2021, 03:17 Marius B. Kotsbak, ***@***.***>
wrote:

[2021-05-04 16:26] mkotsbak commented on #5446
Yes, I see them, they are clickable and it changes run configuration, but nothing happens.

[2021-05-04 16:27] sksamuel commented on #5446
Can you take a screen grab of the run config ?

On Tue, 4 May 2021 at 11:26, Marius B. Kotsbak ***@***.***>
wrote:

[2021-05-04 23:01] sksamuel opened #2234 "Duplicate test name mode"
Currently we error when a test has a duplicate name.

However, when using data driven tests, this is not great because if you are using a non-data class, or any class on Javascript, the test names will end up with the same value (the class name).

[2021-05-05 01:46] #2234 closed, assigned to nobody

[2021-05-05 01:49] sksamuel commented on #2229
Done in master.

[2021-05-05 01:49] #2229 closed, assigned to nobody

[2021-05-05 13:45] mkotsbak commented on #5446
Hmm, I cannon reproduce this with project `kotest-examples/kotest-examples-jvm` from https://github.com/kotest/kotest

[2021-05-05 13:52] mkotsbak commented on #5446
Here is config failing:

![image](https://user-images.githubusercontent.com/296523/117151848-bdcfcf80-adb9-11eb-9938-0972848f81e1.png)

In one test interestingly "debug" and "coverage" config worked, but not normal run. "Run" button is probably disabled because it runs or Intellij thinks it runs, but there is nothing in "run" tab.

[2021-05-05 20:11] sksamuel commented on #5446
Can you try removing the quote marks from the test name and seeing if that
makes a difference?

On Wed, 5 May 2021 at 08:53, Marius B. Kotsbak ***@***.***>
wrote:

[2021-05-05 21:10] jschneidereit opened #2240 "ProjectConfig should support an overall suite timeout"
Consider a system that has long timeouts per test but you don't want the entire suite to take longer than some time, this allows a few tests to take an extremely long time but the rest should complete in the time allotted.

[code]

[2021-05-06 14:29] mkotsbak commented on #5446
You mean 'kind'? Same without, but I think I have narrowed it down to parts of the codebase where we use a separate integration testing source set. Where we don't, it actually works now :)

[2021-05-06 14:34] sksamuel commented on #5446
ohhhh

[2021-05-07 01:24] sksamuel opened #2241 "Compiler plugin to allow for better assertion matchers"
See https://twitter.com/JavierSegoviaCo/status/1390450131691098115

[2021-05-09 12:29] mjstrasser commented on #2208
Thanks @sksamuel for your suggestion (and sorry for the tardy reply).

The Gradle Kotlin sytax that worked for me is:

[code]

But unfortunately it didn’t help. I can’t remember the details, have a workaround and am not too worried about it.

[2021-05-09 12:29] #2208 closed, assigned to nobody

[2021-05-10 15:29] sksamuel opened #2243 "Fail fast for a container test"
[code]

[2021-05-10 15:32] jschneidereit commented on #2243
Would be really nice if we can get a descriptive reason too

[2021-05-10 15:33] sksamuel commented on #2243
failfastIf ?

[2021-05-10 15:35] jschneidereit commented on #2243
Oh no I just mean if fail fast is set then the reason why the rest of the tests are skipped should be a message that references the name of the failed test

[2021-05-10 15:36] sksamuel commented on #2243
Ah yeah, good idea. I'll put this on 4.6.

[2021-05-10 16:37] cyber-barrista opened #2244 "Most of *inspectors* give out false negative test results once applied within the soft mode"
## Environment
+ Kotest version: `4.4.3`
+ Kotin version: `1.4.31`

## Test data structure
<details>
<summary>Details</summary>

[code]
</details>

## Cases

### `forAll` behavior (Success)
<details>
<summary>Details</summary>

#### Without `assertSoftly`
[code]
*Result*:  Success

#### With `assertSoftly`
[code]
*Result*:  Success
</details>

### `forNone` behavior (Failure)
<details>
<summary>De

[2021-05-10 17:11] ashishkujoy commented on #2244
We will support Inspectors inside assertSoftly. Thanks @ChalovD for a detail issue and the test cases.

[2021-05-10 17:13] sksamuel opened #2246 "Pairs in new data test don't toString properly"
![image](https://user-images.githubusercontent.com/743706/117698218-18d23f80-b189-11eb-89f4-60cdfd2a7abb.png)

[2021-05-10 18:43] apankowski opened #2247 "Uniform way of providing test names for data-driven tests"
### Problem statement

I use data-driven tests quite extensively and I prefer to have nice, human-readable test names whenever possible. With Kotest I often use test case data classes and `forAll` construct described [here](https://kotest.io/docs/framework/data-driven-testing.html). It has two flavors, each having some caveats.

1. `forAll` taking multiple `Pair<String, T>` allows specifying nice

[2021-05-10 18:50] sksamuel commented on #2247
It is a great idea to have better naming.
We have a new datatest module (basically like the old one but with really good nested test support). We can include this there.

I like your idea of an interface. Another option is a typeclass.

[code]

[2021-05-11 10:52] gnefedev commented on #2222
eventualy(Duration.seconds(1)) {} is not compiling with Kotlin 1.5

[2021-05-11 15:03] mkotsbak commented on #2218
Would it be possible to release a separate release with Kotlin 1.5.x support first, as Kotest seems to break upgrade of other code to Kotlin 1.5.x?

[2021-05-11 15:10] sksamuel commented on #2218
4.6 will basically be Kotlin 1.5 and whatever else is ready at the same time.
It won't be held up waiting for the above list.

[2021-05-11 15:10] sksamuel commented on #2222
We are adding a new concurrency module for eventually that works with longs as well as durations. @jschneidereit

[2021-05-11 15:44] ashishkujoy commented on #2244
Merged in master.

[2021-05-11 15:44] #2244 closed, assigned to nobody

[2021-05-11 15:55] huehnerlady opened #5445 "cannot download plugin version"
Hi,
it seems the new IDE is not compatible with the kotest plugin yet?

When I try to reinstall it I get the following error:
![image](https://user-images.githubusercontent.com/12533979/117846712-fa03a400-b281-11eb-8f71-423a92f2aa37.png)

My intellij Version:
[code]

[2021-05-11 16:30] sksamuel commented on #5445
Are you downloading manually

On Tue, 11 May 2021, 10:55 Ruth, ***@***.***> wrote:

[2021-05-12 03:31] #2246 closed, assigned to nobody

[2021-05-12 06:06] huehnerlady commented on #5445
@sksamuel no I try to install it via the intellij plugin marketplace
![image](https://user-images.githubusercontent.com/12533979/117926318-df204680-b2f8-11eb-8010-6c5c14b843c8.png)

![image](https://user-images.githubusercontent.com/12533979/117926340-e8111800-b2f8-11eb-82a3-0f870fac5e54.png)

[2021-05-12 09:36] cyber-barrista commented on #2244
Thanks!

[2021-05-12 10:11] sksamuel commented on #2247
@ashishkujoy In addition to the PR you added yesterday for this, what about this as well:

[code]

So a function which is passed the current value in order to generate the test name.

[2021-05-12 11:58] ashishkujoy commented on #2247
This also looks a nice idea, this way user won't need to annotated or extend anything just for getting some test name changes.

[2021-05-12 18:46] sksamuel commented on #5445
For some reason its picking up the wrong version.
There is a 211 build.

plugin.PluginDescriptor(
   since = "211.6693.111", // this version is 2021.1
   until = "212.*",
   sdkVersion = "IC-2021.1",
   sourceFolder = "IC-211",
   deps = listOf("java", "org.jetbrains.plugins.gradle",
"org.jetbrains.kotlin:211-1.4.21-release-IJ6693.10")
)

Can you try uninstalling kotest, restarting and then search

[2021-05-12 21:03] pelletier197 opened #2249 "Support matching elements in arrays ignoring fields"
Hello Kotest developers!

I was wondering if you were planning on developing a feature for assertions to match list elements by ignoring fields. Here is a sample of that kind of assertings with `assertJ`

[code]

Maybe something similar could be implemented in Kotest?

Thank you!

[2021-05-13 15:42] sksamuel opened #2250 "Unfinished tests should error"
Eg,
[code]

See https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1620901314232500

[2021-05-13 19:36] jmfayard opened #2251 "Enable the Kotlin JS IR backend"
Hello,
My project https://github.com/jmfayard/kotlin-cli-starter depends on both ktor-client and CliKt
- ktor-client is only available with the IR backend for JavaScript
- CliKt is only available with the legacy backend

CliKt can't use the IR backend because it depends on kotest who is only available with the legacy backend.

https://github.com/ajalt/clikt/pull/291

So I'm stuck

**Please describ

[2021-05-14 01:42] sksamuel commented on #2251
Kotest is IR enabled already unless I've missed it somewhere ?

[2021-05-14 02:19] LouisCAD commented on #2251
JS IR is not the default yet, unlike JVM IR in Kotlin 1.5. For libraries, it's currently best to publish in "both" mode.

[2021-05-14 02:26] sksamuel commented on #2251
I thought that's what adding js(BOTH) did. Should two different artifacts be published ?

[2021-05-14 02:28] sksamuel commented on #2251
Looks like clikt is on 4.3.1 which is 6 months old. We switched over to IR both in 4.4.x if I remember correctly (assuming adding js(BOTH) is sufficient to able it, as I thought it was).

[2021-05-14 02:31] sksamuel commented on #2069
The watchosx64 support was merged into coroutines yesterday, so we should be able to add support back in once that's released.

[2021-05-14 06:04] jmfayard commented on #2251
I can confirm that upgrading to 4.5.0 fixed the issuee, thanks Samuel!

[2021-05-14 06:04] #2251 closed, assigned to nobody

[2021-05-14 06:29] huehnerlady commented on #5445
@sksamuel thanks for reaching out. How can I uninstall it? For me it looks as if the plugin is not installed jet, otherwise I would not have an "install" button there, but an "update" buttin 🤔

[2021-05-14 12:13] huehnerlady commented on #5445
@sksamuel I think it was on my end, clearing the intellij cache did fix it 🙂

I will close this issue now

[2021-05-14 12:13] #5445 closed, assigned to nobody

[2021-05-14 13:19] sksamuel commented on #5445
Great, glad it's working.

On Fri, 14 May 2021 at 07:13, Ruth ***@***.***> wrote:

[2021-05-14 13:32] sksamuel commented on #2218
We're targeting a release of 4.6 over the weekend to allow for upgrading to 1.5

[2021-05-16 14:41] BorzdeG opened #2254 "For the kotest-assertions-kotlinx-time module, version 4.5.0 has not been published"
https://search.maven.org/artifact/io.kotest/kotest-assertions-kotlinx-time

[2021-05-16 15:25] ashishkujoy commented on #2254
This is now a separate module and now getting release under separate release cycle.
https://github.com/kotest/kotest-assertions-kotlinx-datetime
Please check 4.5.0 changelog :  https://kotest.io/docs/changelog.html#450-may-2021

Current latest version: https://search.maven.org/search?q=kotest-assertions-kotlinx-datetime

[2021-05-16 15:29] #2254 closed, assigned to nobody

[2021-05-17 03:58] kubode opened #2255 "NoSuchMethodError: Using eventually with Kotlin 1.5"
**Which version of Kotest are you using**
4.5.0 (Only using `assertions`)

Kotlin 1.5.0
Gradle 7.0.1

### How to reproduce

#### `/build.gradle.kts`

[code]

#### `myproject/build.gradle.kts`

[code]

#### Test code

[code]

#### Test result

The test fails with running on Android.
**But, its success with running on iOS.**

[code]

I think this issue will be fixed by using the new version of `kote

[2021-05-17 05:55] jschneidereit commented on #2255
I'm introducing a `kotlin.time.ExperimentalTime` agnostic version of eventually in #2242 that should allow you to have a different version of coroutines than the one used by kotest.

[2021-05-17 06:32] kubode commented on #2255
Thank you for your quick response.
#2242 doesn't seem to have been released yet, so does that mean I have to wait for it to be released, or use snapshots?

[2021-05-17 12:31] paulohms opened #2256 "Downloaded version is incompatible with the current IDE"
Plugin "Kotest" was not installed: Downloaded version is incompatible with the current IDE: Plugin 'Kotest' (version '1.1.36-IC-2020.1') is not compatible with the current version of the IDE, because it requires build 201.* or older but the current build is IU-211.7142.45

[2021-05-17 16:23] kubode commented on #2255
Using `4.6.0.235-SNAPSHOT` solved this issue.
Thanks!
I'm really looking forward to 4.6.0 being released.

[2021-05-17 16:23] #2255 closed, assigned to nobody

[2021-05-18 14:41] #2222 closed, assigned to nobody

[2021-05-18 16:26] sksamuel commented on #2256
Does this help https://github.com/kotest/kotest/issues/5445

[2021-05-18 18:57] sksamuel commented on #2207
Covered by #2242

[2021-05-18 18:57] #2207 closed, assigned to nobody

[2021-05-18 19:24] #1370 closed, assigned to nobody

[2021-05-18 19:24] #2050 closed, assigned to nobody

[2021-05-18 19:24] #2065 closed, assigned to nobody

[2021-05-18 20:04] #2247 closed, assigned to nobody

[2021-05-18 22:18] sksamuel commented on #2249
So it compares the list from underTest with the expected list, only using the id.name field ?

[2021-05-18 22:21] pelletier197 commented on #2249
You can actually do both. Include only fields or exclude fields. The example I shown would compare all fields except the field "Id"

[2021-05-18 22:49] sksamuel commented on #2249
We have similar matchers for object equality already, so I think this would be a good addition.

[2021-05-18 22:50] sksamuel commented on #2218
4.6 has been released.

[2021-05-18 22:50] #2218 closed, assigned to nobody

[2021-05-18 22:53] sksamuel commented on #2149
4.6.0 has been released with a new eventually module.
This eventually is much more configurable and does not rely on experimental durations.
Add module `kotest-framework-concurrency` to your build.
@xenomachina

[2021-05-18 22:53] #2149 closed, assigned to nobody

[2021-05-18 22:55] sksamuel commented on #2069
Coroutines 1.5 is released, and with it watchosX64. Therefore we've included it in Kotest 4.6.0.
@ajalt I know you were wanting this AJ so ping.

[2021-05-18 22:55] #2069 closed, assigned to nobody

[2021-05-18 22:56] sksamuel commented on #2204
watchosX64 is released now as part of 4.6

[2021-05-18 23:02] sksamuel commented on #1370
Included as part of 4.6.0

[2021-05-19 11:55] sksamuel opened #2262 "Add Arb.distinct that will terminate"
The current `distinct` is likely to hang if it cannot generate enough unique values. That is why we deprecated it.
But the functionality is still useful.
I propose we add an alternative, that makes those caveats crystal.

`arb.distinct(maxAttempts = 1000, throwOnLimit = true)`

Those parameters would not have defaults so it would be obvious what you're doing.

@myuwono  ?

[2021-05-19 16:00] sksamuel commented on #2232
`myGenerateList.filter { it.name == "Leo" }.size.shouldBeBetween(800, 1000)`

Your 800 and 1000 can be driven by whatever your input is ?

[2021-05-19 16:49] enolive opened #2265 "NoSuchMethodError with eventually in Spring Boot 2.4.x"
Kotest 4.6.0
Kotlin: 1.4.32
Spring Boot: 2.4.5

I noticed that `eventually` does not seem to be compatible any longer with the current Spring Boot version. When calling a test that uses `eventually`, I get a `NoSuchMethodError`

This happens both with the classic method and with the new one from kotest.frramwork.concurrency

build.gradle.kts

[code]

ApplicationTest.kt:

[code]

As a side note, th

[2021-05-20 17:07] nlochschmidt opened #2266 "Make Kotest Configuration dump to output configurable in JUnit platform"
I rarely need to look at the configuration of Kotest but it is quite big and always dumped when using the JUnit5 runner.

It would be nice if this could be configurable or maybe in the case of Gradle even automatic based on whether `--info` flag is set or not. Not sure if that is possible.

I guess this is the starting point to investigate:

https://github.com/kotest/kotest/blob/767eb57fd7332abd3c

[2021-05-20 17:47] sksamuel commented on #2266
`--info` is a good idea but I'm not sure if that's passed into the runner.
It could certainly be optional. Perhaps in 5.0 we default to off.

[2021-05-20 18:02] sksamuel commented on #2265
I would recommend you migrate to the new eventually module in 4.6 which doesn't use durations in the signatures so shouldn't give you any errors whether on 1.4 or 1.5
See https://kotest.io/docs/framework/concurrency/eventually.html

[2021-05-20 18:20] enolive commented on #2265
unfortunately, I get the same error message when using eventually from k`kotest-framework-concurrency`

Did I miss something in the docs?

[2021-05-20 18:24] sksamuel commented on #2265
@jschneidereit any ideas?

This package shouldn't use durations at all. You need to use longs as the duration time, not the Duration type.

[2021-05-20 19:44] sksamuel opened #2267 "Automatic classification of values in property tests"
https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1621517644064900?thread_ts=1621512425.062800&cid=CT0G9SD7Z

[2021-05-20 19:45] sksamuel opened #2268 "Deprecated beforeTest"
From slack:

What are your thoughts on consolidating `beforeTest` / `beforeAny` in the major version?
What was there before:
`beforeTest`: runs before any leaf test or container
What was added in 4.2:
`beforeEach`: runs before any leaf test
`beforeContainer`: runs before any container
`beforeAny`: runs before any leaf test or contaner, same as `beforeTest`
The name `beforeEach` was chosen because

[2021-05-20 20:35] nlochschmidt opened #2269 "@DoNotParallelize not working when used in composed annotation"
**Which version of Kotest are you using**
4.6.0

This is from a Kotest+Spring use-case but the issue is more general I think.

Given a composed annotation such as

[code]

I would expect two specs annotated with `@MySpringKotest` to be run sequentially. Instead they run in parallel.

[2021-05-20 21:00] sksamuel commented on #2269
When you say composed, you mean multiple annotations on a test class ?

[2021-05-20 21:14] enolive commented on #2265
after watching the [release notes of Kotlin 1.5](https://www.youtube.com/watch?v=LpqvtgibbsQ&t=620s), I can share some additional information on this problem with you

TLDR:

The `Duration` inline value class previously had a Double internal value, which was changed to Long to allow more precision. As value classes are inlined, this is unfortunately a breaking change for functions that use this cl

[2021-05-20 22:21] nlochschmidt commented on #2269
No I mean an inherited annotation that combines other annotations:

[code]

[2021-05-20 22:36] sksamuel commented on #2269
Oh yes I see now. Does kotlin support that. I'll check it out.

[2021-05-21 17:49] sksamuel commented on #2265
Yep, the internal representation changed, from Double to Long as you say, which is why we introduced the new eventually module, to avoid these errors. The new implementation doesn't use the Duration class (other than an overload which you're not using).

See the code here:
https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-concurrency/src/commonMain/kotlin/io/kotest/fra

[2021-05-21 18:10] jschneidereit opened #2270 "Provide machinery to share state before and after project run"
Currently, to share state between a `beforeProject` and `afterProject` listener we need to create mutable member variables in the `ProjectListener`'s body. Instead we should provide a way for testers to have immutable state that surrounds the scope of a project run.

old and busted:

[code]

new hotness:

[code]

[2021-05-21 23:07] jschneidereit opened #2271 "FinalizeSpecListener is not detected by kotest"
Issue:
In at least kotest 4.6 - adding a `FinalizeSpecListener` (or any `Listener`) to the ProjectConfig is not picked up since `Configuration.testListeners()` checks if the listener is an instance of `TestListener` not `Listener`

After further investigation, I found that `TestListener` inherits from `Listener` (and `FinalizeSpecListener`) so this seems a little strange... 🤔

[2021-05-21 23:10] jschneidereit commented on #2271
If anyone else comes across this, a quick band-aid is to just mark your listener as a `TestListener`

[2021-05-22 08:30] jmfayard opened #2275 "Use refreshVersions?"
Hello, I'm the author of refreshVersions, a Gradle plugin whose mission is to make adding and updating dependencies faster, more convenient and less error-prone

See https://jmfayard.github.io/refreshVersions/

I'm currently working on improving how we migrate existing projects.
Would you be interested in having a pull request adding refreshVersions to kotest?

[2021-05-22 14:30] sksamuel commented on #2275
What does it involve on the kotest side ?

[2021-05-22 17:42] sksamuel commented on #2210
Done https://github.com/kotest/kotest-extensions-pitest

[2021-05-22 17:42] #2210 closed, assigned to nobody

[2021-05-22 18:18] sksamuel commented on #2256
Did you get this fixed @paulohms

[2021-05-22 18:19] sksamuel commented on #2168
@bbaldino do you have sample setup for maven that uses surefire?

[2021-05-22 18:31] THEAccess commented on #1603
This issue should be opened again. I'm having the same issue with the latest releases:

- kotest-runner-junit5-jvm: `4.5.0`
- kotest plugin: `1.1.36-IC-2020.3`
- mockK: `1.11.0`

Stacktrace:
[code]

[2021-05-22 18:44] sksamuel commented on #2195
https://github.com/kotest/kotest-extensions-h2

[2021-05-22 18:44] #2195 closed, assigned to nobody

[2021-05-22 19:16] jmfayard commented on #2275
Nothing will change in the project, the same dependencies versions will be used.

But when you will decide to update your dependencies it will be easier
https://jmfayard.github.io/refreshVersions/update-dependencies/

[2021-05-22 19:37] sksamuel commented on #2275
Ok lets try it out.

On Sat, 22 May 2021, 14:16 Jean-Michel Fayard, ***@***.***>
wrote:

[2021-05-22 19:47] #2269 closed, assigned to nobody

[2021-05-22 19:47] #2224 closed, assigned to nobody

[2021-05-22 19:47] #2271 closed, assigned to nobody

[2021-05-22 21:11] nlochschmidt commented on #2269
Nice! Thanks a lot!

[2021-05-23 03:08] sksamuel commented on #2275
This is great!

[2021-05-23 09:36] #2275 closed, assigned to nobody

[2021-05-23 09:36] #2266 closed, assigned to nobody

[2021-05-23 11:29] sksamuel commented on #2163
Running your project:

![image](https://user-images.githubusercontent.com/743706/119258637-2aa3e180-bb90-11eb-981c-a6007f6c5537.png)

Did you use gradle check?
Because gradle test doesn't do anything with JS tests.

[2021-05-23 11:38] ashishkujoy commented on #2163
Yes I was using gradle check , but I don't think kotest is running that test, because in js module that test should have failed with assertion error, unless you have modified something after cloning it.

[2021-05-23 12:17] sksamuel commented on #2163
Yes you're right, I see now.

[2021-05-23 12:55] ashishkujoy commented on #2268
Yes, I think we should be good to deprecate `beforeTest`.  Since `beforeEach`, `beforeContainer` and `beforeAny` gives much better control to user.

[2021-05-23 16:42] dimsuz opened #2284 "Arb.stringPattern shrinks irrespectively of pattern's min/max chars specification"
**Which version of Kotest are you using**
4.5.0

The following generator:

[code]
when used in a failing test produces this output:

[code]

**Expected result**

Probably it shouldn't go lower than `5` chars, because of `{5,8}` pattern above.

I guess this happens because `Arb.stringPattern()` has this in its implementation:

[code]
...and `StringShrinker` doesn't know anything about Generex patte

[2021-05-23 17:29] sksamuel commented on #2163
So the issue is setFrameworkAdapter seems to do nothing in IR mode.

[2021-05-23 19:30] sksamuel commented on #2284
I'm not sure shrinking could work on regex. The complexity of taking a regex and then trying to make a smaller regex that fits the same pattern is probably out of scope for Kotest.

Interestingly, I spotted this just this morning and the string pattern arb has already been updated to remove the shrinker.
https://github.com/kotest/kotest/blob/master/kotest-property/src/jvmMain/kotlin/io/kotest/prop

[2021-05-23 21:27] #2250 closed, assigned to nobody

[2021-05-23 21:50] bbaldino commented on #2168
Hey Sam, I don't think I've got a sample project...but I do think I have one I could upgrade with and test--is there an RC version published with the change?  I'll try and take a look next week.

[2021-05-23 22:28] dimsuz commented on #2284
Haha, nice!
Agreed, thanks.

Enjoying kotest! :+1:

[2021-05-23 22:28] #2284 closed, assigned to nobody

[2021-05-23 22:51] sksamuel commented on #2284
Cool glad you like it.

On Sun, 23 May 2021, 17:29 dimsuz, ***@***.***> wrote:

[2021-05-24 01:33] sksamuel commented on #2192
So the issue is that you want the entire tree to be marked failed if a child test fails ?

If so, I don't think this is a bug. The junit spec says this:

	 * <p>The {@link TestExecutionResult} describes the result of the execution
	 * for the supplied {@code testDescriptor}. The result does not include or
	 * aggregate the results of its children. For example, a container with a
	 * failing test m

[2021-05-24 01:33] sksamuel commented on #5450
Not an issue with the plugin - replied on the other ticket.

[2021-05-24 01:33] #5450 closed, assigned to nobody

[2021-05-24 09:22] sksamuel commented on #2127
This actually should just be a check if any tests ran or not. Doesn't matter if it was caused by a tag, test filter, just having no tests, or whatever.

[2021-05-24 10:33] sksamuel commented on #2269
I'll include this in 4.6.1 as well as 5.0

On Sat, 22 May 2021 at 16:11, Niklas Lochschmidt ***@***.***>
wrote:

[2021-05-24 10:34] sksamuel opened #2288 "ScriptSpec should not appear in output."
**Which version of Kotest are you using**

[2021-05-24 10:35] sksamuel commented on #1603
If this an issue with using Kotlin 1.5? Are you using Kotlin 1.5?

[2021-05-24 11:22] pawegio commented on #1603
For me it fails with Kotlin `1.4.32`. I can't check it with 1.5 as I use Jetpack Compose.

[2021-05-24 11:28] sksamuel commented on #1603
Ok so it's not 1.5
I don't think its anything to do with kotest, it's throwing the class not found on mockk.

[2021-05-24 11:46] THEAccess commented on #1603
[They say it's a kotest plugin issue ](https://github.com/mockk/mockk/issues/459)

[2021-05-24 14:57] rezammalik commented on #2288
I was using 4.4.3. I tried moving up to 4.6.0 but noticed the spec issue in that as well. Another point not related to this but worth mentioning is the kotest-allure extension page lists this `io.kotest.extensions:kotest-extensions-allure:${kotest.version}` which isn't available for kotest version 4.6.0.

[2021-05-24 20:56] BartvHelvert opened #2289 "Add unsigned types for Arb"
Currently generating unsigned types is only supported for unsigned shorts.
Support for UByte, UInt, ULong is missing.

[2021-05-25 07:49] pawegio commented on #1603
I think so too. Running tests without kotest plugin, with gradle test task works fine.

[2021-05-25 08:27] BartvHelvert opened #2292 "Deprecate Arb.nats"
Currently `Arb.nats` does the same thing as `Arb.positiveInts` which can lead to confusion.
There is also no generally accepted definition of the natural numbers. In some definitions 0 is included and in others it isn't.

[2021-05-25 18:27] LeoColman commented on #2292
Not skipping the importance of this discussion, I believe that 0 is always considered a natural number.
https://en.wikipedia.org/wiki/Natural_number

So there's this difference between `positiveInts` and `nats`

[2021-05-25 21:38] #2127 closed, assigned to sksamuel

[2021-05-25 21:51] sksamuel commented on #2292
I do think that `nats` is not 100% clear, whereas `positiveInts` is totally clear.
I'd be in favour of deprecating nats in favour of positive ints.

[2021-05-25 21:53] #1820 closed, assigned to nobody

[2021-05-25 22:11] #2289 closed, assigned to nobody

[2021-05-26 13:02] BartvHelvert commented on #2292
From that wikipedia page: "Some definitions, including the standard ISO 80000-2, begin the natural numbers with 0, corresponding to the non-negative integers 0, 1, 2, 3, ..., whereas others start with 1, corresponding to the positive integers 1, 2, 3, ...".

Maybe we can introduce `Ab.nonPositiveInts` and `Arb.nonNegativeInts` to cover the cases where 0 is included.

[2021-05-26 13:17] JacekWicka opened #2293 "shouldContainXXX fails for list of ByteArrays with confusing message"
Kotest 4.6.0

[code]
results in:
[code]

[2021-05-26 14:11] LeoColman commented on #2292
@Bartvhelvert
I stand corrected.
I thought that removing 0 always required you to explicitly say that. You're right, it's ambiguous

[2021-05-27 10:05] dragneelfps commented on #594
Would it be possible to reopen this? I know behavior spec is complicated, but from user perspective this feature would be very helpful.

[2021-05-27 15:48] sksamuel opened #2296 "Allow withData to specify leaf mode"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-05-27 15:51] dave08 commented on #2296
For me, I think it's fine the way it is... I use `it` inside `withData`... but for those that use `withData` as the test container itself, how could you distinguish between the containing `withData` when nesting them?

[2021-05-27 16:00] sksamuel commented on #2296
thinking out loud that `withData(data, leaf = true)` would not allow nested tests.

[2021-05-27 16:41] #2292 closed, assigned to nobody

[2021-05-27 19:41] BartvHelvert opened #2297 "Improve Arb naming consistency"
Currently the naming scheme for Arb utility methods is inconsistent, e.g. `Arb.int` (singular) vs `Arb.positiveInts` (plural).
I suggest using singular form for all methods. The following changes can be changed without deprecation warning:

- `Arb.positiveBytes` -> `Arb.positiveByte`
- `Arb.negativeBytes` -> `Arb.negativeByte`
- `Arb.positiveShorts` -> `Arb.positiveShort`
- `Arb.negativeShorts` ->

[2021-05-27 20:10] sksamuel commented on #2297
Agreed.

[2021-05-28 12:46] Kantis opened #2298 "Option to ignore unspecified keys when using shouldEqualJson matcher"
I'd like an option for `shouldEqualJson` to ignore keys in _actual_ that are unspecified in _expected_. It should probably be included for `shouldNotEqualJson` as well.

I think this could be achieved either by:
* Expanding `CompareMode` with new modes: `CompareMode.StrictIgnoringUnknownKeys` and `CompareMode.LenientIgnoringUnknownKeys`
* Adding a new flag to matcher signatures: `ignoreUnknownKeys

[2021-05-28 22:09] BartvHelvert opened #2300 "Support Arb primitive arrays"
Currently only `Arb.byteArray` is supported.
I suggest that we add support for other primitive arrays as well.

[2021-05-28 22:22] sksamuel commented on #2300
Good idea.

On Fri, 28 May 2021, 18:09 Bart van Helvert, ***@***.***>
wrote:

[2021-05-29 13:36] JesusMcCloud opened #2302 "MPP/JS: withData nameFn return value must not end with ".json""
Kotest 4.6.0 MPP/JS

I have a test case in commonTest and everything works nicely, except the test name on JS.
my _withData_ input is a map, whose key is the filename of the JSON-encoded test input.
The issue is with the map's keys ending in ".json":
![image](https://user-images.githubusercontent.com/5648377/120072241-1e89b980-c093-11eb-8aae-8f9859379289.png)

I have worked around this issue by re

[2021-05-31 14:38] Kantis commented on #2298
Starting a branch for this in my fork [feature/kantis/2298-json-ignore-unknown](https://github.com/Kantis/kotest/tree/feature/kantis%2F2298-json-ignore-unknown) ✌🏼

[2021-06-01 01:38] #2297 closed, assigned to nobody

[2021-06-01 01:46] sksamuel commented on #2265
Did this fix it @enolive ?

[2021-06-01 19:31] BartvHelvert opened #2305 "Improve Arb naming"
I want to propose 2 naming changes:

1.  `Arb.bool` -> `Arb.boolean`, `Arb.boolArray` -> `Arb.booleanArray`.
This makes more sense because it matched the Kotlin standard library naming convention. Requires deprecation of `Arb.bool`.

2. `Arb.uint` -> `Arb.uInt` (and similar for all other unsigned types)
Current naming scheme doesn't follow proper lower camelcase convention which is almost always u

[2021-06-01 19:46] sksamuel commented on #2305
1. Yes makes sense
2. Do you have an example in the kotlin std lib where they use this style ?

[2021-06-01 20:21] enolive commented on #2265
sorry for the delayed reply. I tried the new API and it works, at least when using the builder variant!

what irritates me, I cannot make the config variant (which might be great for reusing a configuration as described in the docs) work:

[code]

instead of retrying, the second version will immediately return the result. Did I miss something in the docs?

[2021-06-01 21:33] BartvHelvert commented on #2305
It would make more sense to write it as `uInt` because it stands for "Unsigned Int" which is 2 separate words. The class name itself also capitalizes the I (`kotlin.UInt`), similarly there are functions like `Int#toUInt` in the standard library.

[2021-06-01 21:48] sksamuel commented on #2305
Ok thanks :)

[2021-06-01 21:54] #2300 closed, assigned to nobody

[2021-06-02 04:46] li-peng-dd opened #5444 "Running WordSpec tests from Intellij results in no tests detected, due to specifying erroneous test path"
I wrote up a dummy test project, using:

- io.kotest:kotest-runner-junit5-jvm:4.6.0
- kotlin 1.5.10
- kotest plugin 1.1.36-IC-2021.1
- Intellij IU-211.7442.40

I found that FunSpec works just fine, but running WordSpec just results in nothing ever being run, the test suite is just blank.

<img width="676" alt="Screen Shot 2021-06-01 at 9 31 34 PM" src="https://user-images.githubusercontent.com/532

[2021-06-02 10:01] IgorTs2004 opened #2307 "Non-suspend version of shouldCompleteWithin should return the result of the function block"
Currently the **non-suspend** version of shouldCompleteWithin do not return the result of computation which can be further asserted like this:
[code]

P.S. I have a PR with the fix of this issue. Shall I publish it?

[2021-06-02 10:51] yaroslav-shlapak opened #2308 "Getting unexpected `io.kotest.core.script.ScriptSpec` in the test results when running tests from AS"
Kotest version: 4.4.2

This issue might be related to https://github.com/kotest/kotest/issues/1912

### Given
1. An Android project with the next structure of modules:
  +-`primary`
  +-`secondary`
2. The `secondary` module has Kotest configured like this (gradle.kts with correct kotest dependencies, here as constants):
[code]
3. the `primary` module has the `secondary` module added as a dependenc

[2021-06-02 10:57] sksamuel commented on #2307
Please do.

On Wed, 2 Jun 2021, 05:01 IgorTs2004, ***@***.***> wrote:

[2021-06-02 12:38] IgorTs2004 commented on #2307
Done.

[2021-06-02 21:45] Kantis commented on #2206
I started to look into this and came to these conclusions:
* I believe this comes from the way Junit5 handles `AssertionFailedError`s (see [here](https://github.com/junit-team/junit5/blob/43638eb6a870e0d6c49224053dfeb39dcf0ef33f/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertionUtils.java#L122))
* I believe the reason for using `AssertionFailedError` is to get IntelliJ to show the `<C

[2021-06-03 14:19] sksamuel opened #2312 "Change project config based beforeAll / afterAll to be suspendable"
This would be a minor breaking change for 5.0

[2021-06-04 01:52] jschneidereit opened #2313 "SpecIgnoredListner.specIgnored callback is not called for specs not run via tags"
Running on kotest 4.6, through some combination of enabledif class annotations or disabling through tags not every spec is passed into specIgnored. If this is by design that's fine, I can imagine that in the case someone doesn't want to instantiate something unless the tag expression tells the runtime to.

At the very least we should fix my typo in `SpecIgnoredListner` for 5.0.
Add another callbac

[2021-06-06 05:20] dragneelfps opened #2314 "Add class name to test results for Behavior spec"
I would prefer if I can see the class name before Given clause.
(note: This might be applicable to other specs as well)

![image](https://user-images.githubusercontent.com/23515791/120913435-d2530080-c6b4-11eb-94e4-57703867871d.png)

Also, the file name in the generated folder for the test result is the same as given clause.
It would be better all the given clauses written in same file are under a

[2021-06-07 10:11] nlochschmidt commented on #2269
Do you happen to have an ETA for `4.6.1`?

[2021-06-07 14:46] eugenio1590 opened #2316 "kotest-extensions-koin for Kotlin / JS"
**Which version of Kotest are you using**
4.2.3

I am trying to use Koin with Kotest but I have gotten an issue running the test with Kotlin /JS.

[code]

I only added the following dependency into common test dependencies:
`implementation("io.kotest.extensions:kotest-extensions-koin:1.0.0")`

But the tests run very well without this dependency. I start/stop the Koin application before/after each

[2021-06-08 08:00] aSemy commented on #2262
I've been thinking about generating distinct values recently. It's really important to have constraints on Arbs, but also prevent those constraints from hanging (if the Arb doesn't generate enough distinct values), and also try to keep Arbs stateless.

Let's say I write a test that generates short Strings. I'm testing something stateful, so I want to make sure the generated values are distinct. I

[2021-06-08 08:45] myuwono commented on #2262
@aSemy thank you! Quite honestly i was also thinking along similar lines. Because as you've rightly highlighted it's important to have these arbs stateless. Maybe we can introduce such constraint as an additional parameter to checkall.

In a nutshell..

[code]

I think @aSemy 's idea makes sense.

We have to think about ergonomics but this actually solves a lot of problems, not only distinct.

Wdy

[2021-06-08 15:19] IgorTs2004 commented on #2307
@sksamuel
Could you take a look into the PR? (it's small and easy to review)

[2021-06-09 08:40] SebastianAigner commented on #2163
Unfortunately, this is a limitation in the current version of the JS IR backend. You can track the progress of supporting switching test adapters here: https://youtrack.jetbrains.com/issue/KT-42283

[2021-06-09 14:20] qx opened #2317 "crashed"
[code]

[2021-06-10 05:18] arunav-bhattacharya opened #2318 "Defining a Custom testname when using `withData<T>()` is not in accordance with the example in Kotest docs"
**Which version of Kotest are you using** - 4.6.0

The following piece of code doesn't compile though I guess it is in accordance with the example provided here -
https://kotest.io/docs/framework/datatesting/custom-test-names.html

Can you help me figuring out the issue here.
[code]

However, I was able to run this test by making some changes in the code as shown below, but it is not as per the ex

[2021-06-10 09:11] aSemy commented on #2262
@myuwono Thanks! Happy to be discussing this.

I like your suggestion too - mutli-value checking is important too. It would be nice to define this inside of the checkAll scope - then it's more flexible with regards to the variable number of arguments.

I think what this issue is dancing around is the need for implementing a proper 'skip test' functionality, for all contexts. I think the way to do

[2021-06-10 09:31] ataronet opened #2319 "When running individual unit test using WordSpec, getting false positive instead of failing test"
**Which version of Kotest are you using**
Plugin version 1.1.36-IC-2021.1
kotest version 4.5.0
kotlin version 1.5.0

Try the following test, see that test 2 should fail. If you run the test with the green arrow near the `TestMe`, it does fail. But if you use the green arrow next to `"test 2 should fail"` the test report as pass and it is green.
[code]
![image](https://user-images.githubusercontent

[2021-06-10 14:45] gmetal opened #2320 "All tests fail when using the kotest-extensions-allure plugin"
Using kotest version 4.6.0, and kotest-extensions-allure 1.0.0. I followed the instructions mentioned [here](https://kotest.io/docs/extensions/allure.html). After running my test suite, all tests fail with the following error:
[code]
I believe that the plugin must be using a log method that has been removed from kotest. I managed to get my tests to run properly by adding a skeleton logger.kt file,

[2021-06-11 04:46] toddobryan opened #2322 "Documentation for `withData` doesn't mention it causes warning without experimental annotation"
`withData`, which seems to be new as of 4.6.0 causes a warning because it's experimental. My project is set to fail compilation on warnings, so it would be nice if the documentation explained how to get `withData` to compile without warning. (I ended up adding `@ExperimentalKotest` to the test class, but I'm not sure if that's the right thing to do or not.)

[2021-06-11 05:10] toddobryan opened #2323 "Replace Generex with RgxGen"
Generex https://github.com/mifmif/Generex seems to be moribund. The last commit was over 4 years ago. It has problems--for example, it treats `^` and `$` as literals, so it thinks `"^abc$"` is a string that matches the pattern `^[a-z]{3}$`. (It's not.)

RgxGen https://github.com/curious-odd-man/RgxGen seems to be still under development, handles `^` and `$` and character classes like `\w`, `\S`, a

[2021-06-11 05:18] sksamuel commented on #2323
I like. We should do this.

[2021-06-12 22:05] sksamuel commented on #2319
I get the same issue. It's because the test path isn't being picked up properly and it can't find the subtest.
You notice that when you run a subtest it's actually not running the tests at all.

Workaround - use another type of spec.
Will include a fix in 4.6.1

[2021-06-12 22:11] sksamuel commented on #2320
Yep good spot. I've released 1.0.1 which will work with any kotest version.

[2021-06-12 22:11] #2320 closed, assigned to nobody

[2021-06-13 05:38] ataronet commented on #2319
Yes, I noticed it doesn't run it at all.
Thank you @sksamuel. I will use the workaround till it is fixed.

[2021-06-14 15:20] rezammalik commented on #2324
@sksamuel any updates on this one? Hopefully something we can still improve.

[2021-06-14 15:22] sksamuel commented on #2324
Yep we should do this. Let me move to the main project as it's something we should apply to all builds not just gradle.

[2021-06-14 23:16] PAenugula commented on #2182
Hi, I'm using Gradle and Kotest 4.4.3 with matching versions throughout, but still getting a similar issue where the kotest could not get instantiated. Any more insight to this issue?

[2021-06-14 23:36] sksamuel commented on #2182
Something must be bumping or downgrading the classpath version on your
build.

On Mon, 14 Jun 2021, 18:16 Phaniraj Aenugula, ***@***.***>
wrote:

[2021-06-17 11:55] kkarmakul opened #2325 "shouldMatchJson doesn't work with a JSON containing array"
Kotest version - 4.6.0
From documentation:

I attach output from my test. Data is the same, order is different.
[shouldMatchJson.output.log](https://github.com/kotest/kotest/files/6669904/shouldMatchJson.output.log)

[2021-06-17 15:39] ashishkujoy commented on #2325
@kkarmakul In your case value of `uxs` is an array(not a key-value pair object/map) and order of element in that array is different. So as far as my understanding assertion failure is correct.

[2021-06-17 15:42] ashishkujoy commented on #2322
@toddobryan Thanks for creating this, we will surely update docs for Experimental Kotest functionality.

[2021-06-18 02:43] kkarmakul commented on #2325
The API and the docs doesn't give a hint about how to use the lib with arrays. So from client side it simply "doesn't work". I switched to Lukáš Křečan's [JsonUnit](https://github.com/lukas-krecan/JsonUnit)

[2021-06-18 11:32] BartvHelvert opened #2327 "`Arb.long/Arb.uLong` produce values outside `min/max`"
Can be reproduced by `Arb.long(-140_737_488_355_328, 140_737_488_355_327)`, just take a large amount of values and check if it's inside`[-140_737_488_355_328, 140_737_488_355_327]`.  The same goes for `Arb.uLong`.

This issue seems to be caused by [KT-47304](https://youtrack.jetbrains.com/issue/KT-47304).
Should we implement a workaround until it's fixed?

[2021-06-18 11:48] sksamuel commented on #2327
Yes i guess we should check and drop any false values.

On Fri, 18 Jun 2021, 06:32 Bart van Helvert, ***@***.***>
wrote:

[2021-06-19 18:19] matsudamper opened #2328 "Specify SDK and Application in Robolectric extension"
Is there a way to specify these for each test?

I use this one.
https://github.com/kotest/kotest-extensions-robolectric/pull/1

[2021-06-19 20:35] LeoColman commented on #2328
There isn't a way currently, no.

Thanks for the PR! I'll review it ASAP.

[2021-06-19 21:51] matsudamper commented on #2328
Thanks to the plugin method, I currently have no trouble using it myself.

[2021-06-20 08:17] levirs565 opened #2329 "Kotest `withData` is not found"
**Which version of Kotest are you using** 4.6.0

Kotest `withData` function is not found. My code:

[code]

[2021-06-20 08:19] #2329 closed, assigned to nobody

[2021-06-20 09:29] #2305 closed, assigned to nobody

[2021-06-20 09:30] #2307 closed, assigned to nobody

[2021-06-20 09:30] sksamuel commented on #2307
Sorry for delay in reviewing.  Merged now.

[2021-06-20 10:28] ltennstedt opened #5443 "Unable to run single test"
It's not possible to run a single test from the editor or from the test results the run pane. The gutter Icons are not shown for contexts and tests (FunSpec).

Kotlin version: 1.5.10
Kotest version: 4.6.0
JUnit Jupiter version: 5.7.2
JUnit Platform version: 1.7.2
IntelliJ IDEA version: 2021.1.2 (Ultimate Edition)
Kotlin Plugin version: 211-1.5.10-release-891-IJ7142.45
Kotest Plugin version: 1.1.36

[2021-06-20 11:37] sksamuel commented on #5443
This is exactly what the plugin is used for. Try using a class instead of an object and see if that fixes it ?

[2021-06-20 14:03] ltennstedt commented on #5443
This fixes the problem. Gutter icons are shown and I can run a single test. Thanks.

[2021-06-20 14:10] sksamuel commented on #5443
The plugin should support objects too so I'll leave this open.

[2021-06-20 22:09] #2327 closed, assigned to nobody

[2021-06-22 21:55] Strum355 opened #5442 "`%1 is not a valid Win32 application` when running with WSL backend"
`22:37	Error running 'AnalyzerTest: basic test': Cannot run program "\\wsl$\Arch\home\noah\.cache\coursier\jvm\adopt@1.11.0-11\bin\java" (in directory "\\wsl$\Arch\home\noah\Sourcegraph\lsif-kotlin\semanticdb-kotlinc"): CreateProcess error=193, %1 is not a valid Win32 application`

Repro repo can be found [here](https://github.com/Strum355/lsif-kotlin/), with the particular test file located [here

[2021-06-23 07:54] li-peng-dd commented on #5444
@sksamuel any ideas?

[2021-06-25 15:46] 1sao opened #2331 "Data tests fail silently on Android Studio preview"
I am using the latest version of Kotest in my Android project.
The problem is that usage of kotest-framework-datatest is impossible without kotlin-reflect, but there's no info about it in the docs, and more than that: when kotlin-reflect is missing, datatests are just skipped without any visible error in case you're running all tests. If you're running a specific class, datatests are skipped as we

[2021-06-25 17:17] #2325 closed, assigned to nobody

[2021-06-25 18:20] #2318 closed, assigned to nobody

[2021-06-25 18:20] #2322 closed, assigned to ashishkujoy

[2021-06-25 19:00] ghost opened #5441 "Test context with config is not runnable via intelliJ UI"
Kotlin Version: 1.4.32
Kotest Version: 4.6.0
Kotest Plugin Version:  1.1.36-IC-2021.1
Intellij Version: 2021.1.2

Adding the config method to a context removes the ability to run the context using the intelliJ UI.

https://gist.github.com/slathropSR/db6be394e07989d0e383183ac6c08f

![ScreenShot](https://user-images.githubusercontent.com/39308397/123472821-49492e00-d5bd-11eb-9c9a-cdb2f595c53c.png)

[2021-06-25 19:53] #2209 closed, assigned to nobody

[2021-06-26 00:04] #5449 closed, assigned to nobody

[2021-06-29 00:19] #5448 closed, assigned to nobody

[2021-06-29 08:18] 1sao commented on #2331
It turned out that the problem is way bigger. Any errors in data test are getting swallowed if not running one test specifically. Also this problem persists if using `forAll(...)` or even ordinary `listOf(...).forEach {...}`.
This practically makes any data test unusable, so it makes me think there's something wrong with my setup. But it is reproduced even in a fresh project with no other dependen

[2021-06-29 08:42] 1sao commented on #2331
Here's the link to the sample project: https://github.com/IhorPakharenko/Kotest-Please-Fix/blob/b560148b72f7319d0f60aae8d0664bf0e30aed2a/app/src/test/java/com/example/kotestpleasefix/ExampleUnitTest.kt

[2021-06-29 11:05] sksamuel commented on #2331
So to clarify, if I run ExampleUnitTest then you will see no errors ?
And are you running from the IDE or via gradle ?

[2021-06-29 11:18] sksamuel commented on #2331
This is what I get:

![image](https://user-images.githubusercontent.com/743706/123788278-70477e80-d8a1-11eb-9add-0be01728efbd.png)

A couple of things. Firstly, I couldn't get your project to work properly but I assume that's some android thing (app folder?). I copied the unit test into another project to run it.

Secondly, the forAll is the "old" datatest stuff that will be deprecated in 5.0 once

[2021-06-29 12:19] LeoColman commented on #2328
Implemented by https://github.com/kotest/kotest-extensions-robolectric/pull/1.

[2021-06-29 12:19] #2328 closed, assigned to LeoColman

[2021-06-30 06:58] 1sao commented on #2331
Thank you for the response!

Firstly, I suppose the problem is somewhere in Android Studio (or more like in how I am using it), if the tests are running as expected on your end without Android Studio.

Secondly, I mixed up withData and forAll just for this test. The problem persists if I use only one approach in the file, and also if there's a single test in the file. Anyway, I split them into two

[2021-06-30 16:13] th0masb opened #2335 "How to access nested TestCase from a Spec instance programmatically"
**Please consider asking your question on our slack channel #kotest or in stack overflow (and tagging with kotest). The github issue tracker is for bugs and feature requests.**

This is possibly a question, possibly a feature request. I am constrained to use junit4 and so have been looking at the corresponding `KotestTestRunner` class. When I use this with my instance of `BehaviourSpec` I notice t

[2021-07-01 10:20] #2159 closed, assigned to nobody

[2021-07-02 12:31] #5460 closed, assigned to nobody

[2021-07-05 02:47] #5447 closed, assigned to nobody

[2021-07-06 11:42] Poorva17 opened #2337 "Grouping test with Tags is not working"
**Version**
Kotest : 4.1.3

**Steps to reproduce:**
1. Write test with appropriate tag
[code]
2. run test `./gradlew test -Dkotest.tags.include="Foo"`
(I tried `./gradlew test -Dkotest.tags="Foo"` as well. This also runs entire test suit.)

**Expected outcome**
Test having tag `Foo` should run. Other tests should be excluded.

**Actual outcome**
All tests run.

**Note:** I also checked in system p

[2021-07-06 12:00] gszzzzzz opened #2338 "docs: typo on `Eventually` section"
https://kotest.io/docs/framework/concurrency/eventually.html

The header says:

Starting with Kotest 4.6, a new experimental module has been added which contains improved utilities for testing concurrent, asynchronous, or non-deterministic code. This module is kotest-framework-concurrency and is intended as a long term **_replaement_** for the previous module. The previous utilities are still avai

[2021-07-06 14:28] ashishkujoy commented on #2337
Hi @Poorva17 please refer to this [doc](https://kotest.io/docs/framework/tags.html#gradle) for gradle test tasks configuration for passing system properties to tests.

[2021-07-06 15:42] Poorva17 commented on #2337
@ashishkujoy Thanks for quick response. I am referring this document only. As mentioned in doc, I verified that in test task I am getting system properties set as expected. Despite of this, entire test suit is running in my case.

[2021-07-06 15:53] ashishkujoy commented on #2337
@Poorva17 just check looks like there was some bug in 4.1.3, can u try upgrading kotest version, I tried with 4.2.2 and latest 4.6.0 its working fine. So the issue seems to be resolve in 4.2.2

[2021-07-07 05:00] sksamuel commented on #2338
Thanks, fixed.

[2021-07-07 05:00] #2338 closed, assigned to nobody

[2021-07-07 07:58] fabridinapoli opened #2340 "ShouldEqualJson comparing order misbehaving in lists"
**Which version of Kotest are you using**
4.6.0

Hello,

I'm using shouldEqualJson https://kotest.io/docs/assertions/json-matchers.html#shouldequaljson and standing to the docs, if I set CompareOrder.Lenient, in theory the order shouldn't matter. As you can see in the following example, I've two lists with the same elements, but in different order:

[code]

Result:
[code]

[2021-07-07 17:32] huyngo-dd opened #2341 "use of whenReady"
**Which version of Kotest are you using**: 4.6.0

Hi there,

I am trying to leverage `whenReady` to test futures, which has been documented in https://github.com/kotest/kotest/blob/master/doc/reference.md, but I can't seem to find the proper package to bring in. I'm not sure if the method has just been discontinued or I just can't find the right one to import.

I've got the following dependencies

[2021-07-08 12:34] aSemy opened #2342 "HTMLReporter - css not loading (`href` of the file is absolute, not relative)"
**Which version of Kotest are you using** `4.6.0`

I'm using macOS, IntelliJ, Gradle 7.1.1, java 11.

### Report

When I enable the HtmlReporter...

[code]

And in `build.gradle.kts`

[code]

When I run `gradle build`, a report is generated in `build/reports/tests/test/index.html`, but the CSS doesn't load.

![image](https://user-images.githubusercontent.com/897017/124921820-19f0e300-dff9-11eb-869

[2021-07-09 06:36] 1sao commented on #2331
Can confirm the issue still persists on Android Studio Arctic Fox 2020.3.1 Beta 5 (currently the latest version)

[2021-07-09 08:29] mkotsbak commented on #5460
Looks like this works now, so state set by the bot is correct.

[2021-07-09 13:40] LeoColman opened #2343 "Add fun interface to EnabledCondition"
Enabled condition is currently defined as
[code]

If this interface gets converted to a `fun interface`, we'll be able to create a new instance of this class with

[code]

[2021-07-10 17:24] ashishkujoy commented on #2341
It's no longer present in Kotest codebase. Is it being rename or removed from kotest?
@sksamuel

[2021-07-10 20:40] sksamuel commented on #2163
Compiler plugin added to execute kotest specs in a similar way to how the kotlin compiler does it for kotlin.test tests.
See PR at https://github.com/kotest/kotest/pull/2345

@SebastianAigner would you be able to confirm that this is a good approach? The basic logic is: for each Kotest test class detected by the compiler plugin, we add a top level property like `val _kotest_my_test_class = runSpec

[2021-07-11 03:06] sksamuel opened #2348 "Add a threaded test mode for native tests"
https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-native/src/nativeTest/kotlin/io/kotest/NativeThreadingTest.kt#L64

[2021-07-11 03:36] sksamuel commented on #2335
Yeah you should be able to do this using the description on a test case.
There's a similar feature request for junit5 - https://github.com/kotest/kotest/issues/2168
If you wanted to make a PR, should be easy to support on both versions of junit.

[2021-07-11 03:39] sksamuel commented on #2341
kotlin provides the same thing now.
https://github.com/Kotlin/kotlinx.coroutines/tree/master/integration/kotlinx-coroutines-jdk8

Add that module to your build and then you can call .await() on your future, and it will suspend.

[2021-07-11 15:01] #2312 closed, assigned to nobody

[2021-07-11 15:12] #1743 closed, assigned to nobody

[2021-07-11 17:34] Marcono1234 opened #2350 "`tempdir` is not documented"
**Which version of Kotest are you using**
Commit 3881baffab4b62d75dcf400674c5b6a196af4aa3

**Description**
The `tempdir` function is not documented, this was raised in https://github.com/kotest/kotest/pull/1867#issuecomment-734385797, but apparently not addressed yet.

For reference, `tempfile` is mentioned both in [`doc/reference.md`](https://github.com/kotest/kotest/blob/master/doc/reference.md#

[2021-07-11 17:42] Marcono1234 opened #2351 "`tempfile` and `tempdir` should fail test when deletion fails"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
Currently `tempfile` and `tempdir` use the `java.io.File` methods which merely return a `boolean`, and kotest does not check the result whether the file or directory was actually deleted.

**Expected**
Kotest should (by default?) detect when a temporary file or directory could not be deleted and cause

[2021-07-11 19:55] Marcono1234 opened #2352 "Move "Contributing" documentation from wiki to `CONTRIBUTING.md`"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
Currently the [wiki](https://github.com/kotest/kotest/wiki/contribute) describes how to contribute to this project.
It might be better to instead use a `CONTRIBUTING.md` file for this. This way GitHub notices this file and shows it when creating issues and pull requests, see also [GitHub Docs](https:/

[2021-07-11 20:28] Marcono1234 opened #2354 "Publish Maven relocation artifacts"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
The `groupId` of this project and its subprojects have changed in the past (from `io.kotlintest` to `io.kotest`, and recently for extensions to `io.kotest.extensions`). Additionally for a few extension projects the `artifactId` seems to have changed as well, e.g. `kotest-plugins-pitest`.

Maven has a,

[2021-07-11 22:03] sksamuel commented on #2352
Thank you for the suggestion, I've created CONTRIBUTING.md

[2021-07-11 22:03] #2352 closed, assigned to nobody

[2021-07-11 23:07] sksamuel commented on #2343
Done.

[2021-07-11 23:07] #2343 closed, assigned to nobody

[2021-07-11 23:16] Marcono1234 commented on #2352
Thanks! Should the README "Contribute" link be updated to point to that file?
(And should the wiki page be removed then?)

[2021-07-11 23:18] sksamuel commented on #2323
Now merged in master.

[2021-07-11 23:18] #2323 closed, assigned to sksamuel

[2021-07-11 23:36] sksamuel commented on #2317
Looks like a kotlin compiler error. Are you using 1.5.20 ?

[2021-07-11 23:37] sksamuel commented on #2324
Maybe show the spec as ignored rather than completey missing ?

[2021-07-12 00:03] sksamuel commented on #2268
deprecated in 5.0

[2021-07-12 00:03] #2268 closed, assigned to nobody

[2021-07-12 00:05] sksamuel commented on #2288
Duplicate of https://github.com/kotest/kotest/issues/2308

[2021-07-12 00:05] #2288 closed, assigned to nobody

[2021-07-12 00:40] sksamuel commented on #2352
Yeah good call on both.

[2021-07-12 01:40] #2256 closed, assigned to nobody

[2021-07-12 01:41] sksamuel commented on #2232
^^^ Did my suggestion do what you want ?

[2021-07-12 01:45] sksamuel commented on #2293
^^ what was the status on this @ashishkujoy . I know we discussed it on slack.

[2021-07-12 03:33] sksamuel commented on #2262
We can easily add a skip exception but the sticking point in the past is junit platform - once you've started a test you cannot mark it as ignored. So the best we can do is mark it as passed. So I was a bit reluctant - will a green "skipped" test be an issue ? I'm sure we can do something if that's what we want.

I'm not too clear on what the proposal is here. That certain generated values we skip

[2021-07-12 03:56] sksamuel opened #2355 "Property testing should use bind as default for data class"

[2021-07-12 04:43] sksamuel opened #2357 "Arb.bigDecimal bounds are not being honored"
https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1623766535205300

[2021-07-12 04:45] #2357 closed, assigned to nobody

[2021-07-12 04:54] sksamuel opened #2358 "Release 4.6.1"
With:
- [x]  #2269
- [x]  https://github.com/kotest/kotest/issues/2357
- [x]  https://github.com/kotest/kotest/issues/2319
- [x]  https://github.com/kotest/kotest/issues/2342
- [x]  #2272

[2021-07-12 04:56] sksamuel commented on #2342
Fixed in master, will be in 4.6.1

[2021-07-12 04:56] #2342 closed, assigned to nobody

[2021-07-12 05:00] sksamuel opened #2359 "Set javascript promise timeout"
When using JS tests, we can set the timeout on the done promise, eg this.timeout(15000);

[2021-07-12 08:12] Pitel commented on #2163
It's not working for me. I tried latest 5.0.0 snapshot (310), and it look like now no tests are run.

* My jsTest testing test which should always fails is not failing.
* No report is generated bby Gradle.

JVM is still working fine, btw.

[2021-07-12 13:58] sksamuel commented on #2163
@Pitel We're a little bit early for people to test with yet. We need to publish the gradle plugin which is required for compiler plugins to work, and there are a couple of tweaks. I'll come back in a few days with full details on how you can help us test 5.0!

[2021-07-12 15:48] sksamuel commented on #2359
Completed in master.

[2021-07-12 15:48] #2359 closed, assigned to nobody

[2021-07-12 15:48] sksamuel commented on #2358
Released

[2021-07-12 15:48] #2358 closed, assigned to sksamuel

[2021-07-12 15:48] sksamuel commented on #2319
Fixed in 4.6.1

[2021-07-12 15:48] #2319 closed, assigned to nobody

[2021-07-12 16:00] sksamuel commented on #2269
4.6.1 has been released.

On Mon, 7 Jun 2021 at 05:11, Niklas Lochschmidt ***@***.***>
wrote:

[2021-07-12 16:55] ashishkujoy commented on #2293
Not getting enough time to actively work on this, last time i was to make it work for `shouldContainExactly` but was not able to make it work for `shouldContainExactlyInAnyOrder`

[2021-07-12 16:57] ashishkujoy commented on #2293
Maybe i should at least push the `shouldContainExactly` fix.

[2021-07-12 17:41] ashishkujoy commented on #2337
@Poorva17 does upgrading Kotest worked for you?

[2021-07-12 18:04] rezammalik commented on #2324
If there are like 40 test specs then having each one listed as ignored may be too much? Maybe a total of specs ignored instead of listing them out? My main concern was having the actual run output etc getting lost in the middle of all the specs listed as not run currently.

[2021-07-13 12:06] #5446 closed, assigned to nobody

[2021-07-13 12:41] LeoColman commented on #2232
It does, yes, although being 800 to 1000 is relatively easy to remember.
On dynamic tests or tests with not enough precision it might be a little bit weird to write `shouldBeBetween(763, 1237)`.

I do have a real case for this, when working with generators or randomly generated data; although I admit it is not that much of a need 😅

[2021-07-13 19:40] snowe2010 commented on #1401
I created the example for quarkus, but was told more work would be done on it to get the example working. Where are we with that? Is that something I can help with? https://github.com/kotest/kotest-examples-quarkus

[2021-07-13 22:41] sksamuel commented on #2293
Fixed in master

[2021-07-13 22:41] #2293 closed, assigned to ashishkujoy

[2021-07-14 08:21] benkuly opened #2364 "Incompatibility with kotlinx.serialization"
**Which version of Kotest are you using**
4.6.1

**Bug**
I'm getting the following error, when I want to build my project:
[code]

~~It seems that ktor below 1.6.0 is not compatible with the current kotilnx.serialization version: https://youtrack.jetbrains.com/issue/KT-43237
So upgrading ktor within kotest should fix it.~~

[2021-07-14 16:07] sksamuel commented on #2364
Are you using the latest release from the https://github.com/kotest/kotest-assertions-ktor project ?

[2021-07-14 16:10] benkuly commented on #2364
I just saw, that I don't use `kotest-assertions-ktor ` at all.

[2021-07-14 16:34] sksamuel commented on #2364
Ok so its not ktor its the json stuff. We can bump that.

[2021-07-14 19:29] coachroebuck opened #2366 "WARN: Duplicated test name io.kotest.data.Row1... ???"
I'm currently working with this version of kotest:
[code]

and am trying to eliminate this warning that appears when I execute my unit tests:
[code]

I decided to create this very simple unit tests. Perhaps my own tests were written incorrectly:
[code]
That ☝️ still produces those warnings.

What is going on here?

[2021-07-14 19:37] sksamuel commented on #2366
I'm not sure of the issue ( can dig deeper if required ) but I would look at the newer data test support in 4.6 that will become the preferred choice in 5.0

https://kotest.io/docs/framework/datatesting/data-driven-testing.html

[2021-07-16 14:31] #2240 closed, assigned to jschneidereit

[2021-07-16 14:47] AlexLi-Monster opened #2367 "Junit @Nested annotation doesn't work with Kotest AnnotationSpec()"
**Which version of Kotest are you using**
Kotest version: 4.4.3

Have following test:
[code]
only B is run, and when you run class `TestA` it says no tests found:
[code]

Have to change the @Test import from JUnit to make the `TestA` class run. Maybe Kotest should have its own @Nested annotation for it?

[2021-07-16 14:54] sksamuel commented on #2367
Yes, Kotest is not Junit so Junit annotations have no meaning here.
We could add @Nested but why not move to one of the other styles that allows for richer nesting ?

[2021-07-16 15:01] AlexLi-Monster commented on #2367
Yeah, I saw some other styles like ExpectSpec and DescribeSpec has explicit support for nesting tests, but need to stick with the AnnotationSpec which is the team feel most comfortable with.

[2021-07-16 15:10] sksamuel commented on #2367
I'm not sure Kotest offers much over JUnit if you're using AnnotationSpec. The idea behind AnnotationSpec is to allow you to upgrade your junit tests bit by bit rather than being used for new tests.

But that being said, I'm totally open to adding @NestedTest to Kotest. So we can add that to the 5.0 release.

[2021-07-16 16:25] sksamuel commented on #2354
Does this still work if the versions have changed as well ?
so io.kotest.foo:kotest-foo becomes io.kotest.foo2:kotest-foo2 but with new version, is that supported?
And what about if the version is earlier than the previous one (as in our case).

[2021-07-16 16:27] #2270 closed, assigned to nobody

[2021-07-16 18:23] adecker89 opened #2368 "Kotest 4.6.1 pulls kotlin version up to 1.5.0"
Hi, I read this bit in your release notes where you wanted to support multiple kotlin versions:

But on trying it I noticed that I was still getting a dependency on kotlin 1.5.0 libraries.

Specifically I see that
`io.kotest:kotest-runner-junit5-jvm:4.6.1` has an api dependency on `org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.5.0` which in turn pulls in the 1.5.0 stdlib

[2021-07-16 19:09] sksamuel commented on #2368
Ok yes I would consider this a bug. We shall release 4.6.2 with this reverted.
Thanks for letting us know.

[2021-07-18 01:53] unaryops opened #2369 "minDate not respected in Arb.localDate"
**Which version of Kotest are you using**
Version 4.6

This [code](https://github.com/kotest/kotest/blob/e9c046b2ffd7f60ced7a6aea0b0014cd6f484b7c/kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/dates.kt#L52) doesn’t take into account the date/month portion of the specified minDate . So when you specify minDate that is after the default edge case date, it will (intermittently) fail.

[2021-07-18 21:50] franzvezuli commented on #5442
Thanks for reporting, just came here to say the same. I flip between OSX and Windows (using WSL) often, and would be great to have the ability to run a single unit test in Windows.

Also related, I had to update to IntelliJ 2021.2 EAP because of this issue as well: https://youtrack.jetbrains.com/issue/KTIJ-11628#focus=Comments-27-4918500.0-0

[2021-07-19 05:59] sksamuel commented on #5442
Is this only happening with Kotest?

[2021-07-19 06:02] #2369 closed, assigned to nobody

[2021-07-19 22:22] Marcono1234 commented on #2354
Yes version changes are possible as well, the version can also be "lower", like it is the case for the extension projects here whose version numbering started at 1.0.0 again.
For example, I used the following test configuration:
[code]

You can also test this locally by running `gradlew publishToMavenLocal` and then creating demo projects depending on the relocation artifact (here `com.example:lib

[2021-07-19 22:37] maxwell-carbon opened #2372 "testcontainers extension seems to require Java 11"
**Which version of Kotest are you using**
`io.kotest.extensions:kotest-extensions-testcontainers:1.0.0`

When declaring a dependency on the above package, our (Java 8 + Gradle 7.1.1) build fails with:

[code]

Given the rest of kotest seems happy with JDK8, can we fix the extension?

[2021-07-19 22:43] Marcono1234 commented on #2354
I am not completely sure what the best practices are (or if there even exist best practices), but I think for your case it would make sense to continue numbering for the old artifact and then point to the new artifact corresponding to that version (instead of pointing to the latest version) to make it easier for users to first switch to the corresponding renamed artifact and then upgrade that. For

[2021-07-20 13:56] anton-bannykh commented on #2163
Should be fine for now. AFAIK we don't have a better solution for plugins at the moment.

P.S. Make sure `-Xir-property-lazy-initialization` is disabled (https://github.com/JetBrains/kotlin/blob/ff26a471b42707144ebd28778695f06ccf934821/compiler/cli/cli-common/src/org/jetbrains/kotlin/cli/common/arguments/K2JSCompilerArguments.kt#L142). I don't think it will be enabled by default, until there is a

[2021-07-21 02:26] franzvezuli commented on #5442
I don't run that many plugins, but I can verify that IntelliJ 2021.2 EAP with Kotlin on Windows (WSL2) works with JUnit. But I really like Kotest! For now compiling and running tests through the command line works, just not in the idea. Again, only an issue with Windows using WSL2

[2021-07-21 02:39] HunJeong opened #2373 "AutoWired not work when use SpringExtension and IsolationMode.InstancePer(Test | Leaf)"
**Which version of Kotest are you using**
4.6.1

**version of kotest-extension-spring**
1.0.0

If I change IsolationMode to something that is not SingleInstance, the test will not work

But SpringListener works

ex) in [kotest-extensions-spring](https://github.com/kotest/kotest-extensions-spring) test
[code]
‘have autowired the service’ test is broken

[2021-07-21 13:59] veluxer62 opened #2374 "Unresolved reference: mockk"
### version
4.6.1

### Report

When I use `mockk`, there are some errors below.

[code]

#### Test Code

[code]

#### Gradle

[code]

### Note

When I add mockk dependency as follow. It works.

[code]

[2021-07-21 15:51] Burtan opened #2375 "Improvement of equality.reflection assertions"
Hi,

I've played around with some reflect assertions and I think there should be made some changes.

- shouldBeEqualToComparingFields should have an option to skip computed properties (or make skip default and option to add)
- the actually comparing function checkEqualityOfFields could respect some special cases
  - Arrays
  - Others?

If a pull request is welcomed changing these things, I'm willi

[2021-07-22 08:44] sielenk-yara opened #2377 "shrunk values from Arb.numericDoubles do not respect the given range"
using Kotest 4.6.1

A similar problem as mentioned in #2284 exists for `Arb.numericDoubles`.

I am using `Arb.numericDoubles(from = 1e-6, to = 1e6)` to generate non-zero factors and on failure the shrinker tries 0.0:

    Attempting to shrink arg 504245.91197859275
    Shrink #1: 0.0 fail
    Shrink result (after 1 shrinks) => 0.0

[2021-07-22 10:05] sielenk-yara opened #2378 "Proposal for a better DoubleShrinker."
The Kotest 4.6.1 `DoubleShrinker` does not produce values I would consider "simpler" than the input:

[code]
produces
[code]
where the first three values are covered by the normal edge cases and most of the rest I would consider about as complicated as the input.

I propose something like this
[code]
which produces
[code]
I would find this more helpful when looking for "simpler" values.

The same

[2021-07-22 10:07] sielenk-yara commented on #2378
I just tried to create a pull request for this and found that this only works on the JVM platform!

Maybe I can come up with a non-string based solution for this...

[2021-07-22 13:15] sielenk-yara commented on #2378
I think I misunderstood the `Shrinker` interface:
`shrink` should not return the whole list of simpler numbers, but only the next one: `shrink(785040.15) shouldBe listOf(785040.1)`.

[2021-07-22 16:17] sielenk-yara commented on #2377
A test to trigger the problem:
[code]

[2021-07-23 00:11] lidonis opened #2380 "Problem with shrinking filter"
**Which version of Kotest are you using** 4.6.1

I tried to do property based testing but got a wrong shrinking number with filter
I got 1 as a result of the shrinking but it should not be a result according to the filter

[code]

[2021-07-23 09:16] mateuszkwiecinski opened #5440 "`ShouldNotBeTrueInspection` false positive"
Kotest: 4.6.1

## Repro steps:
Given following code:
[code]

IDE shows a warning and suggests a replacement that will fail the test
![image](https://user-images.githubusercontent.com/36954793/126760984-82c58078-b436-4129-9048-3d1ffa6df93a.png)

## Use-case
In my specific case I want to verify if google's `LiveData` instance doesn't have specific value. I don't care if it is false or null - I consi

[2021-07-23 13:26] JimeFuture opened #2382 "Js tests are allways passing"
Im in a mulitplatform project. Setup was done like discibed in the "get started" section.
The jvmTests are working as aspected.

The jsTests are always passing, even it not could pass at all:
[code]
Is there any additional setup must be done?

[2021-07-23 13:28] sksamuel commented on #2382
IR mode ?

On Fri, 23 Jul 2021, 08:26 JimeFuture, ***@***.***> wrote:

[2021-07-23 13:30] JimeFuture commented on #2382
Yes jvm and js complier both set to IR

[2021-07-23 15:19] miguelbaldi opened #2383 "Should error when Container tests do not contain a nested test"
**Which version of Kotest are you using**
4.6.1

I've noticed the following behavior when I've upgrade Gradle from 6.6.1 to 7.1.1.
When using WordSpec style, if we write the tests with `When` and `should`, without one more nested level, test class does not show on JUnit HTML report.
I was able to observe that the tests were running when a test fail, this way, the test is shown but without class na

[2021-07-23 17:48] ashishkujoy commented on #2374
I think thats an expected behaviour kotest does not automatically make mockk available to your tests, kotest internally uses mockk to provide some features like withConstantNow.

[2021-07-24 12:37] caramelomartins commented on #2211
I haven't had any time to work on this but I'm commenting just so that the stale bot doesn't close the issue.

[2021-07-24 23:00] #2188 closed, assigned to nobody

[2021-07-25 06:47] sielenk commented on #2380
This is a problem in the implementation of Arb.filter (kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/filter.kt).
It only filters the generated values, not the shrinkers.

[2021-07-26 06:18] lambdakilo opened #5439 "Plugin needs to updated for the newest IDE"
Kotlin Version: 1.5.20
Kotest Version: 4.6.0
Kotest Plugin Version: 1.1.36-IC-2021.1
Intellij Version: IU-211.7628.21

The exact error message is in the picture when trying to install Kotest IntelliJ Plugin from the plugin section in IntelliJ IDEA.

![image](https://user-images.githubusercontent.com/31825085/126941848-74338e18-4f1c-45c3-b7fd-3eefe93ff08d.png)

[2021-07-26 15:11] sksamuel commented on #5439
Possibly a duplicate of https://github.com/kotest/kotest/issues/5445

[2021-07-27 04:04] #2144 closed, assigned to nobody

[2021-07-27 06:30] lambdakilo commented on #5439
Good point! This might be a duplicate but Clearing file system cache, Local History and downloaded shared indexes didn't do the trick for me.
https://www.jetbrains.com/help/idea/invalidate-caches.html
Any way to debug this error message?

[2021-07-27 15:48] sksamuel commented on #5439
Did you remove the plugin before clearing the cache ?/
Basically you have a version installed for an older intellj and it hasn't upgraded.
You can see here we build for your version of intellij (211.76) https://github.com/kotest/kotest-intellij-plugin/blob/master/build.gradle.kts#L58-L59

[2021-07-28 05:06] lambdakilo commented on #5439
Like addressed in the issue kotest/kotest#5445 I can't remove the plugin if I have not installed it yet.

I tried to search for the plugin manually according to [this](https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000524244-Disable-Uninstall-plugin-without-launching-Idea) thread but there was no folder for the plugin Kotest or anything alike.

It's almost like only these lines

[2021-07-28 06:38] lambdakilo commented on #5439
The issue perished when updated to IntelliJ IDEA [build 212](https://confluence.jetbrains.com/display/IDEADEV/IDEA+2021.2+latest+builds).

Closing the issue.

[2021-07-28 06:38] #5439 closed, assigned to nobody

[2021-07-28 10:21] sksamuel commented on #5439
Ok i had missed that you had not even installed the plugin in the first
place! I thought you were upgrading intellij from an earlier version with
an earlier version of kotest plugin.

Anyway I'm glad it's working now!

On Wed, 28 Jul 2021, 01:39 Akira Taguchi, ***@***.***> wrote:

[2021-07-28 13:57] ashishkujoy commented on #2382
This is getting track here: #2163

[2021-07-29 21:01] th-jtullgren commented on #5486
Is the new plugin approved yet? I am still only getting 1.1.36-IC-2020.2 to show up.

[2021-07-29 22:20] glockbender opened #2387 "kotest-bom: how to import to project dependencies?"
I am trying to create my own BOM and import other bom-s into it. But when I try to import 'kotest-bom' it cannot be found with either gradle or maven.

my BOM example:
[code]
or my attempt to add bom to project:
```testImplementation(platform("io.kotest:kotest-bom:4.6.1"))```

gradle error:

Also, I can't find such an artifact in the repository.
Could you please publish `bom` in the repository or

[2021-07-30 04:48] #2192 closed, assigned to nobody

[2021-07-30 07:33] nomisRev opened #2388 "autoClose breaks Lazy"
**Which version of Kotest are you using**

1.4.6

[Here](kotest/core/TestConfiguration.kt#L118) Lazy is immediately invoked which initializes the Lazy value, to then pass it to the immediate autoClose function which rewraps in Lazy [here](https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/TestConfiguration.kt#L110).

If delegatio

[2021-07-30 07:40] nomisRev commented on #2388
Causing following issue:

Integration tests with Docker hosted Postgres, and `HikariDataSource`.

i.e:

[code]

Since `autoClose` breaks `Lazy` it will try to initialize itself immediately which means it doesn't respect the lifecycle of `container` which was should be started before `autoClose` is used for the first time.

[2021-07-30 07:41] nomisRev commented on #2388
Happy to open a PR for this 👍

[2021-07-30 11:33] sksamuel commented on #2388
Please do !

On Fri, 30 Jul 2021, 02:41 Simon Vergauwen, ***@***.***>
wrote:

[2021-07-31 03:12] sksamuel opened #2391 "Add coroutines debug option to tests"
https://github.com/Kotlin/kotlinx.coroutines/blob/master/kotlinx-coroutines-debug/README.md

[2021-08-01 16:29] sksamuel commented on #2383
It's because you haven't "completed" the test.
In WordSpec the test after "should" is the outer test and should always be included.
I think for 5.0 we can make the test framework let you know if you don't complete the test properly.

[2021-08-01 16:38] sksamuel commented on #2163
Thanks @anton-bannykh. Should that flag by added by users since they're generating the final JS files ?

[2021-08-01 16:38] sksamuel commented on #2382
Yep duplicate of https://github.com/kotest/kotest/issues/2163

[2021-08-01 16:38] #2382 closed, assigned to nobody

[2021-08-01 16:49] sksamuel commented on #2368
So just looking into this today and yes it was a conscious decision to bump to 1.5 for 4.6 but the API level is still set to 1.4
So there should not be any code in kotest that _requires_ 1.5 at runtime.
Are you seeing different behavior ?

[2021-08-01 16:52] sksamuel commented on #2375
For your first point, yes I think we should ignore any properties that are `synthetic` or `bridge`.
Point two, I think arrays is the type that mainly fails equals. We could override to use deep equals, perhaps enabled by a parameter.
Would love to see a PR if you have time.

[2021-08-01 17:51] sksamuel commented on #2372
The test containers extension and test containers itself are defined with 1.8 API.
If you grab the latest jar from maven, and extract one of the files you can see they are indeed compiled with 1.8.

[code]

`cafe babe` is the  java magic bytes
`0000 0034` is [classfile version 34 aka 1.8](https://en.wikipedia.org/wiki/Java_class_file)

So I think there must be something else in your build making i

[2021-08-01 18:14] sksamuel commented on #2232
What about `it.shouldBeWithinPercentageOf(1000, 0.2)`

[2021-08-01 18:14] sksamuel commented on #2350
Updated, thanks.

https://kotest.io/docs/framework/temporary-files/

[2021-08-01 18:14] #2350 closed, assigned to nobody

[2021-08-01 18:43] sksamuel opened #2393 "Support SpecExecutionOrder on native / js tests"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-01 18:44] sksamuel opened #2394 "Support project listeners on native /js tests"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-01 19:46] #2388 closed, assigned to nobody

[2021-08-01 19:46] sksamuel opened #2396 "Support project config on JS / Native"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-01 20:20] sksamuel commented on #2262
Any thoughts on the above ?

[2021-08-01 20:21] sksamuel commented on #5486
That is the latest version from a couple of months ago. Are you having some issues @th-jtullgren

[2021-08-01 20:50] sksamuel opened #2398 "Add spec ordering extension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-01 20:51] sksamuel opened #2399 "Support spec ordering in JS / Native engine"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-01 21:16] sksamuel commented on #2398
In master.

[2021-08-01 21:16] #2398 closed, assigned to sksamuel

[2021-08-01 21:16] sksamuel commented on #2399
In master.

[2021-08-01 21:16] #2399 closed, assigned to sksamuel

[2021-08-01 21:18] sksamuel commented on #2396
In master.

[2021-08-01 21:18] #2396 closed, assigned to sksamuel

[2021-08-01 21:20] sksamuel commented on #2351
Good suggestion. Added to master will be included in the 5.0 release.

[2021-08-01 21:20] #2351 closed, assigned to sksamuel

[2021-08-01 21:22] sksamuel commented on #2393
In master.

[2021-08-01 21:22] #2393 closed, assigned to nobody

[2021-08-01 21:58] Marcono1234 commented on #2350
Thanks! Should `reference.md` mention it as well, or is this not worth it?

[2021-08-01 22:34] sksamuel commented on #2350
Reference. Md is deprecated and slowly being replaced with the micro site

On Sun, 1 Aug 2021, 16:58 Marcono1234, ***@***.***> wrote:

[2021-08-02 01:26] adecker89 commented on #2368
This would be mostly about the standard library. I noticed my test builds were linking against the 1.5 stdlib. My actual application currently uses the 1.4 compiler and stdlib. Just the linking to the 1.5 stdlib was enough to cause issues in our tests and prevent us from upgrading.
I could most likely add an override rule in gradle to force my test targets to use 1.4 as well, but I didn't think th

[2021-08-02 02:11] sksamuel commented on #2368
Yeah it wasn't the intention. The intention was to make sure it compiles against 1.5 without requiring 1.5 necessarily to run.
The API version is set to 1.4 so I wonder if we can just set the stdlib to an older version and still compile it with 1.5 compiler.

[2021-08-02 04:51] #2394 closed, assigned to sksamuel

[2021-08-02 05:16] sksamuel commented on #2391
In master.

[2021-08-02 05:16] #2391 closed, assigned to sksamuel

[2021-08-02 05:46] sksamuel commented on #2324
This is done in master.

[2021-08-02 05:46] #2324 closed, assigned to nobody

[2021-08-02 06:50] #2161 closed, assigned to nobody

[2021-08-02 06:51] #2341 closed, assigned to nobody

[2021-08-02 07:11] #2337 closed, assigned to nobody

[2021-08-02 07:12] sksamuel commented on #2313
Fixed typo.

[2021-08-02 07:13] sksamuel commented on #2317
What about 1.5.21 ?

[2021-08-02 10:27] Teja-Konjeti opened #5438 "Does not work with latest Android Studio 2020.3.1"
Individual tests fail with various issues when the plugin runs using a custom command. I have attached a sample project link to reproduce this on the latest Android Studio 2020.3.1.

[2021-08-02 10:28] Teja-Konjeti commented on #5438
https://github.com/Teja-Konjeti/bug-kotest-intellij-plugin-140

[2021-08-02 10:36] Teja-Konjeti commented on #5438
The same tests pass normally when run through `./gradlew :app:test` and yes, I have added `org.json:json:20210307` as the dependency 😄

Sample error log:

Stub!
[code]

[2021-08-02 13:50] th-jtullgren commented on #5486
@sksamuel I was seeing this issue even after uninstalling and reinstalling the plugin in Android Studio.  I went through some actions that seemed to clear it up. It might have been a download cache issue.  Thanks for letting me know!

[2021-08-02 15:24] sksamuel commented on #2374
Yes this is expected behaviour. Mockk is a separate project.

[2021-08-02 15:24] #2374 closed, assigned to nobody

[2021-08-02 18:48] #5486 closed, assigned to nobody

[2021-08-02 18:50] sksamuel commented on #5438
Do I need android studio to run this sample project ?

[2021-08-02 20:02] Teja-Konjeti commented on #5438
Do you mean to say use Intellij 2020.3.1 instead? If you have it please try, if the bug doesn't reproduce, yes you might have to. My colleague has a older version of the Android Studio and it was working fine for him.

[2021-08-02 20:04] Teja-Konjeti commented on #5438
Also, you need to run the inner test, not the entire class.

[2021-08-02 20:21] YSakhno opened #2401 "Add configuration option to set minimum execution time in property tests"
I'd like to see an option to specify the minimum _amount of time_ (as opposed to iteration count) that is required for execution of each test function for property-based testing. So for example if time is set to 1 second, then the test function gets as many iterations as required to make 1 second.

If there are both the time, and the number of iterations configured, then whichever is _greater_ sho

[2021-08-02 20:48] sksamuel commented on #2401
Some great ideas in there. I think we should include this in 5.0

[2021-08-03 16:50] iainism commented on #2331
Could it be to do with this:  https://developer.android.com/studio/releases#test-configurations ?

I'm just looking at the Arctic Fox Release Notes now as it has gone stable (and STW after reading that Gradle is default, in case of issues in testing with Kotest brought me straight here), however breaking all my tests will upset me, so I'm going to investigate further before hitting the button!

[2021-08-03 17:11] sksamuel commented on #2331
Does it ignore failing tests or is it not actually running the tests ?

On Tue, 3 Aug 2021 at 11:50, iainism ***@***.***> wrote:

[2021-08-03 19:15] #2296 closed, assigned to nobody

[2021-08-04 13:36] gloryof opened #2402 "Arb.LocalDate return the date before minDate"
## Description
Arb.LocalDate return the date before minDate when minDate is after 2/28 or 2/29.
## Version
4.6.1
## Test Code
[code]
## Result
Both case are error.
### Leap year pattern message
[code]
### Not Leap year pattern message
[code]

[2021-08-06 01:26] LeoColman commented on #2232
I think it's ok!
However, should we use `0.2` to represent 20% or `20.0`? I think I like the latter more. AssertJ does it that way for their `withinPercentage`

[2021-08-06 02:44] sksamuel commented on #2232
Yes that makes sense 20.0

On Thu, 5 Aug 2021 at 20:27, Leonardo Colman ***@***.***>
wrote:

[2021-08-06 23:29] #2232 closed, assigned to LeoColman

[2021-08-07 23:39] #2265 closed, assigned to nobody

[2021-08-08 16:19] #2402 closed, assigned to LeoColman

[2021-08-08 21:20] YSakhno opened #2406 "Include range's first and last values as edge cases in Arb.int()"
When an arbitrary integer generator is created with a custom range, that range's first and last values should be automatically included as edge cases. With the default rage (`Int.MIN_VALUE..Int.MAX_VALUE`) this comes 'for free', but if integers are requested for a custom range (say, `Arb.int(10..100)`), then all default edge cases are effectively filtered out by the range. I think it makes sense t

[2021-08-08 22:16] sksamuel commented on #2406
Good idea.

[2021-08-09 01:31] #2206 closed, assigned to nobody

[2021-08-09 09:05] YSakhno commented on #2406
Actually, I found this text in documentation for `Arb`:

So it seems the current behavior is known and was chosen consciously at some time in the past. Not sure why, as I think having edge cases at the ends (i.e. _edges_) of the range would be beneficial.

[2021-08-09 12:57] sksamuel commented on #2406
Yes, so while the current implementation isn't wrong according to our docs, I think it could be improved by adding these edge cases.

[2021-08-09 13:35] sksamuel opened #2407 "IPAddressV4 arbitrary"

[2021-08-09 13:44] sksamuel opened #2409 "Hex codepoints arb"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-10 12:31] miguelbaldi commented on #2383
Thanks for the response, @sksamuel !

And what about the way the tests are shown on Gradle 7, they are pretty different, is that the intended behaviour?

[2021-08-10 23:29] coachroebuck commented on #2366
This time, I followed the data driven testing, as provided in the link you have provided, and recorded my progress.

[If you are able to access this video](https://drive.google.com/file/d/1R5h-ZlP6ujpDJ7aMXNqbB6QdThdpZUEx/view?usp=sharing)

The latest version of Android Studio (provided in the video) apparently is unable to identify that unit test, which is a shame given the large number of unit t

[2021-08-11 02:38] coachroebuck commented on #2366
My sincere apologies. I'm an idiot. In my case, a regression error had been introduced. Those errors were revealed in the RUN panel.

My bad!

[2021-08-11 02:38] #2366 closed, assigned to nobody

[2021-08-11 23:49] sksamuel commented on #2372
Did you fix this ?

[2021-08-11 23:54] sksamuel commented on #2366
So what was the issue mike ?

[2021-08-12 00:09] coachroebuck commented on #2366
The original message:
[code]
I am now using Android Studio Arctic Fox 2020.3.1, and no longer see that warning anywhere, or at least I haven't been paying attention.

The most recent post: We had a situation in which we actually changed the code base, but failed to update our unit tests accordingly. 🤷

It was weird that Android Studio decided to even make an attempt to run the unit tests in spite

[2021-08-12 00:27] #2317 closed, assigned to nobody

[2021-08-12 05:19] Teja-Konjeti commented on #5438
@sksamuel Were you able to figure this out? The plugin is unusable in its current state, would really appreciate a fix :)

[2021-08-12 05:21] sksamuel commented on #5438
Looks like the error is not in kotest, but in something that invokes stub.

Stub!
java.lang.RuntimeException: Stub!
at org.json.JSONObject.(JSONObject.java:30)
at xyz.teja.jsonunittesterror.Pojo.a(Pojo.kt:7)

[2021-08-12 05:24] Teja-Konjeti commented on #5438
I think the library is not being added in the latest version of IntelliJ due to some location change? it works for my colleague on an older Android Studio and it also works from the command line (`./gradlew :app:test`)..

[2021-08-12 05:25] Teja-Konjeti commented on #5438
I mean that the command generated by the plugin is wrong in some way..

[2021-08-12 16:53] sksamuel commented on #5438
not sure how, have you looked at what's in your code here:
xyz.teja.jsonunittesterror.Pojo.a(Pojo.kt:7)

[2021-08-12 17:32] Teja-Konjeti commented on #5438
Yes 🙂 I created a sample project for the bug.. It just creates a json object.. and it runs when run through command line.

[2021-08-12 19:19] Ankit-Laddha opened #2411 "Unrelated test error - java.lang.AssertionError: Test 'xyz' is incomplete"
Info:
Kotest = 4.2.6
SpecUsed = FunSpec
gradleVersion = Gradle 6.3
Kotlin =  1.3.70
Reporting Allure = 2.8.1

Hello,
I'm using gradle command line to run test on my local with specific tag. All my tests (assume A, B, C etc) are created using FunSpec style.
When i want to run only single test e.g. A, in console I see logs related to B and C also.

    java.lang.AssertionError: Test 'B' is incomplet

[2021-08-12 19:32] sksamuel commented on #2411
Sounds like you're not creating the test correctly in the DSL structure.
What does your test layout look like ?

[2021-08-12 20:48] Ankit-Laddha commented on #2411
This is what i also suspect. The structure my team is following might be incorrect.

[code]

Here the `withFun` is a function which takes a enum value and then loads/reads certain env variables as per it. These env variable values are then used in different parts of code.

I believe since FunSpec content is run in init body, it "initialises" all classes. So the classes for which I have not defined

[2021-08-12 21:04] sksamuel commented on #2411
Test is incomplete means you've started adding a test but not completed it.

Like,

`test("asdas")`

Note no lambda And things like that.

You're running an old version of kotest, I would go to 4.6.1 and see if the error persists.

[2021-08-13 04:48] sksamuel opened #2412 "Sequence.containExactly should work for single pass sequences"
**Which version of Kotest are you using**

[2021-08-13 06:54] sschuberth commented on #2412
We're using version 4.6.1, also see [this discussion](https://github.com/oss-review-toolkit/ort/pull/4244#discussion_r687414896):

[2021-08-13 17:21] sksamuel commented on #2412
@sschuberth do you need a fix for 4.6.x or are you ok to wait for 5.0 ?

[2021-08-13 18:49] sschuberth commented on #2412
Thanks for asking. While I have no idea for when 5.0 is planned, I guess it's fine to wait as we can live with the `toList()` work-around for now.

[2021-08-13 18:52] sksamuel commented on #2412
4 weeks

On Fri, 13 Aug 2021, 13:49 Sebastian Schuberth, ***@***.***>
wrote:

[2021-08-15 15:44] fcabouat commented on #2182
Hi,

Wasn't all too obvious in my case what the error was (didn't think classpath was an actual dependency here, and not *the java classpath* ).

Help with maven dependency:tree plugin and :

[code]

fixed it.

[2021-08-15 18:35] #2412 closed, assigned to nobody

[2021-08-15 18:40] #2407 closed, assigned to nobody

[2021-08-15 18:41] #2409 closed, assigned to nobody

[2021-08-15 22:26] sksamuel commented on #2372
A new version of the extension has been released - do you want to try that ?
`io.kotest.extensions:kotest-extensions-testcontainers:1.0.1`

[2021-08-16 11:49] sksamuel opened #2415 "Add cartesian pairs helpers for Exhaustive"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-08-16 12:02] #2415 closed, assigned to nobody

[2021-08-16 12:13] sksamuel commented on #2406
The edgecases are already included actually.
This is the implementation:

[code]

So looks like docs are just incorrect.

[2021-08-16 21:39] YSakhno commented on #2406
OK, I see. This code is not in the version I currently use (4.6.1) for some reason, so I did not know that it was already implemented.

Did you check generators for other types (longs, shorts, bytes, etc.) as well? Possibly also floating point ones...

[2021-08-17 14:43] #2372 closed, assigned to nobody

[2021-08-17 19:14] Ankit-Laddha commented on #2411
I upgraded kotest to 4.6.1, no longer see this problem w/o any code changes.
so definitely some problem with 4.2.6 version.
@sksamuel what we do with this issue then? let it be open for 4.2.6?

[2021-08-17 19:42] sksamuel commented on #2411
<4.6 versions are no longer seeing anything but the most critical fixes so I think we can close.
5.0 is the current focus.

[2021-08-17 19:42] #2411 closed, assigned to nobody

[2021-08-17 21:06] GavinRay97 opened #2416 "Create "Fat Jar" launcher module: `kotest-framework-engine-launcher` that can be executed as a process"
Following conversation on Slack:

Not sure how much merit this has on it's own, but it would allow Kotest to be integrated into tooling that works with any test framework that provides a runnable binary-ish process consuming options via CLI args (as opposed to build-tool specific integrations).

[2021-08-17 22:33] sksamuel opened #2417 "Provide more powerful way of registering extensions"
Currently, we can do something like:

[code]

But there's no way to get back a materialized value (to steal akka streams nomenclature). when the listener is created. In the kafka example we re-use the listener as the control too.

It would be good to something like:

[code]

Then we can offer things like:

[code]

We can use the word `install` or anything else that might be more appropriate.

[2021-08-17 22:39] LeoColman commented on #2417
Can't we do
[code]
already?

[2021-08-17 22:59] sksamuel commented on #2417
Yep, but that just returns the instance you pass in.
I should have been clearer, I'm imagining that there's some kind of "setup" callback on the instance you pass in, and the return of that is what you get back.
That's how the akka streams materialized value thing works.

[2021-08-19 11:50] rgmz commented on #2182
The error wasn't obvious in my case either; I'm including some verbose output to (hopefully) improve the 'searchability' of the error.

Running the tests via terminal (`mvn test`) yielded a vague error:

[code]

I stumbled across this issue but, similar to @fcabouat, didn't initially realize the relevance of `io.github.classgraph`. However, running the tests from my IDE (IntelliJ) returned the _ac

[2021-08-19 15:48] rgmz commented on #2182
**Update:** Unfortunately, it wasn't as simple as this.

The exclusion rule allows Kotest to start, but causes the application to fail once started:
[code]

Digging deeper, the root cause is [Classgraph v4.8.86](https://github.com/classgraph/classgraph/releases/tag/classgraph-4.8.86) which [replaces all references to "whitelist" and "blacklist"](https://github.com/classgraph/classgraph/commit/1f81

[2021-08-19 16:32] sksamuel commented on #2182
I think the easist fix is for kotest to use the deprecated older names.
I can do that and release 4.6.2

[2021-08-19 16:47] #2262 closed, assigned to nobody

[2021-08-19 17:28] sksamuel opened #2420 "Add arb for Locale"
Arb.locale()

[2021-08-19 17:28] sksamuel opened #2421 "Add arb for timezone"
Arb.timezone()

[2021-08-19 18:05] rgmz commented on #2182
I can do that and release 4.6.2

Thanks, @sksamuel. I agree it seems the easiest fix to preserve compatibility with Classgraph 4.8.x.

---

For what it's worth, pinning a higher version of Classgraph [`<dependencyManagement>`](https://stackoverflow.com/a/46348737)  _\*appears to\*_ work. However, there may be subtle issues I'm yet to discover, and there may be other package conflicts which cannot

[2021-08-20 09:44] #2420 closed, assigned to nobody

[2021-08-20 09:44] sksamuel opened #2422 "[5.0.0 release] Check arbs docs contain all existing arbs"
Please describe here what you would like to see documented.

[2021-08-20 09:44] sksamuel opened #2423 "[5.0.0 release] Check assertions docs contain all existing assertions"
Please describe here what you would like to see documented.

[2021-08-21 20:06] #2421 closed, assigned to nobody

[2021-08-21 20:07] sksamuel commented on #2359
See https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-js/src/jsTest/kotlin/io/kotest/engine/js/TimeoutTest.kt

[2021-08-22 22:02] #2417 closed, assigned to nobody

[2021-08-23 12:00] Teja-Konjeti commented on #5438
@sksamuel The release notes have this, does it have anything affecting the plugin?

[Unit tests now uses Gradle test runner](https://developer.android.com/studio/releases?utm_source=android-studio-2020-3-1&utm_medium=studio-assistant-stable#test-configurations)

[2021-08-23 17:39] nicorichard opened #2428 "Property Module: PropTestConfig's `iterations` parameter is not respected."
**Which version of Kotest are you using**

4.6.1

**Description**

The PropTest/PropTestConfig data structures [described here](https://kotest.io/docs/proptest/property-test-config.html) contain a value `iterations` which is not respected by `checkAll`, `forAll`, or the underlying internal `proptest` functions.

**Steps to Reproduce**

Test code:
[code]

Result:
[code]

[2021-08-24 00:24] #2428 closed, assigned to nobody

[2021-08-24 09:19] sksamuel commented on #2412
Released in 4.6.2

[2021-08-24 09:20] sschuberth commented on #2412
Thanks a lot!

[2021-08-24 09:52] sksamuel commented on #2428
Released in 4.6.2

[2021-08-24 11:30] #2267 closed, assigned to nobody

[2021-08-24 11:32] sksamuel commented on #2182
Updated in 4.6.2

On Thu, 19 Aug 2021 at 13:05, Richard Gomez ***@***.***>
wrote:

[2021-08-24 12:45] Ankit-Laddha opened #2432 "Use ThreadLocal Webdriver in kotest for parallel execution"
Hello,

How do one use Thredlocal impl for webdriver in kotest? I have asked same question on stackoverflow: https://stackoverflow.com/questions/68896661/use-threadlocal-webdriver-in-kotest-for-parallel-execution

Java example: http://makeseleniumeasy.com/2020/04/09/importance-of-using-threadlocal-variables-in-parallel-execution-of-automation-scripts/

[2021-08-24 12:46] Ankit-Laddha opened #2433 "Run tests in single Spec in parallel ini kotest"
How can one run tests in single Spec in parallel in kotest? I have asked same question here: https://stackoverflow.com/questions/68865079/run-tests-in-single-spec-in-parallel-ini-kotest

Spec Style: FunSpec

[2021-08-24 13:00] sksamuel commented on #2433
So, like

[code]

You want 1 and 2 to run in parallel ?

[2021-08-24 13:49] Ankit-Laddha commented on #2433
@sksamuel yes. Because I'm using kotest as an e2e framework. Each test itself is independent test journey hence I want to leverage running them in parallel.

[2021-08-24 14:00] #2380 closed, assigned to nobody

[2021-08-25 11:21] Ankit-Laddha opened #2436 "How to add new attachment to the allure report"
Kotest: 4.6.2

I'm trying to take a screenshot of HTML page and attach that as a screenshot in Allure Test Report in the Listener AfterTest method

[code]

1. I see the .png file in the Allure folder but it does not have the same name "Page Screenshot" which I have passed. Rather it is named as `<uuid>-attachment.png`
2. But the final Allure report still doesn't show the screenshot. I believe that

[2021-08-25 13:33] kieranipalmer opened #2437 "Arrow Extension requires Java 11"
**Which version of Kotest are you using**
`io.kotest.extensions:kotest-assertions-arrow:1.0.3`

Our Gradle Builds are failing after changing to use the extension packages. It appears that the Arrow extension requires Java 11

[code]

I believe there was a similar issue with TestContainers: https://github.com/kotest/kotest/issues/2372
Can we update the Arrow extension to work on Java 8?

[2021-08-25 15:53] nicorichard opened #2438 "Property Module: Allow global seed configuration"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
While there are undoubted benefits of running tests with different values every time, in practice our team prefers to favour a more reliable approach.

Such that:
* Issues do not crop up in CI which were not produced locally by the developer
* A developer doesn't need to be intimately familiar with th

[2021-08-25 16:10] nicorichard opened #2440 "Property Module: Mutation of global PropertyTesting configuration throws InvalidMutabilityException in Kotlin/Native"
**Which version of Kotest are you using**
4.6.2

**Steps to reproduce**

Simply attempt to modify the global `PropertyTesting` configuration from a test running in Native (I'm using iosX64)

[code]

[code]

**More Information**

We are attempting to upgrade to kotest 4.x property testing into a Kotlin Multiplatform Mobile (android + ios) project.
Previously we were using a barebones internal frame

[2021-08-25 17:33] sksamuel commented on #2440
I think we just need to freeze the PropertyTesting object.

[2021-08-25 17:53] nicorichard commented on #2440
A frozen object becomes immutable which should mean that we can no longer modify the configuration.

I have been experimenting with a solution based on patterns we use on our apps, running into some issues from the JVM side now but [the commit is here if you're curious](https://github.com/CityTransit/kotest/commit/04206eb512884a74cfee83d0331528876063841b).

[2021-08-25 17:55] sksamuel commented on #2440
Ah yes of course if it's frozen.

[2021-08-25 17:57] sksamuel commented on #2440
I guess moving it out to the container object fixes that issue.
Might be a good approach to revisit this for 5.0.0 that we're looking to release soon.

[2021-08-25 18:04] sksamuel commented on #2440
Isn't @ThreadLocal supposed to avoid this issue on native ?

[2021-08-25 18:11] sksamuel commented on #2437
@i-walker Does arrow need 11 ?
If not I will change the release process to use 8.

[2021-08-25 19:53] sksamuel commented on #2436
Where are you adding that Allure.addAttachment block ?

[2021-08-26 12:42] Ankit-Laddha commented on #2436
If there was an exception during test case run, i'm checking that in afterTest method of my listener and then want to take a screenshot of my browser and add that to allure report.
We also don't have various other events like onFailure, onSkipped etc like we have in TestNG or do we?

[2021-08-26 21:57] nicorichard commented on #2440
`@ThreadLocal` is most likely doing its job of providing copies for different threads. The issue is that in K/N an Object definition is frozen by default, making the reference immutable and subject to `InvalidMutabilityException`.

Proof:
[code]

It's not so clear that we would even want this object to be Thread Local at any rate. It might be quite confusing to modify the _global_ configuration an

[2021-08-27 11:26] sksamuel commented on #2440
@ThreadLocal turns off immutability but it doesn't help us if global config
is not global.

On Thu, 26 Aug 2021, 22:57 Nico Richard, ***@***.***> wrote:

[2021-08-27 13:28] Dignig opened #2442 "Rename "assertSoftly" to "assertGroup""
Unfortunately, the name of the method "assertSoftly" doesn't reflect entirely it's behaviour and confuses. It is desirable to rename the method to "assertGroup". Or add "assertGroup" and make "assertSoftly" deprecated.

[2021-08-27 13:49] sksamuel commented on #2442
We have any { } as well. Perhaps assertAny or assertAll is better.

On Fri, 27 Aug 2021, 14:28 Dignig, ***@***.***> wrote:

[2021-08-28 08:02] jschneidereit commented on #2442
Please use`io.kotest.assertions.all { }` , it is the new and improved `assertSoftly` as of #2233

[2021-08-28 10:23] #5443 closed, assigned to nobody

[2021-08-28 11:48] renatoathaydes opened #2444 "Kotlin compiler cannot compile table using 8 columns"
[code]

This code does not compile after I upgraded from old `io.kotlintest:kotlintest:2.0.7`:

[code]

ERROR:

[code]

[2021-08-28 17:03] GavinRay97 commented on #1401
I'm willing to try to help out here too, time permitting. Have some experience authoring Quarkus extensions + familiarity with Quarkus codebase. (Not sure how useful that is for this particular scenario but maybe better than nothing? 😅)

- https://github.com/quarkiverse/quarkus-scala3
- https://github.com/quarkusio/quarkus/issues/2720#issuecomment-881139430

Have started by updating the example re

[2021-08-28 21:36] pe4enko opened #5437 "Need version of plugin compatible with Intellij Idea 2021.2.1"
Need version of plugin compatible with Intellij Idea 2021.2.1
Thanks.

[2021-08-30 04:08] charleskorn opened #2445 "Failing test running on Kotlin/Native fails with unhelpful error message when run from Gradle command line"
**Which version of Kotest are you using?**
5.0.0.419-SNAPSHOT

I have a very simple failing test:

[code]

If I run this test on the JVM with Gradle (`./gradlew jvmTest`), I get the following, very clear, error message:

[code]

However, if I run the same test with Kotlin/Native on macOS with Gradle (`./gradlew macosX64Test`), I get this error message:

[code]

(I haven't tried it on other platfor

[2021-08-30 04:14] charleskorn commented on #1743
Are there any plans to support native ARM targets such as `linuxArm64` or `macosArm64`? (Happy to open a separate issue for this if you'd prefer.)

[2021-08-31 12:42] sksamuel commented on #2445
The MPP, and especially native, support is beta as we build it out for the 5.0.0 release. This kind of feedback is great to help improve the support.

[2021-08-31 12:52] sksamuel commented on #1743
We will support anything we can - if you could open a PR adding those targets we can merge in (doesn't have to be all modules).

[2021-08-31 12:58] sksamuel commented on #5437
There is a build compatible with 2021.2.1
What error are you seeing ?

![image](https://user-images.githubusercontent.com/743706/131506542-db6a9bd7-272e-4c17-a009-2c8a757d6c1d.png)

[2021-08-31 13:12] shwaka opened #2446 "Nest and indentation of inspectors.forAll"
When we nest `inspectors.forAll`, the error message for failure is a little hard to read.
I think it will be better if the message is indented properly.

This is an example that includes nested `inspectors.forAll`:

[code]

## Current behavior
Currently (version `4.6.2` of `kotest`), the error message is:

[code]

## Behavior which I request
I think it will be easier to read if it is indented acco

[2021-08-31 13:14] pe4enko commented on #5437
![image](https://user-images.githubusercontent.com/822445/131508813-daaa69fa-1625-45e5-8805-75c2de2f6195.png)

[2021-08-31 13:14] pe4enko commented on #5437
![image](https://user-images.githubusercontent.com/822445/131508906-4cbbef1a-cd45-4fdd-adeb-398761f0b682.png)

[2021-08-31 13:15] sksamuel commented on #5437
I've seen this before where intellij gets confused. The solution is to remove the plugin, then go to invalidate caches and restart, and then once restarted add the plugin and it should pick up the right version.

[2021-08-31 13:30] pe4enko commented on #5437
You are right, thanks!

[2021-08-31 13:30] #5437 closed, assigned to nobody

[2021-08-31 13:33] sksamuel commented on #5437
Glad it worked :)

On Tue, 31 Aug 2021 at 08:31, pe4enko ***@***.***> wrote:

[2021-08-31 13:38] sksamuel commented on #2444
Looks like 8 might be missing. We can add it and release 4.6.3

[2021-08-31 14:31] OliverO2 opened #2447 "withClue() fails with EmptyStackException if a coroutine switches threads"
Version: `kotest-assertions-core:4.6.2`

As described in the [coroutine docs on thread-local data](https://kotlinlang.org/docs/coroutine-context-and-dispatchers.html#thread-local-data), a coroutine may switch threads at suspension points.

`withClue()` relies on thread-local data via `ThreadLocalErrorCollector`, without taking coroutine thread-switching into account. It fails if its block contains

[2021-08-31 14:56] jschneidereit commented on #2447
I have a feeling at least part of this solution might be to revamp the error collector to be a coroutine context element as well as making suspending `withClue` implementations that know about a `CoroutineContext`

[2021-08-31 15:02] OliverO2 commented on #2447
I agree.

[2021-08-31 15:07] sksamuel commented on #2447
Yes we've mullled over this jim and also doing the same for soft assertions mode

[2021-08-31 15:09] jschneidereit commented on #2447
Excellent 😈

[2021-09-01 02:44] #2438 closed, assigned to nobody

[2021-09-01 02:45] sksamuel commented on #2447
@jschneidereit we might want to consider https://github.com/kotest/kotest/issues/2230 too

[2021-09-01 03:39] charleskorn commented on #1743
Done: #2449

This is a draft until a [new version of kotlinx.coroutines](https://github.com/Kotlin/kotlinx.coroutines/pull/2904) is published with macOS ARM targets.

[2021-09-01 15:25] benjishults opened #2451 "afterSpec is not called if beforeSpec fails"
**Which version of Kotest are you using**  4.6.2

If `beforeSpec` exits with an exception, then `afterSpec` is not called.

Is this by design?  If so, it might be nice to have the docs call it out specifically.

[code]

[code]

[2021-09-01 23:56] #2445 closed, assigned to nobody

[2021-09-02 01:42] charleskorn opened #2453 "Support for nested tests on Kotlin/Native"
At the moment, attempting to use any kind of nested test fails on Kotlin/Native targets with an exception:

[code]

Being able to nest tests is one of the compelling features of kotest over the built-in kotlin.test framework. What would it take to support this?

[2021-09-02 02:07] sksamuel commented on #2453
On native, it will be included in 5.0 if possible, it shouldn't be difficult.
On JS it's not possible without changing Kotest in breaking ways.

[2021-09-02 07:19] Teja-Konjeti commented on #5438
@sksamuel Did you get some time to look at this?

[2021-09-02 08:11] shwaka commented on #2446
I have written a working example [shwaka/kotest-nest-forAll](https://github.com/shwaka/kotest-nest-forAll) of the above "implementation".
(I have reimplemented `io.kotest.inspectors.buildAssertionError` and `io.kotest.inspectors.forAll` in a different namespace `com.github.shwaka.kotest.inspectors`)

Here is the error message from it, which looks nice (at least for me).

[code]

[2021-09-02 12:23] PHaroZ opened #2454 "Eager `Any.toString()` in MatcherResult"
kotest version 4.6.0

Hi,

Some of my tests deal with huge data class and I found that they are slow & memory consuming because a lots of matchers indirectly call `Any.toString()` even if those tests didn't return any error.

An exemple here : https://github.com/kotest/kotest/blob/0ba14983d485b1b1caef0e5a2cd7402ba47e34d2/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matc

[2021-09-02 12:38] sksamuel commented on #2454
Definitely, good spot.

[2021-09-02 12:44] i-walker commented on #2437
No it works on 8, 9, 11, and higher.
I will look into it

[2021-09-02 15:14] ychescale9 opened #2455 "Add apple silicon targets"
👋
It'd be great to add the new apple silicon targets:

[code]

[2021-09-02 15:45] ychescale9 commented on #2455
Looks like it's already done in https://github.com/kotest/kotest/pull/2449/, feel free to close 😄

[2021-09-02 16:58] OliverO2 commented on #2447
[Here is a prototype implementation](https://gist.github.com/OliverO2/e9a9cc962f5b4bc5210a3797b6c46a34) for a coroutine-safe `ErrorCollector`.

After some experimentation, it seems that a `ThreadLocal` context element must be explicitly inserted into newly created coroutine contexts, i.e. those, that do not inherit from other contexts.

In the prototype implementation, this is done via `runBlockin

[2021-09-02 19:58] Kantis opened #2456 "Failing datatest when running class causes exception"
**Which version of Kotest are you using**
4.6.2

Running this class (entire spec) with ` ./gradlew :test --tests "SomeTest"` causes the following error, which in turn leads to no test results showing up in IntelliJ.

[code]

[code]

[2021-09-03 13:35] #2455 closed, assigned to nobody

[2021-09-03 17:33] Kantis opened #2458 "shouldEqualJson in Strict mode should compare raw values"
**Which version of Kotest are you using**
4.6.2

The following two tests currently fail using the default comparison mode `CompareMode.Strict`. Imo `CompareMode.Strict` should simply compare the value as a string and presence of quotation.

[code]

[2021-09-04 14:14] YSakhno opened #2461 "Does the bind() function of property testing support shrinking?"
Reading the source code for **v4.6.2**, I don't see anything related to shrinking support by [the `bind()` function](https://kotest.io/docs/proptest/generator-operations.html#bind). So even if the individual generators used in binding support shrinking, we have to forego shrinking, it seems. Am I misreading the source code and missing the point somehow?

[2021-09-05 19:10] jschneidereit opened #2463 "Make explicitTags accessible to aroundProject or similar and improve Tags to allow interrogation"
In #2462 the concept of explicit tags is introduced. Project listeners should be able to interact with the explicit tags as well as modifying the tags specified. Consider a test suite with unit and integration tests.

If no tags are specified, then I want to set the `Unit` tag.
If an integration tag `FooIntegration` is specified, then I want to set up the Foo thing for the rest of the test run.

[

[2021-09-06 23:42] sksamuel opened #2465 "Make TestEngineListener public"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-09-07 03:06] sksamuel opened #2466 "Tests to add"
* ~Ignored spec shows up as ignored in junit~
* Better junit lifecycle tests for updated test engine listener spec methods
* ~Error in configuration eg invalid value for KotestEngineProperties.duplicateTestNameMode~
* ~IgnoreNestedSpecStylesInterceptor~
* ~IgnoredSpecInterceptor~
* Error in finish spec listener
* Cancelling a test coroutine should not propagate out by virtue of the supervisor scop

[2021-09-07 06:20] #2442 closed, assigned to nobody

[2021-09-07 07:42] sksamuel commented on #2445
I believe this is working for the latest snapshot.

[2021-09-07 07:42] sksamuel commented on #2451
Yes as expected.
I will update the docs to clarify the lifecycle for 5.0

[2021-09-07 08:06] charleskorn commented on #2445
Yes it is - thanks for fixing this issue!

[2021-09-07 21:41] #2440 closed, assigned to nobody

[2021-09-07 21:44] sksamuel commented on #2453
@charleskorn try snapshot 471.
The output isn't amazing because the intellij format lacks real nested support but it works.

[2021-09-07 21:45] #2453 closed, assigned to nobody

[2021-09-07 21:47] sksamuel commented on #2465
Done

[2021-09-07 21:47] #2465 closed, assigned to nobody

[2021-09-07 23:25] charleskorn commented on #2453
Awesome, thanks @sksamuel

[2021-09-08 16:00] sksamuel opened #2472 "Check if we can remove test-js as an api dependency"
Check if we can remove test-js as an api dependency

[2021-09-08 16:00] sksamuel opened #2473 "Check all engine classes for internal prior to 5.0 release"
Check all engine classes for internal prior to 5.0 release

[2021-09-09 09:33] ilya40umov commented on #5437
BTW, for me it has only worked after I manually removed `kotest-intellij-plugin` from `disabled_plugins.txt` (lives in `~/.config/JetBrains/IntelliJIdea2021.2` on Linux).

[2021-09-10 07:14] myuwono opened #2478 "[bug] Arb.uuid() is not caching RgxGen instance"
Currently `Arb.uuid()` recreates RgxGen instance on every random sample. This caused very noticeable slowness for those arbs relying on it.

Since UUID versions have predictable regexes, we can fix this bug by assigning the string pattern Arbs as private vals i.e.

[code]

[2021-09-10 08:16] JavierSegoviaCordoba commented on #2241
Are there docs about this?

[2021-09-10 08:22] sschuberth commented on #2230
This has just recently been referred to, so I believe it should stay open.

[2021-09-10 09:23] #2478 closed, assigned to myuwono

[2021-09-10 09:33] #2472 closed, assigned to nobody

[2021-09-10 09:53] #2375 closed, assigned to nobody

[2021-09-10 10:22] sksamuel commented on #2436
There are many lifecycle events you can tap into. You can look at TestListener and look at afterTest and that contains the status of the test.

So what I would do is this - create your own allure listener by wrapping ours.
Then in afterTest you can add the attachment.

[code]

[2021-09-10 10:27] sksamuel commented on #2313
TestEngineListener now has specIgnored and specInactive.
Does that cover what you want ?

[2021-09-10 10:36] sksamuel commented on #2241
It hasn't been started yet - as I focused on the compiler plugins for MPP support which I think is more important for 5.0

But now that that is done, and I have some understanding of compiler plugins, this could be tackled soon.

[2021-09-10 10:45] sksamuel opened #2482 "Data test on JS should use toString"
**Which version of Kotest are you using**

[2021-09-10 10:55] sksamuel commented on #2302
Ok, so the reason this happens is intellij considers a dot to be a package name separator.
So foo.json is test class foo with method name json (it's very class / method centric).
I will see if we can escape it.

[2021-09-10 10:58] sksamuel commented on #2302
https://www.jetbrains.com/help/teamcity/service-messages.html#Interpreting+test+names

Looks like its not possible.
I guess we could replace a period with another unicode character.

[2021-09-10 11:14] sksamuel commented on #2364
Is this using the json matchers ?

[2021-09-10 11:14] sksamuel commented on #2433
Inside your spec you can set concurrency = x

[code]

[2021-09-10 11:15] sksamuel commented on #2383
Gradle doesn't understand nested tests.
Some open bugs at gradle for several years. I wouldn't count on them being fixed anytime soon.

[2021-09-10 11:17] sksamuel commented on #2168
Can you paste me the sample output of surefire for your tests ?
Even if it's just dummy test names.

[2021-09-10 11:18] #2454 closed, assigned to nobody

[2021-09-10 11:18] sksamuel commented on #2454
Fixed in master, will be in 5.0.0.M2

[2021-09-10 11:22] sksamuel commented on #2137
The arrow matchers have been completely overhauled thanks to work by @i-walker
Now they can do smart casting and should do exactly what you need.

For example.

[code]

See:
https://github.com/kotest/kotest-extensions-arrow/blob/master/src/commonTest/kotlin/io/kotest/assertions/arrow/core/ValidatedMatchers.kt#L33-L36

[2021-09-10 11:29] sksamuel commented on #2230
It's in the roadmap. I've marked it as pinned.

[2021-09-10 11:30] sksamuel commented on #2230
How do you see this working?
If I have a test that I set a timeout for 10 seconds and it times out - it will throw a timeout exception so you know why it failed. What extra information would you like in there ?

[2021-09-10 11:37] benkuly commented on #2364
It think so, but I cannot reproduce it at the moment, because I disbaled JS due to a bug of kotlinx.serialization

[2021-09-10 11:38] sschuberth commented on #2230
See above (at the example of a CLI program that causes a timeout due to waiting for *stdin*): "In such cases *stdout* could be shown as a clue, which would help to identify the interactive prompt."

[2021-09-10 11:48] #2473 closed, assigned to nobody

[2021-09-10 11:51] sksamuel commented on #2230
Right, so this is specific to stdin in timeouts.
Kotest would have to capture stdout _in case_ the test times out.

I wonder if another construct makes sense.

withStdOutClue { }

Which captures std out and emits it as a clue if the test fails.

[2021-09-10 11:54] sschuberth commented on #2230
I wasn't meaning to suggest such a specific change to be done to Kotest. But as some one who writes test with Kotest, I'd like to be able to "manually" pass any clue that I see fit to `withTimeout()`. At the time I filed this issue, I could not see a way to do that (e.g. by nesting `withTimeout()` inside `withClue()`).

[2021-09-10 11:56] sksamuel commented on #2364
I have bumped the versions of kotlinx.serialization to the latest 1.3 for our 5.0 release.
If you still have issues please reopen.

[2021-09-10 11:56] #2364 closed, assigned to nobody

[2021-09-10 11:56] #2302 closed, assigned to nobody

[2021-09-10 11:57] sksamuel commented on #2302
Gone with replacing dot with space.
This is better than having just the suffix after the dot appearing.

[2021-09-10 11:58] sksamuel commented on #2163
5.0.0.M1 has been released which has the first support for JS/IR.
Docs on usage is available here: https://kotest.io/docs/framework/multiplatform.html

[2021-09-10 11:58] #2163 closed, assigned to sksamuel

[2021-09-10 12:01] sksamuel commented on #2461
You're correct.
We could update bind to defer to component shrinkers.
PR ?

[2021-09-10 12:05] sksamuel commented on #2456
Gradle bug.
Fixed in 6.8.1

[code]

[2021-09-10 12:05] #2456 closed, assigned to nobody

[2021-09-10 12:06] sksamuel commented on #2348
Will defer this until the new native memory model is completed.

[2021-09-10 12:06] #2348 closed, assigned to sksamuel

[2021-09-10 12:12] sksamuel commented on #2406
I have checked the other types and updated docs were appropriate.

[2021-09-10 12:12] #2406 closed, assigned to nobody

[2021-09-10 12:16] sksamuel commented on #2377
Fixed in 5.0

[2021-09-10 12:16] #2377 closed, assigned to nobody

[2021-09-10 12:17] sksamuel commented on #2230
ohhh I see.

Right, that sounds like a really good idea.

[2021-09-10 12:47] sksamuel commented on #2331
Did anyone make progress on this ?

[2021-09-10 14:21] #2433 closed, assigned to nobody

[2021-09-10 15:53] theHacker opened #2489 "kotest-spring-extension: Unexpected error from ByteBuddy when using "import" inside package name"
I hit a strange error message when using Kotest's Spring Extension.
My projects worked like a charm, but when adding a new test, I got this exception.

Simplified reproduction:
[code]

[code]

I traced the problem to ByteBuddy's `InstrumentedType.java:1640`, where `isValidIdentifier()` returned `false` for the generated test class. Problem is that my package contains `import`.

It's a Java vs Kotl

[2021-09-10 16:02] sksamuel commented on #2489
Since its a generated method, we could replace any soft keywords with softwords + _

[2021-09-10 16:08] bbaldino commented on #2168
@sksamuel are you saying: post the console output of the tests as they are today?

[2021-09-10 16:10] sksamuel commented on #2168
Yeah just to get an idea.

[2021-09-10 16:21] bbaldino commented on #2168
Ok, let me know if this works.  The output of the failed test looks like this:
[code]

But the test itself is:
[code]

So the idea was that, in the failure output, it would show the entire test description "chain" (i.e. `Rfc3711IndexTrackerTest feeding in the first sequence number and then another without rolling over and then an older sequence number should return the proper index`)

[2021-09-10 16:23] sksamuel commented on #2168
Yeah it should do that, gradle does (sort of).
Is it just showing the spec name in the output then ??

[2021-09-10 16:26] bbaldino commented on #2168
Yup, when there's a failure it just shows what I pasted above (spec name + the `should` scope description the failing assertion is in)

[2021-09-10 16:26] bbaldino commented on #2168
This is with 4.6.1

[2021-09-10 16:38] #2482 closed, assigned to nobody

[2021-09-10 16:58] sksamuel opened #2490 "Can we throw away the difference between containers and tests?"
I wonder if we could make test type be dynamic.
If a test scope has no further tests registered then it's a leaf node.
That would mean that we can't report leaf tests until they finish, but that should be ok.

[2021-09-10 16:59] sksamuel commented on #2436
Please reopen if my solution does not work

[2021-09-10 16:59] #2436 closed, assigned to nobody

[2021-09-10 17:25] Pitel commented on #2163
Still does not work for me.

It says  `BUILD SUCCESSFUL`, but there is a test which should fail (`false.shouldBeTrue()`).

[code]

[2021-09-10 18:21] Kantis opened #2491 "Failing withData-test doesn't show up properly in IntelliJ when executing tests with gradle"
**Which version of Kotest are you using**
4.6.2

**When IntelliJ is configured to run tests with Gradle (default):**
Running a spec with a `context` containing `withData` inside it, where one of the `withData` tests results in the `context` being entirely removed from the test report. See here:
![bild](https://user-images.githubusercontent.com/316857/132899025-e658e828-30ef-49b9-87de-67b149dd3b2f.

[2021-09-10 18:39] sksamuel commented on #2489
Thanks for the bug report. Turns out we can't stop the error, but we can issue a nicer warning. I've released 1.0.1 with that fix.

[2021-09-10 18:39] #2489 closed, assigned to nobody

[2021-09-10 19:23] theHacker commented on #2489
Nice. Thank you!

[2021-09-10 19:38] sksamuel commented on #2211
I've pinned it so it won't set it stale.
If you have time to do this that's cool @caramelomartins it not I will try to get to it.

[2021-09-10 19:39] caramelomartins commented on #2211
@sksamuel I'll have some time this week to do this. Thanks!