[2020-09-09 07:49] Xinkle opened #1710 "Koin extenstion + Behavior spec not working. but String spec working."
**Which version of Kotest are you using**
KoTest : 4.2.4
Koin: 2.1.6

I have a unit test for some classes.
The class has koin injection internally

[code]

and I override the listener according to document
[code]

and I write test code with behavior spec
[code]

But test code not working
[code]

But when i replace BehaviorSpec with StringSpec, it works.
[code]

and also success use the injected la

[2020-09-09 08:34] lwasyl opened #5477 "Navigate -> Go to Test Subject doesn't work in specs"
Normally the `navigate -> go to test (subject)` shortcut (cmd + shift +T) works differently in project sources and in tests:
 - in project sources the shortcut navigates to the test for given class
 - in test, the shortcut navigates to the tested class

With Kotest's IJ plugin navigation _to the test_ works. But when pressing cmd + shift + T inside the spec, I'm only offered to go _to the same tes

[2020-09-09 08:52] mtraynham commented on #1707
Thanks for taking a look at this 😄 .

I tried with 4.2.4 and am seeing roughly the same.  The code path falls into https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/eq/Eq.kt#L32, where it used to hit that [else](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/commonMain/kotl

[2020-09-09 09:34] anton46 commented on #1709
Solved. add juipter/vintage

[2020-09-09 09:34] #1709 closed, assigned to nobody

[2020-09-09 10:43] myuwono opened #1713 "kotest arbitraries should not use deprecated arb builders"
we've recently deprecated `arb { }` in favour of `arbitrary { }`. There are still arbs that are still not using the new builder including:
- bytearrays
- char
- codepoints
- lists
- date
- nonemptylist
- maps

[2020-09-09 18:37] LeoColman commented on #1710
Could you try tweaking your isolation mode around to see if it changes this behavior? It seems to me that the way your test instances are being isolated is messing with Koin context

[2020-09-09 18:37] LeoColman commented on #5478
Perhaps moving this to https://github.com/kotest/kotest-intellij-plugin makes more sense?

[2020-09-09 18:43] sksamuel commented on #5478
Yep.

On Wed, 9 Sep 2020 at 13:38, Leonardo Colman <notifications@github.com>
wrote:

[2020-09-09 18:43] sksamuel commented on #1710
This is because, like the spring listener, it creates a new context for
every level of nesting.
We can just do what we did for spring here too.

On Wed, 9 Sep 2020 at 13:37, Leonardo Colman <notifications@github.com>
wrote:

[2020-09-09 20:18] Lunchee opened #1714 "Automatic documentation for the matchers"
Hello!

I have a proposal about documenting the matchers in the sources (using KDoc) in addition to the documentation given on the [full list of matchers](https://github.com/kotest/kotest/blob/master/doc/matchers.md) page.

The reason is that as a user of Kotest I would like to quickly access the documentation right from the IDE rather than opening a documentation webpage on GitHub. I believe it w

[2020-09-09 20:52] sksamuel commented on #1714
Totally agree. And if you can figure out a way to generate the matchers programatically, that isn't horrible like javadoc, then I think that would be awesome.

[2020-09-09 21:34] #1713 closed, assigned to nobody

[2020-09-09 22:10] sksamuel commented on #1649
I think we can make this work.

What I'd need to see is an example of where the dynamic property source values are used.

I understand that the container needs to start first, then the dynamic source is processed to add the container properties to the test context properties. Where are those values then used? In other fields?

[2020-09-10 01:03] Xinkle commented on #1710
@LeoColman How do I tweak isolation mode? sorry for I am a newbie to kotest.

[2020-09-10 01:07] Xinkle commented on #1710
@LeoColman
Above error message
`at com.samsung.android.runestone.domain.usecases.AppUpdateUseCaseTest$1.invokeSuspend(AppUpdateUseCaseTest.kt:24)`
pointing
`
            When("Test When") {
`

So I think the koin context started at `Given` first, and it is not removed on before `When`. so In conclusion, it will be started double.

And when I use not koinListener, start koin explicitly in the init

[2020-09-10 03:48] sksamuel commented on #1707
I have fixed this in master. We will release 4.2.5 tomorrow.

[2020-09-10 07:55] benkuly commented on #1649
The property values can be used everywhere in the code. Mostly spring auto-configuration projects use it internally. For example a database can be simply integrated to your spring application by adding a dependency and a few properties to a properties-file. Because in tests with TestContainers they are not static, they need to provided at test-runtime.

Here is an example-project, where this is us

[2020-09-10 13:45] JavierSegoviaCordoba opened #1715 "Gradle Versions Plugin (Ben Manes) takes a lot of time to complete"
I checked that `dependencyUpdates` task takes a lot of time to complete when it is analyzing Kotest artifacts.

[2020-09-10 13:52] #1715 closed, assigned to nobody

[2020-09-10 15:48] sksamuel commented on #5478
Gchallen I'm trying to get this to work but I can't get the gradle run icon to appear even for junit tests.

I think I've fixed the issue with kotest but can't confirm it.

[2020-09-10 17:21] Lunchee commented on #1714
Great!
Then I'll start with documenting functions in the `containExactly` file if you don't mind. I'll prepare a quick pull request soon to understand if I'm moving in the right direction.
Meanwhile, will try to find out how to extract the documentation to the `matchers.md` file automatically.

[2020-09-10 17:48] sksamuel commented on #1714
Sounds great. Note, we want the docs/ folder not the doc/ folder as the
latter is going away, and the former is the new microsite via mkdocs.

On Thu, 10 Sep 2020 at 12:21, Georgy Lidskiy <notifications@github.com>
wrote:

[2020-09-11 10:44] almozavr opened #1716 "Configure Junit5 report to exclude ContainerScope "tests""
## Context
Using `ContainerScope` (e.g. Given/When) and `isolationMode = IsolationMode.InstancePerLeaf` I often want to assert/verify  only `TestContext`s (e.g. Then) while containers are served as pre-configuration blocks which I find quite comfortable to read as a developer.

## Issue
Junit report contains empty "container tests" which are misleading at e.g. CI level.

[code]

![image](https://u

[2020-09-11 14:20] sksamuel commented on #1716
It's a lack of functionality in the junit report format.
We have this to help:
https://kotest.io/extensions/junit_xml/

[2020-09-11 14:30] almozavr commented on #1716
@sksamuel thanks! it looks just fine ⭐️

[2020-09-11 14:30] #1716 closed, assigned to nobody

[2020-09-11 15:22] almozavr commented on #1716
@sksamuel quick questions: `JunitXmlReporter` uses hardcoded `outputDir` which creates duplicate for the default task-driven test results – is it an issue or we could do nothing with it?
![image](https://user-images.githubusercontent.com/780153/92943267-9fe8df80-f463-11ea-9a83-5678753c9fa9.png)
![image](https://user-images.githubusercontent.com/780153/92943577-00781c80-f464-11ea-88c6-2097455e7810.

[2020-09-11 15:47] sksamuel commented on #1716
You can pass in the value you want for outputDir or is that not what you
are looking for?

On Fri, 11 Sep 2020 at 10:22, Oleksii Malovanyi <notifications@github.com>
wrote:

[2020-09-11 15:54] almozavr commented on #1716
@sksamuel I can't see the option to pass `outputDir` param, only the `build` folder param is accepted by the class, which doesn't help, so we end up having 2 separate folder at `test-results` (in case of Android project).

[2020-09-11 15:54] almozavr commented on #1716
I also found the JunitXmlReporter to write test-results only if there is at least 1 failing test 🤔

[2020-09-11 16:01] sksamuel commented on #1716
It should always write out, I will check that bug.
I don't understand what you're looking for the output. Can you give me an example of the directory structure you are looking for?

[2020-09-11 16:08] almozavr commented on #1716
@sksamuel by default, android test-task creates `test-results` folder with the name related to the flavour/buildType name, e.g. `"test${Flavour}${BuildType}UnitTest"` -> `testDebugUnitTest`. I'd like `JunitXmlReporter ` to use the same folder to write it's version of the report so it overrides the default's junit version. Is it possible? If so, we need a way to say to `JunitXmlReporter` the output

[2020-09-11 16:12] sksamuel commented on #1716
I see ok.

I suspect gradle passes this into the junit one because gradle is tightly
coupled with junit.
The way is probably to change this line:

systemProperty("gradle.build.dir", project.buildDir)

to reference the configuration name as well.

On Fri, 11 Sep 2020 at 11:08, Oleksii Malovanyi <notifications@github.com>
wrote:

[2020-09-11 16:26] almozavr commented on #1716
@sksamuel oh, I was blind to see `outputDir` is a constructor argument 👀 anyway, it seems like there is no way to override the default junit's folder (`testDebugUnitTest` on android) – I suppose, junit reporter overtakes the control here. So, I think `JunitXmlReporter` is an extra but not a first class option :(

[2020-09-11 16:29] sksamuel commented on #1716
Kotest's junit reporter is like an add on that mimics what junit/gradle do.
So you can turn off the report gradle generates for you (since it has the
incorrect output) and then use kotest's to work.
You can set systemProperty("gradle.build.dir", project.buildDir) to include
the test-results/testDebugUnitTest path
and then in the constructor for the reporter, set outputDir to just ""

On Fri, 11 Se

[2020-09-11 16:30] almozavr commented on #1716
@sksamuel thanks for the help and the details 🙏

[2020-09-11 16:31] sksamuel commented on #1716
Absolutely, let me know if it's still not working.
And if you can get the syntax right to include the test configuration name,
then I can add that to the docs.

On Fri, 11 Sep 2020 at 11:30, Oleksii Malovanyi <notifications@github.com>
wrote:

[2020-09-11 18:45] sksamuel opened #1717 "Allow listeners to be tagged with tags"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-12 02:06] lgtout commented on #1545
TBH, I'd be happy with just being able to break the test name up on separate lines and have both the plugin and the StringSpec style understand that it's a single test:
[code]

Last I checked, StringSpec doesn't like the `+`.

If the run output window displays the test as a single line, that's fine.  Also fine if the plugin does the same.

[2020-09-12 02:56] sksamuel commented on #1545
What's going to happen with that is that the  { will associate first, and
so what you're getting is "given" + (test case).

On Fri, 11 Sep 2020 at 21:06, jabiodun <notifications@github.com> wrote:

[2020-09-12 03:07] sksamuel commented on #1545
You can do what you want with multiline string """.
Eg see this test.
https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-engine/src/jvmTest/kotlin/com/sksamuel/kotest/engine/spec/multilinename/StringSpecMultilineNameTest.kt

[2020-09-12 13:29] sksamuel commented on #1695
No casting to do, as Result is not an ADT.

[2020-09-12 13:29] #1695 closed, assigned to nobody

[2020-09-12 13:44] sksamuel commented on #1649
This makes sense.
So what's happening in that example, is they are using a companion object to create the container, so it will run before the test class is instantiated.

In the example you posted, the container is in the test class itself, so will always be created after the test class initializer has run.
You would need to move it out into a companion object like they did in their example.

[2020-09-12 13:45] sksamuel commented on #5478
Do you have a sample project I can use that gives me the gradle run icon on a test.

[2020-09-12 13:46] sksamuel commented on #5477
Does your test class and the normal class have the same name but with Test on the end ?

[2020-09-12 13:55] ashishkujoy commented on #1649
@benkuly, I am assuming the problem you are facing here is that when container starts it starts on some random available port on  your machine and you have a fix port added in your application yaml file. And you want to change that port property to the port on which container is serving request.

Is that assumption is right?

[2020-09-12 14:33] sksamuel commented on #1649
The random port on the container needs to be passed to spring beans so it can connect.
So if you have a web server being started up, that random port needs to be passed to the http client.
This is just a problem of initialization order - the container must be created before the test class is instantiated.

The simplest way is to just create the container outside of any test class and then it's pro

[2020-09-12 19:04] sksamuel commented on #1710
4.2.5 has been released which fixes this.

[2020-09-12 19:04] #1710 closed, assigned to sksamuel

[2020-09-12 19:05] sksamuel commented on #1696
Released in 4.2.5

[2020-09-12 19:05] #1696 closed, assigned to sksamuel

[2020-09-12 19:05] sksamuel commented on #1694
Released in 4.2.5

[2020-09-12 19:05] #1694 closed, assigned to nobody

[2020-09-12 19:35] sksamuel commented on #1707
4.2.5 is released.

[2020-09-12 19:35] #1707 closed, assigned to nobody

[2020-09-14 13:17] swachter commented on #1651
Scala check provides a [`Gen.lzy`](https://github.com/typelevel/scalacheck/blob/master/src/main/scala/org/scalacheck/Gen.scala#L564) combinator that helps to construct recursive generators. Maybe kotest could also provide one.

[2020-09-14 16:23] ashishkujoy commented on #1717
What will be the use of tagging a listener?

[2020-09-14 19:30] sksamuel commented on #1717
So we can run a listener against multiple specs but not all.
An annotation would work too @Extension(Foo::class)

On Mon, 14 Sep 2020 at 11:24, Ashish Kumar Joy <notifications@github.com>
wrote:

[2020-09-16 17:09] lwasyl commented on #5477
They have the same name but with `Spec` suffix, not `Test`, but when I rename the test to `<TestedClass>Test` the behavior is still wrong

[2020-09-18 16:06] benkuly commented on #1649
Thank you, that worked :)

[2020-09-18 23:32] #1649 closed, assigned to nobody

[2020-09-19 04:36] ashishkujoy commented on #1717
@sksamuel Did you mean when we add listener through project config having tag on listener will help to run it only when that particular tag is active and the spec is also tagged with same tag?

[2020-09-19 06:54] #1705 closed, assigned to nobody

[2020-09-19 13:48] sksamuel commented on #1537
I have renamed to `forAll`, added `forNone` and added support for the other nested specs, and added tests.
Please review the PR here: https://github.com/kotest/kotest/pull/1721

[2020-09-19 13:53] sksamuel commented on #1717
Yeah basically. I'm thinking of extension authors who might want an easy way to enable a listener automatically for multiple tests. Perhaps a Spring extension only needs to be active in certain scenarios. JUnit achieves this by making you add @Extension to the class.

So we can either
- Add support for `@Extension(Foo::class)` like JUnit
- Add some kind of `install(tag1, tag2, listener)` inside pr

[2020-09-21 11:52] #1537 closed, assigned to sksamuel

[2020-09-21 14:57] sksamuel commented on #5479
I have a build that fixes this if you want to test it locally ?
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip](https://github.com/kotest/kotest-intellij-plugin/files/5256189/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip)
You would need to remove your existing plugin first and restart and install this one manually from the settings -> plugins -> cog icon.

[2020-09-21 20:39] coreORB commented on #5479
Thank you for quick, new build.
Unfortunately, I cannot install it. The message is "Plugin 'kotest' is incompatible with this installation".
I'm using Android Studio version 4.0.1. When I click Help -> IntelliJ IDEA Help, it redirects me to https://www.jetbrains.com/help/idea/2019.2/installation-guide.html, so I assume it's based on IntelliJ 2019.2.
Would it be possible to prepare plugin compatibl

[2020-09-21 20:54] sksamuel commented on #5479
[Uploading kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip…]()
Try this

[2020-09-22 05:58] coreORB commented on #5479
Unfortunately, the link is wrong. Could you paste new one?

[2020-09-22 07:47] jillesvangurp opened #1723 "Kotlin-js shouldBe on enum value fails with TypeError"
**Which version of Kotest are you using** 4.1.3 & kotlin 1.4.10

This assertion fails on kotlin-js and passes on jvm. The enum is a regular enum.

[code]

The error is:

[code]

Note the error message is printed twice somehow.

[2020-09-22 08:06] jillesvangurp commented on #1723
problem seems fixed in 4.2.5

[2020-09-22 08:06] #1723 closed, assigned to nobody

[2020-09-22 12:34] sksamuel commented on #5479
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip](https://github.com/kotest/kotest-intellij-plugin/files/5261401/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip)

Strange, try this one.

[2020-09-22 17:23] lwasyl commented on #5490
Still relevant

[2020-09-23 06:43] tkrullmann opened #1725 "Coroutine context from extensions is not propagated to tests"
**Which version of Kotest are you using**
4.2.5

I am trying to use a custom extension or `aroundTest` call that surrounds the test execution with a `withContext(...)`, augmenting the coroutine context.

Expected: the added coroutine context is accessible from the tests and other setup logic that is invoked as `suspend`

Actual: the coroutine context is not propagated to the test, somewhere on the

[2020-09-23 08:44] Animeshz commented on #737
Any solutions, or still an open issue?

[2020-09-23 15:21] sksamuel commented on #1725
We could probably use the context from an extension for the context the test runs. It might get complex though with the fact a test can run multiple times, in parallel and so on.

Perhaps just a better extension setup would be preferable. Something akin the extension context from JUnit 5.

[2020-09-23 16:05] IsLery commented on #1620
Having the same issue with plugin version 1.1.16-IC-2019.3

[2020-09-24 06:22] coreORB commented on #5479
I was able to test it today and it's working with both "JAR Manifest" and "classpath file". Thank you! 👍

[2020-09-24 07:10] tkrullmann commented on #1725
Well, I think the coroutine context would already be a great equivalent / replacement for JUnit's `ExtensionContext.Store`, and has the advantage that it's already familiar to developers. And the other features `ExtensionContext` offers (querying the current test class or test instance) don't really apply to kotest because it's functional in nature. Moreover, we already have `TestContext` which of

[2020-09-24 10:17] Poorva17 opened #1726 "Migration path for consumers using kotlintest-core version 3.4.2"
Hi,

We are currently using `"io.kotlintest"         % "kotlintest-core"         % "3.4.2"` in our project. We have already upgraded kotlin version to `1.4.10`. Now we want to upgrade `kotlintest-core` dependency. We saw in [change logs](https://kotest.io/changelog/) that packaging and module names have changes in major release 4.0.0. We upgraded dependency to `"io.kotest"             % "kotest-co

[2020-09-24 11:03] sksamuel commented on #1726
You want kotest-runner-junit5 4.2.5. You don't need to depend on core.

On Thu, 24 Sep 2020, 05:17 Poorva Gokhale, <notifications@github.com> wrote:

[2020-09-24 12:06] U1F984 opened #1727 "Equality testing for iterables broken"
**Which version of Kotest are you using**
4.2.5

Due to the recent changes from https://github.com/kotest/kotest/commit/6bbbfec0cf69089d3d5d9ec0aea848eb055dca90 equality testing for iterables is broken:

[code]

this is caused by a missing check in `IterableEq#checkIterableEquality` that the given iterables are the same size. Also, the implementation is not fast because it will create a list in th

[2020-09-24 12:25] U1F984 opened #1728 "containExactlyInAnyOrder relies on hashCode"
**Which version of Kotest are you using**
4.2.5

If I compare a collection containing objects that overwrite `hashCode` incorrectly by `containExactlyInAnyOrder`, it will fail, even though the collection content might be equal. If this is not considered a bug it should at least be documented in the KDocs for the method.

[2020-09-24 13:11] LeoColman commented on #1728
How could we verify if two objects are equal if their hashcode is implemented incorrectly?

[2020-09-24 13:28] U1F984 commented on #1728
To clarify: the `equals` method is implemented correctly, the `hashCode` simply does not fulfill the implicit contract that if `a.equals(b)` then `a.hashCode() == b.hashCode()` since it incorrectly calls `Object.hashCode()`. So equality can be tested via `equals`.

[2020-09-24 13:51] georglundesgaard commented on #5536
Has this feature request been abandoned?

I'm using IntelliJ IDEA Ultimate 2020.2 with kotest-intellij-plugin 1.1.16-IC-2020.1 and it does not work for me.

[2020-09-24 15:35] Chainfire opened #5476 "Options to force all tests to run"
In IDEA the option exists to "Rerun failed tests", which selectively runs only the tests that previously failed.

Is there a way to force all tests to run always on the kotest level, and if not, could it be implemented ?

In case of interdependent tests, it's easy to remember for yourself to just not use the "Rerun failed tests" button, but with libraries others may use or work on this may create

[2020-09-24 19:14] gchallen commented on #5478
Here's an example: https://github.com/gchallen/kotest-gradle-repo. Note that this is using kotlintest, not kotest. But this is the way that things used to work.

When I open this in IntelliJ here's what I see:

![image](https://user-images.githubusercontent.com/445443/94189182-09a7b700-fe70-11ea-9aa9-2625d7f9f777.png)

And, when I click on the run icon, it runs the test using Gradle:

![image](htt

[2020-09-24 19:18] sksamuel commented on #5478
Which version of intellij @gchallen

[2020-09-25 08:45] RajatVaryani commented on #1697
I would like to work on it.

[2020-09-25 12:03] sksamuel commented on #1697
Please do.

On Fri, 25 Sep 2020, 03:45 Rajat Varyani, <notifications@github.com> wrote:

[2020-09-25 13:02] gchallen commented on #5478
Latest CE: 2020.2.

[2020-09-25 15:17] zeitlinger commented on #1537
@sksamuel just saw that the Go plugin has just extended support for table driven tests to add gutter icons for each test: https://youtrack.jetbrains.com/issue/GO-4811

If you give me some hints, I'd try to add the same functionality for kotest.

[2020-09-25 15:27] sksamuel commented on #1537
Might be hard, as you only have the method names to go by. You could look
for "forAll" inside a test case, and then make the assumption that's a data
test. But any other forAll usage would be affected to.
I think for this to work it needs to have it's own unique method name, like
dataTestForAll or something not as wordy as that.

On Fri, 25 Sep 2020 at 10:17, Gregor Zeitlinger <notifications@githu

[2020-09-25 17:55] sksamuel commented on #5479
Great, I'll cut an official release this weekend.

[2020-09-25 18:00] sksamuel commented on #1725
So we can just use the inherited context when creating the new context, and your values should be propagated down.

[2020-09-25 20:29] rkim-branch commented on #5486
I am having similar variation of problem.

[code]
It used to work fine, until I have upgrade clikt to 3.x from 2.x. As kotest-framework depends on clikt@2.x, IntelliJ plugin was not able to find matching bytecode symbol from 3.x jar.

[2020-09-25 23:52] myuwono commented on #1701
We will be deprecating distinct. closing this issue as won't fix

[2020-09-25 23:52] #1701 closed, assigned to nobody

[2020-09-26 00:19] sksamuel commented on #5486
Yes, if you are using clikt in your own project, it will clash with the
plugin.
I will have to remove usage of clikt from the plugin to avoid these clashes.

On Fri, 25 Sep 2020 at 15:29, Rex Kim <notifications@github.com> wrote:

[2020-09-26 08:30] ashishkujoy commented on #1545
@sksamuel should we close this issue now?

[2020-09-26 14:08] sondr3 commented on #1473
I'm having the same issue myself right now with IntelliJ and Kotest, autocompletion is extremely slow. I did what @neelkamath suggested and the resulting improvement in responsiveness is very noticeable. I might start considering moving to Junit for testing simply because of the extremely slow responsiveness of the IDE.

[2020-09-26 14:36] lgtout commented on #1545
@sksamuel As the test you referred to shows, special treatment is required at each test on each test name in order to prevent the extra spaces from showing up in the test output.  Is there a way to do this in one location, for all tests that use multiline string?  I was unable to find one.

[2020-09-26 15:53] neelkamath commented on #1473
@sondr3 I did: https://dev.to/neelkamath/why-i-migrated-from-kotest-to-junit-2k41

[2020-09-26 16:03] Animeshz commented on #1355
Seems like yes, still 600 seconds on 4.2.5

[2020-09-26 16:15] sksamuel commented on #1473
Is it still slow if you just use an init block @sondr3  ?

[code]

[2020-09-26 16:21] sksamuel commented on #1473
@neelkamath what do you mean by _Gradle's --tests filter only works for top-level classes_ and _The lack of pretty printing means that you almost always have to debug the test case regardless of whether a more expressive matcher was used_. Some more context would be good.

The rest of your points in that blog post are either gradle/junit limitations or IDE bugs. The idea is to ditch junit platform

[2020-09-26 16:31] sksamuel commented on #1545
I see. So what about combining the multi string test names, with an opt in feature that will collapse white space inside test names?
Then if you do

[code]

It would be trimmed to `"my test is really long"`

[2020-09-26 17:16] lgtout commented on #1545
@sksamuel That would be great!

[2020-09-26 17:19] lgtout commented on #1545
@sksamuel What do you mean by `combining the multi string test names`?  Are you referring to nested test names?  Or just combining the separate lines of each multi string test name?

[2020-09-26 17:30] sksamuel commented on #1545
I just meant stripping excess whitespace from the middle of names when using the multi line style.

[2020-09-26 17:40] sondr3 commented on #1473
I'm using the `DescribeSpec` and it was still terribly slow, it's still slow, but fairly reasonable.

[2020-09-26 17:52] sksamuel commented on #1473
Do you have the kotest plugin installed? If so, try removing it and see if
that makes a difference.

On Sat, 26 Sep 2020 at 12:40, Sondre Nilsen <notifications@github.com>
wrote:

[2020-09-26 18:35] lgtout commented on #1545
Got it.  Yup, that would be great!

[2020-09-26 20:30] sksamuel commented on #1726
Did you manage to get this working ?

[2020-09-26 21:57] #1700 closed, assigned to nobody

[2020-09-27 01:01] neelkamath commented on #1473
@sksamuel this is what I mean about Gradle's [`--tests` filter not working](https://github.com/kotest/kotest/issues/1432). Basically, you can filter by class, but not nested function which is important in integration test suites). By _lack of pretty printing_, I'm referring to [this thread](https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1592537729499000).

I'm aware that Kotest's limitations are

[2020-09-27 01:41] sksamuel commented on #1473
I see your point on comparing different types of data classes. We have nice format now for data classes that are not equal but of the same type. The matchers should be changed in 4.3 to use better type inference to move as much as possible into compile time. I'm looking into that.

The --tests thing is squarely a gradle "bug". --test values are turned into instances of `ClassMethodNameFilter` whic

[2020-09-27 19:02] daviddenton commented on #1727
Possibly related, but equality of Jackson JsonNode objects are also broken. A JsonNode itself is iterable of its own child nodes, but in the case of something like a TextNode there are no children. So a text value of "value1" should NOT be equal to "value2", but kotest reports it is because it just compares the children.

By the same token *any object which is iterable but has state other than its

[2020-09-27 21:55] bnjns commented on #1401
@sksamuel have you guys managed to get any further? :slightly_smiling_face:

[2020-09-29 15:45] tasneembohra commented on #737
I am facing same issue with 4.2.5

[2020-09-30 08:47] grodin commented on #1605
I'm intending to try to work on this next week, but will probably need some guidance about some of the details of the build process. I had a quick look yesterday but I wasn't certain if just adding a `kotest-bom` subproject with the Java platform plugin would work. I strongly suspect some reorganizing of the build process might be necessary.

[2020-09-30 20:22] qw0c opened #1739 ""Command line is too long" error"
When I try to run tests I get the error: "_Error running [TestName]': Command line is too long. Shorten command line for [TestName] or also for Kotest default configuration._"

For JUnit I can solve this problem with standard command line shortener, but unfortunately this feature is not available for Kotest configuration 😢

<img src="https://user-images.githubusercontent.com/62946723/94600258-53da

[2020-09-30 20:30] sksamuel commented on #1739
It's in the latest build.
[Uploading kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip…]()

It just hasn't been released to the plugin store yet.

[2020-09-30 20:31] sksamuel commented on #1739
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip](https://github.com/kotest/kotest/files/5308104/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip)
See attached.

[2020-09-30 21:02] qw0c commented on #1739
Oh, my bad, I didn't think to search for similar issue in repository of kotest _plugin_:
https://github.com/kotest/kotest/issues/5479

Sorry for the duplicate.
And thank you for responding so quickly!

[2020-09-30 21:02] #1739 closed, assigned to nobody

[2020-10-01 05:44] jwarkentin opened #5475 "Support for 2020.3"
'nuff said

[2020-10-01 08:23] alexfacciorusso opened #1740 "No option to run on-demand spec initialization in TestListener"
## Example

Currently, it is not possible to run a test like that:
[code]

Let's imagine `MyClassUnderTest` depends on an action performed before its creation.

That means there is no method in `MyListener` that gets called immediately or on demand, unless we use workarounds like putting the action we need to be performed immediately in the listener's `init` block, which is although not possible i

[2020-10-01 08:50] sksamuel opened #1741 "shouldEndWith output is useless"
It should display what the actual end was, not just that it failed.
Probably same for startWith too.

[2020-10-01 08:51] #1741 closed, assigned to nobody

[2020-10-01 11:14] sksamuel opened #1742 "Option to suppress configuration dump"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-01 18:15] GlassBricks opened #1743 "Kotlin/Native support"
Kotest currently works with Kotlin JVM and JS (#242). Are there any plans to also support Kotlin/Native as well (framework api + runner)?

This would allow Kotest to be used with multiplaform projects/libraries/mobile, as well as with Kotlin/Native target itself.

[2020-10-01 18:15] GlassBricks commented on #1743
Also, currently, in a multiplatform project with native target, putting a Kotest Spec in commonTest fails when trying to compile/run native test (`> Could not resolve io.kotest:kotest-framework-api:4.2.5.`)

[2020-10-01 18:23] sksamuel commented on #1743
It needs someone with knowledge of native to pick it up and build it out.

[2020-10-01 21:18] sksamuel opened #1744 "Non infix core matchers should return this for easy chaining"
Eg,

[code]

[code]

[2020-10-03 15:43] gchallen commented on #5478
Any update on this issue? Again, this causes severe usability issues with `kotest`. I can't be the only person experiencing this.

[2020-10-03 16:31] sksamuel commented on #1605
Any questions you can shoot them to me, or ask in the #kotest-dev slack

On Wed, 30 Sep 2020 at 03:47, Joseph Cooper <notifications@github.com>
wrote:

[2020-10-03 21:25] sksamuel commented on #5475
The update is pending approval with Jetbrains, will be Monday or Tuesday.
Note - there is no 1.3.72 kotlin plugin for 2020.3, so you will need to be on 1.4 at least (in the IDE anyway, your projects can be lesser).

[2020-10-04 14:12] sksamuel opened #1747 "Property test framework should support native"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-04 16:20] sksamuel opened #1748 "Make Engine dependency free"
It would be nice if engine could be a dependency free (or as best as we can do). Test frameworks are often one of the lowest level dependencies in an eco system, so we should depend on as little as possible.

[2020-10-04 18:08] sksamuel commented on #1747
There's a bug fixed in 1.4.20 that was blocking property tests going out for native.

https://youtrack.jetbrains.com/issue/KT-41388

[2020-10-04 18:10] sksamuel commented on #1740
This can be solved by just using a class for the listener, and having code in the init block as you mentioned.

Isn't that exactly what the init block is for ?

[2020-10-04 18:26] sksamuel commented on #1727
Thanks for the bug reports guys. So I believe @Quicksteve your issue is already fixed in master, if you look at the latest implementation, it does basically what you pasted. I'll add another set of test cases for shouldNotBe just to be sure.

@daviddenton that is an excellent observation and something that happened with Path already. I think the safest course of action is to have an accepted list

[2020-10-04 18:31] sksamuel commented on #1748
Univocity, junit jupiter and clickt, generix have been removed from engine deps
Engine only needs classpath, opentest4j and mordant now.

[2020-10-04 18:31] #1748 closed, assigned to nobody

[2020-10-04 19:03] sksamuel commented on #1728
According to the java docs for hashcode:

_If two objects are equal according to the equals(Object) method, then calling the hashCode method on each of the two objects must produce the same integer result._

So I think the best course of action is to highlight this in the docs for containExactlyInAnyOrder.

[2020-10-04 19:45] #1727 closed, assigned to nobody

[2020-10-04 19:45] sksamuel commented on #1727
Fixed in master, will relaese 4.2.6 with these changes.

[2020-10-04 21:01] AhmedMourad0 commented on #1620
Still the same issue, changing the `isolationMode` makes no difference.

[2020-10-04 22:27] sksamuel commented on #5478
I think this is good now. I have the plugin able to detect the gradle/intellij settings.

![image](https://user-images.githubusercontent.com/743706/95028508-48a2ed00-0666-11eb-8840-5e9d6d7c8a52.png)

It would be very useful if you could test this. Attached is a build for 2020.2. You would need to uninstall the version you have, and add this manually via the install from disk option in plugin setti

[2020-10-04 23:46] sksamuel commented on #1545
Merged into master.

[2020-10-04 23:46] #1545 closed, assigned to nobody

[2020-10-04 23:47] #1675 closed, assigned to LeoColman

[2020-10-04 23:47] #1676 closed, assigned to nobody

[2020-10-04 23:47] #1677 closed, assigned to nobody

[2020-10-04 23:56] #1742 closed, assigned to nobody

[2020-10-05 00:25] sksamuel opened #1753 "Improve matcher type inference"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-05 00:41] sksamuel commented on #1163
Looks like @OnlyInputTypes is being targeted for 1.5.0

[2020-10-05 00:41] sksamuel commented on #1753
duplicate

[2020-10-05 00:41] #1753 closed, assigned to nobody

[2020-10-05 01:12] sksamuel opened #1754 "Arb should generate a single value"
Epic issue for the work @myuwono has been doing to:
update Arbs to return only a single value rather than a sequence.
deprecate old arb builders, add new arb builders
fix flat map on arbs
deprecate distinct

[2020-10-05 01:15] sksamuel commented on #1754
I am thinking of releasing 4.3RC this week.
@myuwono do you think the arbs work is ready to go, or would we want to change edgecases too first ?

[2020-10-05 01:16] sksamuel commented on #1370
We should add a defaultInvocations option to Spec and Project Config.

[2020-10-05 01:19] sksamuel opened #1755 "Roadmap 4.4"
- [x] Add Gen.lazy #1651
- [x] New map assertions #1697
- [x] Property test framework should support native #1747
- [x] Improve parallelization of test suites #1760
- [x] Variation of clue / asClue to accept lazy #1766
- [x] New Map assertions shouldNotContainAnyKeysOf() shouldNotContainAnyValuesOf() #1769
- [x] Performance improvements for Exceptions on the JVM #1787
- [x] Add matchers for Atomic

[2020-10-05 01:20] sksamuel commented on #1401
Yes, we need to finish implementing the JUnit 5 extension adapter, and then the Quarkus Junit 5 extension will just work with Kotest. It's mostly done.

[2020-10-05 04:40] AhmedMourad0 commented on #1620
Are there no workarounds to this?

[2020-10-05 08:06] alexfacciorusso commented on #1740
Definitely we can use the init for setting up the test, but it feels weird to have side effects in a constructor.

I will add a more significant example later, and if we think having the "before" part of the test in the `init` block of the listener we could close this issue and maybe add an example in the documentation to make the approach clearer, especially because it affects Android-related uni

[2020-10-05 08:56] alexfacciorusso commented on #1740
Here it is a better example.

[code]

Imagining that `ClassToTest` and `UtilObject` are part of the Android framework, which we can't change, otherwise by using inversion of dependencies instead of an object there would solve the problem (and many others).

Is that the solution you're suggesting @sksamuel?

[2020-10-05 09:53] #1725 closed, assigned to nobody

[2020-10-05 09:56] myuwono commented on #1754
@sksamuel sounds good! i think we should be good with the arbs work. Let's discuss edgecases separately after 4.3

[2020-10-05 09:59] #1754 closed, assigned to nobody

[2020-10-05 10:57] kdabir opened #5474 "Kotest Intellij plugin issue with Clikt verion 3x"
If a consuming project includes Clikt 3x, and I use the Kotest Intellij Plugin to execute test, I get this error.
I am concluding this is Kotest Intellij plugin error as I can use Gradle to test my project successfully.

[code]

If you need any help to upgrade the project's Clikt version, I can raise a PR.

[2020-10-05 11:06] sksamuel commented on #5474
It's because the kotest engine uses clickt2 and there is a clash.
Kotest 4.3 which will be released this week no longer has a dependency on clickt to allow people to test projects that use clickt itself.

[2020-10-05 11:11] sksamuel commented on #1740
Having a var inside an object is pretty horrible to start with.

What about adding some kind of initializer and finalize methods to the test listener interfaces?

Then when you call listener or register it runs the initialize method.
And the finalize method can be called when the spec is complete, or when the engine completes.

[2020-10-05 11:12] sksamuel commented on #1740
You may be able to accomplish this already by just having your listener implement ProjectListener as well.

[2020-10-05 11:14] kdabir commented on #5474
Thanks @sksamuel for the quick update. I will wait for the 4.3 then. And a big thanks for kotest in general 🙏

[2020-10-05 11:14] #5474 closed, assigned to nobody

[2020-10-05 11:14] sksamuel commented on #5474
Thank you for using it :+1:

[2020-10-05 11:20] sksamuel commented on #5477
I cannot duplicate this. I have PropsPreprocessor and PropsPreprocessorTest and using ctrl shift T I can hop between them.

[2020-10-05 11:21] sksamuel commented on #5479
Fixed in the version that's pending release.

[2020-10-05 11:21] #5506 closed, assigned to sksamuel

[2020-10-05 11:43] sksamuel commented on #1727
4.2.6 is released.

[2020-10-05 12:31] sksamuel commented on #1438
As a first step I have split all the listeners out into separate interfaces.
Next step is to add more interceptors.

[2020-10-06 08:07] alexfacciorusso commented on #1740
Yes I agree, that was just a simplification over what is happening with the `LiveData` `TaskExecutor` in Android, in reality is not as bad but the behaviour is similar.

but then I would have to assign the project listener to the whole project configuration to make it be called I suppose, which is not something a dev might want.

Yeah this is what I was thinking, something like that, adding a meth

[2020-10-06 10:58] sksamuel commented on #5475
did the latest release work for you ?

[2020-10-06 10:58] #5479 closed, assigned to nobody

[2020-10-06 12:26] ikhvostenkov commented on #5475
Works for me with latest update. Thank you.

[2020-10-07 04:24] ninadingole commented on #1564
This is taking time sorry, I will add this over the weekend.

[2020-10-07 14:58] sksamuel commented on #5478
How are you getting on with the new build @gchallen ?

[2020-10-07 16:38] Poorva17 commented on #1726
Yes it worked for us. 👍🙂

[2020-10-07 16:38] #1726 closed, assigned to nobody

[2020-10-07 17:41] LeoColman commented on #1564
No worries, we have plenty of time :)

[2020-10-07 17:52] sksamuel opened #1760 "Improve parallelization of test suites"
At the moment we allow users to set a number of threads to be used as a pool to execute specs. We support something similar for tests.

Instead we could allow two modes for spec execution - purely sequential and parallel (with the opt-out for certain specs to always run in isolation like now).

Then instead of asking users to specify the number of threads, they can provide a coroutine dispatcher,

[2020-10-07 17:57] jschneidereit commented on #1760
This looks fantastic and sounds like just what I need, thanks for opening this!

[2020-10-07 18:02] sksamuel commented on #1760
Some notes for an implementor.

`submitBatch` and `submitAll` methods in `KotestEngine` are where the spec level execution pool would need to be replaced with coroutines that are launched onto a user specified (or default fallback) dispatcher.

[2020-10-08 09:05] izhangzhihao commented on #5475
Does not work for me, when I try to run a **single** test, error:

[code]

other info:

[code]

[code]

[2020-10-08 23:33] Teja-Konjeti opened #5473 "Android Studio unresponsive for a few seconds every time when running it in debug mode"
Kotest Plugin: 1.1.18-IC-2019.3
Kotest Version: 4.2.6

1. Write a sample Kotest (I'm using the FreeSpec)
2. Run the test/ suite in debug mode

Android studio will be unresponsive for a few seconds after this. The same does not happen in run mode.

[2020-10-09 03:48] izhangzhihao commented on #5475
[code]

[2020-10-09 13:14] sksamuel commented on #5475
Looks like 2020.3 EAP has some changed methods.

On Thu, 8 Oct 2020 at 22:48, 张志豪 <notifications@github.com> wrote:

[2020-10-10 11:45] vjgarciag96 commented on #1697
Are you still willing to work on this one @RajatVaryani?

If not, I'd be glad to help with it, it looks like a good issue to start contributing to this repository

[2020-10-10 14:58] grodin commented on #1605
This is much harder than anticipated.

The Kotlin Multiplatform Gradle plugin performs some magic rewriting of dependencies between gradle projects which means that the Java Platform plugin won't "just work".

For example, the `kotest-property` project declares a dependency on the `kotest-common` project, which by default in gradle would translate to a dependency looking like `io.kotest:kotest-com

[2020-10-10 16:13] sksamuel commented on #1605
Thanks for looking into this.
I'll close this as I don't like to leave tickets languishing, but as soon as jetbrains or gradle release something that supports this, we'll integrate it.

[2020-10-10 16:13] #1605 closed, assigned to nobody

[2020-10-10 16:13] #5478 closed, assigned to nobody

[2020-10-11 14:37] sksamuel opened #1762 "org.opentest4j.TestAbortedException"
We should support this opentest4j exception in tests.

[2020-10-11 14:40] #1762 closed, assigned to nobody

[2020-10-11 15:38] sksamuel commented on #5536
I'm on ultimate but I don't see this toggle auto test button.

![image](https://user-images.githubusercontent.com/743706/95682945-dd996f00-0bad-11eb-92cd-f0a22cb95e9c.png)

[2020-10-11 17:17] #1744 closed, assigned to nobody

[2020-10-11 17:29] #1728 closed, assigned to nobody

[2020-10-11 17:44] #1566 closed, assigned to nobody

[2020-10-12 14:26] sksamuel opened #1763 "Provide for more powerful test filter"
Existing TestFilter on launcher only filters by description.
Allow for filtering on TestCase instance, or Spec class, or Spec instance..

[2020-10-12 14:28] sksamuel opened #1764 "Allow for inline registration of listeners and extensions in project config"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-12 23:05] sksamuel opened #1766 "Variation of clue / asClue to accept lazy"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-13 05:06] izhangzhihao commented on #5475
It seems fixed in the latest code.

[2020-10-13 07:20] jschneidereit commented on #1766
I wouldn't mind taking a stab at it. My first thought was to add something like `asLazyClue` that has a catch instead/in addition to a finally to only push the value of the lazy if something was caught. Though this seems like you'd need to intercept whatever is added to the errorCollector as a result of executing block.

[code]

Something like that, but I'm new to this project so that seems like I

[2020-10-13 10:24] swanandvk opened #1769 "New Map assertions shouldNotContainAnyKeysOf() shouldNotContainAnyValuesOf()"
`Map.shouldNotContainAnyKeysOf("a","b")` // does not contain any of the keys specified
`Map.shouldNotContainAnyValuesOf(1,2,3)` // does not contain any of the values specified

[2020-10-13 12:36] sksamuel commented on #1766
I was thinking we could change the ErrorCollector to store clues as functions () -> String and so the lazy impl could be something like:

[code]

I'm not sure it makes sense to have asClue accept a lazy, because you'd be immediately unlazy-ing it to run the test, so what's the point.

It makes sense with `withClue` where you might never need the clue.

If you go with my idea, you would need to re-

[2020-10-13 12:43] #1697 closed, assigned to RajatVaryani

[2020-10-13 13:00] swanandvk commented on #1769
@sksamuel I'll raise a PR for this one shortly ,u can assign it to me 🙂

[2020-10-13 13:01] sksamuel commented on #1769
Yep.

[2020-10-13 14:49] jschneidereit commented on #1766
Oh of course, shouldn't have written that at midnight 😂  you're right about `withClue` for sure. I'll take a stab at it today!

[2020-10-13 15:18] izhangzhihao opened #1770 "VS Code support"
It would be great if we could have VSC support, related to https://github.com/microsoft/vscode-java-test/issues/975

[2020-10-13 15:21] sksamuel commented on #1770
If someone wants to create a plugin that would be great, but it's unlikely to be something the core kotest team tackles.

[2020-10-14 06:50] Zefz opened #5472 "Kotest plugin does not detect custom or inherited test specs"
The kotest plugin does not detect tests that use from custom or inherited specs. Minimal example:

[code]

`MyUnitTest : ScenarioSpec() // Not detected by kotest`

I cannot run MyUnitTest as an individual test (no right click context menu) and no icons are shown in the gutter. This issue also affects users creating their own custom specs when using this plugin.

I would expect kotest to detect and

[2020-10-14 10:21] Zefz opened #5471 "Adding annotations to a test prevents the test from running"
[code]
Works fine.

[code]
Cannot be run with kotest as an individual test. (gutter icon disappears and right click context menu does not work anymore). This seems like a regression since this worked before I updated the kotest plugin.

[2020-10-14 11:06] sksamuel commented on #5471
What is @Category

On Wed, 14 Oct 2020, 05:22 JohanJansen, <notifications@github.com> wrote:

[2020-10-14 19:58] driver733 opened #1773 "forAll function for more than seven params in a row"
As of now (v. 4.3.0) it is impossible to use the [forAll](https://github.com/kotest/kotest/blob/0a271b4c9479ddf6c1e94623cb2459f8e97e26c1/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/data/forAll7.kt#L6) function (in data driven tests) with more than seven params in one `row`. The [docs](https://kotest.io/data_driven_testing/) say that a new data class should be created

[2020-10-15 07:08] Zefz commented on #5471
A JUnit feature. It's the same as `@Tag`.

But the type of annotation is irrelevant, it will fail as long as you add any annotation.

[2020-10-15 08:19] sksamuel commented on #5471
Ok. I assume there are tests inside the class and you're talking about the
green play icon at the test level and not the class level ?

On Thu, 15 Oct 2020, 02:08 JohanJansen, <notifications@github.com> wrote:

[2020-10-15 08:21] #1769 closed, assigned to swanandvk

[2020-10-15 13:39] ashishkujoy commented on #1773
I think 22 is big number and i doubt will people really be needing that.

[2020-10-15 18:36] #1766 closed, assigned to nobody

[2020-10-15 18:58] olaforest commented on #5477
This issue seemed to be fix in the previous version of kotest's IntelliJ plugin, but in the latest version seemed to have regressed. I see the exact behavior described above by @lwasyl with StringSpec and FreeSpec.

[2020-10-16 05:58] Zefz commented on #5471
Yes that is correct.

Test cannot be run (gutter icon missing):
![image](https://user-images.githubusercontent.com/1359524/96218491-1d34d200-0f85-11eb-9d9f-82c06a888b92.png)

Commenting away the annotation fixes the issue. Test can be run:
![image](https://user-images.githubusercontent.com/1359524/96218646-7866c480-0f85-11eb-8c93-5d44551efa20.png)

[2020-10-16 06:00] Zefz commented on #5471
Note that just running the Given step below does not work either. Then it will run only the Given block (and not the sub When/Then levels) and nothing else in the test.

[2020-10-16 08:47] driver733 commented on #1773
@ashishkujoy From my personal experience, sometimes I tend to go above 15.  I agree that 20 is big, but it would be better to have some extra space.  What do you think?

[2020-10-16 11:45] theHacker commented on #5475
I am missing the "Run Test" icons on class-level to run the whole test class.
The icons are only there for individual tests. But they work, no exceptions.

This affects the latest EAP4 (203.4818.26) with latest plugin (1.1.19-203-EAP-SNAPSHOT).

[2020-10-16 13:52] ashishkujoy commented on #1773
I think that many of the user will not need that support and atleast I have never seen people going beyond 5-6 arguments .

And since Data class support can help user to achieve that if they need it, I don't see much value in adding more variant of `forAll`.

@sksamuel What's your thought on this.

[2020-10-16 13:54] sksamuel commented on #1773
What about expanding out our Tuple values.
They are data classes, so would work with the new data testing, but also
absolves the user from having to create the data classes themselves.

Effectively,

forAll(
  row(1,2,3)
)

can become

forAll(
  Tuple3(1,2,3)
  Tuple3(1,2,3)
)

And you get all the nice new benefits.

On Fri, 16 Oct 2020 at 08:53, Ashish Kumar Joy <notifications@github.com>
wrote:

[2020-10-16 13:57] ashishkujoy commented on #1773
That seems a better alternative to me.

[2020-10-16 14:19] theHacker commented on #5475
Please ignore my previous comment here.
It seems it is not related to IntelliJ version, but rather https://github.com/kotest/kotest/issues/5471
I just watched a colleague updating the Kotest plugin with a IntelliJ 2020.2 and the update triggered the bug.

[2020-10-16 14:23] theHacker commented on #5471
I can confirm this issue also for tests using Micronaut.
If a test class has `@MicronautTest` the test icon in the gutter is missing.
Commenting the annotation, the icon re-appears.

The issue is introduced with a plugin update.
Just saw my colleague updating Kotest plugin to 1.1.19-IC-2020.2. After the update, the icons were missing.

IntelliJ versions 2020.2.2 (202.7319.50) and the new EAP4 (203

[2020-10-16 14:56] sksamuel commented on #5471
Yep I can confirm the bug is any annotation stops the parent class lookup
from working.

Fix is to manually install the previous version of the plugin.

On Fri, 16 Oct 2020 at 09:24, Alexander Münch <notifications@github.com>
wrote:

[2020-10-16 17:21] Mahoney opened #1775 "Stacktrace recovery when an `eventually` block fails"
At the moment if an assertion in an `eventually` block fails the printed stack doesn't include [stacktrace recovery](https://github.com/Kotlin/kotlinx.coroutines/blob/master/docs/debugging.md#stacktrace-recovery) even if `-ea`, `-Dkotlinx.coroutines.debug=on` and `-Dkotlinx.coroutines.stacktrace.recovery=true` are set.

The printed stack looks like this, where `goos` is the package prefix of the a

[2020-10-16 17:47] driver733 commented on #1773
@sksamuel Just to clarify: with your solution _all_ of the `Tuple` classes will work with the `forAll` function, right?

For instance, will it be possible to use the `Tuple22` class the following way?

[code]

[2020-10-16 17:50] sksamuel commented on #1773
Yes, because they're just data classes.

On Fri, 16 Oct 2020 at 12:47, Mikhail Yakushin <notifications@github.com>
wrote:

[2020-10-17 05:03] #5495 closed, assigned to nobody

[2020-10-17 05:45] ashishkujoy commented on #1773
Added Variants of Tuples upto Tuple22

[2020-10-17 05:45] #1773 closed, assigned to nobody

[2020-10-17 10:15] driver733 opened #1780 "Add utility overload functions for creating Tuples with various number of fields"
Since the resolution of the issue #1773 it has become possible to use the `forAll` function with more than seven params. However, a specific variant of a Tuple class that corresponds to the number of parameters has to be specified. This is not convenient: the specified variant of a Tuple class needs to be changed every time the number of params is changed in a test.
This problem can easily be solv

[2020-10-17 11:11] sksamuel commented on #1773
Agreed. Good suggestion.

On Sat, 17 Oct 2020, 04:30 Mikhail Yakushin, <notifications@github.com>
wrote:

[2020-10-17 13:16] Mahoney opened #5470 "Cannot navigate to, or run, included tests"
Not surprisingly, it's going to be hard to work out, and this is partly a note to self to try and solve, but:

Given these reusable tests:
[code]

I cannot:
1. Run `someSpecs` from the declaration `fun someSpecs` - there's no gutter icon
1. Run `test 2` in isolation - there's no gutter icon
1. Navigate to the individual test declarations from the Test Results tree in the Run panel

In the equivale

[2020-10-17 15:41] Partyschaum opened #1782 "Spring test annotation @Sql does not apply the given fixture"
**Which version of Kotest are you using**

I use 4.2.6.

**The problem**

When I annotate the test case of `AnnotationSpec` with `@Sql` it seems that it's not recognized:

[code]

You can find the full example [here](https://github.com/Partyschaum/kotlin-spring-boot-multi-project/blob/kotest-sql-annotation-issue/adapters/persistence/src/test/kotlin/de/shinythings/hexagon/adapter/persistence/Activi

[2020-10-18 13:20] codenamite opened #5469 "Run test icon dissapears when @DisplayName is used"
When having a test without the @DisplayName annotation - there is a green run button next to the test class name:

![Without @DisplayName](https://i.ibb.co/C0nmztK/kotest1.png)

But using the @DisplayName annotation, the button dissapears:

![Without @DisplayName](https://i.ibb.co/Qr2LJMT/kotest2.png)

It is a little bit annoying, in this case I can just run the only context I have declared, but h

[2020-10-18 22:52] sksamuel commented on #5469
There is a new plugin release pending approval by Jetbrains (they have to approve each upload) that will fix this.
Should be approved by Tuesday.

[2020-10-18 22:52] sksamuel commented on #5471
There is a new plugin release pending approval by Jetbrains (they have to approve each upload) that will fix this.
Should be approved by Tuesday.

[2020-10-18 22:52] sksamuel commented on #5472
There is a new plugin release pending approval by Jetbrains (they have to approve each upload) that will fix this.
Should be approved by Tuesday.

[2020-10-18 22:52] sksamuel commented on #5475
There is a new plugin release pending approval by Jetbrains (they have to approve each upload) that will fix this.
Should be approved by Tuesday.

[2020-10-19 03:25] ashishkujoy commented on #1780
Done

[2020-10-19 03:25] #1780 closed, assigned to nobody

[2020-10-19 10:02] JavierSegoviaCordoba opened #1785 "Flow assertions"
Similar to https://github.com/kotest/kotest/pull/1783, should be great to have assertions for `Flow`

[2020-10-19 10:14] hpehl opened #5468 "Support Kotlin / JS"
I'm developing a Kotlin / JS project and use kotest for testing. This works great from the command line, but I cannot execute my tests in IntelliJ.

The error I get is

[code]

I I specify a JDK (e.g. JDK 11), I get:

[code]

If I add `io.kotest:kotest-runner-junit5` to my test dependencies, I get

[code]

It would be great if the kotest plugin would support testing Kotlin / JS tests!

[2020-10-19 14:05] alexfacciorusso opened #5467 "Intention for converting the Spec body test to `init` block and vice-versa"
It would be really useful to have an intention to transform a test written using the body block style to the class' `init` block and vice-versa in the IntelliJ plugin.

![image](https://user-images.githubusercontent.com/4479527/96457635-efb38700-1217-11eb-9d21-e6edc9f49e53.png)

## Suggestion

If we start an intention request on the body block (like on the parentheses or on the `Spec` class), an i

[2020-10-19 15:19] sksamuel commented on #5468
You can run common tests if you have a jvm target. You can run jvm tests.
But with js tests, they're not compiled to jvm bytecode so the plugin cannot locate them and execute it.
The intellij plugin would need to be updated to run execute the compiled JS via a test runner like Karma (which is what it does at via gradle).
It might be easier to have the plugin just run gradle with a flag that says t

[2020-10-19 15:23] hpehl commented on #5468
I see. Thanks for the update @sksamuel. Right now I already use the the gradle tasks to run my tests.

Feel free to close the issue.

[2020-10-19 15:30] sksamuel commented on #5468
I will leave it open for now as it would be a good thing to aim for.

[2020-10-19 23:52] sksamuel commented on #5472
The new plugin has been released and this is working now
![image](https://user-images.githubusercontent.com/743706/96523762-2ac7b180-123c-11eb-923e-f12f6c0376a9.png)

[2020-10-19 23:52] #5472 closed, assigned to nobody

[2020-10-19 23:52] sksamuel commented on #5471
Fixed in the latest plugin release.

![image](https://user-images.githubusercontent.com/743706/96523832-4df26100-123c-11eb-8472-0d95195ea367.png)

[2020-10-19 23:52] #5471 closed, assigned to nobody

[2020-10-19 23:53] sksamuel commented on #5469
Fixed in latest plugin.

![image](https://user-images.githubusercontent.com/743706/96523860-606c9a80-123c-11eb-816d-66a1e5e1b434.png)

[2020-10-19 23:53] #5469 closed, assigned to nobody

[2020-10-20 02:07] GlassBricks commented on #1743
I did some investigation into this, and here is some of what I found:
- Kotlin Native test discovery is handled by the [_compiler_](https://github.com/JetBrains/kotlin-native/blob/v1.4.10/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/lower/TestProcessor.kt), which generates top-level initializers to register/process test classes. The tests are run using a test ex

[2020-10-20 13:35] tekener opened #1790 "shouldContainJsonKeyValue does not work as expected with Number's"
**Which version of Kotest are you using**
4.3.0

**Descripton:**
The problem is that containJsonKeyValue is comparing by `JsonPath.read<T>(value, path) == t`. What is in this case a `Int == Long`
[code]

[2020-10-20 13:59] tekener commented on #1790
Will create a PR with the fix in the next days

[2020-10-20 14:38] sksamuel opened #1791 "Add matchers for Atomic Booleans"
AtomicBoolean(false).shouldBeTrue()

AtomicInteger(123).shouldBeLessThan(555)

And so on.

[2020-10-20 18:51] simonenkoi commented on #1791
@sksamuel I see possible problems with the maintainability of such a feature. For example, if we add a new assertion on the type, it will be expected to have the same one for the atomic type.
Do we need to support all the assertions defined on the `V` type accessible from `AtomicReference<V>,` not only predefined `AtomicBoolean,` `AtomicInteger,` etc.?
`AtomicBoolean(false).get().shouldBeTrue()` s

[2020-10-20 19:27] sksamuel commented on #1791
Yes, that's a good point.
Maybe just one for the booleans would be sufficient. I was using atomics this morning, and `atomic.get().shouldBeTrue()` was more verbose than I wanted, when `atomic.shouldBeTrue()` would have been a tiny bit nicer.

[2020-10-21 04:58] BorzdeG commented on #1770
Maybe not close the issue, but mark it as waiting for contributors?

[2020-10-21 14:44] lwasyl opened #1795 "Unexpected behavior when using new data-driven tests with non-data classes"
Kotest 4.3.0

Given the following test:
[code]

It behaves unexpectedly in the not-working block: it only runs the first test case, and completely ignores the following ones:
![image](https://user-images.githubusercontent.com/3951580/96735632-0b579280-13bc-11eb-95db-5a6772be59b4.png)

While I understand this isn't how to use the data-driven tests (we should use data classes), I think Kotest should

[2020-10-21 15:07] PhilipDukhov opened #5466 "<Click to see difference>"
When I run tests with JUnit and a test fails, there's a clickable line `<Click to see difference>`, it opens Comparison Failure window. I miss that when work with your plugin, would be cool to have it.

[2020-10-21 15:33] sksamuel commented on #5466
Should be there already, do you have sample code ?

[2020-10-21 16:00] PhilipDukhov commented on #5466
sure, check it out: https://github.com/PhilipDukhov/KotestTest

[2020-10-21 16:33] simonenkoi commented on #1795
@sksamuel as per initial debugging, I've found that the second test case is enqueued in this place: https://github.com/kotest/kotest/blob/bcb375f7a7c6ee484832aab7607746ad9d6a7b04/kotest-framework/kotest-framework-engine/src/jvmMain/kotlin/io/kotest/engine/runners/InstancePerLeafSpecRunner.kt#L126
A simple removal of the `open` variable with a related conditional branch leads to the expected result

[2020-10-21 21:00] sksamuel commented on #1795
Are you asking me why we call enqueue at that line ?

[2020-10-22 04:25] Megamiun commented on #1791
Is anyone working on it? If not, I can do it. Should we just make `shouldBeTrue` and `shouldBeFalse`?

[2020-10-22 07:12] sksamuel commented on #1791
Please feel free to pick this up. and yes those two matchers.

On Wed, 21 Oct 2020, 23:26 Gabryel Monteiro, <notifications@github.com>
wrote:

[2020-10-22 10:50] sksamuel opened #1796 "shouldMatchJson should show diff in intellij"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-10-22 12:03] sksamuel commented on #1605
As a follow up it seems coroutines have a BOM. https://github.com/Kotlin/kotlinx.coroutines/blob/master/kotlinx-coroutines-bom/build.gradle

[2020-10-22 15:10] grodin commented on #1605
That's interesting! I'll give it a look and see what I can do along the
same lines.

On Thu, 22 Oct 2020, 1:03 pm Sam Sam, <notifications@github.com> wrote:

[2020-10-23 07:39] Burtan commented on #1495
This issue is still valid. However you can now use gradle 6.6.1 with gradle plugin de.jjohannes.extra-java-module-info. You just have to add the needed module infos:

[code]

It would still be much better when the jars would contain module-info.class or at least an automaticModule name.

[2020-10-23 14:10] driver733 opened #1797 "Show DTO diff on assertion failure"
The current (`v. 4.3.0`) assertion failure messages can be hard to use to figure out the source of the problem.

Consider the example of checking a list of just one DTO using the `containExactlyInAnyOrder` assertion:

It can take quite a bit of time to find the fields that have not matched. It will take even more time if a list contains more than one DTO.

I believe that assertion failure messages

[2020-10-24 16:39] sksamuel commented on #1795
Please see https://github.com/kotest/kotest/pull/1798 @lwasyl @simonenkoi

[2020-10-25 19:30] sksamuel commented on #1740
So if we introduce a new extension point, `interface RegistrationExtension` or something, you could extend this interface, and be notified whenever someone has added it to a spec.

It would differ from beforeSpec, as beforeSpec is called after all the initialization of a class has taken place.

[2020-10-25 19:33] sksamuel commented on #1714
If we added a custom file processor that looked inside .kt files for a certain layout of comments, we could use that to generate matcher docs.

Just off the top of my head, like:

[code]

[2020-10-25 22:55] sksamuel opened #1800 "Upgrade to Kotlin 1.4.20"
Release 4.4 of Kotest will required Kotlin 14.2.0 or higher.

[2020-10-25 22:57] sksamuel commented on #1775
@Mahoney see https://github.com/kotest/kotest/pull/1801

[2020-10-26 01:19] #1791 closed, assigned to nobody

[2020-10-26 02:18] sksamuel commented on #1564
I will close this. Feel free to reopen if you want to add it.

[2020-10-26 02:18] #1564 closed, assigned to nobody

[2020-10-26 02:19] sksamuel commented on #1763
Not sure why I created this now. Closing.

[2020-10-26 02:19] #1763 closed, assigned to nobody

[2020-10-26 02:30] Megamiun commented on #1651
Hello, just confirming, this would be a Generator which receives a function that creates other generators on demand and uses them to generate values?

[2020-10-26 02:45] sksamuel commented on #1651
Yep. It should only generate the generator once and memoize it.

On Sun, 25 Oct 2020, 21:30 Gabryel Monteiro, <notifications@github.com>
wrote:

[2020-10-26 16:01] gchallen commented on #5478
Thanks! Haven't tested yet... Will soon.

[2020-10-26 21:33] jschneidereit opened #1803 "Failing test cases should log their tags"
tl;dr: kotest should log all tags applied to test cases. This would help with tracking down test case owners (or other test metadata) by allowing kotest consumers to implement custom tags with a helpful `toString` override.

---

Consider the concept of multi-team test ownership in a large end-to-end test suite, a way to mark test ownership would be to use Kotest's `Tag`. Tags as they exist work w

[2020-10-26 21:51] jschneidereit commented on #1803
Moving to https://github.com/kotest/kotest-gradle-plugin/issues/7

[2020-10-26 21:51] #1803 closed, assigned to nobody

[2020-10-26 22:01] jschneidereit opened #1804 "Test cases should have their tags appended to the test name if so configured"
A test should append a list of its tags to its name when logging the test name.

[code]

When run, the above test should log the following:

[code]

[2020-10-27 05:24] abayibrayev1 opened #1806 "FeatureSpec support for Gherkin feature files"
Is it possible to connect my existing Gherkin scenarios and provide BDD steps using Kotest syntax? Does **FeatureSpec** supports or gonna support in future this approach?

Couldn't find info in docs, so I guess framework doesn't have this feature.

Thanks in advance!

[2020-10-27 08:42] KeremAslan opened #1807 "Wrong error thrown when test exceeds invocation time out"
**Which version of Kotest are you using**
1.4.10

I have noticed that if a test exceeds its `invocationTimeout` kotest throws a `TimeoutException`.
In my case I am running 3 parametrized tests that have configured as follows:

[code]

This is (part of) the error thrown after roughly 45 minutes:

[code]

Shouldn't this be an `InvocationTimeoutException` instead?

While on that note, may I suggest r

[2020-10-27 11:19] sksamuel commented on #1807
It doesn't look like you're using invocations in your tests.

On Tue, 27 Oct 2020, 03:43 KeremAslan, <notifications@github.com> wrote:

[2020-10-27 13:56] LeoColman commented on #1806
We had this discussion a long, long time ago at https://github.com/kotest/kotest/issues/561

Maybe we should bring it up again?

[2020-10-27 14:13] sksamuel commented on #1806
Wow I was quite passionate in #561 lol

[2020-10-27 14:14] sksamuel commented on #1806
Is this comment about having a different layout for specs or wanting to read from files like cucumber does @abayibrayev1

[2020-10-27 14:15] #1775 closed, assigned to sksamuel

[2020-10-27 14:42] Mahoney commented on #1775
Fantastic, thanks!

[2020-10-27 16:52] abayibrayev1 commented on #1806
Hi thanks for the answer! I actually want to read from .feature files, like cucumber it does.

Am i right, that kotest doesn't support it?
Do u have any plans to support it in future?
And may be u could suggest another way to impl bdd specs to separate non-technical layer from tests?

Thanks in advance!!👍

[2020-10-27 17:08] LeoColman commented on #1806
You're correct, Kotest doesn't support it at the moment.

At this moment we don't have any plans. We currently believe that BehaviorSpec, Data Testing and Property Testing all do a better job than translating a feature file.

If you could propose a way on how things should look like, maybe we can look into it for a `GherkinSpec` of some sort!

[2020-10-27 18:19] grodin commented on #1605
@sksamuel

I've got generation of the BOM working. It only lists the base artifacts (`kotest-assertions-core` instead of `kotest-assertions-core-jvm`, `kotest-assertions-core-js`, etc.) but the gradle module files that are published alongside translate these automatically to the correct artifact depending on what target you're building for, no matter whether you're using Kotlin multiplatform, or J

[2020-10-27 19:21] LeoColman commented on #1605
Yep! Go for it. Improving maintainability is always good :D

[2020-10-27 19:23] sksamuel commented on #1605
I agree with @LeoColman , any improvements are welcome.

As for the initial question, I would do the refactor there as well.

[2020-10-27 19:45] gindex commented on #1355
Similar issues with kotest 4.3.0

[2020-10-28 03:19] Woodz commented on #1807
I have also encountered this issue on kotest 4.3.0.

Reproduction:
[code]

Output:
[code]

Expected TimeoutException:
[code]

Actual TimeoutException (note that the timeout duration displayed is from the `timeout` parameter (5 hours) which has not been hit in this scenario:
[code]

[2020-10-28 03:22] Woodz commented on #1807
I'd also recommend including which timeout was hit in the error message to make it very clear, i.e.

[code]

[2020-10-28 03:32] KeremAslan commented on #1807
Yes, that's because I want it to run only once. I noticed the default value for `invocations` is `null`, see [here](https://github.com/kotest/kotest/blob/7b5df22b70967123b15e6655ecd57e3252698498/kotest-tests/kotest-tests-timeout/src/test/kotlin/com/sksamuel/kotest/timeout/TimeoutTest.kt). Shouldn't the default value instead be 1? It is an easy mistake to make where someone wants to run the test fo

[2020-10-28 04:44] KeremAslan commented on #1807
I discovered it is because the parent test overrides the timeout values for the leaf tests. So a test like:

[code]
gets overruled by the default time out of its parent test.

[2020-10-28 04:47] Woodz opened #1808 "Spec.timeout is of type `Long?` not `Duration`"
**Which version of Kotest are you using**
4.3.0

As per https://kotest.io/timeout/, `Spec Level Timeouts`, it shows that the datatype of `Spec.timeout` is `Duration`:
[code]

yet this is not correct:
![image](https://user-images.githubusercontent.com/966157/97391956-71dc3380-191b-11eb-96fa-53ace524df34.png)
https://github.com/kotest/kotest/blob/62e8a3d4607335b84d1fee3a24455b2cc89b86d9/kotest-frame

[2020-10-28 05:21] Woodz opened #1809 "Wrong TimeoutException messages shown when test exceeds spec-level invocation timeout"
**Which version of Kotest are you using**
4.3.0

* Reproduction *
[code]

Setup:
Test invocation duration (10 seconds) is longer than both spec-level invocation timeout (2 seconds) and test-level invocation timeout (5 seconds).

Expected:
TimeoutException because the test invocation did not finish within 2 seconds (spec-level). The test-level invocation timeout should be ignored.

Actual:
[code]

[2020-10-28 05:21] Woodz opened #1810 "FreeSpec.invocationTimeout is applied to the container, not to the test"
**Which version of Kotest are you using**
4.3.0

* Reproduction *
[code]

My FreeSpec tests are setup as follows:
1. Spec-level timeout of 1 minute
2. Spec-level invocation timeout of 5 seconds
3. Test-level timeout of 30 minutes
4. Test-level invocation timeout of infinite

Expected:
Test pass, because each invocation of the inner test takes less than 5 seconds

Actual:
[code]

My understand of `

[2020-10-28 05:24] Woodz opened #1811 "Spec-level invocation timeouts are not overriden at the test level"
**Which version of Kotest are you using**
4.3.0

***Reproduction***
[code]

***Setup***
Spec-level invocation timeout is 5 seconds but test-level invocation timeout is 30 seconds

***Expected***
Test to pass, as test-level invocation timeout overrides according to https://kotest.io/timeout/

***Actual***
Test fails with
[code]

[2020-10-28 07:10] KeremAslan opened #1812 "Update documentation for logging"
I noticed the documentation lacks a description on how to enable logging. I had to dig through the code and GH issues to find it.

Something like this at the appropriate place in the documentation should do:

I can submit an MR, but not sure what the appropriate place would be.

[2020-10-28 15:30] abayibrayev1 commented on #1806
I'm not sure if I can draw how things should work for kotest + gherkin, sorry. And thanks for u fast replies!
(If u don't mind I will close feature request, cuz I'm not able to suggest comprehensive flow for this feature)

[2020-10-28 16:52] ashishkujoy commented on #1812
I think we should create a dedicated page to include all system properties which kotest looks for and their purpose.

For example [these](https://github.com/kotest/kotest/blob/2395311f0f317c09c545cb728e5e23e7d29fa6d3/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/internal/KotestEngineSystemProperties.kt) are various system properties to control some kotest engine featur

[2020-10-28 17:02] sksamuel commented on #1812
Good idea @ashishkujoy

[2020-10-28 19:24] gchallen commented on #5478
Looks great! Thanks for fixing this.

[2020-10-28 20:50] sksamuel commented on #5478
Cool

On Wed, 28 Oct 2020 at 14:24, Geoffrey Challen <notifications@github.com>
wrote:

[2020-10-28 23:54] sksamuel commented on #1811
In the example code, your test invocation timeout is 2 seconds.

[2020-10-29 00:45] sksamuel commented on #1810
Invocation timeouts should not apply to container tests.
PR here: https://github.com/kotest/kotest/pull/1814

[2020-10-29 01:21] oowekyala opened #1815 "StackOverflowError with Kotest 4.3 filter Arb"
**Which version of Kotest are you using** 4.3.0

With kotlin 1.4.10

`Arb.filter` may produce a StackOverflow. I think this line should start with `this@filter.samples(rs)`, otherwise `samples` calls `sample`, with calls `samples`, ...

https://github.com/kotest/kotest/blob/6f49b5d09fe47318c67d5339e35694c8b2ab6bbb/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/arbs.kt#L32

Mwe:

[2020-10-29 04:53] yonatang opened #1816 "Kotest 4.3.0 has classpath issues with Coroutines 1.4.0"
When kotest is on the classpath **after** `org.jetbrains.kotlinx:kotlinx-coroutines-core:1.4.0`, `NoClassDefFound` will be thrown on different cases.
When kotest is on teh classpath **before** `org.jetbrains.kotlinx:kotlinx-coroutines-core:1.4.0`, the same cases will work.
When kotest is on the classpath before or after `org.jetbrains.kotlinx:kotlinx-coroutines-core:1.3.9`, it will work.

Example

[2020-10-29 11:32] myuwono commented on #1815
Ah good catch! Will fix this

[2020-10-29 13:16] #1815 closed, assigned to nobody

[2020-10-29 13:23] sksamuel commented on #1809
Fixed in master, will be included in 4.3.1

[2020-10-29 13:25] sksamuel commented on #1808
The reason is that using duration was a bad decision. It was experimental and back then I thought experimental would not be quite as flakey as it is. My mistake. When 1.4.0 came out, durations were causing some backwards compatibility issues, so as part of 4.2.0 we removed all internal usages of durations. The timeout values on tests are part of the public API so could not change. The spec level v

[2020-10-29 13:28] sksamuel commented on #1807
They don't refer to test cases / test suites, they both refer to test cases. Invocation timeout is when you want to run the same test K times, and have a timeout per invocation, and the general timeout is for all invocations of that test (which is usually what people do, ie, 1 invocation).

[2020-10-29 13:30] sksamuel commented on #1807
So ignoring the other bugs (fixed in master now, thanks for the reports), I think this test works as expected:

[code]

You're setting a timeout of 1 second for each test invocation and so the test times out after 1 second.
Do you expect different behavior? Can the docs be improved.

[2020-10-29 13:31] #1806 closed, assigned to nobody

[2020-10-29 13:31] sksamuel commented on #1810
Fixed in master, will be included in 4.3.1

[2020-10-29 13:39] sksamuel commented on #1804
Should be configurable and disabled by default.

[2020-10-29 18:41] frikit commented on #1816
If you set kotlin version 1.4.10 it works, and it is because kotlin 1.4.x and coroutines 1.4.x have some breaking changes compare to previous 1.3.x version.

In my opinion testing lib should not fix the core libraries incompatibilities what do you think @sksamuel ?

I am new in the community just try to help the project :)

[2020-10-29 18:45] frikit commented on #1812
@sksamuel and @ashishkujoy maybe will be better to generate a markdown at gradle build phase from kotlin file(Like a code snippet to include full kotlin file as is and javadoc will serve as documentation in this case)?? What do you think?

[2020-10-29 18:49] sksamuel commented on #1812
I like that idea @frikit

[2020-10-29 18:50] sksamuel commented on #1816
I agree with @frikit, if coroutines 1.4.0 has an incompatibility with 1.4, then I don't think there's much we can do.

[2020-10-29 20:14] snowe2010 commented on #1401
@sksamuel which ticket on the roadmap is for implementing the adapter? I'd like to help push this along, as we're ramping up our Quarkus usage and Kotest is extremely valuable for the things we're doing (decision tables).

[2020-10-29 20:39] sksamuel commented on #1401
We need to test that the JUnit adapter in kotest has enough support so that the JUnit rule for quarkus can be used as is.

This extension from Quarkus is for JUnit 5.
https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java

But all it's doing is managing the lifecycle based on the extension points in JUnit5. Now our compa

[2020-10-29 20:39] sksamuel commented on #1401
Example project can be setup here so we have a reference for future tests/compatibility: https://github.com/kotest/kotest-examples-quarkus

[2020-10-29 21:13] snowe2010 commented on #1401
If you make that project, I'll make PRs to it. I'm already investigating the KotestExtension. Initially thought it was already pushed to maven central but that appears to just be a pom.

[2020-10-29 21:28] sksamuel commented on #1401
The project is there.

On Thu, 29 Oct 2020 at 16:14, Tyler Thrailkill <notifications@github.com>
wrote:

[2020-10-29 22:39] snowe2010 commented on #1401
Hm. I get 404s trying to access. Guessing it's private?

[2020-10-30 02:32] sksamuel opened #1820 "Better tags for spec level includes/excludes"
The current @Tags on a spec is powerful but can be confusing. A spec annotated with @Tags("Foo") will not necessarily be excluded if you run with kotest.tags=Bar because root level tests may be annotated with Bar and so it must instantiate the spec to check. Only if a tag is explicitly excluded does the @Tags on a spec help.

This ticket is to:
* Add a new annotation (name whatever, say @Tagged) w

[2020-10-30 03:05] kopper commented on #1820
To give you some context let me describe our use-case first. As many other projects we have unit and integration tests. We would like to be able to run only one set of them. Right now we are using naming convention *Test for uni tests and *IT for integration and maven surefire plugin to run unit tests while maven failsafe plugin to run integration tests. I expect us to define more test types in th

[2020-10-30 04:04] kopper opened #1821 "IntelliJ plugin instantiates specs excluded by tags"
I am trying to use tags in IntelliJ plugin by specifying VM options: `-Dkotest.tags=!IntegrationTest`.  I want to prevent running and instantiating integration test specs. The result is that all tests except the ones tagged with `IntegrationTest` are run, which is :thumbsup: but all specs are instantiated despite the docs https://kotest.io/tags/ say otherwise. I debugged a bit and I think the reas

[2020-10-30 04:07] kopper commented on #1821
Ooops wrong repo. I will copy and delete this soon.

[2020-10-30 04:09] kopper opened #5465 "IntelliJ plugin instantiates specs excluded by tags"
I am trying to use tags in IntelliJ plugin by specifying VM options: `-Dkotest.tags=!IntegrationTest`.  I want to prevent running and instantiating integration test specs. The result is that all tests except the ones tagged with `IntegrationTest` are run, which is :thumbsup: but all specs are instantiated despite the docs https://kotest.io/tags/ say otherwise. I debugged a bit and I think the reas

[2020-10-30 04:09] kopper commented on #1821
https://github.com/kotest/kotest/issues/5465

[2020-10-30 04:09] #1821 closed, assigned to nobody

[2020-10-30 07:12] frikit commented on #1812
@sksamuel Can I work in this issue?

[2020-10-30 07:15] sksamuel commented on #1812
Absolutely.

On Fri, 30 Oct 2020 at 02:12, Victor Osipov <notifications@github.com>
wrote:

[2020-10-31 01:38] sksamuel commented on #5475
@theHacker can you confirm this is fixed for you.

[2020-10-31 09:22] sksamuel commented on #5465
Where are you setting the -D property? In the run configuration?

[2020-10-31 10:31] #1795 closed, assigned to nobody

[2020-10-31 10:31] sksamuel commented on #1795
Will include the fix in 4.3.1

[2020-10-31 11:21] sksamuel commented on #1747
In 1.4.20 the MPP bug has been fixed, so property tests now compile for native.

[2020-10-31 11:21] #1747 closed, assigned to nobody

[2020-10-31 11:23] sksamuel commented on #1760
This is implemented in master now.

There is a `ConcurrencyMode` configuration setting that allows the user to select how coroutines are created for tests.
Non public documentation is here: https://github.com/kotest/kotest/blob/master/docs/concurrency.md

[2020-10-31 13:29] sksamuel commented on #1820
Your use case is the perfect example of what I was trying to convey.

Although rather than introduce two types of tags/things, I think just having a different annotation may be easier, because then it expands out to any use case. For example @jschneidereit uses a different tag per team.

[code]

MyTest1 will now only be instantiated when kotest.tags explicitly includes UnitTest.

So under the foll

[2020-10-31 14:10] sksamuel opened #1826 "Support project listener with gradles --fail-fast"
From a blog, _Kotest's ProjectListener.afterProject doesn't get run when using Gradle's --fail-fast flag_

[2020-10-31 21:28] #1809 closed, assigned to nobody

[2020-10-31 21:28] #1810 closed, assigned to nobody

[2020-10-31 21:30] sksamuel commented on #1355
Can you try 4.3.1. I'm hoping #1788 has solved this.

[2020-11-01 23:26] kopper commented on #5465
Yup, run configuration for "Run with Kotest".

[2020-11-02 15:27] huehnerlady opened #1827 "[DescribeSpec] Add functionality to use 'it' without surrounding 'describe'"
Hi,

It is great to have the functionality to add nesting int he test classes. The describe is a big help.
But sometimes you have just a couple of tests in a class and there the describe block does not make sense per se.

So I would suggest that the describe spec is enhanced so the test starting with `it` can be used without a surrounding describe block.

[2020-11-02 15:35] huehnerlady commented on #5477
I can confirm with version `1.1.20-IC-2020.2` I experience the same behaviour as described above with DescribeSpec

[2020-11-02 21:14] matsudamper opened #1828 "Using a symbol or Japanese etc in the test name will change the behavior"
**Which version of Kotest are you using**
4.3.1

# Problem
I confirmed the same problem with BehaviorSpec.

execute "c". "a" beforeEach is not called.
execute "♬". "☆" beforeEach is called.
[code]

[2020-11-02 22:28] matsudamper commented on #1828
Information seems to disappear here
Is there any reason why it should be within the range?
https://github.com/kotest/kotest/blob/c83b3d791905b445b951786f4b6435349f68bdcc/kotest-framework/kotest-framework-api/src/commonMain/kotlin/io/kotest/core/test/Description.kt#L16
https://github.com/kotest/kotest/blob/c83b3d791905b445b951786f4b6435349f68bdcc/kotest-framework/kotest-framework-api/src/commonMain

[2020-11-03 11:40] theHacker commented on #5475
@sksamuel Yeah, thanks. The update fixed it :-)

[2020-11-03 22:29] sksamuel commented on #1828
Good find thanks. The id can be changed to be a uuid then it will work.

[2020-11-04 08:14] ashishkujoy opened #1829 "Matcher to check a class or a field of class is annotated with given annotation"
We have a matcher in kotest to check that a given object is annotated with given annotation.
[code]

It would be very useful if we can also check a class or field of class is annotated with given annotation.
[code]

[2020-11-04 08:50] gindex commented on #1355
Looks like the issues are gone with 4.3.1 👍

[2020-11-04 09:00] christophsturm opened #1830 "unexpected java.lang.NoClassDefFoundError"
this is with kotest 4.3.1 but also happens with 4.4 snapshot

this test case:
[code]
throws a java.lang.NoClassDefFoundError: r2dbcfun/Ko2Test$1$1$1 in the K::class.declaredMemberProperties line.

if I change the ´forEach´ to ´forAll´ it works.

[2020-11-04 11:44] PeekAndPoke opened #1831 "Wrong behavior when combining assertSoftly and shouldNotBe"
**Which version of Kotest are you using**
4.3.1

**Desription**
Under 'certain' circumstances the combination of `assertSoftly` and `shouldNotBe` show a wrong behavior.

I have an example:

[code]

The will output:

[code]

So the situation is: I was **not** able to produce the behaviour with scalar types like strings.

But as you can see, in this part **both assertions fail**, while this should b

[2020-11-04 14:21] Woodz commented on #1810
Thank you for your rapid fix @sksamuel! Really appreciate the support :-)

[2020-11-04 14:42] Woodz commented on #1811
Apologies - I used a different test case reproduction. I have corrected the test invocation timeout to 30 seconds now

[2020-11-04 14:56] sksamuel commented on #1810
You're welcome.

On Wed, 4 Nov 2020, 07:21 Richard Wise, <notifications@github.com> wrote:

[2020-11-05 01:53] matsudamper commented on #1828
It seems that the description is not only generated once.
Therefore, the name could have been used.
Would it be better to generate a UUID based on the name?

https://github.com/kotest/kotest/blob/c83b3d791905b445b951786f4b6435349f68bdcc/kotest-common/src/commonMain/kotlin/io/kotest/mpp/uuid.kt#L1-L6

add
[code]

[2020-11-05 02:49] sksamuel commented on #1828
Some integrations don't like certain characters.

On Wed, 4 Nov 2020, 18:53 matsudamper, <notifications@github.com> wrote:

[2020-11-05 19:10] sksamuel commented on #1355
Great.

[2020-11-05 19:10] #1355 closed, assigned to nobody

[2020-11-06 04:26] sksamuel commented on #5477
I've fixed this in master. If someone(s) are willing to test, let me know which version of intellij you are using and I will upload a build for that version.

[2020-11-06 04:31] sksamuel commented on #1811
did you re-test on 4.3.1 ?

[2020-11-06 04:37] ashishkujoy commented on #1829
Closing this Issue as we do have such matchers, https://github.com/kotest/kotest/blob/master/doc/matchers/core.md
It was a miss from my side.

[2020-11-06 04:37] #1829 closed, assigned to nobody

[2020-11-06 09:13] sielenk-yara opened #1832 "Unexpected ToleranceMatcher behavior at infinite doubles"
**Which version of Kotest are you using**
4.3.1

Mathematically I would expect

    checkAll(Arb.positiveDoubles()) { eps ->
      Double.NEGATIVE_INFINITY shouldBe (Double.NEGATIVE_INFINITY plusOrMinus eps)
      Double.POSITIVE_INFINITY shouldBe (Double.POSITIVE_INFINITY plusOrMinus eps)
    }

to succeed. But Kotest fails with

    Property test failed for inputs

    0) 1.0

    Caused by java

[2020-11-06 16:18] sksamuel opened #5464 "Add gutter icon in plugin to show when test name has interpolation"
The plugin can't run a test which has interpolation in its name, as it wouldn't know which name to target.
We can show an icon to make this clear.

[2020-11-07 08:44] SergKhram commented on #1820
@sksamuel
kotest.tags=UnitTest => a,b (but MyTest2 is instantiated to search inside)
kotest.tags=FlakyTest => a, c

How it can work? If you write ```@RequiresTag(UnitTest) // tag must be present to be instantiated```
I think it should be only c in case kotest.tags=FlakyTest (because we need to instantiate the spec to know what tags inside - in cases)

[2020-11-09 17:35] dmstocking opened #1836 "Add inline version of instanceOf to simplify usage"
I would like to add a version of instanceOf that looks like

    inline fun <reified T: Any> instanceOf(): Matcher<Any?> = instanceOf(T::class)

So that the call site goes from

    instanceOf(SomeType::class)
    // to
    instanceOf<SomeType>()

It is a minor addition and would just remove the need for `::class`. This is already done `beInstanceOf` and `beOfType`. This would just do the same thi

[2020-11-09 17:41] sksamuel commented on #1836
Sounds good.

On Mon, 9 Nov 2020 at 11:35, David Stocking <notifications@github.com>
wrote:

[2020-11-09 22:28] Savrov opened #1837 "Test a multiplatform module"
Hello, I have a question.
First of all, thank you for a wonderful tool. I like to use it in all my projects, even in multiplatform. So the question if there will be full support of Kotlin MPP? I know, that now I can write code in `mainTest`, then write tests for it in `jvmTest` and run it.
But as I do understand, it won't trigger test in my CI/CD pipeline for Linux project.
Wish to know if you hav

[2020-11-09 23:28] #1836 closed, assigned to nobody

[2020-11-10 11:36] nomisRev opened #1839 "eventually doesn't catch JUnit 5 Assertion error"
I'm using the JUnit 5 dependency of Kotest, and using the non-deterministic assertion utility `eventually`. `eventually` doesn't correctly take into account `AssertionFailedError` for [JUnit 5](https://github.com/kotest/kotest/blob/9bd526f1f08424f72f7e8193c35943f6f737447b/kotest-assertions/kotest-assertions-shared/src/jvmMain/kotlin/io/kotest/assertions/Exceptions.kt#L11).

It only takes correctly

[2020-11-10 11:41] nomisRev commented on #1839
I think something else was going wrong... I only saw message.

`Eventually block failed after 10ms; attempted 1 time(s); 100ns delay between attempts`, and I couldn't figure out why it only attempted once with `100ns` delays for `10ms`.

I am checking a simple getter, that should've changed state after a concurrent state change. So the assertion doesn't include any IO effect.

If I can pinpoint a

[2020-11-10 11:41] #1839 closed, assigned to nobody

[2020-11-11 15:50] U1F984 opened #1840 "Kotlin API Version changed to 1.4 in 4.3.1"
When upgrading from version 4.3.0 to 4.3.1 our tests broke because of #1801: in `kotest-assertions/kotest-assertions-shared/build.gradle.kts` the `apiVersion` was changed to 1.4. While kotest 4.4 will require Kotlin 1.4 anyway, upgrading to Kotlin 1.4 in a minor release seems like an accident (especially since it is not mentioned in the changelog).

[2020-11-11 15:55] sksamuel commented on #1840
Yes an accident. Wasn't planned until 4.4 will released 4.3.2 with this
change reverted.

On Wed, 11 Nov 2020, 09:51 Leo Tietz, <notifications@github.com> wrote:

[2020-11-11 16:08] Woodz commented on #1811
Not yet. I'll try rerunning this scenario using your new bugfix version soon

[2020-11-11 16:19] sksamuel commented on #1811
Ok cool.

On Wed, 11 Nov 2020 at 10:08, Richard Wise <notifications@github.com> wrote:

[2020-11-12 00:16] piacenti opened #1841 "kotest.parallelism System Property not Working"
**Which version of Kotest are you using**
4.3.1

I have the following on my gradle config
[code]
However it doesn't seem to be picked up
[code]
If I use the code configuration option it works fine but I have a shared gradle config that is used by 3 modules that I would rather use than adding a config code block in each one of those projects and keeping them in sync.

Also while debugging tests and

[2020-11-12 05:40] ashishkujoy commented on #1790
Fixed in master

[2020-11-12 05:40] #1790 closed, assigned to nobody

[2020-11-12 05:40] ashishkujoy commented on #1827
Added in master

[2020-11-12 05:40] #1827 closed, assigned to nobody

[2020-11-12 14:49] ashishkujoy commented on #1841
@piacenti the system property for controlling parallelism is `kotest.framework.parallelism`

[2020-11-12 14:51] ashishkujoy commented on #1841
It seems to a typo in doc, will correct that.

[2020-11-12 16:00] christophsturm commented on #5536
what idea version are you using?
<img width="607" alt="image" src="https://user-images.githubusercontent.com/1999/98964002-9681ff00-2508-11eb-8f79-0d66ed11f223.png">

[2020-11-12 16:17] christophsturm opened #5463 "plugin output gets messed up when tests run in parallel"
when I run the testsuite of my https://github.com/christophsturm/r2dbcfun project in idea the test runner output has multiple problems:

<img width="607" alt="image" src="https://user-images.githubusercontent.com/1999/98965795-c0d4bc00-250a-11eb-9cf3-fe7c4aee425c.png">

test contexts seem to be mixed up, and also the spinner that indicates that the test is still running does not disappear. The tot

[2020-11-12 16:22] piacenti commented on #1841
@ashishkujoy I actually tried `kotest.framework.parallelism` since I found it mentioned in the source code but found no mention of the one from the docs. It hadn't worked for me in the test properties but I tried it again. As part of the test properties it doesn't do anything, however, if I run gradle with that VM property in the IDE then it works correctly. So I take it that the runner engine doe

[2020-11-12 18:22] piacenti commented on #1841
@ashishkujoy Ok I think I found the issue I was having. Clicking on the gutter play button to run individual tests from the IDE with the kotest plugin it uses the runner directly bypassing gradle so any properties set there are just ignored. If I run a test or check task in gradle then it properly read the properties

[2020-11-12 18:33] piacenti opened #1843 "Add Support for globalAssertSoftly from System Property"
**Please describe the feature you'd like to see including any solutions in mind if you have any**
Currently there is no system property support for globalAssertSoftly, only class level configuration. For modules sharing gradle configuration it would be nice to have one place where this option is set

[2020-11-12 18:36] sksamuel commented on #1843
You can set it in a global config class, but a system property should be added too.

[2020-11-12 18:55] piacenti commented on #5468
@hpehl instead of `kotest-runner-junit5` use test dependency `kotest-framework-engine-js` and it will work fine. The main issue I have is that the gutter play icons are not present. It still allows me to right click the file and play the tests but it just runs my whole test suite.

[2020-11-13 04:14] #1841 closed, assigned to nobody

[2020-11-14 04:18] #1843 closed, assigned to nobody

[2020-11-14 04:21] ashishkujoy commented on #1831
Fixed in master

[2020-11-14 04:21] #1831 closed, assigned to ashishkujoy

[2020-11-15 07:34] VictorCardona75 opened #5462 "Kotest IntelliJ IDEA Plugin 1.1.20-IC-2020.2 doesn't offer run options for Kotlin files in commonTest"
Hello, I am using Kotest in a full stack web application using Kotlin Multiplatform.  I have tests for commonMain in commonTest.  For Kotlin Classes I can right-click on the class in the project explorer and I have the run options (run, debug, run with coverage) that I'd expect.  However, when I right-click on a Kotlin file containing multiple classes I get no runtime options.  Also in both classe

[2020-11-16 07:56] tekener commented on #1790
@ashishkujoy thank you for fixing that, had no time for that in the last weeks

[2020-11-17 15:31] Noctiflore opened #1848 "Global timeouts not applied to JS tests"
Using Kotest 4.3.1 & Kotlin Multiplatform 1.4.10, I added the following to build.gradle.kts to set timeouts:
[code]
(I've chosen small values for testing only).

Timeouts set this way are enforced in JVM tests, but not in JS tests.
Is there another (global) option to set it for JS tests?

[2020-11-18 05:02] #1651 closed, assigned to nobody

[2020-11-18 05:02] ashishkujoy commented on #1651
Fixed in master

[2020-11-18 07:21] ashishkujoy commented on #1848
no for js platform we cannot use system properties.

[2020-11-18 13:07] saibotma opened #1851 "shouldContainExactly should show diff in IntelliJ"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-11-18 13:46] saibotma opened #1852 "Add shouldContainOneWhere"
Checks that an iterable contains just one element that matches a condition.

[2020-11-18 17:01] ashishkujoy commented on #1852
you can use `shouldHaveSingleElement`

https://github.com/kotest/kotest/blob/3dac78ddea7785386d4f1f700969f9e6070fa251/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/collections/matchers.kt#L39

[2020-11-18 17:01] #1852 closed, assigned to nobody

[2020-11-18 22:54] enolive opened #1853 "withClue does not work for third-party-assertions"
I am using Kotest 4.3.1. I noticed that `withClue` seems only to work for kotest assertions, for example shouldBe. It does not work for matchers from other assertion libraries.

For instance, Spring Webflux brings some nice assertions to verify the response of a web client call:

[code]
or the verify assertions from mockk:

[code]

Is it supposed to work on other assertion libraries as well? (I co

[2020-11-18 23:30] sksamuel commented on #1853
It should work with anything that throws an assertion error.

[2020-11-19 11:57] enolive commented on #1853
I'll upload a little demo project for reproduction purposes to my github repo later

[2020-11-19 17:54] enolive commented on #1853
here is my little reproduction project:

https://github.com/enolive/kotest-clue-repro/blob/master/src/test/kotlin/de/welcz/kotestcluerepro/ApplicationTests.kt

As you can see, there are everal test cases defined that all fail for some reason (such as 404 returned instead of 200). Don't bother about the first smoke test. The only test that actually shows the clue in case of a failure is the second

[2020-11-20 09:43] Lee-WonJun opened #1854 "Fixed typo in property_testing.md docs"
I'm not good at English, but the "Choosen" in this document is like a typo.

![image](https://user-images.githubusercontent.com/10369528/99785199-302c5a80-2b60-11eb-8e5c-5c13da39e0f7.png)

[2020-11-20 09:54] ashishkujoy commented on #1854
@Lee-WonJun thanks for the fix.

[2020-11-20 09:54] #1854 closed, assigned to nobody

[2020-11-20 23:24] Savrov opened #1856 "Styles in commonTest package"
Hello,
As I do understand, **kotest** and **kotlintest** are the same projects with different packages. Now, I have found a [repository with a sample](https://github.com/kotlintest/kotlintest-example-multiplatform/blob/master/src/commonTest/kotlin/io/kotlintest/example/mpp/FibBehaviorTest.kt) for **kotlintest** and there I noticed, that "styles" can be used in `commonTest` package. But this featur

[2020-11-21 22:41] sksamuel commented on #1856
You can use a test style in commonTest if you have a target of jvmTest or jsTest for that module.

[2020-11-22 11:32] HoffiMuc opened #1857 "BehaviorSpec Then assertion shows green in Intellij but should show red"
I am using kotlin 1.4.10 ;  micronaut-bom:2.1.3 ; micronaut-test-kotest:2.2.1 and kotest-runner-junit5-jvm:4.2.5

running this most simple BehaviorSpec:

[code]

EDIT:
I updated to kotlin 1.4.20 and micronaut
even though the overall Test fails, in Intellij (with kotest plugin 1.1.20-IC-2020.2)<br/>
the `Then` part shows green (see screenshot)

<img width="980" alt="Screenshot" src="https://user-im

[2020-11-22 21:41] Savrov commented on #1856
I had a bad setup. Now it works, can u pls verify that my Gradle now is correct and does not contain useless/redundant dependencies:
[code]

[2020-11-22 21:43] sksamuel commented on #1856
Looks good to me.

On Sun, 22 Nov 2020 at 15:42, Pavel <notifications@github.com> wrote:

[2020-11-22 22:28] #1856 closed, assigned to nobody

[2020-11-23 15:28] theHacker opened #1858 "Question: Is having code outside of the Style's functions bad practice?"
Hi guys,

we are using Kotest in our project for a long time, but I am still not sure, whether the following style is allowed:
[code]
The manual section about [Styles](https://kotest.io/styles/) has a huge amount of examples, but in every one, only the Style's predefined functions for container/test are used. I did not find any example in the manual, looking like my above code example.

Often we h

[2020-11-24 11:32] xeruf opened #1859 ""until" missing in documentation under nondeterministic_testing"
This section https://kotest.io/nondeterministic_testing I found super interesting, however, I would think "until" also belongs in that section, yet it isn't there.

[2020-11-24 14:31] sksamuel opened #1860 "String shrinking is not being executed"
See ShrinkingTest.kt for an example.

[2020-11-24 14:32] sksamuel commented on #1858
That's absolutely fine. In fact that's the reason Kotest doesn't have test fixtures, because you can just sprinkle local vals about, as you would any other function.

This will always be supported.

[2020-11-24 14:47] theHacker commented on #1858
Nice! Thank you for your reply.

Please add this to the manual, and let everybody know 👍

[2020-11-24 18:42] dragneelfps opened #1862 "Helper for temporary directory creation"
Currently, we can create a temp file using `tempfile()`(https://github.com/kotest/kotest/issues/326) . But for directories there is not method.
I propose we add a new but similar extension function for temp directories.
Sample code:
[code]

[2020-11-24 19:33] sksamuel commented on #1862
Sounds good. If you want to make the PR.

[2020-11-25 00:07] sksamuel commented on #1859
Yes, good shout. Would you be able to create a PR ?

[2020-11-25 07:36] aids61517 opened #1864 "AssertionMode.Error doesn't work on FeatureSpec"
version: io.kotest:kotest-runner-junit5:4.3.1
kotlin version: 1.4.10
Android Studio version: 4.1.1

assertion mode doesn't work on FeatureSpec, and `Tests passed` always equal to 0 even if I do assertion

[code]

![image](https://user-images.githubusercontent.com/15688437/100196007-2b3a2300-2f33-11eb-9a25-c8763fc2c8e9.png)

In do assertion case:

[code]
`Tests passed` still equal to 0
![image](htt

[2020-11-25 11:24] iainism opened #1866 ""Quickstart" content for Android inconsistent with Sample App content"
Using 4.3.1 in Android Studio.  I have found that the dependencies needed in my app-level build.gradle are of the form:

[code]

As given in the sample app at https://github.com/kotest/kotest-android-samples/blob/master/app/build.gradle

Referring to those shown at https://kotest.io/quick_start/#gradle there are a few key differences:

[code]

Note that the sample-app dependencies work, those in t

[2020-11-25 13:29] Bombo commented on #1620
Still happening with:
Plugin: 1.1.20-IC-2020.1
Kotest: 4.3.1 (Console Runner 4.1.3.2)

[2020-11-25 15:44] #1717 closed, assigned to nobody

[2020-11-25 16:45] sielenk-yara opened #1869 "Problems with the double generator (Arb.Companion.double)."
**Which version of Kotest are you using**
4.3.1

The edge cases are incomplete:
Missing values are `-0.0` (negative zero), `-Double.MIN_VALUE`, `-Double.MAX_VALUE` and, since `1e300` is there, maybe also `-1e300`.

The random values are far from exhaustive:
They are generated with `nextDouble()` and are therefore ["[...] uniformly distributed between 0 (inclusive) and 1 (exclusive)"](https://kotli

[2020-11-26 06:32] rfkm opened #1871 "Wrong test grouping in Allure"
**Which version of Kotest are you using**
4.3.1

If there are multiple tests with the same name, even if they are in different containers, they are considered to be the same test and an incorrect report will be generated. A particular problem is that even if some of them fail, the retry will show them as successful as a whole.

[code]

![image](https://user-images.githubusercontent.com/857162/1003

[2020-11-27 16:32] aids61517 commented on #1828
It's also happened when using Chinese in test name.

[2020-11-27 18:17] ghost opened #1872 "Failure to init test case when using assertSoftly within a test within a context"
**Which version of Kotest are you using**
Version: kotest 4.4.0.750-SNAPSHOT

In the code below if the lines for `assertSoftly` are commented out the test will execute correctly.

`class SimpleTest : FunSpec() {

    init {
        defaultTestConfig = TestCaseConfig(enabled = true, tags = setOf(Prd, Stg, Wip, Local))

        val users = listOf("user1", "user2")
        val samplePermissions = map

[2020-11-27 20:16] #1832 closed, assigned to nobody

[2020-11-27 20:25] #1869 closed, assigned to nobody

[2020-11-28 05:16] ashishkujoy commented on #1872
@slathropSR I am not able to reproduce the issue. https://github.com/ashishkujoy/kotest-playground/blob/master/src/test/kotlin/org/learning/AssertSoftlyWithInContextTest.kt

https://github.com/ashishkujoy/kotest-playground/runs/1466488914?check_suite_focus=true

With my setup my test are running and fail for proper assertion failure

[2020-11-28 13:40] #1864 closed, assigned to ashishkujoy

[2020-11-28 13:41] ashishkujoy commented on #1864
Fixed in master

[2020-11-28 16:48] sksamuel commented on #1871
Yep, it should be sufficient to use the fullPath from the description
rather than the test name.
Do you have time to make a PR ?

On Thu, 26 Nov 2020 at 00:33, Ryo Fukumuro <notifications@github.com> wrote:

[2020-11-28 19:40] #5490 closed, assigned to nobody

[2020-11-30 10:22] Sebruck commented on #1860
I have a similiar issue, here a short reproducer:

My code

[code]

Output:
[code]

So as you can see, no shrinking happened, even though I have set the ShrinkingMode to Unbounded.

In the Kotest code I can see that an IntShrinker exists and is used for the Integers Arb, but somehow it is not executed:
[code]

[2020-11-30 12:44] tekener opened #5461 "Intellij reacting very slow in larger WordSpec"
In my team all of us are expiring slow autocompletion, import fixes, closing curly braces finding, etc. in a kotest file using WordSpec and having around 12 tests.

When i deactivate the kotest plugin it is getting better.
I am currently running on 2020.3 beta because i thought this problem might has been fixed there but it is still there.
Does somebody else has the same sluggish behaviour?

Thank

[2020-11-30 19:36] #5476 closed, assigned to nobody

[2020-12-01 13:34] #1862 closed, assigned to nobody

[2020-12-01 13:35] #1800 closed, assigned to nobody

[2020-12-01 13:42] sksamuel commented on #1848
You can set the global timeout using the config object.

So somewhere in your code, you will need to call `configuration.timeout = foo`

[2020-12-01 13:42] #1848 closed, assigned to nobody

[2020-12-01 13:43] sksamuel commented on #1837
I'm confused by your question because we use MPP on kotest itself. You can see in the github actions file that we run builds for windows, mac and linux, for java / javascript and native. Was there something specific you needed? Or are you referring to native support on the test engine?

[2020-12-01 13:44] sksamuel commented on #1808
Closing this - durations will be used once kotlin 1.5 is released (if they are no longer experimental by then).

[2020-12-01 13:44] #1808 closed, assigned to nobody

[2020-12-01 15:07] Savrov commented on #1837
Sorry, I just did know that it is available. Now it's clear after checking out your Actions. Thanks

[2020-12-01 15:07] #1837 closed, assigned to nobody

[2020-12-01 15:15] sksamuel commented on #1837
Great.

[2020-12-01 18:36] #5497 closed, assigned to sksamuel

[2020-12-02 22:22] sksamuel commented on #5461
Have you tried kotlin plugin 1.4.20. They seem to have fixed a lot of speed issues in the latest release.

[2020-12-03 00:06] ataronet opened #1878 "Arb.stringPattern slows down the test dramatically"
I used to have this in my code
[code]
and used it everywhere. Tests became extremely slow after the upgrade to Kotest 4.3.1 (from 4.2.x).
Let me know if you need more info.

A

[2020-12-03 00:09] sksamuel commented on #1878
I remember us chatting on slack. I assumed the slowness was just in the library but it only happened in 4.3.x? If so, probably edge case related. Are you using it in binds or just raw ?

[2020-12-03 02:09] ataronet commented on #1878
@sksamuel I was using it in Bind but then just raw for the investigation.
Now I have a work around without the pattern.

[2020-12-03 16:14] StragaSevera opened #5460 "Cannot rerun failed tests using IntelliJ Kotest plugin"
**Which version of Kotest are you using**
4.3.1

When I try to use "Rerun failed tests" in IntelliJ with Kotest plugin, I get a message: "Test events were not received".

Log:
[code]

My test that certainly exists:
[code]

[2020-12-03 18:49] maciejtulaza opened #1880 "gradle test - StackOverflowError"
Kotest: **4.3.1**
Kotlin: **1.4.10**
Gradle: **6.7**

Hey,
Today I tried to use **Kotest** in new project (versions above). When doing `gradle test` I got enormous **stacktrace**. Below stacktrace repeats tens or hundreds thousands of time completely flooding the terminal. After few seconds stacktrace stops and tests are stuck.

This is what happenes: ("Wyjątek w wątku" means "Exception in a threa

[2020-12-03 19:53] maciejtulaza commented on #1880
I tried to run the same tests on different JDK. I am using SDKman to manage java versions.
Before: **AdoptOpenJDK 13.0.2.j9**
Now: **Java.net 13.0.2**

and it seems to work properly.. which JDK is recommended to work with Kotest?

EDIT: moreover - turns out it was a MockK problem; after some time I found similar issue in MockK's GitHub:
https://github.com/mockk/mockk/issues/337

[2020-12-03 20:05] frikit commented on #1812
took me forever but finally got couple of hours in the evening and make a quick implementation in PR https://github.com/kotest/kotest/pull/1881

[2020-12-04 04:20] twomoose commented on #1878
Hi there. I am also seeing this issue when upgrading from 4.2.6 to 4.3.1
[code]
I use `fooId` throughout my test classes and now those tests just hang.

[2020-12-04 11:24] myuwono commented on #1878
I think i might have found the root cause. `Arb.pattern` is instantiating Generex object on every sample. I managed to replicate this slowdown and confirmed that it is indeed a regression. It seems we need to cache the Generex object. I'll raise a fix for that @sksamuel

This is the arb https://github.com/kotest/kotest/blob/99138d177bd52feea19740abeec6c5c4a3ae11c1/kotest-property/src/jvmMain/kotli

[2020-12-04 14:26] sksamuel commented on #1878
If you make the fix Mitchell I'll release 4.3.2

On Fri, 4 Dec 2020, 05:25 Mitchell Yuwono, <notifications@github.com> wrote:

[2020-12-04 18:32] sksamuel opened #1882 "Invalid test usage should throw at runtime"
Eg, a context block inside a test block.

[2020-12-05 00:05] #1878 closed, assigned to nobody

[2020-12-05 10:56] frikit commented on #1812
As the changes are merged, should we close the issue now? @sksamuel ?

[2020-12-05 13:16] sksamuel opened #1884 "Release for watch os 32"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-12-05 16:25] #1880 closed, assigned to nobody

[2020-12-05 20:40] myuwono opened #1886 "Arb.choose does not currently include edgecases from input arbs"
`Arb.choose` and `Arb.frequency` currently do not include edgecases from input arbs.

identified in slack conversation:

[2020-12-06 02:05] #1860 closed, assigned to nobody

[2020-12-06 02:06] #1886 closed, assigned to nobody

[2020-12-06 17:23] sksamuel commented on #5470
Yeah, it's easier for junit because it can look for subclasses - that's all it needs to do.
Kotest is more powerful, you can embed that factory test anywhere - include in other functions.

[2020-12-06 19:03] #5464 closed, assigned to nobody

[2020-12-06 19:05] sksamuel commented on #5477
I will close this since this has been fixed in the last release. If anyone is still having issues, please reopen.

[2020-12-06 19:05] #5477 closed, assigned to nobody

[2020-12-06 19:05] sksamuel commented on #5475
A release for 2020.3 final is now pending approval with jetbrains.

[2020-12-06 19:05] #5475 closed, assigned to nobody

[2020-12-07 03:02] sksamuel opened #1888 "Add specific setup guide for each target / build"
* jvm / junit via gradle
* jvm / intellij plugin
* js / gradle
* native
* android / junit via gradle
* android / intellij plugin
* commonTest

[2020-12-07 10:48] tekener commented on #5461
Hi @sksamuel,
tried the new 1.4.20 plugin the last days and it is much better now.

[2020-12-07 10:48] #5461 closed, assigned to nobody

[2020-12-07 13:36] sksamuel commented on #1888
https://kotest.io/docs/quickstart/

[2020-12-07 13:36] #1888 closed, assigned to nobody

[2020-12-07 14:24] sksamuel commented on #1884
Watch/os 32 is now added to the build matrix.
It will be released with 4.3.2

[2020-12-07 14:24] #1884 closed, assigned to nobody

[2020-12-07 16:07] PaulWoitaschek commented on #1884
Thanks!
It seems to appear only in the 4.4.x snapshot builds. Is this an oversight?
https://oss.sonatype.org/content/repositories/snapshots/io/kotest/kotest-assertions-core-watchosarm32/

[2020-12-08 01:23] sksamuel commented on #1884
Once 4.3.2 is released there will be a full build for it.

[2020-12-09 10:36] theHacker opened #5459 "Since 2020.3 I sometimes get TraceableDisposable$DisposalException exception"
Since 2020.3, IntelliJ reports an exception from the Kotest plugin:
[code]

A few hints:
- As far as I noticed, this only happens, when I edit code inside a test. Don't have reproduction steps yet.
- After this exception,
  - I cannot copy file anymore (dialog asks my the new name, but after closing no new file is created)
  - Auto-Completion doesn't work anymore
  - The file menu has no menu entr

[2020-12-09 11:30] sksamuel commented on #5459
Do you have tests with string interpolation in the name?

On Wed, 9 Dec 2020, 04:37 Alexander Münch, <notifications@github.com> wrote:

[2020-12-09 11:36] theHacker commented on #5459
Yes.

[2020-12-09 11:45] sksamuel commented on #5459
Is it only happening on those files?

On Wed, 9 Dec 2020, 05:36 Alexander Münch, <notifications@github.com> wrote:

[2020-12-09 12:03] theHacker commented on #5459
Not sure. We have many tests with string interpolation. And I have had this exception now three or four times, but I cannot remember for sure, that at the time I had one of those files open.

I will watch for it, when it happens again.

[2020-12-10 04:15] LeoColman opened #1891 "Broken link on documentation"
http://kotest.io/docs/framework/test-extensions.html

This page has a broken link

[2020-12-10 08:45] tieskedh opened #1892 "Arb.list duplicated value as edgecase"
A little suggestion for `Arb.list`

A list that has a duplicated value is an edge-case of a list.
By using the first edge-case of the `Gen` (if one is set) this can be repeatable.

But what to do if no edge-cases are provided?

[2020-12-10 10:59] theHacker commented on #5459
Got a different exception: `KotlinIdeaResolutionException`, again Kotest is calling `getAllSuperClasses()`.
This time, I was not even working on tests (I have tests open in a separate window, but didn't touch them - at least one test with string interpolation in the name).

Stacktrace:
[code]

The exception seemed to happen, when I was typing a new class definition.
"IDE Fatal Errors" contains thi

[2020-12-10 12:01] sksamuel commented on #1892
I like that, good idea.

On Thu, 10 Dec 2020 at 02:45, Thijs de Haan <notifications@github.com>
wrote:

[2020-12-10 13:30] DeafLight opened #1893 "Update property test docs for global configs"
Hi,

Maybe I missed something, but I was unable to define the number of iterations I would like to run when doing property testing at the project level. Of course, I can define it on each call to `checkAll`, but that's tedious.

Is it possible to have this kind of property in the `ProjectConfig` class ? Is there another way to configure that ?

Thanks, and congrats for this great lib !

[2020-12-10 13:56] sksamuel commented on #1893
Seems like a good idea.

On Thu, 10 Dec 2020 at 07:30, Xavier Lecoustillier <notifications@github.com>
wrote:

[2020-12-10 15:36] Solido commented on #1401
Hi !

Is there still an effort on this task or a timeframe for the coming months ?
After reviewing all solutions it looks like Kotest matcher would be a very good fit but the integration is not trivial at all ...

Many thanks

[2020-12-10 15:40] sksamuel commented on #1401
Matchers should work without any changes because they work with any
framework.
Kotest test framework with Quarkus is still planned for 4.4.

On Thu, 10 Dec 2020 at 09:36, Robert Felker <notifications@github.com>
wrote:

[2020-12-10 16:13] Solido commented on #1401
Hi @sksamuel  !
Thanks you for the quick feedback glad to hear it is still on the table.

Added on 1.10.3.Final

[code]

Failed with

[code]

on basic test

[code]

Should I wait for future release ?

[2020-12-10 17:27] jschneidereit opened #1894 "Loss of forAll signature results in unpleasant experience"
**Which version of Kotest are you using**

This defect manifests when upgrading from 4.3.0 to 4.3.1

[code]

When I'm in 4.3.0 and I go to definition on this forAll the signature looks like so:

[code]

When I upgrade to 4.3.1 I get a build error:

Going to definition on forAll now give sme two options with signatures like:

[code]

My short term solution is to wrap my array in something like this

[2020-12-10 17:46] jschneidereit opened #1895 "Output from reporters should be single threaded"
Given a parallel test suite, I'd like to have the my console logs not be interleaved - test output should be thread safe.

[2020-12-10 17:48] sksamuel commented on #1895
The team city reporter and taycon reporter need to be wrapped.

This will fix https://github.com/kotest/kotest/issues/5463

[2020-12-10 17:55] snowe2010 commented on #1401
I wanted to work on this, but was unable to ever get kotest to compile correctly on my machine. I can give it another go sometime this week.

[2020-12-10 21:43] iainism opened #1896 "Setting LiveData within FunSpec"
Using Kotest 4.3.1

I'm in the process of attempting to migrate my tests within an Android app to use FunSpec, and I cannot work out how to set a value on MutableLiveData<> when testing my ViewModel **_after_** migration.

With:
[code]

I can successfully test with:
[code]

I have tried to migrate this to FunSpec as follows:
[code]

And this gives an exception, which I think is because the Instant

[2020-12-10 23:18] sksamuel opened #1897 "Category level configuration"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-12-11 07:59] aids61517 commented on #1896
You should create a ProjectConfig like this

[code]

[2020-12-11 13:31] #1438 closed, assigned to sksamuel

[2020-12-11 15:41] #1891 closed, assigned to nobody

[2020-12-12 16:39] sksamuel opened #1899 "Discussion: Top level syntax support (ie no classes)"
What do we think about introducing support for syntax like this:

![image](https://user-images.githubusercontent.com/743706/101989489-3f399080-3c66-11eb-9c8e-fb4c4c708905.png)

[2020-12-12 17:47] ajalt commented on #1899
The idea seems interesting. I assume this is only for kts files?

Your screenshot looks similar to the c++ [catch2](https://github.com/catchorg/Catch2/blob/devel/examples/010-TestCase.cpp) library. You might also be interested in how [py.test](https://docs.pytest.org/en/stable/) configures fixtures.

The top level magic `val`s for configuration wouldn't support IDE autocomplete, and would be vulne

[2020-12-12 18:22] sksamuel commented on #1899
Yes this would be .kts files only.

I was thinking for the configuration values, the names wouldn't matter, I would look for the type of the val instead. Eg,
`val whatever = AssertionMode.Warn` I can infer its the assertion mode setting from the val type.

However, I like your idea better. And we can take it further by having config be a function invocation rather than a function declaration.

![i

[2020-12-12 19:13] christophsturm commented on #1899
The second suggestion would also work in a main method, and require no class path scanning for discovery.

[2020-12-12 19:31] sksamuel commented on #1899
Wouldn't they both work in a main method? And outside of a main method, both would require classpath scanning.

[2020-12-12 20:06] sksamuel commented on #1899
Some issues / caveats.
* You wouldn't be able to navigate from class name to test inside intellij, because that works by looking for classes that match the format YourClass / YourClassTest
* We would need to either invoke all *.kts files inside the test folder, or we'd have to try to work out which *.kts files contain tests (by looking at the byte code for invocations of test functions).
* Global

[2020-12-12 21:21] opatry opened #1900 "README.md quick start link leads to page not found error page"
Clicking on `quick start guide.` leads to https://kotest.io/quick_start/ which is

The correct link seems to be https://kotest.io/docs/quickstart/

I can repair the `README.md` but maybe an HTTP redirection should be put in place to avoid old links being broken?

[2020-12-12 21:24] opatry commented on #1900
Same is for changelog link but a redirection seems to operate after a while for this one.

[2020-12-12 21:28] opatry commented on #1900
Relates to #1890

[2020-12-13 13:22] #1840 closed, assigned to nobody

[2020-12-13 13:33] sksamuel commented on #1900
I've added a redirect for quick start. There was one in place for changelog already.

[2020-12-13 13:33] #1900 closed, assigned to nobody

[2020-12-13 13:45] #1816 closed, assigned to nobody

[2020-12-13 13:57] sksamuel commented on #1893
Just realized we already have this.

Do `PropertyTesting.defaultIterationCount = 1234`

I'll update the docs.

[2020-12-13 14:09] sksamuel commented on #1893
https://kotest.io/docs/proptest/property-test-global-config.html

[2020-12-13 14:09] #1893 closed, assigned to nobody

[2020-12-13 15:49] iainism commented on #1896
Thank you so much!

Is there somewhere that this is documented please?  Everything I found when stfw pointed me to using the `@ExtendWith(InstantTaskExecutorExtension::class)` annotation, which clearly doesn't do what is needed in this case.

[2020-12-13 19:11] #1828 closed, assigned to nobody

[2020-12-14 02:41] #1812 closed, assigned to nobody

[2020-12-14 03:09] aids61517 commented on #1896
I'm not sure what InstantTaskExecutorExtension do.

I searched about `@ExtendWith(InstantTaskExecutorExtension::class)` and I found [this](https://stackoverflow.com/questions/48602979/android-livedata-in-androidtest-returns-null) on StackOverflow.

I guess InstantTaskExecutorExtension works based on JUnit 5's lifecycle, and should convert to based on Kotest's lifecycle.

Here is document for Proje

[2020-12-14 08:34] DeafLight commented on #1893
Great, thanks a lot!

[2020-12-14 10:48] shalomhalbert opened #1905 "Website's sub-menu does not display on mobile, even with "Desktop site" selected"
On mobile, it is not possible to see the sub-menus. See attached images for examples.

Desktop appearance:

![kotest io_docs_assertions_assertions html](https://user-images.githubusercontent.com/25901445/102072347-c48c8480-3dcf-11eb-8ee5-84ad8168dff4.png)

[2020-12-14 10:49] shalomhalbert commented on #1905
Noticed there is a hamburger menu on the bottom-right

[2020-12-14 10:49] #1905 closed, assigned to nobody

[2020-12-14 16:34] #1607 closed, assigned to nobody

[2020-12-14 17:45] sksamuel commented on #5459
There's an update out which should fix this (although the issue is in intellij).

[2020-12-14 17:49] iainism commented on #1896
Hi, almost, I found the reference to the extension here: https://gist.github.com/AdamSHurwitz/f8a14cd2be04eb88609d1093476658c7

[2020-12-14 18:53] khongi opened #5458 "Glutter icon not working"
When I try to run a single test with glutter icon of BehaviorSpec, Given
The run fails with the following log:
[code]
However when I run the whole test class using the glutter icon, it works as excepted.
I encountered this while writing tests on:
[code]
- Kotest Plugin version: 1.1.22-IC-2020.2
- Kotlin Plugin: 1.4.21-release-Studio4.2-1
- Kotest 4.3.2
- Kotlin 1.4.20

[2020-12-14 19:02] sksamuel commented on #5458
Can you add kotlin- reflect to your classpath

On Mon, 14 Dec 2020, 12:53 Khongor Bayarsaikhan, <notifications@github.com>
wrote:

[2020-12-14 19:10] khongi commented on #5458
I added kotlin-reflect:1.4.20 and tried again, this time a different exception: (the test still passes if I run the whole test class)
[code]
![image](https://user-images.githubusercontent.com/11983684/102124254-546e1500-3e48-11eb-8357-ac13dceb2fa2.png)

[2020-12-14 19:31] sksamuel commented on #5458
Are you using mockk ?

On Mon, 14 Dec 2020 at 13:10, Khongor Bayarsaikhan <notifications@github.com>
wrote:

[2020-12-14 19:31] khongi commented on #5458
yes

[2020-12-14 20:18] theHacker commented on #5459
Thx, I will verify when back to work in January.

[2020-12-15 03:02] #5473 closed, assigned to nobody

[2020-12-15 11:55] sksamuel commented on #1894
Fixed in 4.3.2

[2020-12-15 11:55] #1894 closed, assigned to nobody

[2020-12-15 11:56] sksamuel commented on #1840
4.3.2 is out with 1.3 compatibility.

[2020-12-15 11:56] sksamuel commented on #1884
https://search.maven.org/artifact/io.kotest/kotest-assertions-core-watchosarm32/4.3.2/klib

[2020-12-15 11:56] sksamuel commented on #1886
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1860
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1878
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1864
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1869
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1832
4.3.2 is released with this fix.

[2020-12-15 11:56] sksamuel commented on #1831
4.3.2 is released with this fix.

[2020-12-15 12:24] yaroslav-shlapak opened #1911 "Kotest plugin doesn't run JUnit4 tests if run them for directory/package from Android Studio"
Kotest version: 4.2.5
### Given
1. Kotest IIntelliJ IDEA plugin version 1.1.22-IC-2020.1 installed and enabled
2. A multimodule Android project with the module which has both JUnit4 and Kotest tests
2. The module has Kotest configured like this (gradle.kts with correct kotest dependencies, here as constants):
[code]
### When
running tests using Android Studio via right-click on a package with test

[2020-12-15 12:24] yaroslav-shlapak opened #1912 "Adding secondary module with Kotest as dependency to primary module leads to primary module JUnit4 tests not being run when running them from Android Studio folder"
Kotest version: 4.2.5
### Given
1. An Android project with the next modules structure:
  +-`primary`
  +-`secondary`
2. The `secondary` module has Kotest configured like this (gradle.kts with correct kotest dependencies, here as constants):
[code]
3. the `primary` module has the `secondary` module added as a dependency like this (gradle.kts):
   `implementation(project(secondary))`
4. the `primary

[2020-12-15 13:41] PaulWoitaschek commented on #1884
Wonderful, thank you!

[2020-12-15 14:09] sksamuel commented on #1857
I get this:

![image](https://user-images.githubusercontent.com/743706/102225434-d5f78e80-3eac-11eb-991d-77da30238d40.png)

Can you try that dummy test but removing the @MicronautTest annotation ?
Just to see where the error might be.

[2020-12-15 14:11] sksamuel commented on #1853
Thanks.

I've had a play and it's not trivial to make this work outside of kotest.

It could work without nested clue support, but that means removing a feature.

The best we could do is introduce another set of clues that work with non-kotest assertions?

[2020-12-15 14:14] sksamuel commented on #1830
Moving the data class up a level works, as does swapping around the order of the list and the context call. It must be something to do with the managed classname that is used for classes declared in lambdas.

[2020-12-15 14:17] sksamuel commented on #1830
Bizarrely, removing the autoclose fixes it too.

[2020-12-15 15:27] #1882 closed, assigned to nobody

[2020-12-15 18:22] sksamuel opened #1913 "Roadmap 4.5"
- [x] Add better mechanism for "or" in matchers #1950
- [x] Support objects for specs #1970
- [x] Generate HTML reports from JUnit XML #2011
- [x] Exhaustive cartesian #2119
- [x] Embedded kafka extension #2070
- [x] Wiremock extension #2071
- [x] Defer forAll nested blocks until runtime #2078
- [x] Kotest dependencies include kotlin standard library as dependencies but should make them as provide

[2020-12-15 20:23] StragaSevera commented on #950
@LeoColman
I'm getting the same error: `No transactional EntityManager found`. I'm using the `4.3.2` version of Kotest, using only one layer of nesting, etc.
Here is a minimal example that reproduces the problem: https://github.com/StragaSevera/kotest-spring
I'm a newbie with Spring, so maybe I'm doing something wrong. If so, please, help me =-)

[2020-12-16 04:36] RBusarow opened #1914 "Add syntax highlighting for Kotlin and Groovy to the website"
Docusaurus's syntax highlighting doesn't support either language by default, but it's simple enough to add that support.

https://v2.docusaurus.io/docs/markdown-features#syntax-highlighting

<img width="500" alt="image" src="https://user-images.githubusercontent.com/9890900/102305490-ded87680-3f25-11eb-90e4-d051fe5d3697.png">

[2020-12-16 09:42] #1914 closed, assigned to nobody

[2020-12-16 18:50] JoonasC opened #1918 "Pitest docs missing from new reference docs"
It seems like the Pitest documentation is missing from the new reference documentation.

[2020-12-16 22:35] JoonasC opened #1919 "Koin extension broken for Koin 2.2.1"
I'm using Kotest version 4.3.2, and it seems like the Koin extension is broken for Koin version 2.2.1.

When I try to run my test cases I get the following error:
[code]

[2020-12-16 22:38] enolive commented on #1853
Thanks for your Feedback! Honestly I was just curious if it is supposed to work because I could not find any information in the docs stating otherwise. The only use case I could actually think of for using clues for different assertion libs would be to better document my test assertions like in groovy spock without a nested structure like in BehaviourSpec:

[code]

complete code (inside a direct c

[2020-12-17 08:57] roman-tikonov commented on #1911
I have a similar project setup and experience exactly the same issue.

Kotest: 4.3.2
Android Studio: 4.1.1
Kotest IDE plugin: 1.1.22-IC-2020.1

[2020-12-17 15:06] sksamuel opened #5457 "context in describe spec doesn't run single tests"

[2020-12-17 15:13] lwasyl commented on #5457
Sample code
[code]
1. run test at line with `it` with gutter icon
2. Test path in the configuration is `foo -- bar -- fizzbuzz`, ignoring `context` block

[2020-12-17 15:58] ashishkujoy commented on #1872
@slathropSR Could you please help us to reproduce this issue or are we good to close this based above shared test reports and sample code.

[2020-12-17 16:12] ashishkujoy commented on #1919
@JoonasC Could please help us with some sample code to reproduce this issue. Kotest Koin module itself uses Koin 2.2.1 and test related to that modules are working fine.

[2020-12-17 16:56] jzeferino opened #1923 "Roboeletric requiring java 9"
4.3.2 version

when trying to configure Roboelectric I followed the [docs](https://github.com/kotest/kotest/blob/master/doc/extensions.md#robolectric)

I'm getting this error output:

**java.lang.UnsupportedOperationException: Failed to create a Robolectric sandbox: Android SDK 29 requires Java 9 (have Java 8)**

------------------------------------------------------------------

Full exception he

[2020-12-17 17:01] JoonasC commented on #1919
@ashishkujoy The following sample project reproduces the error for me with openjdk version 11: [https://drive.google.com/file/d/1HBr_X6njO5apc3YSoHLU7TPpNsIMtokC/view?usp=sharing](https://drive.google.com/file/d/1HBr_X6njO5apc3YSoHLU7TPpNsIMtokC/view?usp=sharing)

[2020-12-17 18:14] victor5171 commented on #1620
I'm having the same problem, are there any fixes for this problem?

[2020-12-17 23:10] ghost commented on #1872
@ashishkujoy Sorry for the lack of response previously.
I just pulled down your code fro GitHub and confirmed that it does work for me.
However, if I copy your test file into my repo I see my original problem.  I am using the same version of kotest so I suspect there is a library or configuration conflict causing this issue.

Since I'm not able to share my repo publicly maybe this issue can be clo

[2020-12-18 02:07] enolive commented on #5466
I am having the same problem.

After some investigation, it seems that the kotest runner does not seem to handle java.lang.AssertionError with a preformatted message which the junit runner seems to automagically parse and present a diff dialog.

reproduction test:

[code]

Sadly this means that many default assertions will not produce a diff dialog option in the kotest test runner.

A convenient w

[2020-12-18 14:58] HoffiMuc commented on #1857
same result without `@io.micronaut.test.extensions.kotest.annotation.MicronautTest` again.

`Given` failed, but `When` and `Then` are still green!

(did this using most recent IntelliJ kotlin and kotest plugin)

Do you also have the ProjectConfig set to:

[code]

??

[2020-12-19 17:04] matsievskiysv opened #1927 "shouldBeBetween not defined for floats"
**Which version of Kotest are you using**
4.3.0

`shouldBeBetween` works with doubles, but doesn't work with floats:

Double example compiles:
[code]

Float example doesn't compile:
[code]
Error:
[code]

[2020-12-19 17:06] timrijckaert opened #1928 "Support system properties through classpath based file"
Kotest `4.3.1`
Kotest IDEA Plugin `1.1.22-IC-2020.1`

Not sure if I should have posted this _bug_ in the Kotest plugin repo or here.

I have a scenario where I want to inject sensitive information in a test for an end 2 end test.
Adding my sensitive information in Gradle by reading `local.properties` file and setting it as a system property.

I can then retrieve it in my tests by quering the `Syst

[2020-12-19 17:26] sksamuel commented on #1928
Intellij can either run through it's own runner, or through the gradle runner. If you want to use gradle settings, you will need to change it to use the gradle runner.

[2020-12-19 17:27] sksamuel commented on #1928
![image](https://user-images.githubusercontent.com/743706/102695452-1b89c380-41ed-11eb-965a-f6eca6c4a9fd.png)

[2020-12-19 18:12] timrijckaert commented on #1928
I don't know what you mean exactly.
It looks like I have the same settings as you. Slightly differently since I'm running in Android Studio.

<img width="1271" alt="Screen Shot 2020-12-19 at 19 11 58" src="https://user-images.githubusercontent.com/6739443/102696383-2dd82180-422e-11eb-9504-ccd0b6d61186.png">

[2020-12-19 21:25] #1804 closed, assigned to nobody

[2020-12-21 11:23] sksamuel opened #1929 "Increase arity of checkall / forall property tests to 12"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-12-21 18:15] LordRaydenMK commented on #1923
Have you tried the solutions from: https://stackoverflow.com/questions/56821193/does-robolectric-require-java-9

[2020-12-21 20:17] LeoColman commented on #1919
I'm honestly having a hard time with this one. I have no idea why the runner claims to be executing that function (and not finding it)

[2020-12-21 20:23] LeoColman commented on #1919
When I copy the listener to the project instead of using Kotest's it works as expected.

[2020-12-21 22:57] ataronet opened #1931 "Arb.set with a range hangs the test if the given gen inside the set cannot produce enough values for the range"
Found in Kotest version 4.3.2

Example
[code]

[2020-12-21 23:03] LeoColman commented on #1919
Ok, it's fixed on master.
Please use 4.4.0.20-SNAPSHOT if you need it quickly, it's the latest snapshot.

[2020-12-21 23:03] #1919 closed, assigned to LeoColman

[2020-12-22 03:30] #1872 closed, assigned to nobody

[2020-12-22 08:14] comdiv opened #1932 "assertSoftly: If one test in spec fais in assertSoftly with non-assert exception - other tests do nothing and shown as "green""
Assume following test:
[code]

If you strart just `b` - it fails, as it is expected,

but if you start whole test - `a` will be failed, but `b` will OK!!

In debug I can see that `b` is still in `Soft` assertion mode and it's assert never thrown!

[2020-12-22 08:16] comdiv commented on #1932
Not dependend on spec that is used

[2020-12-22 08:20] comdiv commented on #1932
It fails if exeption caused by matcher too:
[code]

[2020-12-22 08:36] comdiv commented on #1932
Versions affected, 4.3.1, 4.3.2

[2020-12-22 08:51] sksamuel commented on #1931
The documentation for Arb.set describes this behavior:

/**
 * Returns an [Arb] whose of values are a set of values generated by the given element generator.
 * The size of each set is determined randomly within the specified [range].
 *
 * Note: This may fail to terminate if the element generator cannot produce a large enough number of
 * unique items to satify the required set size
 */

Unfortun

[2020-12-22 09:02] sksamuel commented on #1927
Added to master, will be included in 4.4

[2020-12-22 09:02] #1927 closed, assigned to nobody

[2020-12-22 09:42] ataronet commented on #1931
So it's a known issue. I'll let you know if I can think of a solution in run time. I'd prefer to get an exception on runtime and not hang. But it might be impossible.

[2020-12-22 09:53] sksamuel commented on #1931
The best I can think of is that we add `uniqueValues: Int` to each generator (or max size)
Then things like Arb.set can ask the consistent generators what their unique/max size is and throw if it's not big enough.
The drawback is it wouldn't work with things like filter, as the compiler would not known how many values would be filtered.
@myuwono any thoughts ?

[2020-12-22 09:55] sksamuel commented on #1857
I get a similar error with global assert softly.

![image](https://user-images.githubusercontent.com/743706/102875549-8e6f8600-4409-11eb-9031-5f77cc61b926.png)

So is probably related to that.

[2020-12-22 10:23] sksamuel commented on #1853
I guess with clues you are still identing though? But I see what you want to do.

Perhaps you want some clue that you can add without an ident block.

[code]

[2020-12-22 10:25] sksamuel commented on #1853
I've updated the docs page to make it clear it requires kotest test framework / assertions.

[2020-12-22 10:27] sksamuel commented on #1807
I think this is good since 4.3.1. I will close this but please reopen if there is something outstanding.

[2020-12-22 10:27] #1807 closed, assigned to nobody

[2020-12-22 10:28] sksamuel commented on #1811
I'm confident this is fixed since 4.3.1 I will close but please reopen if you encounter any other issues.

[2020-12-22 10:28] #1811 closed, assigned to sksamuel

[2020-12-22 10:30] sksamuel commented on #1866
I don't know a lot about android, but is the difference between androidTestImplementation and testImplementation whether it is unit vs instrumented tests? Perhaps @alexfacciorusso could offer some guidance.

[2020-12-22 10:34] #1857 closed, assigned to nobody

[2020-12-22 10:41] sksamuel commented on #1918
Thanks, docs updated.

[2020-12-22 10:41] #1918 closed, assigned to nobody

[2020-12-22 10:48] sksamuel opened #1935 "computeDefaultIteration does not take into account edge cases or calculate cartesian product for exhaustives"
**Which version of Kotest are you using**

[2020-12-22 11:17] alexfacciorusso commented on #1866
Long story short: Android instrumented testing support for Kotest is not completely ready, and the sample you mentioned works but with many drawbacks. We are working on the support for Android Instrumented tests and when that will be definitely functioning properly, very probably a section specifically for Android will be added to the documentation.

The current Kotest documentation explains the c

[2020-12-22 11:19] sksamuel commented on #1866
I can add that to the docs if you can give me the sentence to write.

On Tue, 22 Dec 2020 at 05:17, Alex Facciorusso <notifications@github.com>
wrote:

[2020-12-22 11:22] #1935 closed, assigned to sksamuel

[2020-12-22 12:33] #1929 closed, assigned to nobody

[2020-12-22 12:35] sksamuel commented on #1928
Basically if you use the intellij plugin and it's using the intellij runner, it won't pick up gradle properties.
I don't know if android uses the intellij runner or the gradle runner since you don't seem to have an option for it in android studio (compare to my screenshot from intellij).

[2020-12-22 12:36] #1932 closed, assigned to ashishkujoy

[2020-12-22 17:29] glasser opened #1939 "Allow null clues"
Clues are declared as `Any` rather than `Any?`. I'm not sure why this is helpful.

Notably, I find myself wanting to write `foo.asClue { foo.shouldBeNull() }` sometimes. Is there a better way to do this? `foo?.asClue { foo.shouldBeNull() }` skips the assertion, and `foo!!.asClue { foo.shouldBeNull() }` moves the failure to `!!` itself.

[2020-12-22 17:44] sksamuel commented on #1939
Seems reasonable to me. Would you like to make the PR ?

On Tue, 22 Dec 2020 at 11:30, David Glasser <notifications@github.com>
wrote:

[2020-12-22 18:03] glasser commented on #1939
If you're motivated to do so I wouldn't complain, but I can try to find some time soon!

[2020-12-23 01:48] glasser commented on #1939
Yay, #1940. Although part of me wonders if the bug report should instead have been "`x.shouldBeNull()` should show x on failure"

[2020-12-23 02:31] #1939 closed, assigned to nobody

[2020-12-23 03:22] sksamuel commented on #1939
You want it to show the variable name? If so, we plan a compiler plugin for
that.

On Tue, 22 Dec 2020 at 20:31, Leonardo Colman <notifications@github.com>
wrote:

[2020-12-23 04:39] glasser commented on #1939
Nah, the value -- I expected something to be null, it's not, so the natural question is what is it...

[2020-12-23 04:42] sksamuel commented on #1939
Does it not do that? That seems poor. Should be like "foo should be null".

On Tue, 22 Dec 2020 at 22:39, David Glasser <notifications@github.com>
wrote:

[2020-12-23 06:55] glasser commented on #1939
You'd think so, but: https://github.com/kotest/kotest/blob/757529896b9d117240b281e69926953022d6ca9d/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/nulls/matchers.kt#L104

[2020-12-23 17:32] LeoColman opened #1941 "Add more configurations to Email Generator"
The current email generator doesn't allow customization of domain and TLD. Sometimes it's desirable, as for example, you want to test that people from a "bad domain" will be denied to register in your website.

We should support more customization in that sense, and deprecate the non-customizable approach.

[2020-12-24 04:28] sksamuel opened #1942 "not null matcher should show the value that was meant to be null"
https://github.com/kotest/kotest/blob/757529896b9d117240b281e69926953022d6ca9d/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/nulls/matchers.kt#L104

[2020-12-24 04:29] sksamuel commented on #1942
a.shouldBeNull()

should show what a was if it wasn't null

[2020-12-24 05:02] sksamuel commented on #1939
@glasser https://github.com/kotest/kotest/issues/1942

[2020-12-24 06:10] glasser commented on #1942
I think the issue title here is a bit off — the "not null" matcher doesn't need any context (since the answer on failure is always `null`), just the "null" matcher.

[2020-12-24 07:10] myuwono commented on #1931
hmm, this is almost (although not quite) similar to the `Arb.distinct()` problem that we had quite recently. Under the hood `Arb.set` tries to conjure a set of some target cardinality specified by repeatedly taking the next sample from an arb.  This is Arb.set:

[code]

as seen above, that while loop will keep on sampling until the targetSize is reached. Unfortunately sometimes that requirement is

[2020-12-24 16:56] #1866 closed, assigned to nobody

[2020-12-24 17:30] sksamuel commented on #1931
I think the 2nd solution will stop the tests hanging which is probably good
enough. Generators are used in test code, so we don't need extra special
error handling - throwing is sufficient imo.

On Thu, 24 Dec 2020 at 01:10, Mitchell Yuwono <notifications@github.com>
wrote:

[2020-12-24 17:30] sksamuel commented on #1942
Yes, thanks, updated.

[2020-12-24 20:19] ataronet commented on #1931
+1 for the second opinion from me too. This is a kind of wrongly using the Arbs so I'd understand much quicker what's going on with a exception.
Similarly there is an exception when you have too many edge cases with too few iterations for your test. To me it is the same thing - just the other way around, too few options for the test to run.
Thank you both.

[2020-12-27 20:03] JavierSegoviaCordoba commented on #1785
@LeoColman I think this should be reopened

[2020-12-27 20:51] quenio commented on #1743
Both Kotest and its plugin do not support multi-platform libraries / apps. It is not possible to put tests in the commonTest directory, nor execute the tests from IntelliJ when you put the tests on jvmTest.

[2020-12-28 10:17] #1388 closed, assigned to nobody

[2020-12-28 19:48] aalaura commented on #1365
Is there any way we can reopen this issue? I am having the same issue trying to use the kotest-plugins-pitest maven plugin with kotest. It looks like there is already a fix - https://github.com/kotest/kotest/commit/4629622464595a59ea61be038963c02505b6f06c. Thanks

[2020-12-29 03:30] kopper opened #1947 "Property tests: Gen.minIterations doesn't include any random sample for Arbs"
As a result:
1. if checkAll doesn't specify iteration count and as a result `computeDefaultIteration` is used AND if kotest.proptest.default.iteration.count <= minIterations, then no random sample will be included during test run
2. tests that explicitly specify iteration count = minIterations will not include any random sample during tests run and no warning will be issued for these tests

See
ht

[2020-12-29 05:55] hi-mod opened #1948 "Data Driven Testing Example Not Working"
I am looking at your library because I need to do some data driven testing and I am using Kotlin. However your example at https://kotest.io/docs/framework/data-driven-testing.html doesn't seem to work for me. I have 4.3.0 installed.

[code]

The error I am getting is:
[code]

Am I missing something obvious?

[2020-12-29 11:29] sksamuel opened #1950 "Add better mechanism for "or" in matchers"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-12-29 11:29] sksamuel commented on #1950
`result.status shouldBe (TestStatus.Failure or TestStatus.Error)`

[2020-12-29 11:51] sksamuel commented on #1948
This compiles for me:

[code]

Make sure you're on 4.3.2 just in case.

[2020-12-29 14:38] hi-mod commented on #1948
Ughh, thank you! I didn't realize intellij pulled in the wrong import for forAll. It had a property forAll

[2020-12-29 15:09] #1948 closed, assigned to nobody

[2020-12-30 01:42] #1947 closed, assigned to nobody

[2020-12-31 20:17] sksamuel opened #1956 "Add SpringTestExtension which exposes test context via coroutine context element"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-12-31 20:20] #1740 closed, assigned to nobody

[2020-12-31 23:11] #1714 closed, assigned to nobody

[2021-01-01 02:58] #1942 closed, assigned to nobody

[2021-01-01 03:17] #1797 closed, assigned to nobody

[2021-01-03 22:36] sksamuel opened #1958 "Add integration docs for jacoco"
Start a new integration section to describe how to use kotest with Jacoco.
Migrate the mockk integration to this section.

Some setup ideas.
https://stackoverflow.com/questions/62137437/how-to-add-coverage-report-jacoco-to-kotest-based-using-build-gradle-kts

[2021-01-03 22:39] sksamuel commented on #1928
So you can set system properties inside intellij in the run configuration detaults.
See https://intellij-support.jetbrains.com/hc/en-us/community/posts/206245939-How-can-I-set-defaults-for-test-configurations-

In addition we could add support to read a file from the classpath. kotest.local.properties or something, from which we could set system properties before any tests run.

[2021-01-03 22:54] sksamuel opened #1959 "Add active test extension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-03 22:54] sksamuel opened #1960 "Extract notification logic"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-04 01:43] #1960 closed, assigned to nobody

[2021-01-04 03:06] #1959 closed, assigned to nobody

[2021-01-04 03:16] sksamuel commented on #1931
@myuwono Do you want to add a PR for this? If not I will try to find time before I release 4.4 in the next two days.

[2021-01-04 03:17] sksamuel commented on #1941
@LeoColman do you want to make a PR before 4.4 is released?

[2021-01-04 03:19] sksamuel commented on #1895
@jschneidereit Will you have time to add a PR in the next couple of days? If not, I can tackle this so it can make it into 4.4

[2021-01-04 07:38] timrijckaert commented on #1928
That would be really helpful in this case.
I now made a custom Gradle script to do just that.

[2021-01-04 08:02] #1853 closed, assigned to nobody

[2021-01-04 12:03] myuwono commented on #1931
@sksamuel sorry was in holiday mood! 🌴

[2021-01-04 12:27] sksamuel commented on #1931
:)

[2021-01-04 12:27] #1931 closed, assigned to nobody

[2021-01-04 12:37] sksamuel opened #1965 "Upgrade ktor matchers to use ktor 1.5"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-04 15:00] sksamuel commented on #1782
You need to use the spring extension with kotest.
Adding the annotation is not sufficient.
Take a look at https://kotest.io/docs/framework/extensions.html#spring

[2021-01-04 15:10] sksamuel commented on #1826
This seems to work the same as spock here:
https://blog.mrhaki.com/2019/09/gradle-goodness-stop-build-after-one.html

I think the blog was probably just wrong and didn't realize that the test names are still output even if they're not executed.

[2021-01-04 15:10] #1826 closed, assigned to nobody

[2021-01-04 15:20] #1965 closed, assigned to nobody

[2021-01-04 16:54] jschneidereit commented on #1895
Yeah I'll work on pulling together what I have to see if it'll make it in time

[2021-01-04 18:08] sksamuel commented on #1760
This has been updated in master, documentation to follow once RC1 is released.

[2021-01-04 18:08] #1760 closed, assigned to sksamuel

[2021-01-04 20:14] #1956 closed, assigned to nobody

[2021-01-04 22:10] sksamuel opened #1967 "Allow data driven tests to register in root scope"

[2021-01-05 19:37] LeoColman commented on #1941
Yes

[2021-01-05 19:37] LeoColman opened #1969 "Add domain arbitrary"

[2021-01-05 19:41] sksamuel opened #1970 "Support objects for specs"
object mytest : FunSpec() { }

[2021-01-05 21:29] #1941 closed, assigned to LeoColman

[2021-01-05 21:29] #1969 closed, assigned to LeoColman

[2021-01-06 12:18] #1967 closed, assigned to nobody

[2021-01-06 14:47] #1958 closed, assigned to sksamuel

[2021-01-06 15:16] vsigler opened #1975 "Documentation on test ordering"
I've found the following issue: https://github.com/kotest/kotest/issues/439

Not sure if it did not get merged or was deleted at some point, however, I did not find information how to control test execution ordering.

The reference contains the following

However, the "documentation" links to a non-existent file, resulting in 404.

[2021-01-06 15:19] sksamuel commented on #1975
Is this what you're looking for: https://kotest.io/docs/framework/test-ordering.html

[2021-01-06 15:28] sksamuel opened #1976 "Upgrade arrow matchers to 0.11.0"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-06 15:41] vsigler commented on #1975
Ah, thanks, I was looking at the wrong place! What is the point of this then: https://github.com/kotest/kotest/tree/master/doc :)

[2021-01-06 15:48] sksamuel commented on #1975
It's the old docs.

On Wed, 6 Jan 2021, 09:42 Vojtěch Sigler, <notifications@github.com> wrote:

[2021-01-06 18:29] #1895 closed, assigned to sksamuel

[2021-01-06 19:08] #1976 closed, assigned to nobody

[2021-01-06 19:08] #1975 closed, assigned to nobody

[2021-01-06 22:10] sksamuel commented on #1755
RC1 released.

[2021-01-07 15:29] vojtapol commented on #1853
@sksamuel Was this the note you added to documentation?

![image](https://user-images.githubusercontent.com/7419355/103910591-dc4ae600-50b9-11eb-98cb-0ae5b8baa432.png)

If that is the case I believe it might be misleading unless I am misunderstanding something. I am using just the assertion library (not the test framework) together with JUnit 4 and the clues work perfectly. Maybe the note should b

[2021-01-07 18:02] sksamuel commented on #1853
You wouldn't use an assertions library if the clues wasn't supported?

I think it's nested clues that doesn't work outside of kotest.

On Thu, 7 Jan 2021 at 09:30, Vojtech Polivka <notifications@github.com>
wrote:

[2021-01-07 19:22] joelhess opened #1978 "intelliJ unable to run tests with interpolated names"
Using kotest 4.3.2, plugin 1.1.24-IC-2020.3, intelliJ 2020.3

Using a String Spec, or ShouldSpec,  if the test name contains an interpolated string the plugin says that it can't run it. Tests work fine via gradle or running form a higher level (like the whole spec). I'm fairly certain this used to work?

example
`context("$recommenderName Tests") {}`
<img width="524" alt="image" src="https://user-

[2021-01-08 03:23] #5465 closed, assigned to nobody

[2021-01-08 11:01] sksamuel commented on #1978
This has always been the case. It's because tests are launched by name, but it doesn't know the name without running the code, since the interpolation can have arbitrary complexity.
You can still run the entire class file.

[2021-01-08 14:32] joelhess commented on #1978
Ok. Thanks for the response. I must have remember it incorrectly.

On Fri, Jan 8, 2021 at 5:02 AM Sam Sam <notifications@github.com> wrote:

[2021-01-08 15:35] #1978 closed, assigned to nobody

[2021-01-09 14:14] StragaSevera opened #1980 "Spring test lifecycle callbacks do not work with constructor injection"
I have the problem that is described here: https://github.com/kotest/kotest/issues/950 . Because that issue is closed, I'm opening a new one.
I made a simple example that reproduces the `No transactional EntityManager found` problem: https://github.com/StragaSevera/kotest-spring .  I'm using the 4.3.2 version of Kotest, using only one layer of nesting, etc, but it still does not work.

[2021-01-09 16:22] sksamuel opened #1981 "Upgrade to gradle 6.8"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-09 17:12] sksamuel commented on #1980
Thank you for making the repo, that is a big help.

The problem seems to be that the constructor based injection doesn't run the "before test method" callbacks (because it's only constructing the class) so some setup methods never get called (such as setting up the test entity manager).

This works:

[code]

I will figure out a way to make the constructor injection work as well.

[2021-01-09 19:19] StragaSevera opened #1982 "Problem with Spring extension documentation"
The example that is posted on the site does not work, because there is no object with the name `SpringExtension`:
[code]

What works for me is the different configuration:
[code]

Is this the correct way to initialize the Spring extension? If so, then the documentation on the website is not correct. If it is not the right way to use Spring extension, then how do I make the example from website wor

[2021-01-09 19:32] StragaSevera commented on #1980
Thank you, if I setup tests like you show, they work =-)

[2021-01-09 20:51] #1981 closed, assigned to nobody

[2021-01-09 20:51] sksamuel commented on #1982
The documentation refers to the 4.4 release (currently RC1).
You can use the example I pasted in your other ticket (spring listener).

[2021-01-09 21:00] StragaSevera commented on #1982
Got it. I think the documentation would benefit from specifying the way to do it in stable release (until 4.4 becomes stable).

[2021-01-09 21:07] sksamuel commented on #1982
I'll release 4.4 tomorrow.

[2021-01-09 21:09] StragaSevera commented on #1982
Well, then this issue is kinda obsolete :-)

[2021-01-09 21:09] #1982 closed, assigned to nobody

[2021-01-09 23:55] sksamuel commented on #1980
Closing this as constructor injection works as well, just need the listener as in the example.

[2021-01-09 23:55] #1980 closed, assigned to nobody

[2021-01-10 00:53] sksamuel opened #1984 "Enhance Json matchers"
* Add json CompareOrder mode
* Add json lenient mode
* Add path output of first error
* Pretty format output

[2021-01-11 01:15] sksamuel opened #1986 "Expand JSON matchers to support JS"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-11 06:40] jschneidereit opened #1987 "Data driven tests report names out of order when parallel"
When parallelism factor > 1 in version 4.4.0.RC1 data driven tests at the root scope report their names incorrectly.

Here's some sample code:

[code]

results in output that looks like:
[code]

the single threaded output looks like this:

[code]

Not sure if it's related to  #1967 or #1972

[2021-01-11 11:34] sksamuel commented on #1987
Ugh this is complicated. It's because the framework is reporting the spec started events and then the instantiation may not have completed.

[2021-01-11 18:21] StragaSevera commented on #5536
Is there any progress on this?

[2021-01-11 21:52] vojtapol commented on #1853
Correct. We are currently using `Kluent` and looking to switch to `kotest-assertions` only because of the clues feature. We are still happy with JUnit though so that would stay.

[2021-01-11 22:48] sksamuel commented on #1853
Yes makes sense.

On Mon, 11 Jan 2021 at 15:52, Vojtech Polivka <notifications@github.com>
wrote:

[2021-01-12 01:40] #1984 closed, assigned to nobody

[2021-01-12 02:48] #1986 closed, assigned to sksamuel

[2021-01-12 02:49] sksamuel opened #1990 "Test that a java.lang.NoClassDefFoundError is caught by kotest"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-12 03:28] #1990 closed, assigned to nobody

[2021-01-12 17:24] sksamuel commented on #5463
This should be fixed in 4.4

On Mon, 11 Jan 2021 at 11:37, stale[bot] <notifications@github.com> wrote:

[2021-01-12 17:28] jschneidereit opened #1992 "TestContext should have a logging interface"
Since kotest supports parallelism, logging within tests shows up out of order and is confusing. I think kotest could probably have the usual log methods on `TestContext` so users can append their logs to the report printed at the end of a test run that happens to be in parallel.

[2021-01-13 03:13] sksamuel commented on #1859
@jschneidereit if you wanted to start something :)

[2021-01-13 03:14] sksamuel commented on #1796
JSON assertions have been massively improved in 4.4 under #1985

[2021-01-13 03:14] #1796 closed, assigned to nobody

[2021-01-13 03:16] sksamuel opened #1995 "Support gradle --tests top level method in addition to the current class check"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-01-13 08:52] iainism opened #1996 "Odd results formatting with context() - false positive?"
**With Kotest 4.3.2**

Within a funspec I have a context, that contains two tests:

[code]

In my TDD flow, I am at the point where `"Incomplete API settings are detected"` should fail, and I spotted that the output in Android Studio appears to show a false positive for this test:
![image](https://user-images.githubusercontent.com/8614139/104428113-f84bfd00-557b-11eb-883d-2222526267d7.png)

I don'

[2021-01-13 11:20] Bombo commented on #1620
Still happening with:
Plugin: 1.1.24-IC-2020.1
Kotest: 4.3.2 (Console Runner 4.1.3.2)

Also tested with 4.4.0.RC1, and did not get the exception, but the test above shows as successful, even when I change the assertion to `2 + 2 shouldBe 5`.

[2021-01-13 19:27] jschneidereit commented on #1859
I'll see what I can do! 👍

[2021-01-13 20:44] sksamuel commented on #1996
You are corecet. That's what should be happening.

The init is added when the class fails setup or teardown

On Wed, 13 Jan 2021 at 02:52, iainism <notifications@github.com> wrote:

[2021-01-14 07:08] mriehl commented on #5478
What's the status on this? I'm using the kotest intellij plugin `1.1.24-IC-2020.3` and I cannot get idea to run the tests with gradle. The "run tests using" option is set to gradle, and I've tried deleting the test configurations, but no luck so far.

Edit: so running the entire spec class seems to work and uses gradle. It's running one of the nested tests that doesn't use gradle as expected (I am

[2021-01-14 11:57] iainism commented on #1996
Thanks for the fast response!  The `<init>` failure makes sense now. :-)

I still don't understand the 'pass' indication for the failing test though?

[2021-01-14 15:58] xeruf opened #1999 "Output plain String diff"
**Which version of Kotest are you using**
4.3.2

<img width="1831" alt="image" src="https://user-images.githubusercontent.com/13354331/104615485-937ec880-5689-11eb-8a76-14a19ec86346.png">
Apparently, there is some special handling for Intellij. Unfortunately that doesn't change the fact that this type of diff is not very helpful...

Is there some way for a simple `shouldBe` Matcher to return the p

[2021-01-15 01:45] sinlov opened #5456 "can not create test, when open plugin kotlintest-plugin-intellij"
## env
[code]
## issure

if open plugin [kotlintest-plugin-intellij](https://plugins.jetbrains.com/plugin/11585-kotlintest)
![image](https://user-images.githubusercontent.com/3433415/104669878-dc7c5e80-5715-11eb-9306-c7f7b29b0b00.png)

![image](https://user-images.githubusercontent.com/3433415/104670022-0afa3980-5716-11eb-86dd-88529e14ba42.png)

only create package but not create test file
![image

[2021-01-15 10:50] theHacker opened #5455 "Gutter icon "interpolated name" is shown in Diff view"
When opening a Diff window, normally there aren't any "play" icons in the gutter to run tests.
The question-mark icon (Text: `Tests with an interpolated name cannot be run by the plugin.`) is still shown in Diff view.

I believe it should be removed there.

**Screenshot**
![kotest-plugin-issue119](https://user-images.githubusercontent.com/7399011/104716893-d04dcc80-5728-11eb-87e8-77811b48bff7.png)

[2021-01-19 12:18] theHacker commented on #5459
Did not counter the issue since. I am closing this issue :-)

[2021-01-19 14:13] sksamuel opened #2003 "Disallow nested string scopes"
New feature added in 4.4 is not working properly.

[code]

[2021-01-20 00:14] jschneidereit opened #2004 "Replace jackson and js native with kotlinx-serialization json parsing in kotest-assertions"
The kotlinx-serialization library can do [arbitrary json parsing](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/json.md#subtypes-of-json-elements) and is a cross platform project by default. Replacing Jackson with kotlinx-serialization would make [kotest-assertions](https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-json/build.gradle.kts) a cross pl

[2021-01-20 05:26] jschneidereit commented on #2004
Might be blocked by https://github.com/Kotlin/kotlinx.serialization/issues/204 unless we're ok with temporarily reading resources right into memory `this.javaClass.getResourceAsStream(resource)` see `io.kotest.assertions.json.resources.kt`

[2021-01-20 15:22] theHacker opened #5454 "Tool window: After jumping to a test, caret is replaced"
Reproduce:
- Open Kotest Tool Window
- Single-click on a test
  - -> Caret jumps to the test
- Click to set the caret somewhere else
- Type one character
  - -> Character will be displayed as expected.
  - -> After that the caret however will be positioned back to the test's name ❌

Screencast:
https://user-images.githubusercontent.com/7399011/105196042-7e97ae80-5b3b-11eb-985d-a3401e45e11b.mov

--

[2021-01-20 17:10] sksamuel commented on #2004
I don't think a test needs to be streaming. Loading into memory seems fine ?

[2021-01-20 19:22] ghost opened #2007 "assertSoftly loses stacktraces if only one assertion fails"
**Which version of Kotest are you using**
4.3.1

If only one assertion fails inside a assertSoftly block, then the stack trace of the logged failure will be lost. A sample test is shown here
[code]

If run, the stack traces will be useless. If you uncomment the other assertion, then the assertSoftly logs the message as expected.

It looks like the `UserStackTraceConverter.getUserStacktrace(throwab

[2021-01-21 05:43] #2007 closed, assigned to nobody

[2021-01-21 09:52] xeruf commented on #1999
@sksamuel would appreciate help here, this is a major blocker for my use of Kotest. Maybe there is simply something I have missed?

[2021-01-21 09:54] caramelomartins opened #2011 "Generate HTML reports from JUnit XML"
When using JUnit XML, we can generate XML results from tests that are able to produce output with nested tests. If we use Kotest/JUnit XML with Gradle, then we can disable the XML results from Gradle and keep _only_  the results from JUnit XML. Unfortunately, Gradle generates its HTML reports with the results it has in-memory, which can't don't support nested tests, and it doesn't seem to be able

[2021-01-21 11:59] shwaka opened #2012 "All lists generated by Arb.list begin with edge cases"
**Which version of Kotest are you using**
`4.3.2`

If I understand correctly, `Arb.list` should generate "random" lists. But it always generates lists begining with fixed values (edge cases?).

## Current behavior
Generated lists always begin with fixed values (edge cases?).

## Expected behavior
Generated lists should begin with random values.

## Steps to reproduce
[code]

Three lines of `printl

[2021-01-21 18:45] NikolayMetchev opened #2013 "Arb.bigInt always returns 0"
**Which version of Kotest are you using**
4.3.2

The loop on this line isn't changing the bigInt variable.
https://github.com/kotest/kotest/blob/99138d177bd52feea19740abeec6c5c4a3ae11c1/kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/bigint.kt#L8

[2021-01-22 03:57] sksamuel commented on #2012
They are designed to return edge cases first.
I just looked at the docs and they are sparse in this area, the old docs were better.
I will update the docs with the rationale behind this.

[2021-01-22 05:12] #2013 closed, assigned to nobody

[2021-01-23 19:10] #1897 closed, assigned to nobody

[2021-01-24 05:47] sksamuel commented on #1928
In 4.4 we can add a kotest.properties file to the classpath, and each key=value pair will be added as a system property before the test engine starts.

[2021-01-24 05:48] sksamuel commented on #2012
I've updated the property test documentation to make this clear.

[2021-01-24 05:48] #2012 closed, assigned to nobody

[2021-01-24 05:54] #1782 closed, assigned to nobody

[2021-01-24 18:01] sksamuel commented on #1999
This should only be happening for big multi line strings.
Can you try setting a system property of `kotest.assertions.multi-line-diff` to `simple`.

[2021-01-24 18:01] sksamuel commented on #1996
Does this happen if you take out the test code itself and just have the test structure ?

[2021-01-24 18:07] sksamuel commented on #1995
This already works as best it can.

[2021-01-24 18:07] #1995 closed, assigned to nobody

[2021-01-24 19:18] #2003 closed, assigned to nobody

[2021-01-24 19:33] #1892 closed, assigned to nobody

[2021-01-24 19:43] sksamuel commented on #1473
I've been playing with the --tests thing again and there's no way I can see to get it to work for nested test names. We don't get access to the "string" that is passed as the arg. Gradle just provides a filter which doesn't expose the string that was used and then tries to match on method names.

I think speed issues with nested lambdas has gone away in Kotlin 1.4.21 and is even better in 1.4.30 R

[2021-01-24 19:43] #1473 closed, assigned to nobody

[2021-01-24 20:31] sksamuel commented on #1987
I can't duplicate this @jschneidereit

![image](https://user-images.githubusercontent.com/743706/105642669-b4e17080-5e50-11eb-969e-7a24dd985b6e.png)

same in gradle.

![image](https://user-images.githubusercontent.com/743706/105642693-d04c7b80-5e50-11eb-96f2-c4ed53ff0da8.png)

[2021-01-24 20:40] jschneidereit commented on #1987
I'll get a repro for you on monday 👍

[2021-01-24 20:59] sksamuel commented on #1987
Awesome thanks.

On Sun, 24 Jan 2021 at 14:40, Jim Schneidereit <notifications@github.com>
wrote:

[2021-01-26 07:46] xeruf commented on #1999
Thanks! Setting it in my global ProjectConfig, like this, worked:
[code]

Now it would be great if, like you adjust the output specifically for Intellij, I could set this so it is only done for Intellij. I actually believe this should be the default, as Intellij can diff nicely by itself.

[2021-01-26 10:46] xeruf commented on #662
@sksamuel Is it possible to create a custom Show implementation and have Kotest use it?

[2021-01-26 13:13] pallavijoshi44 opened #2016 "shouldBe does not work correctly when using custom exception classes"
**Kotest version : 4.3.1**

'shouldBe' does not validate the data inside the data class if the data class is extended from Exception class. It only checks the type of the data class. However, it works perfectly when the data class does not extend the Exception class.

In the sample below, the test should fail as the data inside the CustomException does not match and fail assertion ("abc" is not eq

[2021-01-26 15:35] ashishkujoy commented on #2016
@pallavijoshi44
For throwable Kotest check message field of throwable and actual class of expected and actual value. In your case while extending from Exception you are not passing any message field to `Exception` constructor and Kotest is finding null value for both actual and expected message field while doing assertion.
As a quick fix you can change `CustomException` defination to this.
[code]

[2021-01-26 17:05] #2016 closed, assigned to ashishkujoy

[2021-01-26 17:05] ashishkujoy commented on #2016
Fixed in master.

[2021-01-26 18:04] pallavijoshi44 commented on #2016
Thank you for fixing so fast!

[2021-01-27 04:03] sksamuel commented on #1859
We're going to close this as we are going to revamp eventually for 4.4

[2021-01-27 04:03] #1859 closed, assigned to jschneidereit

[2021-01-27 04:36] #1987 closed, assigned to sksamuel

[2021-01-27 04:40] sksamuel commented on #662
@xerus2000 at the moment they are hard coded because I am not sure of a way to have discovery that works on MPP.

[2021-01-27 04:41] sksamuel commented on #1999
Are you seeing a nice diff even on multi line strings in intellij ?

[2021-01-27 06:15] jschneidereit opened #2019 "Deprecate until and move its features to eventually"
- [ ] function arguments should be suspending
- [ ] `eventually` should accept a type argument to catch exceptions of type until time runs out
- [ ] new functionality should be documented in [nondeterministic.md](https://github.com/kotest/kotest/blob/master/doc/nondeterministic.md)

[2021-01-27 06:25] sksamuel commented on #2019
the exception should be optional, in case you just want to wait for "no exceptions" and variations should accept a predicate.

[2021-01-27 09:52] xeruf commented on #1999
Yes, Intellij has the compare function, which you can see in the right of my screenshot. But that only works well with the original strings, not pre-diffed ones.

[2021-01-27 09:54] xeruf commented on #662
well, how about registering it in a `ProjectConfig` or `ProjectListener#beforeProject`?

[2021-01-27 15:15] sksamuel commented on #662
Can't use those as they are framework specific and assertions works outside
of kotest too.
But the general idea is a good one - we can allow registration on some kind
of Shows object.

On Wed, 27 Jan 2021 at 03:54, Janek <notifications@github.com> wrote:

[2021-01-27 15:15] sksamuel opened #2021 "Allow registration of custom Show typeclasses"

[2021-01-27 15:15] sksamuel commented on #662
https://github.com/kotest/kotest/issues/2021

[2021-01-27 21:09] jschneidereit commented on #2019
@sksamuel I pushed my work from lunch break and will work on the docs tonight

[2021-01-29 07:30] jschneidereit commented on #2004
Fixed in #2006

[2021-01-29 07:30] #2004 closed, assigned to jschneidereit

[2021-01-29 10:43] NikolayMetchev opened #5453 "Cannot launch tests with latest kotest plugin and framework"
Using plugin version 1.0.5
kotest version 4.3.2
kotest-runner-console-jvm version 4.1.3.2
I get the following when I launch a test:
[code]

Seems like that class has moved

[2021-01-29 15:49] sksamuel commented on #5453
You don't need the console dependency.
Just add kotest-engine-jvm or kotest-runner-junit5-jvm
Where did you read about console? I will correct the docs.

[2021-01-29 16:11] bryan-nz commented on #5453
I'm not sure if this is related, but I was just trying the 2021.1 EAP version of intellij with kotest 4.3.1 and plugin 1.0.5 And I'm seeing this error:
16:06	Kotest
Add io.kotest:kotest-runner-console-jvm to your build to execute tests using the kotest plugin. Required version is 4.1.0 or higher.

[2021-01-29 16:26] sksamuel commented on #5453
Sounds like an old warning message. I'll fix that thanks.

On Fri, 29 Jan 2021, 10:11 Andrew Bryan, <notifications@github.com> wrote:

[2021-01-29 17:07] NikolayMetchev commented on #5453
I see, I was getting that error so I added that dep. I guess the latest EAP breaks the pluging

[2021-01-30 04:36] #2021 closed, assigned to sksamuel

[2021-01-30 19:51] #2019 closed, assigned to nobody

[2021-01-31 15:12] sksamuel opened #2028 "Post Release Steps 4.4"
- [x] Create PR for refresh versions https://github.com/jmfayard/refreshVersions
- [x] Update changelog
- [x] Merge all pending doc updates
- [ ] Post in kotlin slack #feed

[2021-02-02 02:18] sksamuel opened #2030 "Upgrade to 1.4.30"

[2021-02-02 02:24] jschneidereit opened #2031 "Add build scans to kotest"
From the gradle scan project:

https://scans.gradle.com/

[2021-02-02 03:54] #1755 closed, assigned to nobody

[2021-02-02 03:54] sksamuel commented on #1755
4.4.0 released

[2021-02-02 03:54] #2028 closed, assigned to nobody

[2021-02-02 10:27] StragaSevera opened #2033 "Is there a way to use Kotest without importing Assertions?"
I'm using a different assertions library, and I would be glad to have just the spec functionality without assertions - so my IDE would not give me options of using functions like `shouldBe` on each and every object.

[2021-02-02 10:55] StragaSevera opened #2034 "Wrong test descriptions when using Data Driven Testing with enums"
I took an example from the documentation and slightly modified it:

[code]

The run window shows wrong results:

![](https://i.imgur.com/tdtoQHo.png)

This presentation style is very useful, because you can at the first glance discern which sub-test does fall. It works when elements are numbers, but does not work when elements are enums.

[2021-02-03 15:06] #2034 closed, assigned to ashishkujoy

[2021-02-03 20:45] sksamuel commented on #2033
It's only shouldBe that comes in by default right?

We could move it to it's own module so you can just exclude that.
In the meantime, if you exclude the `kotest-assertions-shared` module it will go away.

[2021-02-03 20:45] #2031 closed, assigned to jschneidereit

[2021-02-03 20:45] sksamuel commented on #2011
Would you like to make a start on it, and then we can all contribute to improving it ?

[2021-02-03 20:46] sksamuel opened #2037 "Use IR (both) for JS builds"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-02-03 20:48] StragaSevera commented on #2033
As far as I remember, there were some collection assertions too.

Sorry for my inexperience, but how do I exclude it? Is it something in the build.gradle file?

[2021-02-03 20:52] sksamuel commented on #2033
Make sure you don't have `kotest-assertions-core` on your build. That's what brings in the collection assertions.
`kotest-assertions-shared` is added by default and brings in forAll and things on collections.
https://docs.gradle.org/current/userguide/dependency_downgrade_and_exclude.html

[2021-02-03 22:06] xmlking commented on #5453
I already have kotestVersion=4.4.0. testing with intelliJ 2021.1 EAP

![image](https://user-images.githubusercontent.com/627951/106815587-ee706380-6628-11eb-8706-43b0e7580f4f.png)

[2021-02-03 22:23] sksamuel commented on #5453
The intellij plugin doesn't work with 2021.1 EAP yet.

On Wed, 3 Feb 2021 at 16:06, Sumanth Chinthagunta <notifications@github.com>
wrote:

[2021-02-03 22:28] caramelomartins commented on #2011
Hey @sksamuel. Yes, I'd like to make a start of it (at least the HTML, even if it doesn't have much styling at first). I'm going to try to use some spare time this week on this. :crossed_fingers:

[2021-02-03 22:29] sksamuel commented on #2011
Awesome.

On Wed, 3 Feb 2021 at 16:28, Hugo Martins <notifications@github.com> wrote:

[2021-02-04 05:04] carbotaniuman opened #2038 "Changelog is broken"
Please describe here what you would like to see documented.

The changelog.md is not up to date, And the link it kinks me to is not valid.

[2021-02-04 05:07] sksamuel commented on #2038
Try this https://kotest.io/docs/changelog.html

[2021-02-04 05:08] sksamuel commented on #2038
Link fixed.

[2021-02-04 05:08] #2038 closed, assigned to nobody

[2021-02-04 05:20] dalewking opened #2039 "Collection matchers need to support nullabililty"
I have a collection variable that is nullable type and I would like to verify that it:
- is not null
- is empty

But the problem is that beEmpty only works on non-nullable collections and will not compile with a nullable collection

The only way I have found to do it is:
[code]

beEmpty() along with all collection matchers and assertions should handle nullable lists and I should be able to just sa

[2021-02-04 06:24] sksamuel commented on #2039
Yes I agree. It should work on nullables and error if it's null.

Very quick to add. In the meantime, you can do:

[code]

Because shouldNotBeNull will smart cast for you.

[2021-02-04 10:44] overfullstack opened #2042 "IntArray not being printed in Assert log"
**Which version of Kotest are you using**: v4.4.0

For a Testcase like this, where I use `IntArray`, if it fails, the log shows me the HashCode of the IntArray Object, which is not intuitive.

### Sample TestCase

[code]

### Log for assert failure

`Test failed for (nums, [I@38938758), (result, 2)`

[2021-02-04 18:01] xeruf opened #2043 "Changelog for 4.4.0 incomplete"
It lists changes like `Removed superfluous whitespaces in freeSpec.kt #1819` (what the heck is that doing in the changelog? Why would anyone care about that?) but important changes like the deprecation of until and revamp of eventually (#2022) aren't mentioned at all?

[2021-02-04 18:30] jschneidereit opened #2044 "Improvements on Eventually given Until deprecation"
@xerus2000 pointed out some issues with my changes made in #2022  and those should be fixed:

- [x] `EventuallyPredicate` should be a `typealias` instead of a `fun interface`
- [x] Differentiate between a failure of the predicate and an exception in `eventually`
- [x] Add an overload that has no `f` for eventually so you can use `eventually` like you could use `until` (and fix the deprecation repl

[2021-02-05 03:01] StragaSevera commented on #5460
Ehm, I would like it to be fixed and not just closed without considering.

[2021-02-05 03:23] dalewking commented on #2039
Which is the same as what I did using an apply instead of creating a variable. My example code above showed a variable named actual just so I could emphasize the nullability of the type, but in my actual code I did not create a variable so was more like:
[code]

which brings up the point that I really wish you supported a fluent interface and all methods like shouldNotBeNull returned the instance

[2021-02-05 09:33] xeruf commented on #2044
I think we shouldn't have normal predicates, just matchers and a good way for handling them, because then we can leverage their elaborate error message generation.

[2021-02-05 09:40] xeruf commented on #2044
By changing to soft assertion mode within the eventually block I think we can catch these more gracefully.

[2021-02-05 15:51] JavierSegoviaCordoba opened #2047 "KMP Native: Backend Internal error: Exception during IR lowering"
Kotlin 1.4.30 and Kotest 4.4.0

It works with JVM, Android, Linux and Windows targets. But with some Apple targets it is failing. The project only have a `shouldDo` function.

Stacktrace:

[code]

[2021-02-05 18:25] xeruf opened #2049 "How to configure in testing styles other than StringSpec?"
https://kotest.io/docs/framework/testing-styles.html documents that I can use `.config(...)` for StringSpec - but what about all the other styles? Particularly, I have no idea how this could work in WordSpec.

[2021-02-05 18:32] jschneidereit commented on #2044
I'll look at switching to soft, but I think that probably should be up to the tester to opt in to. What if they don't want every assertion to run if one fails?

I also think the predicate is fine, consider a producer that returns a kotlin `Result` type and I want to gate on `.isSuccess`

[2021-02-05 22:31] ghost opened #2050 "test config is not recognized on tests run within a context"
In the code here https://gist.github.com/slathropSR/f9c420c666b1cb3c0279e6f2afc38a1e the test running in the context will not execute unless the line with a default config is un commented.

It looks like the test config on a test defined within a context is not being honored.

[2021-02-06 01:26] shichimitogarashi opened #2051 "Generation of larger sets via Arb.set now throws an exception"
Starting with Kotest 4.4.0, generation of larger sets now fails. This appears related to https://github.com/kotest/kotest/issues/1931

With the change to termination, `Arb.set` now gives up after 1,000 loops. This means that, even when given a generator with sufficient cardinality, passing in a range that generates desired sizes of greater than 1,000 elements will fail.

[2021-02-06 02:30] jschneidereit opened #2052 "Interval should have a cap"
Consider `1.seconds.fibonacci()` which over the course of 20 iterations looks like this:

[code]

I know the system I'm testing throttles, let's say at one request per client per second, so I don't want to test initially faster than every second, but I also don't want to wait for a massive amount of time (keep in mind the kotest default timeout). To prevent this we can implement the concept of a c

[2021-02-06 03:50] #2042 closed, assigned to ashishkujoy

[2021-02-06 03:56] sksamuel commented on #2049
you put .config on the inner test case. I will update the docs soon to show config examples for every spec style.

We are also going to expand the config a bit too for 4.5

[2021-02-06 04:11] myuwono commented on #2051
👍 thanks for raising this. yeah i think we should only increment when the set size does not change on subsequent sampling. i'll raise a fix.

[2021-02-06 04:19] sksamuel commented on #2051
Fix incoming :)

[2021-02-06 04:21] sksamuel commented on #2051
@myuwono I had already started a fix before you posted, if you would be so kind as to review the PR. https://github.com/kotest/kotest/pull/2054

[2021-02-06 04:27] myuwono commented on #2051
awesome!

[2021-02-06 04:51] sksamuel commented on #2039
I've updated the shouldBeEmpty and shouldNotBeEmpty matchers to support nullable references.

eg

[code]

Both those matchers, and `shouldNotBeNull` already allow chaining, eg

[code]

https://github.com/kotest/kotest/pull/2055

[2021-02-06 05:02] sksamuel commented on #2050
Ok I see the problem. The context block does not have tags, so will not be picked up as you say.
The solution is to allow config at all levels, which is planned for 4.5

[2021-02-06 05:02] sksamuel commented on #2050
https://github.com/kotest/kotest/issues/1370

[2021-02-06 05:03] sksamuel commented on #2050
Workaround for now is spec level tags (the line you commented).

[2021-02-06 05:03] sksamuel commented on #2049
Related to https://github.com/kotest/kotest/issues/1370 and https://github.com/kotest/kotest/issues/2050

[2021-02-06 05:06] sksamuel commented on #2043
It's nice to include everyone's contributions I guess.

There will be a blog post out lining some of the major changes.

[2021-02-06 05:50] sksamuel commented on #2051
Fixed in master. Will be in 4.4.1

[2021-02-06 05:50] #2051 closed, assigned to nobody

[2021-02-06 18:12] #2052 closed, assigned to nobody

[2021-02-06 19:07] sksamuel opened #2065 "Expanding config - style discussion"
As part of #2049 #2050 #1370 I want to expand config to parent tests.

Currently, we add config to a test like this:

[code]

We don't support this syntax on parent tests. So our options are:

1. Expand same style to parents:

[code]

The pro is that it works like it does currently, the con is that not all specs can support this (eg word spec) due to limitations in kotlin's DSL support and we can'

[2021-02-06 19:19] sksamuel commented on #5460
It's the stale bot, nothing personal :)

[2021-02-06 19:21] sksamuel commented on #2033
Did my instructions help ?

[2021-02-06 19:37] dalewking commented on #2039
Ah, I wasn't aware of that because that was not the case for the version of kotest we were using when I wrote those tests.

The ability to chain with shouldNotBeNull definitely makes the need for this request lower priority but still a good idea.

[2021-02-06 19:37] sksamuel commented on #2039
Yep, the PR is already up and will be merged for 4.4.1

[2021-02-06 20:52] ghost commented on #2065
Of the three options you mentioned I like option 2 best due to the reusability.

I don't know if it's possible but could what about combining the reusable config with the test declaration.
This might be more confusing if it's even possible but could address your concern about the config tag being unclear that's it's a test.

Could look something like this:
[code]

[2021-02-06 20:56] jschneidereit commented on #2065
I'm partial to re-usability (see the controversial `EventuallyConfig`) but I think we might be able to get away with the object as well as overriding invoke for the lambda style as well. I can play around with it tonight.

[2021-02-06 21:15] sksamuel commented on #2065
It's an interesting idea, but my gut feeling is that it would become very complex to support.

@slathropSR @jschneidereit  both say reusability is important, and I agree. Lukasz on slack had the idea of allowing the .config postfix style, but with an overload to accept a pre-confused test object.

That might give us the best of all worlds.

[2021-02-06 21:20] LeoColman commented on #2065
We once talked about having 'inline' configs instead of having `x.config`:

[code]

And similar things to timeout, tags and etc. Having more than one of these will get too cumbersome, so having a bigger `config` object is better for these cases. But I think it's more often to use one or two configs than to use all available at `testConfig`, so I see benefits on what I proposed above

[2021-02-06 21:25] sksamuel commented on #2065
The drawback to this is that the nesting for things like tags and timeouts would go above the tests pushing indentation out further again, one indent per "thing".

The benefit is it reads quite nicely in the DSL style of Kotest if you don't have too many.

[2021-02-07 00:18] #2030 closed, assigned to nobody

[2021-02-07 01:18] LeoColman commented on #2065
We could have both. One option with more configs

[2021-02-07 02:21] sksamuel opened #2069 "Add watchosX64 once coroutines is released"
https://github.com/Kotlin/kotlinx.coroutines/issues/2524

[2021-02-07 04:53] #2039 closed, assigned to nobody

[2021-02-07 10:22] lwasyl commented on #2065
Just for completness, my idea was to have two overloads for config: one with many parameters, which would delegate to one with a builder lambda:

[code]

where the first `.config` declaration would be roughly
[code]

But now that I think of it, there's no need for lambdas even. Just having two `config` overloads, one with parameters and one with an object would be the same. The one with many param

[2021-02-07 10:52] StragaSevera commented on #2033
Sorry for my newbieness, but this way it does not work:
[code]
How do I do it in this case?

[2021-02-07 18:09] sksamuel opened #2070 "Embedded kafka extension"
https://github.com/embeddedkafka/embedded-kafka

[2021-02-07 18:12] sksamuel opened #2071 "Wiremock Integration"
https://github.com/tomakehurst/wiremock

[2021-02-07 18:33] LeoColman commented on #2071
Probably better to use a listener

On Sun., Feb. 7, 2021, 15:13 Sam Sam, <notifications@github.com> wrote:

[2021-02-07 18:34] LeoColman commented on #2070
Probably better to use a listener

On Sun., Feb. 7, 2021, 15:10 Sam Sam, <notifications@github.com> wrote:

[2021-02-07 21:25] sksamuel commented on #1999
I think `kotest.assertions.multi-line-diff` could default to `simple` if we can detect we are running inside intellij.

[2021-02-07 21:27] sksamuel commented on #2033
Try this

[code]

or

[code]

[2021-02-07 21:28] sksamuel commented on #1996
Are you still having this issue? If so, do you have a standalone example we can use as a test case.

[2021-02-08 06:48] jschneidereit opened #2075 "ExponentialInterval should use a factor for its duration calculation"
tl;dr: `ExponentialInterval` should use the function `base * factor^iter` instead of `base^iter` to produce a less severe curve and a more expected starting 0th value

---

In my last PR #2053 I added a cap to the exponential intervals due to the extremely steep nature of `ExponentialInterval`'s exponential curve.  Consider the interval `2.seconds.exponential(cap = Duration.INFINITE)` which curren

[2021-02-08 12:22] #1871 closed, assigned to sksamuel

[2021-02-08 12:22] sksamuel commented on #1871
Fixed in master, will be included in 4.4.1

[2021-02-08 18:02] StragaSevera commented on #2033
Thank you! When I excluded only `kotest-assertions-shared`, it still had some `shouldNotNull`-type things. But when I used this:
[code]
- it worked flawlessly. Thanks!

[2021-02-08 18:30] sksamuel commented on #2033
Great.

[2021-02-08 18:30] #2033 closed, assigned to nobody

[2021-02-09 00:59] #2075 closed, assigned to jschneidereit

[2021-02-09 01:07] #2044 closed, assigned to nobody

[2021-02-09 09:59] xeruf commented on #2044
Totally easy with matchers: `result.isSuccess shouldBe true`

[2021-02-09 13:08] xeruf commented on #2043
nah, contributions are listed in the git log. Changelogs are for humans (https://keepachangelog.com)

[2021-02-09 18:13] sksamuel opened #2077 "BeforeProjectListener is not being picked up"
ProjectListener works but the sub interfaces do not.

[2021-02-09 19:43] iainism commented on #1996
Sorry - I missed your follow-up, somehow.

We haven't yet updated our deps to 4.4.1.  I'll see if I can get this done tomorrow, and come back to you.

[2021-02-10 05:30] sksamuel opened #2078 "Defer forAll nested blocks until runtime"
can we make the nested forAll bind at runtime.

    "test" - {
        forAll("a", "b", "c") { outer ->
            forAll("1", "2", "3") { inner ->
                println("$outer$inner")
            }
        }
    }

[2021-02-10 11:40] henry-jo opened #2079 "Should I write a description only in English?"
**With kotest 4.3.2**
**With kotlin 1.3.72**

I made testcode by using Korean for writing the description.
See blow. There are 4 testcases. (BehaviorSpec)
[code]
In `SingleInstance` mode, every test works.
But in the `InstancePerLeaf` and `InstancePerTest` mode, only some of them works.

When I modified the Korean written description to Enlgish written one, the testcase works well in any mode.

Co

[2021-02-10 11:53] PaulWoitaschek opened #2080 "Better document kotlin version bumps"
As kotlin native isn't binary compatible between versions it would be great if you highlighted _very explicitly_ in the release notes, that the kotlin version was changed.

4.4.1 was built using Kotlin 1.4.30 which makes it incompatible with older kotlin versions on multi platform projects.
[code]

[2021-02-10 17:48] pinwheel101 commented on #2071
@LeoColman Could you tell me why listener can be a better option compare to extension. Actually I cannot use kotest becuase of the absence of @ClassRule annotation so I don't know how can I use wiremock in kotest.

If someone give me an example how to use Wiremock with kotest, it would be really helpful to use kotest

[2021-02-10 17:49] pinwheel101 commented on #2071
@sksamuel I am looking foward to release the wiremock extension 👍

[2021-02-10 18:09] sksamuel commented on #2071
A TestListener in kotest is read only, a TestExtension can modify tests.
This particular "extension" only needs to listen to test lifecycle events, so @LeoColman is write, I should have said listener.

[2021-02-10 18:13] pinwheel101 commented on #2071
@sksamuel Thank you for the explanation. I understand now. Listener means TestLinstner in Kotest :)

[2021-02-11 00:33] sksamuel opened #2081 "Improve parallel reporting by not notifying of spec start until the first test has returned"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-02-11 00:34] sksamuel commented on #2080
I did not know that native is kotlin minor version binary incompatible.
We'll make sure that in future we do not bump kotlin versions without a specific reason and very clear labelling.

[2021-02-11 06:18] PaulWoitaschek commented on #2080
Merci :)

[2021-02-11 06:18] #2080 closed, assigned to nobody

[2021-02-11 09:44] xeruf opened #2083 "assertSoftly breaks eventually"
**Which version of Kotest are you using**
4.4.1

[code]
both tests should pass, but the second doesn't: Due to the soft assert mode, the exception isn't propagated to any catch block but instead rethrown at some later point.

I think soft assertions should use some sort of scope that is overriden by the eventually instead of the special handling by the Matchers they get currently.

[2021-02-11 12:39] piyushmor opened #2084 "Kotest dependencies include kotlin standard library as dependencies but should make them as provided"
**Which version of Kotest are you using** 4.4.1

currently when kotest dependency is added to a project the kotlin stdlib for the version on which it was built it also included as a dependency. I think the kotlin standard libraries should be something that we count as provided.

[2021-02-11 20:05] jschneidereit opened #2085 "@Isolation should prevent a spec from inheriting project config concurrentTests"
If an `@Isolate`d spec wants concurrency they should use the `override fun concurrency() = 1` to specify that.

[2021-02-11 22:43] sksamuel opened #2086 "Undeprecate eventually that uses durations for intervals"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-02-11 22:54] sksamuel opened #2087 "Add assertions for shouldCompleteWithin and shouldCompleteBetween with suspension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2021-02-12 00:55] #2086 closed, assigned to nobody

[2021-02-12 01:11] sksamuel commented on #2084
Are you using maven ?

[2021-02-12 01:17] sksamuel commented on #2083
You can move the assertSoftly inside the eventually and it will work.

And we can think of a long term solution.

[2021-02-12 01:26] sksamuel commented on #2079
It should work for everything.

Can you make a full example with Korean for all the parts.

[2021-02-12 03:03] #2077 closed, assigned to sksamuel

[2021-02-12 03:34] jschneidereit commented on #2085
I think this might be a no-op:

[code]

[2021-02-12 03:34] #2085 closed, assigned to nobody

[2021-02-12 11:12] piyushmor commented on #2084
yes, talking about the repo `zalando/opentracing-toolbox`

[2021-02-12 14:46] sksamuel commented on #2084
Maven is getting confused by gradle's "implementation" configuration I think.
I'll try removing the stdlib definitions from as many things as possible.

[2021-02-12 14:47] xeruf commented on #2083
I didn't even mean to use an `assertSoftly` there, it was a leftover that puzzled me for a while since I did not expect the respective test to fail.

[2021-02-12 14:49] xeruf opened #2089 "Eventually sometimes only checks a single time despite short scheduled intervals"
**Which version of Kotest are you using**
4.4.1

[code]
I regularly encountered this now. Per se it isn't a big problem if the intervals aren't followed exactly, if the tests keep my processors busy it doesn't really matter. However, the eventually should definitely do at least a second check at the end of its interval.

[2021-02-12 15:31] sksamuel commented on #2083
assertSoftly activates a flag that tells the matchers not to throw exceptions but to collect them. So eventually isn't seeing the exceptions to know to loop.

I think we could have eventually opt into this mechanism too so it knows to ignore that setting.