[2019-07-01 12:15] sockeqwe commented on #856
Yea, it seems that this solves the prbolem, thanks.
However, now I face another problem that the test is actually crashing somehow silently while setting up things but somehow makes the `BehaviorSpec` as not ran. I can actually attach a debugger to my BehabiorSpec and step throught it, but I havent fully figured out why and where it crashes. Any idea how to start?

[2019-07-01 13:30] sksamuel commented on #856
Does it work with other specs, like FunSpec or WordSpec ?

On Mon, 1 Jul 2019 at 07:15, Hannes Dorfmann <notifications@github.com>
wrote:

[2019-07-01 17:19] gchallen opened #867 "java.lang.StackOverflowError on First Test Case Using 3.3.3"
We have a ~100 test kotlintest suite. After upgrading Kotlintest from 3.3.2 -> 3.3.3 it seems that the _first_ test run in any configuration that uses coroutines—whether running a single test or the entire suite—fails with the following `java.lang.StackOverflow` error:

Our codebase is [here](https://github.com/cs125-illinois/jeed/) if want to try reproducing the problem.

[code]

[2019-07-01 18:17] leoxs22 opened #868 "Test time is being wrongly reported"
Hello!

I was looking at the test times, and I find that the time reported at the right, using Intellij, is not the real time the test took

![image](https://user-images.githubusercontent.com/9098977/60457688-ff6a1f00-9c12-11e9-96c9-3d0b34bce5e2.png)

In this case, I did a repeat(100000) of something that reads a file, and it took about 10 minutes, but the time reported is only 17ms.

You can easi

[2019-07-01 18:31] leoxs22 commented on #771
Hello!

I've tried the last release (3.3.3) with the changes and it seems to work great! It's throwing the exception and setting it as a failure.

Thanks a lot for your help! I wouldn't be able to solve it myself 😅

The only thing I'm not sure is that it stops running the tests when the exception is found. It should be this way or it should continue with other test classes?

(tagging the PRs that

[2019-07-01 20:33] sksamuel commented on #771
I don't think it should stop the tests. You're saying it is ?

On Mon, 1 Jul 2019 at 13:31, Leandro Narosky <notifications@github.com>
wrote:

[2019-07-01 20:35] sksamuel commented on #868
This is because the only way to make nested tests work with gradle is to
"start" them just before you "end" them.
So the times are all off.

If we do it the way JUnit5 framework says you should, gradle will complain.
So intellij suffers also.

On Mon, 1 Jul 2019 at 13:18, Leandro Narosky <notifications@github.com>
wrote:

[2019-07-01 20:35] sksamuel commented on #867
Thanks, I will take a look.

On Mon, 1 Jul 2019 at 12:19, Geoffrey Challen <notifications@github.com>
wrote:

[2019-07-02 17:11] sksamuel opened #869 "shouldHaveLength should show the length on failure"
Currently it will say

java.lang.AssertionError: qwerty should have length 32

[2019-07-02 23:28] faogustavo commented on #869
Can you describe a little bit more, please? With the description you provided, it seems that the issue is already OK.

[2019-07-02 23:35] sksamuel commented on #869
It doesn't show the length of the string that was incorrect.

On Tue, 2 Jul 2019, 18:28 Gustavo Fão Valvassori, <notifications@github.com>
wrote:

[2019-07-02 23:35] faogustavo commented on #615
@sksamuel @Kerooker `a.shouldBeInstanceOf<T>()` doesn't work in this case?

[2019-07-02 23:37] faogustavo commented on #869
Like this: `java.lang.AssertionError: hello should have length 32, but instead was 5`?

[2019-07-02 23:39] sksamuel commented on #869
Yep.

On Tue, 2 Jul 2019, 18:37 Gustavo Fão Valvassori, <notifications@github.com>
wrote:

[2019-07-03 00:25] faogustavo commented on #817
Was this task split? I've almost done all of them.

[2019-07-03 12:02] sksamuel opened #872 "Add documentation for JSON matchers"
We have nice json matchers in the json module so instead of doing:

`myAvroSchema shouldBe """{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}"""`

We can do

`myAvroSchema.shouldMatchJson("""{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}""")`

Which will allow the json to be formatted differently, as long as the contents are the same.

We should doc

[2019-07-03 12:04] sksamuel opened #873 "Json Matchers from resources"
We have json matchers already that mach against json strings, but we should also allow json matchers against resources.

So instead of

`myAvroSchema.shouldMatchJson("""{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}""")`

We can put this in a resource file and do

`myAvroSchema.shouldMatchJsonResource("/schema1.json")`

Documentation should be added also, as a follow on to

[2019-07-03 12:10] #873 closed, assigned to nobody

[2019-07-03 12:45] #869 closed, assigned to nobody

[2019-07-03 12:46] #836 closed, assigned to nobody

[2019-07-03 13:21] leoxs22 commented on #771
Yep, doing the same trick (adding "AAA" at the start of the failing class name), it runs only that class, ignoring anything else.

In the first exception, it stops analyzing.

[2019-07-03 13:33] leoxs22 commented on #868
And there isn't any way to override that value?

Maybe at least marking it with 0ms, to make it obvious that it's not a real measurement.

I'll see if I can find something to fix that. Let me know if you have any clue about where is Junit reporting this value.

[2019-07-03 13:39] #821 closed, assigned to nobody

[2019-07-03 13:40] sksamuel commented on #868
I think intellij calculates it itself.
The solution is to not use junit anymore, which is coming in the future.

On Wed, 3 Jul 2019 at 08:33, Leandro Narosky <notifications@github.com>
wrote:

[2019-07-03 13:54] leoxs22 commented on #868
Sorry, I didn't understand. It's correctly reported in the console doing an mvn test, it just shows the wrong value in Intellij, not so bad, then.

Thanks!

(Can be closed as won't fix, I think)

[2019-07-03 15:40] sksamuel opened #876 "Improve ktor matcher"
When you do this in ktor `response.shouldHaveStatus(200)` it would be useful if the error message contained the body as well, as that often contains a reason why it's not the expected code.

[2019-07-03 21:01] wevnasc commented on #828
I will work on that. 👍

[2019-07-03 23:26] sksamuel commented on #817
I guess add the pair one. The root one can probably be left. @faogustavo

[2019-07-03 23:26] sksamuel commented on #615
I think my idea was that a was a type rather than an instance.

[2019-07-04 13:22] sksamuel opened #877 "Improvements to ProjectConfig output"
I'm loving the new project config output @faogustavo

[code]

I think it would be good if we skip output on things that are empty - in this case Listeners and Filters.

[2019-07-04 14:42] #868 closed, assigned to nobody

[2019-07-04 14:47] LeoColman commented on #771
Can we close this issue as solved?

Perhaps we can create a new one to discuss this

[2019-07-05 01:21] faogustavo commented on #817
We can close this now, right?

[2019-07-05 02:01] #877 closed, assigned to nobody

[2019-07-05 03:33] LeoColman commented on #817
I think so, yes.

BTW, @faogustavo
feel free to join us at kotlinlang.slack.com
We are in channels #kotlintest and #kotlintest-devs

[2019-07-05 03:33] #817 closed, assigned to nobody

[2019-07-05 13:22] faogustavo commented on #614
Does the development of this issue worth? Because annotations are not "business rules" to be validated on the test.

[2019-07-05 13:24] sksamuel commented on #614
It's still useful, you may be testing a framework, like I am doing at the
moment.

On Fri, 5 Jul 2019 at 08:22, Gustavo Fão Valvassori <
notifications@github.com> wrote:

[2019-07-05 14:12] faogustavo commented on #614
Okay. I can do this issue this weekend.

[2019-07-05 15:47] sksamuel commented on #614
awesome

On Fri, 5 Jul 2019 at 09:12, Gustavo Fão Valvassori <
notifications@github.com> wrote:

[2019-07-05 18:50] #811 closed, assigned to nobody

[2019-07-06 19:01] faogustavo commented on #614
@sksamuel @Kerooker I already created these matchers:

| Reflection |     |
| ---------- | --- |
| `kclass.shouldHaveAnnotations()` | Asserts that the class has some annotation |
| `kclass.shouldHaveAnnotations(n)` | Asserts that the class has exactly N annotation |
| `kclass.shouldBeAnnotatedWith<T>()` | Asserts that the class is annotated with the given type |
| `kclass.shouldBeAnnotatedWith<T>

[2019-07-07 15:59] Nimamoh opened #879 "Timeout config fails"
Hello,

Using the release `3.3.2`. This example test runs 10 seconds then success

[code]

According to the doc, I'd expect the test to be cancelled after 1 second and fail

[2019-07-07 20:58] sksamuel commented on #879
It should yes. I'll investigate.

On Sun, 7 Jul 2019, 10:59 Nimamoh, <notifications@github.com> wrote:

[2019-07-07 21:45] sksamuel commented on #614
A.shouldHaveMemberProperty.

Also the  above that takes a lamba of KProperty to Unit

A.shouldHavePrimaryConstructor { constructor-> }

[2019-07-07 21:47] sksamuel commented on #614
KFunction.shouldHaveReturnType<T>

[2019-07-08 16:53] sksamuel opened #880 "Date comparisons fail for two equal dates but different time zones"
For example, Chicago is 6 hours behind UTC (outside of daylight savings).

Therefore, this should pass:

[code]

As this represents the same time.

We can either leave shouldBe and add another matcher `shouldBeSameTime`. Or fix shouldBe and add another matcher `shouldBeExactly` which checks for equal time zones.

Either way, the status quo isn't good enough.

[2019-07-09 01:55] faogustavo commented on #614
Okay, 'til now, I created the following matchers:

| Reflection |     |
| ---------- | --- |
| `kclass.shouldHaveAnnotations()` | Asserts that the class has some annotation |
| `kclass.shouldHaveAnnotations(n)` | Asserts that the class has exactly N annotation |
| `kclass.shouldBeAnnotatedWith<T>()` | Asserts that the class is annotated with the given type |
| `kclass.shouldBeAnnotatedWith<T> { bl

[2019-07-09 11:32] LimmaPaulus opened #882 "Run beforeTest only before last element in nested test structure"
Hi!
It seems that beforeTest is currently ran before each "level" of test, at least when using FreeSpec. Would it be possible to run it only before actual test invocation i.e. last element in nested scopes. Consider this example:
[code]

I do some relatively heavy database initializations before my integration tests, and current way to execute beforeTests is slowing testing down quite miserably.

[2019-07-09 12:09] sksamuel commented on #882
See Isolation Mode in the docs.

On Tue, 9 Jul 2019, 06:33 LimmaPaulus, <notifications@github.com> wrote:

[2019-07-09 14:17] LeoColman commented on #880
How does `compareTo` resolve between the two?

[2019-07-09 14:18] LeoColman commented on #880
If compareTo returns 0, then they should be equal. Else I think it shouldn't

[2019-07-09 17:58] sksamuel commented on #614
Looks good.

On Mon, 8 Jul 2019 at 20:55, Gustavo Fão Valvassori <
notifications@github.com> wrote:

[2019-07-09 17:59] sksamuel commented on #880
Ok agreed. Then we need another matcher to ignore timezone changes.

On Tue, 9 Jul 2019 at 09:18, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-07-10 05:36] LimmaPaulus commented on #882
Thanks for the suggestion, but I tried with each IsolationMode option and each of them is running beforeTest before each leaf but before each inner context.

But actually I reconsidered my needs, and found that using InstancePerLeaf as IsolationMode and beforeSpec instead of beforeTest is suitable for me. This does not fulfill the example I provided, but now the database is reset before each "test

[2019-07-10 10:02] lwasyl commented on #737
@code-schreiber Not exactly related to the issue, but

you should be able to run JUnit4 tests using JUnit5's vintage runner pretty easily:

[code]

See the example here https://github.com/junit-team/junit5-samples/tree/master/junit5-migration-gradle

[2019-07-10 10:10] lwasyl opened #883 ""Run Context Configuration" command in AS runs whole test class instead of single test"
I have this simple class with two tests:

[code]

Now in normal JUnit4 tests, when I have cursor placed inside a test method and press shortcut for `Run Context Configuration`, only that one test runs. If I the cursor is within the class but not the test, all tests in class run.

With KotlinTest, regardless of cursor position, all tests in the class are executed. Here's what searching for `Run con

[2019-07-10 12:35] lwasyl opened #884 "Standard output is not grouped in AS/IntelliJ run window"
Given a simple test class:
[code]

when running this from AndroidStudio, the standard output is not assigned to each test properly:

![image](https://user-images.githubusercontent.com/3951580/60969238-52348c80-a31f-11e9-95d0-45b525df3665.png)

![image](https://user-images.githubusercontent.com/3951580/60969243-5660aa00-a31f-11e9-94c0-beb0d0a91cc5.png)

The output is even more confusing with `per l

[2019-07-10 16:16] sksamuel opened #885 "Channel matchers"
Channels are a great new feature of coroutines.
We should add the following matchers:

`channel.shouldReceiveWithin(duration)` // that the channel receives an element within the duration
`channel.shouldReceiveNoElementsWithin(duration)` // that the channel receives no elements within the given duration
`channel.shouldHaveSize(int)` // that the channel receives exactly int elements then closes
`cha

[2019-07-10 21:39] #829 closed, assigned to nobody

[2019-07-11 09:18] sockeqwe commented on #856
Update it seems that the tests are actually executed (all kind of tests like BehaviorSpec, Funpec, WordSpec ...)  but the result somehow doesn't get propagated properly. I.e. if a WordSpec has an assertion that fails, the whole test task in gradle still passes ... Have to look deeper into it but I guess it's not related to this project (kotlin-test) ...

Thanks for your help

[2019-07-11 19:33] gchallen commented on #867
FWIW upgrading to `kotlin-reflect` 1.3.40 also triggers the same bug. Not sure if you are using that package or not...

[2019-07-12 18:32] LeoColman opened #886 "Add support to Spring Boot's TestExecutionListener"
Spring Boot defines an API for test execution listener. It seems to be similar to ours, but KT is not working with them at the current state.

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/test/context/TestExecutionListener.html

An example of this feature can be found at @Sql, at this guide:
https://docs.spring.io/spring/docs/current/spring-framework-referen

[2019-07-12 18:39] sksamuel commented on #886
I don't understand what they do. Are we supposed to add a KotlinTestExecutionListener, or is KT meant to invoke the current TestExecutionListeners?

[2019-07-12 19:01] LeoColman commented on #886
I think the latter.

It seems that one can register some listeners to Spring, and it will do something to execute them. As stated in that link,

We should be one of the frameworks that does.

I'm figuring out how they're executed now.

We would just need to add their behavior to our SpringListener

[2019-07-13 16:41] sksamuel commented on #614
We can include this in 3.4 which we will release in the next few days, if it's ready @faogustavo

[2019-07-13 16:43] sksamuel commented on #810
Are we going to do anything on this or leave it ?

[2019-07-13 16:45] sksamuel commented on #793
I would like to see this in 3.4 so I can pick this up if it's stalled.

[2019-07-13 16:50] sksamuel commented on #787
Inspired by #690 the plugin should output the slowest tests to execute.

[2019-07-13 16:51] sksamuel commented on #662
I've done this already. Need to add docs for it @Kerooker

[2019-07-13 16:51] #662 closed, assigned to nobody

[2019-07-13 17:29] LeoColman commented on #810
I think it was merged, no?

Em sáb, 13 de jul de 2019 13:43, Stephen Samuel <notifications@github.com>
escreveu:

[2019-07-13 19:24] sksamuel commented on #810
Ok. I know there was two.

On Sat, 13 Jul 2019, 12:30 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-14 05:28] sksamuel commented on #802
Added contracts for Try as well.

[2019-07-14 05:28] #802 closed, assigned to nobody

[2019-07-14 05:35] sksamuel commented on #859
Added ProjectListener

[2019-07-14 05:35] #859 closed, assigned to nobody

[2019-07-14 05:55] sksamuel commented on #786
Added for 3.4.
Annotate your class with @DoNotParallelize and those specs will never run in parallel.

[2019-07-14 05:55] #786 closed, assigned to sksamuel

[2019-07-14 06:22] sksamuel commented on #706
Added system property for min diff line.
`kotlintest.assertions.multi-line-diff-size`

[2019-07-14 06:22] #706 closed, assigned to nobody

[2019-07-14 09:58] ghost opened #5538 "plugin does not detect failing test"
there seems to be an issue when using strikt.io assertions with kotlintest:

[code]

this test fails if run within gradle. However when i run it from IntelliJ the testrunner does not seem to properly detect the failed teststatus:
* test runner exits with status 0
* test spinner keeps spinning (see screenshot)

plugin version: v3.3.0.11
intellij version: IntelliJ IDEA 2019.1.3 (Ultimate Edition)
Bu

[2019-07-15 02:38] #810 closed, assigned to nobody

[2019-07-15 11:14] alladywek opened #889 "Lack of LocalTime assertions"
I faced with problem that kotlintest doesn't have assertions for LocalTime class

[2019-07-15 12:23] LeoColman commented on #889
What kind of assertions do you suggest for LocalTime?

Em seg, 15 de jul de 2019 08:14, Abbas Abbasov <notifications@github.com>
escreveu:

[2019-07-15 13:10] alladywek commented on #889
[code]
and their versions with `Not`, they are the similar as from `io.kotlintest.matchers.date`

[2019-07-15 13:12] LeoColman commented on #889
Great matchers!

Do you want to do it? We are open to prs!

If you are not, no worries, we can take it from here

Em seg, 15 de jul de 2019 10:10, Abbas Abbasov <notifications@github.com>
escreveu:

[2019-07-15 13:13] alladywek commented on #889
I can do it

[2019-07-15 13:27] sksamuel commented on #889
We could add this to 3.4 if it's ready in the next couple of days !

[2019-07-15 13:30] alladywek commented on #889
I think I will do it today/tomorrow

[2019-07-15 18:44] gchallen commented on #867
Still broken at `kotlin-reflect` 1.3.41. Would be great to see this get addressed since its starting to pin multiple packages at out-of-date revisions. Happy to provide more debugging information if needed.

[2019-07-15 21:51] tibtof commented on #886
Do you need help with this? I also need this feature and I would happily contribute.

[2019-07-15 22:19] sksamuel commented on #867
Your project doesn't run for me in intellij.
It may be that you have some custom intellij step, as I noticed you checked in your .idea folder.

Running from gradle gives me this:
[code]

[2019-07-15 22:21] sksamuel opened #891 "Add matcher for Dates to ignore timezone"
Created from #880

[2019-07-15 22:24] sksamuel commented on #863
I guess the workaround for now is to create another tag, Tag3 which is used when you have Tag1 and Tag2.

Adding the expression syntax is a good idea, and I can think we can do something for 3.5

[2019-07-15 22:25] sksamuel commented on #828
Hi,. Are you still working on this ?

[2019-07-15 23:01] #820 closed, assigned to nobody

[2019-07-15 23:02] sksamuel commented on #889
When you do this @alladywek can you add them in a seperate file `localtime.kt` inside the date folder. Thanks.

[2019-07-15 23:15] #766 closed, assigned to nobody

[2019-07-15 23:18] sksamuel commented on #5538
Idea expects that standard output is in a specific format for it to work with external processors.
The format is `##teamcity[$command...]`
Looks like strikt uses the [ ] itself for values.
I can add a \ before [ and ] in the output but I'm not sure if that will actually do anything. It might be the case that strikt needs to pick another character.

[2019-07-15 23:19] sksamuel commented on #5538
If I do a snapshot build of KotlinTest can you check this? You would just need to update the version in your project.

[2019-07-16 00:02] alladywek commented on #889
yeah, I saw your message after PR =) I will change it.

[2019-07-16 03:20] #889 closed, assigned to nobody

[2019-07-16 03:27] sksamuel commented on #886
@tibtof I think this is just about done, but there's plenty of other issues if you'd like to contribute again :)

[2019-07-16 03:33] LeoColman commented on #886
Once we merge this, it would be awesome if  you could validate it in your usage. As I said, I couldnt validate many scenarios

[2019-07-16 03:44] #853 closed, assigned to nobody

[2019-07-16 03:44] sksamuel commented on #788
Looks like we should be ready to release in the coming days.
Saturday, if not before.

[2019-07-16 04:08] #793 closed, assigned to LeoColman

[2019-07-16 08:47] ghost commented on #5538
@sksamuel sure i would do that. do you mean a new version of kotlintest or the intellij plugin?

[2019-07-16 14:19] #886 closed, assigned to nobody

[2019-07-16 14:20] LeoColman commented on #886
If you can test with master snapshot it would be great, @tibtof

[2019-07-16 16:27] faogustavo commented on #614
I've been a little bit busy these last days. I'll open the PR to you start the review but there are a few methods missing.

[2019-07-16 16:35] sksamuel commented on #614
That would be great, we can merge what's ready.

On Tue, 16 Jul 2019 at 11:27, Gustavo Fão Valvassori <
notifications@github.com> wrote:

[2019-07-16 18:33] #614 closed, assigned to nobody

[2019-07-16 20:37] wevnasc commented on #828
yes, but lack a little work to finish.

[2019-07-16 21:29] sksamuel commented on #5538
KotlinTest.

On Tue, 16 Jul 2019 at 03:47, Alphonse Bendt <notifications@github.com>
wrote:

[2019-07-16 21:34] tibtof commented on #886
@Kerooker I'll do my best to test this in the following week. I'll let you know of my findings.

[2019-07-17 02:59] #891 closed, assigned to nobody

[2019-07-17 03:01] sksamuel commented on #615
Actually `shouldBeInstanceOf` is exactly the same :)
Closing.

[2019-07-17 03:02] sksamuel commented on #615
My bad I meant like `Cat.shouldBeAssignableTo<Animal>()`.
So reopening and implementing.

[2019-07-17 03:26] #880 closed, assigned to nobody

[2019-07-17 10:46] faogustavo commented on #615
@sksamuel can't we use the reflection methods?

[code]

or

[code]

[2019-07-17 10:59] sksamuel commented on #615
Absolutely of course! Closing my PR.

[2019-07-17 10:59] #615 closed, assigned to nobody

[2019-07-17 17:58] lwasyl opened #898 "io.kotlintest.Result conflicts with kotlin.Result"
Kotlin's `kotlin.Result` class is being resolved without an import. So for example copy-pasting sample custom matcher fails, because IDE doesn't prompt for import, and implictly uses Kotlin's Result.

Since the library is dedicated for Kotlin language, perhaps it'd make sense to rename `io.kotlintest.Result` to e.g. `TestResult` or `AssertionResult` to avoid the clash. It's not a big problem right

[2019-07-17 18:01] sksamuel commented on #898
This is a good point.

It's a breaking change for anyone who uses custom matchers though. Perhaps we do it and bump to version 4.0.

Or maybe we do it in 3.4 (releasing in the next few days) and deprecate Result buying us some time.

[2019-07-17 18:10] lwasyl commented on #898
+1 for introducing an alias and deprecating the current Result right away.

With that perhaps there are other changes to Result that were suggested at some point? One pain point (to me) is having to specify both `failure` and `negated failure` messages. ~Also the messages are evaluated eagerly, which is less flexible than providing them in functions for example.~ (edit: they're not 🤦‍♂️)

[2019-07-17 21:03] sksamuel commented on #898
Please, feed back as much as you can so I can make all the improvements at
once for the 3.4 release.

On Wed, 17 Jul 2019 at 13:10, Łukasz Wasylkowski <notifications@github.com>
wrote:

[2019-07-18 21:27] sksamuel opened #900 "Our collection matchers don't work on arrays"

[2019-07-18 21:41] LeoColman commented on #900
Should we just go ahead and create an overload for arrays as well?

[2019-07-18 21:54] sksamuel opened #901 "New collection matcher"
collection.shouldExist { t -> }

If the lambda returns true for at least one element then the test passes.

Is a more convenient version of

collection.any { t -> } shouldNotBe null

[2019-07-18 22:14] sksamuel commented on #900
Yes.

On Thu, 18 Jul 2019, 16:41 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-19 06:06] alladywek commented on #901
Good feature
What about this version of name:
`collection.shouldHaveElement { e -> ... }`
`collection.shouldNotHaveElement { e -> ... }` or something like this.

I mean that `collection should exist` sounds a little confused, what do you think ?

[2019-07-19 12:01] lwasyl opened #902 "Allow nested `describe` blocks in DescribeSpec"
In RSpec it's allowed to nest `describe` blocks. It's be nice to be able to nest `describe` blocks in DescribeSpec as well, but right now it's not possible. Is there any technical limitation to this or it's a deliberate decision?

I wanted to add a `describe` alias on `DescribeScope`, but the library `describe` is resolvable anyway and the tests fail in runtime

[2019-07-19 13:53] gchallen commented on #867
I was able to reproduce the problem on Java 8. Make sure you are using Java 10. (We have a `.java-version` file checked in but it doesn't work unless you use [`jenv`](https://www.jenv.be/).)

[2019-07-19 14:23] LeoColman commented on #900
Can't the user just go `arr.toList()` tho?

[2019-07-19 14:25] sksamuel commented on #900
Costly operation and you could say why bother with loads of our convenience
matchers if that's the case.

On Fri, 19 Jul 2019, 09:23 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-19 14:28] LeoColman commented on #900
I see.
I'll just create overloads that call toList then

[2019-07-19 14:30] sksamuel commented on #900
asList might be better

On Fri, 19 Jul 2019, 09:28 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-19 14:58] LeoColman commented on #900
You're right

[2019-07-19 15:15] leoxs22 opened #903 "Tagging tests as success when all child failed"
When a child fails, it doesn't tag it's parent as a failure

![image](https://user-images.githubusercontent.com/9098977/61543396-c0f9a000-aa19-11e9-9329-3ef2b5924430.png)

I think this may be related to the last release 3.3.3, I don't think it happened before

[2019-07-19 15:23] LeoColman commented on #901
We literally already have this matcher xD

[code]

and the implementation is exactly as you described
[code]

This at least shows that the matcher is a good idea hahah

We can discuss if we want the alternative name @alladywek suggested

[2019-07-19 15:37] LeoColman opened #5537 ""Run Context Configuration" command in AS runs whole test class instead of single test"
Moved from https://github.com/kotlintest/kotlintest/issues/883

I have this simple class with two tests:

[code]

Now in normal JUnit4 tests, when I have cursor placed inside a test method and press shortcut for `Run Context Configuration`, only that one test runs. If I the cursor is within the class but not the test, all tests in class run.

With KotlinTest, regardless of cursor position, all tes

[2019-07-19 15:39] LeoColman commented on #883
I moved this to the plugin repository, as I think this is more related to there.

To run single tests you must use KT's plugin, as Junit doesn't have this integration for platforms other than junit itself.

If you believe this is actually related to this repository, let me know and I can reopen

[2019-07-19 15:39] #883 closed, assigned to nobody

[2019-07-19 15:40] #882 closed, assigned to nobody

[2019-07-19 15:48] LeoColman commented on #903
This is actually intended as per junit specification. I'm not a big fan of this either, but we can revert it @sksamuel

[2019-07-19 15:50] LeoColman commented on #903
This was last discussed in #807 , which seems to have introduced this behavior

[2019-07-19 15:53] LeoColman commented on #902
This is a deliberate decision, however I don't see any reason to not allow this.

Currently you can use

describe -> context -> context -> ... -> it

No real issue to disallow
describe -> describe -> ...

I'll add this.

[2019-07-19 16:07] #902 closed, assigned to nobody

[2019-07-19 16:11] sksamuel commented on #901
We could add an alias or rename to shouldHaveOneElement { t -> }, shouldHaveAtLeastOneElement { t -> }, kind of like the inspectors.

[2019-07-19 16:36] #900 closed, assigned to nobody

[2019-07-19 16:54] sksamuel commented on #903
I'm not a fan of it either, but that's the JUnit spec.
What does junit itself do if you have nested tests ?

[2019-07-19 17:02] LeoColman commented on #903
JUnit doesn't have nested tests
It's the API that allows nested tests, and it says that we should do it this way, so I have no idea

[2019-07-19 17:08] LeoColman commented on #903
We used to work ok when disrespecting this specification.
Have we had any bugs in this? Or did we chose to follow the contract just because?

[2019-07-19 17:08] sksamuel commented on #903
Junit has inner tests

On Fri, 19 Jul 2019, 12:02 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-19 17:08] LeoColman commented on #903
Hmm.. I've never seen it then

[2019-07-19 17:09] LeoColman commented on #903
I'm only used to @Test

[2019-07-20 09:17] alladywek commented on #851
I have a few moments regarding details of implementation:
1. what number types do you want to support?
2. what do you think about using BigDecimal as expected value? It gives more precision result and easier calculations
3. It would be great to have second optional parameter (precision: Int) for these methods where user can specify amount of digits after decimal point:
`list.shouldHaveMean(BigDeci

[2019-07-20 15:35] sksamuel commented on #898
Ok so in 3.4 Result is now MatcherResult, and it explicitly allows functions to keep them lazy.

[2019-07-20 15:35] #898 closed, assigned to nobody

[2019-07-21 01:41] sksamuel commented on #879
Fixed in 3.4 and I'll back port to 3.3.4

[2019-07-21 01:42] #787 closed, assigned to sksamuel

[2019-07-21 01:42] #858 closed, assigned to nobody

[2019-07-21 01:42] #879 closed, assigned to nobody

[2019-07-21 01:45] sksamuel commented on #851
I think BigDecimal is good yes, but I think we should support doubles too. Obviously there can be precision errors, but we regularly test doubles everywhere else, so I think having both options is the best way. Perhaps with your precision parameter idea.

[2019-07-21 01:48] sksamuel commented on #867
I'm only using jdk 8 as dokka doesn't work with jdk 10.

On Fri, 19 Jul 2019 at 08:53, Geoffrey Challen <notifications@github.com>
wrote:

[2019-07-22 00:57] LeoColman opened #911 "Add support for Micronaut"
Inspired in [this stackoverflow question](https://stackoverflow.com/questions/56754723/how-to-use-micronauttest-with-kotlintest-to-inject-beans-while-testing-in-kotl),

I think we should support micronaut. It's getting bigger every day, and we have support for Spring. Shouldn't be too hard to use Micronaut in the same way.

[2019-07-22 00:57] LeoColman commented on #911
And it actually already support us lol
https://github.com/micronaut-projects/micronaut-test/tree/master/test-kotlintest

[2019-07-22 01:01] sksamuel commented on #911
That's cool !

Lets link in our docs.

A new page on di frameworks?

On Sun, 21 Jul 2019, 19:57 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-22 01:02] LeoColman commented on #911
Micronaut is not exactly a DI framework, it's a general purpose web app framework, just like spring

[2019-07-22 01:03] LeoColman commented on #911
But yes, we should link it somewhere

[2019-07-22 11:01] Jiehong opened #912 "New feature: add string generator from regexp"
Hello,

It would be very convenient if a generator was present that would provide strings from a regular expression, something like `Gen.string(regexp: String)` for example, or from `Gen.string(regexp: Regex)`.

Currently, we have to define our own generator based on something like https://www.baeldung.com/kotlin-random-alphanumeric-string.

[2019-07-22 14:49] LeoColman commented on #912
Good suggestion!

We should probably take in a regex instead of a string tho

[2019-07-22 14:51] sksamuel commented on #912
How would you implement this ?
Generate random strings until they match ?
Or parse the regex yourself to try and generate strings that match it? Seems like both approaches would be problematic.

[2019-07-22 15:04] LeoColman commented on #912
I think there are ways to do this
https://stackoverflow.com/questions/22115/using-regex-to-generate-strings-rather-than-match-them

[2019-07-22 15:21] sksamuel commented on #912
Ok, this looks good:
https://github.com/mifmif/Generex

On Mon, 22 Jul 2019 at 10:04, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-07-22 19:53] sksamuel opened #913 "shouldBe doesn't support ByteArray"
It might not support other primitive array types either.

[2019-07-22 21:47] sksamuel opened #914 "Ktor: shouldHaveStatus should support HttpStatusCode"
Currently, `shouldHaveStatus` only accepts an int, like `shouldHaveStatus(200)` but we should support `shouldHaveStatus(HttpStatusCodes.OK)` as well.

[2019-07-23 12:46] LeoColman commented on #913
Ok, so here's the thing:

`shouldBe` works correctly, but `shouldNotBe` doesn't.
They're not exact opposites

[2019-07-23 12:46] LeoColman commented on #913
I'm working on a fix

[2019-07-23 13:07] sksamuel commented on #913
It was shouldBe that I was using.

On Tue, 23 Jul 2019, 07:46 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-23 13:12] LeoColman commented on #913
Hmm.. I just tested shouldBe, it is comparing ByteArray correctly

[2019-07-23 13:13] sksamuel commented on #913
Ok we can close this until I can find another failing case.

On Tue, 23 Jul 2019, 08:12 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-07-23 13:14] micHar commented on #856
I had the same problem and followed the advice to change to `kotlintest-runner-junit4`, but I also end up with unresolved tests `Tests passed: 0 of 1 test`.
Why should we change to junit4 anyway?

[2019-07-23 13:15] LeoColman commented on #913
There aresomething to fix in these guys tho

[2019-07-23 13:15] LeoColman commented on #913
Their string representation doesn't have all cases, and shouldNotBe doesn't work for these primitives arrays either

[2019-07-23 13:24] sksamuel commented on #913
Ok cool.

On Tue, 23 Jul 2019 at 08:15, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-07-23 13:45] #914 closed, assigned to nobody

[2019-07-23 15:26] #913 closed, assigned to nobody

[2019-07-23 15:26] sockeqwe commented on #856
Jfyi I wasnt able to solve this issue yet.

Michał Klimczak <notifications@github.com> schrieb am Di., 23. Juli 2019,
15:14:

[2019-07-23 16:18] micHar commented on #856
Does anyone have a working configuration for android?

[2019-07-23 20:53] oleksiyp opened #5536 "`toggle auto-test` in IntelliJ plugin"
Hi,

using `kotlintest` and `IntelliJ Plugin` for it.

Have the following question: how to make `toggle auto-test` button work?
(highlighted by red zone on screenshot)

![image](https://user-images.githubusercontent.com/5249932/61746624-6b681f00-ad9c-11e9-82fa-cc0274aae8c9.png)

Thanks!

[2019-07-23 20:58] LeoColman commented on #5536
Interesting.
I don't think Ive ever seen this button. It's probably not implemented

[2019-07-23 21:03] oleksiyp commented on #5536
This is:

![image](https://user-images.githubusercontent.com/5249932/61747371-057c9700-ad9e-11e9-9037-ca9965fd604e.png)

[2019-07-23 21:05] sksamuel commented on #5536
Ok we need to get an ultimate license and implement this feature.

[2019-07-23 21:08] oleksiyp commented on #5536
oh :smiley: you didn't do that yet?
it's super easy

https://www.jetbrains.com/community/opensource/

[2019-07-23 21:09] oleksiyp commented on #5536
although I would be pretty careful to test plugin in both `community` and `ulitmate`

[2019-07-23 21:10] LeoColman commented on #5536
Is this feature ultimate only?

Em ter, 23 de jul de 2019 18:08, Oleksiy Pylypenko <notifications@github.com>
escreveu:

[2019-07-23 21:10] oleksiyp commented on #5536
I don't use `community`, but guess that yes

[2019-07-24 12:32] LeoColman opened #919 "Constant Random Listener"
Sometimes we have code that depends on a random number generator. These tests can be non-determininstic, as they might instantiate a new random object or get numbers from the Kotlin's Random Object.

What if we were able to test these randomized data with a listener for that?

[2019-07-24 14:52] sksamuel commented on #919
Need a way of creating a random source with a particular seed, then the
numbers will be consistent, rather than changing the nextInt, methods, etc.

On Wed, 24 Jul 2019 at 07:32, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-07-24 19:04] #876 closed, assigned to nobody

[2019-07-25 01:11] gchallen commented on #867
Overall things seem to work fine with JDK 10, other than this bug. But does this mean that it won't be addressed?

We need JDK 10 because we want to use the later javax compiler tool that include 10 features. So far `kotlintest` seems to be the only place where this causes a problem.

[2019-07-25 01:38] LeoColman commented on #867
Your sample project didn't compile after I imported it in IntelliJ.

I'm doing something wrong maybe?

[2019-07-25 01:42] LeoColman commented on #919
Yes

[2019-07-25 01:46] LeoColman commented on #610
I hope Kotlin can fix this issue.
This is stale and not exactly something we can help with.

I'll close

[2019-07-25 01:46] #610 closed, assigned to nobody

[2019-07-25 01:49] #776 closed, assigned to LeoColman

[2019-07-25 01:50] #771 closed, assigned to nobody

[2019-07-25 02:20] sksamuel commented on #867
This is probably related to #610

[2019-07-25 07:12] Jiehong opened #921 "Add infix modifier to arrow matchers"
Hello,

It would be nice to be able to use arrow matchers just like the rest of matchers in kotlintests. For example:

[code]

instead of:

[code]

But this isn't possible due to the missing `infix` modifier on Arrow matchers.

[2019-07-25 13:23] jesuswasrasta commented on #872
Hello! I'm a KotlinTest newcomer, and I'd like to contribute as an excuse to learn it better 😊
Where's the correct place where to document this, the [matchers.md](https://github.com/kotlintest/kotlintest/blob/master/doc/matchers.md) maybe?

[2019-07-25 13:32] sksamuel commented on #872
Yeah you could add to that page or add another new page and link to it.

On Thu, 25 Jul 2019, 08:23 Ferdinando Santacroce, <notifications@github.com>
wrote:

[2019-07-25 14:42] LeoColman commented on #921
Agreed!
Do you want to do it?

[2019-07-25 15:35] mindhaq opened #925 "Missing spring dependencies: build still succeeds"
When I have a spring test, where one of the dependencies of the service under test cannot be resolved, the test is not failing. A stacktrace is being printed, but the build, in the end, still says "build successful".

This can be worked around when using a previous version of `maven-surefire-plugin`, before 2.22.0.

I created a small example project where this can be seen.

https://github.com/mind

[2019-07-25 15:36] mindhaq commented on #925
To clarify, I tested if this happens with a JUnit test as well, but this only happens with a kotlintest test.

[2019-07-26 01:53] sksamuel commented on #903
We can just ignore the junit spec. I don't suppose it matters.

[2019-07-26 02:02] LeoColman opened #926 "Add support to Robolectric"

[2019-07-26 03:11] #850 closed, assigned to nobody

[2019-07-26 03:14] sksamuel commented on #5536
Moved issue to the plugin repo.

[2019-07-26 14:17] cepages opened #927 "Duplicate class org.junit.platform.commons.annotation.Testable found in modules junit-platform-commons-1.4.0.jar (org.junit.platform:junit-platform-commons:1.4.0) and kotlintest-core-3.3.0.jar (io.kotlintest:kotlintest-core:3.3.0)"
Hi I'm new in Android and I'm trying to run some test.

But when I try to use kotlintest I get the following error:

[code]

This is my dependencies in gradle:

[code]

Thanks

[2019-07-26 19:35] alladywek commented on #851
yep, I agree that both variants it is good idea, so lets summarize which methods we expect (for methods without explicit precision we can set up `precision=5` by default):
[code]

support for Long, Float, BigDecimal types could be added in future by requirements.
what do you think?

[2019-07-30 02:41] temp-impl opened #928 "empty matcher against Map"
Hi, is there `Map<K, V>.shouldBeEmpty()`?

If not, please add.

[2019-07-30 13:14] Jiehong opened #929 "forAll displays all errors at once, even when they are too many"
Hello,

Today, using `forAll` can be a bit annoying, as it displays all failing cases at once.

Example

[code]

You'll get the following output:

[code]

When this happens, the output should only provide a few failing examples, and not all the 1000 examples (would be worse if more were requested).

It's sort of like "shrinking" the possible values for which it doesn't work, and it would make it a

[2019-07-31 03:59] LeoColman commented on #927
This seems to be a problem in which 2 libraries are loading the same dependency.
Espresso is probably also bringing junit in, and their versions must be mismatching.

If you comment out espresso, does it work again? If it does, you'll have to exclude JUnit from one of the dependencies through an `exclude` block

[2019-07-31 04:00] LeoColman commented on #925
I'm not very good with maven. Any ideas, @sksamuel ?

[2019-07-31 10:31] henrik242 commented on #720
@sksamuel @Kerooker  How can I set the path for `.kotlintest`.  I'd like it to be in the `build` folder.

[2019-07-31 12:34] sksamuel commented on #720
You can't, yet. You can tun it off though.

On Wed, 31 Jul 2019 at 05:31, henrik242 <notifications@github.com> wrote:

[2019-08-01 09:28] xeruf commented on #720
I have tried  3.3.3 and 3.4.0, concretely `testImplementation("io.kotlintest", "kotlintest-runner-junit5", "3.4.0")`. Running `./gradlew test` still generates `.kotlintest` folders.

PS: @sksamuel just a little github tip: Instead of referencing the issue in the title, you can write "fixes #720" into the commit message and the issue will automatically be closed once the commit is merged ;)

[2019-08-04 18:44] sksamuel opened #932 "New matcher: BigDecimal.shouldBeInRange(BigDecimal..BigDecimal)"

[2019-08-04 18:45] sksamuel commented on #932
BigDecimal.shouldBeLessThan
BigDecimal.shouldBeLessThanOrEquals
BigDecimal.shouldBeGreaterThan
BigDecimal.shouldBeGreaterThanOrEquals
BigDecimal.shouldBeInRange(BigDecimal..BigDecimal)

[2019-08-04 18:46] sksamuel opened #933 "New matchers alias"
Collection.shouldContainExactlyInAnyOrder -> Collection.shouldContainUnordered

[2019-08-04 21:58] LeoColman commented on #933
I think `Unordered` is dangerous, it implies that if the collection is ordered, it's wrong

[2019-08-05 03:18] #932 closed, assigned to nobody

[2019-08-05 03:33] sksamuel commented on #933
Ok maybe, the present name is very long though.

[2019-08-05 11:22] cepages commented on #927
Removing Espresso didn't work. But I think I found where the dependency is. This is part of what I get when I run the dependency tree in gradle:

[code]

I think `android.arch.core:core-testing:1.1.1` is importing `jUnit` too.

I tried to exclude it with:

[code]

But it seems doesn't work. I'm doing something wrong with `gradle` or I'm following the wrong clue

[2019-08-05 12:50] lwasyl commented on #788
Now that 3.4 is released, is the list in this issue complete set of changes introduced? I see some issues that I reported so I'd guess yes, but I'm not sure. Asking since the latest changelog entry is 3.3.0

[2019-08-05 18:31] sksamuel opened #935 "Fail parent tests when child tests fail"
I think the junit spec should be ignored and we should revert back to failing parent tests when child tests fail. The current situation is awful.

[2019-08-05 18:32] sksamuel commented on #928
Probably quicker to add the feature than open an issue :)

[2019-08-05 23:51] faogustavo commented on #928
We don't have matchers for Map. Maybe we should think to add others too.

[2019-08-05 23:52] faogustavo commented on #921
@sksamuel I think we can close this one now.

[2019-08-06 03:10] #921 closed, assigned to nobody

[2019-08-06 03:12] LeoColman commented on #928
We do have matchers for maps tho https://github.com/kotlintest/kotlintest/blob/master/doc/matchers.md

But we're always open to new matchers!

[2019-08-06 03:13] LeoColman commented on #788
You're completely right. We didn't update the change log.

We are working on it and should release both a changelog and a blog post

[2019-08-06 03:15] LeoColman commented on #927
Sometimes gradle just doesn't collaborate with Android.
Sometmes clearing the whoe gradle cache helps in these kinds of issues, specially with android

[2019-08-06 03:15] LeoColman commented on #927
Could you try that and report back?

[2019-08-06 03:16] LeoColman commented on #720
More on that: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-08-06 03:41] LeoColman commented on #849
I ran some tests on this, and it seems that resolving the build directory works every time. For now I didn't impleement configurability. Do you think this is very necessary?

[2019-08-06 10:12] sksamuel commented on #849
By default it will write into the project root, not the build dir.

On Mon, 5 Aug 2019 at 22:41, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-08-07 02:16] LeoColman opened #937 "Matchers for elements in a collection"
We have matchers for collections that checks if an element is in them, such as

[code]

What about a matcher that does the same thing, but on the point of view of the element?

[code]

We already have exact instance check:
[code]

[2019-08-07 02:53] LeoColman opened #938 "Inspectors are bugged when the message is very big"
When using inspectors in a big collection that have a lot of failing cases, the tests will stay green and won't fail.

[code]

The above test results in 100_000 failing lines, and it will pass.

If we change the condition to a much smaller case, such as
[code]

The test will fail as intended, and the message will be displayed.

I checked that the inspector get to the point of throwing the exceptio

[2019-08-07 09:21] cepages commented on #927
Yeah, how can I clear the gradle cache? If it's doing `gradlew clean` I tried that and it didn't work

[2019-08-07 10:41] imanushin opened #939 "Add forEachAsClue extension"
**TLDR** - add ability to write something like this:
[code]

**Details:**

Sometimes it is better to check the result with the each argument from the list. Example:

[code]

However in this case error contains ```forbiddenUser.name``` only. To add whole user I have to do something like this:

[code]

However last example has two user variables, which is not needed here.

So **proposal**: add exten

[2019-08-07 12:20] LeoColman commented on #927
I usually first try `invalidate and restar`, if that doesn't work I delete project's .gradle. If that doesn't work,I delete the global gradle's cache.

One of these usually does that trick for android and me

[2019-08-07 17:19] blackmichael opened #5535 "Unable to run individual tests"
Currently my team is unable to run individual tests within our spec, regardless of which spec we use. Attempting to use the plugin to run the individual test only shows the options for running the entire spec class:
![Screen Shot 2019-08-07 at 12 13 15 PM](https://user-images.githubusercontent.com/18149766/62643226-1b956600-b90d-11e9-9805-307f317f0301.png)

I'm using plugin `kotlintest` `v3.3.0.11

[2019-08-07 18:27] LeoColman commented on #5535
Delete your junit config

On Wed., Aug. 7, 2019, 14:19 Michael Black, <notifications@github.com>
wrote:

[2019-08-07 18:31] blackmichael commented on #5535
@Kerooker I'm not sure I follow. We don't have anything specific to JUnit in our project besides in our `build.gradle` file where we have
[code]

[2019-08-07 18:38] LeoColman commented on #5535
Sorry.

You ran with junit once, right? That creates a run config. If you remove
it, things will show up again as individual tests

On Wed., Aug. 7, 2019, 15:31 Michael Black, <notifications@github.com>
wrote:

[2019-08-07 18:47] blackmichael commented on #5535
@Kerooker Ah I see what you're saying now! That seems to have worked. Do you think there's any way the plugin could avoid this?

[2019-08-07 18:47] #5535 closed, assigned to nobody

[2019-08-07 18:49] LeoColman commented on #5535
Only if we deny all JUNIT execution. We haven't decided on that yet

On Wed., Aug. 7, 2019, 15:47 Michael Black, <notifications@github.com>
wrote:

[2019-08-09 11:17] sksamuel opened #941 "Deprecate non extension versions of inspectors"

[2019-08-09 11:20] sksamuel opened #942 "Add generator which is a multiple of k"

[2019-08-09 11:22] sksamuel opened #943 "New matcher: should be truthy"

[2019-08-09 12:29] LeoColman commented on #943
Do we have truthy types in Kotlin?
We can't evaluate arbitrary expressions as boolean

[2019-08-09 12:30] LeoColman commented on #942
How would that work?

`Gen.multiples(k)`?

[2019-08-09 12:31] LeoColman commented on #941
What if people want to merge matchers? Should that be disallowed?

[2019-08-09 12:33] sksamuel commented on #941
Oops I meant to say inspectors not matchers !!!!!

[2019-08-09 12:34] sksamuel commented on #941
I don't think there's any point in polluting the namespace with `forSome(col) { }` when you can do `col.forSome { }`

[2019-08-09 12:34] sksamuel commented on #942
Yeah, so Gen.multiples(12) would give you 12, 96, 48, 144,....

[2019-08-09 12:35] sksamuel commented on #942
Also Gen.factor(99) would be good, giving you 99, 3, 33, 9, ...

[2019-08-09 12:37] sksamuel commented on #943
At work we have "yes" "no" "1" "0" as boolean values in a database.
I thought it might be handy to support `"yes".shouldBeTruthy()`

[2019-08-09 12:42] LeoColman commented on #941
Ah, inspectors. Make sense

On Fri., Aug. 9, 2019, 09:34 Stephen Samuel, <notifications@github.com>
wrote:

[2019-08-09 15:14] cepages commented on #927
Sorry when you mean `invalidate` what do you mean:

`./gradlew invalidate` ?

I assume when you mean restart. you mean restart Android Studio. isn't it?

What you mean with delete project's gradle, you mean removing the `build` directory?

Sorry, I don't have a wide experience with gradle.

[2019-08-09 20:57] LeoColman commented on #943
I see.

I'm just not sure where we should stop on this.

"true" and "false" seems correct as well.

[2019-08-09 20:59] LeoColman commented on #927
I meant invalidate and restar, and action from android studio.

The project's gradle: there is a folder with all dependencies called `.gradle` in your project (perhaps the default view doesn't show it).

There's also the `.m2` folder in your (usually, for linux) `/home`, which also keeps dependencies.

You can also try reimporting the project, if it's in a `Github` or `Bitbucket` of some sort

[2019-08-09 20:59] LeoColman commented on #927
The thing is that gradle sometimes screws us up A LOT. I myself have troubles with it everytime I change something in my `build.gradle`.

[2019-08-09 21:01] LeoColman commented on #927
You said that Android is bringing JUnit with it. Perhaps your exclude statement is wrong?

If you want, take a look at [this project](https://github.com/Kerooker/rpg-npc-generator) I'm developing Android + KotlinTest with it, and everything is working flawlessly so far

[2019-08-10 02:15] LeoColman commented on #927
I'm now getting to the bottom of this issue.

It seems that we're actually defining that class inside KotlinTest, and that is causing these compatibility issues with Espresso, because it brings JUnit platform dependencies to the classpath.

I'll mark this as a bug and investigate further

[2019-08-11 19:23] sksamuel commented on #788
Changelog is up.

[2019-08-11 19:23] #788 closed, assigned to sksamuel, LeoColman

[2019-08-11 19:56] #927 closed, assigned to nobody

[2019-08-11 19:56] LeoColman commented on #927
Please try with the snapshot build that was just generated

[2019-08-11 20:51] sksamuel opened #945 "shouldContainAll should show missing elements"
The current error message is just "should contain all of 1, 2, 3" but it should show which ones were present and which were missing.

[2019-08-11 20:54] sksamuel opened #946 "New matcher: shouldContainAny and shouldNotContainAny"
A handy matcher to say that a collection should contain any of the provided elements - at least one is sufficient to pass.

[2019-08-15 20:21] gustavo-valvassori-codeminer42 commented on #943
Are there any more conditions than theses below? (Always ignoring case)

| Condition | Acceptable values |
| --- | --- |
| shouldBeTruthy | `Yes`, `y`, `1`, `true` |
| shouldBeFalsy | `No`, `n`, `0`, `false` |

[2019-08-15 20:22] sksamuel commented on #943
I think that's acceptable.

On Thu, 15 Aug 2019 at 15:21, Gustavo Fão <notifications@github.com> wrote:

[2019-08-15 20:24] LeoColman commented on #943
Make sure that it's case insensitive, so `YES` == `yes` == `Yes`

[2019-08-15 20:26] LeoColman commented on #943
But I'm afraid of somethings...

In JS, a date is truthy, for example. "37" is truthy

While `NaN` is falsy, `""` is falsy

How should we deal with these?

[2019-08-15 20:32] sksamuel commented on #943
We don't have to do what JS does.

On Thu, 15 Aug 2019 at 15:26, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-08-18 00:14] #941 closed, assigned to nobody

[2019-08-18 05:04] sksamuel opened #947 "Gen.file(dir)"
A generator that provides random files from a directory

fun Gen.Companion.file(dir) : Gen<File> ...
fun Gen.Companion.file(dir, recursive: Boolean) : Gen<File> ...

[2019-08-18 21:36] napperley opened #948 "New Name For Project"
The project name **Kotlin Test** for many Kotliners is mistaken for **kotlin.test**, which is a Kotlin testing library developed by JetBrains. As a result when a person does a Google search for **kotlin test** the **kotlin.test** link appears first, with the link to **Kotlin Test** appearing in second position, which is causing issues (eg fewer people know about the project which hinders the proje

[2019-08-18 21:39] napperley commented on #948
One suggestion for a new project name is **Konfirm**. In a sentence (aka marketing slogan), "When a Kotliner wants to check if the software they develop works they **Konfirm** it".

[2019-08-18 22:04] LeoColman commented on #948
There are many issues with this possibility.

One that I can think of right now is package naming. Changing the framework name may lead to many clients code breaking when they try to update, as `io.kotlintest` won't exist anymore.

Another one that I can think right now is that although the name may be similar, [Kotlin Census 2018](https://www.jetbrains.com/research/kotlin-census-2018/#libraries)

[2019-08-18 22:05] sksamuel commented on #948
I think the package name issue isn't as problematic as it could be, as we're now working towards a 4.0 release and given that we're going to be changing things for MPP support, it could all be part of that upgrade cycle.

[2019-08-19 10:53] lwasyl commented on #927
Fyi until 3.5 is available the snapshot with fix for this is `3.5.0.2421-SNAPSHOT`

[2019-08-19 20:40] LeoColman opened #949 "Move `kotlintest-assertions` tests to its module"
As the assertion module grows, having tests for it all over the place is making it difficult for new contributors to find where to place those tests.

As we don't depend on KotlinTest itself to run them (as we do with Core and Runners), we can easily move these tests closer to the source code they test

[2019-08-19 20:51] sksamuel commented on #949
We do use kotlintest to test them right? I guess as all the compiling is done first, the runner would be available to use in the test stage.

[2019-08-19 20:54] LeoColman commented on #949
That's what I  meant, yes

I remember we had this discussion earlier, and you said that the only test that actually required being in a different module was the runners/core

The Assertions can be in the same module and they'll run fine.

When we finish migration to MPP, I can move the tests over there

[2019-08-19 22:42] sksamuel commented on #949
Assertions are done for now so you could migrate over.

On Mon, 19 Aug 2019, 15:54 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-08-20 12:45] tunaranch opened #950 "Kotlintest does not with spring data jpa"
`@DataJpaTest` does not appear to work with kotlintest.
The tests fail with the error:

    javax.persistence.TransactionRequiredException: No EntityManager with actual transaction available for current thread - cannot reliably process 'persist' call

Note that the standard JUnit 5 test in the same project works.

See [sample project][sample project] for runnable project

[sample project]: https:/

[2019-08-20 13:05] LeoColman commented on #950
Could you please try with the latest version (3.4.0) and see if it works?

On Tue., Aug. 20, 2019, 09:46 tunaranch, <notifications@github.com> wrote:

[2019-08-21 00:29] tunaranch commented on #950
I get the same error with 3.4.0:

[code]

[2019-08-21 00:37] LeoColman commented on #950
I'll investigate this

[2019-08-21 15:23] sksamuel opened #951 "KotlinTest 3.4.1 release"
Let's plan this release.

- [x] - Fail parent tests when child tests fail #935
- [x] - Fix Spring Boot JPA when using @DataJpaTest #950
- [x] - Remove  JUnit shadowed classes
- [x] - Update to Kotlin 1.3.50 #954

[2019-08-21 15:25] LeoColman commented on #951
I didn't confirm this yet, but adding https://github.com/kotlintest/kotlintest/issues/950 is great too

[2019-08-21 15:27] LeoColman commented on #951
Removing the JUnit shenanigans from our classpath seems very legit as well

[2019-08-22 09:32] lwasyl opened #952 "Scoped `beforeEachTest` closure"
Some BDD-style frameworks allow for defining a closure that will be called just before each test. In KotlinTest there is `fun beforeTest(testCase: TestCase)` that we can override, but it's global for all test cases in spec, and not scoped. This means we can't access data defined in the context for example.

Such scoped beforeEachTest concept is available e.g. in [Ginkgo as `JustBeforeEach`](http:/

[2019-08-22 09:49] lwasyl commented on #952
One thing I forgot to mention: `beforeEachTest` isn't required to create some state, instead it can change the overall state of the system. The particular issue that I was experiencing was more pronounced in tests that used RxJava:

[code]

[2019-08-22 11:08] fipp commented on #950
Following, I just posted a question about it at stackoverflow, before finding this issue:

https://stackoverflow.com/questions/57607764/autowire-spring-testentitymanager-in-kotlintest-not-working

[2019-08-23 00:29] LeoColman commented on #950
Ok, this was a very tough one, but I think I managed to do it.

First of all, thanks A LOT for @tunaranch for providing a simple project to test this on. I would have had a hard time to do it myself, as I don't use this kind of tests a lot.

I'll add to this thread what I had to do to solve, because I'm very sure we'll get confused about it in the future.

----

<details>
<summary>Solution and exp

[2019-08-23 08:17] fipp commented on #950
Would it be possible pasting a code snippet of it here, @Kerooker? Great work btw :)

[2019-08-23 18:13] LeoColman commented on #950
I finished it last night and forgot to commit. Take a look at the PR, @fipp

[2019-08-24 02:00] LeoColman opened #954 "Update to Kotlin 1.3.50"

[2019-08-24 03:17] #954 closed, assigned to nobody

[2019-08-24 03:18] sksamuel commented on #951
Remind me on the junit - you removed the dummy annotations and added in the real ones ?

[2019-08-24 16:13] sksamuel commented on #948
By the way, we can add typealiases for all the old classes to the new ones if we change the package names.

[2019-08-24 17:17] sksamuel commented on #943
@gustavo-valvassori-codeminer42 the cases you listed are good.

[2019-08-24 17:33] #901 closed, assigned to nobody

[2019-08-24 17:46] sksamuel commented on #919
So is there anything for us to do here, as anyone using Random can just do Random(123) to create a random with the seed.

[2019-08-24 17:53] sksamuel commented on #948
Some other suggestions along with Konfirm.

Scrutiny
KUnit
PowerTest
Inspect (or Inspeckt)
Kola
Kappa
Kayak
Kabab
Kanvas
Kaiser

[2019-08-24 18:38] sksamuel commented on #952
Can you do something like:

[code]

[2019-08-24 18:59] lwasyl commented on #952
I could, but the point is to not repeat `sourceSubject.onNext(checkNotNull(emittedValue))` as it can get quite error-prone and unwieldy. Also the aim is to make tests read a bit more in declarative way.
That said I understand such particular feature would not be in scope of the library. In that case I'd still consider how to enable such extensions, such as being able to store scoped metadata durin

[2019-08-25 00:19] #942 closed, assigned to sksamuel

[2019-08-25 00:19] #949 closed, assigned to sksamuel

[2019-08-25 00:48] sksamuel commented on #948
What about "Jenner".
![46695166](https://user-images.githubusercontent.com/743706/63644168-28091500-c6a8-11e9-87e8-c612c5ade4a6.jpeg)
A doctor from the 18th century.

[2019-08-25 03:16] sksamuel commented on #948
Another option: Buggy.

[2019-08-25 04:29] sksamuel commented on #851
@alladywek are you still planning to work on this ?

[2019-08-25 05:44] #779 closed, assigned to nobody

[2019-08-25 22:18] sksamuel opened #961 "JDBC ResultSet matchers"
`ResultSet.shouldHaveColumnCount(n)`
`ResultSet.shouldContainColumn(label)`
`ResultSet.shouldHaveColumn(k, label)`

Any others we can think of.

[2019-08-26 01:50] sksamuel opened #962 "Eventually fails for AssertionErrors"
Seems like a regression of
https://github.com/kotlintest/kotlintest/issues/753
https://github.com/kotlintest/kotlintest/issues/145

[2019-08-26 01:50] sksamuel commented on #962
Lets add a better test suite this time :)

[2019-08-26 16:20] LeoColman commented on #948
Kover / TestKover / Koverer / Koverage / ~something related to Cover but K instead of C~

[2019-08-26 16:24] LeoColman commented on #950
To those waiting for this, try to use the SnapShot builds while this doesn't go to a stable release.

[2019-08-26 16:31] sksamuel commented on #948
I quite like KUnit, Buggy, Kaiser or Konfirm.

[2019-08-26 16:31] LeoColman commented on #919
And then pass that random into the class constructor, as to be injected (as it should be, I suppose)? Perhaps that works

[2019-08-26 16:33] LeoColman commented on #948
I like Konfirm and KUnit.
Kaiser is not related to testing/kotlin
Buggy doesn't seem to be something for Kotlin, but I like it too

[2019-08-26 16:44] sksamuel commented on #948
Buggy is just a play on the fact that testing libraries help find bugs.

On Mon, 26 Aug 2019 at 11:33, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-08-26 16:47] sksamuel commented on #948
Jasmine isn't related to testing, neither is Karma or Mocha.

[2019-08-26 16:58] sksamuel commented on #948
Shall we keep it simple - kunit ?
@napperley @Kerooker

[2019-08-26 16:59] LeoColman commented on #948
Well, KUnit is a thing already, although completely unrelated
https://google.github.io/kunit-docs/third_party/kernel/docs/

[2019-08-26 17:00] LeoColman commented on #948
Searching for "Testing X with KUnit" could provide two very different results, so I vote against it

[2019-08-26 17:19] #928 closed, assigned to nobody

[2019-08-26 18:06] #852 closed, assigned to sksamuel

[2019-08-26 18:07] sksamuel commented on #948
Yes ok agreed.

KCheck ?

On Mon, 26 Aug 2019 at 12:00, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-08-26 19:29] LeoColman commented on #948
KCheck is fine

The only think I found when searching for it was [this empty GH repository](https://github.com/fmoctezuma/kcheck) and some other small non-related stuff.

People will pronounce it KaCheck in portuguese tho

[2019-08-26 20:05] sksamuel commented on #948
It's a bit uninspiring.

On Mon, 26 Aug 2019 at 14:29, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-08-27 12:03] sksamuel commented on #962
Actually seems to be only be an issue in 4.0 snapshot with mpp

[2019-08-27 12:04] sksamuel commented on #919
We've got random in the Gens as per my PR. Other than that you can just make a Random in your own code. So there's nothing left to do here right ?

[2019-08-28 11:21] mindhaq commented on #925
Using kotlintest 3.3.3, the test fails with an error as expected.

Being that the most recent version when I filed the bug, I feel a bit silly now.

[2019-08-28 11:21] #925 closed, assigned to nobody

[2019-08-28 13:11] robotsquidward commented on #622
If it's okay I'm just going to leave this here for the next person who stumbles on this thread doing the same thing as me.

I was using this [SO Thread](https://stackoverflow.com/questions/3963708/gradle-how-to-display-test-results-in-the-console-in-real-time) about how to display pretty-er Gradle test outputs. They use the [`test`](https://docs.gradle.org/current/userguide/java_testing.html#test_

[2019-08-28 13:46] LeoColman commented on #925
Happens with all of us every now and then.

Thanks for the report!

[2019-09-01 02:12] Inego commented on #828
There's a PR merged in July, but the issue is still not closed.

[2019-09-01 14:41] LeoColman commented on #828
That's true. Time to close this

Thanks, @Inego !

[2019-09-01 14:41] #828 closed, assigned to wevnasc

[2019-09-02 19:22] arunvelsriram commented on #961
I would like to work on this.

[2019-09-02 19:27] sksamuel commented on #961
Please do!

[2019-09-02 22:27] sksamuel opened #967 "Option to control Shrinking"
ShrinkingMode.OFF: Shrinking disabled
ShrinkingMode.UNBOUNDED: Shrinks until no smaller value can be found. May result in an infinite loop if shrinkers are not coded properly.
ShrinkingMode.BOUNDED: Shrink a maximum number of times (say 1000)

[2019-09-02 22:28] #912 closed, assigned to nobody

[2019-09-02 22:32] sksamuel opened #968 "Gen.combine with probabilistic choices"
Gen.combine(Gen.a, Gen.b) should take an element from a or b's gen each time, until the base case is reached.

Gen.frequency(0.1 to Gen.a, 0,2 to Gen.b) to specify the probability distribution.

[2019-09-02 22:41] sksamuel opened #969 "exhaustive generation option for property testing"
GenerationMode.AUTO - uses exhaustive mode where possible, otherwise defaults to random.
GenerationMode.RANDOM - forces random mode
GenerationMode.EXHAUSTIVE - forces exhaustive or throws an exception

[2019-09-02 22:42] sksamuel opened #970 "Sentence generator"
Generates sentences by randomly putting together n words with a period.

[2019-09-02 22:44] sksamuel opened #971 "Unique modifier for Generators"
Filters out any value previously seen.

[2019-09-02 22:45] sksamuel opened #972 "Flat map Gen for dependencies"
You might have a Gen for start index, and then want a gen for end index which must be > than start. So you need to be able to use an existing Gen to create further Gens (maps and flat maps).

[2019-09-02 22:48] sksamuel opened #973 "Add samples Generator"
Gen.samples(vararg xs :X) will take 1 or more Xs and then loop around providing those (starting from the beginning again once the end is reached).

[2019-09-02 22:49] sksamuel opened #974 "Weight choose Generators"
Add variations on Gen.choose, Gen.enum and so on that allows the weights to be specified.

[2019-09-02 22:50] sksamuel opened #975 "Concat Gens"
`genA.concat(genB)` to provide values from a and then b.

[2019-09-03 15:27] LeoColman commented on #969
Exhaustive as in use all possibilities?
I think some gens wouldn't work that way, right?

[2019-09-03 15:28] LeoColman commented on #970
Probably important to also add punctuation, capital cases, names, numbers, apostrophe, etc

[2019-09-03 15:29] LeoColman commented on #972
Don't we have map and flatmap?

[2019-09-03 15:30] LeoColman commented on #973
So
`Gen.samples(1, 2, 3, 4, 5)` would lead to `[1, 2, 3, 4, 5, 1, 2, 3, 4, ...]`?

[2019-09-03 15:32] LeoColman commented on #974
I think [this class](https://github.com/thomasnield/kotlin-statistics/blob/master/src/main/kotlin/org/nield/kotlinstatistics/Random.kt#L111)  from [Kotlin Statistics](https://github.com/thomasnield/kotlin-statistics) might help.

I had to implement a weighted random distribution recently, and I used that

[2019-09-03 16:12] sksamuel commented on #974
Wouldn't work cross platform but we could borrow implementations.

On Tue, 3 Sep 2019 at 10:32, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-03 16:12] sksamuel commented on #973
Yes

On Tue, 3 Sep 2019 at 10:30, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-03 16:13] sksamuel commented on #972
I don't think we have flatMap.

On Tue, 3 Sep 2019 at 10:29, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-03 16:13] sksamuel commented on #970
Yep. Could be loads of variants.

On Tue, 3 Sep 2019 at 10:28, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-03 16:14] sksamuel commented on #969
Basically if you say Gen.ints(0, 100) to generate random ints from 0 to
100, and then you ask for 200 tests to run, and you use random generation,
then you might never get 85 or 33. You might get 77 eight times.
In this case you should get 0 to 100 two times. That's better.
When you ask for Gen.ints() and 1000 tries, then it has to be random.

On Tue, 3 Sep 2019 at 10:27, Leonardo Colman Lopes <no

[2019-09-03 16:16] LeoColman commented on #969
Then it's not exactly generating, right? It's just a sequence

[2019-09-03 16:16] LeoColman commented on #969
Maybe a randomized sequence, but it's not entirely random

[2019-09-03 16:19] LeoColman commented on #974
The implementation itself seems very mpp-friendly

[2019-09-03 18:02] sksamuel commented on #974
Yes but they'd have to make the entire project mpp or we can copy n paste.

On Tue, 3 Sep 2019 at 11:19, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-04 01:09] sksamuel opened #977 "Add roboelectric support"

[2019-09-04 04:27] sksamuel commented on #951
Released.

[2019-09-04 04:27] #951 closed, assigned to nobody

[2019-09-04 04:27] sksamuel commented on #950
Please try 3.4.1

[2019-09-04 04:27] sksamuel commented on #935
Released in 3.4.1

[2019-09-04 04:27] #935 closed, assigned to nobody

[2019-09-04 04:28] sksamuel commented on #977
Duplicated of #926

[2019-09-04 04:28] #977 closed, assigned to nobody

[2019-09-04 04:30] sksamuel commented on #903
Please try 3.4.1 @leoxs22

[2019-09-04 04:30] #903 closed, assigned to nobody

[2019-09-04 04:30] #797 closed, assigned to nobody

[2019-09-04 04:32] sksamuel commented on #794
Now without creating the variables outside of the before / after scopes.

[2019-09-04 04:32] sksamuel commented on #794
This can be easily done with the new DSL.

[2019-09-04 04:33] #692 closed, assigned to nobody

[2019-09-04 04:34] sksamuel commented on #663
Duplicated of JDBC ResultSet matchers #961

[2019-09-04 04:34] #663 closed, assigned to nobody

[2019-09-04 04:34] sksamuel commented on #961
See https://github.com/joel-costigliola/assertj-db#readme

[2019-09-04 04:36] sksamuel commented on #768
This is now in beta 4.0. You can still use the init block with the DSL methods.

[2019-09-04 04:36] #768 closed, assigned to nobody

[2019-09-04 04:40] sksamuel commented on #763
This will be added to 4.0

[2019-09-04 04:40] sksamuel commented on #763
Maybe we enhance DescribeSpec or maybe we add MochaSpec.

[2019-09-04 04:41] sksamuel commented on #774
@Kerooker this is a must have for 4.0 IMO.

[2019-09-04 04:41] sksamuel commented on #668
Did you finish this ?

[2019-09-04 04:59] sksamuel commented on #827
3.5 will be parked in favour of 4.0

[2019-09-04 04:59] #827 closed, assigned to sksamuel, LeoColman

[2019-09-04 05:08] #872 closed, assigned to nobody

[2019-09-04 05:20] #815 closed, assigned to nobody

[2019-09-04 12:21] mindhaq commented on #948
As an end-user, I like Kaiser and Konfirm.
As a hobby-cook, I like Koriander :)

I agree on KCheck not being very inspiring.

[2019-09-04 12:41] dave08 commented on #948
Why not just KTest, that way you don't steer too far away from the current name. It's  easier to connect that to the old name, for those that were used to it, and all the review sites that referred to it. It doesn't feel like a new project, but the same one everybody likes currently :)

[2019-09-04 12:44] sksamuel commented on #948
There's a lot of merit to what dave just said.

On Wed, 4 Sep 2019 at 07:41, dave08 <notifications@github.com> wrote:

[2019-09-04 12:44] sksamuel commented on #948
The best we came up with (completely new) are Contest and Canyon and TickTack.

[2019-09-04 13:33] fsonntag commented on #898
I realized that `io.kotlintest.Result` is now replaced with `MatcherResult`
It would be great to update the docs, as it is explicitly used there for writing custom matchers

[2019-09-04 13:43] sksamuel commented on #898
Yes good spot.

On Wed, 4 Sep 2019, 08:33 Felix Sonntag, <notifications@github.com> wrote:

[2019-09-04 14:42] alladywek commented on #851
Hi @sksamuel , sorry that I am late to reply, but if it is still actual I can pick up this and finish by end of next week.

[2019-09-04 15:54] sksamuel commented on #851
Please do !

On Wed, 4 Sep 2019, 09:42 Abbas Abbasov, <notifications@github.com> wrote:

[2019-09-04 17:35] arunvelsriram opened #978 "Filenames collide on a case-insensitive filesystem"
When cloning the repo on a Mac having a case-insensitive filesystem am getting a collision between two files:

[code]

[2019-09-04 17:42] sksamuel commented on #978
Good spot thanks. I use linux so this doesn't manifest itself.

On Wed, 4 Sep 2019 at 12:35, Arunvel Sriram <notifications@github.com>
wrote:

[2019-09-05 08:55] cepages commented on #927
@Kerooker sorry for my delay replaying.

I took other solution for this, but I'm happy to give it a go.

I tried, but I guess I don't know how to use the `3.5.0.2421-SNAPSHOT`

I tried replacing the current `kotlintest` dependency for:
[code]

I guess this is not the way to do it because I get:

`ERROR: Failed to resolve: io.kotlintest:kotlintest-runner-junit5:3.5.0.2421-SNAPSHOT`

Thanks

[2019-09-05 13:58] LeoColman opened #979 "Add documentation for `shouldBeEqualIgnoringField`"
Our reflection matchers don't have documentation besides Javadocs.

https://github.com/kotlintest/kotlintest/blob/master/kotlintest-assertions/src/jvmMain/kotlin/io/kotlintest/matchers/equality/reflection.kt

[2019-09-05 15:00] LeoColman commented on #978
Perhaps we can try to compile using Mac in Travis too? I believe it's possible to do that at the build step

[2019-09-05 15:45] sksamuel commented on #978
We do comile on windows.

On Thu, 5 Sep 2019 at 10:00, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-09-06 00:07] sksamuel commented on #927
3.4.1 has this fix.

On Thu, 5 Sep 2019, 03:55 Carlos Pages, <notifications@github.com> wrote:

[2019-09-07 02:13] arunvelsriram commented on #978
Am unable to clone the repo. Shall we fix this?

[2019-09-07 03:10] sksamuel commented on #978
One of the files was empty. I've removed it, so you should be good to clone
now.

On Fri, 6 Sep 2019 at 21:13, Arunvel Sriram <notifications@github.com>
wrote:

[2019-09-07 03:10] #978 closed, assigned to nobody

[2019-09-07 10:53] master-bytes-krafter commented on #774
Hello, sorry for the delay, FYI we found a very convenient way to do this with the current version of kotlintest. Sure it relies on ordering files and tests in certain order and requires to write a little bit of code (30 or so lines approximately), but we can live with it for now.
Of course it would be great that it was a part of kotlintest but the analysis we made concluded that for a third party

[2019-09-09 06:38] Zefz opened #981 "Possible error in shouldNotThrowAny"
Should not `shouldNotThrowAny` return the value in the block instead of Unit?

e.g
[code]

While `shouldNotThrowAnyUnit` should return an Unit. Maybe I am misunderstanding something, but currently these two functions behave the same?

[2019-09-09 06:54] sksamuel commented on #981
Yeah that's a bug, it should return T for () -> T.

[2019-09-09 09:27] xcq1 opened #982 "Test with SpringListener causes "field cannot have an existing value" with 3.4.0+"
I've stumbled on a problem while upgrading kotlintest for running a SpringBoot with WebMvc test like this:
[code]

I'm using these gradle dependencies:
[code]

When running with Kotlintest 3.3.3 everything works as expected, but when I run it with 3.4.0+ as stated above, I'm getting this exception when running the test:
[code]

[2019-09-10 02:07] LeoColman commented on #982
I'll take a look into it.

We introduced a fix in #950 to some spring issues. The new behaviour might have caused this change.

[2019-09-11 16:44] ashishkujoy commented on #947
@sksamuel  As of now all gens are in commonMain, where we don't have access to java modules.
Which means this implementation will need to be in jvmMain. But that would look odd.

[2019-09-11 16:46] sksamuel commented on #947
Not all gens are in common. Quite a few JVM specific ones are in jvmMain

On Wed, 11 Sep 2019 at 11:44, ashish kumar <notifications@github.com> wrote:

[2019-09-12 00:47] #946 closed, assigned to nobody

[2019-09-12 01:25] LeoColman commented on #982
I couldn't reproduce this issue with

[code]

Could you help me setup the code to cause it?

[2019-09-12 01:32] LeoColman commented on #982
I enhanced the test to user MockkMVC as well:
[code]

It passes too

[2019-09-12 07:33] Zefz opened #986 "Make shouldNotBe smarter by using contracts"
If we use `shouldNotBe` to match with `null` then maybe we could help the compiler infer null-safety for successive code.

[code]
would become
[code]

A similar solution that already uses contracts:
[code]

Basically this minor enhancement would make
`value shouldNotBe null`
synonymous with
`value.shouldNotBeNull()`.

I would prefer using the former infix for test code readability.

[2019-09-12 09:20] lwasyl opened #987 "autoClose can't be used when using Abstract*Spec.() -> Unit"
When writing test by providing closure in the spec constructor doesn't allow for using `autoClose` function:

[code]

Is it inteded? If yes, what's the preferred workaround for this?

[2019-09-12 15:03] xcq1 commented on #982
Thanks for looking into this. I have prepared a quick minimal Spring Initializr example project that illustrates my issue: [demo.zip](https://github.com/kotlintest/kotlintest/files/3606134/demo.zip)

Running ExampleTest with the kotlintest plugin, e.g. via the provided launch config results in the test failing with the mentioned exception. I hope this helps you reproduce the issue.

[2019-09-12 22:32] #937 closed, assigned to nobody

[2019-09-13 15:08] sksamuel commented on #948
I think we've settled on Kotest.
As @dave08 suggested, it's good to have something similar to what we already have, and ktest already exists as several projects.

[2019-09-13 17:24] sksamuel opened #990 "Add map.shouldHaveSize assertion"

[2019-09-13 17:24] sksamuel commented on #990
I don't believe we have this currently.

[2019-09-14 00:22] LeoColman commented on #973
Closed as per #983

[2019-09-14 00:22] #973 closed, assigned to nobody

[2019-09-14 19:20] sksamuel opened #5534 "Intellij plugin to show test structure"

[2019-09-15 00:27] sksamuel commented on #981
Fixed in master.

[2019-09-15 00:27] #981 closed, assigned to nobody

[2019-09-15 10:46] verkhovin opened #998 "Flexible version of shouldHaveSize assertion"
What do you think about implementing alternative to shouldHaveSize assertion, which applies as parameter something like `preidcate: (Int) -> Boolean` instead of `size: Int`?

In client's code it can looks like:
[code]

Maybe it is very rare case when you need this, so need somebody's opinion.

[2019-09-15 14:22] LeoColman commented on #998
I think that in this case we should either use

`col.size shouldBeGreaterThan 5`

Or
`col.shouldHaveSizeGreaterThan 5`

Having a predicate imo is confusing

On Sun., Sep. 15, 2019, 07:46 Nikita Verkhovin, <notifications@github.com>
wrote:

[2019-09-15 17:07] verkhovin commented on #998
Sounds reasonable.

[2019-09-15 17:08] #998 closed, assigned to nobody

[2019-09-15 18:08] asm0dey opened #999 "Non complete junit report when using FunSpec"
When I'm using FunSpec only inner-most tests are being written in test report while I expect whole path to be writtent as test name or maybe some grouping will exist.

For example in case of

[code]
Only

[code]
will be written while context part may (and sould) have some meaningful context.

It makes reports harder to read, harder to understand and harser to find failing tests

[2019-09-17 06:29] lenguyenthanh opened #1000 "Upgrade Arrow to version 0.10.0"
We have new version of `Arrow`: [0.10.0](https://github.com/arrow-kt/arrow/releases/tag/0.10.0)

I'll go ahead and work on this.

[2019-09-17 08:15] dmitry-oshurkov commented on #5554
I have ver 3.3.0.11 and this behavior is not fixed.

[2019-09-17 08:24] dmitry-oshurkov commented on #5553
I have ver 3.3.0.11 and this behavior is not fixed.

[2019-09-17 15:39] LeoColman commented on #1000
Great! Thanks

[2019-09-17 20:06] verkhovin commented on #990
Should not we close it yet? :)

[2019-09-17 20:08] LeoColman commented on #990
Sure thing!
I suggest closing issues when commiting https://help.github.com/en/articles/closing-issues-using-keywords

[2019-09-17 20:08] #990 closed, assigned to nobody

[2019-09-17 20:37] verkhovin commented on #990
Ok. Did not know. Thank you!

[2019-09-18 12:23] sksamuel opened #1003 "Successful tests coming up as ignored"
![image](https://user-images.githubusercontent.com/743706/65148105-2996d600-d9e5-11e9-9507-da1789fcfbc9.png)

[2019-09-18 12:25] sksamuel commented on #1003
Then once the failing test passes, they all go green.

![image](https://user-images.githubusercontent.com/743706/65148253-6bc01780-d9e5-11e9-9759-1dc8aecf13f4.png)

[2019-09-18 13:58] #1000 closed, assigned to nobody

[2019-09-19 15:30] LeoColman commented on #999
Perhaps we should include the entire thing in the report? Not sure how to do it yet tho

[2019-09-19 15:37] LeoColman commented on #986
Unfortunately, this doesn't work yet, AFAIK.

It's not possible to make a conditional check in a contract, such as `if x is null, return implies y not null`.

This is possible with the extension function because we can say `returns implies x not null`.

Until there's a change in contracts (I don't believe this kind of contract will be supported soon), I don't believe there's much we can do.

[2019-09-19 15:37] #986 closed, assigned to nobody

[2019-09-20 10:27] tony19 opened #5533 "Running single test runs all tests in class"
Despite the fix for kotest/kotest#5554, it's still not possible to run a single test for the following test styles:

 * AnnotationSpec
 * DescribeSpec
 * ExpectSpec
 * WordSpec

For the styles that do allow single test runs, if you pick the wrong menu option, you lose the ability to run single test runs afterward (until IDE restart).

## Steps to reproduce (Bug 1)

 1. From Android Studio 3.5, ins

[2019-09-20 10:33] fipp commented on #950
I'm still getting `java.lang.IllegalStateException: No transactional EntityManager found` when attempting to use `TestEntityManager` in a `@DataJpaTest` using kotlintest (works when using JUnit5). Has anyone gotten this to work in 3.4.1?

[2019-09-20 11:24] EarthCitizen opened #1004 "Gen.string(maxSize = 1) - Generates Only Empty Strings"
v3.4.0

`Gen.string(maxSize = 1)`

Expected:

- Some empty strings
- Some strings with one character

Actual:

- Only empty strings despite running it 100,000 times

[2019-09-20 12:21] asm0dey commented on #999
@Kerooker I believe that it could solve issue :)
Second solution would be using hierarchy of test suites

[2019-09-20 15:03] kortov commented on #1004
I guess it's because in https://github.com/kotlintest/kotlintest/blob/6df536e595329358df07aa766a867f635c328ce1/kotlintest-assertions/src/commonMain/kotlin/io/kotlintest/properties/gens.kt#L29
r.nextInt is exclusive at the end and if I'm not mistaken, Gen.string() should give 99 maxlength by default but I'm not sure.

[2019-09-20 16:11] sksamuel commented on #1004
Yeah good spot, should be max - min + 1 for the bound.

On Fri, 20 Sep 2019 at 10:04, Eugene Kortov <notifications@github.com>
wrote:

[2019-09-20 18:18] LeoColman commented on #950
@fipp This fix is waiting for release. We're going to release it for 3.4.2. If you test a snapshot build it will work.

[2019-09-20 21:18] LeoColman commented on #982
Could you please test with 3.4.2? I believe it's fixed.

[2019-09-20 21:18] LeoColman commented on #950
3.4.2 release is out

[2019-09-21 16:00] sksamuel commented on #1004
Fixed in master, and will be included in 3.4.3 release.

On Fri, 20 Sep 2019 at 11:10, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-09-22 00:43] EarthCitizen opened #1005 "Proposal: Gen.char()"
It would be great if `Gen.char()` existed. Looks like it would be fairly trivial to implement, with `random()` of the `Gen<Char>` returning `Random.nextPrintableChar()`.

[2019-09-22 02:58] LeoColman commented on #1005
Very true!
If you are interested in this, go for it :D

[2019-09-22 02:59] #1004 closed, assigned to nobody

[2019-09-22 03:44] EarthCitizen commented on #1005
@Kerooker Which branch should the PR be for?

[2019-09-22 04:21] LeoColman commented on #1005
You can make it to master

[2019-09-22 04:49] EarthCitizen commented on #972
Looks like `flatMap` was implemented and this should be closed?

[2019-09-22 09:42] EarthCitizen opened #1006 "Random.nextPrintableChar() - Output Not Matching Comments"
For the following code:
[code]
Note the actual output in includes 32:
[code]
32 is space, so I don't see a problem with having that in the output. It is just that the comments say that the lower boundary is 33. Which one is correct?

[2019-09-22 16:29] LeoColman commented on #1006
Ok, so the specification for ASCII Printable Characters say that the bounds should be [32, 127]. Taking a look at [this quick table](http://facweb.cs.depaul.edu/sjost/it212/documents/ascii-pr.htm).

So 32 should definitely be included, but I'm wondering if 127 should. Althought it's printable, the `Delete` character doesn't have a meaning in a String, does it?

[2019-09-22 17:16] sksamuel commented on #1006
Not really. Could do 32 to 126 inclusive

On Sun, 22 Sep 2019, 11:29 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-09-23 08:26] xcq1 commented on #982
My provided example is passing. However in my real world application I get a strange ByteBuddy exception:
[code]
Can you make sense of that? I'm guessing it's some kind of additional library/setting interfering but I don't have the time to look further into it right now.

[2019-09-23 10:41] fipp commented on #950
I still get the error with 3.4.2. Running StringSpec test on a class annotated with:

[code]

The class attempts to autowire `org.springframework.boot.test.autoconfigure.orm.jpa.TestEntityManager`. When this is used, the same error occurs: `No transactional EntityManager found`

[2019-09-23 18:27] LeoColman commented on #982
@donamk I couldn't reproduce it with JUnit Spring, so perhaps that's not supported?
[code]

[2019-09-23 18:27] LeoColman commented on #982
I mean, I couldn't get it to work for the same reason

[2019-09-23 18:29] LeoColman commented on #982
@donamk I'll ask you to kindly create a new issue for this, as we're going offtopic.

@xcq1 We're using the latest version of bytebuddy
` 'net.bytebuddy:byte-buddy:1.10.1'`
So perhaps a library is overriding that version to a lower one? I believe Spring uses bytebuddy and Mockk uses bytebuddy as well, but I'm not sure about others

[2019-09-24 00:02] donamk commented on #982
@Kerooker Thank you. You're right. I should create a seperate issue and I will do it

[2019-09-24 10:01] xcq1 commented on #982
I debugged a little and found out my remaining issue is that the package name `public` (which worked previously) is disallowed by ByteBuddy. After renaming, everything works as expected so the actual issue is fixed. Thanks for your quick reaction.

[2019-09-24 10:01] #982 closed, assigned to nobody

[2019-09-24 22:14] LeoColman commented on #982
@xcq1 That's an odd issue to come by xD

Glad it's solved!

[2019-09-25 06:12] EarthCitizen commented on #968
@sksamuel Is this the same as #974 ? If not, what is the difference?

[2019-09-25 06:49] EarthCitizen opened #1011 "Gen.choose() for int and long - max is exclusive"
`Gen.choose()` for int and long with a min and max are both treating max as exclusive.

[2019-09-25 16:53] sksamuel commented on #968
I can't quite remember. Maybe weighted is exact and this is generating
random values in a range and picking the element that falls in the range.

On Wed, 25 Sep 2019, 01:12 EarthCitizen, <notifications@github.com> wrote:

[2019-09-25 16:54] sksamuel commented on #972
Yep.

On Sat, 21 Sep 2019, 23:49 EarthCitizen, <notifications@github.com> wrote:

[2019-09-25 16:54] sksamuel commented on #987
We need a DSL version. I'll add this to 4.0.

On Thu, 12 Sep 2019, 04:20 Łukasz Wasylkowski, <notifications@github.com>
wrote:

[2019-09-26 16:32] piotrgwiazda commented on #999
I'm not sure if JUnit XML Report support nested tests. It's flat. And as far as I can see JUnit 5 still does not have built-in support for advanced reporting as [here](https://junit.org/junit5/docs/current/user-guide/#launcher-api-listeners-reporting).

I'd suggest having a flag in project configuration to switch between "flatten" tests in the report vs current leaf-only reporting. By the flatten

[2019-09-26 16:47] sksamuel commented on #999
We have an allure module already.

On Thu, 26 Sep 2019, 11:32 piotrgwiazda, <notifications@github.com> wrote:

[2019-09-26 16:52] asm0dey commented on #999
@sksamuel how can I find documentation on allure+maven+kotlintest setup?

[2019-09-26 16:54] asm0dey commented on #999
I think that @piotrgwiazda's proposal makes great sense. But anyways I'm sure that authors of framework do read test reports. Could you please share how do you read reports?

[2019-09-26 17:07] piotrgwiazda commented on #999
Allure reporting worth taking a look! May be used as a UAT sign-off document for a specific version.

However, flattening JUnits will be useful as well. Tools from Jenkins to Azure DevOps Pipelines automatically read these XML reports and gives you nice analytics and trends of build throughout last 7/14/30 days etc.

[2019-09-26 17:35] piotrgwiazda opened #1013 "Test hierarchy is not visible in IntelliJ IDEA 2019.2"
A sample test class below. I've tried it with other styles like DescribeSpec, FreeSpec etc. Each time I can see the "leaf" test only in IntelliJ.

[code]

Gradle configuration: (Gradle 5.2.1)

[code]

IntelliJ IDEA 2019.2 shows a hierarchy with missing "context" level. Tried on both Community and Ultimate.
![image](https://user-images.githubusercontent.com/5331863/65711025-5d809400-e094-11e9-9a83-

[2019-09-26 17:39] piotrgwiazda commented on #5534
kotlintest/kotlintest#1013 ?

[2019-09-26 17:44] piotrgwiazda commented on #1013
To solve the issue, after installing https://plugins.jetbrains.com/plugin/11585-kotlintest/ plugin
go to "Settings -> Build Tools -> Gradle -> Run test using:" - set to "IntelliJ IDEA"

[2019-09-26 17:44] #1013 closed, assigned to nobody

[2019-09-26 21:37] #1011 closed, assigned to nobody

[2019-09-26 21:54] #972 closed, assigned to nobody

[2019-09-27 09:19] joni- opened #1015 "shouldBeCalled assertion"
Would it be possible to implement an assertion that asserts that a function is called? We have a use-case where our function takes couple of functions as parameters and based on other parameters it may or may not call the functions. We'd like to test that correct functions are being called.

I've seen these kind of functions implemented in JS & Python test frameworks but didn't find such in Kotlin

[2019-09-28 14:46] LeoColman commented on #1015
I believe this goes more into mocking and spying business than testing itself.

I don't believe this should be supported by KotlinTest

[2019-09-28 20:29] #926 closed, assigned to LeoColman

[2019-09-28 22:14] #943 closed, assigned to nobody

[2019-09-29 02:15] LeoColman commented on #1015
I don't think there's even a way to verify this without bytecode manipulation, the way `mockk` does, for example

[2019-09-29 06:48] EarthCitizen opened #1017 "Weighted Gen.choose() @throws comments incorrect"
The comments for weighted `Gen.choose()` state:

This is incorrect. It should say

[2019-09-29 06:51] asm0dey commented on #999
Still can't find any info on how to setup allure with kotlintest

[2019-09-29 06:54] asm0dey opened #1018 "Reproducible property tests"
If I have some complex behaviour defined by property test I need a way to reproduce it, possibly based on seeds.

For example I can have some chains of action built by input and exception should never be thrown.
If exception if thrown - test will fail of course, but how can I reproduce it?

[2019-09-29 15:14] #1017 closed, assigned to nobody

[2019-09-29 15:14] LeoColman commented on #1018
I believe this may be a duplicate of #815? If yes, it's already implemented in #960

[2019-09-29 16:42] #948 closed, assigned to nobody

[2019-09-30 06:10] EarthCitizen opened #1020 "Gen.choose() Weighted Not Using Seed"
`Gen.choose()` weighted version is not using seed value passed to `random()`.

[2019-09-30 09:54] akurdyukov opened #1022 "KotlinTest and Spek2 conflict over classgraph in Java11"
Using both `io.kotlintest:kotlintest-runner-junit5:3.4.2` and `org.spekframework.spek2:spek-dsl-jvm:2.0.7` in a single project with Java11 causes errors like

[code]

I used this thread https://github.com/spekframework/spek/issues/707 to find that it's a conflict over `classgraph` dependency version. Dependency graph show that kotlin test runner wants `io.github.classgraph:classgraph:4.8.1`, and s

[2019-09-30 14:41] cueo commented on #1006
Is it open for assignment? Can I take it up? From the discussion, it looks the change is only required in the comment, is that correct?

[2019-10-01 02:21] LeoColman commented on #1006
@EarthCitizen was this fixed in one of your PRs?

[2019-10-01 02:37] EarthCitizen commented on #1006
@Kerooker No, but I am working on a PR for `Gen.char()` that I believe will make `Random.nextPrintableChar()` unnecessary. I can submit that once #1021 is merged.

[2019-10-01 07:58] arunvelsriram commented on #961
Is this still relevant? As @sksamuel pointed out `assertj-db` is already providing assertions for databases.

[2019-10-01 11:12] gasch opened #1026 "Latest arrow release"
Please upgrade all modules to arrow-0.10.0. It seems to be that the assertions module is still on
version 0.9.
Thank you in advance.

[2019-10-01 19:16] faogustavo opened #1028 "Add jsoup matchers"
skrape{it} is a Kotlin-based HTML/XML testing and web scraping library that can be used seamlessly in Spring-Boot, Ktor, Android or other Kotlin-JVM projects.

They want to add a lot of matchers and support the KotlinTest library (You can see all the expected matchers [in this issue](https://github.com/skrapeit/skrape.it/issues/9)). If you are comfortable with this, I can implement those matchers

[2019-10-01 19:20] LeoColman commented on #1028
Sure, go ahead!
I believe we can add an assertions module for skrape.it.

The mantainers of the project already said that support can be mantained here (just like we do for Arrow and KTor).

I don't see a reason why not.

[2019-10-01 19:21] LeoColman commented on #1028
If you need any help configuring the new module, let me know

[2019-10-01 19:22] faogustavo commented on #1028
Alright. Thanks @Kerooker

[2019-10-01 19:27] sksamuel commented on #1028
I think kotest-assertions-skrape would be a good addition.

[2019-10-01 19:28] #1020 closed, assigned to nobody

[2019-10-01 19:41] LeoColman commented on #1026
You can pick this up if you want to :)

[2019-10-01 19:42] LeoColman commented on #1022
Yes, we can update it.
It should be pretty straight forward

[2019-10-01 19:46] faogustavo commented on #1028
@sksamuel as the lib just wants to add some assertations to jsoup classes, isn't it better to add a `kotest-assertations-jsoup`?

[2019-10-01 19:46] lenguyenthanh commented on #1026
I think all modules use the same arrow version `0.10.0` from here: https://github.com/kotlintest/kotlintest/blob/master/build.gradle#L3.

I searched here: https://github.com/kotlintest/kotlintest/search?l=Gradle&q=arrow. And it looks correct.

[2019-10-01 19:46] sksamuel commented on #1028
Yes sorry.

[2019-10-01 19:50] LeoColman commented on #1028
Oh, I didn't see that. I thought the matchers were for the lib itself. Guess I didn't read it properly =S

[2019-10-01 20:46] sksamuel commented on #1022
Let's upgrade and release 3.4.3

[2019-10-02 06:23] EarthCitizen opened #1029 "Rename Package "com.sksamuel.kotest" to "io.kotest"?"
JVM tests are in the package `com.sksamuel.kotest`. Is this intentional, or should they be moved to `io.kotest`?

[2019-10-02 10:33] sksamuel commented on #1029
It's intentional as there are some tests we want to make sure work in a
different package name such as discovery and stack trace cleaning.

On Wed, 2 Oct 2019, 01:23 EarthCitizen, <notifications@github.com> wrote:

[2019-10-02 11:50] #1029 closed, assigned to nobody

[2019-10-02 12:48] sksamuel commented on #1028
We could do both, no reason the jsoup specific ones should live in
a skrapeit module.

On Wed, 2 Oct 2019 at 04:58, Christian Dräger <notifications@github.com>
wrote:

[2019-10-02 13:23] faogustavo commented on #1028
Yeps, my plan is to start with the JSOUP assertations that are more generic and than add some others that are specific from the skrape.it;

I already started the JSOUP and hope to open a PR with some basic matchers soon.

[2019-10-02 13:55] cueo commented on #1022
Is this open? Can I take this up?

[2019-10-02 13:55] LeoColman commented on #1022
Sure! Go ahead

[2019-10-02 14:23] EarthCitizen commented on #1006
If it is decided that #1031 is a good path forward, then I will close this PR.

[2019-10-02 18:21] sksamuel opened #1033 "New Assertion: shouldHaveSize for map"
Eg,

`map.shouldHaveSize(10)`

[2019-10-02 20:45] eschrock opened #1034 "Using SkipTestException causes error in JUnitTestRunnerListener"
I have a set of tests that may or may not run depending on the environmental configuration, so I was excited to make use of SkipTestException. Unfortunately, no matter what I do I always get an exception like this in my test output (also displayed with "--info" to gradle):

[code]

I am running 3.4.2 with the junit5 runner through gradle. While the tests show as SKIPPED, the above exception preven

[2019-10-03 00:14] faogustavo commented on #970
@sksamuel  @Kerooker have you seen the [FakeIt](https://github.com/moove-it/fakeit) lib? Maybe it will help with a lot of points that you want.

[2019-10-03 01:38] raverona commented on #1033
Isn't this covered by https://github.com/kotlintest/kotlintest/blob/02b4c84785c35a54ba78a2207283e7c8f9ab245f/kotest-assertions/src/commonMain/kotlin/io/kotest/matchers/collections/matchers.kt#L281 ?

[2019-10-03 01:46] LeoColman commented on #1033
It isn't covered by `Collection.shouldHaveSize` (map doesn't subclass Collection), but this is a duplicate of #990 which was implemented by #997.

So I'm closing this as a duplicate

[2019-10-03 01:46] #1033 closed, assigned to nobody

[2019-10-03 01:59] LeoColman commented on #1034
Ok, it seems that this bug was introduced in a commit made by @sksamuel in 29/06/2019:

[code]

Sam, is there a reason for this to be here? Or can we remove this check?
If there isn't, we should remove it and improve our test suite to get this case, as we're mocking the TestListener in `SkipTestException` test.

[2019-10-03 03:28] sksamuel commented on #1034
It's a sanity check to ensure we're compliment with the junit spec. If a test is marked as started, we can't then mark it as ignored later.

Usage of skip exception might need to be re-done, so that we never mark a test as started until after the test has completed, so we can check for this exception. It can be done alongside the other issue causing passed tests to appear ignored when there are ot

[2019-10-03 03:55] #1022 closed, assigned to nobody

[2019-10-03 09:33] JYCabello commented on #1026
If I reference 3.42, I get typeclasses and core-extensions.
![image](https://user-images.githubusercontent.com/11141026/66115412-11bc7600-e5d1-11e9-859e-70b9aaac02d1.png)
If I reference 3.3.1, I don't.
![image](https://user-images.githubusercontent.com/11141026/66115470-2f89db00-e5d1-11e9-9567-36be488cc956.png)
And I'm just using this package.
`testImplementation("io.kotlintest", "kotlintest-runne

[2019-10-03 09:38] lenguyenthanh commented on #1026
I think kotlintest 3.4.2 still uses Arrow version 0.9.0. The snapshot version uses Arrow version 0.10.0.

[2019-10-03 09:45] JYCabello commented on #1026
But, should it expose it?
For the assertions is unavoidable, I understand, but we had to downgrade in order to move forward with this.
And we had to do our own assertions for Options, which was not a big deal.

[2019-10-03 10:31] JYCabello commented on #1026
And just learned how to exclude. Not a problem anymore.

[2019-10-03 10:42] ar-g commented on #737
Works for me on `testImplementation 'io.kotlintest:kotlintest-runner-junit4:3.4.2'`

Full setup

[code]

[2019-10-03 11:44] gasch commented on #1026
@JYCabello How did you do it?

[2019-10-03 20:02] AdamDrennan opened #1036 "Possible error in containExactlyInAnyOrder"
In the scenarios below, the last assertion (1,1,1) passes when I would expect it to fail for not matching on 2 or 3.  Is my assumption correct, or am I misunderstanding the scope of this matcher?

[code]

If this is indeed a bug, may I work on the PR?  I think I have a decent idea of the problem.
 Thanks.

[2019-10-04 02:55] sksamuel opened #1037 "An exception in a property test doesn't show the failing values"
Try this,

[code]

And you'll see it doesn't report the failing values.

[2019-10-05 00:59] JYCabello commented on #1026
@gasch Sorry, I thought I had replied this already (immediately), seems like I didn't hit `Comment`.
[code]

[2019-10-06 02:55] EarthCitizen commented on #971
@sksamuel What should happen when unique values have been exhausted?

[2019-10-06 02:58] EarthCitizen commented on #969
This sounds very related to #971, unique modifier.

[2019-10-07 14:43] xeruf commented on #720
This is still not working!

[2019-10-07 15:46] sksamuel commented on #720
What version ?

On Mon, 7 Oct 2019 at 09:43, Janek <notifications@github.com> wrote:

[2019-10-08 10:14] xeruf commented on #720
latest, as linked in the Readme

[2019-10-09 14:57] Dambakk opened #1039 "Matcher to check if a list contains an item with a cetain property set to a value"
Hi!

I have a feature request. I have a list of objects and would like to verify that one of the items has a specific property with a certain value. Kind of like this:

`usersList shouldContainItemWith(User::id equalTo adminUserId)`

This could also be inverted to verify that the items do not contain an item with a certain value, e.g. to verify that something has been removed from the list of item

[2019-10-09 15:36] sksamuel commented on #1039
Try `shouldExist`

On Wed, 9 Oct 2019 at 09:57, Christopher Dambakk <notifications@github.com>
wrote:

[2019-10-09 18:49] Dambakk commented on #1039
You are right,

`usersList shouldExist { user -> user.id == adminUserId }`

achieves the same result. Although I feel like the code my first comment is more readable, it is not worth a pull request.

Thanks!

[2019-10-09 18:49] #1039 closed, assigned to nobody

[2019-10-09 22:22] sksamuel commented on #1039
You could do `usersList.forSome { it.id shouldBe adminUserId }` as well

On Wed, 9 Oct 2019 at 13:49, Christopher Dambakk <notifications@github.com>
wrote:

[2019-10-11 06:21] Dambakk commented on #1039
`forSome` would not give the expected result in our situation, it will not succeed if our admin user is the only user in the list.

On another note, I notice that description for both `shouldExist` and `forSome` are missing from the list of matchers found here: https://github.com/kotlintest/kotlintest/blob/master/doc/matchers.md

Is it coming or should it be created a new issue?

[2019-10-12 08:56] segunfamisa commented on #933
Hey @sksamuel @Kerooker was there any conclusion on the preferred name?

What do you think about `Collection.shouldContainInAnyOrder`?

Also what happens when such API is changed? Is there a `@Deprecated` `@ReplaceWith` migration help provided?

I'm asking because I'm looking for a first issue I can contribute to on this project :)

Thank you!

[2019-10-14 02:46] LeoColman commented on #933
We usually do @Deprecated and @Replacewith, yes.

But we didn't discuss this new name enough. What do you think, @segunfamisa?

[2019-10-14 02:56] sksamuel opened #1044 "Release 3.4.3 with updated Arrow"
In arrow 0.10 the packages got renamed, so our arrow module does not work against this.
We should fix this and release 3.4.3.

[2019-10-14 03:19] sksamuel commented on #933
shouldContainInAnyOrder would work for things like [a,b,c,d] shouldContainInAnyOrder [a,c,d]

shouldContainAllInAnyOrder would work for [a,b,c,d] shouldContainAllInAnyOrder [d,c,a,b]

[2019-10-14 04:12] #885 closed, assigned to nobody

[2019-10-14 04:13] LeoColman opened #1045 "Add documentation for channel matchers"
Issue #885 was closed by PR #1043 . However, no documentation is present at our `matchers` section and should be added for the next release.

[2019-10-14 05:20] sksamuel commented on #971
I think cycle back around again.

[2019-10-14 05:22] sksamuel commented on #969
Unique is different but related. So if you had `Gen.int().unique()` (or however we do it) then it would be 1000 unique random values for example.

But the idea of exhaustive mode is that if you say `Gen.int().filter { it < 500 }` and you ask for GenerationMode.EXHAUSTIVE then it shouldn't use random values because you might not get all 500. In fact you probably wouldn't. You might get the number 3

[2019-10-14 05:23] sksamuel commented on #961
assertJ won't do extension matchers because it's not a kotlin library.

[2019-10-14 10:22] junron commented on #1045
I will do this since I wrote the channel matchers

[2019-10-14 11:14] segunfamisa commented on #933
Oh yes, that's correct @sksamuel I see what you mean now.

I like it and it's a few characters shorter than the current name.

[2019-10-14 11:28] sksamuel commented on #1039
forSome is documented on the inspectors page as it's not a matcher.
It should work for your use case, even if the admin is the only user.

On Fri, 11 Oct 2019 at 01:22, Christopher Dambakk <notifications@github.com>
wrote:

[2019-10-15 00:39] LeoColman commented on #971
I think throwing an exception is better.
Cycling back again won't guarantee uniqueness

[2019-10-15 12:16] Dambakk commented on #1039
Ah, I see, I found it under inspectors. But as it is described there: "if NONE pass or ALL pass then we consider that a failure" - meaning that if the admin user is the only user in the list, it will fail.

`shouldExists` was the way to go in our case 👍 But I still miss a description of it under Collections on the matchers page. I looked there when writing my test and ended up writing my own match

[2019-10-15 12:37] sksamuel commented on #1039
@Kerooker we should link to inspectors under the collections matchers section so it's more obvious they exist.

@Dambakk We probably need a forSomeOrAll whatever that is, forAtLeastOne ?

[2019-10-17 18:20] EarthCitizen commented on #971
One concern is that this could be fairly resource intensive for `Gen.int().unique()`.

[2019-10-17 19:26] #1005 closed, assigned to nobody

[2019-10-17 22:09] LeoColman commented on #971
There could be a timeout configuration of some sort, but idk

[2019-10-17 22:20] sksamuel commented on #971
I don't think unique should mean guarantee of no cycles just that if the
search space is larger than requested number then guaranteed unique.

On Thu, 17 Oct 2019, 17:09 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-10-17 22:24] LeoColman commented on #971
I don't think we can guarantee that the search space is larger than requested number even if we want to allow cycles

[2019-10-21 23:30] nikitabobko opened #1047 "Focus and Bang are broken for DescribeSpec"
# Focus
Focus `Foo` describe closure:
[code]
Expected: only `describe Foo` and `it foo` executed
Actual: `foo` ignored. `Bar` and `Baz` are executed and didn't fail?!
![image](https://user-images.githubusercontent.com/20517828/67250387-db597480-f473-11e9-97bc-bc4bc1a4f48d.png)

# Bang
[code]
Expected: `Foo` is skipped. `Bar` and `Baz` failed
Actual: `Bar` and `Baz` failed. `Foo` is passed?
![image

[2019-10-22 03:09] sksamuel opened #1048 "Running Kotlintest specs in IntelliJ with SpringAutowireConstructorExtension leads to shared context between specs"
See https://youtrack.jetbrains.com/issue/KT-34135#comment=27-3747465.

@Kerooker did we fix this already ?

[2019-10-22 03:48] LeoColman commented on #1048
I don't think we did, no.
But this seems unrelated to KT itself, as running `mvn verify` works. I assume `./gradlew test` works aswell due to that.

Seems like a plugin issue, don't you think?

[2019-10-22 09:39] nikitabobko opened #1049 "Codestyle: fix indentation"
For now it's specified that it's 3 spaces in `.editorconfig`. But what I see? It's dutch concert. Somewhere 2 spaces are used and somewhere 3 spaces

[2019-10-22 11:55] faogustavo commented on #1028
Hey guys.
Unfortunately, I'm a little bit busy these days and will not be able to add more matchers to jsoup. I just removed the WIP from the PR to merge the initial structure.
Doing this, it's possible for other developers add more matchers and start using it.

[2019-10-22 12:28] sksamuel commented on #1028
Great thanks for the pr!
On Tue, 22 Oct 2019, 06:55 Gustavo Fão Valvassori, <notifications@github.com>
wrote:

[2019-10-22 15:45] LeoColman commented on #1049
I think Kotlin style guides recommends 4 spaces

[2019-10-22 17:02] nikitabobko commented on #1049
Whatever number of spaces. For now different indentations are used in different files. And it's not convinient because my IDEA sees `.editorconfig` and uses 3 spaces for indentation but file is indented with 2 spaces so I have to fix indentations my IDE inserts...

[2019-10-22 17:10] sksamuel commented on #1049
We're moving over to 3. No need to pad out with 4.

[2019-10-22 17:34] EarthCitizen commented on #1049
The contribution guide still says 2 spaces:

https://github.com/kotlintest/kotlintest/wiki/contribute

In my opinion, it would be easier for everyone involved if we use the Kotlin standard. But I was unaware of the .editorconfig file. I was submitting code based on the contribution guideline. I should reformat what I submitted 😀

[2019-10-22 17:57] sksamuel commented on #1049
4 spaces is too many in a language where you can have many levels of nested
blocks (nested functions, nested maps/flatmaps and so on). I don't know why
they picked 4, possibly because that's what Java developers are
most familiar with.

On Tue, 22 Oct 2019 at 12:34, EarthCitizen <notifications@github.com> wrote:

[2019-10-22 20:18] sksamuel opened #1050 "Allow a config file for 4.0"
There's no need to force a config class on people when a file would work.

[2019-10-24 06:48] comdiv opened #5532 "Kotlintest plugin is active just particulary"
1. IDEA 2018.3 (cannot grade to 2019 due to unresolved bug with test console if UTF used for test names)
2. Kotlintest Plugin with actual version for this IDEA
3. Kotlintest Junit5  3.3.2
4. Gradle as builder

Now I can see "Run" Icons on each test, but it has popup menu only FOR JUNIT RUNNER! So I still cannot run just single test, only whole spec.

![image](https://user-images.githubusercontent.

[2019-10-24 06:57] comdiv commented on #5532
Investigated, how it works

1. Ensure that Platform Runner is choosed for tests in Gradle Runner
2. Drop all existed configurations of type Junit 5
3. Reopen class with KotlinTest it will be OK:

![image](https://user-images.githubusercontent.com/2387862/67460673-0949df00-f655-11e9-94cb-bd021594e4fd.png)

4. Choose not to run KotlintTest, but to run Junit 5 - it will launch whole spec
![image](htt

[2019-10-24 14:18] Kolyall opened #1052 "How to resolve No appenders could be found for logger (io.kotlintest.runner.junit5.KotlinTestEngine)?"
How to resolve?
[code]

[2019-10-25 01:30] atmikev commented on #945
Looks like this issue may be resolved?

[2019-10-25 01:34] LeoColman commented on #945
That seems about right, it was merged to master but this issue was never updated.
Thanks!

[2019-10-25 01:34] #945 closed, assigned to nobody

[2019-10-25 01:39] atmikev commented on #933
@sksamuel  are all matchers up eligible to rename for conciseness or just `Collection. shouldContainExactlyInAnyOrder`?

[2019-10-25 15:24] atmikev commented on #1006
@Kerooker is this still open?

[2019-10-25 15:34] LeoColman commented on #1006
I think it is, yes.
#1031 didn't address this, if I remember correctyl

[2019-10-25 15:52] LeoColman commented on #1047
A first analysis tells me that the test is being correctly ignored (if you throw an exception inside it, for example, it won't fail), but it's marked incorrectly in IntelliJ.

This for both scenarios as per some tests I made.

I'm trying to see if this has anything to do with `DescribeSpec` itself or the way we show IntelliJ the results

[2019-10-26 04:51] EarthCitizen commented on #1006
I did not submit a change, but I don't think `Random.nextPrintableChar()` is needed if we have `Gen.char()`. I have been wanting to submit a PR to reimplement `Gen.string()` using `Gen.char()`, but I have not had the time to do it yet.

[2019-10-26 22:22] LeoColman commented on #1006
I'm afraid that perhaps `nextPrintableChar()` is public and people might use it

[2019-10-27 00:42] EarthCitizen commented on #1006
Could we make the `Random` extensions private for 4.0?

[2019-10-27 02:58] LeoColman commented on #1006
I think we could. People shouldn't depend on our extensions, I believe

[2019-10-28 02:33] atmikev commented on #971
I've put up what I'm assuming is a naive implementation of `unique()`. Let me know what you think / where it could improve.

[2019-10-28 08:59] dizney commented on #950
It does work for me, but i need to set IsolationMode to _InstancePerTest_.
If i use _SingleInstance_ or _InstancePerLeaf_ i get:

[code]

The _TransactionalTestExecutionListener_ expects every test finished before starting a new test, which is not the case for nested tests when using _SingleInstance_.

[2019-10-28 09:19] #1006 closed, assigned to nobody

[2019-10-28 10:21] LimmaPaulus opened #5531 "Support EnvFile-plugin"
EnvFile plugin allows one to specify file, where the plugin then loads environment variables used in execution.

https://plugins.jetbrains.com/plugin/7861-envfile/

It somehow (I don't really have any idea of IntelliJ plugin development) add's a new tab with title "EnvFile" to most of run configurations. E. g. JUnit and Kotlin run configurations have this option. However, the tab is not present in

[2019-10-29 02:36] #971 closed, assigned to nobody

[2019-10-29 18:33] sksamuel opened #1058 "Exception in val fails discovery"
This says no tests were found with no indication of the exception

[code]

[code]

[2019-10-29 18:42] sksamuel opened #1059 "Add "ExecutionContext" object to extensions"

[2019-10-29 19:21] sksamuel opened #1060 "Add matcher shouldBeEmpy on Iterable/Iterator"

[2019-10-29 19:28] sksamuel opened #1061 "json matchers are not infix"

[2019-10-29 23:38] lgtout opened #1293 "Why does KotlinTest IDEA plugin only nest the first leaf when using IsolationMode.InstancePerLeaf?"
When I do this:

    class KotlinTestNestingWithAndTests8 : BehaviorSpec() {

        override fun isolationMode() = IsolationMode.InstancePerLeaf

        init {
            given(" Some given") {
                and("Some and") {
                    `when`("Some when") {
                        then("First then") {
                            (1).shouldBe(1)
                        }

[2019-10-30 00:51] LeoColman commented on #1059
Could you elaborate a little bit on this one?

[2019-10-30 00:52] LeoColman commented on #1058
Does the same thing happens if we go

[code]
?

[2019-11-01 15:11] sksamuel opened #1065 "Add regex shouldBe"
Regex's don't implement equals, so, `"a.*".toRegex() shouldBe "a.*".toRegex()` fails.
We should add a new matcher `shouldBeRegex` or similar.

[2019-11-01 16:33] sksamuel opened #1066 "Fuzz testing (json?)"
https://en.wikipedia.org/wiki/Fuzzing
https://github.com/npryce/snodge

[2019-11-01 16:34] sksamuel commented on #5534
I mean in the "structure" view.

[2019-11-02 11:13] BorzdeG opened #1067 "Type mismatch for haveKey: Map and (Mutable)Map"
kotlintest version: 3.4.2
kotlin: 1.3.50

![image](https://user-images.githubusercontent.com/2332528/68070087-89b9bf80-fd7a-11e9-9b46-de53592388c6.png)

[2019-11-04 01:15] atmikev commented on #1067
I'm not able to reproduce this on the `3.4` branch with kotlin `1.3.50`. I copied the code to `MapMatchersTest.kt` and compiled without the error.

Is anyone else able to reproduce?

[2019-11-04 01:24] atmikev commented on #1060
@sksamuel Are you talking about supporting anything that implements the `Iterable` interface (aka making a new `iterables` package), or adding to the existing matchers?

[2019-11-04 01:24] sksamuel commented on #1067
Do you have the new type inference module turned on in intellij?

On Sun, 3 Nov 2019 at 19:15, Tyler <notifications@github.com> wrote:

[2019-11-04 01:57] sksamuel commented on #1060
The existing one could have it's extension class changed, existing code
should be unaffected.

On Sun, 3 Nov 2019 at 19:24, Tyler <notifications@github.com> wrote:

[2019-11-04 08:11] jensbaitingerbosch opened #1068 "for* (forAll etc) should accept supend functions"
when you want to test suspend functions with `forAll`, `forOne`, ... you need to suround it with `runBlocking`:

[code]

it would be be easier if these method in kotlinTest.Inspectors would accept a supend functions like:

[code]

[2019-11-04 08:52] BorzdeG commented on #1067
@sksamuel yes. When you turn off the error disappears

![image](https://user-images.githubusercontent.com/2332528/68108628-52255180-fef9-11e9-819e-c7f31bcfffe6.png)

IntelliJ IDEA 2019.3 EAP (Ultimate Edition)
Build #IU-193.4932.9, built on October 30, 2019

[2019-11-04 17:12] LeoColman commented on #1068
I think this is a duplicate of #717.

I started the implementation there, but never had time to finish it. It's also probably outdated, but somethings may be reused

[2019-11-04 17:12] #1068 closed, assigned to nobody

[2019-11-04 19:03] #1060 closed, assigned to nobody

[2019-11-05 14:21] gigaSproule opened #5530 "Include system environment variables by default"
I've just been bashing my head against the wall as to why my test kept throwing an `IOException` with Access Denied when trying to create a temp file. It was trying to create a file under `C:\Windows` because the system environment variables weren't being included as part of the run configuration. By simply checking `Include system environment variables`, the files were being created under `C:\Use

[2019-11-05 21:02] LeoColman commented on #5530
Closed as per kotest/kotest-intellij-plugin#28

[2019-11-05 21:02] #5530 closed, assigned to nobody

[2019-11-06 13:02] LeoColman opened #1072 "Add documentation for Pitest integration"
In issue #680 we added support for Pitest.

However, there is no documentation on how to use it. We probably should have it.

[2019-11-08 13:47] #1072 closed, assigned to LeoColman

[2019-11-08 13:52] LeoColman opened #1075 "Change snapshot pointing to Kotest"
In effort to move forward to changing our name to Kotest, we already changed the name of all our packages and artifacts to Kotest.

With this, the maven snapshots are outdated, and new snapshots are being published to `io.kotest`.

To allow more people to test our new things, let's change the `Snapshot` shield to `Kotest`!

[2019-11-08 17:39] sksamuel commented on #1075
I think we should do an 3.4 release this weekend. Updating the arrow dependencies specifically as 0.10 is not backwards compatible with 0.9 and its breaking things.

[2019-11-08 18:07] LeoColman commented on #1075
Sure

[2019-11-08 20:55] sksamuel commented on #1075
the release/3.4 branch has been updated to work with gradle 5.6 and it's upgraded to arrow 0.10.0

[2019-11-08 22:42] #1075 closed, assigned to LeoColman

[2019-11-08 22:43] LeoColman commented on #1075
Do we want anything else at 3.4.3?

[2019-11-08 22:43] LeoColman commented on #1075
There are some easy-to-merge things, but I don't want the branches to get so different that they'll be hard to mantain

[2019-11-10 06:06] sksamuel commented on #1075
We could put in anything really straightforward.

On Fri, 8 Nov 2019 at 16:43, Leonardo Colman Lopes <notifications@github.com>
wrote:

[2019-11-10 15:27] EarthCitizen opened #1077 "Gen.take Should Allow Zero for Amount to Take"
`Gen.take()` should allow an amount of zero to be taken.

[2019-11-10 15:28] EarthCitizen opened #1078 "Gen.string() Should Use the New Gen.char()"
`Gen.string()` should be refactored to use the new `Gen.char()`.

[2019-11-11 16:06] LeoColman commented on #1077
Why should it, tho?

Could you provide an use case to where one might want to take 0 values from a `Gen`?

[2019-11-11 17:54] sksamuel commented on #1077
You might be passing in a random number.
Either way it probably shouldn't error.

On Mon, 11 Nov 2019 at 10:06, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-11-11 17:58] EarthCitizen commented on #1077
The first point is that this will match the behavior of the `take()` functions on Kotlin collections which only throw exceptions if the value is negative. IMO, this is the behavior that end users will probably expect from `Gen.take()` as well.

Where I would like to use this is in  #1078 (implement `Gen.string()` with `Gen.char()`). In this case a string can have a minimum length of 0 (or higher)

[2019-11-11 17:59] LeoColman commented on #1077
Sure. We can require >=0.

[2019-11-11 17:59] LeoColman commented on #1077
Not labelling this as a bug because originally we thought that the intended behavior was to take a specific > 0 amount.

[2019-11-12 01:44] sksamuel opened #1079 "Gen.combine"
Not sure if we have a method to take one or more gens and then allow us to return a new combined gen.

Gen.combine or Gen.flatMap

[2019-11-12 02:07] LeoColman commented on #1079
What type should `Gen.combine` be of?

[code]

[2019-11-12 02:13] sksamuel commented on #1079
Yeah :

[code]

[2019-11-12 12:30] ashishkujoy commented on #1079
How that will be different from the existing
[code]

[2019-11-12 12:36] LeoColman commented on #1079
Oh, I thought that `combine` would mean merging two `Gen` in a single one. If that's not it, then I believe @ashishkujoy has the method to do it, which is part of our API already

[2019-11-18 19:27] bbaldino opened #5529 "Error in scoping for output"
The following test class:
[code]
when run with the kotlintest plugin (version `3.3.0.11`), looks like this:
![image (1)](https://user-images.githubusercontent.com/4016469/69083076-3e4c1600-09f6-11ea-8e59-4b2d254b4076.png)

But if I delete the kotlintest run configuration and run it with the junit runner, it looks as expected:
![image (2)](https://user-images.githubusercontent.com/4016469/69083110-

[2019-11-19 07:54] Cotel opened #1082 "Can't run any test (Gradle project)"
I just added kotlintest to my Gradle project:

[code]

And when I try to run any test it fails with the following exception, although it finds tests and display them correctly at the Run tab in the IDE.

[code]

*EDIT*:

I've tried to disable other dependencies to see if there is any conflict and this exception pops up if I use `arrow-ank`.

[2019-11-19 10:06] sksamuel commented on #1082
Looks like a version mismatch on coroutines.

On Tue, 19 Nov 2019, 01:55 Miguel Coleto, <notifications@github.com> wrote:

[2019-11-20 08:46] marisveide opened #1084 "Compare two strings and show results with diff - which allows to quickly spot the difference"
When comparing two strings with #kotlintest with the test like this:
[code]

, the output looks like this:

[code]

Even with such a short string - it's quite hard to spot, what exactly differs between those two strings. And it's much harder if comparing longer strings, or object attributes, as the result becomes just one long horizontally scrollable line.

However - we are all very used to read t

[2019-11-20 17:57] LeoColman commented on #668
Bumping for discussion purposes.
There are some cases we didn't decide what to do

[2019-11-20 20:29] YegorBabarykin opened #1085 "Why AbstractFreeSpec.FreeSpecScope String.config test function is not suspend"
Why AbstractFreeSpec.FreeSpecScope method suspend fun String.config have argument test with type `FreeSpecScope.() -> Unit` not `test: suspend FreeSpecScope.() -> Unit` ?

In current state i can't test suspend functions

[2019-11-21 16:07] #1077 closed, assigned to EarthCitizen

[2019-11-23 18:32] asm0dey opened #1088 "Property based tests for strings do not generate multi-code-unit graphemes"
There are classes of algorithms which will fail on hieroglyphs. But currently I had no luck in waiting for at least one hieroglyph to be generated.

[2019-11-23 18:45] LeoColman commented on #1088
Hieroglyph as in egyptian hieroglyph?

[2019-11-23 18:47] asm0dey commented on #1088
Or like in Hiragana/Katakana.

Proposed fix is to add following generator:

[code]

[2019-11-23 18:48] asm0dey commented on #1088
Anyways currently algorythm is restricted to ASCII-printable characters, which is not sufficient for most languages.

[2019-11-23 22:45] EarthCitizen commented on #1088
@asm0dey I am currently working on a change to `Gen.string()` that will take a custom `Gen.char()` as a parameter. This will allow generating strings of any character set that you like. That new `Gen.char()` should be in the next major release.

For the time being, you will, unfortunately, have to make your own generator.

[2019-11-23 23:01] LeoColman commented on #1088
@EarthCitizen
I suppose they can use the snapshot versions or copy your generator for the time being.
But that's true, it's possible to use the new syntax

[2019-11-24 05:56] asm0dey commented on #1088
That's a shame :(
I'm giving a talk about kotlintest on the start of December and would like to talk about property-based testing.
Why is it change for new major release? It doesn't break anything, it's just overloaded methos, isn't it?

[2019-11-24 19:10] sksamuel commented on #1088
When is your talk Paul ?

On Sat, 23 Nov 2019, 23:59 ryandanielspmc, <notifications@github.com> wrote:

[2019-11-25 04:06] sksamuel opened #1089 "Kotest Roadmap 4.1"
- [x] - Highlight diff when comparing data classes #826 #1242
- [x] - Arb.list doesn't use ListShrinker #1493
- [x] - Add Arb.choose that accepts weighted arbs #1499
- [x] - Add property test Arb for (lat, long) #1304
- [x] - Remove kotlintest aliases #1457
- [x] - Improve error message in tolerance matchers #1230
- [x] - Arb.bind<T>() calls the incorrect constructor #1487
- [x] - Integration with

[2019-11-25 04:24] sksamuel commented on #1085
Fixed, will be in 4.0

[2019-11-25 04:24] #1085 closed, assigned to nobody

[2019-11-25 04:28] #1065 closed, assigned to nobody

[2019-11-25 04:28] #1028 closed, assigned to nobody

[2019-11-25 04:30] sksamuel commented on #1018
Duplicate of #815. Will be included in release 4.0

[2019-11-25 04:30] #1018 closed, assigned to nobody

[2019-11-25 04:32] sksamuel commented on #1015
We could do something like,

someFun.shouldBeInvoked {
 .. some code here that uses "it".
}

It wouldn't be as powerful as mocking, but might be ok for simple scenarios.

[2019-11-25 04:35] sksamuel commented on #1059
When you're writing a test extension (not a listener), an ExecutionContext object could be passed in, like JUnit does, with the current state of the engine. Things like: all the discovered specs, the current configuration.

See https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExtensionContext.html

[2019-11-25 04:39] asm0dey commented on #1018
Sorry guys, any ETA for 4.0?

[2019-11-25 04:39] #947 closed, assigned to nobody

[2019-11-25 04:39] #975 closed, assigned to nobody

[2019-11-25 04:42] sksamuel commented on #919
This is a duplicate of #815

[2019-11-25 04:42] #919 closed, assigned to nobody

[2019-11-25 04:47] sksamuel commented on #668
We don't need to worry about equals. We can just do what compareTo guarantees - less than, greater than.

[2019-11-25 04:52] sksamuel opened #1090 "Strip arrow `Try` from core"
In core, we are using Arrow for `Try` only. As this is now deprecated, and will be removed, we should remove uses of it from core.

[2019-11-25 04:57] sksamuel commented on #1018
End of Dec. You can always run from a snapshot 4.0 build as that has seeds already, but no guarantees of stability yet.

[2019-11-25 05:04] sksamuel opened #1091 "Timeout as function"

[2019-11-25 09:11] vlsi commented on #1088
@sksamuel , Generex [does not always work](https://github.com/mifmif/Generex/issues/52).

See an improved implementation here (Apache 2.0 code ahead): https://github.com/gradle/gradle/pull/10724/files#diff-e0e8aa809ead1923ecb7a8c1aaffc054R33-R34

In practice, it is complicated to generate a string with pre-defined length.
For instance, if the regexp is`aaa|bbbbb`, and you want to generate a string

[2019-11-25 10:29] asm0dey commented on #1088
@sksamuel December, 5-6:
https://heisenbug-moscow.ru/en/

[2019-11-25 13:31] LeoColman commented on #668
I'm afraid that some matchers will become ambiguous.
[code]

Should it use the `Comparable` matcher or the `Double` matcher?

[2019-11-25 13:34] LeoColman commented on #668
Also, what should we do about the current comparable matchers?

https://github.com/kotlintest/kotlintest/blob/master/kotest-assertions/src/commonMain/kotlin/io/kotest/matchers/comparables/ComparableMatchers.kt

Probably just enhance them, right?

[2019-11-25 13:52] sksamuel commented on #668
I think we use Comparator where possible and deprecate the older ones.

On Mon, 25 Nov 2019, 07:34 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-11-25 17:34] LeoColman commented on #1090
What's `Try`'s replacement?

[2019-11-25 17:35] sksamuel commented on #1090
Either.

On Mon, 25 Nov 2019 at 11:34, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-11-26 13:02] sksamuel opened #1095 "Property tests size or distribution parameter"
When generating random values, we probably don't want an even distribution.
For Gen.int we probably want more lower values than values of 4231654543 for example.

[2019-11-26 13:03] LeoColman commented on #1095
Could you elaborate a little bit on this one?

[2019-11-26 13:29] sksamuel commented on #1095
Yes once on a computer. I just create the ticket so I don't forget.

On Tue, 26 Nov 2019, 07:03 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-11-26 15:05] kboom opened #1096 "Allow referencing the extension"
JUnit 5 has a neat extensions functionality which is not compatible with kotlintest even if it runs on JUnit framework. While the simple use cases in which we just need to log something can be handled by the `TestListener`, we cannot handle more advanced cases. In particular, how to interact with the extension (which seems reasonable and extremely useful)? Ideally, I would like to get a hold of th

[2019-11-26 15:10] LeoColman commented on #1096
You can keep a reference to the listener and then pass it to override

[2019-11-26 16:50] sksamuel commented on #1096
I don't quite understand the use case.

Does what @Kerooker says work?
[code]

[2019-11-26 17:02] LeoColman commented on #1096
I've done that in the past.

[2019-11-26 17:05] LeoColman commented on #1096
The use case is the following:

Suppose we have an embedded database. This database can be operated on, but it also depends on the lifecycle of the tests.

1. At the beggining, create the DB
2. At the end, destroy the DB
3. At any time, execute an operation on the database via this helper

[code]

This database is destroyed after all tests are executed, but I need the reference inside the tests. T

[2019-11-26 17:46] sksamuel commented on #1096
I don't know if that's the OP's exact requirement. If it is then what you said would work.

[2019-11-26 18:10] sksamuel commented on #1082
Can you see if you're using a 1.3+ version of coroutines in the build ?

[2019-11-26 18:13] sksamuel opened #1097 "Error in spec initialization is cryptic with recent intellij"
[code]

Gives no indication of the actual exception.

[2019-11-26 18:23] sksamuel commented on #1097
Seems same is happening with an exception in beforeSpec

[2019-11-26 20:40] sksamuel opened #1098 "Eventually should be inline to support suspension"

[2019-11-27 07:15] EarthCitizen commented on #1095
This might be interesting ancillary information:

http://hackage.haskell.org/package/hedgehog-1.0.1/docs/Hedgehog-Range.html#t:Range

HedgeHog (a property-based testing library for Haskell), has range, size, and scale. You choose your bounds (range) and type of distribution along the bounds (scale), then in the tests, you can modify the size in the tests or allow the generated size to flow through

[2019-11-27 07:30] kboom commented on #1096
Thanks guys, it indeed works fine.
It might not be directly apparent though so I would recommend enhancing the readme to make this pattern absolutely clear.

[2019-11-27 07:30] #1096 closed, assigned to nobody

[2019-11-27 13:44] sksamuel commented on #1095
Very good information thank you.

So bounds on Gen<Int> might be 0,1000 and with a linear scale we  might
have size 0 10 20 ... 1000 and with scale exponential we might have 0 2 4 8
16 .. 512

On Wed, 27 Nov 2019, 01:15 EarthCitizen, <notifications@github.com> wrote:

[2019-11-27 14:02] sksamuel opened #1099 "Error if edge cases in gens is larger than iterations"

[2019-11-27 14:24] LeoColman commented on #1098
Becareful with inlining everything.
If it's small, then it's ok, but if it calls many internal methods (like the properties functions), it might be dangerous to force the compiler to do all the inlining.

My initial experiments with inlining property testing functions lead to a 2h compile time, and I had to restart everything

[2019-11-27 14:24] LeoColman commented on #1097
I thought we already fixed this previously

[2019-11-27 14:24] LeoColman commented on #1097
Did we revert that?

[2019-11-27 18:52] LeoColman opened #1100 "Create generator that poll lines from a file"

[2019-11-27 21:21] sksamuel commented on #1098
It only inlines that single call. The rest is unchanged.

On Wed, 27 Nov 2019, 08:24 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-11-28 11:11] ashishkujoy opened #1102 "Provide a private method in Gen to get Random for a given seed"
In various gens for  `Gen.random(seed)` we have repetition of
`val r = if (seed == null) Random.Default else Random(seed)`
I think it makes sense to provide that as a private function in Gen

[2019-11-29 02:53] LeoColman opened #1104 "Add support for JUnit 4 again"
Removing support from JUnit 4 was a mistake.

Android UI tests cannot run without JUnit 4.

Perhaps it's better to implement a Android-runner than the JUnit4 runner? (Although they'll be the same?)

[2019-11-29 04:23] sksamuel commented on #1104
Yep. It wasn't removed in a release though was it ?

On Thu, 28 Nov 2019 at 20:53, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-11-29 06:23] LeoColman commented on #1104
No, snapshots only

On Fri., Nov. 29, 2019, 01:23 Stephen Samuel, <notifications@github.com>
wrote:

[2019-11-29 08:13] Cotel commented on #1082
I am not using coroutines in the project but I can confirm Ank brings kotlinx-coroutines-core 1.1.1 and even 0.26.1-eap13. I think we can close this issue as it is not a problem in this library.

Thank you for your time 😄

[2019-11-29 08:13] #1082 closed, assigned to nobody

[2019-11-29 12:31] LeoColman commented on #1082
Thanks for the heads-up, Cotel!

[2019-12-03 09:10] nanodeath opened #1105 "Document usage for Kotlin/JVM in Multiplatform projects"
[code]
doesn't seem to work in multiplatform projects.
However, this does:
[code]

[2019-12-03 13:02] sksamuel opened #1106 "Json matcher should output errors in the intellij "diff" format"

[2019-12-03 13:47] #668 closed, assigned to LeoColman

[2019-12-03 16:32] mtraynham opened #1107 "Exception Handling with 3.4.1"
On 3.4.0, a NullPointer exception would just fail the particular test case that encountered the exception.  By upgrading to `io.kotlintest:kotlintest-runner-junit5:3.4.1`, a NullPointer now dumps a pretty nasty stack trace with Gradle and it seems to mark the test case as failed twice, with one of the errors being `com.me.test.TestSpec > com.me.test.TestSpec > executionError FAILED`.

----
On 3.4.

[2019-12-05 08:41] lukitoki1 opened #1108 ""Received a failure event for test with unknown id 'x.y'" (possible regression since version 3.4.1)"
Repository to reproduce the bug: https://github.com/lukitoki1/KotlintestRegressionBug

In my test project I am using Kotlintest with the dependency injection handled by Koin v. 2.0.1. Up until Kotlintest version 3.4.0 all the tests were being executed correctly.

But, since version 3.4.1 upwards(it's also present in the newest 3.4.2 release), there is a strange bug. It appears when below condition

[2019-12-05 11:23] Savrov opened #1109 ""Then" is only printed out in console"
Hello, im using KotlinTest for server-side development in Kotlin with Ktor framework. Since its going well, but I have a small issue with printing out results into console.
If I have a test like this (see screenshot1), I won't get nothing but "then" state (screenshot2).

screenshot1
![Screenshot 1](https://user-images.githubusercontent.com/5410076/70230714-3b248a00-1759-11ea-9fa6-a74b847b45ec.png)

[2019-12-05 12:45] marceloverdijk opened #1110 "Q: What is the idiomatic way to use customer generators?"
How should custom generators be called?

Like:
[code]

I can call it like `PersonGenerater().random().first()` to get a single random instance.

But how should this custom generator be used in combination with `forAll` to test edge cases?

[2019-12-05 13:30] LeoColman commented on #1110
First things first, you're the one who generate edge cases. So for instance, you want a special case for a person which have a `'` on their name. You should add that as a constant, to make sure you're using the edge cases.

To use generators and `forAll`, `assertAll` and other similar function, I usually write a single test that use the values. For example:

[code]

This invocation will exhaust al

[2019-12-05 15:06] marceloverdijk commented on #1110
Thanks for your swift answer 👍

I missed the `assertAll()` on the generator class, but this explains it.

I initially thought that the generator would register itself in the Gen object somehow,
making it possible to do something like `Gen.object<Person>().random().first()` in my code..

[2019-12-05 15:18] LeoColman commented on #1110
Ah, I see.
We don't scan classpaths or anything like that to find your gens, although a `Gen.register(myGen)` wouldn't be absolutely bad

[2019-12-05 19:24] StragaSevera opened #5528 "Is there a way to run all tests in the project through this plugin?"
When I'm trying to run all tests - by right-clicking on tests folder - it always runs the JUnit test, not KotlinTest test. Is there a way to make a run configuration for running all tests in the project using this plugin?

[2019-12-05 19:40] StragaSevera opened #5527 "Runner has wrong nesting of describe-it blocks when using IsolationMode.InstancePerLeaf"
I have this code:
[code]

And it results in this output: https://i.imgur.com/eljGuo9.png
All three tests should be grouped under the Describe block, not only first test. This problem exists only if using IsolationMode.InstancePerLeaf mode.

[2019-12-05 20:13] StragaSevera commented on #5536
What is the progress on this issue? It would be very handy to not manually run tests each time there is a change.

[2019-12-05 20:19] StragaSevera opened #5526 "Table-driven test shows as stopped instead of failed"
When a table-driven test fails, the plugin shows it as stopped instead of failed:
https://i.imgur.com/vPkI2oq.png

It would be great if it was showing as red instead of grey - and it would be even more great if the plugin made a sub-test showing the status of each separate data row.

[2019-12-06 16:18] LeoColman commented on #1110
@marceloverdijk I'll close this issue, ok?
If you still have questions feel free to either ask another one or ask to reopen this

[2019-12-06 16:18] #1110 closed, assigned to nobody

[2019-12-07 15:32] sksamuel opened #5525 "Inspection for non zero arg constructor"

[2019-12-09 03:52] EarthCitizen commented on #1088
@asm0dey After looking into this issue a bit, the JVM and JS have poor support for UTF-16, and as a result, Kotlin as poor support for UTF-16. A single hieroglyph has a length of 2 instead of 1 like many languages that do have proper UTF-16 support. Mainly the problem is that one hieroglyph will not fit into one `Char`. It has to have two `Char`s to represent that. This greatly complicates generat

[2019-12-09 04:02] EarthCitizen opened #1113 "Add Char Equivalent of IntMatchers"
For the type `Char`, there are not equivalent matches as in `IntMatchers.kt` and `LongMatchers.kt`. Namely, `shouldBeInRange`.

[2019-12-09 10:01] asm0dey commented on #1088
@EarthCitizen but in my example here (with wideString method) hteroglyphs are being generated, you can test it yourself. And of course it fits into char

[2019-12-09 16:45] EarthCitizen commented on #1088
@asm0dey Let's take for example the Egyptian Hieroglyph 𓅔. The Unicode integer value for this character is 0x13154 (78895). The largest number that can fit into a `Char` is 0xFFFF (65535), a 16-bit number. When I convert 0x13154 to `Char`, I get this:
[code]
That is not 𓅔. Furthermore, when you do this:
[code]
The length is 2, even though it is one character.

Whereas:
[code]
And as can be seen he

[2019-12-09 16:56] asm0dey commented on #1088
Yes, of course I'm talking about char-length symbols.

[code]
So I'm talking about Chinese (Japanese and so on) hieroglyphs.

And current String generator generates only ASCII symbols which is indeed not enough for good property-based testing — just lots of corner cases are lost.

[2019-12-09 18:03] EarthCitizen commented on #1088
@asm0dey I think the confusion was over the use of the work “hieroglyph”. Most commonly this is used to refer to Egyptian hieroglyphics.

Your generator will work for characters <= 0xFFFF, but you just need to take care not to accidentally generate surrogate pairs.

[2019-12-10 07:04] asm0dey commented on #1088
@EarthCitizen agreed. In the meantime I propose to replace current string() generator with my implementation cause it's almost as fast as current one, but strings generated are more convenient for property-based testing.
Also, current string generator can be called like `asciiString()` which is convenient for _some_ cases.

[2019-12-10 08:57] elennaro opened #1114 "kotlintest shouldMatchJson does not show error"
It just shows java.lang.AssertionError:
	at **$*(**Test.kt:111)

[2019-12-10 09:16] gigaSproule opened #1115 "Pitest plugin in Maven"
I'm trying to run the pitest plugin via maven, but it's always failing with this error:
[code]

My pom configuration is:
[code]
The actual command I'm running is `mvn org.pitest:pitest-maven:mutationCoverage`. Is there something that I have missed out?

[2019-12-10 16:50] sksamuel opened #1116 "Matchers for regex to string"
We have matchers that test `string.shouldMatch(regex)` but we need the same for `regex.shouldMatch(string)`. Perhaps we clarify the naming too.

[2019-12-10 17:45] EarthCitizen commented on #1088
@asm0dey Are you aware that you can pass custom generators to `assertAll` and `forAll`?

[2019-12-10 20:33] asm0dey commented on #1088
@EarthCitizen I am. But once again: my point is current implementation is not sophisticated enough.

[2019-12-10 21:24] EarthCitizen commented on #1088
@asm0dey That point is understood. And as explained before, there is work underway that fixes exactly the problem you are having. For the time being, there is a reasonable workaround. The only change you need to make in your custom generator is to skip the following integer ranges when generating your values:

0xD800 to 0xDBFF
0xDC00 to 0xDFFF

If you make that small change to your generator, it s

[2019-12-10 23:30] #1036 closed, assigned to nobody

[2019-12-11 18:32] LeoColman opened #1118 "Improve documentation on Listeners and Extensions"
We have a page called `extensions` that documents both Extensions and Listeners
https://github.com/kotlintest/kotlintest/blob/master/doc/extensions.md

It's not exactly clear what use case is good for listeners, what are our current listeners...

Even our `SpringListener` is listed as `Spring Extension` at our main reference. This is confusing and should be improved.

[2019-12-11 18:46] LeoColman commented on #1115
Ok, on a preliminary analysis, it seems that Pitest is examining some things from our pom:

https://github.com/hcoles/pitest/blob/41a3aa0d276189d1d21635cb48f052b31dfb8183/pitest-maven/src/main/java/org/pitest/maven/DependencyFilter.java#L46

It's looking for some information specific to Maven: `Implementation-Title` and `Implementation-Vendor`. We currently don't write that to our pom, and probabl

[2019-12-11 18:54] LeoColman commented on #1115
@sksamuel
Could you investigate a little bit on this? I think you're the one that setup our publishing and pom shenanigans

[2019-12-12 17:02] LeoColman opened #1119 "String shouldbe UUID matcher"

[2019-12-13 02:36] sksamuel opened #1120 "New generators"
Hedgehog has a ton of good gens we could inplement for kotest.

http://hackage.haskell.org/package/hedgehog-1.0.1/docs/Hedgehog-Gen.html

[2019-12-13 03:44] EarthCitizen commented on #1120
The character-based ones can be churned out pretty quickly once we have the new `Gen.string()` merged.

[2019-12-13 12:17] sksamuel opened #1121 "Property Test Discussion"
I am working on overhauling our property testing as part of the upcoming 4.0 release. To this end, I have brought together the requirements (based off tickets existing in this tracker), and come up with a basic design. I would like feedback on this design before I fully implement it. There are also some questions that I don't have an answer to yet that I would like to discuss. At this stage everyt

[2019-12-13 12:27] sksamuel commented on #1120
Agreed. See my latest ticket on property test discussion too.

[2019-12-14 00:34] LeoColman commented on #1121
**Deterministic Re-runs**
I have a suggestion for the deterministic re-runs: Allow for passing multiple seeds. I don't really know how this would execute, but my idea is the following:

I run property test, and my test fails. I know the seed of the failure, so I want to execute values from that seed as I know they'll fail. I then make the test pass.

After the test passes, I'll always use the same

[2019-12-14 01:47] LeoColman commented on #1121
**Exhaustive**

How would we know if it's supported? Could we split between `interface ExhaustiveGen` and `interface RandomGen`? Or maybe something inbetween?

I don't really like doing magic based on a parameter. For example, Without looking at the code, I must know if `Gen.int()` is exhaustible or not. But how could we do that?

[2019-12-14 04:29] sksamuel commented on #1121
The generator itself would know if it's supported and return the
appropriate sequence.

On Fri, 13 Dec 2019, 19:47 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-12-14 07:06] xgouchet commented on #1121
@Kerooker regarding the deterministic re runs, I think what should be done is by default leave the seed null (changing everytime), and if a test failed, print to System.err the seed that was used for the failing test.

You can then apply that same seed to reproduce the failing case, fix your code so the tests pass, and then remove the seed again to resume using random seeds.

[2019-12-14 16:05] LeoColman commented on #1121
@xgouchet
To fix the code, I should create a test that catches that regression if it ever happens again. And for that, I will probably have to create more example-based tests.

That's better than having more than one seed, probably

[2019-12-14 16:23] LeoColman commented on #1121
**Distribution**

I think so, yes.

[code]

[2019-12-14 17:16] sksamuel commented on #1121
In that case I'm not sure of the value of the "built in" ones. Could just be an interface and each gen provides zero or more implementations.

[2019-12-14 17:16] sksamuel commented on #1121
Yes I think so. I'm not a fan of multiple seeds.

[2019-12-15 00:37] LeoColman commented on #1121
appropriate sequence.

How would I know it's supported? For example, I want to test all integers. How can I know if it supports exhaustiveness until I try to execute it?

[2019-12-15 01:07] sksamuel commented on #1121
You know the iteration count and you know your own range.

On Sat, 14 Dec 2019, 18:37 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-12-15 01:07] sksamuel commented on #1121
Take a look at the Gen.int implementation I included

On Sat, 14 Dec 2019, 19:06 Stephen Samuel (Sam), <sam@sksamuel.com> wrote:

[2019-12-15 01:18] LeoColman commented on #1121
I would like a way to have this informed without having to look at the code. When dealing with a big code base, having to look if the `Gen` is exhaustive or not might be a little bit troublesome. And even more problematic if the `Gen` is very complex, such as generating far too many business rules for an example-based test to be enough

Perhaps splitting exhaustivity and randomness into different

[2019-12-15 02:10] sksamuel commented on #1121
That's what Earth Citizen was saying with Series and Gen but you'll need a
way to make it work.

In the test method you're going to say something like forAll(1000) { ... }.

You probably won't know if the gen is exhaustive without looking at the
impl. For example a Gen for enums. You'd have to look at the impl to know
how many there are.

So if you ask for a Series it's kind of redundant to also a

[2019-12-15 02:32] LeoColman commented on #1121
A point I'd like to raise is `Gen` merge. I faced some cases like this:

[code]

This seems very long and not really reliable, as I'm skipping constants for example. I was trying to figure out a way to improve this kind of generation, but I couldn't come up with anything.

[2019-12-15 02:32] LeoColman commented on #1121
I'll try to think about that for some time. Perhaps @EarthCitizen have some ideas in that regard

[2019-12-15 02:37] sksamuel commented on #1121
You either need to specify a series and bounds and have it derive the
iteration count from that. Or specify the iteration count and the bounds
and have the gen work out if it can be exhaustive or not.

Pick your poison.

On Sat, 14 Dec 2019, 20:32 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2019-12-15 07:56] EarthCitizen commented on #1121
OK. So, here is a _**rough**_ idea of how the sealed classes idea could work. This is not intended to be complete, but rather a POC on the sealed classes approach.

### Goals:
- Separate these 3 concerns into separate classes:
    - Randomly generated values
    - Scaled values (this implementation does not meet the requirement of different distributions, but that could easily be fixed)
    - Seri

[2019-12-15 17:43] sksamuel commented on #1121
I do like the nomenclature of Series and Arbitrary as both subclasses of Gen (even though I think Arbitrary means something different in Quickcheck style property test frameworks).

I tend to drive my API design from a users perspective and not from an implementation one. So lets consider how this would work.

If we have `Series` and `Arbitrary` as subtypes of `Gen`, then if we want to use a Serie

[2019-12-16 07:53] EarthCitizen commented on #1121
Yeah, `Arbitrary` in QuickCheck is a typeclass. In this case I was looking for a synonym of random.

In the case of `Scaled`(not explained well in my previous post), the idea behind this was, for example, when you have an exponential scale (or another type of distribution curve) from 0 to INT_MAX, and you don't want to check every value, and shrinking back at the same increment becomes very easy.

[2019-12-16 15:47] ukleiner opened #1122 "Cant add Robolectric expermintal support to project"
Ok, so we just added Robolectric experimental support. Please take a look at the snapshot builds and help us test it!

_Originally posted by @Kerooker in https://github.com/kotlintest/kotlintest/issues/189#issuecomment-536223787_
I'm trying to add Robolectric experimntal support.
This is the simpel test
[code]
but i get a Type mistmach error KClass<! out Extension> required.
The same happens if I

[2019-12-16 15:48] LeoColman commented on #1122
Hey Wang! What's going on?

[2019-12-16 15:51] ukleiner commented on #1122
I'm new to all of this. I edited the original post with more information

[2019-12-16 16:10] sksamuel opened #1123 "Add date matchers to java.sql.Timestamp"

[2019-12-16 17:07] LeoColman commented on #1122
I know this will be a little bit complicated right now, as we are experimenting a lot, but it should work:

First add the snapshot repository to your `repositories`:

[code]

Then add the Robolectric Extension dependency to your dependencies:

[code]

Then in your tests that are going to use Robolectric, annotate them with `@RobolectricTest`.

To get robolectric working, you finally need to add it

[2019-12-16 17:59] sksamuel commented on #1121
I'm not clear on why you need Scaled as a type, when "scale" (or distribution) can be a parameter to those gen's that support the concept (like number based ones).

[2019-12-16 19:16] ukleiner commented on #1122
thank you for your answer.
I have problems arriving to the basic setup.
I am using Spek as comparison since both frameworks have the same syntax and everything should work by only changing the class name.
The example tests (I have two identical) look like this:
[code]
With Spek my setup is:
1. their plugin
2. apply plugin: "de.mannodermaus.android-junit5" (in build.gradle of the module)
3. testImp

[2019-12-16 19:36] LeoColman commented on #1122
It seems to me that `Spek` is stealing KotlinTest's execution.

I'm not sure if it's even possible to execute both tests in the same project. The same would happen if you tried to run `TestNG` tests together with `JUnit` tests.

@sksamuel Do you know if it's possible to use two JUnit runners in the same project without facing the issues @WangDea is describing?

Meanwhile,
@WangDea Could you verify

[2019-12-16 19:40] EarthCitizen commented on #1121
Yeah, I don't disagree. I was just explaining what I was trying to explain originally.

[2019-12-16 19:46] sksamuel commented on #1121
Ok, do you think it's worth pursuing that idea, or going down the line using distribution with the Arbitraries ?

[2019-12-16 20:14] EarthCitizen commented on #1121
Just thinking out loud, defining things with my own words to ensure I am not confused:

- `Arbitrary` - spot checking
    - distribution - means that over time the generated values show weighted preference toward certain places in the spectrum over others
    - scale - means that there is an upper limit placed on the magnitude/depth of the value generated, this can be optionally ignored by the `Ar

[2019-12-16 20:29] ukleiner commented on #1122
I used Spek only as a baseline for comparison.
I removed it from gradle.build & code, removed plugin, Invalidated and restarted project
same problems occur.
Running .`/gradlew test` I only get
[code]
I DON'T have a test block with `useJUnitPlatform()` since i get the following error
`Could not find method test() for arguments [build_65waqlvxxgxpqjuvrywpyrsti$_run_closure3@3b72328c] on project ':ap

[2019-12-16 20:49] ukleiner commented on #1122
Start a brand new kotlin project just to test it.
My test looks like this
[code]
- I still get the `SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"` error so I add the same library.
in total I only add this 3 dependencies
[code]
and configure build to use JUnitPlatform
[code]
Still not working

[2019-12-16 21:11] sksamuel commented on #1121
So my take on it is slightly different.

Series is for an exhaustive list of values. Maybe series is the wrong term.
`Series.int(0, 1000)` would generate all ints between 0 and 1000.

Arbitrary is for "random" values.
`Arbitrary.int(1000)` would generate 1000 random ints
`Arbitrary.int(1000, 0..10000)` would generate 1000 ints randomly distributed between 0 and 10000.
`Arbitrary.int(1000, 0..10000

[2019-12-16 22:29] EarthCitizen commented on #1121
Yeah, I think we are saying the same thing.

Scale (as a parameter) would be equivalent to the `Size` in Hedgehog. It is a way the gens can be globally shrunk by the testing framework, and as a global parameter at the point of test execution. Abstracting some of the bounding and shrinking to a higher level. It allows you to say "I want to scale down all of the tests in this particular suite", for

[2019-12-17 01:30] sksamuel commented on #1121
I see. I think it's probably more complicated than useful. You probably know the ranges when you're specifying the generators.
I'll have another go at an implementation for a further round of feedback.

[2019-12-18 22:00] LeoColman commented on #851
Closed as per #989

[2019-12-18 22:00] #851 closed, assigned to nobody

[2019-12-19 12:09] crazyk2 opened #1127 "Add date matchers to java.time.Instant"
I often use `Instant` as time measure. Pls add Instant with #1123.

[2019-12-19 19:24] LeoColman commented on #1127
@crazyk2
Were you thinking of what @ashishkujoy implemented?
Take a look at #1128

[2019-12-20 08:22] crazyk2 commented on #1127
@Kerooker Just one qst. Why code style is different from rest of all date\time assertions?
I mean take a look at
[code]
and
[code]

[2019-12-20 08:30] crazyk2 commented on #1127
And 2 assert (should\shouldNot I mean as 1 assertion) `after` and `before` are not enough. Where is `between`. As for me I would just copy file date/matchers.kt and delete unnecessary and replace `LocalDateTime` to `Instant`

[2019-12-20 10:43] marceloverdijk opened #1130 "[Q] Is BehaviorSpec Given block executed for each test?"
With:

[code]

Is the `duck` instance (re-)created for each test?
I need to create a new instance per test and I wonder it is correct behavior to use the `Given` block instead of the `beforeTest` fun?

[2019-12-20 10:47] marceloverdijk commented on #1130
It feels unnatural to have to do:

[code]

[2019-12-20 12:50] LeoColman commented on #1130
Depends on your `IsolationMode`. Check more documentation [here](https://github.com/kotlintest/kotlintest/blob/master/doc/isolation_mode.md).

What you should do to ensure `Given` is executed each time a test is executed, you should use `IsolationMode.InstancePerTest` or perhaps `IsolationMode.InstancePerLeaf`

[2019-12-20 13:11] marceloverdijk commented on #1130
Thanks! I missed the parted related to the `IsolationMode`. `IsolationMode.InstancePerLeaf`` is exactly what I was looking for 👍

[2019-12-20 13:11] #1130 closed, assigned to nobody

[2019-12-20 13:13] marceloverdijk commented on #1130
Btw, could I set this as default behavior in my `ProjectConfig` (extending `AbstractProjectConfig`)?
E.g. via a listener or extension?

[2019-12-20 13:17] LeoColman commented on #1130
You could, yes, override the `isolationMode` function in `ProjectConfig` and you should be good to go

[2019-12-20 13:22] marceloverdijk commented on #1130
`AbstractProjectConfig` does not have the `isolationMode` itself, what method should I override best then? Keeping in mind to be able to override it per Spec class if needed..

[2019-12-20 13:30] LeoColman commented on #1130
https://github.com/kotlintest/kotlintest/blob/7c1fa1bd74c38d71d9e7452f801b37244207d1f9/kotlintest-core/src/main/kotlin/io/kotlintest/AbstractProjectConfig.kt#L59

[2019-12-20 13:31] LeoColman commented on #1130
And yes, if you override it in the Spec it will be prioritized over default

[2019-12-20 13:42] marceloverdijk commented on #1130
Thx again. I was on `3.3.2` which not had the `isolationMode` in the `AbstractProjectConfig`.

[2019-12-20 14:12] LeoColman commented on #1130
Ah, I see xD
So is everything sorted out now?

[2019-12-20 14:38] marceloverdijk commented on #1130
Yes, thx for your swift replies!

[2019-12-23 20:48] sksamuel opened #1131 "Integration with konform"
Konform is quite nice. Should we add an assertions module that allows users to assert on the results of a konform validation ?

[2019-12-26 16:11] ashishkujoy commented on #1127
@crazyk2 @Kerooker Any feedback on last few commits

[2019-12-26 17:38] LeoColman commented on #1131
I'd say well, why not?

[2019-12-26 17:54] sksamuel commented on #1131
Cool, I like the library, and it would make testing validations easier.

[2019-12-26 20:33] sksamuel commented on #1121
Here is another implementation proposal based on feedback received so far.

tl;dr - there are two types of Gen. `Arbitrary` for random values and edge cases and `Progression` for an exhaustive set of values (maybe progression could be renamed to Exhaustive?). Therefore, no need for an exhaustive parameter anymore. The distribution parameter is now part of the arbitrary constructors so each arbitra

[2019-12-26 21:49] sksamuel opened #1134 "Add property test gen for emails"

[2019-12-27 04:43] sksamuel commented on #969
Under the current design of Arbitraries and Progressions we don't need an exhaustive flag anymore so closing this. Will reopen if we go back to it.

[2019-12-27 04:43] #969 closed, assigned to nobody

[2019-12-27 16:24] #717 closed, assigned to sksamuel

[2019-12-27 16:24] #780 closed, assigned to sksamuel

[2019-12-27 16:24] #967 closed, assigned to sksamuel

[2019-12-27 16:24] #1037 closed, assigned to sksamuel

[2019-12-29 12:54] meenakshi-dhanani commented on #1082
I ran all tests with the following:
./gradlew jvmTest
./gradlew allTests
None of these are creating a test report for all tests.

I've also tried running tests with IntelliJ, that doesn't work too, but that's a different issue. Could someone please help me get these tests running via command line?

[2019-12-29 15:49] LeoColman commented on #1082
Could you please open an issue for your problem? Please make sure to include the version you're running and the errors you're getting

[2019-12-29 17:32] #1127 closed, assigned to nobody

[2019-12-29 17:39] franz-see opened #1137 "How to get invited into Kotlintest Slack Channel?"
From the REAMDE, there's a link towards the Kotlintest Slack Channel, but there is no link on how to join it.

[2019-12-29 17:47] LeoColman commented on #1137
We use the public `KotlinLang` slack. To get an invite, check http://slack.kotlinlang.org/

[2019-12-30 06:10] meenakshi-dhanani opened #1138 "Can't find test reports for gradle task allTests"
I ran all tests with the following:
./gradlew jvmTest
./gradlew allTests
None of these are creating a test report for all tests.

Could someone please help me run and find reports for all tests using command line?

Please find my machine settings below:
openjdk 11.0.2

[2019-12-30 13:25] #1137 closed, assigned to nobody

[2020-01-02 09:10] sksamuel opened #1139 "Make table testing case consistent with kotlin"

[2020-01-02 12:10] xsveda opened #1140 "Redundant dependency on old kotlin-reflect library"
From version 3.4.0 KotlinTest depends on a very old version of `kotlin-reflect` library, see:
https://mvnrepository.com/artifact/io.kotlintest/kotlintest-assertions/3.4.2

`org.jetbrains.kotlin » kotlin-reflect | 0.11.91.1 (Mar 27, 2015)`

This causes as issues as the old version of `kotlin-reflect` depends on `com.google.protobuf:protobuf-java` which fails the build on project with Firebase SDK t

[2020-01-02 14:01] #1123 closed, assigned to nobody

[2020-01-05 03:53] sksamuel opened #1143 "Auto scan for project level extensions / listeners"
Since we will be scanning anyway for project config, may as well just pick up top level val or object declarations that are project listeners, and apply them.

[2020-01-08 00:11] sksamuel opened #1145 "Change when ready to be coroutine based and ext fun"

[2020-01-08 16:53] breandan commented on #1121
Thanks for the link @sksamuel! Skimming through the comments, just some initial thoughts.

Not sure if I understand how #1135 addresses #472 yet. One way is to strengthen compositionality, but I'm not sure if you want to support fully monadic binding as things start to become complicated pretty quickly. For example, to support composition with generator tuplings like we implemented in #506, if two

[2020-01-08 17:27] LeoColman commented on #1121
I think most cases have some standard default values. `Random` is a random seed, `iterations` is 1000 IIRC

[2020-01-08 22:22] sksamuel commented on #1121
@breandan

First of all, everything here is open to change.

For #472 the idea is that the `PropertyInput` keeps the previous input before it was mapped, so it use that in the "bare" shrinker to get the next shrunk value.

Of course, if you have bind and it has 8 inputs, you could be potentially shrinking 8 ways, so it's better to write something custom. We will support that (in the current rework

[2020-01-10 04:52] BorzdeG opened #1146 "An empty test name is not being processed correctly."
This test will not be called. And the error about the incorrect test name will not be shown.
In fact, this is a ghost test

My expectations (either):
1) An error about an incorrect name will be generated for such a test
2) for such a test a "random" test name will be generated

[code]

kotlintest: 3.4.2

[2020-01-10 08:45] xeruf commented on #720
Okay, seems to be working fine now, thanks :+1:

[2020-01-10 12:37] Deeds67 opened #1147 "forAll in combination with Gen.list always generates an empty list on first iteration if Gen has no constants"
When using forAll on a `Gen<List<T>>` created with `Gen.list`, where this Gen has no constants defined (empty list), the first iteration always returns [].

How to reproduce:

[code]

This always fails.

I suspect that the problem comes from https://github.com/kotlintest/kotlintest/blob/cd91426af2430309b293684464ab776e929d48d8/kotest-assertions/src/commonMain/kotlin/io/kotest/properties/PropertyTe

[2020-01-10 23:10] sksamuel commented on #1146
We should throw an error in this case.

[2020-01-11 17:22] sksamuel opened #1148 "AssertionFailedError from opentest4j is not handled properly intellij"
When using this assertion wrapper, intellij shows a failed test as red rather than yellow.
Should we ditch this wrapper ?

[2020-01-11 18:28] sksamuel opened #1149 "Remove Try matchers"
Try is deprecated in arrow 0.10.
We should remove the matchers for Try from kotest 4.0

[2020-01-11 20:28] LeoColman commented on #1149
Related to #1090

[2020-01-11 21:49] sksamuel opened #1150 "Better formatted error for map comparsion"
expected: {"test1"=FAILED, "test2"=FAILED, "com.sksamuel.kotest.runner.junit5.JUnitTestRunnerListenerTests"=FAILED, "Kotest"=SUCCESSFUL} but was: {"test2"=FAILED, "test1"=FAILED, "com.sksamuel.kotest.runner.junit5.JUnitTestRunnerListenerTests"=SUCCESSFUL, "Kotest"=SUCCESSFUL}

is awful to read

[2020-01-12 04:03] sksamuel commented on #1149
Done.

[2020-01-12 04:03] #1149 closed, assigned to nobody

[2020-01-12 04:07] LeoColman commented on #1149
Was #1090 Done too?

[2020-01-12 04:18] sksamuel commented on #1149
I've added the replacement Try and upgraded some files as part of the composable specs merge. But there'e still more to be done.

[2020-01-12 05:17] sksamuel commented on #1146
Fixed in master.

[2020-01-12 05:17] #1146 closed, assigned to sksamuel

[2020-01-12 05:22] sksamuel commented on #1145
Done.

[2020-01-12 05:22] #1145 closed, assigned to sksamuel

[2020-01-12 05:38] sksamuel commented on #1090
Done in master.

[2020-01-12 05:38] #1090 closed, assigned to nobody

[2020-01-12 06:20] #1050 closed, assigned to nobody

[2020-01-12 06:31] sksamuel commented on #1140
Checked reflection in master and all is good.

[2020-01-12 06:31] #1140 closed, assigned to sksamuel

[2020-01-12 06:43] sksamuel commented on #1034
JUnit Platform doesn't allow a test to be skipped after it has been started.
Therefore this functionality will be removed in 4.0 and a function "isActive" will be added to test config to allow you to use a function to determine if a test should run.

[2020-01-12 06:43] #1034 closed, assigned to sksamuel

[2020-01-12 07:06] sksamuel commented on #987
Current master (4.0) now allows this:

[code]

[2020-01-12 07:06] #987 closed, assigned to sksamuel

[2020-01-12 07:07] sksamuel commented on #813
The 4.0 coroutines support does everything we need from this so closing.

[2020-01-12 07:07] #813 closed, assigned to nobody

[2020-01-12 07:07] #1091 closed, assigned to nobody

[2020-01-12 07:20] #1079 closed, assigned to nobody

[2020-01-12 07:20] sksamuel commented on #1079
Already exists so closing.

[2020-01-12 07:22] sksamuel commented on #1026
In 4.0 (master, unreleased) the dependency on arrow is only in the assertions module. So whatever version you use in your project won't affect kotlintest itself.

Marking this as closed. We will do a 3.4.3 with arrow 0.10.x as well.

[2020-01-12 07:22] #1026 closed, assigned to sksamuel

[2020-01-12 07:28] sksamuel commented on #812
I think we can close this as unneeded.

[2020-01-12 07:28] #812 closed, assigned to nobody

[2020-01-12 08:10] JYCabello commented on #1026
Fantastic, thanks!
I'm any case, just excluding works, since the contract of the monads is not broken.

[2020-01-12 17:30] sksamuel commented on #837
This is now working in master.

[2020-01-12 17:30] #837 closed, assigned to sksamuel

[2020-01-12 17:37] sksamuel commented on #764
Fixed in master for 4.0 release.

[2020-01-12 17:37] #764 closed, assigned to nobody

[2020-01-12 17:52] sksamuel commented on #1098
Now working in master.

[2020-01-12 17:52] #1098 closed, assigned to sksamuel

[2020-01-12 23:31] sksamuel commented on #598
This is now supported in master (for 4.0 release) via the new test factory functionality.

[2020-01-12 23:31] #598 closed, assigned to LeoColman

[2020-01-13 01:15] sksamuel commented on #1097
This is now fixed in 4.0.

[2020-01-13 01:15] #1097 closed, assigned to sksamuel

[2020-01-13 01:17] #657 closed, assigned to nobody

[2020-01-13 01:19] sksamuel commented on #1058
Related to #1097

[2020-01-13 01:21] sksamuel commented on #1058
Added extra test to confirm 1097 fix also works.

[2020-01-13 01:21] #1058 closed, assigned to sksamuel

[2020-01-13 01:22] sksamuel commented on #1003
This is a bug in intellij.

[2020-01-13 01:22] #1003 closed, assigned to nobody

[2020-01-13 01:23] sksamuel commented on #774
Marking as won't fix.

[2020-01-13 01:23] #774 closed, assigned to nobody

[2020-01-13 01:27] #1049 closed, assigned to nobody

[2020-01-13 01:42] sksamuel commented on #1015
I've added the following matchers to master:

[code]

Does something like that work for you @joni-

[2020-01-13 05:00] sksamuel commented on #962
Fixed in master.

[2020-01-13 05:00] #962 closed, assigned to sksamuel

[2020-01-13 05:31] sksamuel opened #1151 "Consider unifying the data driven methods"
We have suspend and non suspend.
Let's consider inline, see what performance it has.

[2020-01-13 05:33] sksamuel commented on #1059
Upon re-visiting it, it seems the extensions have everything they need, so closing.

[2020-01-13 05:33] #1059 closed, assigned to nobody

[2020-01-13 07:33] sksamuel commented on #1143
Do we just detect any project wide listeners and add them ?
I think that is ok, why would you define a project wide listener if you weren't planning on using it.
Or we could have a marker annotation - @AutoScan
And we'll ignore private classes/objects.

[2020-01-13 16:07] sksamuel commented on #1104
Do android test still need junit4 with the recent work you've done ?

[2020-01-13 16:09] sksamuel commented on #1105
In kotlin dsl you would need this:

[code]

KT 4.0 will be fully MPP ready.

[2020-01-13 16:10] sksamuel commented on #1099
This is not needed in the 4.0 prop test design.

[2020-01-13 16:10] #1099 closed, assigned to nobody

[2020-01-13 16:10] LeoColman commented on #1104
Actually, let me see if there's a way to write tests without big workarounds using JUnit 5.

[2020-01-13 16:11] sksamuel commented on #796
Not needed in 4.0 prop test design.

[2020-01-13 16:11] sksamuel commented on #794
Question/todo: add extension callbacks to the new DSL like the other callbacks.

[2020-01-13 16:12] LeoColman opened #1152 "Improve Property-based testing documentation"
Which generators are available? How to use them?

We should have more samples on how to use and implement gens, and an exhaustive list on all the gens we have available (similar to the list we have for matchers)

[2020-01-13 16:35] sksamuel commented on #1104
But is the issue that things like roboelectric don't work with junit5
rather than android itself.

On Mon, 13 Jan 2020 at 10:10, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-01-13 16:37] LeoColman commented on #1104
No, android itself doesn't work with JUnit5 out-of-the-box, for UI tests

[2020-01-13 20:17] LeoColman opened #1154 "Add support for defining which version of UUID to generate at Gen.uuid()"
`Gen.UUID()` uses `UUID.randomUUID()`.
It ignores the provided seed and also only generates V4 UUIDs

[2020-01-13 20:17] LeoColman commented on #1154
Related to #1132

[2020-01-13 21:35] DannyRyman opened #1155 "Not clear how to generate a list of arbitrary values"
Working on the latest snapshot version, the new property based testing code does not appear to include Gen.list which could be used to create a list of values.

Is there another way to generate a list of values which in turn are generated from one of the arbitrary generator functions i.e. generate a list of random size of random integers?

[2020-01-13 22:34] sksamuel commented on #1155
I would say if you want to use prop testing you're better off on the existing release verrsion.
The property test code is undergoing a bit re-write. In fact, perhaps you'd like to comment?
https://github.com/kotlintest/kotlintest/issues/1121

[2020-01-13 23:25] #1119 closed, assigned to nobody

[2020-01-13 23:25] #1154 closed, assigned to LeoColman

[2020-01-14 00:30] LeoColman commented on #796
Then we can close this?

[2020-01-14 00:30] #796 closed, assigned to nobody

[2020-01-14 00:32] LeoColman commented on #1015
I think this goes too much into mocking business, doesn't it?

[2020-01-14 01:58] sksamuel commented on #796
Yep

On Mon, 13 Jan 2020, 18:30 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-01-14 01:59] sksamuel commented on #1015
It's just wrapping a function. I guess you could call it mocking but it
doesn't do any jvm tricks.

On Mon, 13 Jan 2020, 18:32 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-01-14 10:36] DannyRyman commented on #1155
Thanks for the information. Apart from time, is there any other reason why this hasn't been imported into the new package yet? Has any thought been given to how this might be implemented? For instance, would you expect an implementation for both the arbitrary and progressive generators?

The reason I ask is that we will probably end up implementing this for ourselves. And if our implementation is

[2020-01-14 10:53] simonenkoi commented on #1061
[code]
all of them are infix. Am I missing something?

[2020-01-14 10:54] DannyRyman commented on #1121
One impact to the new API for us is that currently we are using the generators outside of property based testing, simply to generate random data for traditional TDD based tests. I don't know whether others are also doing this; but I find it to be a nice capability to be able to use the same generators outside of the property based testing?

Because of the new API needing to be passed the random an

[2020-01-14 12:10] simonenkoi commented on #961
@sksamuel do you have any ideas on how API should look like for values assertions?
Should it be something like
[code]
where the every lambda calls next value from ResultSet (analogue from https://github.com/joel-costigliola/assertj-examples/blob/master/assertions-examples/src/test/java/org/assertj/examples/db/TableAssertionExamples.java)

[2020-01-14 14:56] sksamuel commented on #1061
Maybe it was changed since I wrote up this ticket. Or maybe I was just an idiot :)

[2020-01-14 14:56] #1061 closed, assigned to nobody

[2020-01-14 15:51] LeoColman commented on #1121
I agree with @DannyRyman.

I use
`UserGen.next()` a lot, for example, when I just need a random user.

I believe we intend to support this, and if we don't ATM, we surely will before a release candidate is ready.

It also fits property testing concepts, as I'm escaping example-based testing by just testing that my function works for any given user (even when checking it only once)

[2020-01-14 15:57] simonenkoi commented on #1131
Could you clarify how it should like?
Something like `T.shouldBeValid(Validation<T>)` and `T.shouldBeInvalid(Validation<T>)`?
What about assertions for validation errors?

[2020-01-14 16:17] sksamuel commented on #1121
Yes we will definitely support this. If it's hard to do with the current
API then lets change the API.

On Tue, 14 Jan 2020 at 09:51, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-01-14 16:24] LeoColman commented on #1121
I believe we can probably add these extensions to Kotest itself :P

[2020-01-14 16:24] LeoColman commented on #1121
It's actually what we do with `next` and `take`

[2020-01-14 17:02] LeoColman opened #1156 "Add matchers to Klock"
Klock is an [MPP Kotlin Library](https://github.com/korlibs/klock) to handle Date and Time in a MPP fashion.

We should add some matchers to their types, similar to the ones we have for `java.time`

[2020-01-14 18:07] sksamuel commented on #1121
We could have an extension method on Arbitrary called `next` which does the plumbing for you - putting in a default random instance and taking the first value. But it does mean that Arb needs a consistent way to set the size, it can't be in the constructor.

[2020-01-14 18:28] LeoColman commented on #1121
That's what we do with Gen, yes

On Tue., Jan. 14, 2020, 15:07 Stephen Samuel, <notifications@github.com>
wrote:

[2020-01-14 18:28] LeoColman commented on #1121
Doesn't make sense for progression tho

On Tue., Jan. 14, 2020, 15:28 Leonardo Lopes, <leonardo.colman98@gmail.com>
wrote:

[2020-01-14 22:14] sksamuel commented on #1155
All the existing functionality will be ported. I just did the bare minimum to get an implementation out for discussion.

[2020-01-14 22:19] sksamuel commented on #1121
Try writing next() for an Arb. You can't because Arbs are created with a size parameter, so there's nothing stopping you doing:

[code]

which would throw an error.

So for this to work the size parameter has to move out of Arb's constructors and into the interface method. So generate takes a size.

This means that you would need to do forAll like this:

[code]

Like we do now.

But then, if you d

[2020-01-14 23:14] LeoColman commented on #1121
If the default size for `Arbitrary` is `1000`, for example, then `Arbitrary.int().next()` would work just fine, wouldn't it?

[2020-01-14 23:15] LeoColman commented on #1121
Then we can throw an `IllegalArgumentException` if you try to do `Arbitrary.int(0).next()`

[2020-01-14 23:44] sksamuel commented on #1121
That would work.

On Tue, 14 Jan 2020, 17:15 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-01-15 02:27] sksamuel commented on #1131
I think that's good syntax. Or alternatively, `MyValidation.shouldBeValid(t)` and `MyValidation.shouldBeInvalid(t)`. That way the extension functions are not visible on Any.

For errors we should add some too yes. Any suggestions?

[2020-01-15 07:04] simonenkoi commented on #1131
It makes sense
I suggest adding `MyValidation.shouldContainError(String)` and use the composite matcher of `shouldBeInvalid` and error check to make it clear what the assertion was.
I'll take this one and submit PR the other day

[2020-01-15 12:42] sksamuel opened #1157 "Project wide default test case config"
Allow setting default project config that's applied to every test case.

[2020-01-15 12:48] sksamuel commented on #1157
Completed in master for 4.0

[2020-01-15 12:48] #1157 closed, assigned to sksamuel

[2020-01-15 12:54] sksamuel commented on #763
Completed in master for 4.0

[2020-01-15 12:54] #763 closed, assigned to nobody

[2020-01-16 03:16] #1131 closed, assigned to nobody

[2020-01-16 03:31] #1044 closed, assigned to nobody

[2020-01-16 04:33] sksamuel commented on #1047
Fixed in master for 4.0

[2020-01-16 04:33] #1047 closed, assigned to sksamuel

[2020-01-16 04:35] #691 closed, assigned to nobody

[2020-01-16 04:36] sksamuel commented on #589
In 4.0 (in master) we now support composable specs using something exactly like junit's test factory which covers this use case.

So you can do,

[code]

And of course the tests val, could be a function and parameterized.

[2020-01-16 04:36] #589 closed, assigned to sksamuel

[2020-01-16 04:43] sksamuel commented on #1121
Just throwing another brain storm out here.

Rename `Progression` to `Exhaustive`, move `iterations` to the forAll methods, and then do this:

[code]

This generates 1000 tests pulling from the two Arbs. The Exhausive provides 100 values and then cycles. If the iteration count is less than the max of any exhaustives an exception is thrown. In other words, an exhaustive generator will throw an erro

[2020-01-16 09:54] #649 closed, assigned to nobody

[2020-01-16 11:57] sksamuel commented on #794
I had a little play with this:

eg

[code]

[2020-01-16 12:34] sksamuel commented on #794
Now in master.

[2020-01-16 12:34] #794 closed, assigned to sksamuel

[2020-01-16 12:35] sksamuel commented on #830
Seems to fail for

[code]

The test should pick up failures in the nested coroutine.

[2020-01-16 14:03] LeoColman commented on #1121
It's not necessary to move the iterations to `ForAll` to allow this, as we discussed above

[2020-01-16 23:33] sksamuel commented on #830
This is a wider bug in that any launched coroutines don't attach to the scope of the text executor. Fixed now in master.

[2020-01-16 23:33] #830 closed, assigned to sksamuel

[2020-01-17 00:19] sksamuel commented on #1143
We have `@AutoScan` on ProjectListeners now. No need to create config.
I think perhaps the same for TestListeners, and any that are autoscanned are applied to every spec. Same for constructor plugins, very useful for spring and koin - just bring it into the classpath and no need to register it at all !

[2020-01-17 03:47] sksamuel commented on #961
One option:

`resultset.shouldHaveColumn("name") { it shouldBe listOf(....) }`

just pull back all the rows at once. This is a test, so I think that's fine, and then the lambda parameter is a collection, so then all the standard collection matchers work for no extra work.

[2020-01-17 03:51] sksamuel commented on #939
Added in master for 4.0 release.

[2020-01-17 03:51] #939 closed, assigned to sksamuel

[2020-01-17 03:52] #933 closed, assigned to nobody

[2020-01-17 06:36] xiaodongw opened #1160 "Test time reported to JUnit runner is incorrect"
I have the [gradle-test-logger](https://github.com/radarsh/gradle-test-logger-plugin) plugin in my build, it reports the slow tests if it takes more than 1 second to run.

This is the output for one of my test with JUnit5, this is an integration test, so it's kind of slow.
[code]

After I converted this test to kotlintest, this the new output, you can see here the test time reported is incorrect,

[2020-01-17 12:08] sschuberth opened #1161 "Add alias for shouldBeEqualToUsingFields and disallow specifying NO fields"
Occasionally, I have to assert value-equality of Java class instances that do not implement `equals()` with kotlintest (also see [this](https://stackoverflow.com/questions/12147297/how-do-i-assert-equality-on-two-classes-without-an-equals-method)). For these cases, it would be nice to have a matcher that iterates over all fields via reflection (recursively) and asserts value equality for each.

[2020-01-17 12:32] sksamuel commented on #1161
Agreed, and related to #822

On Fri, 17 Jan 2020 at 06:08, Sebastian Schuberth <notifications@github.com>
wrote:

[2020-01-17 12:34] #1116 closed, assigned to nobody

[2020-01-17 12:34] sksamuel commented on #1116
Closing this as I cannot remember why I couldn't just swap the order of the parameters.

[2020-01-17 12:52] sksamuel commented on #1143
We now support all extensions as autoscanned.

[2020-01-17 13:01] simonenkoi commented on #1143
@sksamuel I am out of the context, but is it possible to disable autoscanning for an extension from another package? For example, I've imported some package with autoscannable extension, but want to disable or override its functionality

[2020-01-17 13:17] gabrielshanahan opened #1163 "Type inference causes shouldBe to act in an unintended matter."
Hello everyone,

at first glance, the following code should not compile (in this example, the author forgot to call .toString() on the class instance):

[code]

However, not only does it compile, it produces the output `Exception in thread "main" org.opentest4j.AssertionFailedError: expected: "Hello" but was: Hello`, which is very confusing.

The reason this happens is that the signature for `io.k

[2020-01-17 13:23] sksamuel commented on #1143
Is there a usecase for this? If you had an extension that you didn't want to always be enabled, then you wouldn't mark it as autoscan and just add it manually to the projects that needed it.

[2020-01-17 13:24] sksamuel commented on #1163
Seems like a good idea. We could implement it now using the work around, and then once 1.4 is out, switch over to the public version.

[2020-01-17 13:29] simonenkoi commented on #1143
Just thought about some 3rd-party libraries. In the Spring Boot world, it is a huge pain when you have some auto-discoverable beans in the imported package and the author of this package did not think that users may want to override or disable his beans.
I am not sure that it is applicable for tests and developers of libraries will want to annotate their extension with AutoScan, just curious.

[2020-01-17 13:30] gabrielshanahan commented on #1163
Cool! Do you want to work on this internally or should I?

[2020-01-17 13:33] sksamuel commented on #1163
Please feel free.

On Fri, 17 Jan 2020, 07:30 gabrielshanahan, <notifications@github.com>
wrote:

[2020-01-17 13:34] sksamuel commented on #1143
I suppose there were popular libraries that included extensions you didn't
care about. Any idea on how to stop them being autoscanned ?

On Fri, 17 Jan 2020, 07:29 Ignat Simonenko, <notifications@github.com>
wrote:

[2020-01-17 13:53] simonenkoi commented on #1143
I've thought about distinction by class hierarchy (that child should replace parent in the list of discovered extensions), but I think that it is a possible case when someone wants to share some code using inheritance.
Does it make sense to add some boolean to ProjectConf to disable all the autoscanning and define extensions manually?
I am still not sure that there is a case we need to worry about

[2020-01-17 15:14] LeoColman commented on #1143
@sksamuel

I don't think that's good.
Not all my tests are spring tests! What about my unit tests that I don't want a spring context? I don't want that to be auto scanned, for example

[2020-01-17 15:15] LeoColman commented on #1161
We do have something like that that, I think

Something similar to
`shouldBeEqualToUsingFields ... `

[2020-01-17 15:17] sschuberth commented on #1161
I skimmed through https://github.com/kotlintest/kotlintest/blob/master/doc/matchers.md before but didn't find anything...

[2020-01-17 15:21] sschuberth commented on #1161
But it's indeed there, yay!

https://github.com/kotlintest/kotlintest/blob/068148734769f534223be89673639f46e8430ab4/kotest-assertions/src/jvmMain/kotlin/io/kotest/matchers/equality/reflection.kt#L32

[2020-01-17 15:22] LeoColman commented on #1161
Hmm...
It's not documented, or it isn't released yet (and therefore not documented due to that), I wonder?

[2020-01-17 15:24] sschuberth commented on #1161
Looks like it was introduced in f537d7beef9b490efdba893170a41069c001d1c1 as part of working on https://github.com/kotlintest/kotlintest/issues/711 which is included in version 3.3.1.

[2020-01-17 15:28] sksamuel commented on #1161
Should we add an alias. It's a bit of a long name

[2020-01-17 15:29] sksamuel commented on #1143
The spring context is only used if it's a spring object. It doesn't magically change non spring stuff.

[2020-01-17 15:32] sschuberth commented on #1161
Also, it's only available as an extension function, not as an infix operator.

[2020-01-17 15:37] sschuberth commented on #1161
Doh, and it does not work at all as I would have expected: When called without a second argument, *no* instead of *all* fields are compared. That function should probably be changed to either require at least one field to be specified, or to compare all fields if none are given.

[2020-01-17 17:38] sksamuel commented on #1161
Yes that's totally a bug. Let's fix that.

[2020-01-17 17:40] LeoColman commented on #1161
There's also the `shouldBeEqualToIgnoringFields`, which would fit your use case, IIRC

[2020-01-17 17:52] sschuberth commented on #1161
I've actually tried it @Kerooker, but it that gave me:

    kotlin.reflect.full.IllegalCallableAccessException: java.lang.IllegalAccessException: class kotlin.reflect.jvm.internal.calls.CallerImpl$FieldGetter cannot access a member of class org.apache.maven.settings.Proxy with modifiers "private"

[2020-01-18 03:13] sksamuel commented on #1160
Invocations are removed in 4.0. They are problematic. Instead you can just repeat the code inside the test.
So the timing in 4.0 is exactly as it should be.

[2020-01-18 03:17] sksamuel opened #1165 "Add before/after invocation callbacks and restrict invocations to TestType.TEST"

[2020-01-18 14:14] sksamuel opened #1166 "Add function based enabledIf to test config"

[2020-01-18 14:38] sksamuel commented on #1160
I am closing this because I have confirmed it is fixed in 4.0 snapshot.

![image](https://user-images.githubusercontent.com/743706/72665410-d69e5100-39cd-11ea-9cf3-eef2107b6cca.png)

[2020-01-18 14:38] #1160 closed, assigned to nobody

[2020-01-19 00:28] #1166 closed, assigned to sksamuel

[2020-01-20 15:10] sksamuel commented on #1143
I like the idea of having config to disable auto scanning. Other than that, I think we're good ? @Kerooker

[2020-01-20 18:36] LeoColman commented on #1143
Sure, it's a good workaround with not a lot of trouble to implement.

[2020-01-20 23:13] sksamuel commented on #1143
We now have autoScanEnabled in project config which can be set to false.
We also support autoScanIgnoredClasses to filter out classes which you don't want to be included.

I've also expanded the auto scan to all extensions, filters and listeners, and tidied up the class hierarchy a bit internally.

[2020-01-20 23:13] #1143 closed, assigned to sksamuel

[2020-01-20 23:47] sksamuel opened #1171 "New logo"
As we move very close to releasing 4.0 it's time to look at the logo.

We can either go with the familiar with do something funky. Please add your own designs to.

![new_logo1](https://user-images.githubusercontent.com/743706/72764269-f2ac1900-3bac-11ea-82e0-ad454b6fe313.png)
![Screenshot from 2020-01-20 17-35-06](https://user-images.githubusercontent.com/743706/72764271-f63fa000-3bac-11ea-9b6c-85

[2020-01-20 23:51] LeoColman commented on #1171
I like the current logo, so I like the first one

[2020-01-20 23:57] LeoColman commented on #1171
Altought the last one is funny

[2020-01-21 00:53] sksamuel commented on #1067
I've added some more tests for this and it works fine if you use map.shouldContainKey or mutable.shouldContainKey (ie, not the infix versions).

I guess they'll fix the type inference once it goes final as its still in beta at the moment. If it's still broken when they release kotlin 1.4 we can revisit.

[2020-01-21 00:53] #1067 closed, assigned to nobody

[2020-01-21 00:54] sksamuel commented on #1113
Anyone want to do this ?

[2020-01-21 03:20] sksamuel commented on #1122
@Kerooker can we still help @WangDea

[2020-01-21 06:44] sksamuel opened #1172 "Add allure annotations"

[2020-01-22 02:03] #1113 closed, assigned to nobody

[2020-01-22 12:51] sksamuel commented on #1121
Ok everyone, another iteration to the prop test proposals and I think we're getting closer on a final implementation (if everyone agrees!).

Code here: https://github.com/kotlintest/kotlintest/pull/1174

What's changed?

* Progressions are now called Exhaustives. I think it better describes that the values are a complete closed set, not necessarily a sequence.

* Gen has been restored as a top lev

[2020-01-23 15:41] LeoColman commented on #1121
The only issue I see with this is if people want to use the module outside of KotlinTest environment. However, Kotlin environment itself is very easy to integrate with coroutines, so this won't be much more than an annoyance.

`Gen.int().forAll(1000) { a -> ... }`

I suppose these values will have defaults. I think this is great!

However...

Are we going to have `Gen`, `Exhaustive` AND `Arbitrary

[2020-01-23 16:09] sksamuel commented on #1121
A Gen becomes an Arb when you call .take()
Arb and Exhausitve are used in property testing. Gen's can be used anywhere
you want to produce a value.

On Thu, 23 Jan 2020 at 09:41, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-01-23 16:09] sksamuel commented on #1121
Happy to rename things.

On Thu, 23 Jan 2020 at 10:08, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-01-26 08:04] ashishkujoy commented on #1102
Closing as this is implemented in #1103

[2020-01-26 08:04] #1102 closed, assigned to nobody

[2020-01-27 00:44] sksamuel commented on #1163
@gabrielshanahan did you get chance to look at this ?

[2020-01-27 01:06] sksamuel commented on #849
This is now configurable in 4.0.

[2020-01-27 01:06] #849 closed, assigned to sksamuel

[2020-01-27 02:19] #709 closed, assigned to nobody

[2020-01-27 11:02] gabrielshanahan commented on #1163
Hey @sksamuel , sorry not yet, I'm bogged down by real life at the moment. I'll get back to you as soon as I get the chance.

[2020-01-27 11:05] sksamuel commented on #1163
I might take a look if you don't mind.

On Mon, 27 Jan 2020 at 05:02, gabrielshanahan <notifications@github.com>
wrote:

[2020-01-27 11:10] sksamuel commented on #938
This is fixed in 4.0. Added test to check.

[2020-01-27 11:10] #938 closed, assigned to sksamuel

[2020-01-27 11:22] sksamuel commented on #929
Fixed in master.

`-Dkotlintest.assertions.output.max=20` now supported

[2020-01-27 11:22] #929 closed, assigned to nobody

[2020-01-27 11:38] sksamuel commented on #795
Added test to confirm the order in master.

[2020-01-27 11:38] #795 closed, assigned to nobody

[2020-01-27 11:40] sksamuel commented on #1107
I've confirmed that this is fixed in master for 4.0 and I would also suggest you upgrade to 3.4.2

[2020-01-27 12:07] sksamuel commented on #767
slf4j is no longer a dependency in kotest.

[2020-01-27 12:07] #767 closed, assigned to nobody

[2020-01-27 12:08] sksamuel commented on #1052
slf4j has been removed as a dependency in kotest in master (for release 4.0).

[2020-01-27 12:08] #1052 closed, assigned to nobody

[2020-01-27 12:08] sksamuel commented on #639
slf4j has been removed as a dependency in kotest in master (for release 4.0).

[2020-01-27 12:08] #639 closed, assigned to sksamuel

[2020-01-27 12:47] sksamuel commented on #1163
I had a little play about and the compiler complains that the annotation is not public (Even when you copy n paste it).

Also, we use `shouldBe` for both matchers and "values" and then it breaks. If you seperate these out into separate functions it breaks on `a shouldBe null`.

So I got close but not close enough.

[2020-01-28 17:10] m0skit0 commented on #737
Same error here starting with 3.1.6 (3.1.5 is the last version that works). Tested with 3.1.6, 3.1.7, 3.1.8, 3.2.0 and 3.3.0.

Android Studio version 3.5.3.

Nope, does not work. No tests found.

[2020-01-28 19:42] gabrielshanahan commented on #1163
Hey @sksamuel , have a look here for a working example using the annotation: https://github.com/gabrielshanahan/onlyinputtypestest

I did run into a "Only the Kotlin standard library is allowed to use the 'kotlin' package" error at first, but that can suppressed with a compiler arg (https://stackoverflow.com/a/58097520), as per the build.gradle in the repo I linked to.

As for the rest, you lost m

[2020-01-28 20:43] sksamuel commented on #1163
Ok, but does the end user require that compiler flag as well ?
I can test that out.

The matchers / values bit is because the should method accepts both a
value, and a matcher. And a Matcher<U> is not compatible with U.

On Tue, 28 Jan 2020 at 13:43, gabrielshanahan <notifications@github.com>
wrote:

[2020-01-28 22:43] sksamuel commented on #1172
Done. We support @Epic @Story @Feature @Owner @Severity

[2020-01-28 22:43] #1172 closed, assigned to sksamuel

[2020-01-29 04:18] sksamuel commented on #1171
![new_logo2](https://user-images.githubusercontent.com/743706/73327569-1d851580-421c-11ea-8212-6edc2d9fa5ef.png)

@Kerooker

[2020-01-29 12:46] gabrielshanahan commented on #1163
I did a quick test and managed to get it working by:

1. Adding the annotation to `kotest-core/src/commonMain/kotlin/kotlin/internal/Annotations.kt`
2. Adding the following to `kotest-core/build.gradle.kts`:

[code]

3. running the following:

[code]

I wasn't able to explicitly test whether the compiler flag is necessary, however I was able to build the kotest-extensions module, which dependes on

[2020-01-29 14:11] sksamuel commented on #1163
That's great. I can continue from there.

On Wed, 29 Jan 2020, 06:46 gabrielshanahan, <notifications@github.com>
wrote:

[2020-01-29 14:20] henryqwe opened #1178 "BehaviorSpec with junit4 runner creates test for single brace"
As title said, creating tests with BehaviorSpec generates test for single brace just like in attached screenshot. How to fix this and what's the current status of this issue https://github.com/kotlintest/kotlintest/issues/856?

version:  `io.kotlintest:kotlintest-runner-junit4:3.4.2`

<img width="886" alt="Screenshot 2020-01-29 at 15 11 11" src="https://user-images.githubusercontent.com/19953164/7

[2020-01-30 09:27] EarthCitizen commented on #1171
The last one reminds me of the logo for Rust.