[2020-01-30 16:15] sksamuel commented on #1171
Yeah fair point.

![new_logo3](https://user-images.githubusercontent.com/743706/73467798-743c3d80-4349-11ea-9319-b50f99ee9988.png)

[2020-01-30 20:15] sksamuel opened #1181 "Autoclose to accept lazy"

[2020-01-30 21:52] sksamuel commented on #1171
![logo4](https://user-images.githubusercontent.com/743706/73493572-9ef1ba80-4378-11ea-9329-0ea3039878c6.png)

Or something like this (obviously I would tidy it up nicer).

[2020-01-30 21:59] glasser commented on #1003
Is this reported to JetBrains anywhere?

[2020-01-30 22:23] sksamuel opened #1182 "Focus should work in a test factory"

[2020-01-31 05:31] #1181 closed, assigned to sksamuel

[2020-01-31 05:35] #1182 closed, assigned to sksamuel

[2020-01-31 05:36] sksamuel commented on #1178
What do you mean by single brace ?
Do you mean they're not nested ?

[2020-01-31 06:31] sksamuel opened #1183 "Make eventually, until and continually cross platform"

[2020-01-31 06:39] #1183 closed, assigned to sksamuel

[2020-01-31 06:40] #816 closed, assigned to sksamuel

[2020-01-31 06:40] sksamuel commented on #816
Fixed by removing log4j from the project.

[2020-01-31 06:41] sksamuel commented on #1015
Closing this as no feedback given.

[2020-01-31 06:41] #1015 closed, assigned to sksamuel

[2020-01-31 14:52] henryqwe commented on #1178
[code]
This code run with junit5 create single test but with junit4 three: `given`, `given+when`, `given+when+then` which shouldn't happen.

I would like to use junit5, but with android when i run all test classes they are ignored

[2020-01-31 18:33] sksamuel opened #1184 "New collections matcher"
`collection.shouldHaveSingleElement { e -> ... }`

[2020-01-31 18:36] sksamuel opened #1185 "Blog / Article links for migration"
Ensure that any links in the following articles continue to point to the project in the right place.

- [x] - https://proandroiddev.com/kotlintest-pro-tips-54ce19c32c68
- [ ] - https://proandroiddev.com/whats-new-in-kotlintest-3-2-and-3-3-affbc1b25e1d
- [x] - https://dev.to/kerooker/testing-koin-applications-with-kotlintest-1iip
- [x] - https://dev.to/kerooker/testing-a-spring-boot-application-wit

[2020-02-01 01:51] sksamuel commented on #1178
This is just a limitation of junit 4, as it doesn't support dynamic nested
tests.
We are looking at using junit5 for android.

On Fri, 31 Jan 2020 at 08:52, henryqwe <notifications@github.com> wrote:

[2020-02-01 08:56] simonenkoi commented on #1184
I'll take this one

[2020-02-01 16:31] ashishkujoy commented on #1185
Should we include [awesome-kotlin](https://github.com/mcxiaoke/awesome-kotlin) as well in this list?

[2020-02-01 16:34] sksamuel opened #1187 "Add typealias from io.kotlintest to io.kotest"

[2020-02-01 21:51] sksamuel commented on #1171
![new_logo4](https://user-images.githubusercontent.com/743706/73599602-be205180-450a-11ea-9ae9-590fd2691598.png)

[2020-02-01 21:53] sksamuel commented on #1171
![new_logo4](https://user-images.githubusercontent.com/743706/73599619-f2940d80-450a-11ea-806c-b5218c48d6d1.png)

[2020-02-02 09:13] kortov commented on #1185
https://github.com/KotlinBy/awesome-kotlin too

[2020-02-03 20:23] sksamuel opened #1189 "Add gradle project builds for all gradle versions"

[2020-02-04 14:40] dannylagrouw opened #1192 "afterTest in BehaviorSpec test runs after each Given, When and Then"
I use BehaviorSpec and wanted to add some cleanup to be run after each individual test (Given {} block). However, it looks like `afterTest` is called after each Given, When and Then block (in reverse order). Is this intentional?

[2020-02-04 20:38] sksamuel opened #1193 "Delete dir equiv of autoclose ?"
We allow autoclose in specs to automatically shut down resources when the spec is completed.
Should we do the same but for files to allow temp files to be automatically deleted ?

[2020-02-04 20:39] sksamuel commented on #1192
It should call the inner most block afterTest first. Are you just wanting it to run for Given ?

[2020-02-05 00:40] tibtof commented on #1171
![kotlintest](https://user-images.githubusercontent.com/6090010/73800113-6ca0ec80-47c0-11ea-80dc-8546c5aa3301.png)

It’s just a sketch, but if you like the idea I could polish it.

[2020-02-05 00:51] sksamuel commented on #1171
Oh that's pimp

On Tue, 4 Feb 2020, 18:40 Tiberiu Tofan, <notifications@github.com> wrote:

[2020-02-05 08:14] dannylagrouw commented on #1192
Yes, I consider a test to be a complete block of Given { When { Then {} } }, so I would expect afterTest to run after each instance of that has run.

[2020-02-05 18:14] tibtof commented on #1171
Some variations:
![kotest1](https://user-images.githubusercontent.com/6090010/73869992-f51c9d00-4853-11ea-8693-e6ec3f8b118a.png)
![kotest2](https://user-images.githubusercontent.com/6090010/73869996-f77ef700-4853-11ea-8152-c5428ce01706.png)
![kotest4](https://user-images.githubusercontent.com/6090010/73870741-45e0c580-4855-11ea-9a3e-38976bfcaeb7.png)

If it's not obvious, the idea is that the gree

[2020-02-05 19:46] sksamuel commented on #1171
I think the first one is the best where the check/tick is more pronounced.
Are we allowed to use styling like kotlin?

[2020-02-05 20:03] tibtof commented on #1171
This is what I found in brand usage. In my opinion it is different enough, but my opinion has no legal value. I could use a different colour than blue for the K so that is event more distinctive. Maybe red, to indicate potential errors?
https://kotlinlang.org/foundation/guidelines.html

[2020-02-05 20:12] tibtof commented on #1171
I found more details here: https://discuss.kotlinlang.org/t/use-of-kotlin-logo-when-referring-to-kotlin-in-a-blog-post/4354/2
I guess I could drop them an email.

[2020-02-05 22:04] sksamuel commented on #1171
I wonder if they don't want projects using their jetbrains graphics because
its not just kotlin that has that kind of effect.

On Wed, 5 Feb 2020 at 14:12, Tiberiu Tofan <notifications@github.com> wrote:

[2020-02-07 00:55] sksamuel opened #1197 "Support http client in intellij"
https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html

[2020-02-07 12:49] sksamuel opened #1198 "Add check coverage to prop testing"

[2020-02-07 13:20] sksamuel commented on #1121
All the recent work has been merged to master. I think its stable enough to be used.

[2020-02-07 13:20] #1121 closed, assigned to nobody

[2020-02-07 19:39] sksamuel opened #1199 "Check implementation on continually"

[2020-02-08 16:13] #1134 closed, assigned to sksamuel

[2020-02-08 16:32] sksamuel commented on #1147
This is now fixed in 4.0 snapshot with the new property test framework.

[2020-02-08 16:32] #1147 closed, assigned to sksamuel

[2020-02-08 16:33] sksamuel commented on #1155
In the latest snapshot, most of the gens are now converted, including `Arb.list` and you can do `.take(n)` or `.single()`.

[2020-02-08 16:33] #1155 closed, assigned to nobody

[2020-02-08 16:33] sksamuel commented on #1120
Added shuffle and subsequence.

[2020-02-08 16:40] sksamuel commented on #1120
Add choice.

[2020-02-08 16:42] sksamuel commented on #1120
Added element.
I think that's a good set now.

[2020-02-08 16:42] #1120 closed, assigned to nobody

[2020-02-08 16:55] #1095 closed, assigned to nobody

[2020-02-08 16:56] sksamuel commented on #1078
Do you want to pick this up @EarthCitizen ?

[2020-02-08 16:56] #968 closed, assigned to nobody

[2020-02-08 16:57] sksamuel commented on #970
Not sure this gen is that using, closing.

[2020-02-08 16:57] #970 closed, assigned to nobody

[2020-02-08 17:18] #701 closed, assigned to nobody

[2020-02-08 17:33] #1198 closed, assigned to sksamuel

[2020-02-08 23:27] #1199 closed, assigned to nobody

[2020-02-08 23:27] sksamuel commented on #1199
Implementation looks good.

[2020-02-09 05:04] #1100 closed, assigned to sksamuel, LeoColman

[2020-02-09 05:12] sksamuel commented on #1193
Duplicate of #326

[2020-02-09 05:12] #1193 closed, assigned to nobody

[2020-02-09 05:19] sksamuel commented on #1138
Do you have a test in that module? Can you create a sample project? What happens if you try ./gradlew test or ./gradlew check

[2020-02-09 12:07] sksamuel opened #1201 "Print seed in prop tests"

[2020-02-09 12:11] sksamuel opened #1202 "Add assumption filter to prop test"

[2020-02-09 12:22] sksamuel opened #1203 "Add isNested to spec"

[2020-02-09 12:54] sksamuel opened #1204 "Add generator for js date"

[2020-02-09 13:02] #1203 closed, assigned to nobody

[2020-02-09 13:02] #1201 closed, assigned to sksamuel

[2020-02-09 13:28] sksamuel commented on #1171
@tibtof could you do something with the T effect that wasn't based on jetbrains brand stuff ?

[2020-02-09 13:54] sksamuel commented on #1114
I cannot duplicate this and we have tests asserting the output. Can you show us code that recreates this?

[2020-02-09 13:57] #1204 closed, assigned to sksamuel

[2020-02-09 14:02] tibtof commented on #1171
Can do, but I sent an email to jetbrains. Let's wait for an answer and see where to go from there.

[2020-02-09 14:04] sksamuel opened #1205 "Make retry MPP"

[2020-02-09 14:06] #698 closed, assigned to nobody

[2020-02-09 14:13] ashishkujoy commented on #1114
I think this is in general with the output of tests(failed) which are run with gradle  not specific to ```shouldMatchJson```

For example the below screenshot show output for the test
[code]

<img width="709" alt="Screenshot 2020-02-09 19 35 13" src="https://user-images.githubusercontent.com/34642693/74103667-0fb48600-4b74-11ea-830b-725f6b1b016a.png">

[2020-02-09 15:18] sksamuel opened #1206 "Add JS matcher for JS Date"

[2020-02-09 15:18] sksamuel opened #1207 "Add Matchers for kotlin durations"

[2020-02-09 15:35] ashishkujoy commented on #1161
@sksamuel are we still looking for alias? A part of it has been done in #1176

[2020-02-09 16:48] #1139 closed, assigned to sksamuel

[2020-02-09 16:48] #1151 closed, assigned to sksamuel

[2020-02-09 16:55] sksamuel commented on #1192
You can use the beforeTest callback to check for the name of the test, and just filter on starts with "Given"

[2020-02-09 17:06] #1205 closed, assigned to sksamuel

[2020-02-09 17:07] #1202 closed, assigned to nobody

[2020-02-09 17:08] sksamuel commented on #1161
I think we just need to fix the bug that @sschuberth put up. Using shouldBeEqualToIgnoringFields gave ```kotlin.reflect.full.IllegalCallableAccessException: java.lang.IllegalAccessException: class kotlin.reflect.jvm.internal.calls.CallerImpl$FieldGetter cannot access a member of class org.apache.maven.settings.Proxy with modifiers "private"```
I imagine its because his class has private field or s

[2020-02-09 17:49] sschuberth commented on #1161
Exactly, it Maven settings' `Proxy.java` which has private fields.

[2020-02-09 17:53] ashishkujoy commented on #1161
@sschuberth have a look at #1208 that will fix the issue

[2020-02-09 18:30] sksamuel commented on #721
Ok in the latest snapshot I have replaced invocations with replay(k, n).

eg

[code]

And they accept listeners which are just functions.
[code]

[2020-02-09 18:30] #721 closed, assigned to sksamuel

[2020-02-09 18:31] sksamuel commented on #1165
#721

[2020-02-09 18:31] #1165 closed, assigned to nobody

[2020-02-09 19:41] tibtof commented on #1171
Meanwhile, here's a version with just a hint of the K:
![kotest-hint](https://user-images.githubusercontent.com/6090010/74108613-dafcfa80-4b84-11ea-8f47-a8148bf61b79.png)

[2020-02-09 19:42] sksamuel commented on #1171
Nice, any other variations with the actual text of kotest ?

[2020-02-09 19:44] tibtof commented on #1171
Let's use this as the K in kotest, give me a minute...

[2020-02-09 19:51] tibtof commented on #1171
Of the fonts I have installed I like this one, but I'll try to find a better one:
![kotest-text](https://user-images.githubusercontent.com/6090010/74108794-5e6b1b80-4b86-11ea-9580-bb5ee812f9c5.png)

[2020-02-09 19:52] sksamuel commented on #1171
It might work better if we stick with the original font and incorporate this k.

[2020-02-09 19:53] tibtof commented on #1171
Sure, what's the name of the font?

[2020-02-09 19:56] sksamuel commented on #1185
I have created PRs for both the awesome kotlin pages

[2020-02-09 19:57] sksamuel commented on #1171
Gotham Black, Medium

[2020-02-09 20:08] tibtof commented on #1171
Here it is:
![kotest-gotham](https://user-images.githubusercontent.com/6090010/74109042-ab4ff180-4b88-11ea-8a79-5a8c6124abcd.png)
![kotest-black](https://user-images.githubusercontent.com/6090010/74109224-501efe80-4b8a-11ea-9e75-2430275ae265.png)

[2020-02-09 20:38] #1206 closed, assigned to nobody

[2020-02-09 20:40] #1184 closed, assigned to nobody

[2020-02-09 20:41] sksamuel commented on #721
I actually reverted this and added beforeInvocation / afterInvocation to TestListener.

[2020-02-09 20:57] #1207 closed, assigned to sksamuel

[2020-02-09 21:00] sksamuel commented on #1171
Yeah I like it. What about playing about with the colours, the text black
and the green a little darker ?

On Sun, 9 Feb 2020 at 14:08, Tiberiu Tofan <notifications@github.com> wrote:

[2020-02-09 22:46] sksamuel opened #1209 "Update all docs to refer to new name"

[2020-02-10 00:29] sksamuel opened #1211 "Add mockserver extensions"
https://github.com/mock-server/mockserver

[2020-02-10 01:23] sksamuel commented on #1211
In master.

[2020-02-10 01:23] #1211 closed, assigned to sksamuel

[2020-02-10 01:23] sksamuel commented on #1197
In master.

[2020-02-10 01:23] #1197 closed, assigned to nobody

[2020-02-10 08:13] dannylagrouw commented on #1192
Ok, thanks for the workaround. Don't you agree it would be more intuitive if `afterTest` ran just once after each `given` block?

[2020-02-10 08:46] tibtof commented on #1171
I think black on the text works better if the K seems to also be black. Here is a try with a black K under a green overlay:
![kotest-black-2](https://user-images.githubusercontent.com/6090010/74134032-71b3d080-4bf2-11ea-9d24-7f36250dc35e.png)
![kotest-black-k](https://user-images.githubusercontent.com/6090010/74147164-5d300200-4c0b-11ea-92f2-d35226083120.png)

[2020-02-10 12:43] sksamuel commented on #822
This is now in 4.0 snapshot.

[2020-02-10 12:59] #1148 closed, assigned to sksamuel

[2020-02-10 13:18] sksamuel commented on #1171
I like this.

On Mon, 10 Feb 2020 at 02:46, Tiberiu Tofan <notifications@github.com>
wrote:

[2020-02-10 13:19] sksamuel commented on #1192
Yes and no :)

People lay out tests in all kinds of ways so its not possible to only run afterTest for a particular layout without someone else saying it's now broken for them. It's safer to always run afterTest, since in Kotest every scope is a test.

You can achieve what you want without testing for strings by doing this inside beforeTest:

[code]

[2020-02-11 04:57] ashishkujoy commented on #1161
Done in #1208

[2020-02-11 04:57] #1161 closed, assigned to ashishkujoy

[2020-02-11 08:39] wallecnik opened #1212 "Error messages for IntMatchers.between(a,b) are swapped"
This code:
`1.shouldBeBetween(2,3)`
throws
`java.lang.AssertionError: 1 is between (2, 3)`

https://github.com/kotlintest/kotlintest/blob/c87d2827054fa004f79393e1a5a8610057be5944/kotest-assertions/src/commonMain/kotlin/io/kotest/matchers/ints/IntMatchers.kt#L11

[2020-02-11 15:52] ashishkujoy commented on #1212
@wallecnik Thanks for reporting this is now fix in #1213

[2020-02-11 15:52] #1212 closed, assigned to nobody

[2020-02-11 17:13] tibtof commented on #1171
Meanwhile I received an answer from jetbrains saying it's ok to use the first logo that I shared. IMO the last one looks best, I would go with that.

[2020-02-11 18:07] dragneelfps commented on #1156
@Kerooker I would like to work on this. So for starters, we would need to create a separate module `kotest-assertions-kclock`, right?

[2020-02-12 11:51] mechatronik commented on #1171
I would merge stylized Kotlin logo (the first one with pronounced tick, maybe in green/black or green/red) with the last text logo. U can then use them both interchangeably. In the last one the K is not that obvious - I can't stop seeing tick and **otest**

[2020-02-12 12:33] leonampd commented on #950
Hello everyone,

I'm facing this problem right now even, setting the isolation mode to InstancePerTest as you said @dizney. I tried to execute the tests using the example provided by @tunaranch but I got:

[code]

[2020-02-12 13:21] sksamuel commented on #950
Do you have a small example I can use to debug ?

On Wed, 12 Feb 2020 at 06:33, Leonam Pereira Dias <notifications@github.com>
wrote:

[2020-02-14 04:41] rollie42 opened #1215 "AnnotationSpec does not find tests declared in constructor"
Simply,

[code]

works as expected, but

[code]

finds no tests and elicits no warnings. I think this format is supposed to work as well? Or if not, it's a really easy mistake to make when changing from another spec to `AnnotationSpec`.

[2020-02-14 08:00] leonampd commented on #950
Hey @sksamuel [here](https://github.com/tunaranch/spring-boot-kotlin-jpa-kotlintest/pull/1) it is. Let me know if you need anything.

[2020-02-14 09:30] dizney commented on #950
It seems like you are using version 3.3.0; you need at least 3.4.2 for this to work.

[2020-02-14 10:11] leonampd commented on #950
@dizney thank you! I totally forgot to change the version, my bad. Using the right version (3.4.2) the error still the same. Maybe, you can take a look again [here](https://github.com/tunaranch/spring-boot-kotlin-jpa-kotlintest/pull/1).

stacktrace:

[code]

[2020-02-15 20:41] MiSikora opened #1216 "Is usage of MIN_VALUE for floating point number generators correct?"
Generators like `numericDoubles` or `numericFloats` use `MIN_VALUE` as the `from` parameter. I wonder if this is correct as `literals` field contains `-1.0` which is then filtered by default as it is not in rage of `MIN_VALUE..MAX_VALUE`?

[2020-02-15 20:59] dizney commented on #950
The test works if you don't use the Then. The problem is that the nested tests of kotlintest don't play well with how the spring TransactionalTestExecutionListener works with transactions. The TransactionalTestExecutionListener creates a transaction before a test method is called and closes the transaction after the test method ended.

When you use the default single instance isolation mode someth

[2020-02-15 22:39] sksamuel commented on #1215
AnnotationSpec is meant as a "gateway drug" to the framework from junit. So having the constructor-body style doesn't make much sense, and probably is impossible to find local tests anyway. I'll remove this ability from AnnotationSpec.

[2020-02-16 00:33] sksamuel commented on #1171
I agree with the tick and otest thing @mechatronik

![logo6](https://user-images.githubusercontent.com/743706/74597254-b344e100-5021-11ea-8dc8-da76291059e8.png)

[2020-02-16 05:16] sksamuel commented on #1163
See the commit on this thread.
I've built on your work and got things working.
One downside is you can't do:

`animal shouldBe dog`

and

`dog shouldBe animal`

We can vary the type on one side, but I'm not sure if we can say we want the inferred type to be the max of the two input types but no higher. We can do it on one side, and the right side as the sub type is probably best, as then we can do

[2020-02-16 05:18] sksamuel commented on #1215
Fixed in master (4.0 snapshot).

[2020-02-16 05:18] #1215 closed, assigned to sksamuel

[2020-02-16 05:51] sksamuel commented on #1171
@tibtof can you share that email ?

[2020-02-16 06:41] tibtof commented on #1171
Sure, but I don't know if it's ok to share it publicly. I have an email at gmail.com, same as my username. Please drop me an email and I will forward it to you.

[2020-02-16 19:34] sksamuel opened #1217 "Allow use of framework without assertions"
Switching over to kotest requires work from people to upgrade. Now is the perfect time to not bundle assertions with core so people can use the framework without the matchers.

[2020-02-16 20:03] #1045 closed, assigned to nobody

[2020-02-16 20:23] tibtof commented on #1171
TBH, I don't think that black K looks very good over the logo. Maybe keep only `otest` in black?
I could try it if you'd like.

[2020-02-17 00:17] #1209 closed, assigned to nobody

[2020-02-17 00:17] #1187 closed, assigned to nobody

[2020-02-17 02:56] sksamuel commented on #1171
Please feel free to add as many variations as you want.
I don't think the black `otest` and logo `k` gels as well.

On Sun, 16 Feb 2020 at 14:23, Tiberiu Tofan <notifications@github.com>
wrote:

[2020-02-17 08:20] BorzdeG opened #1220 "java.lang.NoClassDefFoundError: kotlin/time/MonoClock"
kotlin: 1.3.70-eap-184
kotest version: 4.0.0-BETA1

build.gradle.kts:
[code]

sample code:
[code]

report output:
[code]

[2020-02-17 08:41] gabrielshanahan commented on #1163
I looked through briefly and pointed out a couple of things that I noticed.

As for the one-sided varying, if that's the case then I agree having the right side as the subtype is preferable, but I would point this out in the docs, since it breaks the reflexivity of shouldBe that one intuitively expects.

[2020-02-17 17:12] tibtof commented on #1171
Yeah, you're right. But I think it looks better having the logo on the side, same way Kotlin does:
![kotest](https://user-images.githubusercontent.com/6090010/74674156-714ea300-51b9-11ea-9916-e5b406ee21ea.png)

[2020-02-17 18:36] tibtof commented on #1171
A draw the initial logo mostly by hand, in Procreate, and I don't have a better resolution for it. I created a similar one in photoshop with better proportions and resolution. Here is a version with Kotest and another one with just the logo in a square (it should work better as the organisation logo). If you're using photoshop I can also create a PR with it in docs. I can also do further changes i

[2020-02-17 18:51] tibtof commented on #1171
Playing around a bit:

![kotest-abstract](https://user-images.githubusercontent.com/6090010/74679682-381d2f80-51c7-11ea-9ce3-450ed6495ce3.png)
-----
![kotest-up](https://user-images.githubusercontent.com/6090010/74680140-65b6a880-51c8-11ea-9b49-93d63048a16a.png)

[2020-02-17 19:27] sksamuel commented on #1171
I do like the colours a lot, although we could try playing with red for the
blue?

On Mon, 17 Feb 2020 at 12:51, Tiberiu Tofan <notifications@github.com>
wrote:

[2020-02-17 20:04] sksamuel commented on #1220
It looks like the stdlib isn't being propogated.
I don't know why I bother the implementation stuff in gradle, it's completely broken.

[2020-02-17 20:11] tibtof commented on #1171
I'll try, but I think it would hurt your eyes 🙂

[2020-02-17 20:20] sksamuel commented on #1171
lolol

On Mon, 17 Feb 2020 at 14:11, Tiberiu Tofan <notifications@github.com>
wrote:

[2020-02-17 20:21] LeoColman commented on #1185
Also in course:
[Rename StackOverflow task to Kotest](https://meta.stackoverflow.com/questions/394005/rename-kotlintest-tag-to-kotest)

[2020-02-17 20:23] LeoColman commented on #1156
Closed as per #1214

[2020-02-17 20:23] #1156 closed, assigned to nobody

[2020-02-17 20:25] tibtof commented on #1171
Here it goes:
![kotest-red](https://user-images.githubusercontent.com/6090010/74684344-53426c00-51d4-11ea-8465-d78cf711a9f2.png)
![kotest-logo-red](https://user-images.githubusercontent.com/6090010/74684351-563d5c80-51d4-11ea-8ad6-4074d9a8a33a.png)

[2020-02-17 20:38] tibtof commented on #1171
Here's one with a bit of orange, the colour that IntelliJ uses for failed tests (or is it yellow?!):
![kotest-orange](https://user-images.githubusercontent.com/6090010/74685074-28591780-51d6-11ea-9069-7a60ab316e64.png)

[2020-02-17 20:39] sksamuel commented on #1216
It should be max negative number.

[2020-02-17 20:58] LeoColman commented on #1216
This probably happens for Int and Long generators as well

[2020-02-17 21:00] MiSikora commented on #1216
I don't think so. `MIN_VALUE` for `Int` and `Long` represents max negative number. It is only with floating point numbers that `MIN_VALUE` represents basically epsilon.

[2020-02-17 21:03] sksamuel commented on #1216
Yes with double/floats min value is like 0.00000000000000000000000001
rather than -Double.MAX

On Mon, 17 Feb 2020 at 15:00, Michał Sikora <notifications@github.com>
wrote:

[2020-02-17 21:19] LeoColman commented on #1220
Hey, @BorzdeG

I executed the tests on my machine, with Kotlin 1.3.61, and it executed as expected

I checked that even removing the STDLib from my `implementation`, Kotest was able to bring it in by itself.

![image](https://user-images.githubusercontent.com/1577251/74687031-00f05380-51b2-11ea-9c98-d27985cd7f11.png)

Could you try with Kotlin 1.3.61, please?

[2020-02-17 21:36] sksamuel commented on #1220
I wonder if the renamed that class in 1.3.70 ?

On Mon, 17 Feb 2020 at 15:19, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-02-17 21:45] BorzdeG commented on #1220
MonoClock in 1.3.70 is marked as deprecated: https://github.com/JetBrains/kotlin/blob/1.3.70/libraries/stdlib/src/kotlin/time/TimeSources.kt#L110

there is no error in 1.3.61

[2020-02-17 21:57] sksamuel commented on #1220
We'll have to wait until 1.3.70 comes out.

On Mon, 17 Feb 2020 at 15:45, Victor Alenkov <notifications@github.com>
wrote:

[2020-02-18 11:05] mechatronik commented on #1171
I think it serves the purpose well, but it's not the most fortunate set of colours...

[2020-02-18 12:06] dragneelfps commented on #961
Anyone working on it? Status? Asking cuz I would like to work on it.

[2020-02-18 12:42] sksamuel commented on #961
Please do.

On Tue, 18 Feb 2020 at 06:06, Sourabh <notifications@github.com> wrote:

[2020-02-18 12:42] sksamuel commented on #1171
I agree. The blue one is nicer.

On Tue, 18 Feb 2020 at 05:05, Konrad Kowalewski <notifications@github.com>
wrote:

[2020-02-18 16:03] #1220 closed, assigned to nobody

[2020-02-18 16:05] sksamuel commented on #1220
We could keep this open but rename as remove usages of monoclock once
1.3.70.is released.

On Tue, 18 Feb 2020, 10:03 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-02-19 02:23] sksamuel opened #1222 "Update eventually to return first error AND last error"

[2020-02-19 08:24] dragneelfps opened #1223 "SpringBootTest not picking up ActiveProfiles"
For the following code:
[code]

I am getting undefined value of `spring.active.profiles` as
[code]
Also, `application-dev.yml` is not picked up as app configs.

### Expected

I should get
[code]

I have tried with `SpringAutowireConstructorExtension` as well. Same result.

[2020-02-19 12:24] #961 closed, assigned to nobody

[2020-02-19 17:33] sksamuel opened #1224 "Flow matchers inspired by akka testkit"

[2020-02-19 19:11] netvl commented on #5527
I observe the same issue with the `InstancePerTest` mode too. `SingleInstance` works fine.

[2020-02-19 19:14] netvl opened #5524 "Support kotest 4.0.0"
Currently this plugin does not know about `io.kotest` classes, making it unusable with the latest `4.0.0-BETA1` release - you can't run individual tests, for example, and have to use native JUnit 5 test facilities which don't work well with kotest.

[2020-02-19 19:15] xiaodongw opened #1225 "Support Spec level tags"
I have some integration tests that require a database or redis to run, I want to exclude these tests from default "gradle test", and I have a "gradle integTest" task to run them explicitly.

I used JUnit before, I can achieve this by adding tags on the Test, and configure Gradle like this
[code]

I converted my test to kotlintest, and try to use the tags to do the same, the code looks like this:
[

[2020-02-19 20:06] xiaodongw commented on #1225
Wow, the framework is very flexible, I think I figured out how to do it with some extension.

Extension code
[code]

Gradle
[code]

Test
[code]

[2020-02-19 20:19] sksamuel commented on #5524
Yes, there is work to upgrade this before 4.0 final.

On Wed, 19 Feb 2020 at 13:14, Vladimir Matveev <notifications@github.com>
wrote:

[2020-02-20 13:37] LeoColman commented on #1223
Hello!

When trying to run a simple example using JUnit4, I failed to get that to work.

We have the following test, that verifies we are getting things from properties correctly:
[code]
and it passes.

----

Do you have a minimum example of your intended behavior that works with plain JUnit, but doesn't work with Kotest?

[2020-02-20 14:29] sksamuel commented on #1225
You could certainly do it that way. In fact I think that extension should just be added by default if you wanted to pr it.

[2020-02-21 16:09] BaloghTamas opened #1227 "`It` should require lambda parameter"
I don't see the benefit of having an `it` block without a lambda. However, forgetting braces could lead to issues, so I think it should be prohibited by the DSL itself.

For instance in this test `It: should be 7` would break, while others will pass.
[code]

However, forgetting the braces on the same statement, would break `Describe: when add is called with 4 and 3`, which could be misleading for

[2020-02-21 17:41] ilya-g commented on #1220
The fact that the experimental stdlib API is used in kotest may impose serious compatibility problems with the next versions of stdlib. Please refer to the warning in `@ExperimentalTime` annotation docs: https://github.com/JetBrains/kotlin/blob/v1.3.60/libraries/stdlib/src/kotlin/time/ExperimentalTime.kt#L13-L15

[2020-02-21 18:31] sksamuel commented on #1220
Do you know when time is likely to become stable ?

On Fri, 21 Feb 2020 at 11:41, ilya-g <notifications@github.com> wrote:

[2020-02-21 21:06] sksamuel commented on #1227
I'm not sure we can enforce this in the language. `it("should be 7") returns a TestBuilder not there's no way we can enforce you use it at compile time. We could do something at runtime though.

[2020-02-22 20:53] sksamuel opened #1229 "Improve support for JUnit platform test discovery"
The current test discovery only supports a basic subset of the JUnit platform discovery mechanism.

Some examples of flags from gradle that get translated into junit discovery selectors/filters:

`--tests *`
`--tests "com.sksamuel.scrimage.core.*"`

[2020-02-23 00:34] sksamuel opened #1230 "Improve error message in tolerance matchers"
0.6666666 should be equal to 0.667
java.lang.AssertionError: 0.6666666 should be equal to 0.667

[2020-02-23 17:43] #1216 closed, assigned to LeoColman

[2020-02-23 19:01] sksamuel opened #1232 "Exception when getting annotations in gradle < 6"
[code]

[2020-02-23 21:47] sksamuel opened #1234 "After project failure "Class""
After project / before project errors currently manifest themselves as a "unknown class" as intellij doesn't know what to do with them.

![afterp](https://user-images.githubusercontent.com/743706/75120792-dab83100-5653-11ea-9e09-4bc250532f64.png)

It might be nicer if we create a dummy test parent called "project listener" and attach the failure there.

[2020-02-23 23:16] sksamuel opened #1235 "We don't have Array.shouldContain"
We have Array.shouldEverythingElse and Collection.shouldContain

[2020-02-23 23:20] sksamuel opened #1236 "Ever so slightly verbose output when comparing two arrays"
2020-02-23T23:00:50.0469326Z com.***.scrimage.core.OrientationTest > iphone image should FAILED
2020-02-23T23:00:50.3013586Z     org.opentest4j.AssertionFailedError: expected: [-1, -40, -1, -32, 0, 16, 74, 70, 73, 70, 0, 1, 2, 0, 0, 1, 0, 1, 0, 0, -1, -37, 0, 67, 0, 8, 6, 6, 7, 6, 5, 8, 7, 7, 7, 9, 9, 8, 10, 12, 20, 13, 12, 11, 11, 12, 25, 18, 19, 15, 20, 29, 26, 31, 30, 29, 26, 28, 28, 32, 36, 46

[2020-02-23 23:22] sksamuel commented on #1236
Should fix this for Array and ByteArray IntArray etc.
This particular case it's byte array causing the verbose output.

[2020-02-24 11:13] lwasyl commented on #1227
Could it perhaps just be `internal` for the library? Btw what's the purpose of it, overall? It's not `suspend`able and it's not called anywhere within `AbstractDescribeSpec` 🤔

[2020-02-24 11:50] BaloghTamas commented on #1227
I see now, that the purpose of this approach is to let configuration of the test cases, like here:
https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/specs/describe/DescribeSpecExample.kt#L59

Still, I believe the case of undefined and unconfigured `it` blocks should be handled, as it has a high probability that the library user unint

[2020-02-24 17:52] ashishkujoy commented on #1150
@sksamuel any thought on this indented error message for map comparison
<img width="910" alt="Screenshot 2020-02-24 23 19 17" src="https://user-images.githubusercontent.com/34642693/75177455-3372f100-575c-11ea-88ae-31c8317f30dd.png">

[2020-02-24 22:55] #1235 closed, assigned to nobody

[2020-02-25 03:58] sksamuel commented on #1150
Yes i like it.
Perhaps after the two maps we can display something like:
Values differed at keys "test1", "test"2.

And we should limit the map to only 10 entries or something with a ... if
we go over.

On Mon, 24 Feb 2020 at 11:52, ashish kumar joy <notifications@github.com>
wrote:

[2020-02-25 07:57] ashishkujoy opened #1239 "Github action for pull request fails with Task 'macosX64Test' not found in root project 'kotest'"

[2020-02-25 07:59] ashishkujoy commented on #1239
Few failing action links:
https://github.com/kotest/kotest/runs/464561022
https://github.com/kotest/kotest/runs/463430248
https://github.com/kotest/kotest/runs/461069464

[2020-02-25 12:10] sksamuel commented on #1239
Thanks, fixing in master.

On Tue, 25 Feb 2020 at 01:59, ashish kumar joy <notifications@github.com>
wrote:

[2020-02-25 16:10] #1239 closed, assigned to nobody

[2020-02-27 03:05] LeoColman opened #1240 "Ktor matchers should be infix"
Ktor matchers, such as

[code]
or
[code]

Should be infix.

[2020-02-27 07:50] splincode opened #1242 "There should be better error output when compare data classes"
### Description

When we use functions(such as shoudBe) to assert two data classes and it fails because of the different field types, we have no info about this in the error message.

## Actual behaviour

[code]

[code]

[code]

[code]

[code]

We see that the same thing is displayed on the screen, although the types of the `newValue` fields have different data types. Also when we check two fields

[2020-02-27 10:24] imanushin opened #1243 "Collection comparison matcher should print missing and unexpected elements"
**Steps for reproduce:**
1. Write code below:
[code]
2. Use ~1000 elements for ```expected``` and ```actual``` collections
3. Execute the code and check the result

**Expected result**
System shows me, that are the difference in the collection: what elements are missing, what are unexpected. For list-based comparison - what elements aren't on the right places, etc.

**Actual result**
System shows

[2020-02-27 17:24] crazyk2 opened #1244 "Make eventually and continually configurable with pollDelay"
Like [awaitility]( https://github.com/awaitility/awaitility). [process of waiter ](https://github.com/awaitility/awaitility/blob/master/awaitility/src/main/java/org/awaitility/core/ConditionAwaiter.java#L72)
 I want set poll delay, because now in `while` It's look like DOS. For example, I ask server by API call about something for 1 second. Without delay it's more than 10 000 calls. For me enough

[2020-02-27 19:48] Mishkun opened #1245 "Generate data class using reflection in property tests"
Right now, Arb support only a limited set of types it could create. It is really tedious to hook up all different Gen's to create a Gen for any custom class. Although most data classes have at least one constructor and could be created using reflection.

A sample on to how to achieve that can be found here
https://github.com/serpro69/kotlin-faker/blob/master/src/main/kotlin/io/github/serpro69/kfak

[2020-02-28 17:00] #1240 closed, assigned to LeoColman

[2020-02-28 17:09] LeoColman opened #1246 "Remove AutoScan from KoinListener"
KoinListener requires parameters to be constructed

Our AutoScan tries to initialize the listener with no arguments, and then it gets a reflection error. This happens whenever `KoinListener` is added to any project

[2020-02-29 02:36] sksamuel opened #5523 "Add intention for f: on nested tests"

[2020-02-29 02:53] sksamuel commented on #1245
So you want to be able to say Arb<Foo> and if Foo is data class Foo(a:
String, b: Boolean) then it automatically uses a StringArb and a BooleanArb
to generate Foos.
Seems like a good idea.

On Thu, 27 Feb 2020 at 13:48, Mikhail Levchenko <notifications@github.com>
wrote:

[2020-02-29 12:47] simonenkoi commented on #1246
Does it make sense to extend rule and ignore not only KoinListener but any class that doesn't have no args constructor? We can write warns, for example

[2020-02-29 13:34] sksamuel commented on #1246
Good idea

On Sat, 29 Feb 2020, 06:47 Ignat Simonenko, <notifications@github.com>
wrote:

[2020-02-29 14:35] sksamuel opened #1247 "Create documentation page that lists useful blogs / tutorials on kotest"

[2020-03-01 04:03] #1246 closed, assigned to LeoColman

[2020-03-02 16:19] dump247 opened #1252 "Deprecate/remove regex arb that accepts a Regex"
[Arb.Companion.regex(Regex)](https://github.com/kotest/kotest/blob/master/kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/regex.kt#L18) was very confusing for me initially. I assumed that it would accept any regex, but it only works with a more restricted pattern language from the [mifmif Generex](https://github.com/mifmif/Generex) library. It also drops the regex options (e.g. cas

[2020-03-02 16:20] dump247 commented on #1252
I would be happy to make these changes. I created the issue to get some feedback first.

[2020-03-02 16:24] dump247 opened #1253 "Add arb that generates lists"
Proposal to add a property test arb that generates lists of values.

Proposed API

[code]

[2020-03-02 16:25] dump247 commented on #1253
I am happy to implement this. I just wanted to get feedback before submitting an MR.

[2020-03-02 16:29] sksamuel commented on #1252
I don't think it would be as discoverable if it was called pattern but I'm ok with it being renamed.

[2020-03-02 16:31] sksamuel commented on #1253
There is `Arb.Companion.list(gen: Gen<A>, range: IntRange = 0..100)` already which I guess does hte same thing. You could delegate to this, or vice versa. I'm happy to add the new syntax.

[2020-03-02 18:07] dump247 commented on #1253
@sksamuel I did not see that method. Thank you for pointing it out.

Is this (and `list`) something that could or should be added to Gen rather than Arb? It's not entirely clear to me when a method should be added to Arb vs Gen, but this seems like something that would fit on Gen.

[2020-03-02 18:09] dump247 commented on #1253
A related question: `ListShrinker` does not take the min and max size into account when shrinking the list. I think the same thing applies to StringShrinker. Is this intentional?

[2020-03-03 04:08] ilya-g commented on #1220
Since it's based on inline classes -- not earlier than inline classes feature graduates to stable, and that doesn't seem to happen soon.

[2020-03-03 04:31] sksamuel commented on #1220
Ok, was hoping that would be 1.4. It's been a long time since 1.3 came out.

On Mon, 2 Mar 2020 at 22:08, ilya-g <notifications@github.com> wrote:

[2020-03-03 18:37] imanushin opened #1257 "Kotest fails with"
**Steps to reproduce:**
1. Create gradle project with ~30 subprojects
2. Add 10-100 tests into the each subproject.
3. Start testing via ```.\gradlew.bat build --parallel```

As the result, the following callstack is received (please check below).

Actually this is flacky issue: it isn't reproduces on some machines, however it is stable on other.
[code]

[2020-03-03 23:09] sksamuel commented on #1253
The shrinkers should take it into account. I guess the max doesn't matter as it's never going to shrink larger, but definitely min @dump247

[2020-03-03 23:10] sksamuel commented on #1253
I am thinking about tweaking the interfaces for beta2 and having Gen just be a marker interface with no methods. @Kerooker suggested this a while ago because at the moment the Exhaustive interface doesn't really do much other than be a marker itself.

[2020-03-03 23:11] sksamuel opened #1259 "Update dependencies"
From https://github.com/kotest/kotest/pull/1255

[2020-03-03 23:11] #1252 closed, assigned to nobody

[2020-03-04 03:51] #1259 closed, assigned to nobody

[2020-03-04 12:15] timrijckaert opened #1260 "1.3.70"
It seems like no tests are run when I run `./gradlew test` with Kotlin verion 1.3.70.
It works perfectly on 1.3.61.

Running `4.0.0-BETA`

In IntelliJ it does work however

Any ideas?

[2020-03-04 13:32] sksamuel opened #1261 "Support @Ignored at the spec level"

[2020-03-04 13:37] night-crawler opened #1262 "A problem with running tests on 1.3.70 (Error: Timeout of 2000ms exceeded.)"
I have added these packages:

[code]

Then I'm trying to run a sample test code from the example (I skipped mocha installation & copying of js sources because they seem to have been installed already by the new js plugin):

[code]

Here's the code to reproduce the issue:
https://github.com/night-crawler/kotest-issue

Thank you.

[2020-03-04 13:41] sksamuel commented on #1262
I've not tested kotest 4 with 1.3.70s new js stuff yet. Now that 1.3.70
final is out we'll release beta2 shortly.

On Wed, 4 Mar 2020, 07:37 Igor, <notifications@github.com> wrote:

[2020-03-04 15:51] imanushin commented on #1260
I received the following error for kotest 4.0 beta. Probably, the issue is with this.

[code]

[2020-03-04 16:11] werner291 opened #1264 "Example of property-based testing does not compile in most recent version (3.4.2)"
In the main readme, this section of code won't compile with the latest version of the library:

[code]

But the version here does work (https://github.com/kotest/kotest/blob/master/doc/property_testing.md):

[code]

[2020-03-04 19:28] sksamuel commented on #1264
That document is for 4.0 beta. There's a notice at the top of the main
readme.

On Wed, 4 Mar 2020 at 10:11, werner291 <notifications@github.com> wrote:

[2020-03-04 21:42] imanushin commented on #1236
Probably is related to #1254. Are any tests for this?

[2020-03-05 07:57] BorzdeG opened #1265 "Will there be support for Test Retry Gradle Plugin?"
https://blog.gradle.org/gradle-flaky-test-retry-plugin

[2020-03-05 09:10] ashishkujoy commented on #1244
@crazyk2 @Kerooker  We have [retry](https://github.com/kotest/kotest/blob/master/kotest-assertions/src/commonMain/kotlin/io/kotest/assertions/Retry.kt) that accept the delay between each retry. Hope that suffice the need.

[2020-03-05 13:26] crazyk2 commented on #1244
@ashishkujoy I can work with `retry`.
1) But this feature is not obvious so I even didn't think about `retry`
2) I don't want to set `maxRetry` count. I should count this number every time - `timeout` / `delay` + 1 = `maxRetry`. Why? I just know timeout and want to set approximate delay
P.S. fix your `retry` url

[2020-03-06 12:38] sksamuel commented on #1265
It should just work out of the box since it's compatible with junit5.

[2020-03-06 19:56] neckbosov opened #1268 "Add suspend analogs of withClue and asClue"
kotlin.test assert* functions support it, can we add such functionality?

[2020-03-07 17:09] sksamuel commented on #1257
Fixed in master.

[2020-03-07 17:09] #1257 closed, assigned to sksamuel

[2020-03-07 17:32] #1225 closed, assigned to nobody

[2020-03-07 17:42] #1261 closed, assigned to nobody

[2020-03-07 17:43] sksamuel commented on #1171
Closing this as we have an awesome new logo now thanks to @tibtof

[2020-03-07 17:43] #1171 closed, assigned to nobody

[2020-03-07 18:27] sksamuel commented on #1253
@dump247 what are your thoughts on that ?

[2020-03-07 21:19] sksamuel commented on #1222
Done in master.

[2020-03-07 21:19] #1222 closed, assigned to sksamuel

[2020-03-08 03:31] dump247 commented on #1253
I do not really understand what marker interface means. Does that mean you remove `minIterations` and `generate` from Gen and it has no methods? Or that Gen and Exhaustive do not have any extension methods declared in kotest (everything is on Arb)?

[2020-03-08 04:11] sksamuel commented on #1253
Exactly. Gen is just an interface to stop you passing Wibble to the forAll
methods. Wherever we do gen.generate at the moment, which is not in many
places, we just wrap it in a when. In other words we treat Exhaustive and
Arb as an ADT.

On Sat, 7 Mar 2020 at 21:31, Cory Thomas <notifications@github.com> wrote:

[2020-03-08 13:10] sksamuel opened #1269 "ShouldThrowMessage"

[2020-03-08 17:01] LeoColman commented on #1269
I think we already have `throwable.shouldHaveMessage`. How would this be different?

[2020-03-08 22:30] sksamuel commented on #1269
Because it would be like:

shouldThrowMessage("Some message") {
 test here
}

[2020-03-09 01:29] #1229 closed, assigned to sksamuel

[2020-03-09 03:31] sksamuel commented on #1268
Please try 4.0.0-beta2 which has withClue and asClue as inline, so they'll work with suspend.

[2020-03-09 03:31] #1268 closed, assigned to nobody

[2020-03-09 03:31] sksamuel commented on #1262
Beta2 is released with 1.3.70 support.

[2020-03-09 03:31] #1262 closed, assigned to sksamuel

[2020-03-09 03:31] sksamuel commented on #1260
Beta2 is released with 1.3.70 support.

[2020-03-09 03:31] #1260 closed, assigned to nobody

[2020-03-09 03:31] sksamuel commented on #1227
Beta2 is released which will throw an exception when creating tests if you use this kind of syntax.

[2020-03-09 03:31] #1227 closed, assigned to nobody

[2020-03-09 03:32] sksamuel commented on #1217
Please try beta2 which has split assertions into assertions-core, so that if you use kotest framework, you won't get the assertions automatically. @dave08

[2020-03-09 03:32] #1217 closed, assigned to nobody

[2020-03-09 07:49] netvl opened #1272 "Path matchers should be implemented without a `toFile()` conversion"
At the moment, most of the matchers for `java.nio.file.Path` are implemented using matchers for `java.io.File`:
[code]

This, unfortunately, makes these matchers completely unusable with any file system except the default one. For example, if a given `Path` is obtained from a `ZipFileSystem`, this matcher will fail with `UnsupportedOperationException`.

Ideally matchers for `Path` values should be

[2020-03-09 11:22] Mahoney opened #1273 "KotestEngine.execute never exits"
Using 4.0.0-BETA2, the following main method never exits:
[code]

It's because `io.kotest.core.runtime.ExecutorExecutionContext` spins up two non-daemon executors and provides no means to stop them.

[2020-03-09 11:25] sksamuel commented on #1273
Did you mean to add more details :)

[2020-03-09 11:33] Mahoney commented on #1273
I did, accidentally hit enter...

[2020-03-09 11:35] sksamuel commented on #1273
It should explicitly exit. I'll add that.

[2020-03-09 11:47] #1234 closed, assigned to sksamuel

[2020-03-09 12:08] sksamuel commented on #1273
I've fixed the leaks so that all the executors are shut down.

[2020-03-09 12:08] #1273 closed, assigned to nobody

[2020-03-09 12:14] sksamuel commented on #1272
Good points. We'd welcome a PR!

[2020-03-09 12:22] sksamuel commented on #1108
Can you try 4.0.0-BETA2 ?

[2020-03-09 12:22] #835 closed, assigned to nobody

[2020-03-09 12:22] sksamuel commented on #867
Can you try 4.0.0 beta?

[2020-03-09 15:52] dump247 commented on #1253
Would forAll (and others) treat Exhaustive differently than Arb? Are these two interfaces more than just generating a sequence of values? What does Gen being a marker interface enable?

It sounds ok to me. It would make the question of where things go a little clearer, I think. I am curious about the reasoning and would like some more details on the thinking behind the change.

[2020-03-09 19:00] sksamuel commented on #1253
Arb and Ex are two interfaces which are naturally very similar. But Ex requires plain values, and Arb requires values + shrinks + edgecases.

So the options are.
1) What we have currently - a Gen interface that defines the methods that Arb needs, and Exhaustive just adheres to that.
2) Arb and Exhaustive having the methods that make sense for them, and a marker interface that they both implement.

[2020-03-10 01:32] sksamuel commented on #1232
Fixed in master and will be included in beta3.

[2020-03-10 01:32] #1232 closed, assigned to nobody

[2020-03-10 01:33] sksamuel commented on #790
@Kerooker any idea on this one ?

[2020-03-10 01:36] sksamuel commented on #1088
@EarthCitizen are you still working on this ?

[2020-03-10 02:09] EarthCitizen commented on #1088
@sksamuel There was some work underway in #1087, but that was before the big refactor and redesign. It needs work to get it compatible with the current code base. I have unfortunately been too busy to get back to it.

[2020-03-10 02:34] sksamuel commented on #1088
Ok thanks for the update. If you are too busy to pick it up we can close this, or if you think you have time we can leave it open.

[2020-03-10 02:38] sksamuel commented on #1114
So is this a bug or just a lack of gradle reporting ?

[2020-03-10 02:38] sksamuel commented on #809
This was not a bug, just that the junit5 platform support was not setup.

[2020-03-10 02:38] #809 closed, assigned to sksamuel

[2020-03-10 02:39] sksamuel commented on #594
Gradle 6 supports CONTAINER_AND_TEST but what was the bug that required this ?

[2020-03-10 03:11] EarthCitizen commented on #1088
@sksamuel I don't believe I will have time in the near future.

[2020-03-10 04:02] #1066 closed, assigned to nobody

[2020-03-10 04:11] #1138 closed, assigned to nobody

[2020-03-10 07:34] #778 closed, assigned to nobody

[2020-03-10 09:07] asm0dey opened #1274 "Allow multiple project configs"
Say I have suite of integration tests and I need to launch test container with postgres for them to work.

But I don't need it for unit tests.

Currently I can do it with parent class for integration tests and overriding "before project" there.

But now `beforeProject` is deprecated. What is the correct way to implement it?

[2020-03-10 10:11] asm0dey commented on #999
Further activity is here. Still want this feature.

[2020-03-10 10:16] asm0dey commented on #1088
Sorry for intervening, but I don't think it's good idea to close this issue even if it won't be resolved in near future. People should know drawbacks of library.

[2020-03-10 11:30] imanushin opened #1275 "Add binary validator (to avoid methods loosing)"
I found, that String Matchers (such as ```shouldContain```) are inaccessible for current moment at ```4.0.0-BETA2```.

Suggestion: add [binary-compatibility-validator](https://github.com/Kotlin/binary-compatibility-validator) plugin into gradle build.

[2020-03-10 12:43] sksamuel commented on #1275
Good idea on the plugin.

What's wrong with shouldContain ?

On Tue, 10 Mar 2020, 06:30 Igor Manushin, <notifications@github.com> wrote:

[2020-03-10 13:38] LeoColman commented on #1275
It's likely that @imanushin needs to add the assertions manually

[2020-03-10 13:44] LeoColman commented on #594
I don't remember what was the bug.
It was an issue with finalizing the tests, if I remember correctly

[2020-03-10 13:45] LeoColman commented on #790
I think this was depending on the PR, but I think it was not completely done and now is distant from the master branch

[2020-03-10 13:46] imanushin commented on #1275
@Kerooker , yes, I will try to add this validation into the ```kotest```.

In regarding to ```shouldContain``` - I added ```kotest``` ```4.0.0-BETA2``` as dependency. And IntelliJ Idea couldn't resolve imports for code from sample (please check below). Probably, ```shouldContain``` method was moved out of core scope. And there aren't such matchers [at the target package](https://github.com/kotest/

[2020-03-10 13:48] sksamuel commented on #790
I think it was that you can't use now(zoneId) with the listener.

[2020-03-10 13:49] sksamuel commented on #1275
Try adding assertions-core to your build.

On Tue, 10 Mar 2020 at 08:46, Igor Manushin <notifications@github.com>
wrote:

[2020-03-10 13:49] LeoColman commented on #1275
ShouldContain is still on the Assertions module:
https://github.com/kotest/kotest/blob/fd127f0e0d3e382017175f7ee54a4996f4726c6e/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/string/matchers.kt#L139

[2020-03-10 14:15] LeoColman commented on #790
Yes, that was the feature request

[2020-03-10 14:23] sksamuel commented on #1275
Assertions-core

On Tue, 10 Mar 2020, 08:49 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-03-10 15:46] EarthCitizen commented on #1088
@asm0dey Would you be interested in continuing the work on #1087?

[2020-03-10 16:53] imanushin commented on #1275
I understand. The issue is with project configuration. The ```kotest-runner-junit5``` references [kotest-assertions-jvm](https://mvnrepository.com/artifact/io.kotest/kotest-assertions-jvm), not [kotest-assertions-**core**-jvm](https://mvnrepository.com/artifact/io.kotest/kotest-assertions-core-jvm).

So issue could be resolved by adding ```kotest-assertions-core-jvm``` dependency manually.

I thin

[2020-03-10 16:57] asm0dey commented on #1088
TBH I'm interested in implementation, but potentially ready to implement too if you have any idea on how to perform it.

[2020-03-10 16:57] sksamuel commented on #1275
That's deliberate. We don't want to bring the core dependency in, so that
people can use the kotest framework without necessarily getting the
assertions library.

On Tue, 10 Mar 2020 at 11:53, Igor Manushin <notifications@github.com>
wrote:

[2020-03-10 20:56] imanushin commented on #1275
@sksamuel, yes, this reasonable. However, probably, we can add one more jar package with idea "latest junit all jvm assertions"? It shouldn't have any code, however it could be added as one dependency to cover 90% of cases.

[2020-03-11 19:13] themoritz opened #1279 "Property tests should report exception of running shrunk input"
During property testing, if an input fails, the `AssertionError` is being rendered as part of the test report. But if the input has successfully shrunk, the exception that failed the shrunk input is ignored.

Ideally the exception that the user sees in the final test report should be the one that the shrunk input failed with. It might also be ok to render both exceptions since also both inputs (or

[2020-03-12 06:30] xuhaibahmad opened #1280 "Robolectric extension with custom Application instance"
Thanks for providing Robolectric support. I'm using the extension on `4.0.0-BETA2` and normal tests seem to run fine. However, I need to use the test implementation for `Application` class.

The `@Config` annotation seems to have no effect and the extension's source does not contain any hint about Robolectric configurations.

[2020-03-12 07:42] kelly-yinn commented on #790
Yes, it was that we can't use `now(zoneId)` and `now(clock)` with the listener. Let me have a try on Sunday :)

[2020-03-12 12:48] LeoColman commented on #1280
I don't think we have that yet.

Do you want to work on this? If you don't I can add this to the Robolectric Extension!

[2020-03-12 13:55] xuhaibahmad commented on #1280
Oh, I would love to! However, I'll need to dive into the source first to make the sense of the codebase. I'll have a go over the weekend. Hope it's not urgent.

[2020-03-12 14:38] sksamuel commented on #1274
beforeProject exist in ProjectListener's which you can @Autoscan.
Also you can use tags to have some tests run and not othrs.

[2020-03-12 20:17] asm0dey commented on #1274
Well, I believe I need another thing:

Run all tests, but launch testcontiners only for ancestors of base class of integration tests.

Also I need different sets of test containers for different base classes

[2020-03-12 22:55] sksamuel commented on #1274
This test container thing you only want to launch once for a bunch of tests?

On Thu, 12 Mar 2020, 15:18 Paul, <notifications@github.com> wrote:

[2020-03-13 13:39] asm0dey commented on #1274
Yes. Say I have case class PostgresTests and base class MySqlTests, both inheriting BehaviourSpec. I need different containers for ancestors of these classes

[2020-03-13 14:43] sksamuel commented on #1274
Can you add a listener to the parent classes to do the setup and teardown?

On Fri, 13 Mar 2020, 08:39 Paul, <notifications@github.com> wrote:

[2020-03-13 14:54] asm0dey commented on #1274
What is the supposed way to do so? I can find beforeSpec, but not beforeAll.

[2020-03-13 15:03] sksamuel commented on #1274
Extend `ProjectListener` and add that to your parent spec(s).

On Fri, 13 Mar 2020 at 09:54, Paul <notifications@github.com> wrote:

[2020-03-13 15:04] asm0dey commented on #1274
Well, than it's the same as overriding `beforeProject` in parent class, isn't it?

[2020-03-13 15:04] asm0dey commented on #1274
BTW it's stated in documentation that there should be only one project listener

[2020-03-13 15:06] sksamuel commented on #1274
Yes it is the same. But it would do what you want?

[2020-03-13 18:08] asm0dey commented on #1274
If it works — than I think so. But it shouldn't work according to documentation.

[2020-03-13 19:44] glasser opened #1283 "timeout doesn't actually stop the test"
The current implementation of test timeouts makes the test's result be failure but doesn't actually proactively stop the test, so you can't use it to make your tests end in a reasonable amount of time in failure.

For example, this diff applied to `release/3.4` yields a failing test. (The embedded test here spins for a second.)

[code]

The test is commented out on master and the code seems to be

[2020-03-13 22:09] ClaasJG opened #1284 "Improve error messages with vararg arguments (for string Matcher shouldContainInOrder)"
Hi,

i am using ' 4.0.0-BETA2 '.

Current behavior:
`"abc".shouldContainInOrder("c", "a", "b)`
reports:
`abc should include substrings [Ljava.lang.String;@4b03e083 in order`.

It should report the message:
`abc should include substrings c, a and b in order`. (Or similar, but the substrings should be visible)

Proposed fix:
`shouldContainInOrder` calls [io/kotest/assertions/show/Show.kt#L17](https:

[2020-03-13 22:27] ClaasJG opened #1285 "shouldContainInOrder problems with duplicates"
Hi,

i am using ' 4.0.0-BETA2 '.

Current behavior:
`"a" should containInOrder("a", "a")` matches but should not.
`"aba" should containInOrder("a", "b", "a")` does not match but should.
`"a" should containInOrder("b")` does match but should not.

Proposed fix:
Rewrite of [kotlin/io/kotest/matchers/string/matchers.kt#L131](https://github.com/kotest/kotest/blob/525df298325779833c1e80919dc43afc963dad

[2020-03-13 23:08] sksamuel commented on #1285
Good find thanks. A PR would be excellent.

On Fri, 13 Mar 2020 at 17:27, ClaasJG <notifications@github.com> wrote:

[2020-03-14 09:23] xuhaibahmad commented on #1280
So I started working on the PR today but ran into some other issues. My goal was to create a sample project and use it as a playground for the changes I make initially.

The sample project contains a very basic setup consisting of a `MainActivity` that calls a getter on custom `Application` instance and displays the value in a `TextView`. I planned on creating a test version of the `Application` c

[2020-03-14 17:12] krzema12 opened #1287 "Data-driven tests: `row` fails when using unsigned integer types"
Such test:

[code]

fails with

[code]

I checked that these variants work fine:
* when `0x00u` changed to a regular integer `0x00`
* when just one element per row, of type `UByte`

Unsigned integer types are experimental since Kotlin 1.3, so I don't expect them to work perfectly. However, this issue is a blocker for me to try out kotest in my new project.

Kotlin version: 1.3.70
Kotest version: `

[2020-03-14 19:31] krzema12 commented on #1287
After stepping through kotest code with the debugger:

[code]

Something remotely related (the same exception message) was already reported in https://youtrack.jetbrains.com/issue/KT-27948 - see the comments.

I suspect it's actually Kotlin's fault. If we manage to create a simple, self-contained example that proves Kotlin failing on its own, I'll report a bug for Kotlin. I just need to wrap my he

[2020-03-14 20:24] krzema12 commented on #1287
Got such minimal example so far:

[code]

Works fine if either no coroutines, no unsigned int types or no generics are used. Looks like coroutines + unsigned types + generics = `ClassCastException`.

Reproducible in Kotlin Playground: https://pl.kotl.in/hTengAsjX
Reported as a bug in Kotlin: https://youtrack.jetbrains.com/issue/KT-37500

Even though it seems like a bug in Kotlin, I suggest keeping

[2020-03-14 20:58] sksamuel commented on #1287
Ok good find.

On Sat, 14 Mar 2020 at 15:24, Peter <notifications@github.com> wrote:

[2020-03-14 21:37] sksamuel commented on #1283
Are you looking for a test to be interrupted after timeout? If so beta3 will do that once it's released. Of course the user code has to be cooperative.

[2020-03-15 03:32] sksamuel opened #1290 "Add checkCoverage for new property tests"

[2020-03-15 03:55] #1269 closed, assigned to nobody

[2020-03-15 04:19] #1285 closed, assigned to nobody

[2020-03-15 16:08] glasser commented on #1283
As an example, I had a test of a class that manages a background coroutine. I passed the class the TestContext to use as its CoroutineScope. Part of what I wanted to test was that the class cleans up its coro properly, and kotest does enforce that, since the test won't pass if there are outstanding coros in the TestContext scope! But I wanted to make sure the test would fail within a few seconds i

[2020-03-15 17:44] sksamuel commented on #1283
Ok so I've expanded the timeout testsuite a bit. I think the test case you're looking for specifically is this: https://github.com/kotest/kotest/blob/c1c180071eb66212890f3f8906770bac6f3c3979/kotest-tests/kotest-tests-timeout/src/jvmTest/kotlin/com/sksamuel/kotest/timeout/TimeoutTest.kt#L27-L29

It tests that any launched coroutines nested in the coroutine of the test lambda is cancelled when the t

[2020-03-15 17:56] #1290 closed, assigned to sksamuel

[2020-03-15 18:50] sksamuel commented on #1118
I've added comprehensive documentation on the test listener.

[2020-03-15 18:50] #1118 closed, assigned to sksamuel

[2020-03-15 19:01] sksamuel commented on #1274
I've improved the listener documentation. https://github.com/kotest/kotest/blob/master/doc/listeners.md

Does this make things clearer ? Or is there more to add (PR ?)

[2020-03-15 20:15] #1150 closed, assigned to nobody

[2020-03-15 20:49] sksamuel commented on #597
As part of a recent commit I overhauled our support of junit platform selectors / filters.
This means the following gradle documentation now applies directly to kotest.

I've added a section into our documentation that introduces this and then links to the gradle documentation.

[2020-03-15 20:49] #597 closed, assigned to nobody

[2020-03-15 20:53] #1272 closed, assigned to sksamuel

[2020-03-15 20:53] sksamuel commented on #1272
Added in beta 3.

[2020-03-16 04:37] sksamuel commented on #1253
I am closing this as the PR is up and it is unrelated to this now completed ticket.

[2020-03-16 04:37] #1253 closed, assigned to nobody

[2020-03-16 06:59] sksamuel commented on #1236
Fixed in master, test added.

[2020-03-16 06:59] #1236 closed, assigned to nobody

[2020-03-16 07:09] sksamuel commented on #1293
Working in the latest 4.0 beta.

![bspec](https://user-images.githubusercontent.com/743706/76731310-1f9f2700-672b-11ea-87e6-e1af099a0329.png)

[2020-03-16 07:09] #1293 closed, assigned to sksamuel

[2020-03-16 08:05] ClaasJG commented on #1284
Fixed by https://github.com/kotest/kotest/commit/94fe709ca7361a87ebbaa37fa42e60c65cad5878

[2020-03-16 08:05] #1284 closed, assigned to nobody

[2020-03-17 03:04] sksamuel commented on #1084
kotest will do the diff if a) you're running on the JVM and b) your string is over 50 lines long.
However you can control that 50 line limit.
If you set `kotest.assertions.multi-line-diff-size=0`  as a system property then it should use diff all the time.

[2020-03-17 03:29] #1243 closed, assigned to nobody

[2020-03-17 04:31] sksamuel commented on #1245
This is now in master and will be included in 4.0.0-BETA3.

[2020-03-17 04:31] #1245 closed, assigned to sksamuel

[2020-03-17 04:49] ashishkujoy commented on #979
Done in [PR](https://github.com/kotest/kotest/pull/1296)

[2020-03-17 04:49] #979 closed, assigned to nobody

[2020-03-17 05:19] sksamuel commented on #1088
We could add an generator for codepoints.

[code]

Based on what @EarthCitizen posted up.

We could allow this to be customed to set the codepoint range.

Then we could have a String generator that accepts a codepoint generator.

[2020-03-17 06:08] sksamuel commented on #1283
BETA3 has been released.

[2020-03-17 06:09] sksamuel commented on #1245
beta3 is now released.

[2020-03-17 06:16] #884 closed, assigned to sksamuel

[2020-03-17 06:16] #952 closed, assigned to nobody

[2020-03-17 06:16] #974 closed, assigned to nobody

[2020-03-17 06:16] #1115 closed, assigned to nobody

[2020-03-17 18:32] krzema12 commented on #1287
It's a known bug, see https://youtrack.jetbrains.com/issue/KT-32793. I encourage you to +1 it.

[2020-03-17 18:42] sksamuel commented on #1287
Upvoted.

On Tue, 17 Mar 2020 at 13:32, Peter <notifications@github.com> wrote:

[2020-03-17 19:17] EarthCitizen commented on #1088
@sksamuel For efficiency, it would be better to fetch integers between MIN_CODE_POINT (0x0) and (MAX_CODE_POINT) 0x10FFFF rather than filtering all integers for that range, because the max code point is only 1,114,111. It would spend a lot of time discarding 99% of the randomly generated integers.

[code]

[2020-03-17 19:21] sksamuel commented on #1088
Agreed. But other than that, a sensible approach?

On Tue, 17 Mar 2020 at 14:17, EarthCitizen <notifications@github.com> wrote:

[2020-03-17 19:26] vlsi commented on #1088
Technically speaking, code points should come in pairs: `high surrogate precedes a low surrogate`, so `min: Int, max: Int` is not quite enough.

[2020-03-17 19:42] sksamuel commented on #1088
My understanding is that a codepoint is a unique integer that defines a
symbol or lexeme in the Unicode standard. These are then mapped to 16bit
values in UTF-16 whereby _most_ of the codepoints have a single 16 bit
value, and some (the surrogates) require 2

On Tue, 17 Mar 2020 at 14:26, Vladimir Sitnikov <notifications@github.com>
wrote:

[2020-03-17 19:44] vlsi commented on #1088
Ah, you are indeed right. So the approach of producing a code point, and splitting it into surrogate pair (if required) should work indeed.

[2020-03-17 19:46] sksamuel commented on #1088
And using the code @EarthCitizen already provided but splitting it up into
Kotest's 4.0 property test stuff should be enough.
I'll do this soon unless someone beats me to it.

On Tue, 17 Mar 2020 at 14:44, Vladimir Sitnikov <notifications@github.com>
wrote:

[2020-03-17 20:34] EarthCitizen commented on #1088
@sksamuel Yes. Beyond the range and doing it efficiently, it is just a random integer.

[2020-03-18 02:53] sksamuel commented on #1088
Please all take a look at PR #1297

[2020-03-18 04:27] sksamuel commented on #1247
Duplication of #1185

[2020-03-18 04:27] #1247 closed, assigned to nobody

[2020-03-18 10:53] crazyk2 opened #1298 "How to use/run AnnotationSpec style tests?"
Your [example](https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/specs/annotation/AnnotationSpecExample.kt) doesn't work.
If I run [FunSpecExample](https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/specs/funspec/FunSpecExample.kt) tests all works well.
How to run\config

[2020-03-19 02:19] sksamuel commented on #1298
What version ?

[2020-03-19 03:28] #1088 closed, assigned to sksamuel, EarthCitizen

[2020-03-19 03:29] sksamuel commented on #1088
Merged into master. Will be included in 4.0.0 final to be released in the next few days.

[2020-03-19 03:31] sksamuel commented on #999
So the solution is for us to add a custom reporter that writes out an XML file in JUnit format but with every "level" flattened.

[2020-03-19 06:23] asm0dey commented on #1274
LGTM, thanks!

[2020-03-19 06:23] #1274 closed, assigned to nobody

[2020-03-19 10:56] crazyk2 commented on #1298
Latest v4.0.0-BETA3

[2020-03-19 12:40] besil commented on #1220
Today found this issue using Kotest 4.0.0-BETA3 and Kotlin 1.3.61.
Everything works fine using Kotest 4.0.0-BETA1 and both Kotlin 1.3..61 and 1.3.70.

[2020-03-19 13:46] crazyk2 commented on #1298
@sksamuel I found a simple way to fix this issue. I could send PR but if you rewrite base code (as in your [commit](https://github.com/kotest/kotest/commit/715eacbc0f4572613c86928a34bb93de15b51218)) I could just wait)))

[2020-03-19 14:22] sksamuel commented on #1298
It's fixed in master now.

On Thu, 19 Mar 2020 at 08:46, crazyk2 <notifications@github.com> wrote:

[2020-03-19 14:29] sksamuel commented on #1220
You need to bump to 1.3.70

On Thu, 19 Mar 2020 at 07:40, Silvio Bernardinello <notifications@github.com>
wrote:

[2020-03-19 16:09] crazyk2 commented on #1298
I read your commit. Great changes to better readability and structure. But why you made difference between Annotation and DSL styles in code.
The problem was that tests weren't add to rootTestCases because tests were written outside `init{}` block if compare with other styles when instance of class is initializing by call [createInstance](https://github.com/kotest/kotest/blob/715eacbc0f4572613c869

[2020-03-19 16:12] sksamuel commented on #1298
I think my way is clearer that with dsl specs the tests are added in place
and with annotation specs they are created when asked.

On Thu, 19 Mar 2020, 11:10 crazyk2, <notifications@github.com> wrote:

[2020-03-19 16:17] crazyk2 commented on #1298
Did you mean `TestCase`? Because test classes are initialized any way

[2020-03-19 16:23] crazyk2 commented on #1298
I am a new in kotest and it would be great to have common workflow of tests\big schema to understand how it works. Maybe do you have something like that?

[2020-03-19 18:56] sksamuel commented on #1298
Are you asking which styles to use when laying out the tests ?

[2020-03-20 03:19] #1298 closed, assigned to nobody

[2020-03-20 07:32] crazyk2 commented on #1298
No I mean engine under the hood. How tests group, how runs how separated on threads and etc. Because now its a big work to read all framework to understand details. in past time I did that work with testNG and know pros and cons of this legacy framework (I called "legacy" because now exists kotest;) ) and I wanna help or adapt framework for my purpose

[2020-03-20 12:58] Cotel opened #1301 "Android: Test events were not received"
Hi, I've added latest Kotest to my android project and, when I try to run the gradle task for unit tests, it always says `Test events were not received` or it gets stuck and never finish the task. Currently there is only one test using `StringSpec` and several tests using JUnit4 annotations.

We are using Gradle 3.6.1 and Kotest 4.0.0-BETA3.

[2020-03-20 13:20] magro opened #1302 "Email generator does not generate proper emails"
Running the following test fails:
[code]

Test failure:
[code]

Not sure if I'm using that wrong, or if it's a bug.

For reference: email generator was added with commit d8befa16 to solve #1134

[2020-03-20 16:04] crazyk2 opened #1303 "Annotation tests style function visibility"
I'm from TestNG\JUnit 5 and I will compare kotest with them. It’s logical that I prefer and am used to using annotations in tests.
Is there reason why only public fun tests are works?
JUnit/testNG support protected/private/public function [link](https://stackoverflow.com/a/55230350/6315556)
Or you haven't think about it yet?

I've just faced with it and found solution if you don't mind
[code]

[2020-03-20 16:16] crazyk2 commented on #1298
@sksamuel, please build and publish a new v4.0.0-BETA4

[2020-03-20 16:18] sksamuel commented on #1298
The next release will be 4.0.0 final.

On Fri, 20 Mar 2020 at 11:17, crazyk2 <notifications@github.com> wrote:

[2020-03-20 17:17] #1109 closed, assigned to sksamuel

[2020-03-21 04:25] sksamuel commented on #1302
Fixed in master. Will be released as part of 4.0 final.

[2020-03-21 04:25] #1302 closed, assigned to nobody

[2020-03-21 04:33] sksamuel commented on #1244
I've added poll as an option to eventually and continually. This will be included in 4.0 final.

[2020-03-21 04:33] #1244 closed, assigned to sksamuel

[2020-03-21 04:38] sksamuel commented on #594
I'm closing this because behavior spec is already complex enough.

[2020-03-21 04:38] #594 closed, assigned to nobody

[2020-03-21 04:41] #1078 closed, assigned to EarthCitizen

[2020-03-21 04:41] sksamuel commented on #1078
String now uses Gen.codepoints, so closing.

[2020-03-21 14:45] magro commented on #1302
Awesome, thanks!

[2020-03-21 22:08] sksamuel commented on #1303
If we can make private/protected functions work easily, I'll happily add it for 4.0.

[2020-03-22 04:17] sksamuel commented on #1303
Private and protected now supported in 4.0.

[2020-03-22 04:17] #1303 closed, assigned to nobody

[2020-03-22 04:33] sksamuel commented on #661
Kotest 4.0 has been released.

[2020-03-22 04:33] #661 closed, assigned to sksamuel, LeoColman

[2020-03-22 08:34] kortov commented on #5528
I guess it's related to kotest/kotest#5541

[2020-03-23 08:11] sksamuel opened #1304 "Add property test Arb for (lat, long)"

[2020-03-23 08:16] sksamuel commented on #1152
I have reworked property testing docs to be far more comprehensive and to use the new arbs and exhaustives.

[2020-03-23 18:55] imanushin opened #1305 "Kotest couldn't run tests parallel"
Probably this issue is related to #1257 . Current issue is with ```beta-3``` jvm version.

**Steps to reproduce:**
1. Create project with ~30 subprojects
2. Add tests, etc.
3. Run ```gradlew build --parallel```

**Expected result:**
Tests from different projects are executed in parallel
Tests from the same project are executed simultaneously

**Actual result:**
Looks like, only one test could be e

[2020-03-23 18:58] sksamuel commented on #1305
Does --parallel run tests in parallel or run modules in parallel ?

On Mon, 23 Mar 2020 at 13:56, Igor Manushin <notifications@github.com>
wrote:

[2020-03-23 19:07] imanushin commented on #1305
```--parallel``` allows running tasks from different gradle modules in parallel. E.g. all tasks are executed sequentially inside the same module.

I checked - this issue is related to ```4.0.0``` version too (not beta), however there aren't such issues in previous versions.

[2020-03-23 21:15] crazyk2 opened #1306 "Support @DataProvider in AnnotationSpec"
As described in this [issue](https://github.com/kotest/kotest/issues/456) support Table/Data Driven Testing for AnnotationSpec style.
 I see that other styles [support this feature](https://github.com/kotest/kotest/issues/456#issuecomment-602792921)

TestNG example
[code]

Output result
[code]
And idea show cases
![image](https://user-images.githubusercontent.com/12140191/77348962-5e486900-6d4b-11

[2020-03-23 21:38] crazyk2 opened #1307 "Support config per test in AnnotationSpec"
For other styles semantic allows you configure each test (enabled, invocations, threads etc) except `AnnotationSpec`. Kotest has only `Ignore` now.
(as for me I will do it via TestNG's @Test(enabled = false)) or JUnit's	@Disabled(value = "Reason why this test is disabled now!")
I prefer configure test via annotation like TestNG  @Test or create new annotation @Config.
but annotation does't  allow

[2020-03-24 00:28] sksamuel commented on #1305
It might be the case that gradle uses the same test listener for all the modules in parallel mode. We synchronize reporting so gradle doesn't get confused.
How do you know it's not running the tests in parallel? Are you going by test output or by total time executed?

[2020-03-24 04:59] sksamuel opened #1308 "Add documentation on test factories"

[2020-03-24 05:17] sksamuel commented on #1306
This won't be supported in annotation specs. AnnotationSpec is meant as a placeholder while you upgrade from JUnit5. If you like annotation style, then you may as well just use JUnit.

[2020-03-24 05:17] #1306 closed, assigned to nobody

[2020-03-24 05:17] sksamuel commented on #1307
This could be added to AnnotationSpec.

[2020-03-24 05:21] #1304 closed, assigned to nobody

[2020-03-24 05:47] sksamuel commented on #1301
You would need gradle 6+

[2020-03-24 05:47] sksamuel commented on #1301
And Kotest 4.0 final is out.

[2020-03-24 08:16] Cotel commented on #1301
So there is no way to make Kotest work on Android? I think we can't use higher versions for the wrapper as we are limited by the android plugin 🤔

To be more specific with versions we are using:
* `com.android.tools.build:gradle:3.6.1` - Android Gradle Plugin
* `https\://services.gradle.org/distributions/gradle-5.6.4-all.zip` - Gradle Wrapper

Congratulations 🎉

[2020-03-24 09:17] imanushin commented on #1305
Hmm, however the same Gradle version worked perfectly with previous version of kotest (e.g. 3.*).

I found this behavior by observing Gradle output: I noticed, then two test task could be executed in parallel, however test counting is never incrementing in parallel. In contrast with this, previously two parallel test tasks could increment tests in parallel.

[2020-03-24 17:37] StragaSevera commented on #5541
Ehm, the intention of running all tests is pretty clear - to make sure that you did not break something seemingly unrelated to the feature you are working on.

[2020-03-24 17:52] LeoColman commented on #5541
It is, yes.
Currently we can execute all tests with `gradlew test`.

[2020-03-25 03:30] #1264 closed, assigned to nobody

[2020-03-25 03:33] sksamuel commented on #1264
Property test docs have now been updated.

[2020-03-25 03:34] #1192 closed, assigned to nobody

[2020-03-26 02:17] sksamuel opened #1309 "New map error message doesn't include stack trace"
Eg

java.lang.AssertionError: Expected
{
  "shade" = "VICE"
}
to be equal to
{
  "shade" = "Sheer Streak"
}
Values differed at keys shade

But doesn't include the source point this happens.

@ashishkujoy

[2020-03-26 02:23] sksamuel opened #1310 "Assertion diff not appearing in intellij"
[code]

[2020-03-26 02:36] sksamuel commented on #1310
Seems to work for strings ok.

[2020-03-26 10:33] crazyk2 opened #1311 "BeforeAll and etc order execution in AnnotationSpec"
[code]
Output
[code]
Example above with correct order.
TestNG and JUnit guarantee order execution as described below.
From JUnit docs (the same for BeforeClass, AfterClass, AfterEach):
[code]
AnnotationSpec ex. function
[code]
returns all (this class and all of its superclasses) functions in alphabet order and later they are executed in this order
[code]
Functions should be collected to list from

[2020-03-26 11:06] ashishkujoy commented on #1309
@sksamuel
I have tried out that i can see the stacktrace as well.
Below is screenshot for failure of following test
[code]
<img width="1675" alt="Screenshot 2020-03-26 16 33 42" src="https://user-images.githubusercontent.com/34642693/77640082-c97a8100-6f7f-11ea-9be8-75e2ec5c8be3.png">

[2020-03-26 11:08] ashishkujoy commented on #1309
This is using kotest 4.0.1
kotlin 1.3.70
gradle-6.2.2
java version "1.8.0_241"
on mac os 10x

[2020-03-26 12:19] crazyk2 commented on #1311
[code]
or the same
[code]
but all variants as for me smelly))

[2020-03-26 20:41] LeoColman opened #1312 "Duplicate class Testable"
When trying to setup an Android Project with Kotest, the following error appears:

[code]

This is likely an issue with Android platform only, probably messing with some Jar merges.

We originally had this `@Testable` annotation in order to show a green `run` gutter icon in Intellij. It must be from JUnit, and we didn't want to add JUnit's dependency to our project only for that annotation.

So we

[2020-03-27 04:11] netvl opened #1313 "Any kind of `.show()` on `java.nio.file.Path` causes a StackOverflowError"
Simple example:

[code]

fails with the following error:

[code]

This is probably caused by the fact that `Path` is an `Iterable<Path>`.

This problem makes many of the matchers working with `Path`s unusable, because they want to print the `Path` somehow, which invariably causes a StackOverflowError. For example, something like

[code]

also fails with the `StackOverflowError`, because it always

[2020-03-27 04:22] LeoColman commented on #1313
Nice catch

[2020-03-27 12:57] GuidoDechamps opened #1314 "Internal test classes not picked up"
Moving from version 3.4.2 to 4.0.1. our test that were internal no longer get executed. Making the test class "public" fixes this. Is this intentional / by design?

[2020-03-27 15:06] pawegio commented on #1301
with Gradle 6.2.2 doesn't work as well

[2020-03-27 15:23] sksamuel commented on #1314
By design, but we can add a flag to enable internal (as we do this for tests). Would that work ?

[2020-03-28 04:53] #1122 closed, assigned to nobody

[2020-03-28 09:33] samrakchan commented on #5543
I also have same issue.
macOS 10.12.6

[2020-03-28 16:56] Nimamoh commented on #1152
Additionnally, would it be possible to mention to the user that `kotest-property` dependency need to imported?

[2020-03-28 19:13] sksamuel commented on #1152
Good idea, I've added a quick start section with the module information.

[2020-03-29 01:41] #5547 closed, assigned to nobody

[2020-03-29 01:41] #5544 closed, assigned to nobody

[2020-03-29 02:02] sksamuel commented on #5544
This is fixed in kotest 4.

[2020-03-30 01:03] #1312 closed, assigned to nobody

[2020-03-30 04:07] LeoColman opened #1321 "Expand some matchers to Iterable"
When working with an Iterable, we sometimes might want to assert that it's empty, or that it contain a specific element.

The current way to to this is using `toList`, as in `iterable.toList().shouldBeEmpty()`

Should we expand the collection matchers to a higher level?

[2020-03-30 04:39] sksamuel commented on #1321
Yes

[2020-03-30 06:21] chrned opened #1323 "Discovery.scanUris leaks resource due to not closing ScanResult"
When building with Kotest 4.0.1 and Maven surefire 2.2.2 `Discovery.discover` is called once per spec class identified by Surefire.

My build started failing because the OS ran out of file descriptors when the number of specs passed a certain number.

The file descriptors turned out to be duplicate references to jars in the classpath.

The issue is that `Discovery.scanUris` in kotest-core is faili

[2020-03-30 07:36] #1323 closed, assigned to nobody

[2020-03-30 08:52] chrned opened #1325 "Disocvery caching is defeated by Surefire"
When building with Kotest 4.0.1 and Maven surefire 2.2.2 `Discovery.discover` is called once per spec class identified by Surefire.

I noticed that my Kotest initialization time increased linearly by number of specs.

This is caused by `Discovery.discover` performing a full scan of the classpath for each single spec:

[code]

Discovery is caching on `DiscoveryRequest` but this does not help as eac

[2020-03-30 10:30] DanielAsher opened #1327 "Feature: Consider separation of test specification / test execution with compiler plugin"
As I understand it, `kotest` uses a multi pass algorithm to:

* first iterate all tests within a spec gathering test metadata,
* then execute the tests.

This is very convenient, however it does mean that kotest has no control over whether to execute code  within inner tests. As a result a host of issues are throw up, such as focus being restricted to top-level specs (https://github.com/kotest/kot

[2020-03-30 13:02] lukitoki1 commented on #1108
I've tested on Kotest v4.0.1 and the above described problem has been resolved.

[2020-03-30 13:02] #1108 closed, assigned to nobody

[2020-03-30 21:08] sksamuel opened #1328 "Check order of callbacks in ShouldSpec with when and WordsSpec with when"
[code]

[2020-03-31 00:27] tom-jb commented on #1104
I'm wanting to use Kotest, but I'm targeting Android, and as far as I know JUnit 5 is not really supported for Android development.

Is it possible for me to use Kotest? If so, how? As far as I can see, JUnit 4 support has gone completely.

[2020-03-31 09:42] YuriDenison opened #1329 "Duplicate class AliasesKt"
When trying to setup an Android Project with Kotest, the following error appears:

[2020-03-31 12:11] priyanshus opened #1330 "wrong count of tests"
Running below tests shows me total test count as 3 and failed test as 2.
com.x.HelloWorldTest > test2 FAILED
    java.lang.AssertionError at HelloWorldTest.kt:17
        Caused by: java.lang.AssertionError at HelloWorldTest.kt:17

com.x.HelloWorldTest > executionError FAILED
    java.lang.AssertionError at HelloWorldTest.kt:17
        Caused by: java.lang.AssertionError at HelloWorldTest.kt:17

3

[2020-03-31 16:25] ashishkujoy commented on #1330
@sksamuel Its happening after https://github.com/kotest/kotest/commit/b1820a70425490f14ef55663831f9c3bd7f804c4

[2020-03-31 16:43] sksamuel commented on #1330
It was probably always happening.
It's just the way gradle reports things, it doesn't really support nested
tests.
There's not a lot we can do, short of writing our own gradle plugin.

On Tue, 31 Mar 2020 at 11:25, ashish kumar joy <notifications@github.com>
wrote:

[2020-03-31 17:44] DanySK opened #1332 "Combined use of Groovy-JSR223, Kotest, and OpenJ9 leads to NullPointerException"
### Description

Using an Eclipse OpenJ9 virtual machine version 11 or 14, Groovy JSR 223, and Kotest 4.0.1, script evaluation fails with a NullPointerException.

The issue is strange:
* it *does not* happen with OpenJDK, hence I opened a bug report to eclipse/openj9#9058 as well
* it *does not* happen with Groovy 2.x.x, hence I opened a [bug report to Groovy](https://issues.apache.org/jira/browse

[2020-03-31 18:41] glasser commented on #1283
I'm using 4.0.1 now. The following test:

[code]

succeeds in 10 seconds rather than failing in 1 second, which seems wrong to me.

[2020-03-31 21:15] sksamuel opened #1333 "beforeSpec afterSpec DSL methods are not suspendable"

[2020-04-01 16:02] crazyk2 commented on #1330
How does IntelliJ  run test?

[2020-04-01 17:22] LeoColman commented on #1329
This was fixed on #1319.

Pending release

[2020-04-01 17:22] #1329 closed, assigned to nobody

[2020-04-01 20:48] wyattjsmith1 opened #1334 "Native MacOS test does not compile"
Example repo demonstrating bug: https://github.com/wyattjsmith1/kotest-macos-linux-only

Repro steps:
Create kotlin mpp project with the following configuration _on a mac_:
[code]

Build and run macOs tests with `./gradlew macosTest`. When I do this, I get:
[code]

I am not an expert on Kotlin MPP, but it looks like there is only a linux target published. I would have expected https://github.com/k

[2020-04-01 21:37] dalewking opened #1335 "Support iOS"
Does not work for Multiplatform projects that support ios

[2020-04-01 22:17] emiliano-tebes opened #1336 "Stacktrace is lost when using forAll and row"
if you write a test using forAll and row to provide data, and an exception is thrown in tested methods (or any of the inner consumed methods), stacktrace is lost. If not using forAll and row, stacktrace is shown. This makes it difficult to trace errors in your code. Original stacktrace should always be shown.

Steps to reproduce:

1. write a test using forAll and add one or more row
2. invoke any

[2020-04-01 22:56] YuriDenison commented on #1329
Thanks. Could you please publish 4.0.2?
We are blocked in our Android project because of these errors and we can't use snapshot versions.

[2020-04-02 00:18] jonbarksdale opened #1337 "allow_internal JUnit5 configuration is an undocumented breaking change for 4.x"
I just wasted a few hours trying to migrate to kotest 4.x, and this was a cause of grief.

Basically, if your tests are `internal` visibility, they cease to work when moving from 3.x to 4.x, and this is not noted anywhere in the documentation, as least that I could find.  I ended up going through all of the JUnit integration code to find it.

Expected:
1. Should be a documented configuration, espe

[2020-04-02 00:37] sksamuel commented on #1337
We're doing to do a 4.0.2 release next day or two which will address this.

[2020-04-02 03:57] #1325 closed, assigned to nobody

[2020-04-02 03:58] sksamuel opened #1338 "beforeTest / afterTest should be nestable"
When nested they should only apply to those nested tests.

[2020-04-02 06:11] sksamuel commented on #1329
4.0.2 will go out tomorrow night.

On Wed, 1 Apr 2020 at 17:56, Yuri Denison <notifications@github.com> wrote:

[2020-04-02 16:21] #1104 closed, assigned to nobody

[2020-04-03 02:47] #1310 closed, assigned to nobody

[2020-04-03 03:22] #1333 closed, assigned to nobody

[2020-04-03 03:32] #1338 closed, assigned to sksamuel

[2020-04-03 04:19] sksamuel commented on #1283
Thanks for the further investigation.
coroutines launched without their own nested scope was the case we weren't testing for, but this is now fixed and will be included in 4.0.2

[2020-04-03 04:19] sksamuel commented on #1283
https://github.com/kotest/kotest/pull/1345

[2020-04-03 05:44] sschuberth opened #1346 "Tag: Code and docs out of sync"
https://github.com/kotest/kotest/blob/c513c8328a371830e838b5ac59aa937d2c44752f/kotest-core/src/commonMain/kotlin/io/kotest/core/Tag.kt#L18-L21

The code and property / class docs are out of sync WRT the name being used for the tag. Should it be the FQN or the simple name?

Note that in Kotlintest it was the simple name, but now it's the FQN, which is a breaking change that should be mentioned in t

[2020-04-03 05:47] sksamuel commented on #1346
Was always the simple name yes, so this is a bug.

[2020-04-03 05:48] sksamuel commented on #1346
Fixed in master. 4.0.2 is due tomorrow, will be included in that.

[2020-04-03 05:48] sschuberth commented on #1346
Thanks for the super fast fix!

[2020-04-03 06:23] sksamuel commented on #1336
#1347

[2020-04-03 06:23] sksamuel commented on #1336
Obviously if forAll fails for more than one error we can't show all stacktraces, but we should show the first. This pr does that.

[2020-04-03 07:21] ataronet opened #1348 "Arb.bind produces the same value for property test"
[code]
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
TEST TEST TEST (true, 0)
[code]

[2020-04-03 10:57] ataronet commented on #1348
I also think I fixed the bug here:
[code]

[2020-04-03 12:18] emiliano-tebes commented on #1336
Excellent! Thanks!

[2020-04-03 12:48] vhuc commented on #1115
I keep getting the same error after the fix. I'm using the last version of kotest (4.0.1).
Is it possible to check if there is something else missing?

[2020-04-03 15:57] JoonasC opened #1349 "Koin extension not working since Koin version 2.1.0"
It seems like the Koin extension is not working with version 2.1.5 of Koin.
The issue was introduced in version 2.1.0 of Koin.
Here is the gradle test output:
[code]

Here is my `build.gradle.kts` file:
[code]

Here is the test class:
[code]

As a side note, I am testing a Ktor project, which is using the Ktor extension of Koin ([https://doc.insert-koin.io/#/koin-ktor/ktor](https://doc.insert-koin

[2020-04-03 17:18] sksamuel commented on #1348
Fix pending.

[2020-04-03 18:37] LeoColman commented on #1349
Thanks for the report!
I'll take a look into this

[2020-04-03 19:49] #1348 closed, assigned to nobody

[2020-04-04 00:21] sksamuel commented on #1346
4.0.2 has been released.

[2020-04-04 00:21] #1346 closed, assigned to nobody

[2020-04-04 00:21] sksamuel commented on #1337
4.0.2 has been released which picks up internal by default.

[2020-04-04 00:21] #1337 closed, assigned to nobody

[2020-04-04 00:21] sksamuel commented on #1336
4.0.2 has been released with this fix.

[2020-04-04 00:21] #1336 closed, assigned to nobody

[2020-04-04 00:22] sksamuel commented on #1314
4.0.2 has been released which picks up internal by default.

[2020-04-04 00:22] #1314 closed, assigned to nobody

[2020-04-04 00:22] sksamuel commented on #1283
4.0.2 has been released with this fix.

[2020-04-04 00:22] #1283 closed, assigned to nobody

[2020-04-04 17:17] sksamuel commented on #1330
Try 4.0.2

[2020-04-04 18:22] #737 closed, assigned to nobody

[2020-04-05 15:26] #856 closed, assigned to nobody

[2020-04-05 15:44] #5539 closed, assigned to nobody

[2020-04-05 15:45] sksamuel commented on #5526
This is fixed in kotest 4.0.2

[2020-04-05 15:45] #5526 closed, assigned to nobody

[2020-04-05 15:45] sksamuel commented on #5527
This is fixed in kotest 4.0.2

[2020-04-05 15:45] #5527 closed, assigned to nobody

[2020-04-05 17:04] LeoColman opened #1352 "Test integration with SonarQube"
[Sonarqube ](https://www.sonarqube.org/) is a tool that's very popular around the world to include code quality and security when deploying an application.

I think we never really tested how Kotest integrate with Sonar, and this might be a good time.

[2020-04-05 19:37] JoonasC opened #1353 "Integration with Testcontainers"
[Testcontainers](https://www.testcontainers.org/) is a tool that can dynamically spin up docker containers to be used in tests.
This can be useful for spinning up database containers in integration tests for example.
Kotest integration with this tool would be nice.

Thanks.

[2020-04-05 19:50] LeoColman opened #1354 "Date generators should allow for specific dates to be selected"
Today, when using an Arb such as the arb for local date, the only configurable parameter is the year:

[code]

We should be allowed to generate a date with a specific date as start/end:

[code]

[2020-04-05 20:08] tom-jb opened #1355 "Tests have huge delay, and "Default test timeout: 600000ms" shows"
I'm trying Kotest for the first time (version 4.0.2). I created a new project in Android Studio 3.6.2, using Gradle 5.6.4. I added the basic example tests:

[code]
I ran the tests, and they passed, but they took several seconds to run. The following was printed in the Android Studio 'Run' window:
[code]
There is no exception message; just the above. I get the same output if I run `gradlew test` fr

[2020-04-05 20:56] LeoColman commented on #1355
On the SO message you linked, @sksamuel answered:

Could you try to do that and see if things work?

My suggestion would be to try to migrate to a newer gradle version and ensure that IntelliJ actually is using the new version, via a sync or an invalidate/restart

[2020-04-05 21:16] sksamuel commented on #1355
Looks like he tried 6.3 as well but this issue is usually caused by gradle
5 bugs

On Sun, 5 Apr 2020, 15:56 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-04-05 21:27] LeoColman commented on #1355
5 bugs

Many times IntelliJ/Android Studio just don't sync the project for some unknown reason. That's why I suggested ensuring it's actually using gradle 6

[2020-04-05 21:51] tom-jb commented on #1355
I just tried Gradle 6.3 again, by using this line in gradle-wrapper.properties:
[code]
I then did a manual sync and invalidated caches (and restarted), but the problem continues.

Sorry, I am really awful at Gradle stuff. How do I set this property?

[2020-04-05 22:28] tom-jb commented on #1355
I just switched back to Gradle 5.6.4 and then added the line `kotest.gradle5.compatibility=true` to 'gradle.properties' and did a sync, and the problem still occurs.
[code]

[2020-04-06 00:50] sksamuel opened #1356 "Replace "string context" with context("string") in ShouldSpec"

[2020-04-06 03:03] #1349 closed, assigned to nobody

[2020-04-06 07:43] pascaldornfeld opened #1358 "Please provide full example projects, the full javadoc and a guide to the dependencies."
I tried your framework and it looks very promising. Data and property is nice and I love how you can use different forms for writing tests. Unfortunately for using it efficiently the structure of the project is not well documented.

I wanted to try it for property testing. I started over with importing _kotest-runner-junit5-jvm_ and _kotest-assertions-core-jvm_. I noticed assertAll was deprecated.

[2020-04-06 09:43] low205 commented on #1330
Same issue with 4.0.2, gradle  6.3, jdk 11.

[2020-04-06 12:06] avently opened #1359 "Support tests inside commonTest"
Hello, Stephen. Is it possible to use commonTest directory from MPP project for tests with Kotest? Or is it not supported yet? For now I can import some things like `shouldBeExactly` but not others like `StringSpec`. Or maybe I just setup wrong artifacts in build.gradle

[2020-04-06 20:39] jameskleeh opened #1361 "java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy"
I have a `ConstructorExtension` and in the instantiate method I'm looking for an annotation.

I'm currently doing that via:

[code]

I've also tried `clazz.findAnnotation<MicronautTest>()`, however that results in the same error.

This is with 4.0.2 on Gradle 6.2.2 and JDK8

Stacktrace:
[code]

[2020-04-06 23:45] #1361 closed, assigned to nobody

[2020-04-07 08:08] SergKhram opened #1362 "Parallel execution test cases in Spec"
I think this is very good feature to give an opportunity to configurate and execute cases inside spec parallel. For example:
We have Test Spec "Lalala" where two cases - "First test case" {body}  "Second test case" {body}
I want to execute it parallel(or not - for it we need some config for spec)

In 3.4.2 i make it with it:
in class SingleInstanceSpecRunner i rewrite method execute

`override fun

[2020-04-08 13:06] thebrightspark opened #1364 "Array.shouldContainExactly wraps expected array"
I am trying to assert that an `Array<String>` contains exact values, for which I am using `shouldContainExactly`. Here's a basic example:
[code]

The above example fails, where I'd expect it to pass. Here's the error logged:
[code]
Is this a bug or is this expected behaviour and there's something different I should be doing?

I did check the equivalent from AssertJ to see how it's used there (as h

[2020-04-08 14:41] vhuc opened #1365 "Missing pom informations in Pitest Maven plugin"
Hello

My problem is the same as the one described in error  #1115

`[ERROR] 1) Error injecting constructor, org.pitest.util.PitError: No implementation title in manifest of plugin jar for class io.kotest.plugin.pitest.KotestPluginFactory in file:/home/xxxxx/.m2/repository/io/kotest/kotest-plugins-pitest-jvm/4.0.2/kotest-plugins-pitest-jvm-4.0.2.jar`

The fix related to that issue didn't make a di

[2020-04-08 16:46] thebrightspark commented on #1364
Ah, I've just noticed the issue :)

This function:
[code]
It's passing the `expected` array into a `vararg` param for `shouldContainExactly` - this one:
[code]
So it's automatically getting wrapped into another array.

[2020-04-08 16:52] sksamuel commented on #1364
Nice spot. Do you want to prepare a quick PR ?

On Wed, 8 Apr 2020 at 11:47, bright_spark <notifications@github.com> wrote:

[2020-04-08 16:53] thebrightspark commented on #1364
Yep was just trying to prepare that now!

[2020-04-08 19:35] dump247 opened #1366 "Dependency resolution error with kotest and gradle protobuf compiler plugin"
I working on a gradle spring boot project with kotest and then I added the protobuf compiler plugin. After adding the plugin, I get an error about resolving variants of the kotest library. I am not knowledgeable enough about gradle dependency resolution to know what's going on here, if it is an issue with kotest or with protobuf compiler plugin, or if there is something I need to configure. I woul

[2020-04-08 19:38] LeoColman commented on #1366
This seems like an issue that we discussed earlier at Kotest's Slack.

It seems to link back to https://github.com/google/protobuf-gradle-plugin/issues/391

The original reporter at our slack did the following to solve the issue:

Just build it with ./gradlew build to replicate the issue.
I added this to the protomodule/build.gradle.kts file so it looks like this:
[code]

[2020-04-08 22:31] crazyk2 opened #1369 "threads and invocations in TestCaseConfig for tests in ContextScope"
I found this restrictions
1)
[code]
2)
[code]
3)
[code]
it means that tests in context  cann't run in parallel mode.
Question is "why"?

[2020-04-08 22:33] sksamuel commented on #1369
The inner test can. But the outer test can't because it will cause the
actual "test scope" to be added multiple times, and break the way tests are
registered with junit.

On Wed, 8 Apr 2020 at 17:31, crazyk2 <notifications@github.com> wrote:

[2020-04-08 22:43] crazyk2 opened #1370 "Support config at spec, container and test level."
As I describe there #1369 ContextScope doesn't allow you use `threads` and `invocations` parameter.
But you can define default config via several ways
[code]
and result of it
[code]
I think this situation is not obvious. It need to be described in docs or resolved in code

[2020-04-08 22:47] crazyk2 commented on #1369
What do you mean? It would be great if you write example (code)

[2020-04-08 23:48] crazyk2 commented on #1362
@sksamuel I vote for this feature and I thought it already works in this way.
I could parallelize tests in spec (and did it for myself already) but I have several question.
I did it for  `IsolationMode.SingleInstance` easily, but only for `rootTests`. It means that each test and each context with own tests (batch of tests) run parallel but all tests in own context (batch) run consistently.
And how

[2020-04-09 00:45] daenius opened #1371 "ShouldSpec does not isolate tests prefixed with f: if not in top level scope"
Consider the following test code

[code]

The `f:` in front of `Test 2` should isolate that test and only run that particular test.
It currently runs both tests

[2020-04-09 01:07] sksamuel commented on #1371
Focus mode only works at the "Top level" because nested tests are not
discovered until later in the test lifecycle.

https://github.com/kotest/kotest/blob/master/doc/conditional_evaluation.md

On Wed, 8 Apr 2020 at 19:45, daenius <notifications@github.com> wrote:

[2020-04-09 01:38] daenius opened #1372 "Non-deterministic function eventually() does not retry assertion until time out"
Suppose I have `someObject` that updates a value periodically and I would like to test that after T amount of time, calling `getValue()` on `someObject` should return an expected value. I have the following test code:

[code]
That test would still fail immediately because assertion failures are not ignored by eventually() and the code therefore does not get retried until time out.

I currently use

[2020-04-09 01:48] sksamuel commented on #1372
Assertion failures should be ignored, it's the other way around. If a
normal exception is thrown then it would fail.
Let me try to recreate.

On Wed, 8 Apr 2020 at 20:38, daenius <notifications@github.com> wrote:

[2020-04-09 01:50] dump247 commented on #1366
Thank you @Kerooker! That solved it.

[2020-04-09 01:50] #1366 closed, assigned to nobody

[2020-04-09 02:16] daenius commented on #1372
Thanks for looking at this so quickly!

If it helps, here's more of what my setup looks like with the workaround:

[code]

Ideally I'd want to do this

[code]

[2020-04-09 03:11] sksamuel commented on #1372
You're on 4.0.2 just to check

On Wed, 8 Apr 2020, 21:16 daenius, <notifications@github.com> wrote:

[2020-04-09 03:31] daenius commented on #1372
Correct

[2020-04-09 20:38] tom-jb commented on #1355
Are you guys able to reproduce this? Is there anything else I can try? I simply cannot use Kotest without a huge delay before the tests run. I'm not sure exactly why, and this is my first ever time trying Kotest.

[2020-04-09 21:26] sksamuel commented on #1355
How long is the huge delay would you say ?

[2020-04-10 01:42] tom-jb commented on #1355
It's around six seconds.

[2020-04-10 03:44] sksamuel commented on #1355
How big is the project? It could be that it's taking 6 seconds to scan your
classpath for tests.
You can turn on KOTEST_DEBUG=true ENV var to see output from that.

On Thu, 9 Apr 2020 at 20:42, tom-jb <notifications@github.com> wrote:

[2020-04-10 05:54] tom-jb commented on #1355
This happens in a brand new project in Android Studio. There is almost no code.

I'll try setting the debug variable tomorrow; I'm not at a computer right now, unfortunately.

[2020-04-10 06:21] sksamuel commented on #1355
Ok really strange. It probably scans the included jars too. We can easily
exclude common android jars.

On Fri, 10 Apr 2020 at 00:54, tom-jb <notifications@github.com> wrote:

[2020-04-10 16:46] ashishkujoy commented on #1372
@daenius I have tried writing the test as you have mentioned and for me the test is working fine(i-e ignoring the assertion errors).
Please have look at [my test](https://github.com/ashishkujoy/kotest-playground/blob/master/src/test/kotlin/org/playground/AnotherEventualTest.kt)

[2020-04-10 17:19] ashishkujoy commented on #1364
Closing this, as it is fixed via [PR](https://github.com/kotest/kotest/pull/1367)

[2020-04-10 17:19] #1364 closed, assigned to nobody

[2020-04-10 23:08] tom-jb commented on #1355
Okay, I set `KOTEST_DEBUG=true` in the Run task in Android Studio and received the folllowing output.

(Note that I didn't see any output until **after** the long delay. The Android Studio 'Run' tool window just shows "Instantiating tests..." for several seconds, and there is no output during this time.)

[code]

Here is the test code again:
[code]

[2020-04-11 02:07] sksamuel commented on #1355
Thanks for doing that. It seems that the full output was missed. Perhaps that flag was only active for the run task. Can you add that same KOTEST_DEBUG as an env to the entire build, and make sure you're running without gradle cache enabled. Once I can see the full output I should know what is taking so long.

[2020-04-11 03:09] daenius commented on #1372
Thanks for all the help!

I've discovered a build problem on my end that caused the tests to be built and run using an old version. Fixed the problem and now `eventually()` works exactly as expected.

Sorry for the false alarm!

[2020-04-11 03:10] #1372 closed, assigned to nobody

[2020-04-11 03:24] sksamuel commented on #1369
[code]

This is super difficult to support as the inner test will run 8 times, twice each for the 4 outer tests. Then we need to support things like isolation mode while running concurrently.

It's just a huge added complexity for zero gain. You can easily structure your tests to avoid this. So only the inner test scope allows invocations and threads.

BUT the DSL should stop you doing it if possi

[2020-04-11 03:30] #1356 closed, assigned to sksamuel

[2020-04-11 03:30] sksamuel commented on #1354
Will you add a PR ?

[2020-04-11 03:31] sksamuel commented on #1353
@ashishkujoy has opened a PR at testcontainers to add support there alongside spock / junit5.
You could vote on that issue., https://github.com/testcontainers/testcontainers-java/pull/2533

[2020-04-11 03:33] sksamuel commented on #1362
We could add parallelization of tests inside a spec, but it would only happen for root tests and only for single instance isolation mode.

[2020-04-11 03:33] sksamuel commented on #1369
I think ticket #1370 covers the change that needs to happen.

[2020-04-11 03:33] #1369 closed, assigned to nobody

[2020-04-11 03:33] #1371 closed, assigned to nobody

[2020-04-11 03:44] sksamuel commented on #5545
How does this work - if you are anywhere in the test it takes you to the next one? Or do you have to be at the test name level, or ..?

[2020-04-11 04:21] tom-jb commented on #1355
Sorry, could you tell me how to set KOTEST_DEBUG for the entire build? I tried googling but cannot figure it out.

[2020-04-11 04:31] sksamuel commented on #1355
Are you running at the command line via gradle ?

On Fri, 10 Apr 2020 at 23:22, tom-jb <notifications@github.com> wrote:

[2020-04-11 04:33] sksamuel commented on #1358
The usage guidelines on the front page describe which dependencies you need:
https://github.com/kotest/kotest#use

Then for property testing you can read:
https://github.com/kotest/kotest/blob/master/doc/property_testing.md

[2020-04-11 04:34] tom-jb commented on #1355
I'm running via Android Studio, though I could run via the command line as well.

[2020-04-11 04:36] sksamuel commented on #1355
It's just easier to debug that way.
so in your terminal

export KOTEST_DEBUG=true
gradle check
or
./gradlew check

On Fri, 10 Apr 2020 at 23:34, tom-jb <notifications@github.com> wrote:

[2020-04-11 04:54] tom-jb commented on #1355
Okay, I've tried this, but setting KOTEST_DEBUG doesn't seem to change the output in build/test-results/testDebugUnitTest/TEST-com.example.MyTests, which is always this:

[code]
This also seems to be the same as the previous output.

Also, the delay doesn't appear to be happening when running from the command line, which suggests a problem with Android Studio, but then I've run several testing lib

[2020-04-11 05:20] sksamuel commented on #1355
My guess is that it's slow because it's scanning for test files and your
android class path has some huge jars. The debugging would show me
something like:

"Scan discovered 23424 classes in the classpaths...

So I can see how many it is finding to see if I'm correct.

But there should be a ton more logging in general.

On Fri, 10 Apr 2020 at 23:54, tom-jb <notifications@github.com> wrote:

[2020-04-11 05:35] tom-jb commented on #1355
I wish I could help more. :(

I wonder whether there is a way of setting this variable for the whole build within Android Studio? I tried searching for a way to set it in build.gradle, but nothing seems to work.

[2020-04-11 05:41] SergKhram commented on #1362
It would be awesome

[2020-04-11 05:49] sksamuel commented on #1355
Create a gradle.properties file in the root of your project (or use the
existing one) and add systemProp.KOTEST_DEBUG=true

Then try running your project as normal (do a clean first).

http://sorcersoft.org/project/site/gradle/userguide/tutorial_this_and_that.html

On Sat, 11 Apr 2020 at 00:35, tom-jb <notifications@github.com> wrote:

[2020-04-11 05:53] tom-jb commented on #1355
Thanks. Unfortunately, that only shows the usual "Configuration" message in the 'Run' window in Android Studio:
[code]
I can't see any other output.

[2020-04-11 06:00] sksamuel commented on #1355
It didn't pick up the system property then.
Gradle can be a bit funny.
What about setting the env directly in the run config inside android studio ?

![image](https://user-images.githubusercontent.com/743706/79036625-c2628e00-7b8f-11ea-91ce-7ea0b9521118.png)

[2020-04-11 06:18] tom-jb commented on #1355
Okay, I recreated that Gradle 'check' task exactly as in your screenshot, but unfortunately I still don't see any mention of the word 'Scan':
[code]

[2020-04-11 06:26] sksamuel commented on #1355
You're on windows?

On Sat, 11 Apr 2020, 01:18 tom-jb, <notifications@github.com> wrote:

[2020-04-11 06:26] tom-jb commented on #1355
Yeah, Windows 10.

[2020-04-11 18:20] ps-feng opened #1376 "Focus not working in FunSpecs"
This is not working for FunSpecs:

[code]
According to the [documentation](https://github.com/kotest/kotest/blob/master/doc/conditional_evaluation.md#focus), wouldn't `context` be considered a top-level scope and thus should work? Or is this a special case?

[2020-04-11 18:37] sksamuel commented on #1376
What is the expected behavior in this case. You're focusing the only test, so it should run?

[2020-04-11 18:42] ps-feng commented on #1376
The example was not explicit enough perhaps so let me try again. Ideally I'd be able to focus on a single test but I was under the impression this is supported:
[code]
I'd expect `something 1` and `something 2` to be executed, as the top-level `f:my test 1` is focused.

[2020-04-11 19:01] sksamuel commented on #1376
Yes that should work. I'll add your test and see.

On Sat, 11 Apr 2020 at 13:42, Pin-Sho Feng <notifications@github.com> wrote:

[2020-04-11 19:03] sksamuel commented on #1376
I've added test and they pass. Are you on 4.0.2 ?

[2020-04-11 20:46] ps-feng commented on #1376
I am on 4.0.2. I've just tested this and it doesn't work:
[code]
![image](https://user-images.githubusercontent.com/13632227/79054698-5a6f7e80-7c47-11ea-8765-707d91cf4175.png)
![image](https://user-images.githubusercontent.com/13632227/79054563-4414f300-7c46-11ea-88f5-8e3c9903b59c.png)

[2020-04-12 05:34] #5523 closed, assigned to nobody

[2020-04-12 12:55] OliverCulleyDeLange opened #1377 "io.kotest:kotest-runner-junit5 artifact empty?"
I've been trying to use v 4.0.2 in an Android project
[code]
Gradle syncs ok, no errors however the dependency isn't in my external libraries and no Kotest classes can be used.

It looks like the artifacts exists:
- https://repo1.maven.org/maven2/io/kotest/kotest-runner-junit5/4.0.2/
- https://repo1.maven.org/maven2/io/kotest/kotest-assertions-core-jvm/4.0.2/

However the kotest-runner-junit5 does

[2020-04-12 13:02] pascaldornfeld commented on #1358
Somehow I managed to find the matchers. I found out that the new "assertAll" is "checkAll".
In the document both methods are used.

My android project is running fine now. I created an idea project too. There I got the same issue as #252 and #1109. #1109 had no answer. #252 said, that we should switch the runner to gradle test runner. In current idea the settings page looks different so this doesn

[2020-04-12 14:59] OliverCulleyDeLange commented on #583
Reviving this issue from the dead, as some documentation around kotest + Mockk would still be nice. I've just started trying out a load of test & mock frameworks for Android and kotest & mockk seem nice given their kotlin based nature. I struggled initially setting them up together. I'll share with you my failed naive attempts so you know what a newbie might do after reading the getting started re

[2020-04-12 15:49] OliverCulleyDeLange opened #1378 "Test results are wrong"
I was changing the test to fail, then to succeed, then to fail again etc, and i noticed that the first time you run the test after making the changes, the result would be as if you didn't make the changes.

For example:
[code]

Run 1: Success.
Change the assertion so it will fail.
Run 2: Still success.
Run 3: Fails as it should.

KoTest 4.0.2, gradle 6.3 (although same happened on 5.6.4)

[2020-04-12 15:50] OliverCulleyDeLange commented on #1355
Wanted to add a partial +1 to this.

Same setup here - Windows 10, android studio, Kotest 4.0.2, gradle 5.6.4
I get the same ~5 - 6 seconds delay before tests actually run where android studio says `Instantiating tests...`. However i do actually get the tests to run and they pass/fail accordingly.

I ugraded to gradle 6.3 after reading that SO post, but it hasn't made any noticable difference.

[2020-04-12 15:57] sksamuel commented on #1355
The problem with gradle 5 is that it stops your build entirely, so isn't
the cause on this.
My best guess is that classpath takes a long time to scan the jars on
windows.

On Sun, 12 Apr 2020 at 10:50, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 15:59] sksamuel commented on #1355
I don't know if it's related to this
https://github.com/classgraph/classgraph/issues/390

On Sun, 12 Apr 2020 at 10:57, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-04-12 16:02] sksamuel commented on #1378
Do you have gradle cache enabled ?

On Sun, 12 Apr 2020 at 10:49, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 16:09] OliverCulleyDeLange commented on #1378
Not that i'm aware of, the [default](https://docs.gradle.org/current/userguide/build_cache.html#sec:build_cache_enable) seems to be 'off' and i haven't explicitly turned it on anywhere

[2020-04-12 16:13] sksamuel commented on #1378
And if you do a clean first?
I've seen similar things myself where gradle thinks the code hasn't changed
and doesn't rerun the test.
Try putting an exception in the middle of the test.

On Sun, 12 Apr 2020 at 11:09, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 16:18] OliverCulleyDeLange commented on #1378
It fails straight away if i clean before i re-run

[2020-04-12 16:24] sksamuel commented on #1378
So sounds like that scenario wher gradle is caching or remembering which
modules have changed and it doesn't work properly.

On Sun, 12 Apr 2020 at 11:18, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 16:32] OliverCulleyDeLange commented on #1378
Indeed, however i just tested with JUnit 5 and that seems to pick up the changes to the test straight away

[2020-04-12 16:34] sksamuel commented on #1378
That is odd. Kotest isn't doing anything clever with sources or anything
like that. Gradle just invokes the Discovery class which finds classes
subclassing Spec.

On Sun, 12 Apr 2020 at 11:32, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 16:48] OliverCulleyDeLange commented on #1378
Well after some further testing, this seems to have gone away. I swapped my JDK to jdk8 from 11, and restarted Android Studio, and one of those things did something. I put my JDK back and its still fine so i'm a bit lost for conclusion. Feel free to close under 'users environment is broken' :)

[2020-04-12 16:49] sksamuel commented on #1378
Glad its working!

On Sun, 12 Apr 2020, 11:48 Oliver Culley de Lange, <notifications@github.com>
wrote:

[2020-04-12 16:55] tom-jb commented on #1355
Yes, the same applies to me. The tests run fine and pass; the only problem is that I see "Instantiating tests…" for several seconds before every run.

[2020-04-12 17:46] sksamuel commented on #1355
Do you want to try a snapshot build?
I've released 4.1.0.225-SNAPSHOT which has the latest classgraph library.

On Sun, 12 Apr 2020 at 11:55, tom-jb <notifications@github.com> wrote:

[2020-04-12 18:41] daividssilverio commented on #1377
Oh... that explains why our tests weren't being found 🤔here https://github.com/toggl/android/pull/154
Adding the `-jvm` suffixed dependency runner makes the tests discoverable.
[code]

[2020-04-12 19:06] OliverCulleyDeLange commented on #1355
Bit of a strange result, with the new version, my test files aren't recognised as test files anymore and can't be 'run' so i can't compare run times in Android Studio.

[2020-04-12 19:10] sksamuel commented on #1355
That's because of an unrelated change. Sorry I forget you're only running
this in intellij.
It's fine if you use gradle right.

On Sun, 12 Apr 2020 at 14:06, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 19:22] OliverCulleyDeLange commented on #1355
Its hard to compare, as i don't use gradle to run testsas its much more convenient to run through Android Studio if i'm running a subset of tests for example.
They take roughly the same time, so ~15 seconds to run 1 test either from Android Studio or Gradle.

[2020-04-12 19:33] sksamuel commented on #583
It could be because MockK only scans top level fields.
@kerooker is that the case ?

On Sun, 12 Apr 2020 at 10:00, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-12 19:35] sksamuel commented on #1358
I'd like to improve the documentation in areas where it's required but in terms of which dependencies to add, it's right there on the main readme and the reference.doc files. You just need to copy and paste it. I don't know how much clearer it could be.

assertAll vs checkAll  are explained in the property testing doc I linked you to, that's linked from the main readme.

In particular,

[2020-04-12 19:40] #1378 closed, assigned to nobody

[2020-04-12 20:04] sksamuel opened #1379 "Project config dump doesn't include enums properly"
-> Default test order: TestCaseOrder
-> Default isolation mode: IsolationMode

[2020-04-12 20:08] #1379 closed, assigned to sksamuel

[2020-04-12 21:56] tom-jb commented on #1355
When I try the following, I get 'ERROR: Failed to resolve' on both lines:
[code]
However, like Oliver, I run tests from Android Studio anyway. And as far as I can tell this delay happens only when I run from Android Studio.

On the other hand, I did just try Kotlintest 3.4.2, and I found that the delay there is much shorter. Rather than seeing "Instantiating tests…" for about six seconds, I see it

[2020-04-12 23:44] #1358 closed, assigned to nobody

[2020-04-13 02:03] sksamuel commented on #1328
Added test, seems good.

[2020-04-13 02:04] #1328 closed, assigned to nobody

[2020-04-13 02:07] sksamuel commented on #1377
You need to use the -jvm version yes. Where do the docs say otherwise, I'll correct them.

[2020-04-13 03:19] sksamuel commented on #1355
The reason it can't find those deps is because you need to add sonatype
snapshots repository to your build. Snapshot builds are never on maven
central but on https://oss.sonatype.org/content/repositories/snapshots/

On Sun, 12 Apr 2020 at 16:56, tom-jb <notifications@github.com> wrote:

[2020-04-13 04:47] #1309 closed, assigned to ashishkujoy

[2020-04-13 05:23] OliverCulleyDeLange commented on #1377
It's just in the main readme :
[code]

On Mon, 13 Apr 2020, 03:07 Stephen Samuel, <notifications@github.com> wrote:

[2020-04-13 08:00] GuidoDechamps commented on #1314
Ok. Thanks. I like my code to not public if not needed. But I also like my tests to be executed ;-)

[2020-04-13 13:24] phauer opened #1380 "Add Line Breaks and Indents in the Failure Messages of Collection Matchers"
Hi,

first of all, I really like Kotest's matchers and consider to move from AssertJ to them.

But I noticed that AssertJ adds useful line breaks after each element in the failure message of the collection matches. Here is an example:

AssertJ:

[code]

AssertJ's message:

[code]

Kotest 4.0.2:

[code]

Kotest's message:

[code]

One the one hand, AssertJ outputs more details (like the missing ele

[2020-04-13 13:33] OliverCulleyDeLange commented on #583
I [made a gist](https://gist.github.com/OliverCulleyDeLange/84aa4d2b299b2dfff3746bfdf346cd3e) about getting up and running with kotest and mockk if anyone stubles upon this like i did and wants some copy paste code

[2020-04-13 15:16] OliverCulleyDeLange opened #1381 "Error in beforeTest listener is swallowed"
Kotest 4.0.2
 I run a test which throws an exception in my `beforeTest{}` setup steps, however the process finishes with exit code 0, and no error is printed to console.

Example:
[code]

Gives:

[code]

[2020-04-14 01:44] tom-jb commented on #1355
Okay, I just added the Sonatype repository and tried 4.1.0.225-SNAPSHOT.

I ran the tests in Android Studio, and they ran and passed, but the 6-second "Instantiating tests..." delay was still there.

[2020-04-14 02:20] sksamuel commented on #1381
There's plenty of tests around this, I will investigate.

[2020-04-14 02:23] sksamuel commented on #1381
This is your exact scenario. https://github.com/kotest/kotest/blob/master/kotest-runner/kotest-runner-junit5/src/jvmTest/kotlin/com/sksamuel/kotest/runner/junit5/StringSpecEngineKitTest.kt#L253

[2020-04-14 02:24] sksamuel commented on #1380
Agreed good idea.

[2020-04-14 02:25] sksamuel commented on #1377
Thank you, the others were correct and this one was missed!
Corrected now.

[2020-04-14 02:25] #1377 closed, assigned to nobody

[2020-04-14 02:32] sksamuel commented on #867
Closing this. If it can be recreated with 4.0.x please reopen.

[2020-04-14 02:32] #867 closed, assigned to nobody

[2020-04-14 02:54] #1230 closed, assigned to nobody

[2020-04-14 02:58] sksamuel commented on #1355
Thanks for trying that. I think that rules out classgraph just being slow in older versions.
Can you look at intellij on the project view under external libs and get a list of all the libraries being pulled in. Like this:

![image](https://user-images.githubusercontent.com/743706/79181407-e57c8000-7dd1-11ea-8663-16cbd02012d7.png)

I am wondering if there are a ton of android libraries we can black

[2020-04-14 03:33] tom-jb commented on #1355
Okay, here it is:

![](https://i.ibb.co/XzQ2qWx/ss.png)

[2020-04-14 03:45] sksamuel commented on #1355
Awesome, we can wipe out androidx straight away.
I'll be releasing 4.0.3 tomorrow and I'll include this change in that.
Worst case is it makes no difference.

On Mon, 13 Apr 2020 at 22:33, tom-jb <notifications@github.com> wrote:

[2020-04-14 04:12] tom-jb commented on #1355
Thanks, I'll try it straightaway.

[2020-04-14 04:31] sksamuel commented on #1313
I've investigated this and it's because Path iterators returned Iterator<Path> so when you call show on each individual element, you get into the infinite loop. Fix applied on master and will be included in 4.0.3

[2020-04-14 07:22] OliverCulleyDeLange commented on #1381
Interesting, the plot thickens. So i ran that test, in the kotest repo to see if its a platform issue (java version or windows related), and it passes ok.

I then tried to run my failing test through `gradle test` and it appeared to be fine, the test runs as expected and fails due to exception.

I then ran my failing test again through Android Studio and it worked :/ weird...

I did a `gradle clea

[2020-04-14 07:37] OliverCulleyDeLange commented on #1381
Aha, it has to do with the type of exception thrown from the beforeTest block.

RuntimeException works as expected.
ExceptionInInitializerError makes everything go a bit haywire... and this is the exception that was being thrown from my test.

Can you confirm this your side?

I beleive regardless of the type of exception thrown during the setup, the tests should always finish and spit out that exc

[2020-04-14 16:06] Torehs opened #1382 "Resources not closed in reversed order"
We recently upgraded kotest to version 4.0.2 (from 3.3.1 previously). According to the [documentation](https://github.com/kotest/kotest/blob/master/doc/reference.md#closing-resource-automatically) closing is performed in reversed order of declaration after the return of the last spec interceptor when using autoClose. This was the behavior we had before the upgrade. Now it looks like resources are

[2020-04-14 19:36] sksamuel opened #1383 "Add x variants for Behavior / Feature / Expect spec"
like xdescribe we should add xgiven and so on.

[2020-04-14 20:39] #1382 closed, assigned to LeoColman

[2020-04-14 20:50] sksamuel commented on #1382
Will be included in 4.0.3

On Tue, 14 Apr 2020 at 15:39, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-04-15 01:33] sksamuel opened #5522 "Keep the test in scope in test explorer until a new test class is detected"

[2020-04-15 02:10] sksamuel commented on #1380
As part of the 4.0.3 release, `col.shouldContainExactly(col2)` now does exactly this:

[code]
The rest will be updated over the next few weeks to do the same thing.

[2020-04-15 03:45] #5522 closed, assigned to nobody

[2020-04-15 04:15] sksamuel commented on #1381
I'll need to add more tests. The code catches Throwable so it should catch
anything. I don't see why ExceptionInInitializerError would break it.

On Tue, 14 Apr 2020 at 02:37, Oliver Culley de Lange <
notifications@github.com> wrote:

[2020-04-15 04:56] sksamuel commented on #1355
So I released 4.0.3 and forgot to include this change (it's only on
master). So can you try snapshot 4.1.0.245-SNAPSHOT which does have that
change.
If it solves the issue I'll release 4.0.4 with just that.

On Mon, 13 Apr 2020 at 23:12, tom-jb <notifications@github.com> wrote:

[2020-04-15 06:30] Torehs commented on #1382
Thanks a lot!

[2020-04-15 15:32] phauer commented on #1380
That looks great! Thank you so much. :-)

[2020-04-15 17:07] crazyk2 opened #1386 "IsolationMode.InstancePerLeaf and IsolationMode.InstancePerTest register too much project listeners"
This [test](https://github.com/kotest/kotest/blob/7f08d2fc5a4d540e7deb9e53044cfee2bcce2307/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/specs/isolation/leaf/BehaviorSpecInstancePerLeafTest.kt#L9) and similar work too bad.
As `IsolationMode.InstancePerLeaf` and `IsolationMode.InstancePerTest` `createInstance` for each test then each iteration create a new lists of `_extensi

[2020-04-15 17:14] sksamuel commented on #1386
I would register a ProjectListener using @Autoscan.

[2020-04-15 17:22] crazyk2 opened #1387 "Before\AfterProject catch only one Exception"
[This](https://github.com/kotest/kotest/blob/master/kotest-core/src/jvmMain/kotlin/io/kotest/core/engine/KotestEngine.kt#L98), [this](https://github.com/kotest/kotest/blob/master/kotest-core/src/jvmMain/kotlin/io/kotest/core/engine/KotestEngine.kt#L108), [this](https://github.com/kotest/kotest/blob/master/kotest-core/src/commonMain/kotlin/io/kotest/core/runtime/callbacks.kt#L19) and [this](https:/

[2020-04-15 17:27] crazyk2 commented on #1386
As I said afterProject may capture variables from concrete test for final assertion as you do [here](https://github.com/kotest/kotest/blob/7f08d2fc5a4d540e7deb9e53044cfee2bcce2307/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/specs/isolation/leaf/BehaviorSpecInstancePerLeafTest.kt#L16)
Or fix this behavior or forbid register afterProject from spec.

[2020-04-15 17:31] crazyk2 commented on #1386
My opinion and feature request is add names for callbacks for register failed as test as you did with failed after\beforeProject in `JUnitTestEngineListener` `engineFinished` and instead of static names `AfterAllCallback` and `BeforeAllCallback` use user names for better readability and report generation.
If this feature will be implemented you could add afterProject callback in collection with fi

[2020-04-15 17:33] crazyk2 commented on #1386
I am from TestNG and all before\afterTest before\afterClass are shown in IDEA Run\Debug window and in reports with their names (function name or user defined).

[2020-04-15 18:17] crazyk2 opened #1388 "[Feature] Add config option alwaysRun to callback"
I want add a feature to discuss
As I said I used TestNG and there is one feature. You can add option `alwaysRun` to callback.
Now this parameter is indefined  in Kotest.
`afterTest` and  `afterProject` will be invoked even if `beforeTest` and `beforeProject` are failed.
And opposite situation with `beforeSpec` and `afterSpec`. if `beforeSpec` is failed then `afterSpec` will not be invoked.

But wh

[2020-04-15 19:32] #799 closed, assigned to nobody

[2020-04-15 22:29] tom-jb commented on #1355
I'm trying 4.1.0.245-SNAPSHOT right now.

It's telling me it can't find StringSpec (and FunSpec and so on).

In the `import io.kotest.core.spec.style.StringSpec` statement, Android Studio is highlighting 'core' in red, suggesting that 'core' does not exist.

[2020-04-15 22:33] tom-jb commented on #1355
Okay, I fixed the above by changing "junit4" to "junit5" in the following:
[code]
Now the tests run and pass. However, the huge delay is still present. In fact, it seems slightly longer now (eight seconds instead of six seconds), but I could be mistaken about it being slightly longer.

[2020-04-15 22:52] sksamuel commented on #1355
Ok so filtering out some packages didn't help.

I'm going to make a special build that contains more logging to try and get
to the bottom of this.

On Wed, 15 Apr 2020 at 17:34, tom-jb <notifications@github.com> wrote:

[2020-04-16 02:06] sksamuel opened #5521 "Timings are not shown."
![image](https://user-images.githubusercontent.com/743706/79406509-f0175080-7f5c-11ea-9906-abb46d6f24e4.png)

Timings are not shown.

[2020-04-16 02:09] sksamuel opened #5520 "Kotest window should show test factories"

[2020-04-16 10:43] Deeds67 opened #1389 "Mapping over an `Arb` executes twice"
In kotest v4.0.3, the following code always prints twice, even though I'm only taking 1 value from the sequence:

[code]

Output:
[code]

As well as using a custom arb:
[code]

Output:
[code]

[2020-04-16 11:32] sksamuel commented on #1389
The double usage is because it is mapping the initial value for the shrinker. I've changed this to be lazy so it will only call the map again if shrinking needs to take place, which for .take() it never will.

[2020-04-16 11:33] sksamuel commented on #1388
The signature of the callback methods will not change now after 4.0 has been released. We could possibly add a configuration value into ProjectConfig to allow you to always/never run callbacks if something fails ?

[2020-04-16 12:53] crazyk2 commented on #1388
For different callbacks in the same project I would want to have different behavior. but ProjectConfig applied to all project.
And if [this](https://github.com/kotest/kotest/issues/1386#issuecomment-614176133) feature could be implement I don't see barrier to implement `alwaysRun` feature with default value.  I think it is not so hard work and `Interface`'s defaults help with it.
Just a brief that

[2020-04-17 00:58] LeoColman commented on #1389
Closed via 5029d98300c9f733ba2d16120c81e5426468249c

[2020-04-17 00:58] #1389 closed, assigned to sksamuel

[2020-04-17 05:40] sksamuel opened #5519 "single quote in exception breaks the output messages"

[2020-04-17 12:12] crazyk2 opened #1391 "[Refactoring] Use one common Mock library"
[This](https://github.com/kotest/kotest/blob/ed7c8e4fb165469707fa4df1da971b1c1185506d/buildSrc/src/main/kotlin/Libs.kt#L60)
[this](https://github.com/kotest/kotest/blob/7f08d2fc5a4d540e7deb9e53044cfee2bcce2307/kotest-tests/kotest-tests-core/src/jvmTest/kotlin/com/sksamuel/kotest/runner/jvm/IsolationTest.kt#L3)
[this](https://github.com/kotest/kotest/blob/624a36a1936e370ae720cca2a7878af47f27604b/ko

[2020-04-17 14:34] #822 closed, assigned to nobody

[2020-04-18 03:30] sksamuel commented on #5534
4.0.13 has the tool explorer window.

[2020-04-18 03:30] #5534 closed, assigned to nobody

[2020-04-18 03:30] sksamuel commented on #5521
Fixed in master.

[2020-04-18 03:30] #5521 closed, assigned to nobody

[2020-04-18 03:31] sksamuel commented on #5542
Can you test this again with the beta plugin ?

[2020-04-19 16:56] rackdon commented on #5524
Any update about the state of this task?

[2020-04-19 18:05] sksamuel commented on #5524
Do you want to try the beta ?

[2020-04-19 18:15] qoomon commented on #5524
Sure

[2020-04-19 18:35] sksamuel commented on #5524
[kotest-plugin-intellij-0.90.14.zip](https://github.com/kotest/kotest-intellij-plugin/files/4499926/kotest-plugin-intellij-0.90.14.zip)

Latest build attached. You need to install this in intellij plugins manually. Click the gear icon when you're in the plugins screen.

I've added docs on the features of the plugin to the main readme here:
https://github.com/kotest/kotest-intellij-plugin

[2020-04-19 18:35] sksamuel commented on #5524
![image](https://user-images.githubusercontent.com/743706/79696490-a8d1de00-8242-11ea-8f1a-c27efb6765ab.png)

[2020-04-20 09:14] lennykey opened #1393 "[Feature] Add the posibility to activate validations for Properties depending on another Property"
Example:

* if a firstName was passed to a Person and this firstName is present then the user should also enter a familyName to pass the validation
* if the firstName was not passed (null) then the validation for the familyName should not be active

Something like this should be possible:

[code]

[2020-04-20 09:30] #1393 closed, assigned to nobody

[2020-04-20 14:10] asm0dey opened #1394 "Issues with classloader when using Roboeletric Extension"
I'm trying to migrate [this class](https://github.com/mtotschnig/MyExpenses/blob/master/myExpenses/src/test/java/org/totschnig/myexpenses/util/UiUtilsDateModeTest.java) to kotest using the simplest available technic:

1. Create new class
2. extend it from `AnnotationSpec`
3. Add `RoboelectricExtension` to it
4. Add `Roboelectric` annotation to this class
5. Copy-paste code from source class with a

[2020-04-20 15:23] dragneelfps commented on #1223
closing this for now since I dont have time to reproduce it right now. will do it later on and re-open if needed.

[2020-04-20 15:23] #1223 closed, assigned to nobody

[2020-04-20 16:16] asm0dey commented on #1394
Moreover, if I change Mockito to mockk I'm getting weird situation when sometimes self reference in MyApplication class is null and sometimes i's something

[2020-04-20 23:08] crazyk2 opened #1396 "gradle wrapper version"
Should be
distributionUrl=https\://services.gradle.org/distributions/gradle-6.3-all.zip
instead of
distributionUrl=https\://services.gradle.org/distributions/gradle-6.3 **.0** -all.zip
https://github.com/kotest/kotest/pull/1392/files#diff-fd9d61e37d939c941e7a62077f38d62dL3

[2020-04-21 01:02] sksamuel commented on #5524
Any feedback?

[2020-04-21 04:41] rackdon commented on #5524
Until the moment, everything works well. If I encounter any problem I'll write that here.
Thank you very much for the beta

[2020-04-21 06:06] qoomon commented on #5524
Same here, works as expected. Great job.

[2020-04-21 06:08] sksamuel commented on #5524
I'm surprised it's been that simple :)

On Tue, 21 Apr 2020 at 01:06, Bengt Brodersen <notifications@github.com>
wrote:

[2020-04-21 12:33] LeoColman commented on #1396
https://gradle.org/install/

Fixed

[2020-04-21 12:33] #1396 closed, assigned to nobody

[2020-04-21 12:44] LeoColman commented on #1394
Hi, @asm0dey! Thanks for the thorough report!

Could you try this for me?

1. Create a [project level configuration class](https://github.com/kotest/kotest/blob/master/doc/project_config.md) (Basically, create any class extending AbstractProjectConfig)
2. Add the `RobolectricExtension` as an extension in that project config
3. Run your tests again

[2020-04-21 14:08] sksamuel opened #5518 "Add implicit usage for project config"

[2020-04-21 14:33] asm0dey commented on #1394
@Kerooker That worked, awesome! Definitely should be added to readme. Do you need any help with it?

[2020-04-21 15:14] sksamuel commented on #1394
Yes, any help on docs is always welcome.

On Tue, 21 Apr 2020 at 09:33, Paul <notifications@github.com> wrote:

[2020-04-21 15:16] LeoColman commented on #1394
Great! It makes sense, we change how to class is created, and I think it doesn't work if you add it as an extension to the class (as when you discover how to instantiate, it's already instantiated xD)

I think we don't have any documentation on Robolectric yet :sweat_smile:
Do you want to try to add it somewhere that makes sense?

[2020-04-21 15:20] #1391 closed, assigned to nobody

[2020-04-21 16:33] asm0dey commented on #1394
Please review PR with small ducumentation improvements. Thx :)

On 20/04/21 08:16AM, Leonardo Colman Lopes wrote:

--
Regards,
Pasha

Big Data Tools @ JetBrains

[2020-04-21 18:57] asm0dey commented on #1394
@Kerooker but now another tests don't run :(

[2020-04-21 19:02] LeoColman commented on #1394
Which version are you using?

[2020-04-21 19:03] asm0dey commented on #1394
4.0.1

[2020-04-21 19:03] asm0dey commented on #1394
My config is as following:
[code]

[2020-04-21 19:04] LeoColman commented on #1394
Ah, here's the thing:

There's an Annotation called `@RobolectricTest`, which is necessary to detect which classes are to be run in Robolectric.

I'm sorry, details are not very clear yet

[2020-04-21 19:05] asm0dey commented on #1394
I know, but I don't want other non robolectric tests to be ran with robolectric. Actually I've even written in PR about it

[2020-04-21 19:07] asm0dey commented on #1394
But I have other tests than Robolectric ones and they're just ignored

[2020-04-21 19:16] asm0dey commented on #1394
Oh, I know!

Code should be like following:

[code]

[2020-04-21 19:24] asm0dey commented on #1394
Also, it makes sense to convert `RobolectricExtension` from class to object. We really need only one instance of it per project

[2020-04-21 19:32] asm0dey commented on #1394
If you could make `io.kotest.experimental.robolectric.RobolectricExtension` non-final I could override only one method. For now, I should copy-paste whole class to change behavior of the only method

[2020-04-21 19:51] LeoColman commented on #1394
Yeah, I think this is actually more of a bug. You should be able to execute tests outside of that extension.

I'll fix it for the next snapshot and next version.

[2020-04-21 19:51] asm0dey commented on #1394
Thank you!

[2020-04-21 22:56] Jestar342 opened #1399 "Property testing docs need updating?"
Hi,

Kotlin beginner here so go easy please :)

Trying to do some property testing, following this doc: https://github.com/kotest/kotest/blob/master/doc/property_testing.md

But using kotest-property-jvm:4.0.3 and the API in the doc just doesn't seem to match what IntelliJ is telling me is in the actual lib.

For example, `Exhaustive.int` doesn't exist, I can only find `Exhaustive.ints` (plural),

[2020-04-21 23:04] sksamuel commented on #1399
import io.kotest.properties.assertAll should be import
io.kotest.property.assertAll I think.

It's confusing because there's the old and new property test stuff.

On Tue, 21 Apr 2020 at 17:56, Jestar342 <notifications@github.com> wrote:

[2020-04-22 10:24] #1383 closed, assigned to nobody

[2020-04-22 11:59] sksamuel commented on #1381
Related issue from slack.
https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1587556576184500?thread_ts=1587552480.178300&cid=CT0G9SD7Z

[2020-04-22 14:23] rackdon commented on #1399
I've copied the example of the docs and when try to compile, I've received the same error as @Jestar342

[2020-04-23 09:53] bnjns opened #1401 "Add support for Quarkus"
We've been using kotest for a while now and are loving how much easier testing is with it. We've also recently moved from Spring to Quarkus, which is another framework which follows the microprofile spec similar to Micronaut.

It makes us very sad that for any tests which need dependency injection we have to fall back to the classic JUnit tests, as we make use of BDD heavily everywhere else.

Woul

[2020-04-23 10:01] ashishkujoy commented on #1381
@sksamuel ExceptionInInitializerError extends LinkageError which in jvm platform implementation of Try, we have marked it nonfatal error I think that's the reason it gets swallowed in beforeTest

https://github.com/kotest/kotest/blob/e176cc3e14364d74ee593533b50eb9b08df1f5d1/kotest-fp/src/commonMain/kotlin/io/kotest/fp/Try.kt#L10-L14

https://github.com/kotest/kotest/blob/e176cc3e14364d74ee593533b5

[2020-04-23 14:50] #1387 closed, assigned to nobody

[2020-04-23 17:44] sksamuel commented on #1401
We could add one. Any chance you could guide this ?

On Thu, 23 Apr 2020 at 04:53, Ben Jones <notifications@github.com> wrote:

[2020-04-23 17:53] bnjns commented on #1401
I'm not very familiar with how the extensions work in kotest, but I am more than happy to help where I can :)

[2020-04-23 18:05] sksamuel commented on #1401
It's the quarkus bit that would new to us. Do you basically instantiate the
class via a special way

On Thu, 23 Apr 2020, 12:53 Ben Jones, <notifications@github.com> wrote:

[2020-04-23 18:49] bnjns commented on #1401
Ah yeah. They have a `@QuarkusTest` annotation that you add to the class, which uses the following with the JUnit `@ExtendWith` annotation: https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java

You then inject annotations normally using `@Inject` on a `lateinit var` or in the constructor, if you're using constructor in

[2020-04-23 19:30] sksamuel commented on #1401
So @QuarkusTest populates fields or parameters using @Inject. Is it doing
anything else beside that? Like are the dependencies it injects just
regular deps like outside of a test?

Would you make a PR that sets up a new module in here using quarkus:
https://github.com/kotest/kotest/tree/master/kotest-extensions

In this module if you can make a sample app that has a unit test that you'd
like to wo

[2020-04-24 00:59] sksamuel commented on #1399
I've added a note to the documentation that explains that
io.kotest.property are the imports to use.

On Wed, 22 Apr 2020 at 09:23, Ricardo Martínez <notifications@github.com>
wrote:

[2020-04-24 01:25] sksamuel commented on #1381
I'm releasing 4.0.4 with this fix.

On Thu, 23 Apr 2020 at 05:01, ashish kumar joy <notifications@github.com>
wrote:

[2020-04-24 07:39] paralainer opened #1405 "Number generators have wrong edge cases"
Number generators (like `Arb.long()`, `Arb.int()`) accept a range as a parameter but using `MAX_VALUE`, `MIN_VALUE` as edgecases.

I guess more correct approach is to use `range.start` and `range.endInclusive` as edgecases.

https://github.com/kotest/kotest/blob/d03c9c9f0525071ac85ffdb3b8067acf24d75da6/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/longs.kt#L11

This part shoul

[2020-04-24 07:42] paralainer commented on #1405
Actually `0` should be included only if it's a part of the range too.

[2020-04-24 08:02] LeoColman commented on #1405
Agreed, makes a lot of sense!
Do you want to work on this?

[2020-04-24 09:59] #1381 closed, assigned to nobody

[2020-04-24 11:26] c089 commented on #1399
@sksamuel thank you for the update on documentaten. I just stumbled over the same confusion, and It seems the it comes from the documentation being a bit ahead of reality: The current package doesn't expose `assertAll` under the `io.kotest.property` package (it does have `checkAll` as documented) in the latest published version `4.0.4`. Looking at the source, it seems all  references to `assertAll

[2020-04-24 11:44] nlochschmidt commented on #5524
I tried this as well, with IntelliJ 2020.1, kotest 4.0.3 in the project and kotest-runner-console-jvm:4.1.0.251-SNAPSHOT as described in the README.
Worked perfectly for the last couple of hours 👍

_Edit: Anyone reading this later, don't mix the versions like I did. Use the snapshot versions for libs and runner and keep them in the same exact version._

[2020-04-24 11:54] sksamuel commented on #5524
Great.

On Fri, 24 Apr 2020 at 06:44, Niklas Lochschmidt <notifications@github.com>
wrote:

[2020-04-24 12:02] sksamuel commented on #1399
I must have been drunk when writing these docs because the function you
want is not assertAll, but forAll. assertAll has been deprecated and
renamed to checkAll.
No wonder there was confusion.
I've updated the docs to correct this stupid mistake!

On Fri, 24 Apr 2020 at 06:26, Christoph Neuroth <notifications@github.com>
wrote:

[2020-04-24 14:32] rackdon commented on #5524
It fails with the last Kotest version `4.0.4` and `kotest-runner-console-jvm:4.1.0.259-SNAPSHOT`.
Doesn't compile the tests correctly to run it inside Intellij

[2020-04-24 14:43] #1163 closed, assigned to nobody

[2020-04-24 14:49] sksamuel commented on #5524
Please use 4.1.0.259-SNAPSHOT for everything.
4.0.4 introduces some internal changes so that's probably why.

On Fri, 24 Apr 2020 at 09:33, Ricardo Martínez <notifications@github.com>
wrote:

[2020-04-24 16:45] jaymoid opened #1406 "Arb.choice should take Arb instances and not combine edgecases into arb.values()."
Currently `Arb.choice` takes Gen instances as parameters and combines the edgecases and the arb values. Such that you get the edgecases first when you call `.values()` on the resulting Arb instance. In addition the edgecases in the passed in Arbs are not available via the `edgecases()` function on the resulting Arb, instead you get an empty list.

As this might might not be expected, and invoking

[2020-04-24 21:27] #1178 closed, assigned to nobody

[2020-04-25 16:15] LeoColman commented on #1399
So perhaps we can close this?

[2020-04-25 16:43] #1399 closed, assigned to nobody

[2020-04-25 16:44] #1406 closed, assigned to nobody

[2020-04-25 16:50] Jestar342 commented on #1399
Thanks guys, it was indeed `forAll` that I needed to use.

[2020-04-25 20:42] ashishkujoy opened #1410 "Provide support for adding config at higher level in case of nested test"
[This question](https://stackoverflow.com/questions/61057335/setting-tags-at-the-class-level-or-container-level) has been asked on stackoverflow.

As of now we can add config to the lowest level/leaf test of nested test for example

[code]

we should have ability to provide config at higher level/container  as well for example

[code]

[2020-04-25 20:49] sksamuel commented on #1410
Maybe, but it would have to be a cut down version of config - without invocations / threads.
So we could have ContainerTestConfig which has enabled, enabledIf, tags.

[2020-04-25 20:57] sksamuel commented on #1410
[code]

We should also add

[code]

Which we use in the specs, because the default allows you to specify invocations and threads at the moment which then fail.

[2020-04-25 20:57] sksamuel commented on #1410
That second point will address this: https://github.com/kotest/kotest/issues/1370

[2020-04-25 21:23] #1394 closed, assigned to LeoColman

[2020-04-25 21:56] asm0dey commented on #1394
@Kerooker BTW shouldn't it be the chain of responsibility? What if I want to have two extensions which should add something around spec? For example some extension over Robolectric test. Currently — it won't work because Robolectric test executes test itself.

[2020-04-25 22:02] LeoColman commented on #1394
If you  have two extensions that should add something around the spec, you should use a [Listener](https://github.com/kotest/kotest/blob/master/doc/reference.md#listeners).

If you have two extensions that override how the spec is instanced, then I think there's nothing we can do. You can't load it in two classloaders, for example

[2020-04-25 22:11] asm0dey commented on #1394
Oh, I see, thanks!

[2020-04-25 22:38] #1405 closed, assigned to nobody

[2020-04-26 01:11] sksamuel commented on #1376
Thanks for this bug report. It is now fixed in master and will be included in 4.0.5.

[2020-04-26 01:11] #1376 closed, assigned to sksamuel

[2020-04-26 03:08] sksamuel opened #1412 "Expand collections matchers to Sequences"

[2020-04-26 18:11] #1224 closed, assigned to nobody

[2020-04-26 23:02] sksamuel opened #5517 "Add warning for duplicated test name"

[2020-04-26 23:05] sksamuel opened #5516 "Add LibraryDependencyScopeSuggester"

[2020-04-27 00:34] #5517 closed, assigned to nobody

[2020-04-27 00:34] #5518 closed, assigned to nobody

[2020-04-27 00:35] sksamuel commented on #5543
This is fixed in the kotest plugin beta.

[2020-04-27 00:35] #5543 closed, assigned to nobody

[2020-04-27 06:24] rackdon commented on #5524
Tested with 4.0.5 and 4.1.0.268-SNAPSHOT -> Everything works but takes a lot of time to compile the tests again and appear the run/debugg button in the left side

[2020-04-27 06:46] sksamuel commented on #5524
Forget the 4.0.x deps, as they're not meant to be used with the plugin. Use only the latest snapshot.

Can you give me more details / screenshot on what you mean by "appear the run/debugg button in the left side"

[2020-04-27 07:17] rackdon commented on #5524
Without buttons
<img width="195" alt="image-without-buttons" src="https://user-images.githubusercontent.com/9605759/80344396-ce28a280-8867-11ea-8441-31487bd459a3.png">

with buttons
<img width="167" alt="image-with-buttons" src="https://user-images.githubusercontent.com/9605759/80344422-d680dd80-8867-11ea-9f8e-90a7eaf0ae81.png">

[2020-04-27 15:08] sksamuel opened #1416 "Higher kinded types in forAll throws reflection exception"
java.lang.ClassCastException: java.base/sun.reflect.generics.reflectiveObjects.ParameterizedTypeImpl cannot be cast to java.base/java.lang.Class

for something like

[code]

[2020-04-27 19:44] LeoColman opened #1418 "`isolation` instead of `isolationMode`"
When configuring tests using the inline features, `isolation` is a parameter, however intuition would suggest that `isolationMode = IsolationMode.InstancePerTest` is expected.

The old `isolation` parameter should be deprecated in favor of `isolationMode`

[2020-04-27 22:02] sksamuel commented on #5524
@rackdon can you try with all your dependencies set to the latest snapshot rather than just the console runner? Also what spec type are you using here.

[2020-04-28 04:58] rackdon commented on #5524
My previous comment was with both possibilities, only the console runner as latest or all the dependencies as latest and the result is the same in both cases.
On the other hand, I use StringSpec

[2020-04-28 06:54] sksamuel commented on #5524
There are tests for gutter icons that are passing on string spec. And it
works for me if I try. You're on 0.90.16 ?

On Mon, 27 Apr 2020 at 23:58, Ricardo Martínez <notifications@github.com>
wrote:

[2020-04-28 07:21] rackdon commented on #5524
Icons appear, the problem is that takes a lot of time to happen (in comparison with kotest-runner-console-jvm:4.1.0.251-SNAPSHOT).
If you refer to Kotest-plugin version with 0.90.16, not, I'm on 0.90.14 (the version which you shared with us in this issue). There is no versions of the plugin in the marketplace so I can't update it

[2020-04-28 12:53] #1412 closed, assigned to nobody

[2020-04-28 14:28] sksamuel commented on #5524
[kotest-plugin-intellij-0.90.17.zip](https://github.com/kotest/kotest-intellij-plugin/files/4546328/kotest-plugin-intellij-0.90.17.zip)

Can you try this version and also make sure you're on the kotest snapshot for all kotest deps.

Thanks.

[2020-04-28 14:38] rackdon commented on #5524
I have the same problem
<img width="149" alt="Captura de pantalla 2020-04-28 a las 16 36 46" src="https://user-images.githubusercontent.com/9605759/80500441-83458280-896e-11ea-8cd9-87031d86499b.png">

def kotest_version = "4.0.5"
My deps are
	testImplementation 'io.kotest:kotest-runner-console-jvm:4.1.0.269-SNAPSHOT'
	testImplementation "io.kotest:kotest-extensions-spring-jvm:$kotest_version"
	tes

[2020-04-28 15:14] sksamuel commented on #5524
You're not using the same version for all kotest dependencies. I don't know
if that would help but 4.0.5 shouldn't be mixed with a snapshot.

On Tue, 28 Apr 2020 at 09:38, Ricardo Martínez <notifications@github.com>
wrote:

[2020-04-28 15:44] rackdon commented on #5524
the only one that is different is `kotest-runner-console-jvm`. I thought that library was  independent from the other

[2020-04-28 15:51] sksamuel commented on #5524
They're all kind of dependent

On Tue, 28 Apr 2020, 10:44 Ricardo Martínez, <notifications@github.com>
wrote:

[2020-04-28 18:00] #790 closed, assigned to nobody

[2020-04-28 20:01] sksamuel opened #1420 "Exception in nested coroutine doesn't seem to propogate"

[2020-04-28 20:02] #1420 closed, assigned to nobody

[2020-04-28 23:45] alannnna opened #1421 "Kotest + gradle protobuf plugin gives "Could not resolve io.kotest:kotest-runner-junit5-jvm:4.0.3""
Hi, I'm upgrading from kotlintest 3.4.2 to kotest 4.0.3, and I'm seeing this gradle error when I am building a subproject that uses the [gradle protobuf plugin](https://github.com/google/protobuf-gradle-plugin). My other subprojects are building and running tests just fine.

[code]

I've made a minimal example that reproduces the error here: https://github.com/alannnna/protobuf-kotest

How can I f

[2020-04-28 23:56] sksamuel commented on #1421
This is a problem we've seen before with the profobuf plugin as it does tricks. @Kerooker can you remember where the workaround was ?

[2020-04-29 03:58] ataronet opened #1422 "Make the arb.choice function take derived classes"
I am using the new Arb.choice function (Kotest version 4.0.5) and when I use derived classes I need to cast them. For example
[code]
I would like to know if it is possible to declare their types internally as anything that derive from T so I won't need to cast them.
Thank you.

[2020-04-29 04:09] sksamuel commented on #1422
Yes that makes sense. do you want to prepare a PR ?

On Tue, 28 Apr 2020 at 22:58, ataronet <notifications@github.com> wrote:

[2020-04-29 04:20] ashishkujoy commented on #1421
https://github.com/kotest/kotest/issues/1366

[2020-04-29 04:39] #583 closed, assigned to nobody

[2020-04-29 04:42] #1421 closed, assigned to nobody

[2020-04-29 04:55] #1416 closed, assigned to sksamuel

[2020-04-29 05:12] rackdon commented on #5524
As I can't use Kotest snapshot libraries (excepting kotest-runner-console-jvm) in the work, what I've done is establish all the libraries (including kotest-runner-console-jvm) to 4.0.5 version and everything works perfectly. I don't have compilation delays in the tests (as I had before) and all the buttons appears. The only difference is that now also appears the option to run the tests through JU

[2020-04-29 05:28] ataronet commented on #1422
Happy too but I will only get to it on the weekend.
Here is the fix that I am now testing for my code
`fun <A> Arb.Companion.choice(vararg arbs: Arb<out A>): Arb<A> = arb(arbs.flatMap(Arb<out A>::edgecases))`
I just changed the signature of your implementation to add `out`

[2020-04-29 20:58] bnjns commented on #1401
Apologies for the late reply.

Yeah dependencies are regular dependencies you inject with `@Inject`.

Happy to set up a PR with a new module, but I'm struggling to get it to import - Gradle keeps giving me

[code]

Any ideas?

[2020-04-29 21:00] ashishkujoy commented on #1401
@bnjns  If you are using intellij idea 2020.1 edition. Then that has a bug with kotlin multiplatform that cause this problem

[2020-04-29 21:00] bnjns commented on #1401
@ashishkujoy Of course it does ... :joy:

[2020-04-29 21:01] ashishkujoy opened #5515 "Kotest plugin shows only strack trace of first failing test in case of multiple test failure"
Please refer this screen recording posted on kotest-dev slack channel for reference   https://kotlinlang.slack.com/archives/CSYLDDZUY/p1588192925000100

[2020-04-29 21:03] ashishkujoy commented on #1401
@bnjns Try with any 2019 intellij edition

[2020-04-29 21:05] bnjns commented on #1401
@ashishkujoy Yeah just downgraded to 2019.3.1 and it's all good - thanks!

[2020-04-29 21:11] ashishkujoy opened #5514 "Wrong test high lightening on clicking test name in Intellij test report window"
Please refer this screen recording posted on kotest-dev slack channel.
https://kotlinlang.slack.com/files/US5P96JFJ/F012C2676DD/kotest-plugin-2.mov

[2020-04-29 22:29] bnjns commented on #1401
I think I've got a module set up, with some example tests for a few injection use-cases. Where would be best to put this that would let you guys then add the integration?

[2020-04-29 22:37] sksamuel commented on #1401
Can you create a PR and tick the box that allows other people to edit it ?
We can work on that PR.

On Wed, 29 Apr 2020 at 17:29, Ben Jones <notifications@github.com> wrote:

[2020-04-29 23:01] bnjns commented on #1401
Created https://github.com/kotest/kotest/pull/1424 with what I think is enough? Happy to continue to help however possible :slightly_smiling_face:

[2020-04-30 13:40] akowal opened #1425 "Compilation error when using kotest-assertions-core-jvm without kotest runner dependency"
According to the docs, to use assertions library it should be enough to add one dependency `io.kotest:kotest-assertions-core-jvm:<version>`. Unfortunately this doesn't work, some matchers cannot be resolved and compilation fails. Here's a minimal project that reproduces the problem: https://github.com/akowal/kotest-deps-issue/

[2020-04-30 13:44] ashishkujoy commented on #1425
Another observation, running test using intellij test runner works fine however with gradle it fails to resolve the import statement.

[2020-04-30 15:23] andrey-bolduzev opened #1426 "AnnotationSpec: Exception in project-level `TestListener`'s `beforeSpec` causes all test cases to be silently not run"
I have a project that uses Mockito for mocking. The project config looks something like this:

[code]

The situation is as follows:
1. I'm writing a new `AnnotationSpec` test, utilizing `@Mock` and `@InjectMock` to provide dependencies I need.
2. But I forget to `@Mock`-inject something and Mockito cannot construct the `@InjectMock`-annotated object and throws `InjectMocksException` from the `init

[2020-04-30 16:18] jaymoid commented on #1422
Ah this is my fault/bug, I prepared a fix, but don't want to step on any toes if you wanted to raise a PR (https://github.com/kotest/kotest/compare/master...jaymoid:arbVarianceFix)

[2020-04-30 16:48] LeoColman opened #1427 "Add `variable.assertSoftly`"
When asserting a lot of things for a specific variable, the usual syntax is something like this:

[code]

It's easy to notice that `variable` gets repeated a lot of times. An alternative would be
[code]

with `apply` and `also` being used.

This issue proposes that e should shorten that syntax by allowing `assertSoftly` into a variable itself:

[code]

[2020-04-30 17:31] sksamuel commented on #1426
Which version ?

On Thu, 30 Apr 2020, 10:23 Andrey Bolduzev, <notifications@github.com>
wrote:

[2020-04-30 17:32] sksamuel commented on #1422
If you're ready with it james make sense to take yours.

On Thu, 30 Apr 2020, 11:18 James Pittendreigh, <notifications@github.com>
wrote:

[2020-04-30 17:34] andrey-bolduzev commented on #1426
My bad, 4.0.2.

[2020-04-30 17:51] sksamuel commented on #1426
Thanks, can you try 4.0.5 as a related bug was fixed. If it still doesn't
work I'll investigate.

On Thu, 30 Apr 2020 at 12:34, Andrey Bolduzev <notifications@github.com>
wrote:

[2020-04-30 17:52] sksamuel commented on #1422
Can you try the latest snapshot as this should be fixed.

[2020-04-30 17:52] sksamuel commented on #1425
I don't know why it doesn't work because

[code]

[2020-04-30 20:31] andrey-bolduzev commented on #1426
Tried with 4.0.5. Still the same silent failure, I'm afraid.

[2020-04-30 22:14] sksamuel commented on #1426
Alright thanks, we'll look into it.

On Thu, 30 Apr 2020 at 15:31, Andrey Bolduzev <notifications@github.com>
wrote:

[2020-05-01 01:42] ataronet commented on #1422
I will!
btw spent few hours trying to set up my environment and it is failing to build. I think it'd be great to have instructions on "how to set up your env" and how to run tests etc.
I was hoping to fix it myself but maybe next time.
Will let you know if your fix works

[2020-05-01 01:49] ataronet commented on #1422
let me know which snapshot you want me to try. I could not find any newer version after 4.0.5 which I have

[2020-05-01 02:08] sksamuel commented on #1422
Snapshots are 4.1.x and are linked on github main page.

On Thu, 30 Apr 2020 at 20:49, ataronet <notifications@github.com> wrote:

[2020-05-01 02:48] ataronet commented on #1422
Can you be more specific about the main page? I wasn't able to find any snapshot on this page https://github.com/kotest/kotest, and not in here: https://github.com/kotest/kotest/releases. what is the link to the snapshots?

[2020-05-01 04:18] sksamuel commented on #1422
Badge at the top under the logo.

On Thu, 30 Apr 2020 at 21:48, ataronet <notifications@github.com> wrote:

[2020-05-02 16:44] sksamuel opened #5513 "Add warning for f: in nested tests"

[2020-05-03 07:28] LeoColman commented on #1401
I left just a comment to your DSL.
I'm not sure if you want to pitch in with some ideas in that regard

[2020-05-03 07:41] LeoColman commented on #1401
Ah, I see it's not applicable to local variables. Forget that :sweat_smile:

[2020-05-03 22:00] ataronet commented on #1422
👍 Thank you, it works!!

[2020-05-04 04:35] LeoColman commented on #1401
Hey, @bnjns!
I couldn't create a hello-world quarkus + test project to study it. Could you guide me how to do it?

- Just a simple hello application
- Integrated with Gradle
- With a simple JUnit test

[2020-05-04 05:05] #1427 closed, assigned to nobody

[2020-05-04 10:02] bnjns commented on #1401
Hi @Kerooker, should just be a case of going to https://code.quarkus.io, selecting `Gradle (Preview)` as the Build Tool and adding the `Kotlin (Preview)` extension. I believe Quarkus automatically add JUnit 5 support.

You just need to ensure that your test class is annotated with `@QuarkusTest` if you want to inject something :)

[2020-05-05 11:06] molaachir commented on #5545
If you are anywhere in the test, it should take you to the next one, yes. That makes Jumping through tests when you can't use a mouse much, much faster and more convenient.

[2020-05-05 18:08] jaymoid commented on #1279
@themoritz Hi! What version did see this on? (The property based testing framework was re-written for 4.x)

I'm struggling to recreate the issue. If you could provide an example test case that demonstrates this I can look into it.

I've tried a basic property based test, which under failure states both the shrunk input and the original/first input which the property does not hold true for.
[code]

[2020-05-05 19:26] themoritz commented on #1279
I have only tested this before the 4.x rewrite, so I can't tell for sure that this is still an issue. One clue that this is still an issue is that in this piece of code

https://github.com/kotest/kotest/blob/5029d98300c9f733ba2d16120c81e5426468249c/kotest-property/src/commonMain/kotlin/io/kotest/property/internal/shrink.kt#L67-L72

the `t: Throwable` is not reported back. So the report can only sh

[2020-05-05 20:42] themoritz commented on #1279
Here's a small example that can be used to reproduce the issue:

[code]

This prints something like the following:

[code]

Even though the final Arg 0 is `1`, the exception is about the original value of `6`. In this example it's easy to see what's going on, but in more complicated tests this is an issue because I can't see the exception that was thrown for the shrunk value of `1`. Expected behav

[2020-05-05 21:26] sksamuel commented on #1279
It should show both I think.

On Tue, 5 May 2020, 15:42 Moritz Drexl, <notifications@github.com> wrote:

[2020-05-06 02:23] sksamuel commented on #5524
In 4.1.x that unit thing is gone FYI.

On Wed, 29 Apr 2020 at 00:12, Ricardo Martínez <notifications@github.com>
wrote:

[2020-05-06 08:26] mtarzi opened #1430 "io.kotest.extensions.system.withEnvironment usage in multi tests"
I using  this kotest verison:
[code]
And when I use the kotest extension for systemEnvironment more than one time in my tests.
I get this error below.
For functional test, it's really useful to be able to change the system environment.

[code]

[2020-05-06 08:29] LeoColman commented on #1430
What JDK are you using?

[2020-05-06 15:43] overfullstack opened #5512 "Wrong Suffix: Appends *KtTest to the file name instead of *Test"
Steps:
- Place cursor or function or class, press option+enter and choose "Create test"
- Select kotest for Testing Library.
- The default test class file name has a wrong suffix.

Please find the screenshot attached. This is performed on a function named "searchInRotatedSorted2"
Expected default test file name: "SearchInRotatedSorted2Test"
<img width="650" alt="Screen Shot 2020-05-06 at 9 07 37 P

[2020-05-07 04:17] LeoColman opened #1431 "Add `arb(edgecase, ...)` for a single edge case"
Currently, we have the following syntax for arbs:

[code]

When adding a single edgecase, that function requires the creation of a list, and thus is more verbose:

[code]

We can add a shorter syntax for a single edgecase, just as sugar for our user:

[code]

And then
[code]
instead of
[code]

[2020-05-07 11:53] neelkamath opened #1432 "Test only one function"
In regular JUnit tests, I can test only one function in a class like `gradle test --tests ClassName.functionName`. How can I do this in Kotest, using `StringSpec()` in particular?

[2020-05-07 16:50] sksamuel commented on #1287
Closing as not a kotest issue.

[2020-05-07 16:50] #1287 closed, assigned to nobody

[2020-05-07 16:51] sksamuel commented on #911
This is done right ?

[2020-05-07 16:51] LeoColman commented on #911
yep

[2020-05-07 16:51] #911 closed, assigned to LeoColman

[2020-05-07 16:54] LeoColman commented on #1432
While the Kotest plugin for IntelliJ isn't released, you can execute a single test by using a Focus on the top level test.

Please see more documentation [here](https://github.com/kotest/kotest/blob/84d0d6f7d1086a53342ecc3ca49039c2cc477227/doc/conditional_evaluation.md)

[2020-05-07 17:11] jaymoid commented on #1279
@themoritz I'd recommend upgrading to 4.x and seeing if this is an issue. 3.4.2 was the last 3.x release to Kotlintest, so going forwards we'll be focussing on Kotest 4.x issues. In my experiments in 4, you get all of the pre-shrunk and shrunk inputs, in addition to a seed, which allows you to repeat the test with the args which had failed your previous tests making them deterministic.

[2020-05-07 17:38] sksamuel commented on #1279
Do we get the pre shrunk exception and the post shrunk exception in
addition to the values. I think that is what the ticket is checking for.

On Thu, 7 May 2020, 12:11 James Pittendreigh, <notifications@github.com>
wrote:

[2020-05-08 03:06] neelkamath commented on #1432
Thanks. I'll use Focus.

Regarding the IntelliJ plugin, I don't think that would be helpful in my case, since I just run Gradle test commands in IntelliJ's terminal directly. My program runs in a Docker container, and editing Run configs in the IDE to enable testing via buttons would take more time than simply running whichever command I need at the particular time by hand.

It would be helpful fo

[2020-05-08 03:06] #1432 closed, assigned to nobody

[2020-05-08 03:09] sksamuel commented on #1432
We would need gradle to understand that not all test frameworks are class /
method based.
Unfortunately I can't see that happening anytime soon.
We have started work on a kotest gradle plugin though, but that might take
the rest of 2020 to complete depending on schedules.

On Thu, 7 May 2020 at 22:06, Neel Kamath <notifications@github.com> wrote:

[2020-05-08 08:27] jaymoid commented on #1279
Apologies, I'm with you now. Yes in 4.x we don't get the exception that failed with the shrunk input, only the shrunk input itself.

It raises a property assertion error and specifies the first (non-shrunk) exception as the cause,  so I'm not sure how it would work if we had two exceptions to specify as there's only the slot for one cause.

My only thought was if we had a `PropTestConfig` option t

[2020-05-09 14:08] sksamuel opened #5511 "Exception with intellijs handling of junit4"
[code]

[2020-05-09 14:22] sksamuel commented on #5511
[code]

[2020-05-09 21:57] sksamuel commented on #1430
It's because the reflection we do is a warning in the newest JDKs I think.

[2020-05-10 12:39] #1422 closed, assigned to nobody

[2020-05-10 14:51] sksamuel commented on #1308
Documentation added.

[2020-05-10 14:51] #1308 closed, assigned to sksamuel

[2020-05-10 15:01] sksamuel commented on #1386
Now that we have multiple exceptions like `afterproject_1` etc, do we still need this ?

[2020-05-10 15:13] crazyk2 commented on #1386
Still need improved docs

[2020-05-10 15:18] sksamuel commented on #1386
Feel free to submit a PR.

On Sun, 10 May 2020 at 10:13, crazyk2 <notifications@github.com> wrote:

[2020-05-10 16:47] sksamuel opened #5510 "Broken team city output format"
[code]

[2020-05-10 20:55] #5511 closed, assigned to nobody

[2020-05-10 20:55] sksamuel commented on #5519
Fixed by https://github.com/kotest/kotest/pull/1434

[2020-05-10 20:55] sksamuel commented on #5529
This is fixed in the new kotest plugin.

[2020-05-10 20:55] #5529 closed, assigned to nobody

[2020-05-10 20:55] sksamuel commented on #5510
Fixed by https://github.com/kotest/kotest/pull/1434

[2020-05-10 20:56] sksamuel commented on #5542
Fixed by https://github.com/kotest/kotest/pull/1434

[2020-05-10 20:57] sksamuel commented on #5512
I think the problem is in intellij, because when it's picking up the classname of your function. When functions are compiled to jvm bytecode, they get this KT suffix.

What happens if you choose another test framework like junit?

[2020-05-10 21:28] #5542 closed, assigned to nobody

[2020-05-10 21:28] #5510 closed, assigned to nobody

[2020-05-10 21:28] #5519 closed, assigned to nobody

[2020-05-10 22:44] sksamuel opened #5509 "Exception in plugin"
[code]

[2020-05-10 23:37] ataronet opened #1435 "Add property test global config with before / after prop test callbacks"
I am using the `checkAll` function with some `Arb` and a lambda for the test. I need something like `beforeTest` but for every iteration of the `checkAll`. Thank you.

[2020-05-11 00:20] sksamuel commented on #1435
Can't you just put it inside the check all functions ?

[2020-05-11 02:42] ataronet commented on #1435
Of course but when someone adds a new test they will have to remember to add the setup cleanup stage as well.
I can try to add the functionality if it is not available but I might need some help to set up the environment. Last time I could not build the project on my laptop.

[2020-05-11 03:58] overfullstack commented on #5512
You are right! this only happens with kt files with top-level functions, and it make sense, as they get converted to class files with `Kt` suffix. Closing this issue. Thanks.

[2020-05-11 03:58] #5512 closed, assigned to nobody

[2020-05-11 08:17] sksamuel commented on #1435
Oh so something before every single prop test.

On Sun, 10 May 2020, 21:42 ataronet, <notifications@github.com> wrote:

[2020-05-11 10:20] ataronet commented on #1435
Yes. Exactly! We only use prop tests and normally we need to clean things in between their iterations.

[2020-05-11 10:35] sksamuel commented on #1435
The quick fix is to write your own checkAll which delegates to the built in
one. You'd need to write them for all arities though.
The long term fix is to add some property test project wide configuration
that allows you to specify a beforePropertyTest and afterPropertyTest
callbacks.

On Mon, 11 May 2020 at 05:20, ataronet <notifications@github.com> wrote:

[2020-05-11 20:30] imanushin commented on #823
```File("foo").shouldHaveContent(File("other"))```

I have a bit complex behavior:
1. Comparison should ignore line ending. E.g. both files should be splitted by ```\n\r```
2. Comparison should be line by line, e.g. in happy path it is better to avoid whole files into the memory (and split doubles the memory required)
3. All lines should be trimmed. E.g. ```\t123``` is the same with ```123 ```
4.

[2020-05-11 21:07] sksamuel commented on #823
For Json, you could use our json matchers willwhich will compare ignoring
pretty printing.

On Mon, 11 May 2020 at 15:31, Igor Manushin <notifications@github.com>
wrote:

[2020-05-11 22:51] #1418 closed, assigned to nobody

[2020-05-12 08:35] imanushin commented on #823
@sksamuel, yes, agree. However html golden state comparison needs patching for me for now.

[2020-05-12 14:43] cldfzn commented on #950
So having run in to this issue pretty consistently, do we have any thoughts around a solution? I've stuck to one depth level, but as soon as I add a second DataJPATest everything falls down again with the lack of an entity manager. I've been trying to think of a solution that's a bit more stable.. could we insert some logic to be knowledgeable about the spring transaction support and ignore that e

[2020-05-12 14:54] #1265 closed, assigned to nobody

[2020-05-12 16:02] LeoColman commented on #950
@cldfzn
Could you create a sample project for your issue? It seems a little bit different from what other people said above, as they've solved it with using only top level cases

[2020-05-13 05:38] ashishkujoy commented on #1426
@andrey-bolduzev could you please provide us a sample project which reproduce this bug.
I have tried doing that, for me its working fine, i am getting the expected exception even before my spec run.

Here is the project config where i am adding a listener which throws InjectMocksException in beforeSpec callback
https://github.com/ashishkujoy/kotest-playground/blob/issue-1426/src/test/kotlin/com/ko

[2020-05-13 14:18] sksamuel opened #5508 "Exception in plugin"
Following exceptions happened soon after this one, most probably they are induced.

2020-05-12T21:56:28.395
update failed for AnAction(com.intellij.openapi.vcs.actions.CompareWithTheSameVersionAction) with ID=Compare.SameVersion
java.lang.IndexOutOfBoundsException: Wrong line: 199. Available lines count: 156
	at com.intellij.openapi.editor.impl.LineSet.checkLineIndex(LineSet.java:212)
	at com.inte

[2020-05-13 14:20] sksamuel opened #5507 "Exception in plugin"
[code]

[2020-05-13 14:35] cldfzn commented on #950
In creating a small sample I wasn't able to reproduce it. So probably some unintended interaction with something I've done. Thanks for responding.

[2020-05-13 14:36] #950 closed, assigned to LeoColman

[2020-05-13 14:52] andrey-bolduzev commented on #1426
Thank you very much for providing the sample project.

One thing I changed in it is adding a `override val isolationMode: IsolationMode = IsolationMode.InstancePerLeaf` line to the `ProjectConfig` and it started silently failing like in the original report. So, might be, there's a bug only in the `InstancePerLeafSpecRunner` but not the rest of them?

[2020-05-13 16:00] ashishkujoy commented on #1426
Oh yes,  with ```InstancePerLeaf```  i am also not seeing the error.

[2020-05-13 18:00] LeoColman commented on #1354
This was merged already at #1404

[2020-05-13 18:00] #1354 closed, assigned to nobody

[2020-05-13 22:02] LeoColman opened #5506 "Right clicking the class name should show a run option"

[2020-05-13 22:34] crazyk2 opened #1438 "More flexible listener/extension mechanism"
If compare JUnit, TestNG and Kotest on extension points then Kotest will be last and worst.
1) JUnit and TestNG cook testPlan/testRun before running and then filtered, mapped and etc. Kotest works only with discovered classes and has one extension point `afterScan` You may create instance of this classes and cast to `Spec` and found root tests but rest of nested tests will be handled only during r

[2020-05-14 02:26] togise commented on #1313
I am using 4.0.3 and this is still causing the same issue. Here is my dependencies for kotest
[code]

[2020-05-14 03:26] sksamuel commented on #1313
Have you tried 4.0.5 ?

On Wed, 13 May 2020 at 21:26, togise <notifications@github.com> wrote:

[2020-05-14 13:18] togise commented on #1313
Just did, still getting the exception.
[code]
From the source code DefaultShow.kt line 51
[code]
Here is the test that I just created in my [githubrepo](https://github.com/togise/kotest-path-stackoverflow)
[code]
And here is my build.gradle file
[code]
And the jdk I am using is openjdk 13.0.2 2020-01-14

[2020-05-14 16:13] #1152 closed, assigned to nobody

[2020-05-15 09:27] csgui opened #1440 "Is there a way to get tests output formatted like RSpec?"
Hello all... kotest newbie here!

So, I would like to have the tests output formatted something like RSpec style:

`....F.....*.....`

or

![image](https://user-images.githubusercontent.com/13015/82034740-7cb94980-9696-11ea-8303-cc546a526b6b.png)

Is this possible?

[2020-05-16 00:31] sksamuel commented on #1438
You can achieve a lot with the Extension classes. They allow you to override which tests are executed and even the results of those tests.

As for having a fully inflated test plan, that's not possible.

[code]

The only way to get a handle to inner test is to execute outer test. In things like JUnit it's all annotations and methods so it's functions.

Perhaps if you have an example usecase we can

[2020-05-16 03:45] ashishkujoy commented on #1426
@andrey-bolduzev The bug is now fixed in master.

[2020-05-16 03:45] #1426 closed, assigned to ashishkujoy

[2020-05-16 03:57] #1114 closed, assigned to nobody

[2020-05-16 10:07] neelkamath opened #1441 "StringSpec test cases with multiline names broken"
# Bugs

I think I have found two bugs with `StringSpec`s. I'm unsure whether other testing styles are affected as well.

## Environment

Here's my environment. I'm unsure whether other environments are affected.

- Kotlin/JVM 1.3.72
- Kotest 4.0.5
- Gradle 6.4

## Bug 1: Test Failures

Consider this psuedocode.

[code]

If I run the entire suite, and the first two test cases fail, then the error m

[2020-05-16 15:59] ashishkujoy commented on #1441
@neelkamath For the first problem if you observe carefully the report mentions 3 test failure instead of 2, with two of them with same stacktrace(and failure message) but only one of them will have actual test name and other will ```executionError``` as test name. This is a known problem with reporting in kotest #1330
<img width="1577" alt="Screenshot 2020-05-16 21 30 36" src="https://user-images.

[2020-05-16 16:06] ashishkujoy commented on #1441
Two the second problem
instead of this
[code]
Use
[code]

[2020-05-16 16:23] glasser commented on #1283
One final question — is timeout supposed to be applied per-"invocation" or overall?

The previous code sorta did both — it had an "overall" timeout around the invocations and also ran each code within the timeout. Now it just applies it overall.

I think it would make sense to only apply to a single invocation — if I'm trying to track down a rare bug I might want to set invocations=10000000 and wa

[2020-05-16 16:29] sksamuel commented on #1283
I agree that the timeout should apply per invocation. We can add another config value to support that.

[2020-05-16 16:29] sksamuel opened #1442 "Add timeout to apply to individual tests when invocations > 1"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-05-16 16:30] sksamuel commented on #1283
https://github.com/kotest/kotest/issues/1442

[2020-05-16 16:43] sksamuel commented on #1441
Ashish I think it's worth us calling .trim() on the names when we generate
the TestCase instances.

On Sat, 16 May 2020 at 11:07, Ashish Kumar Joy <notifications@github.com>
wrote:

[2020-05-16 22:09] TheNumberOne commented on #1425
I'm getting the same problem lol

[2020-05-16 22:38] TheNumberOne commented on #1425
When I use the latest snapshot, this problem doesn't exist anymore. Here is a copy of @akowal's  repository that uses the latest snapshot: https://github.com/TheNumberOne/kotest-deps-issue

[2020-05-16 22:42] #1275 closed, assigned to nobody

[2020-05-17 01:38] neelkamath commented on #1441
@ashishkujoy

## Regarding Bug 1

Note: When I refer to "test case", I mean "test case with a multiline name".

I tried to reproduce bug 1 today with simpler code.

When one test case is supposed to pass, and another is supposed to fail, only one fails. This is not a bug.

However, bug 1 still exists, in the other scenario I mentioned. Consider the following code.

[code]

Both tests are supposed

[2020-05-17 02:31] sksamuel commented on #1441
This is a gradle limitation whereby it's taking only the first line from
the multi line, which is of course just a '\n' in this case, so they clash.
We should strip out new lines from multiline strings, as they won't work in
intellij or gradle. We already strip newlines in the intellij plugin.

On Sat, 16 May 2020 at 20:38, Neel Kamath <notifications@github.com> wrote:

[2020-05-17 06:38] jazzinpark commented on #1425
I was also having a same issue, and following @TheNumberOne's suggestion to use the latest snapshot (kotest-assertions-core-jvm:4.1.0.291-SNAPSHOT) solved the problem for now.

[2020-05-17 10:07] mattmook opened #1443 "forAll with single property is not suspend"
**Which version of Kotest are you using**
4.0.5

When looking at the code for `forAll`, the lambda property is `suspend` in all but the single property case.

For example:

[code]

should be:

[code]

to ensure consistency.

[2020-05-17 10:16] mattmook commented on #1443
Just realised there is a `suspend` version, I was having issues with my code using it.

[2020-05-17 10:16] #1443 closed, assigned to nobody

[2020-05-17 15:00] ejhobbs commented on #1425
I've also just run into this issue, exact same configuration as OP and moving to snapshot as per @TheNumberOne has fixed it.

[2020-05-17 15:17] sksamuel commented on #1425
I think its because in 4.0.x the dependency is implementation(project(":kotest-assertions"))
In master its api.
I'll release 4.0.6 with this fix and some others.

[2020-05-17 15:18] sksamuel commented on #1431
I had a go at this and the signatures clash.
I think we should just close this unless you can find a way to do it.

[2020-05-17 16:52] sksamuel commented on #1332
It looks like the issue ended up being in openj9 ?

[2020-05-17 18:46] LeoColman commented on #1431
I'll take a look

[2020-05-18 01:25] #1441 closed, assigned to sksamuel

[2020-05-18 01:25] sksamuel commented on #1441
Fix will be included in 4.0.6 and 4.1.0

[2020-05-18 05:26] LeoColman commented on #1431
Yeah, couldn't find a quick way to solve it.
If I ever think on something that addresses this I'll include it again.

[2020-05-18 05:26] #1431 closed, assigned to LeoColman

[2020-05-18 06:48] asm0dey commented on #999
Still interested in this

[2020-05-18 09:17] csgui commented on #1440
I've got a response from the #kotest channel in kotlinlang Slack. And that kind of output is not supported by Kotest library, yet.

Closing this issue.

[2020-05-18 09:17] #1440 closed, assigned to nobody

[2020-05-18 11:42] DanySK commented on #1332
OpenJ9 sure had a different behaviour than HotSpot. The new version however is not released yet, so I'd wait at least for that to be released before closing.
However there must be some obscure interplay between Groovy JSR223 and Kotest as well, as both work alone in J9, but not together.

[2020-05-18 12:36] crazyk2 commented on #1438
`They allow you to override which tests are executed and even the results of those tests.
`Key word is test. But I want to know result of each step (preconditions, configuration methods, setup methods, call it whatever you want) and I want to control flow of these methods. Please read carefully my first message. And look at [InvocationInterceptor](https://github.com/junit-team/junit5/blob/master/j

[2020-05-18 12:48] sksamuel commented on #1438
So it sounds like a we could add a LifecycleExtension which allows you to
intercept before / after test / all methods.

On Mon, 18 May 2020, 07:36 crazyk2, <notifications@github.com> wrote:

[2020-05-18 13:22] crazyk2 commented on #1438
Exactly.
[code]
Where `BeforeSpec` need change
from
[code]
to
[code]
In the same way
`interceptAfterSpec`
`interceptBeforeTest`
`interceptAfterTest`
`interceptBeforeInvocation`
`interceptAfterInvocation`

[2020-05-18 13:24] sksamuel commented on #1438
This can all be done in a single LifecycleExtension point. We could add
this for 4.1 or 4.2

On Mon, 18 May 2020, 08:22 crazyk2, <notifications@github.com> wrote:

[2020-05-19 01:08] #5507 closed, assigned to nobody

[2020-05-19 01:08] #5508 closed, assigned to nobody

[2020-05-19 01:09] #5509 closed, assigned to nobody

[2020-05-19 01:10] sksamuel commented on #5515
Can you try latest kotest snaphot please as I believe this is fixed in that.

[2020-05-19 08:25] ashishkujoy commented on #5515
@sksamuel now i am getting error message expected:<2> but was:<3> but the stacktrace is still missing.
<img width="911" alt="Screenshot 2020-05-19 13 54 51" src="https://user-images.githubusercontent.com/34642693/82303286-5f5ae700-99d8-11ea-8433-02bd99132b33.png">

[2020-05-19 09:27] sksamuel commented on #5515
You're on 0.9.16+ and the latest console snapshot?

On Tue, 19 May 2020 at 03:25, Ashish Kumar Joy <notifications@github.com>
wrote:

[2020-05-19 10:13] ashishkujoy commented on #5515
@sksamuel i had kotest plugin 0.90.18 but console runner was 4.0.5. I will try with the lastest console runner snapshot

[2020-05-19 10:22] ashishkujoy commented on #5515
@sksamuel Thanks its working properly with combination 0.90.18 plugin and 4.1.0.292-SNAPSHOT console runner

[2020-05-19 10:22] #5515 closed, assigned to nobody

[2020-05-19 17:05] rainx0r opened #1446 "MockServer (and HTTP) extension documentation missing"
I am trying to use MockServer with Kotest and noticed you have an extension for it but its usage is not documented in the doc/extensions.md document.

Could you provide a quick example? I did look into the extension myself and it seems to be a listener you can add to a spec but how would I go about doing further setup of MockServer to set up the responses I want to mock? Or assert that a request w

[2020-05-20 10:32] #1280 closed, assigned to nobody

[2020-05-20 13:15] sksamuel commented on #1242
This is related to #826 which @jaymoid is working on. We'll track it in that other ticket.

[2020-05-20 13:15] #1242 closed, assigned to nobody

[2020-05-20 15:57] xmlking commented on #1401
any update on this?
can't wait on my testing passing :)
https://github.com/xmlking/micro-apps/blob/develop/apps/greeting-quarkus/src/test/kotlin/micro/apps/greeting/FruitResourceTest.kt

[2020-05-21 12:38] #1189 closed, assigned to nobody

[2020-05-21 13:45] sksamuel opened #1447 "Coroutine helper for timeout"
Something like `shouldTimeout {  suspending calls in here  }`

[2020-05-22 11:16] ataronet commented on #1435
@sksamuel @Kerooker I have a fix for that but I don't have the permission to push my changes. Please advise how I can commit my code so I can create a PR. I created a dedicated branch but still can't push my changes.

[2020-05-22 11:38] ashishkujoy commented on #1435
@ataronet You need to fork kotest, push to that fork and then create a PR from the fork.

[2020-05-22 14:46] revanthpobala opened #5505 "Getting Test Framework Quit Unexpectedly when running Kotest from the latest plugin 0.90.16, IntelliJ version 2020.1.1 (Ultimate Edition)"
IDE:
IntelliJ IDEA 2020.1.1 (Ultimate Edition)
Build #IU-201.7223.91, built on April 29, 2020
Runtime version: 11.0.6+8-b765.40 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.6
GC: ParNew, ConcurrentMarkSweep
Memory: 2014M
Cores: 4

Kotest Plugin version -- 0.90.16

I have a bunch of Kotest written and I am getting the following exception when I try to run them from the Kotest

[2020-05-22 15:10] sksamuel commented on #5505
Are you using the latest kotest snapshot?

On Fri, 22 May 2020, 09:46 Revanth, <notifications@github.com> wrote:

[2020-05-22 15:57] revanthpobala commented on #5505
I downloaded this plugin https://plugins.jetbrains.com/plugin/14080-kotest/update/84840 and my kotest and kotlin versions are

[code]

[2020-05-22 18:13] #1447 closed, assigned to nobody

[2020-05-22 23:29] LeoColman commented on #5505
Could you please try with the latest Kotest snapshot version?
Currently it's 4.1.0.297-SNAPSHOT

[2020-05-22 23:32] LeoColman commented on #1185
Did we get all of these done?

[2020-05-23 00:07] sksamuel commented on #1185
Yerp

On Fri, 22 May 2020, 18:32 Leonardo Colman Lopes, <notifications@github.com>
wrote:

[2020-05-23 02:27] #1435 closed, assigned to nobody

[2020-05-23 04:47] #1105 closed, assigned to nobody

[2020-05-23 08:44] #1048 closed, assigned to nobody

[2020-05-23 20:28] #1185 closed, assigned to nobody

[2020-05-24 09:44] Loomie opened #1456 "checkAll(Gen) for Exhaustive with large lists does not work"
**Which version of Kotest are you using**
4.0.5

I got an exception that I didn't understand when using `.exhaustive()` of a list with 2500 elements.
[code]
After debugging I found that this check is in [proptest.kt](https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/internal/proptest.kt#L17). I think the message contains the wrong value: The "at

[2020-05-24 10:44] #1084 closed, assigned to nobody

[2020-05-24 18:31] jaguililla opened #1458 "Allow case control in test's reports"
When you use a test method, case is not handled. I.e.: `should("Happen something")` will be rendered as `should Happen something`.

The proposed feature is to allow case control on reports by using a report setting. This could be something like: `case = AS_IS | SENTENCE | LOWERCASE`

Being rendered in the reports this way:

* AS_IS: `should Happen something`
* SENTENCE: `Should happen something`
*

[2020-05-24 18:33] jaguililla commented on #1458
If time is not a concern, I would like to work on this. Could you please assign it to me? Thanks!

[2020-05-24 18:55] sksamuel commented on #1458
Assigned.

I would like to see another enum added. TITLE_CASE where you end up with "Should Happen Something"

[2020-05-24 23:34] LeoColman commented on #1458
One thing to watch out for is for something like

[code]
How would something like HTML, URI, URL, ... be transformed with these cases?

[2020-05-25 09:47] crazyk2 commented on #1307
It's not actual for me because I moved to FunSpec. But maybe for someone

[2020-05-25 22:20] Octogonapus opened #1460 "Add shouldExistInOrder matcher"
If I have a collection, I can check that it has certain elements using `shouldHaveSingleElement`. However, there is no built-in way to also add an ordering constraint between elements. If I wrote this,
[code]
then those two elements could appear in any order in `traces`. I would like to be able to write
[code]
to add the ordering constraint.

Here is my suggested implementation:
[code]

[2020-05-25 23:17] sksamuel commented on #1460
Take a look at `shouldContainInOrder`

On Mon, 25 May 2020 at 17:21, :) <notifications@github.com> wrote:

[2020-05-25 23:35] Octogonapus commented on #1460
`shouldContainInOrder` is close to what I want, but it requires that I have instances of the elements to match. I want to supply predicates instead.

[2020-05-26 01:32] revanthpobala commented on #5505
@Kerooker  Sorry, my company's artifactory does not have that version.

[2020-05-26 01:43] #5505 closed, assigned to nobody

[2020-05-26 01:43] sksamuel commented on #5505
If you can't use snapshots then you'll need to wait for 4.1 final and
kotest plugin 1.0 final.

On Mon, 25 May 2020 at 20:32, Revanth <notifications@github.com> wrote:

[2020-05-26 13:59] revanthpobala commented on #5505
Thanks

[2020-05-26 14:18] sksamuel commented on #5505
They will be released in the next couple of weeks.

On Tue, 26 May 2020 at 08:59, Revanth <notifications@github.com> wrote:

[2020-05-26 20:05] jaguililla commented on #1458
I was thinking on handling only the case of the work implied by the function name (i.e.: `test`, `should`...) and the first letter (or maybe word if the first word is all uppercase) leaving the rest of the test title intact.

Would that make sense?

[2020-05-27 07:03] ashishkujoy opened #1463 "Add Missing documentations"
Below are few features for which we don't have documentations.

- [x] PropTestListener #1452
- [x] ShouldTimeout for async call. #1448
- [x] variable.assertSoftly #1429
- [x] isEqual for ZonedDateTime #1417

Lets keeping here any other features for which documentation is missing.

[2020-05-27 12:25] sksamuel commented on #1460
Oh I see.

So we could add that (or contribute a PR since you've done most of the work!). It could be a matcher like your describe.

I think a better name that fits in is `shouldExistInOrder` as we use the words have and contains for basic comparison. I think exists makes sense for predicates.

[2020-05-27 12:28] sksamuel opened #1464 "Release 4.0.6"
- [x] - Compilation error when using kotest-assertions-core-jvm without kotest runner dependency #1425
- [x] - checkAll(Gen) for Exhaustive with large lists does not work #1456
- [x] - Any kind of `.show()` on `java.nio.file.Path` causes a StackOverflowError #1313

[2020-05-27 12:31] sksamuel commented on #1401
So I spent some time on this... and it's very hard. The way quarkus works with its compile time generation... I struggled to get anywhere. You can see the complexity by looking at the JUnit implementation they've done.

So a different approach maybe to add support for JUnitExtensions to Kotest. As a quick glance it looks like we could support their ExtensionContext API and then we could piggy back

[2020-05-27 12:31] sksamuel commented on #1334
Can you try latest master ?

[2020-05-27 12:34] sksamuel commented on #1430
In a future JDK release, they must offer some way to adjust the System.env map without reflection otherwise any code that relies on that will break.
Closing as there's no workaround currently.

[2020-05-27 12:34] #1430 closed, assigned to LeoColman

[2020-05-27 12:35] sksamuel commented on #1332
I guess the combination of Groovy and Kotest ends up calling some method that triggers some error in OpenJ9.

Once you've confirmed it's working in a bug fix release of J9 can you ping back here so we can close.

[2020-05-27 14:06] Octogonapus commented on #1460
I used the word have because the other matcher I referenced (that takes a predicate) uses it, `shouldHaveSingleElement`. I will make a PR (and use `shouldExistInOrder`).

[2020-05-27 14:35] bnjns commented on #1401
@sksamuel That's annoying, but I am sadly not surprised that Quarkus have built an implementation that's complex :disappointed:

Is there anything I can possible lend a hand with?

[2020-05-27 14:47] sksamuel commented on #1401
We need to basically implement the JUnit ExtensionContext interface and
fill it with Kotest values.

That's not Quarkus specific, but with that we should be able to hook into
Quarkus easily?

On Wed, 27 May 2020 at 09:35, Ben Jones <notifications@github.com> wrote:

[2020-05-27 17:02] DanySK commented on #1332
Sure

On Wed, May 27, 2020 at 2:35 PM Stephen Samuel <notifications@github.com>
wrote:

--
Ing. Dott. Danilo Pianini, PhD

Site: http://www.danilopianini.org/
Phone: +39 320 41 36 573
Hangouts: danilo.pianini@gmail.com

[2020-05-28 05:32] #5532 closed, assigned to nobody

[2020-05-28 05:32] #5546 closed, assigned to nobody

[2020-05-28 05:32] #5531 closed, assigned to nobody

[2020-05-28 08:18] tony19 commented on #5533
Please reopen

[2020-05-28 09:32] #5528 closed, assigned to nobody

[2020-05-28 21:33] LeoColman commented on #1463
`variable.assertSoftly` is already documented at the[ assertion softly docs](https://github.com/kotest/kotest/blob/master/doc/reference.md#soft-assertions)

[2020-05-28 21:36] LeoColman commented on #1456
Thanks for the report. I'll work on this

[2020-05-29 15:22] sksamuel commented on #1458
Yes that makes sense and my suggestion of Title Case should be ignored.

[2020-05-29 15:53] crazyk2 opened #1468 "Can not build kotest"
**Which version of Kotest are you using**
master
When I run on my Ubuntu machine build task I get output
[code]

[2020-05-29 16:24] crazyk2 opened #1469 "callback order execution and inheritance"
**Which version of Kotest are you using**
master
I use inheritance with my test instead composition and faced with problem of order execution.
[code]
As known the class start initialization from parents to class itself and all listeners are stored in list and execution of listeners are
[code]
so their order in list are important. And now situation is  parents add all listeners then child add all l

[2020-05-29 17:08] sksamuel commented on #1469
I'm not sure that it's possible to know that a method invoked in a parent has also been invoked in a child. After the init{} block runs in the parent, you want the init{} block in the child to have before* methods be registered after, but after* methods be registered before. I suppose we could run the after* callbacks in reverse order.

[2020-05-29 17:25] sksamuel commented on #1468
I get the same thing (I also use ubuntu).
I think this is why I removed the native targets previously @ajalt any ideas ?

[2020-05-29 17:28] #1460 closed, assigned to nobody

[2020-05-29 18:07] xiaodongw opened #5504 "Test based on subclass of a spec not detected"
I have some tests organized by this way:
[code]
I can run the test with Gradle without problem.
When I open the XxxIntegrationSpec in Intellij, it doesn't recognize it as a test (no run menu or icon). It used to work with the old Intellij plugin (kotlin-test).
I'm using kotest plugin 0.90.16, with kotest 4.1.0.259-SNAPSHOT

[2020-05-29 19:49] ajalt commented on #1468
That's odd, the tests pass on the Ubuntu CI. https://github.com/kotest/kotest/runs/721211914

I'll boot up my Ubuntu box and take a look. What versions of Ubuntu and Java are you using?

[2020-05-29 19:59] sksamuel commented on #1468
20.04 ubuntu

openjdk version "11.0.7" 2020-04-14

On Fri, 29 May 2020 at 14:49, AJ Alt <notifications@github.com> wrote: