[2020-05-29 19:59] sksamuel commented on #1468
This is running via gradle from intellij (for me). Intellij 2019.3

On Fri, 29 May 2020 at 14:59, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-05-29 21:03] ajalt commented on #1468
In the same distro and JDK, `gradlew check` succeeds for me.

Trying to sync gradle in Intellij Community 2020.1 fails on master, but also if I checkout v4.0.4 or v4.0.5, so I don't think my change is the cause.

Since I can't sync gradle, I'm unable to fix this myself. For now, you could just remove all the targets except `linuxX64("native")` and see if IntelliJ will work. Maybe once the new MPP

[2020-05-29 21:30] sksamuel commented on #1468
Intellij 2020 has a bug on MPP projects. You would need to use 2019 with
kotest for now.

On Fri, 29 May 2020 at 16:04, AJ Alt <notifications@github.com> wrote:

[2020-05-30 04:52] ashishkujoy commented on #1464
@sksamuel Do we need to anything for #1425 and #1313 as these issue seems to be resolve in snapshot version.
A working test for those two issue. https://github.com/ashishkujoy/kotest-path-stackoverflow

[2020-05-30 04:56] LeoColman commented on #1464
@ashishkujoy Could you append your tests to our test base? If they pass I think it's a greenlight for those issues

[2020-05-30 05:01] ashishkujoy commented on #1464
@Kerooker we already have a passing test for that.
https://github.com/kotest/kotest/blob/master/kotest-assertions/kotest-assertions-shared/src/jvmTest/kotlin/com/sksamuel/kotest/show/PathShowTest.kt

[2020-05-30 05:19] xmlking opened #1471 "Could not resolve io.kotest:kotest-runner-junit5-jvm:4.1.0.293-SNAPSHOT."
I am using kotest  `4.1.0.293-SNAPSHOT` along with  "com.google.protobuf" plugin.
I am getting following error

Ref: https://github.com/gradle/gradle/issues/12126

### reproduce
Repo: https://github.com/xmlking/micro-apps
[code]

### Error
[code]

[2020-05-30 05:24] ashishkujoy commented on #1471
@xmlking Check this if this resolves your issue https://github.com/kotest/kotest/issues/1366

[2020-05-30 16:37] buckler4 commented on #1107
I am seeing a similar error with Kotest 4.1.0.293-SNAPSHOT (or 4.0.3) running with either Kotlin 1.3.70 or 1.4-M1.  Thanks,

Tested with similar code in StringSpec:
[code]

[code]

[2020-05-30 16:49] sksamuel commented on #1464
I guess the #1313 fix was just never merged to the 4.0.6 branch then. I'll cherry pick that.

[2020-05-30 17:00] sksamuel commented on #1107
@buckler4 that looks like it's working to me. What was the result you expected to see?

[2020-05-30 19:12] buckler4 commented on #1107
@sksamuel - I expected to see the stack trace only once - but it looks like it is repeated.  I am new to KoTest so I may be missing something.  Thanks for the quick response.

[2020-05-30 21:16] xmlking commented on #1471
Thanks @ashishkujoy it worked

[code]

[2020-05-30 21:16] #1471 closed, assigned to nobody

[2020-05-31 01:55] neelkamath opened #1473 "Docs update for IntelliJ productivity"
## The Problem

Kotest makes us write tests in a class constructor's lambda like this:
[code]
It is normal to have hundreds of lines in one of these lambdas. This causes Intellij to constantly [invalidate the cache](https://youtrack.jetbrains.com/issue/KT-13474#focus=streamItem-27-1573280.0-0) which makes Kotest seemingly unusable. It took me several hours before finding and trying the right issue

[2020-05-31 14:59] sksamuel commented on #1473
The ticket says it was fixed in 1.0.5 and I don't notice it myself.
There was some slowness in an earlier version of kotest. What version are
you using?

On Sat, 30 May 2020 at 20:56, Neel Kamath <notifications@github.com> wrote:

[2020-05-31 21:58] sksamuel commented on #1464
I've made a PR to add in the path.show fix from master.

[2020-05-31 23:07] sksamuel commented on #1355
Did we ever get closer to solving this ?

[2020-05-31 23:12] sksamuel commented on #777
https://ro-che.info/articles/2017-12-04-golden-tests

[2020-06-01 00:34] sksamuel commented on #1464
#1425 is now ready in 4.0.6 as well. Once #1456 is merged I will release 4.0.6

[2020-06-01 01:35] neelkamath commented on #1473
Odd. I'm on the latest stables of Kotest, macOS, IntelliJ, Kotlin, and the Kotlin plugin. I saw other YouTrack issues where some people said that disabling the new type inference algorithm fixed their performance issues but it didn't work me. Is there any non-default setting you're using in IntelliJ that might fix this?

[2020-06-01 01:44] sksamuel commented on #1473
I'm using 2019.3 and 1.3.72 of kotlin and plugin, ubuntu 20.04. I use
either kotest 4.05 or the latest snapshot from master. You could try the
snapshot see if that helps, you shouldn't need to do anything but switch
versions.

On Sun, 31 May 2020 at 20:35, Neel Kamath <notifications@github.com> wrote:

[2020-06-01 03:34] #1456 closed, assigned to LeoColman

[2020-06-01 03:34] LeoColman commented on #1464
Merged.

[2020-06-01 04:42] neelkamath commented on #1473
Sadly, the SNAPSHOT didn't help.
I had large lambdas in Kotest class constructors in a project I wrote in 2019. If I remember correctly, there was no issue with the lambdas at that time. _Maybe_ the cache invalidation bug made its way back into IntelliJ 2020.
Considering that the class constructor lambda issue was raised in Spek's repo recently, I think this is a temporary IDE bug; because since o

[2020-06-01 07:58] crazyk2 commented on #1473
I have the same issue with my tests. And track this [issue](https://youtrack.jetbrains.com/issue/KT-32158)

[2020-06-01 08:00] sksamuel commented on #1473
Neel do you have a link to the spek issue.

On Mon, 1 Jun 2020, 02:59 crazyk2, <notifications@github.com> wrote:

[2020-06-01 08:13] neelkamath commented on #1473
@sksamuel yes, it's from my original comment: https://github.com/spekframework/spek/issues/874

[2020-06-01 08:27] sksamuel commented on #1473
I don't use 2020 because it has a bug with mpp projects stopping them being
opened. In general it seems to be a very buggy release.

On Mon, 1 Jun 2020, 03:14 Neel Kamath, <notifications@github.com> wrote:

[2020-06-01 09:14] neelkamath commented on #1473
I've tried downgrading Kotlin's JVM target from 14 to 8, and then using IntelliJ 2019. Neither worked for me. I'll try to remember to update here if it ever gets resolved :(

[2020-06-01 09:56] crazyk2 commented on #1468
What about updates? May I try to build master?

[2020-06-01 10:12] crazyk2 commented on #1473
I use
[code]

[2020-06-01 13:29] sksamuel commented on #1464
We're ready to release 4.0.6. Sonatype is having issues atm so I will try later.

[2020-06-01 21:21] #1311 closed, assigned to nobody

[2020-06-02 00:28] #1468 closed, assigned to nobody

[2020-06-02 01:09] sksamuel commented on #1464
4.0.6 has been released.

[2020-06-02 01:09] #1464 closed, assigned to nobody

[2020-06-02 01:09] sksamuel commented on #1425
4.0.6 has been released which fixes this.

[2020-06-02 01:09] #1425 closed, assigned to nobody

[2020-06-02 01:10] sksamuel commented on #1313
4.0.6 has been released which fixes this.

[2020-06-02 01:10] #1313 closed, assigned to nobody

[2020-06-02 02:04] andrey-bolduzev commented on #1426
The fix works wonderfully in the kotest snapshot version but I was wondering if it would be possible to cherry-pick it into a stable 4.0 release?

I'm currently torn between having to use 4.0 which has the dangerous bug and 4.1 which has it fixed but which at the same time has a new issue that prevents the android studio / Intellij from recognizing test cases which makes them not runnable from the

[2020-06-02 02:25] sksamuel commented on #1426
What's the new bug ?

[2020-06-02 02:45] andrey-bolduzev commented on #1426
Haven't seen it reported and still trying to figure out what the cause might be. But when switching from kotest 4.0 to 4.1, the IDE stops recognizing kotest specs as valid test files which is manifested by the green "run" button in the gutter section disappearing (as well as any other way to run individual test classes from the IDE except for the command line). This affects at least classes extend

[2020-06-02 03:03] sksamuel commented on #1426
Ah that's expected.

So in <= 4.0 Kotest spec files "pretend" to be JUnit class files by adding the junit annotaton @Testable to the specs. This is so intellij thinks they're junit files and then gives you the green button. But because junit is limited to classes and methods, it only shows you the green button at the top level.

In 4.1 we have removed this annotation. Instead, we will advertise th

[2020-06-02 03:05] sksamuel commented on #1426
We should still include this fix in 4.0.x though. I'll release 4.0.7 with this next few days.

[2020-06-02 03:06] sksamuel commented on #1426
@ashishkujoy you think you can raise a PR against release/4.0.x branch with the fix, I notice the original fix was several commits and might be hard to cherry-pick.

[2020-06-02 03:16] ashishkujoy commented on #1426
Sure @sksamuel

[2020-06-02 03:30] andrey-bolduzev commented on #1426
The only reason I haven't gotten to installing the plugin yet is I wasn't sure of the state of its compatibility with kotest 4.0, but I've been meaning to try it out and I will certainly do it now. Thank you very much for your work @sksamuel @ashishkujoy.

[2020-06-02 03:46] sksamuel commented on #1426
Thank you for using the project and your feedback.

On Mon, 1 Jun 2020 at 22:31, Andrey Bolduzev <notifications@github.com>
wrote:

[2020-06-02 14:55] crazyk2 commented on #1469
Exactly what I want right now in master))

[code]

[2020-06-02 14:58] sksamuel commented on #1469
Ok if you PR and test it I'll merge :)

On Tue, 2 Jun 2020 at 09:55, crazyk2 <notifications@github.com> wrote:

[2020-06-02 15:01] crazyk2 commented on #1469
No problem.
But there is one failed test in master `SpringTestExecutionListenerTest`. I won't fix it

[2020-06-02 15:16] sksamuel commented on #1469
Is it disabled? Because all enabled tests are passing on CI

On Tue, 2 Jun 2020 at 10:01, crazyk2 <notifications@github.com> wrote:

[2020-06-02 15:27] ashishkujoy commented on #1469
@crazyk2 That spec has two test and both are passing. Screenshot of lastest ci report.
<img width="1336" alt="Screenshot 2020-06-02 21 01 59" src="https://user-images.githubusercontent.com/34642693/83539242-6b848f80-a514-11ea-9d6a-1fe8dd192716.png">

[2020-06-02 15:36] crazyk2 commented on #1469
![image](https://user-images.githubusercontent.com/12140191/83539591-e2fbf400-a4ff-11ea-99cb-91c725b0b7ca.png)

[2020-06-02 15:40] crazyk2 commented on #1469
![image](https://user-images.githubusercontent.com/12140191/83540128-9238cb00-a500-11ea-9ce9-ab6da17a2f6d.png)

[2020-06-02 15:43] ashishkujoy commented on #1469
These test failure are not happening on master. There might be some change in your code that is causing this.

[2020-06-02 16:18] crazyk2 commented on #1469
Nope.
It was before my changes. and it's flacky

[2020-06-02 16:19] ashishkujoy commented on #1469
The problem here is that your changes reverse the order of listeners. In that particular spec we have some assertion in afterSpec that needs to be run after  ```afterTestClass``` method of ```DummyTestExecutionListener``` used in
```@TestExecutionListeners``` but here reversing the listener orders cause assertion to be run before that.

https://github.com/kotest/kotest/blob/5d8f6333e9dcb0766a671fa

[2020-06-02 16:48] ashishkujoy commented on #1469
One way to fix this is create an instance of TestLIstener do this assertion in afterSpec of that.
[code]
And then register that along with SpringListener.
[code]
This hack will work, **But my only worry is that reversed execution of listener for some callbacks, might create confusion for user**.

[2020-06-02 17:03] crazyk2 commented on #1469
I think that order is not problem for current users because there are no issues with such theme (i mean order of test listeners execution).
And if you use Listeners with `@AutoScan` you can't control it at all.
If you use listeners like this
[code]
you can change order `listener(MyTestListener2, MyTestListener)`
But If you use inheritance you can do nothing

[2020-06-02 17:18] crazyk2 commented on #1469
@ashishkujoy I made changes in more elegant way

[2020-06-02 17:54] #1301 closed, assigned to nobody

[2020-06-02 20:23] crazyk2 opened #1482 "redundant call of *Spec callbacks and inheritance"
**Which version of Kotest are you using**
Master
[code]

[code]
Parent do not have tests but still run listener.
If made change
[code]
then TestListener won't run

[2020-06-02 21:08] sksamuel commented on #1482
Is this really a bug?
What if you want a common superclass that executes some logic, like starts up a database, that you want all the child specs to inherit ?

[2020-06-02 21:37] LeoColman opened #5503 "ShouldSpec not executing a single test"
[code]

When using the plugin, executing "A" runs both "A" and "B". Executing "B" also runs "A" and "B". Both fail as expected.

When running "C", it won't be executed by the plugin.

The only way to execute C is using the class, executing Foo

[2020-06-02 21:39] razvn opened #1483 "Nested tests hierarchy or parent name in gradle report"
In 4.0.6 when using nested tests like:

ex: FreeSpec
[code]
It shows nice in IntelliJ
![Kotest-IntelliJHierachy](https://user-images.githubusercontent.com/745873/83570677-c4f5ba00-a526-11ea-8daf-57848e7c3191.png)
But the gradle report is bad as it does not contain not hierarchy
![KoTest-Freespec-gradlereport](https://user-images.githubusercontent.com/745873/83570760-e787d300-a526-11ea-8d45-bf4cc63

[2020-06-02 21:48] razvn opened #1484 "Nested tests error in failed tests number"
in 4.0.6

In a nested test:

[code]

if one fails, gradle reports 3  failed tests:

[code]

Also the number of tests are not accurate should be `3` not `5`.

same code in  Junit
[code]

reports the right amount of tests and faild ones:
[code]

[2020-06-02 22:22] crazyk2 commented on #1482
And where is a problem?
All works fine for me and all tests passed.

[2020-06-02 22:25] sksamuel commented on #1482
Because spec.rootTests will be empty in the parent, but you still want the
parent's listeners to execute.

On Tue, 2 Jun 2020 at 17:22, crazyk2 <notifications@github.com> wrote:

[2020-06-02 22:56] crazyk2 commented on #1482
Listeners will be executed because Child initialized after Parent initialized.
And if you have code in `init{}` block it will be executed. If you have code outside `init` block for example `override fun defaultTestCaseConfig()` child has this `override` too if not override by itself.
I don't see problem. Maybe you give me example or highlights

[2020-06-03 12:10] sksamuel commented on #1482
I see, you don't want the parents being executed twice.
Change the parent class to abstract.

[2020-06-03 12:12] sksamuel commented on #1483
The issue is gradle doesn't support hierarchical reports (been open tickets for 2 years). We can't include the parent name in the child test because then in intellij you're going to see the parent name repeated at every level.

We might be able to do something if we could detect we were running inside intellij or not and alter the behavior.

[2020-06-03 12:12] sksamuel commented on #1484
Same issue as #1483. Gradle limitation.

[2020-06-03 12:12] #1484 closed, assigned to nobody

[2020-06-03 12:15] sksamuel commented on #1469
The more I think about this the more I agree with @ashishkujoy that we shouldn't be making any guarantees on the execution order of callbacks of the same type.
There's @Autoscan, there's ones registered at in project conf, we have callbacks supported at many levels.
I would just say, pull your listener code out of the parent class into a standalone class, and then it doesn't matter.

[2020-06-03 12:32] crazyk2 commented on #1482
It will work but i don't have a abstract member of class.
Not everyone will guess to do like you said.
And if compare with JUnit and TestNG you can do like I do without `abstract` parent class and listeners won't be called twice

[2020-06-03 12:35] crazyk2 commented on #1469
If you don't guarantee then what the difference between reverse order and vice versa? Just merge my PR and it would be nice for me. Order for rest users is not guaranteed))) By the way all tests are passed that mean I don't break behavior

[2020-06-03 12:35] sksamuel commented on #1482
JUnit is method based so not applicable here.

The behavior you're seeing is the right behavior. You have two test classes, they're both being instantiated. The listeners run in one, they run in the other.

If you don't want that, you simply change the parent spec to be abstract, which makes sense, as the parent class is not a test suite for you.

[2020-06-03 12:45] crazyk2 commented on #1482
Maybe you are right. But you cannot avoid comparison with JUnit in java\kotlin world from developers and TestNG from QA Automators.

JUnit and others try to create standart in tests (you know about it because use opentest4j) so I think it would be nice and less confusing if kotes will be similar with known tools much more as possible especially if it costs nothing and  break nothing in Kotest

[2020-06-03 12:47] sksamuel commented on #1469
I can't just merge a PR because it's good for one person :)

On Wed, 3 Jun 2020 at 07:35, crazyk2 <notifications@github.com> wrote:

[2020-06-03 12:48] sksamuel commented on #1482
I don't agree that it costs nothing.
If a user **wants** the behavior you're currently seeing, and we change it, how do they then do it?

In other words, if you don't want the parent callbacks, use abstract. If you do want them, they leave it as it is.

If we change the behavior, and you want the parent callbacks, you can't do it anymore.

[2020-06-03 12:51] sksamuel commented on #1469
I'd be happy to add a flag to project config that reverses the order. A flag that is false by default, but you can change to true to get the behavior you want.

[2020-06-03 13:08] crazyk2 commented on #1482
Ok. Then docs should be updated with this case. I think we should create docs with all unobvious cases

[2020-06-03 13:08] crazyk2 commented on #1482
Close this issue or label with docs and close pull request

[2020-06-03 13:10] crazyk2 commented on #1469
Do you think it's good idea?
It would be compromise for me because add separate listener object in each class isn't best idea.

[2020-06-03 14:28] sksamuel commented on #1469
I think that's a good way to do it.

On Wed, 3 Jun 2020 at 08:10, crazyk2 <notifications@github.com> wrote:

[2020-06-03 14:28] sksamuel commented on #1482
Like the other thread, I would be happy with a flag, `executeCallbacksOnEmptySpec` default to true. Set it to false, and you get the behavior you want.

[2020-06-03 22:10] madhavc opened #1485 "Allow delay to be configurable for the eventually fucntion"
Currently, we use `eventually` function for lot of our tests but by default eventually is set to a `500 ms` delay we would like to be able to pass the delay as one of the parameters in the eventually function. Let me know if this is already possible to do today and how.

[2020-06-03 22:40] madhavc commented on #1485
Looks like this was addressed in version 4.0. Closing.

[2020-06-03 22:40] #1485 closed, assigned to nobody

[2020-06-04 03:03] #5537 closed, assigned to nobody

[2020-06-04 12:14] reevn opened #1486 "Provide a way to remove test prefixes in the test output when using specs which use prefixes"
When using `DescribeSpec`, the test output when running tests adds the prefix `Describe:` before any nesting and additionally `It:` in the Kotest plugin window for the tests themselves.

Providing a way to get rid of these prefixes would reduce clutter in the test output.

Example:

Test code:
[code]

Current test output
[code]

Desired test output
[code]

[2020-06-04 19:35] sgarfinkel opened #1487 "Arb.bind<T>() calls the incorrect constructor"
**Which version of Kotest are you using**
4.0.6

**Description**
Kotest's `Arb.bind<T>()` calls the incorrect constructor here: https://github.com/kotest/kotest/blob/befa71c81135a7afb66db5330d1a3b4fd367c0f1/kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/jvmbind.kt#L20

The first constructor returned _might_ be the primaryConstructor, but may not be. Also the set of inputs is deriv

[2020-06-04 19:57] imanushin commented on #1305
I coulnd't find correct way of reproducing.

[2020-06-04 19:57] #1305 closed, assigned to nobody

[2020-06-04 23:08] sksamuel opened #1488 "Parent scopes are not coroutine scopes"
Eg, the following should compile

[code]

[2020-06-05 15:37] #1327 closed, assigned to nobody

[2020-06-06 16:35] #1362 closed, assigned to nobody

[2020-06-06 16:42] sksamuel opened #1490 "Do we have docs for temp file management"
We don't do much with io. It would be nice to have a one liner to create a temp file or dir that is cleaned up after a test or spec.

[2020-06-06 16:50] ashishkujoy commented on #1490
We already have temporary file management #326 . How this will be different?

[2020-06-06 17:31] sksamuel commented on #1490
Forgot about that. I'll make sure we have docs for it instead.

[2020-06-06 17:33] sksamuel opened #1491 "Kotest Roadmap 4.2"
- [x] - Bundle console runner with intellij plugin #1567
- [x] - Upgrade to Kotlin 1.4 #1511
- [x] - Change instance of matchers to use generic contracts #1510
- [x] - Control isolation mode by system property #1588
- [x] - Allow case control in test's reports #1458
- [x] - Use expression for tags instead of include/exclude #863
- [x] - Allow to disable SpringListener on final class warning #1573

[2020-06-06 17:34] #1488 closed, assigned to nobody

[2020-06-06 17:42] sksamuel commented on #1487
Fixed in master.

[2020-06-06 17:42] #1487 closed, assigned to sksamuel

[2020-06-06 18:42] #1442 closed, assigned to nobody

[2020-06-06 19:11] sksamuel commented on #1359
You would probably always need to execute the tests against at least one target. The reason is, common is like a virtual state - it's just kotlin code and it needs to be compiled into _something_ in order for it to be tested.

[2020-06-06 19:31] sksamuel commented on #1486
In the meantime you can use freespec to have arbitrarily nested blocks without prefixes.

[2020-06-07 01:22] sksamuel commented on #1486
In 4.2 we'll provide a flag to allow prefixes of any kind (Describe, Expect, Feature, and so on) to be omitted in the output.

[2020-06-07 01:34] #1279 closed, assigned to sksamuel

[2020-06-07 08:05] nomisRev opened #1493 "Arb.list doesn't use ListShrinker"
**Which version of Kotest are you using**

4.0.6

`Arb.list` doesn't utilize `ListShrinker`.

https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/collections.kt#L58

https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/collections.kt#L95

[2020-06-07 12:12] Patresss opened #1495 "Cannot use Kotest with modules from Java 9"
Kotest version: 4.0.6

I cannot use Kotest with modules from Java 9. Could you rename the packages from modules:
- io.kotest.matchers
- - kotest.assertions.core.jvm
- - kotest.assertions.jvm
- io.kotlintest
- - kotest.core.jvm
- - kotest.assertions.jvm

I also create a question on stackoverflow: https://stackoverflow.com/questions/62237354/external-modules-a-and-b-export-package-some-package-to-mo

[2020-06-07 13:36] sksamuel commented on #1495
I use java 11 fine. Have you tried that?

On Sun, 7 Jun 2020, 07:13 Patresss, <notifications@github.com> wrote:

[2020-06-07 13:47] Patresss commented on #1495
Yes, I also use Java 11. I put Java 9 because it introduced modules

[2020-06-07 13:52] sksamuel commented on #1495
Can you try master. The io.kotlintest packages are gone from master.

On Sun, 7 Jun 2020, 08:47 Patresss, <notifications@github.com> wrote:

[2020-06-07 14:00] Patresss commented on #1495
I think that I used master 4.0.6 when I just run `gradlew build` I get:
[code]

[2020-06-07 14:32] Octogonapus opened #1497 "Merge to an Exhausive of a superclass"
I want to `merge()` two `Exhaustive` gens into one with the common supertype of the two instances I am merging. For example, If I have one `Exhaustive` of type `B : A` and another of type `C : A`, I'd like to be able to merge them into one with type `A`.

I have been using this function to accomplish this:
[code]

Then I can use it like so:
[code]

The Kotlin compiler can infer the common supertyp

[2020-06-07 14:49] Patresss commented on #1495
@sksamuel I prepared a repository to reproduce: https://github.com/Patresss/KotestModule
Please just run the build task from the gradle. When I remove module-info.java it works.

[2020-06-07 15:03] sksamuel opened #1499 "Add Arb.choose that accepts weighted arbs"
Similar to the current weight that accepts values.

[2020-06-07 15:17] #1499 closed, assigned to sksamuel

[2020-06-07 15:19] sksamuel commented on #1497
Yes please. We can include this in the forth coming 4.1 release.

[2020-06-07 15:47] sksamuel opened #1500 "Arb.flatMap is broken"
Arbs by their nature are infinite, so flatMap { a -> a.flatMap { arbB } } doesn't work because the inner arb never expires to then request a value from the outer arb.

[2020-06-07 16:09] avently commented on #1359
It's true but I can write and execute test code in commonTest with `kotlin.test`. If it can work why kotest can't?

[2020-06-07 16:50] #1490 closed, assigned to nobody

[2020-06-07 16:55] sksamuel commented on #1359
Well kotlin.test has special support from the compiler and the IDE. But it must be running your tests in either the JVM or a JS runner. I'll look into it.

[2020-06-07 16:58] #1493 closed, assigned to sksamuel

[2020-06-07 16:59] sksamuel commented on #1353
We've now merged this into kotest itself due to testcontainers having higher priorities.

[2020-06-07 17:00] sksamuel commented on #1353
Will be included in 4.1

[2020-06-07 17:01] sksamuel commented on #1495
I get this:

[code]

[2020-06-07 17:06] avently commented on #1359
@sksamuel  I probably imported wrong artifact before because I saw some classes from kotest in commonTest but not other classes.
Now I did this:

1.added
[code]
2. inserted into dependencies:
[code]

I can import kotest code inside commonTest finally. But I receive `No tests found for given includes`. Trying to fix it.

[2020-06-07 17:10] sksamuel commented on #1359
Try 4.0.6 as well just so you're on the latest.

[2020-06-07 17:11] sksamuel opened #1503 "Support JUnit Test Extensions"

[2020-06-07 17:26] Patresss commented on #1495
Please use gradle version max 6.0.1 (I use 6.0.1) due to https://github.com/beryx/badass-jlink-plugin/issues/116

[2020-06-07 18:03] avently commented on #1359
Whenever I click on a test class decalaration in IDEA with right mouse button and selecting `Run SsnTest` I'm getting `No tests found for given includes`. Could you please point me into the right direction?
Here is a quick sample project I created:
[KotestSample.zip](https://github.com/kotest/kotest/files/4742643/KotestSample.zip)

[2020-06-07 18:31] sksamuel commented on #1359
You can't put tests in commonTest with kotest.

On Sun, 7 Jun 2020 at 13:03, avently <notifications@github.com> wrote:

[2020-06-07 18:38] avently commented on #1359
Is it impossible? So how other libs can work then? (I know just one lib and it's kotlin.test)

[2020-06-07 19:03] sksamuel commented on #1359
kotlin.test has special support from the compiler and the IDE. It's easier to make it work when the author of kotlin, kotlin.test and intellij are all the same company.

As the ecosystem matures I assume they'll expose ways for third party libraries to plugin.

[2020-06-07 19:05] #1497 closed, assigned to Octogonapus

[2020-06-07 19:08] avently commented on #1359
Ah, ok. Then the issue can be closed. Thank you for your time. Please, reopen it if there will be a way to implement the feature in the future.

[2020-06-07 19:09] #1359 closed, assigned to nobody

[2020-06-07 19:11] sksamuel commented on #1359
Once we can support it, we will.

[2020-06-07 19:13] #1500 closed, assigned to sksamuel

[2020-06-07 20:13] razvn commented on #1483
Ok, I have to move back to Junit as the team is not happy with the drawbacks. we are using the html report in our GitLab Pages and the xml in our Merge Requests. Without the proper structure they are useless. I'll keep the kotest asertions as they are great. Thanks for the great work.

[2020-06-07 20:20] razvn commented on #1484
Anything that @melix can do about those limitations ?

[2020-06-07 20:43] sksamuel commented on #1483
You don't have to nest your tests. If you use FunSpec, ShouldSpec or StringSpec the tests are top level and work like junit. You still benefit from all the other things kotest has to offer. I personally always use FunSpec.

[2020-06-07 21:58] Patresss commented on #1495
@sksamuel Please ignore the above comment - I updated the badass-jlink-plugin version so the gradle issue should be fixed.
`The value for task ':compileJava' property 'destinationDirectory' is final and cannot be changed any further.`
https://github.com/beryx/badass-jlink-plugin/issues/116#issuecomment-640283892

[2020-06-07 22:53] sksamuel commented on #1495
I get the same error as you now.
I'm not sure how to fix this, because I believe this is caused by kotlin multiplatform projects.

[2020-06-07 23:07] Patresss commented on #1495
I do not think that it is related to the kotlin multiplatform projects. As I understand, when we use modules we can not use packages with the same name.

![image](https://user-images.githubusercontent.com/14001334/83982146-5c427f00-a924-11ea-821e-620638b6b483.png)

https://stackoverflow.com/a/46278159/4952942

So, I would suggest renaming one of the packages (however, this may result in a lack of

[2020-06-08 00:30] sksamuel commented on #1495
Yeah but with Kotlin MPP you can't just rename them because you implement platform specific code by use of actual / expect keywords for functions in the same package.

For example:

Inside commonMain

![image](https://user-images.githubusercontent.com/743706/83983589-3782e300-a8f5-11ea-8040-7081264d6136.png)

Inside jsMain
![image](https://user-images.githubusercontent.com/743706/83983574-2b972100

[2020-06-08 01:30] #1335 closed, assigned to nobody

[2020-06-08 08:06] Patresss commented on #1495
Oh, I see what you mean. Thank you for looking at this! Is there a chance to fix it in a known future? I'm asking because I don't know what to do with my project (wait or temporarily remove the library)

[2020-06-08 17:37] klesniewski opened #1504 "JSON matchers should match on nullable strings"
I am really happy you have added JSON matchers - they are really useful! However, I found the interface a bit clumsy when my JSON field is nullable and I would like to make a small change to improve it.

Currently, testing nullable JSON fields looks as follows:
[code]
If changing the matcher and its infix functions to match on nullable string, it would be more concise:
[code]
In my view, it is a s

[2020-06-08 17:56] sksamuel commented on #1504
I think that's a good change, the matcher can check for both nullability
and equality at the same time.

On Mon, 8 Jun 2020 at 12:37, klesniewski <notifications@github.com> wrote:

[2020-06-08 18:39] klesniewski commented on #1504
Seems like it is being addressed with https://github.com/kotest/kotest/pull/1318. I will add some comments to the PR.

[2020-06-09 20:13] LeoColman commented on #1504
If this is already addressed, can we close this issue?

[2020-06-10 11:54] klesniewski commented on #1504
Not sure what is the approach in your project, but for me it would be normal to close it only once changes are released or at least merged to master. This is not the case and the mentioned PR does not even implement it fully yet.

[2020-06-10 14:16] #1463 closed, assigned to nobody

[2020-06-11 19:52] sksamuel commented on #1495
I guess the fix is more with jetbrains to make mpp work with modules.

[2020-06-11 19:54] sksamuel commented on #1495
Reading up on it we might be able to make it work. It seems with modules you can't have packages split across multiple modules.

[2020-06-11 19:58] #826 closed, assigned to nobody

[2020-06-11 23:27] sksamuel commented on #1486
The more I think about this, the more I want to just get rid of the Describe prefixes. @Kerooker @ashishkujoy thoughts on me making this change for 4.1 ?

[2020-06-12 03:15] ashishkujoy commented on #1486
Yes @sksamuel I think we can remove this with 4.1

[2020-06-12 13:02] sksamuel commented on #1486
I've added a flag to disable these prefixes, included in 4.1.
Starting 4.2, we'll make the default to hide the prefixes.

[2020-06-12 13:02] #1486 closed, assigned to sksamuel

[2020-06-12 16:04] #1089 closed, assigned to nobody

[2020-06-13 03:10] overfullstack opened #1509 "java.lang.NoSuchMethodError: 'double kotlin.time.Duration$Companion.getZERO-UwyO8pc()'"
I have been getting this exception `java.lang.NoSuchMethodError: 'double kotlin.time.Duration$Companion.getZERO-UwyO8pc()'` when running any test with Kotest.
I am on Gradle 6.5, Kotlin 1.4-M2, and using the latest snapshots of Kotest (4.1.0-324-SNAPSHOT).

[2020-06-13 03:29] sksamuel commented on #1509
Do you have a full stack trace? Would be handy to know where in the kotest
codebase this occurs.

On Fri, 12 Jun 2020 at 22:10, Gopal S Akshintala <notifications@github.com>
wrote:

[2020-06-13 03:33] overfullstack commented on #1509
java.lang.NoSuchMethodError: 'double kotlin.time.Duration$Companion.getZERO-UwyO8pc()'
          at kotlinx.coroutines.DelayKt.toDelayMillis-LRDsOJo(Delay.kt:101)
          at kotlinx.coroutines.TimeoutKt.withTimeout-lwyi7ZQ(Timeout.kt:58)
          at io.kotest.core.runtime.TestExecutor.executeAndWait(TestExecutor.kt:180)
          at io.kotest.core.runtime.TestExecutor.invokeTestCase(TestExecuto

[2020-06-13 03:36] sksamuel commented on #1509
Great thank you

On Fri, 12 Jun 2020 at 22:33, Gopal S Akshintala <notifications@github.com>
wrote:

[2020-06-13 12:41] sksamuel commented on #1509
Fixed in master.

[2020-06-13 12:41] #1509 closed, assigned to nobody

[2020-06-13 12:45] sksamuel opened #1510 "Change instance of matchers to use generic contracts"
Requires kotlin 1.4

[2020-06-13 12:45] sksamuel opened #1511 "Upgrade to Kotlin 1.4"

[2020-06-14 17:14] nomisRev opened #5502 "IDEA play icon dissapears for custom `Spec` class"
**Which version of Kotest are you using**

[code]

Kotest plugin version: `0.9.16`

[2020-06-15 10:50] georgeVasiliu opened #5501 "Type inference on shouldBe for maps"
Hello everyone,

Maybe this could be marked as an improvement or such a thing, but I noticed when using the plugin and trying to run some tests that it failed at compile. The error was a type inference error, more specifically the ...environment shouldBe emptyMap() :

![image](https://user-images.githubusercontent.com/26601265/84648831-3c0b5500-af0e-11ea-837d-b63006e4e9eb.png)

![image](https://us

[2020-06-16 13:54] tu55eladd opened #1514 "Documentation on Testlisteners by overriding callback has override inside init block, should be probably be outside"
In the documentation on "Listeners", in the section "Overriding callback functions in a Spec", the function override is inside the init block which yields an compilation error, but it should probably be outside the init block.

[2020-06-16 17:46] andrey-bolduzev commented on #1426
Don't mean to interfere with the release process but if I'm not mistaken that fix got cherry-picked but never released? Would it still be possible to still make a small 4.0.7 stable release? @sksamuel @ashishkujoy

[2020-06-17 02:36] ashishkujoy commented on #1426
Hi @andrey-bolduzev That fix was released 4.1.0-RC1 few days back. You can use latest 4.1.0-RC2.

[2020-06-17 03:36] andrey-bolduzev commented on #1426
Yep, I know it's fixed in the 4.1 branch but the adoption of the kotest intellij plugin is not going too well in my team, I am having a hard time getting it to work in a complex project myself. I was going to raise an issue in the plugin repo once I figure out what exactly is happening. But in the meantime, I was hoping another small 4.0 release could be made since the work to cherry-pick the chan

[2020-06-17 03:54] sksamuel commented on #1426
We can do 4.0.7 yes.

Also please let us know what issues you're having with the plugin and 4.1.

On Tue, 16 Jun 2020, 22:37 Andrey Bolduzev, <notifications@github.com>
wrote:

[2020-06-17 04:18] patelm5 opened #1515 "Focus not working in WordSpec"
**Which version of Kotest are you using**
4.0.5

Related to: [1376](https://github.com/kotest/kotest/issues/1376), I believe the same issue is present in WordSpec.

[2020-06-18 08:30] dgm90 opened #1516 "Filtering tests by tag happens after beforeSpec method is invoked"
Original:
I use tags to filter tests when running on CI. My problem is that if a test is derived from a BaseTest class, that has an overridden `beforeSpec` method (aka setup for all tests), then this method is invoked even if the test itself is filtered out by tag. Is it possible to filter out tests firstly and only then run the `beforeSpec` method? I've failed to find an answer in documentation.

[2020-06-19 17:08] sksamuel opened #1519 "Releases don't include windows or macos builds"
Need to update build action for sonatype releases.

[2020-06-19 20:59] SerVB commented on #1504
By the way, instead of

[code]

you can use

[code]

`shouldNotBeNull` has a contract so after it `json` will be smart-casted to a `String`.

[2020-06-20 01:42] #1504 closed, assigned to nobody

[2020-06-20 09:05] Obirah commented on #5504
Same for me with plugin version 1.0.0 and KoTest 4.1.0.RC2 - would really love to be able to get rid of redundancies with abstract specs while still being able to execute single test cases from IntelliJ.

[2020-06-20 09:56] #1514 closed, assigned to nobody

[2020-06-20 11:19] sksamuel commented on #1515
I've added a test for word spec focus and it looks fine. Can you provide a concrete example that fails.

[2020-06-20 11:45] sksamuel commented on #1516
Fixed in master. Will be included in 4.1.0 final.

[2020-06-20 12:23] sksamuel commented on #5503
Can you confirm this is working on 4.1.0.RC2 and plugin 1.0.0 ?

[2020-06-20 12:24] sksamuel commented on #5502
Duplicated of kotest/kotest#5504

[2020-06-20 12:24] #5502 closed, assigned to nobody

[2020-06-20 13:47] sksamuel commented on #5504
Fixed in 1.0.1 which is pending jetbrains approval on the plugin store.

[2020-06-20 13:47] #5504 closed, assigned to nobody

[2020-06-20 13:47] sksamuel commented on #5502
Fixed in 1.0.1 which is pending jetbrains approval on the plugin store.

[2020-06-20 13:47] sksamuel commented on #5524
Please use the 1.0.0 kotest plugin from the plugin store, alongside 4.1.0

[2020-06-20 13:47] #5524 closed, assigned to sksamuel

[2020-06-20 14:13] sksamuel commented on #1426
4.0.7 has been released.

On Tue, 16 Jun 2020 at 22:53, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-06-20 21:28] patelm5 commented on #1515
I was able to reproduce your results, so it must be a mistake on my side with versions. Thanks for the reply. Closing.

[2020-06-20 21:28] #1515 closed, assigned to sksamuel

[2020-06-21 04:42] neelkamath commented on #1473
@crazyk2 the `String` issue has gotten worse for me now, to the point where it's slow even in the `main` source set for functions ~20 lines. To help me better diagnose this, do you mind letting me know if taking the lambda out of the class constructor helps you?

In essence, does writing:
[code]
instead of just:
[code]
help noticeably for editing code in general?

[2020-06-22 03:46] #5520 closed, assigned to nobody

[2020-06-23 01:01] sksamuel commented on #5501
I think this is because the new type interference is enabled in intellij but not in gradle.

[2020-06-23 02:26] #5525 closed, assigned to nobody

[2020-06-23 02:28] sksamuel commented on #1519
Fixed and 4.1.0 has been released.

[2020-06-23 02:28] #1519 closed, assigned to nobody

[2020-06-24 10:23] imanushin opened #1524 "IntelliJ Idea doesn't detect tests after upgrading to 4.1.0"
Kotlin: 1.3.72
Kotest: 4.1.0

After kotest upgrading from ```4.0.6``` to ```4.1.0```, IntelliJ Idea doesn't show ```Run Test``` hint near the class word at the text editor. Moreover, even if I do right click on file at the Project panel, the menu items for test runs are missing there.

However right click on Java package can start all tests in the package, which can be temporary workaround.

[2020-06-24 12:56] ashishkujoy commented on #1524
@imanushin This change is intentional. Please here https://github.com/kotest/kotest/blob/master/blog/release_4.1.md

[2020-06-24 14:58] #1524 closed, assigned to nobody

[2020-06-25 09:13] DanyalBurke opened #1525 "IsolationMode default encourages bugs"
The Default IsolationMode is SingleInstance but this is problematic because it means that by default, mocks and other items are shared between tests and tests are not as isolated as they could be.

For example, verifications from one test might be satisfied by interactions from another test.

This leads to bugs, and on an anecdotal level, having a bug for which the fix is setting the IsolationMode

[2020-06-25 14:55] theHacker opened #5500 "False-positive "Classes must have a zero arg constructor to be instantiated by Kotest" with Micronaut"
The inspection should not complain about a class with non-zero-arg constructor, when it is annotated with `@MicronautTest` (`io.micronaut.test.annotation.MicronautTest`).

Micronaut will handle the magic of creating the test instance and injecting the required beans.
See https://micronaut-projects.github.io/micronaut-test/latest/guide/index.html#kotest

[2020-06-25 19:06] LeoColman commented on #5503
I confirmed that it's **not** working on 4.1.0 and plugin 1.0.2

[2020-06-26 06:28] SergKhram opened #1527 "The incorrect count of tests in allure"
When i use AllureListener for many test cases - after executing i see less count then it need to be
for example I execute 12 test cases ( 2 Spec classes, where i have tables with 6 rows - each row is the test case)
But in allure i see only 11 test cases
When I debug it I see, that when I'm in afterTest's function - some cases(in this situation only one is absent) don't in Allure storage - why?

![

[2020-06-26 06:41] SergKhram commented on #1527
I see my case in uuids val, but there is not in AllureStorage - you can see on screen
![Capture5](https://user-images.githubusercontent.com/49818537/85828589-6e7c4400-b791-11ea-8208-e7d19ddf18d8.PNG)

[2020-06-26 11:54] SergKhram commented on #1527
the more threads we use, the more tests disappear from the report

[2020-06-26 15:17] klesniewski commented on #1504
Hey @SerVB, thank you very much for implementing this! Also thank you for the tip on `shouldNotBeNull()`. I didn't know about it before and it will surely help me to make some tests more elegant ;) Unfortunately, it does not work in all the cases. If class is defined in another module, then Kotlin refuses to smart-cast with message

That's why I am happy for the changes you have implemented :)

[2020-06-27 03:54] PedroDBFlores opened #1528 "DescribeSpec isn't working as intended with the plugin"
### Steps to reproduce

1. Have Kotest 4.1.0 and Kotest IntelliJ plugin version 1.0.2
2. Have the class described in the block below
3. On the gutters, try to run a specific it from any of the describes, or even any of the describes

[code]

### Expected
To see the value `1, 2, 4 or 5` printed on my console, indicating that only that specific test or describe block has been run separately.

### Ac

[2020-06-27 04:19] sksamuel commented on #1528
Can you go to edit the run configuration in intellij (After you've ran the
test) and paste the values for test path and spec.

On Fri, 26 Jun 2020 at 22:54, Pedro Flores <notifications@github.com> wrote:

[2020-06-27 08:07] PedroDBFlores commented on #1528
Sure,

Test path:
C -- should fail

Spec class:
CantRunSpecificItTest

[2020-06-27 16:39] sksamuel commented on #1525
It's like this because the inspiration for Kotest was ScalaTest, not JUnit.

So if you come from JUnit land you might think it's surprising. If it was the other way, then people coming from other frameworks might find it surprising.

Either way, we can't change it now, otherwise we run the risk of breaking everyone's tests.

[2020-06-27 19:41] sksamuel commented on #5503
This might fix it https://github.com/kotest/kotest/pull/1529

[2020-06-27 20:10] #1528 closed, assigned to nobody

[2020-06-27 20:11] sksamuel commented on #1528
Fixed in master. Will be released as 4.1.1

[2020-06-27 20:11] sksamuel commented on #1527
I wonder if the allure extension is not thread safe.

[2020-06-27 20:18] sksamuel commented on #1334
There's no problems on master now.

[2020-06-27 20:18] #1334 closed, assigned to nobody

[2020-06-27 20:26] sksamuel commented on #1355
4.1.0 is out if you want to try that.

[2020-06-27 20:27] sksamuel commented on #1352
Sonar uses the standard junit xml file so kotest will work out of the box.
We could always look to add our own module as well.

[2020-06-28 05:16] sksamuel commented on #5503
Added more tests for this now. I think 4.1.1 should fix this.

On Thu, 25 Jun 2020 at 14:06, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2020-06-28 13:53] DanyalBurke commented on #1525
Thanks, I acknowledge that the surprise is largely because of prior experience with the JUnit style.

However, JUnit was once not instance per test either and switched to the instance per test design because it was considered superior - since we're counting on tests to be accurate and bug free, anything that helps towards that goal has got to be a win.

I'm happy for the issue to be closed if we a

[2020-06-28 14:16] sksamuel commented on #1525
It probably was a mistake to do it the scalatest way in retrospect.
If there was a way to switch over without breaking anyone's code, I think we'd probably do it.

[2020-06-28 17:44] sksamuel commented on #5500
Fixed in 1.0.3 pending approval in the plugins store.

[2020-06-28 17:44] #5500 closed, assigned to nobody

[2020-06-28 17:44] sksamuel commented on #5503
Can you try 4.1.1 just released.

[2020-06-28 17:45] sksamuel commented on #5533
This should be fixed now in 4.1.1 and plugin 1.0.2

[2020-06-28 17:45] sksamuel commented on #5538
This will be fixed now if you try 4.1.1.

[2020-06-28 17:45] #5538 closed, assigned to nobody

[2020-06-28 18:59] sksamuel commented on #5514
This should be fixed now with the latest plugin. Can you confirm.

[2020-06-28 20:12] sksamuel opened #1530 "Cause of exception is same as parent exception"
I am seeing a similar error with Kotest 4.1.0.293-SNAPSHOT (or 4.0.3) running with either Kotlin 1.3.70 or 1.4-M1.  Thanks,

Tested with similar code in StringSpec:
[code]

[code]

_Originally posted by @buckler4 in https://github.com/kotest/kotest/issues/1107#issuecomment-636355009_

[2020-06-28 20:12] sksamuel commented on #1107
Definitely happening in 4.x. I've made a new ticket to track.

[2020-06-28 20:12] #1107 closed, assigned to sksamuel

[2020-06-29 04:41] ashishkujoy commented on #5514
Latest 1.0.3 version is not available in intellij marketplace, I will build it locally and try out.

[2020-06-29 04:43] sksamuel commented on #5514
It's pending approval by jetbrains. I imagine tomorrow.

On Sun, 28 Jun 2020 at 23:41, Ashish Kumar Joy <notifications@github.com>
wrote:

[2020-06-29 05:02] ashishkujoy commented on #5514
Its still same. On clicking the failed test name in run window, it highlights previous test. However, kotest tool window points to the correct test.

[2020-06-29 05:13] SergKhram commented on #1527
@sksamuel i don’t think so, because I use allure2 with kotlintest 3.4.2 and don’t have these problems ( never) and with clear junit 5 we don’t have these problems

[2020-06-29 05:14] SergKhram commented on #1527
Сheck this bug, please

[2020-06-29 15:00] riccardo-felipe commented on #1330
I don't now if it is related, but seems to be since a similar problem occurs when executing following test:

[code]

Running via IntelliJ IDEA Kotest plugin: 1 test is passing
Running via maven surefire: 4 are passing
Running via gradle: 4 tests are passing

[2020-06-29 15:10] sksamuel commented on #1330
Intellij does it properly. The others just assume each node is a test.

On Mon, 29 Jun 2020 at 10:00, riccardo-felipe <notifications@github.com>
wrote:

[2020-06-29 17:16] sksamuel opened #5499 "Add implicit usage provider for @AutoScan project listeners and test listners"

[2020-06-29 17:44] tony19 commented on #5533
Confirmed. Thanks

[2020-06-29 17:44] #5533 closed, assigned to nobody

[2020-06-29 20:33] yevhenii-nadtochii opened #1531 "Can't run a single test method from Gradle 6.5"
I'm trying to run a single test method from Gradle and I can't. Using example from [gradle docs](https://docs.gradle.org/current/userguide/java_testing.html)
`gradle clean test`
[code]
But
`gradle test --tests "worder.StampedSourceFileTest.should retrieve file's creation date"`
[code]
Kotest: io.kotest:kotest-runner-junit5-jvm:4.1.1

[2020-06-29 20:35] sksamuel commented on #1531
What's the value of your --tests
Is it `worder.StampedSourceFileTest.should retrieve file's creation date`
And is worder.StampedSourceFileTest the FQN for your test class ?

[2020-06-29 20:53] yevhenii-nadtochii commented on #1531
Yes, it is. I've put output of `gradle clean test` with enabled logging just in order to demonstrate it. Its output contains FQN

[2020-06-29 20:54] zeitlinger opened #1532 "focus tests and nested test based on flag or system property"
I would like to run only one test, possibly with a sub, and sub-sub test, e.g. [this](https://github.com/kotest/kotest/blob/master/kotest-runner/kotest-runner-junit4/src/jvmTest/kotlin/com/sksamuel/kotest/runner/junit4/HelloWorldTest.kt#L24)

Why do I want this feature:
1. debugging a failing test case
2. the IntelliJ IDEA plugin might use this feature as well

I couldn't find anything so far, so

[2020-06-29 21:10] LeoColman opened #1533 "IsolationMode documentation should include inline overrides"
[this](https://github.com/kotest/kotest/blob/master/doc/isolation_mode.md) documentation explains how the different isolation modes behave.

Perhaps we could add how to do it for inline specs through the `isolation` variable

[2020-06-29 21:21] sksamuel commented on #1532
So what you want is nested focus. The intellij plugin will already do this, just click the play icon on the nested test.
But you can't do it with gradle atm. We could add that filter you have (or more like the one from console runner perhaps) and power that via an env var like you suggested

[2020-06-30 04:42] lgtout opened #5498 "Repeated errors reported when opening test files in project that uses v3.3.3 of Kotlintest"
After installing the latest version of Kotest IntelliJ plugin, when I open a project that uses Kotlintest v3.3.3, I get 2 or 3 errors in Android Studio's Event Log each time I open a file that contains tests.

My expectation would be that the plugin might
(1) Not report this error, since some users will want to remain on earlier versions of Kotlintest for all sorts of reasons.
(2) If reporting the

[2020-06-30 05:04] sksamuel commented on #5498
The plugin requires kotest 4.1 as the readme states.

On Mon, 29 Jun 2020, 23:42 jabiodun, <notifications@github.com> wrote:

[2020-06-30 07:44] lgtout commented on #5498
@sksamuel
That's fine.  But one message is enough, right?  Why spam the event log?

And why do so when all the developer has done is open a file that contains Kotest tests?  Why not wait until the developer actually tries to run a test using Kotest?  After all, opening a file doesn't necessarily mean the developer intends to run it.  Or that, if the developer wants to run it, they intend to use th

[2020-06-30 09:01] igorwojda opened #1534 "Add xGiven / xWhen / xThen"
`BehaviorSpec` allows us to easily disable test by adding singe character `x` before `given` \ `when` \ `then`. However this behaviour works only when we are using lowercase variants `given` / `when` / `then`.

We should add `xGiven` / `xWhen` / `xThen` to allow disabling tests by adding single `x` character for upper case variants.

[2020-06-30 11:11] nomisRev opened #1535 "Take into account `range` for `Shrinker`"
**Which version of Kotest are you using**

`4.1.1`

Shrinkers currently  do not take into account the ranges specified for `Arb`.

- [IntShrinker](https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/ints.kt#L17)
- [LongShrinker](https://github.com/kotest/kotest/blob/master/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary

[2020-06-30 12:59] sksamuel opened #1536 "-Dkotest.tags.include= only takes into account @Tags"
With the recent change to @Tags, the absence of a Tag causes a spec to be skipped, but we should instantiate it and check the tags declared inside it.
Any beforeSpec callbacks should be deferred until the class is created and evaluated.

[2020-06-30 13:06] sksamuel commented on #1534
Done.

[2020-06-30 13:06] #1534 closed, assigned to nobody

[2020-06-30 13:06] sksamuel commented on #5498
I see what you mean now. Just because the plugin in installed doesn't mean you're working on a 4.1 kotest project, or even a kotlin project at all.

I'll fix this and release 1.0.4.

[2020-06-30 13:15] zeitlinger commented on #1532
Thanks for the hint:

This is using the `--testpath` parameter I found out now, e.g. `containers can be nested as deep as you want -- and so we nest another container -- yet another container -- a`

for

[code]

[2020-06-30 13:15] #1532 closed, assigned to nobody

[2020-06-30 13:19] #5499 closed, assigned to nobody

[2020-06-30 13:20] sksamuel commented on #5498
1.0.4 has been submitted to Jetbrains for approval (note 1.0.3 is also awaiting approval so you might get two updates in short succession).

[2020-06-30 13:20] #5498 closed, assigned to nobody

[2020-06-30 13:23] igorwojda commented on #1534
WOW - this was quick - thx

[2020-06-30 13:33] zeitlinger opened #1537 "Data driven tests should utilise data classes and automatically register test names (ala rollup)"
inspired by the common practice in [go](https://github.com/golang/go/wiki/TableDrivenTests) - I would like to suggest to use data classes as the recommended way for data/table driven tests:

It is already possible to do manually

1. but a short helper method would make the code more concise (see below)
2. I'd also suggest to change the description to use this pattern as the default
3. by using the

[2020-06-30 14:04] zeitlinger commented on #1537
I think I like this option even better

[code]

[2020-06-30 14:39] lgtout commented on #5498
Awesome!  Thanks @sksamuel!

[2020-07-01 07:54] zeitlinger opened #5497 "re-run action bugs"
using the following code and the latest kotest (updated today)

[code]

# first bug

1. click right on `5 + 5 shouldBe 10`
2. click create ...
3. get the following screenshot
4. what should be in testpath: `numbers should add up to ten -- 5 + 5 shouldBe 10` (test execution is fine when I do it manually)

![image](https://user-images.githubusercontent.com/2832627/86217644-0f974000-bb80-11ea-9a04-00

[2020-07-02 10:47] imanushin opened #5496 "Set default test working folder as $MODULE_WORKING_DIR$"
Kotest plugin: 1.0.4

By default, JUnit template in IntelliJ Idea has value ```$MODULE_WORKING_DIR$``` in property ```Working Directory```.

To simplify migration from JUnit, Kotest IntelliJ Plugin should have this value as default too.

[2020-07-02 15:28] ryanlewis commented on #1536
Stumbled into this problem today. Looks like on https://github.com/kotest/kotest/blob/master/kotest-core/src/commonMain/kotlin/io/kotest/core/extensions/TagFilteredDiscoveryExtension.kt#L16 , need to also grab all tags declared inside as well.

[2020-07-02 15:38] ryanlewis commented on #1536
[code]

Seems to work, but relies on initialising the test class, so possibly some unintended side effects.

[2020-07-02 20:44] eugenio1590 commented on #1262
I get the same problem with the version of 4.0.7 of the kotest-core-js library and Kotlin/JS

I tried with the version of 4.1.1 but I got an error about the assertions library:
`Unresolved reference: matchers`

So, I added "io.kotest:kotest-assertions-js" dependency but with version "4.0.7" and I get the original error:
`Error: Timeout of 2000ms exceeded.`

[2020-07-03 03:35] sksamuel commented on #5496
Thanks, I've fixed this in 1.0.5 which is pending approval in the plugins store.

[2020-07-03 06:14] niraj8 opened #1541 "TestEngine with ID 'kotest' failed to execute tests"
**Which version of Kotest are you using**
4.1.1

**kotlin version**
1.3.72

<details>
<summary>Stack trace</summary>

[code]
</details>

[2020-07-03 08:10] nomisRev opened #5495 "Kotest plugin doesn't run test when build & running with Gradle"
**Which version of Kotest are you using**

Kotest: `4.1.0`, Plugin: `1.0.4`

IntelliJ Version:

=> Freshly installed, new imported project with first synced Gradle & full rebuild from IntelliJ.

[code]

Configuration created:

<img width="874" alt="Screenshot 2020-07-03 at 10 08 14" src="https://user-images.githubusercontent.com/12424668/86447107-228f4900-bd15-11ea-946a-59dd3b3fad4d.png">

Output

[2020-07-03 08:27] SergKhram commented on #1527
@sksamuel  @Kerooker ping

[2020-07-03 09:11] niraj8 commented on #1541
Switching to kotest 4.0.3 fixed this for me

[2020-07-03 14:00] nomisRev commented on #5495
I am able to reproduce consistently with the following setting. If it's configured to `IntelliJ` & `IntelliJ` then the test runs correctly. If I switch back to Gradle (default), then it doesn't run.
Due to tools, I am in some cases required to use Gradle since they don't support the IntelliJ build system.

<img width="1161" alt="Screenshot 2020-07-03 at 15 56 08" src="https://user-images.githubuse

[2020-07-03 14:23] sksamuel commented on #1541
This looks like a junit version mismatch. Are you specifying junit platform anywhere in your build?

[2020-07-03 14:34] niraj8 commented on #1541
I thought so too, but just downgrading fixed the error
Here are all the JUnit related dependencies in the project

![image](https://user-images.githubusercontent.com/8666468/86478652-33b57580-bd68-11ea-89fc-2e8157f4a2a6.png)

[2020-07-03 14:49] sksamuel commented on #5495
I've tried this on my projects and it works for gradle and intellij settings.
I'm wondering if there's some extra compiler stuff going on that isn't compatible - kapt or a compiler plugin or something?
Can you try cloning this project https://github.com/sksamuel/hoplite/ and running some tests in there using the plugin. That's what I've been using to validate that the plugin works. If that works f

[2020-07-03 15:02] sksamuel commented on #1541
junit-jupiter-engine needs to be 5.6 which is what kotest declares.
Something is bringing in that 5.1 version and causing this error.
Perhaps the micronaut test.

On Fri, 3 Jul 2020 at 09:35, Niraj Palecha <notifications@github.com> wrote:

[2020-07-03 15:49] nomisRev commented on #5495
In the module that uses kotest relies on atomic-fu compiler plugin. No kapt or other plugins.

There are other unrelated modules in the project that have kapt dependencies and atomic-fu. But they all still use KotlinTest.

This behavior has been flaky for the passed week. I will give the repo you linked a try asap.

[2020-07-03 16:22] niraj8 commented on #1541
Upgrading jupiter to 5.6.0 and kotest to 4.1.1 resulted in the same error

[2020-07-03 16:29] sksamuel commented on #1541
Can you check your dependencies list and take another screenshot. I suspect
there's an old version still lurking.

On Fri, 3 Jul 2020 at 11:22, Niraj Palecha <notifications@github.com> wrote:

[2020-07-03 16:32] sksamuel commented on #5495
Can you try that hoplite repo? Just needs a clone and then try running some
tests.
It would be useful to narrow down whether this is a problem on your machine
or whether it's a problem with some dependency clash in that module.
I suspect that kotest might not be configuring the classpaths correctly for
gradle to pick up the compiler plugins but that's just a wild guess at this
point.

On Fri, 3 Ju

[2020-07-03 19:53] #1321 closed, assigned to LeoColman

[2020-07-03 20:50] niraj8 commented on #1541
- `micronaut-test-kotest:1.2.0` depends on `io.kotest:kotest-runner-junit5-jvm:4.0.3`
- As you said earlier, this seems to be the problem as the modules where the tests are running fine have the version in dependency list as 4.1.1

- I have tried adding `testImplementaton "io.kotest:kotest-runner-junit5-jvm:4.1.1"` explicitly, but for some reason the version mentioned in micronaut-test takes prece

[2020-07-03 21:11] sksamuel commented on #1541
Yes could be that. You can do version overrides in gradle manually, which
would fix it for you.

On Fri, 3 Jul 2020 at 15:50, Niraj Palecha <notifications@github.com> wrote:

[2020-07-03 21:11] sksamuel commented on #1541
https://stackoverflow.com/a/46404627/2048448

On Fri, 3 Jul 2020 at 16:10, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-07-03 21:19] niraj8 commented on #1541
Didn't know about this, it did the trick.
Thank you!

[2020-07-04 03:58] #1541 closed, assigned to nobody

[2020-07-04 09:02] nomisRev commented on #5495
@sksamuel Hey Sam,

I tried the hoplite repo and it's not reproducible for me there.

It's reproducible for me in Arrow Fx, when trying to run kotest tests from IntelliJ directly on any of the Kotest tests in the Arrow Fx Coroutines module.

Note: Whilst it's reproducible from IntelliJ using Gradle build/runner, it still runs from CLI with Gradle.

[2020-07-04 12:00] sksamuel commented on #5545
This is included in the latest plugin. Default hotkeys are alt p and alt n

[2020-07-04 12:01] sksamuel commented on #5495
Great thanks for trying that.

On Sat, 4 Jul 2020, 04:03 Simon Vergauwen, <notifications@github.com> wrote:

[2020-07-04 12:15] klesniewski commented on #1355
I experience similar issue, although with non-Android, plain Kotlin/JVM project. From running the test task to executing first test it takes around 12 seconds, where it takes 6 seconds before it starts executing spec and then another 6 seconds before running the first test in the spec. The last number is surely affected by starting a Postgres container using TestContainers.
I experience the proble

[2020-07-05 07:17] ov7a opened #1543 "Complex structures deep comparison"
I'm using kotest 4.1.1.

I think it would be nice to have deep recursive comparison in `eq` assertion by default. It is already checking for type and doing a smart comparison for upper lever. I think the same should be done for nested elements as well.

Consider this code snippet:
[code]
Two arrays are equal, but if we wrap them in a map, they suddenly don't. That happens because `eq` checks for t

[2020-07-05 11:20] sksamuel commented on #5495
Is there a branch where I can find these tests.

[2020-07-05 13:49] ispbox opened #1544 "Kotest 4.1.1 doesn't discover tests (4.0.2 does that pretty well)"
I tried to update my kotest 4.0.2 to 4.1.1, and got a problem that no unit tests are discovered (they are just grey in AS 4.0, and it's not possible to run them).

I've never had junit initialization as is mentioned in docs:
test {
    useJUnitPlatform()
}

I tried to add this but nothing changed.
Gradle version is 6.5.1. The only change is in version (from 4.0.2 to 4.1.1). Is it a temporary probl

[2020-07-05 13:55] ispbox commented on #1544
I've searched through changelog and found new feature:

Feature: The Kotest IntelliJ plugin has gone final. The plugin requires 4.1. or higher of Kotest. https://plugins.jetbrains.com/plugin/14080-kotest

Does it mean that Kotest 4.1 and higher requires special plugin for running tests in AS 4.0? Previously everything worked without that plugin.

[2020-07-05 15:54] ispbox commented on #1544
4.0.6 is the last working version for me.
I've installed kotest plugin, but it looks like the problem with discovery is related to unknown symbols of DescribeSpec ("context" and "it"). What I'm doing wrong?

[2020-07-05 16:16] sksamuel commented on #1544
With 4.1.1 and the plugin you should be good.

On Sun, 5 Jul 2020, 10:54 ispbox, <notifications@github.com> wrote:

[2020-07-05 16:58] zeitlinger commented on #1537
this one is even better

[code]

[2020-07-05 17:53] LeoColman commented on #1544
Yes. If you don't want to use the plugin, you can execute tests via Gradle. I recommend the plugin tho

This looks to me like Android Studio is doing it's magic and forgetting about how to compile the project. My usual approach to this is deleting `.idea`, deleting `.gradle` and then `invalidate and restart`

[2020-07-05 19:59] ispbox commented on #1544
Thanks a lot for a prompt answer!
The problem was that in one file with DescribeSpec I used mixture of "describe" and "context" regions. After changing to "describe" everywhere I got it fixed.

But there is still one minor issue. If I execute tests via Kotest plugin - everything is smooth. But if I try to run the same test from Android JUnit configuration (old one, that worked perfectly in Kotest

[2020-07-05 20:34] sksamuel commented on #1544
Yeah 4.1 requires the plugin because it's better all round

On Sun, 5 Jul 2020, 14:59 ispbox, <notifications@github.com> wrote:

[2020-07-05 21:16] lgtout opened #1545 "Option to strip whitespace from test names"
This feature idea arises from the limitations of StringSpec style.  And I don't think what's described below is already covered by any other existing styles.

The motivation is this:

The developer doesn't want to nest tests in a tree, because understanding such tests can require much visual scanning up and down through the tree of nested tests, paying very close attention to indentation, in order

[2020-07-06 01:30] sksamuel commented on #1544
The old junit configurations won't work with 4.1.0
Also context should be gone/deprecated from DescribeSpec in favour of, as you say, nested describe scopes.

[2020-07-06 01:34] #1544 closed, assigned to nobody

[2020-07-06 06:00] ispbox commented on #1544
It depends on tasks. In my case I see that sometimes after fresh loading of a project, when I run a test, test framework quits unexpectedly. Probably it is because test is not built yet, but runner is going forward without waiting for a build. It happened several times, not every time, but old runner didn't have such an issue. Second run solves the problem.

I'll investigate this further, and prob

[2020-07-07 00:32] sksamuel opened #1547 "Instance per leaf breaks reporting with nested tests"
4.1.1

[2020-07-07 15:08] cleidiano opened #1548 "checkAll and forAll with empty list as Exhaustive hang forever"
**Kotest Version: 4.0.3**

How to reproduce?

[code]
I have been explore the code base and the problem is that `proptest` will `take(n)` on a sequence generator that always produce empty sequence as it itens, it will never materialize the sequence.

Change `Gen.generate` as below solve the problem:
[code]
Let me know if I could open up a pull request.

[2020-07-07 15:24] sksamuel commented on #1548
Can you try the latest release 4.0.7 or 4.1.1 ?

On Tue, 7 Jul 2020 at 10:08, Cleidiano Oliveira <notifications@github.com>
wrote:

[2020-07-07 15:30] khongi commented on #5503
Tried with kotest 4.1.1, plugin 1.0.5 and BehaviorSpec. Single test case is not executing (gutter icon for "given", "when" or "then"), running the whole test class works.

[2020-07-07 16:04] cleidiano commented on #1548
The version 4.0.7 and 4.1.1 have the same behavior

[2020-07-07 18:23] LeoColman commented on #1548
I think that you can make that PR and submit the change, however I don't see a lot of value in this.

That check all is an empty statement, it's very unlikely that you need to generate more than one empty list.

I suggest making a pull request so that the test doesn't hang forever, but instead crashes due to an empty collection being used somewhere it shouldn't.

[2020-07-07 20:21] cleidiano commented on #1548
Suppose I would like to validate the comments in post if it exists, like example below:
[code]
Should this test fail if the comments collection is empty? I think it doesn't.

[2020-07-07 22:02] LeoColman commented on #1548
Ok, now I understand what you're trying to do.

Generators are not the right tool for this job. We usually use generators when we want to create data, and not when we want to assert over existing data. We use generators (being an Exhaustive or an Arbitrary) for property based testing. You can check how this works [in this article](https://medium.com/criteo-labs/introduction-to-property-based-testi

[2020-07-07 22:02] LeoColman commented on #1548
Do you think this cover your usecase?

[2020-07-07 22:24] cleidiano commented on #1548
Yes, I think so.
For solve the hang forever do you think that `List.exhaustive()` should validate that list isn't empty, it this approach better then previous one?

[2020-07-07 23:01] sksamuel commented on #1548
I think exhaustive should throw if it's empty yes.

On Tue, 7 Jul 2020 at 17:25, Cleidiano Oliveira <notifications@github.com>
wrote:

[2020-07-08 01:40] LeoColman commented on #1548
I'm with Sam. One should never use an exhaustive or arb for an empty collection. It's more likely to be a bug than what the user intended

[2020-07-08 02:16] sksamuel commented on #1548
We should throw an exception on EmptyList.exhaustive()

On Tue, 7 Jul 2020 at 20:40, Leonardo Colman <notifications@github.com>
wrote:

[2020-07-08 03:08] LeoColman commented on #1548
Do you want to tackle this, @Cleidiano?

[2020-07-08 06:24] SergKhram commented on #1527
@sksamuel @LeoColman  ping. Please check the bug, we can't see some failed tests and it is a very big problem

[2020-07-08 08:44] nomisRev commented on #5495
@sksamuel Yes, sorry for the late reply. You can find the test suite in the Arrow Fxin the [Arrow Fx Coroutines Module](https://github.com/arrow-kt/arrow-fx/tree/master/arrow-fx-coroutines/src/test/kotlin/arrow/fx/coroutines).

This is the test suite I mentioned before on Slack. I also added a bunch of `Arb` for ranges, array, etc. I hope to find some time in the near future to contribute these ba

[2020-07-08 10:13] cleidiano commented on #1548
Yes, I will give a try.

[2020-07-08 14:09] #1548 closed, assigned to nobody

[2020-07-08 14:10] diklimchuk opened #1550 "Junit4 doesn't discover Specs anymore"
Currently using kotest 4.1.1
On kotlintest version 3.4.2 all specs were annotated with @RunWith(KotlinTestRunner::class). This annotation is not available in 4.1.1 which requires all tests to be annotated manually.
Is it possible to add this annotation back to support junit4? (We currently use it in our android app)

[2020-07-08 14:28] nomisRev opened #1551 "Support timeout at leaf level"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

I'm currently using `FreeSpec` [here](https://github.com/arrow-kt/arrow-fx/blob/master/arrow-fx-coroutines/src/test/kotlin/arrow/fx/coroutines/stream/StreamTest.kt#L47), using it to group tests in logical groups.

Since the timeout is applied to the `FreeScope`/test container, in some groups that tes

[2020-07-08 22:24] jonbarksdale opened #1552 "Kotest plugin requires console dependency in build"
**Which version of Kotest are you using**
4.1.1

An IDE plugin should not require my build to change, as my build doesn't depend on the console dependency.  I can still run my tests fine with JUnit via gradle.

Instead, it should either be packaged with a working version of the console jar, or offer to download and cache an appropriate version.

[2020-07-08 23:22] sksamuel commented on #1552
Junit has the benefit of being built into the ide. Maybe jetbrains will
build in kotest at some point.

On Wed, 8 Jul 2020, 17:24 jonbarksdale, <notifications@github.com> wrote:

[2020-07-09 15:14] kharf commented on #5503
Same with BehaviorSpec.
kotest 4.1.1, plugin 1.0.5.

Running gutter icons "given", "when", "then" all create run/debug configurations, but won't execute.
Only log message you see in Test Results is:

[code]

[2020-07-09 19:58] sksamuel commented on #1537
I'm not keen on adding a feature that's limited to one spec style only. So far all specs are functionally equivalent and if we start diverging from that, you'll have some features in one, some in another and so on.

You are looking for two things here. One - using data classes rather than "rows" in table testing, and an easy way to have data driven tests be registered as separate test cases.

The

[2020-07-10 04:16] sksamuel commented on #1527
You can always make a PR to fix the issue if you are urgently needing this. Open source projects are community efforts.

[2020-07-10 17:19] #5545 closed, assigned to nobody

[2020-07-10 17:20] #5496 closed, assigned to nobody

[2020-07-10 18:30] jonbarksdale commented on #1552
That would certainly be nice.  I don't think "gosh, jetbrains should just do it for us" is a great answer though.  It doesn't solve the problem.

Isn't the plugin published by kotest? If not, happy to move this issue to the plugin owner.

If you are the owner, then there a few paths forward that are reasonably friendly to users.

1. Already mentioned, but package the dependencies you need.  Seems

[2020-07-10 19:45] zeitlinger commented on #1537
Yes, this is understandable. I can just say from my experience with go that having data tests as nested tests is very useful.
My naive suggestion would be to allow nested tests for all specs - but I don't know what complications that would bring.

correct - to take advantage of named and default parameters. It's also more readable, because test case definitions very often span several lines

- it

[2020-07-10 20:13] jonbarksdale commented on #1552
Ah - if nothing else, I see this is the wrong repository.   I'll move it over to the other one, sorry for the distraction.

[2020-07-10 20:19] jonbarksdale opened #5494 "Kotest plugin shouldn't require console dependency in build to run tests"
Before the kotest plugin, I could run my tests from the IDE without the console dependency.  After the kotest plugin, I can only run them if I manually configure a run configuration to use gradle or junit.

Requiring a build dependency for an IntelliJ plugin couples your build to your IDE - that's just bad.

At a minimum, the tests should run with gradle/junit if the console jar is not present, ev

[2020-07-10 20:20] jonbarksdale commented on #1552
Issue moved to https://github.com/kotest/kotest/issues/5494

[2020-07-10 20:20] #1552 closed, assigned to nobody

[2020-07-12 09:40] gdurandrexel opened #1555 "In Intellij IDEA test runner, the hierarchy is messed up when using IsolationMode.InstancePerLeaf"
**Which version of Kotest are you using** : 4.1.1
Using kotest plugin 1.0.5

In a FreeSpec with nested tests and IsolationMode.InstancePerLeaf, the hierarchy of tests in the test runner does not reflect the actual hierarchy: each leaf test run is nested inside the previous one. Works fine with InstancePerTest.
[code]
is displayed as:
[code]

[2020-07-12 19:24] sksamuel commented on #1555
Duplicate of #1547 fixed with #1554

[2020-07-12 19:24] #1555 closed, assigned to nobody

[2020-07-12 19:26] #1547 closed, assigned to nobody

[2020-07-12 19:44] sksamuel commented on #1551
So one option would be to provide a general timeout for all tests in a spec, then you can override at the leaf level, so like

[code]

Another option is to allow config at every level and again override it where needed

[code]

[2020-07-12 19:46] sksamuel commented on #1527
Which isolation mode are you using ?

[2020-07-12 19:51] #1535 closed, assigned to sksamuel

[2020-07-12 19:52] sksamuel commented on #1545
The problem with this is that the inner tests do not exist until the lambdas execute at runtime, so there's no way to know the final layout until all tests have finished.

If this was added as an option, the framework would need to execute all tests in a spec before showing any output. Whether that is important or not depends on whether you care about seeing the tests appear in intellij/gradle as

[2020-07-12 19:54] sksamuel commented on #1545
Another problem to solve would be if, if your example, the 2nd given block failed, but the first passed. Do you just show the error? What about if both failed, do you just show one error. But I guess that's probably isomorphic to the current situation.

[2020-07-12 22:18] sksamuel commented on #5494
Downloading the dependencies in the plugin would be nicer than adding it to the build.

[2020-07-13 03:33] sksamuel commented on #5495
[kotest-plugin-intellij-1.1.0.zip](https://github.com/kotest/kotest-intellij-plugin/files/4910463/kotest-plugin-intellij-1.1.0.zip)

I've re-written the plugin to use the latest code that junit itself uses from intellij 2020. Attached is a plugin build for you to try. To be honest I don't know if it will work, but I'm now just doing what intellij itself does for TestNG and JUnit tests.

Note: Requ

[2020-07-13 05:13] SergKhram commented on #1527
@sksamuel SingleInstance

[2020-07-14 14:57] lwasyl commented on #5503
Same here for `DescribeSpec`, with a very simple repro:

<details>
  <summary>Repro code</summary>

[code]
</details>

and
<details>
<summary>debug output</summary>

[code]
</details>

That's with Kotest 4.1.1, IJ plugin 1.0.5 and Android Studio 4.2 Canary 4 (Build #AI-201.7846.76.42.6636798).

What's interesting though is that if I run the test contextually (Run context configuration action, ctrl

[2020-07-14 15:03] lwasyl opened #5493 "`DescribeSpec` test with `InstancePerLeaf` isolation mode appears running forever"
This is what I see after running the test class:
![image](https://user-images.githubusercontent.com/3951580/87441675-a853a400-c5f3-11ea-90ed-4670795ec024.png)

The tests appear to have completed successfully, and the infinite spinner seems to be just visual bug.

Sample test:

<details>
  <summary>Repro code</summary>

[code]
</details>

<details>

<summar>debug output</summary>

[code]
</details>

[2020-07-15 08:21] theHacker opened #5492 "StackOverflowError @SpecsKt.enclosingSpec()"
Found this exception in "IDE Fatal Errors":
[code]

Kotest Plugin: 1.0.5
Kotlin Plugin: 1.4-M3-release-IJ20202.2-1
IntelliJ: #IU-202.5792.28, built on June 18, 2020

[2020-07-15 14:37] molaachir commented on #5545
Cool, thank you.

[2020-07-16 15:59] #1386 closed, assigned to nobody

[2020-07-16 23:04] JustinTullgren opened #1563 "Android: Kotest-assertions uses java.nio.file.Path causing failure on Android < 26"
**Kotest Version**: 4.1.1
**Kotest Library**: kotest-assertions-core-jvm
**Environment**: Android Api <26 (Android 8 (O)reo)

Hi,

I was very happy to see the assertions library was broken out into its own library and attempted to use it in an "Android" test (which requires the test to be run on an android phone) so we could be consistent with our unit tests at least for assertions.

The assertion

[2020-07-16 23:09] sksamuel commented on #1563
Create the PR and I'll merge it and include it in 4.1.2

[2020-07-16 23:09] LeoColman commented on #1563
Sure!
It seems really easy to make a change.
Do you want to try to do it yourself?

[2020-07-16 23:40] JustinTullgren commented on #1563
@LeoColman I can try. I am not sure how to properly contribute though. I only see release/4.0.x and nothing about 4.1.x according to github.  If I understand the contributing page correctly i should branch off a "4.1.x" branch correct?  Also do I need to fork and perform an upstream pr?

Any guidance would be appreciated.

Also I didn't see anything about running tests.  Can i just run gradlew tes

[2020-07-17 00:36] sksamuel commented on #1563
You can run ./gradlew check
You can fork the repo and do the PR based on master (which is 4.1 dev)

On Thu, 16 Jul 2020 at 18:40, Justin <notifications@github.com> wrote:

[2020-07-17 02:27] LeoColman opened #1564 "Add gen for date formats"
And maybe dates formatted in different ways.

My usecase is that I might receive or parse "randomly" formatted dates, and they should all be parseable and saved to the db in a specific format.

Testing broadly for multiple possible formatted dates would be ideal.

This could be done to the JVM as it has it's own DateTimeFormatter, but other platforms might also use this.

[2020-07-17 02:35] sksamuel opened #1565 "Restore context to describe"

[2020-07-17 07:56] elbaulp commented on #1544
Hello, for me it does not work even after installing the plugin:

[code]

[2020-07-17 08:58] sksamuel commented on #1544
Looks like you need 1.3.72 of kotlin.

On Fri, 17 Jul 2020, 02:56 Alejandro Alcalde, <notifications@github.com>
wrote:

[2020-07-17 09:10] elbaulp commented on #1544
Yep, already solve it. Thanks.
*-- Alejandro Alcalde - elbauldelprogramador.com
<http://elbauldelprogramador.com/en>*

On Fri, Jul 17, 2020 at 10:58 AM Sam Sam <notifications@github.com> wrote:

[2020-07-17 10:32] sksamuel commented on #1564
So a Gen that returns DateFormatter ?

[2020-07-17 10:51] sksamuel opened #1566 "Kotest Roadmap 4.3"
- [x] Add steps and stack trace to allure, with full docs #460
- [x] Multi-line-string comparison for file contents #823
- [x] Support JUnit Test Extensions #1503
- [x] data driven tests with data classes #1537
- [x] Option to strip whitespace from test names #1545
- [x] Add Gen.forNone #1636
- [x] New assertion: Iterator.shouldHaveNext() #1660
- [x] New assertions: isEmpty / isDefined for java Op

[2020-07-17 10:54] sksamuel opened #1567 "Bundle console runner with intellij plugin"

[2020-07-17 18:45] LeoColman commented on #1564
Or maybe the String if we want to support mpp

[2020-07-18 04:31] #1565 closed, assigned to nobody

[2020-07-18 05:00] LouisCAD opened #1569 "Where are the changelogs of versions 4.1.0 and 4.1.1, and github release of versions 4+?"
For future reference, here's the permalink of the state of the main branch at the time of writing, 20 days after 4.1.1 release: https://github.com/kotest/kotest/tree/1c41070a265bb9f3739c344a704355dda8cae4b2

[2020-07-18 05:23] LouisCAD opened #1570 "What are the currently maintained artifacts? Are some about to be phased out?"
Hi, I'm asking this because I want to make an [updated object reference like this](https://github.com/jmfayard/refreshVersions/blob/b134bdaf3901ec5801f25c68f911f7b52d2e5547/plugins/dependencies/src/main/kotlin/dependencies/Testing.kt#L54-L98) for the community to easily discover the artifacts offered by KoTest, and ensure they can share the version definition.

I'm concerned because I see some art

[2020-07-18 05:23] LouisCAD commented on #1570
Also, related to #1569

[2020-07-18 05:30] sksamuel commented on #1569
Thanks, changelog updated to be current.

Github releases are up to date: https://github.com/kotest/kotest/releases

[2020-07-18 05:37] sksamuel commented on #1570
Ok, so the main dependencies a user should care about are:

kotest-properties(-jvm,js) for property testing
kotest-assertions-core(-jvm,js,native) for the basic assertions library
kotest-runner-junit5-jvm for the testing framework support.

Each can be used [independently](https://github.com/kotest/kotest/blob/master/doc/reference.md#getting-started).

These won't change in the near future, and si

[2020-07-18 06:05] LouisCAD commented on #1570
You can get [more context in this usage guide](https://github.com/jmfayard/refreshVersions/blob/2c5cdee49e25eb2695b1845ea34966ae2232788d/docs/Usage.adoc), the 6 screenshots should help to quickly get the hang of it.

Note that the plugin requires Gradle 6+, where Gradle Metadata is enabled by default, so since you're multiplatform compatible, it should be safe to just the provide the main artifact

[2020-07-18 06:19] sksamuel commented on #1570
Ok I see. I will raise a PR.

[2020-07-18 06:22] #1569 closed, assigned to nobody

[2020-07-18 06:28] LouisCAD commented on #1569
Ah, I see, you're just publishing tags for GitHub releases, I got misled by the "latest release" aside on repo homepage that directs to the last "proper" GitHub release: https://github.com/kotest/kotest/releases/tag/v3.4.2

Thanks for updating the CHANGELOG.md! Tip for next releases: Have a `RELEASING.md` file in the repo with steps for a proper release (personally, that's what I've been doing bef

[2020-07-18 15:35] sksamuel commented on #1570
PR raised.

https://github.com/jmfayard/refreshVersions/pull/206

[2020-07-18 15:47] sksamuel commented on #863
This is now included in 4.1.2

[2020-07-18 15:47] #863 closed, assigned to nobody

[2020-07-18 15:47] sksamuel commented on #1536
Fixed in 4.1.2

[2020-07-18 15:47] #1536 closed, assigned to nobody

[2020-07-18 20:29] sksamuel commented on #1555
Fixed in 4.1.2

[2020-07-18 20:30] sksamuel commented on #1355
Can you try setting kotest debug using export?

On Sat, 4 Jul 2020 at 07:15, klesniewski <notifications@github.com> wrote:

[2020-07-18 20:30] sksamuel commented on #5493
Fixed in 4.1.2

[2020-07-18 20:30] #5493 closed, assigned to nobody

[2020-07-18 21:30] #1510 closed, assigned to nobody

[2020-07-18 21:30] #1511 closed, assigned to nobody

[2020-07-19 20:01] JustinTullgren commented on #1563
@sksamuel running check for the assertions library on master stalls at 77 tests passing, it just hangs. Is this known to you?

Also, I published the jvm publications to maven local with my changes but the maven metadata doesn't seem to be resolving transitive dependencies correctly for me when using mavenLocal in a consuming android project. `Failed to resolve: io.kotest:kotest-assertions-shared:4

[2020-07-19 20:19] LouisCAD commented on #1570
Am I right that you used to publish kotest on jcenter, but are now releasing to mavenCentral and that jcenter is out of sync?

[2020-07-19 21:19] sksamuel commented on #1570
I've never published on jcenter. They must do some kind of sync.

On Sun, 19 Jul 2020 at 15:19, Louis CAD <notifications@github.com> wrote:

[2020-07-19 21:34] sksamuel commented on #1563
I can run `./gradlew check` and all passes on master at root.
It also passes on the server:
https://github.com/kotest/kotest/actions

Master is currently kotlin 1.4 m3. Maybe you'll have better look against
the release/4.1.x branch which is kotlin 1.3.72
Perhaps your system doesn't like the kotlin version.

On Sun, 19 Jul 2020 at 15:01, Justin <notifications@github.com> wrote:

[2020-07-20 00:11] JustinTullgren commented on #1563
@sksamuel That was the issue. I thought I opened the project up in Intellij EAP but had not.  The check task runs completely now and successfully. Here is the PR https://github.com/kotest/kotest/pull/1572

cc @LeoColman

[2020-07-20 03:39] sksamuel commented on #1563
Will be included in 4.1.3

[2020-07-20 03:39] #1563 closed, assigned to nobody

[2020-07-20 11:17] LouisCAD commented on #1570
Oh, so their sync is broken in a way then. I reached out to bintray support. I'm closing this issue since the problem is not your end but on jcenter/bintray's end. Thanks for helping pinpoint this.

[2020-07-20 11:17] #1570 closed, assigned to nobody

[2020-07-20 12:07] reevn commented on #5541
Afaik running all tests with Gradle does not allow you to jump to the source of failed tests by clicking them in the run window, while this is possible when the tests are run with the plugin via "Run x".

To me it seems that this is actually a pretty desirable feature and executing via "Run all tests" would just more beneficial than the Gradle task.

[2020-07-20 12:33] sksamuel commented on #5541
Does right click on a package name not show the run all tests option? Using plugin 1.0.5+

[2020-07-20 12:46] reevn commented on #5541
Oh, it does. I was under the assumption that this is still an open point as both related issues were closed with `wontfix`, but it seems like this is supported now? 😄

I'm currently unable to really use the plugin because of https://github.com/mockk/mockk/issues/459 and just found this issue, but I should have made sure that this is even still relevant before reviving this thread. Sorry about that

[2020-07-20 12:48] sksamuel commented on #5541
Are you using intellij or android studio

On Mon, 20 Jul 2020, 07:47 Christian Stoenescu, <notifications@github.com>
wrote:

[2020-07-20 13:30] reevn commented on #5541
I'm using Android Studio.

[2020-07-20 13:51] sksamuel commented on #5541
It seems to be a problem with the classpath setup in AS.

On Mon, 20 Jul 2020 at 08:30, Christian Stoenescu <notifications@github.com>
wrote:

[2020-07-20 13:59] fauscik opened #1573 "Allow to disable SpringListener on final class warning"
Hi,

I would like to be able to disable _Using SpringListener on a final class. If any Spring annotation fails to work, try making this class open._ warning which appears quite often in console logs and causes unnecessary noise in the output.
Currently it's printed using _println_ so I'm unable to disable it. Would it be possible to log it using some logger or allow to disable this warning?

Thank

[2020-07-20 14:02] sksamuel commented on #1573
To clarify, you have the *SpringListener *in a spec, and you are using it
with a normal final class and it works, you just don't want the warning?

On Mon, 20 Jul 2020 at 08:59, fauscik <notifications@github.com> wrote:

[2020-07-20 14:03] fauscik commented on #1573
Yes, simple as that.

[2020-07-20 14:06] sksamuel commented on #1573
The simplest way would be to add

var ignoreWarning: Boolean = false

Then you can do SpringListener.ignoreWarning = true

Or change the object to be a class, so you can do

listener(SpringListener(false))

On Mon, 20 Jul 2020 at 09:04, fauscik <notifications@github.com> wrote:

[2020-07-20 14:10] fauscik commented on #1573
Ok, thanks for advice @sksamuel . If you don't mind, I'll go with some PR then.

[2020-07-20 14:18] sksamuel commented on #1573
Yes a PR would be welcome.

On Mon, 20 Jul 2020 at 09:11, fauscik <notifications@github.com> wrote:

[2020-07-20 16:21] reevn opened #1574 "beforeTest of parent scope not executed before tests of child scope"
When nesting test cases the `beforeTest` of the parent scope is not executed before each test of the child scope.

Simple example:

[code]

Test run output (`IsolationMode.SingleInstance`):
[code]

Test run output (`IsolationMode.InstancePerLeaf`):
[code]

Test run output (`IsolationMode.InstancePerTest`):
[code]

As you can see no matter which `IsolationMode` is used, there is no scenario where `

[2020-07-20 17:44] reevn commented on #1574
I think I've found the problem here and will open a pull request shortly.

[2020-07-20 18:36] #1574 closed, assigned to nobody

[2020-07-21 01:28] sksamuel commented on #5497
In your first bug, the final inner tests should not be created with the minus sign after the string.

[2020-07-21 02:58] ashishkujoy commented on #1543
Fixed in release/4.1.x branch, will be released with 4.1.3

[2020-07-21 11:37] elbaulp opened #1580 "Use factory tests with data-driven testing"
**Which version of Kotest are you using**: 4.1.1

Hello, I am trying to use a factory test inside a Data-Driven test, like this:

[code]

But the test is not running. In fact, If I debug it, Only `afterSpec` of the factory test is being executed.

Is it even possible to use these two approaches together? Or am I doing something wrong?

[2020-07-21 12:13] #1580 closed, assigned to nobody

[2020-07-21 12:15] elbaulp commented on #1580
Working now, I changed the style to WordSpec and slightly changed the order, maybe that was the problem:

[code]

[2020-07-21 13:50] mnonnenmacher opened #1581 "NoSuchFileException when using kotest-extensions-junitxml with Gradle"
I am trying to use `kotest-extensions-junitxml` to get a flattened JUnit report in a Gradle project (related to #999), but every test class fails with a `NoSuchFileException`, because it is looking for the XML file in the `target` directory, instead of `build/test-results/test/` where Gradle puts the file.

This behavior is currently hardcoded: https://github.com/kotest/kotest/blob/056c8b58cbfe601

[2020-07-21 14:17] sksamuel opened #1582 "Junit platform include tags in gradle"
Support junit platform tags

   useJUnitPlatform {
        includeTags 'ui'
        excludeTags 'integration'
    }

[2020-07-21 19:19] reevn commented on #1482
Edit: I've moved my comment into a separate issue, as it's a different issue that is only vaguely related to this issue.

https://github.com/kotest/kotest/issues/1584

[2020-07-22 03:13] Inego opened #1583 "Move all system properties to a single object"
Is there any list of Kotest's supported system properties?

A side question. Is it possible to define the isolation mode for the project via a system property?

[2020-07-22 04:12] ashishkujoy commented on #1543
Released with 4.1.3

[2020-07-22 06:54] asm0dey commented on #999
Steel need it :)

[2020-07-22 08:07] reevn opened #1584 "Add new scoped callbacks"
`beforeTest`/`afterTest` is being executed additional times for containers (i.e. `describe` block) before then being executed again for the tests in the container.

Example test class
[code]

Output (4.2.0.393-SNAPSHOT, as another listener fix is included there):

[code]

**Basically everything not in-between the start/end comments is not just unnecessary, it messes up certain test cases where the

[2020-07-22 08:57] sksamuel commented on #1584
Ok, so in Kotest each scope is considered a Test. So if you have a describe block with 2 nested it's, you have 3 tests.

beforeTest is a callback that is invoked before each test, so in this case 3 times (the behavior you're seeing).

The reason for this is somewhat historical. JUnit platform has the concept of containers and tests, but gradle never did (still doesn't I don't think) support this p

[2020-07-22 10:09] slowikps opened #1585 "shouldBeEqualToIgnoringFields behaviour is not consistent with shouldBe (equals)"
Hi All, I really like `kotest` library and its impact on the syntax of my tests.

Recently, I found an inconsistency between `shouldBeEqualToIgnoringFields` and any other assertions that are using class `equals` function.
Please consider the following example:
[code]

I think the above test should successfully pass. Unfortunately, `shouldBeEqualToIgnoringFields` is ignoring private fields, so the

[2020-07-22 10:48] reevn commented on #1584
Thanks for the explanation.

What do you think about adding a flag for the desired behaviour I described that one would use in the Project/Spec config?

Something like

`executeListenersForContainers`, which will have `true` as a default where it would behave as of now. If one sets it to `false`, relevant listeners will only be called for `TestType.Test`.

Implementing this seems very easy from lo

[2020-07-22 10:56] sksamuel commented on #1584
I would rather add another callback than a flag, as this doesn't seem like
behavior you'd ever want to "flip" about, which is why you usually have
flags.
In other words, once the test is written a certain way it must always run
that way to be correct.

That said, if you feel the flag is better I'm open to persuasion.

On Wed, 22 Jul 2020 at 05:48, Christian Stoenescu <notifications@github.com>
wro

[2020-07-22 11:21] reevn commented on #1584
I personally think the flag is better as I think that most people who look into this would agree that this is how it should be in a perfect world, but as we can't break existing behaviour a flag would be the first step towards "correction".

Every parent `beforeTest` needs to be run before a test itself is executed. This is the typical expected behaviour of all testing frameworks I've seen so far.

[2020-07-22 12:33] reevn commented on #1584
For completeness, here is the output with the `TestType` that triggered the listener included:

[code]

This shows that every `Container` execution is meaningless in the best case and even error-prone in the worst case. This behaviour seems like a lose-lose situation with nothing to gain from anybody, but I'm happy to ponder over other opinions 🙂.

[2020-07-22 13:14] sksamuel commented on #1584
I wouldn't say the beforeTest's are randomly executed. The behavior is defined and consistent - beforeTest is executed before every scope. This is just not what you want in your case.

There are people who want this behavior. They nest things in all kinds of weird and wonderful ways. I've seen users ask questions and in the code snippets they post, they are resetting / testing things at every leve

[2020-07-22 13:33] reevn commented on #1584
Thanks for the detailed answer.

Very reasonable, I can see the general dislike for flags.

I would fully agree with this and find it wonderful that you guys are so open to enable everyone to write tests in the way they want. That is awesome!

In this case I'm not sure that we see the same situation though. The `beforeTest` of the user you would describe would still be executed, it's not gone. It'

[2020-07-22 13:51] sksamuel commented on #1584
I've seen people do things like this:

[code]

They're using each nested scope as like a "follow on" test, which actually has isolated parameters. I think your change would break this. Not the way I'd do it, and it could certainly be changed to not require the beforeTest, but we can't break the current status quo :)

But I'm in agreement with you on the (lack of) intuitive naming in the current se

[2020-07-22 14:20] reevn commented on #1584
Thanks for providing the example. I can see how these kinds of tests would not be possible if the behaviour of `beforeTest` right now would be changed, although I think there are test styles that would be better fitting for these kinds of "follow on" tests instead of "misusing" contexts as test cases, but it is how it is 🙂.

A working solution where we can just change all occurrences of `beforeTes

[2020-07-22 14:27] sksamuel commented on #1584
I guess it's personal preference as to whether it's misusing it or not I suppose.

If beforeTest was deprecated it would be clear.

`beforeEach` - A callback executed before each "leaf" TestCase. In Kotest a leaf test is the outmost test scope and has TestType.Test

`beforeContainer` - A callback executed before each "container" TestCase. In Kotest a container test are the inner test copes (that c

[2020-07-22 14:28] sksamuel commented on #1584
Alternatively, we could support:

[code]

[2020-07-22 14:34] reevn commented on #1584
👍

For me `scope` and `containers` were synonyms, so I wouldn't expect `beforeScope` to be executed every time before `TestType.Test`. `beforeAny` is actually pretty nice for this and complements the other two new callbacks well.

This would require boilerplate every time someone writes a `beforeTest`. Additionally this is already possible via adding one line:

[code]

[2020-07-22 14:36] sksamuel commented on #1584
If you want to make a PR feel free, otherwise I will get around to adding them this weekend.

[2020-07-22 14:38] reevn commented on #1584
So to summarize (if I have the time for the PR before the weekend):

- new `beforeEach` for `TestType.Test`
- new `beforeContainer` for `TestType.Container`
- new `beforeAny` for `TestType.Test` and `TestType.Container` (same as `beforeTest` right now)
- deprecate `beforeTest` and nudge towards the other functions or `beforeAny` in the deprecation description

If that's all I think I can get to it

[2020-07-22 14:46] sksamuel commented on #1584
Yes, but without the deprecate part while I garner feedback from other users.

[2020-07-22 16:01] sksamuel commented on #1583
It is not, but that seems like a reasonable thing to add.

On Tue, 21 Jul 2020 at 22:14, Yanis Batura <notifications@github.com> wrote:

[2020-07-22 17:37] sksamuel opened #1587 "Improved error message for map should contain when key present"
`mapOf(1 to "a", 2 to "b").shouldContain(1, "c")`

should show a better error when the map _does_ contain the key, but just with a different value.

[2020-07-22 17:56] LouisCAD commented on #1570
Ok, I learned from bintray support that jcenter is a "lazy" mirror of MavenCentral, so it's not the place to look for updates of a dependency published on MavenCentral only, but once you know the version, you can get it from jcenter, which will fetch and persist it on first request.

[2020-07-22 17:57] sksamuel commented on #1570
Ok makes sense. Is there any reason to not just get it from maven central ?

[2020-07-22 18:10] LouisCAD commented on #1570
I don't see any, but I know some projects might have `jcenter()` setup, without having `mavenCentral()` defined. Might make sense to warn for these cases in refreshVersions (shouldn't affect other cases unless they also need to lookup dependency versions in the repo).

[2020-07-22 19:02] ov7a commented on #1543
@ashishkujoy Wow, thank you!

Unfortunately, it seems like there is a bug related to nulls:
[code]

I also have [a more complex testCase](https://github.com/ov7a/kotlin-asserts-comparison/blob/master/src/test/kotlin/common/TestData.kt#L34):
[code]
which fails with Kotest 4.1.3 due to absent null and bytearray `eq` overrides.

I think this type of comparison should be supported for all collections,

[2020-07-22 20:44] #1458 closed, assigned to jaguililla

[2020-07-22 20:46] sksamuel opened #1588 "Control isolation mode by system property"
Control isolation mode by system property

[2020-07-22 20:46] sksamuel commented on #1583
#1588

[2020-07-22 23:03] sksamuel commented on #1570
Makes sense. :+1:

[2020-07-23 08:00] Mahoney opened #5491 "Dynamically generated test names reported as duplicates"
The kotest plugin puts red squiggles all over this, but it runs fine:
[code]

[2020-07-23 11:18] ThanksForAllTheFish opened #1591 "Allow SpringListener to generate meaningful method names"
Currently, `SpringListener` creates method as `kotestDummyMethod`. This is ok, however there are some instances in which having a real method name is very useful.

One example is when using kotest with SpringRestDocs: SpringRestDocs can be configured to generate default snippets, but in order to use this feature method name needs to be processed dynamically and needs to be different for each test

[2020-07-24 01:08] sksamuel commented on #1591
I like the idea. I would probably reduce the method name to a-zA-Z0-9_ only as well (with the leading char being a-zA-Z)

[2020-07-24 01:17] sksamuel commented on #1588
Added to master.

[2020-07-24 01:17] #1588 closed, assigned to nobody

[2020-07-24 01:18] sksamuel commented on #1583
Added to master. See https://github.com/kotest/kotest/blob/master/kotest-core/src/commonMain/kotlin/io/kotest/core/engine/KotestFrameworkSystemProperties.kt

[2020-07-24 01:18] #1583 closed, assigned to nobody

[2020-07-24 12:20] reevn commented on #1525
I disagree that `SingleInstance` as a default was a mistake. `SingleInstance` by design is a much more performant way to run tests and encourages test writers to express exactly what they want to happen at every point in a test file. All the heavy lifting of creating initial mocks/dummys only is done once, and callbacks are used to clear them before each test execution.

An entire test code base w

[2020-07-24 14:07] #1573 closed, assigned to nobody

[2020-07-24 14:32] huehnerlady opened #5490 "[MAC] Intellij shortcut CTRL+shift+R does not work as expected"
There are different ways to use the shortcut `CTRL + SHIFT + R` in intellij:

I tested this using the FreeSpec of kotest

1. Inside a test - should just run this test ✅
1. Inside a nested test -> should run all tests inside this nested test ✅
1. inside the init block -> should run all tests ❌  This does seem to ignore the shortcut
1. outside the init block inside the test class -> should run all t

[2020-07-24 14:46] #1584 closed, assigned to nobody

[2020-07-24 18:01] sksamuel opened #1593 "Support order annotation for SpecOrder"
Support order annotation for TestOrdering

[2020-07-26 18:42] DanySK commented on #1332
The issue is still there...

[2020-07-26 18:44] LeoColman commented on #1401
fill it with Kotest values.

I believe that we have that with the JUnit extension

[2020-07-26 18:50] LeoColman opened #1597 "Exhaustive checkAll does more iterations than it should"
[code]
this simple test should print "a" once and "b" once.
Instead, it will print a, followed by b 1k times.

This behavior also happens with `forAll`, and most likely with other utilitfy functions.

[2020-07-26 23:04] sksamuel commented on #1401
We need to support one more callback - the InvocationInterceptor

On Sun, 26 Jul 2020 at 13:44, Leonardo Colman <notifications@github.com>
wrote:

[2020-07-26 23:40] dkowis commented on #1353
Forgive me, is there documentation for how to actually use this? I found the classes in kotest-extension-testcontainers, but I'm not sure how to actually use it in one of my specs.

Thanks!

EDIT: just found it: https://github.com/kotest/kotest/blob/master/doc/extensions.md#testcontainers

[2020-07-27 01:31] sksamuel commented on #5497
In the second bug, by re-run, do you mean in the test results window ?

[2020-07-27 01:32] #1597 closed, assigned to nobody

[2020-07-27 01:39] sksamuel commented on #1537
Just thinking out loud. Each nested test context already has a distinct type. We could add an interfaced `NestedContext` or something, which defines a method `registerNestedTest` which tooling (like an enhanced data driven testing that uses data classes) can use to register a test at any level in a spec style agnostic way. Each test context can implement this interface, and then the data driven te

[2020-07-27 10:38] phanimahesh opened #5489 "AnnotationSpec tests are not detected - no gutter icons or context menus"
AnnotationSpec style tests are not recognized as valid test cases and hence do not show the option to run them from the IDE. They run perfectly fine if run from maven though.

[2020-07-27 10:52] sksamuel opened #5488 "VM params are not saved in run configurations"

[2020-07-27 10:55] Phil-87 commented on #5488
A bit more info - if anything is entered in the "VM options" field it is lost when IntelliJ is closed. This field is also not being saved when using the "Store as project file" option.

[2020-07-27 11:08] sksamuel commented on #5488
Fixed in master.

[2020-07-27 12:03] I-Vargas opened #1599 "Update diff utils to latest"
Please update your dependencies. You can look up renovatebot, see if it makes sense for you.

I was using `io.kotlintest:kotlintest-runner-junit5:3.4.0` and was having a problem with versions. It depends on `kotlintest-assertions` that depends on `com.github.wumpz:diffutils`.

You guys are using `com.github.wumpz:diffutils:2.2` (from Libs.kt), that's from 2017. after that there's a 3.0, after that

[2020-07-27 13:02] zeitlinger commented on #5497
1. the result is the same with `"$a + $b shouldBe 10" {`
2. it's a bit confusing that the `-` makes such a difference. Maybe the "wrong" version should not compile (just thinking out loud)

[2020-07-27 13:08] zeitlinger commented on #5497
yes

![image](https://user-images.githubusercontent.com/2832627/88545278-0e402280-d01b-11ea-8e2d-d1a99e2aeffc.png)

[2020-07-27 13:12] zeitlinger commented on #1537
Sounds good.
Would the user code be the same as in my PR?

[2020-07-27 19:28] sksamuel commented on #1537
What was the reason for the map? I think the map makes it a bit clunky tbh.

On Mon, 27 Jul 2020 at 08:12, Gregor Zeitlinger <notifications@github.com>
wrote:

[2020-07-27 19:58] zeitlinger commented on #1537
The reason for the map: give the test a name

Alternatives
1. Let the data class implement an interface, e.g. Named test case
2. Use reflection to get the name property, falling back to toString

On Mon, Jul 27, 2020, 21:28 Sam Sam <notifications@github.com> wrote:

[2020-07-27 20:12] sksamuel commented on #1537
I'm not sure it warrants support in the framework when you can create the
test name yourself inside the data test loop.

I like the idea of data classes though.

On Mon, 27 Jul 2020 at 14:58, Gregor Zeitlinger <notifications@github.com>
wrote:

[2020-07-27 20:54] zeitlinger commented on #1537
That's a question of how opinionated you want to be.
IIRC, you also said that some test styles don't allow nested scopes, so the
test cases would have to be added at the top - this could clutter the code.
BTW, go has taken the approach to just have a convention for table tests,
without any framework support - also works well, because nested tests are
possible anywhere.

On Mon, Jul 27, 2020, 22:13

[2020-07-27 21:00] sksamuel commented on #1537
How does it look in go ?

On Mon, 27 Jul 2020 at 15:54, Gregor Zeitlinger <notifications@github.com>
wrote:

[2020-07-27 21:10] zeitlinger commented on #1537
https://dave.cheney.net/2019/05/07/prefer-table-driven-tests

On Mon, Jul 27, 2020, 23:00 Sam Sam <notifications@github.com> wrote:

[2020-07-27 22:42] BartvHelvert opened #1600 "Kotlin 1.4 compatibility"
**Which version of Kotest are you using**
4.1.3

After upgrading to Kotlin 1.4.0-rc all my tests fail with the following stack trace:

[code]

Everything works fine when I switch back to 1.3.71.

[2020-07-27 23:37] sksamuel commented on #1600
Looks like they've changed the sig on elapsed now

On Mon, 27 Jul 2020, 17:43 Bart van Helvert, <notifications@github.com>
wrote:

[2020-07-28 00:16] sksamuel commented on #1599
Updated in master.

[2020-07-28 00:16] #1599 closed, assigned to nobody

[2020-07-28 00:22] #1593 closed, assigned to nobody

[2020-07-28 02:31] sksamuel commented on #1537
I don't understand that, it's too heavy on the Go syntax for me to
understand it. What's the tl'dr?

On Mon, 27 Jul 2020 at 16:10, Gregor Zeitlinger <notifications@github.com>
wrote:

[2020-07-28 05:56] zeitlinger commented on #1537
the tl'dr:

translated to kotlin, it would look like my first example in the issue:

[code]

[2020-07-28 13:10] SergKhram commented on #1527
@sksamuel ping

[2020-07-28 14:58] sksamuel commented on #5489
Coming in plugin 1.1.1

On Mon, 27 Jul 2020, 05:38 J Phani Mahesh, <notifications@github.com> wrote:

[2020-07-28 14:58] sksamuel commented on #1581
Will be fixed for 4.2.0

On Tue, 21 Jul 2020, 08:50 Martin Nonnenmacher, <notifications@github.com>
wrote:

[2020-07-28 18:33] james-current commented on #5491
Any ETA on when the fix will be pushed out? Every unit test in our codebase has this issue (I'm in process on upgrading our codebase from Kotlintest to Kotest)

[2020-07-28 19:39] carterhudson opened #1601 "Updating to 4.1.3 causes java.lang.NoClassDefFoundError: io/github/classgraph/ClassGraph"
[code]

Tests won't run now.

[2020-07-28 19:51] sksamuel commented on #1601
Through gradle or intellij plugin ?

On Tue, 28 Jul 2020 at 14:40, Carter Hudson <notifications@github.com>
wrote:

[2020-07-28 19:52] sksamuel commented on #5491
It's fixed in the 1.1.0 plugin, but that needs 5/6 days more testing before
I can submit it to the plugin store.

On Tue, 28 Jul 2020 at 13:33, james-current <notifications@github.com>
wrote:

[2020-07-28 20:00] carterhudson commented on #1601
Running via Android Studio's gutter icons w/ Kotest plugin.

[2020-07-29 16:08] ninadingole commented on #1587
I would like to work on this issue:

`Map should contain mapping 1=c but was 1=a` this looks good? and in case of _no key_ found entire map should be printed.

[2020-07-29 18:30] ashishkujoy commented on #1585
In that case we can provide a variant of `shouldNotBeEqualToIgnoringFields` that can let user decide on whether to ignore private field or not.

[code]

@slowikps would that suffice yours need?

[2020-07-30 08:50] slowikps commented on #1585
Hi, yes that should work.
Are you going to change a default behaviour not to ignore private fields too?

[2020-07-30 11:49] ashishkujoy commented on #1585
@slowikps No default behaviour will remain same

[2020-07-30 19:21] carterhudson opened #1603 "Kotest + MockK = java.lang.NoClassDefFoundError: io/mockk/proxy/MockKAgentFactory"
https://github.com/mockk/mockk/issues/467
https://github.com/mockk/mockk/issues/459

[code]

Just wanted to put these on your radar in case the issue is with Kotest and not MockK.
I can run the tests fine using `./gradlew test ...`, but when I run using the Kotest plugin via Android Studio's gutter icons, the above issues happen. Can't test with the newest version because of https://github.com/kot

[2020-07-30 19:29] sksamuel commented on #1603
Which version of android studio and kotest ?

On Thu, 30 Jul 2020 at 14:21, Carter Hudson <notifications@github.com>
wrote:

[2020-07-30 20:38] carterhudson commented on #1603
Android Studio 4.0.1, Kotest 4.1.0, Kotest Plugin 1.0.5

[2020-07-30 21:45] sksamuel commented on #1603
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip](https://github.com/kotest/kotest/files/5003925/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip)

Feel free to try this pending-release plugin. I've not finished testing it yet, but some other guys on slack say it works. It might help with your issue (not sure).

[2020-07-30 21:58] LeoColman commented on #1587
Go ahead, @ninadingole !

[2020-07-31 12:18] crazyk2 opened #1604 "prepareSpec and finalizeSpec don't work"
**Which version of Kotest are you using**
Master
For example  `com.sksamuel.kotest.listeners.TestListenerBeforeSpecStartedTest` doesn't have assertion because `finalizeSpec` doesn't work and Spec tests are passed. If add
[code]
you will see.
It happens because `TestConfiguration.prepareSpec\finalizeSpec` adds new listener to **Spec** list of listeners but `SpecExecutor.invokeFinalizeSpecListeners`

[2020-07-31 14:56] grodin opened #1605 "Consider publishing a BOM for kotest"
For projects that produce multiple artifacts, it's really useful to publish a BOM alongside so that you don't have to worry about using incompatible versions of individual artifacts.

There's a gradle [Java platform plugin][1] which seems fairly straightforward to use.

Any interest?

[1]: https://docs.gradle.org/current/userguide/java_platform_plugin.html

[2020-07-31 17:58] carterhudson commented on #1603
It works! Thank you so much!

[2020-07-31 18:18] sksamuel commented on #1603
Awesome

On Fri, 31 Jul 2020, 12:59 Carter Hudson, <notifications@github.com> wrote:

[2020-07-31 18:45] crazyk2 commented on #1482
@sksamuel So finally you do exactly I want if spec (including parent spec) doesn't have test (in your terms _active_ tests) we return from function
[code]
4f97e78758b7fa65a3a8fa3bfc88d08e6cc754b5
Now there is no need to use `abstract` for parent spec/
Please close issue

[2020-07-31 18:59] crazyk2 commented on #1388
@sksamuel Please open these issue because question is open if you give me your thoughts about feature and green light to implement it I'll do it.

[2020-07-31 19:06] sksamuel commented on #1388
You can add a project configuration option to skip afterXX callbacks if the beforeXX fails.

[2020-07-31 19:07] #1482 closed, assigned to nobody

[2020-07-31 19:07] sksamuel commented on #1605
Seems like a good idea. Do you want to raise a PR ?

[2020-07-31 19:18] crazyk2 commented on #1388
Problem is more complicated because different level callbacks have different behavior. I mean beforeInvocation/Test/Spec/Project/ For example afterProject will be work always with my [help](https://github.com/kotest/kotest/issues/1387). I can spread these behavior without flag for rest of callbacks but code will be look ugly like this
[code]
flatMap fold flatMap fold and etc,
With flag I think wil

[2020-07-31 20:13] sksamuel commented on #1388
I don't think there is much alternative to having a flat at each level?
You could have a single flag "alwaysCallAfterCallbacks"

On Fri, 31 Jul 2020 at 14:18, crazyk2 <notifications@github.com> wrote:

[2020-08-01 23:13] sksamuel commented on #1582
Can't be done. Gradle doesn't expose this in a way that's compatible with kotest.

[2020-08-01 23:13] #1582 closed, assigned to nobody

[2020-08-01 23:14] sksamuel commented on #1601
Caused by https://github.com/kotest/kotest/issues/1603

[2020-08-01 23:14] #1601 closed, assigned to nobody

[2020-08-02 16:18] Teja-Konjeti commented on #5553
The only I fixed this was to manually add the dependency. Just in case someone needs to know. 😅

[2020-08-03 06:55] ninadingole commented on #1587
#1606 raised for this issue

[2020-08-03 08:16] ninadingole commented on #1564
@LeoColman you want date generated in a random format like `dd/MM/yyyy`, `yyyy/MM/dd` and some with time also etc. and then use this generated date in your code to see if it parses all the different combinations properly and stores to DB, right?

[2020-08-03 11:25] crazyk2 commented on #1388
What do you think about ability to set config option for each after listener execute or not one during fail situation with default value as is now.
As for me it's better approach than Project config because it's more agile.
I have 2 `beforeSpec` and 2 `afterSpec` listeners. Just as example
[code]
And I would add listener name to this new config for example `ListenerConfig`

[2020-08-03 11:29] sksamuel commented on #1388
Why is adding another config option better than just wrapping your after
callback in an if statement ?

On Mon, 3 Aug 2020, 06:26 crazyk2, <notifications@github.com> wrote:

[2020-08-03 11:33] crazyk2 commented on #1388
I don't understand

[2020-08-03 13:40] crazyk2 opened #1607 "AfterTest callbacks works until first exception"
**Which version of Kotest are you using**
Master
Like #1387   TestCase.invokeAllAfterTestCallbacks  works until first exception.

Example
[code]
prints only `afterTest1`.
Is it normal?
I supposed there should be invoked all `afterTest` callbacks.
[code]
And if we will support callback names to provide more powerful report into IDEA or console or Allure this would like
[code]
Or If use inheritance

[2020-08-03 13:58] crazyk2 commented on #1607
What do you think about catch all exceptions in before/after callbacks and combine with future "callback names" register dynamic test to provide better view about tests execution.
For example now JUnit registers only one dynamic test with latest error with name `executionError`
[code]
![image](https://user-images.githubusercontent.com/12140191/89190234-d51f2980-d5a9-11ea-887b-9472f74cd7b4.png)

I

[2020-08-03 16:11] LeoColman commented on #1564
Yes, something like that.
I thought of an `arb<DateTimeFormatter>` or something like that. If you have ideas on how this implementation could be and want to give it a try, feel free :D

[2020-08-04 05:52] tlusk opened #1608 "Sequence is empty error when using Arb.byteArrays"
Using Arb.bytesArrays() throws a `java.util.NoSuchElementException`: Sequence is empty.

It looks like the cause is this line:
https://github.com/kotest/kotest/blob/aa26b494dbb80294a728ee422ea3a9da615b5c98/kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/bytearrays.kt#L16

It should be `generateSequence` instead of `sequence`.

[2020-08-04 06:12] ninadingole commented on #1564
I was thinking to implement the `arb` but if you need DateTimeFormatter of different patterns, there are only some standard options that we can use like given in the [docs](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#predefined) but do you really see any advantage of providing a random DateTimeFormatter? I just want to understand your requirement properly befo

[2020-08-04 16:58] #1587 closed, assigned to nobody

[2020-08-04 18:16] LeoColman commented on #1608
Nice catch!
Do you want to work on this?

[2020-08-04 18:26] tlusk commented on #1608
Yeah I can take care of it and submit a pull request.

[2020-08-05 14:38] #1608 closed, assigned to tlusk

[2020-08-07 15:58] scharrenberg opened #1611 "shouldBe throws KotlinReflectionInternalError on java enums with property override"
Hi,

thanks for this pleasant to work with library that is under constant improvement. When upgrading Kotest in one of our projects I stumbled upon the following behaviour.

When comparing two objects and one of those objects is a Java enum value which overrides a property then `shouldBe` throws `kotlin.reflect.jvm.internal.KotlinReflectionInternalError: Unresolved class: class [...]`

**Which ver

[2020-08-07 18:22] StragaSevera opened #1612 "IsolationMode.InstancePerLeaf in the Project Level Config"
It would be great to have the ability to set an isolation mode one time for a whole project and not manually each time in each file, with the ugly `init` double indentation.
Also, it would be great to have the ability to set an isolation mode as a constructor argument or in some other way that does not require the `init` syntax.

[2020-08-07 18:28] sksamuel commented on #1612
You can do

[code]

[2020-08-07 19:06] LeoColman commented on #1612
Which is also configurable in the ProjectConfig

[2020-08-07 19:43] LeoColman commented on #1611
Could you please confirm that the Java file is actually in the classpath when you compile? It seems to be failing to pickup a class

[2020-08-07 19:48] StragaSevera commented on #1612
Well, the documentation does not say anything about it. Could you give an example? =-)

[2020-08-07 20:30] bryan-nz opened #1613 "TestFactory listeners not executing on nested tests"
kotest 4.1.3

Given the following:

[code]

I get the following output:

[code]

Whereas I would expect:
[code]

i.e the beforeTest in the factory is only being executed on the context and not on the tests. The root listener is executing on all.

This seems like incorrect behavior.. (if it is actually correct, how do I achieve the desired behavior?)

[2020-08-08 11:44] #1585 closed, assigned to nobody

[2020-08-09 05:06] #1543 closed, assigned to ashishkujoy

[2020-08-09 16:20] #1469 closed, assigned to nobody

[2020-08-09 16:32] sksamuel commented on #1612
This page details how you can use project config. https://github.com/kotest/kotest/blob/master/doc/project_config.md

Isolation mode is not mentioned on there but that is one of the parameters available.

[2020-08-09 17:19] sksamuel commented on #1611
I can reproduce.

com/sksamuel/kotest/specs/funspec/ThingWithProperty
java.lang.NoClassDefFoundError: com/sksamuel/kotest/specs/funspec/ThingWithProperty

It seems to me that .java files are not picked up when in kotlin source roots. That wouldn't be a kotest thing, but would just need to configure gradle.

[2020-08-09 18:35] sksamuel commented on #1604
I think `prepareSpec` just needs to be removed as a method as it makes no sense to allow registration inside the spec. Just like beforeProject didn't either.

PR created #1617

[2020-08-09 18:36] sksamuel commented on #1613
Fixed in master, will be included in 4.2.0

[2020-08-09 18:36] #1613 closed, assigned to sksamuel

[2020-08-09 18:37] sksamuel commented on #1567
Console runner has been removed in favour of kotest-launcher which is indeed now bundled with the plugin.
Plugin 1.1.9 has been submitted to jetbrains for approval.

[2020-08-09 18:37] #1567 closed, assigned to sksamuel

[2020-08-09 18:43] sksamuel commented on #1600
The latest 4.2.0 snapshots support 1.4.0 rc.
You can use the snapshot for now if you want.
4.2.0 final will be released as soon as 1.4.0 is out.

[2020-08-09 21:10] sksamuel commented on #1607
I like the idea. We would need to keep the default:

`afterTest { }` which can use a default name of "afterTest" like you said.

If you want to work on this, that would be great.

[2020-08-10 00:09] sksamuel commented on #1533
Done.

[2020-08-10 00:09] #1533 closed, assigned to nobody

[2020-08-10 00:10] sksamuel commented on #1612
Docs have been updated.

[2020-08-10 00:10] #1612 closed, assigned to nobody

[2020-08-10 00:12] sksamuel commented on #1525
@Reevn nice to see someone else likes SingleInstance as the default :+1:

I have updated the docs to explain why this is the default.

[2020-08-10 00:12] #1525 closed, assigned to nobody

[2020-08-10 00:22] sksamuel commented on #1564
I think what @LeoColman is trying to do, is have an Arb that generates things like:

`10th Sept 2010`, `10/09/2010`, `10 Sept 2010`, `Sept 10 2010, `10-sep-10`

So the same date, but entered in different ways, so that people can test their date parse logic.

[2020-08-10 01:21] sksamuel commented on #1530
I cannot duplicate this in current master with kotlin 1.4 and plugin 1.1.9

[2020-08-10 01:21] #1603 closed, assigned to nobody

[2020-08-10 01:22] sksamuel commented on #1527
I think we can add a setting to the allure plugin, which allows you to control whether you want to include containers as tests.

[2020-08-10 01:31] sksamuel commented on #1527
See https://github.com/kotest/kotest/pull/1619

[2020-08-10 09:17] Bombo opened #1620 "Robolectric Extension fails with "this method should only be called by Robolectric""
I'm having issues with running kotest in conjunction with Robolectric.

* Android Studio 4.0.1
* Kotest Plugin version 1.1.0-SNAPSHOT-IC-2019.3 (due to #1601)

_build.gradle_:
[code]
_Robolectric.kt_:
[code]
I have also added a _robolectric.properties_ file to app/src/test/resources with `sdk=23` to avoid having to run my tests in Java 9.

When running the test inside the IDE, I get the following

[2020-08-10 09:51] #999 closed, assigned to sksamuel

[2020-08-10 09:51] #1581 closed, assigned to nobody

[2020-08-10 09:52] sksamuel commented on #1581
Fixed in master. You will need to specify the build dir when you setup the tests in gradle like this: https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-junitxml/build.gradle.kts#L47

Additionally, you will need to add the JUnitXmlReporter as a listener manually, rather than using AutoScan, similar to this: https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-

[2020-08-10 09:53] sksamuel commented on #999
Fixed in master. You will need to specify the build dir when you setup the tests in gradle like this: https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-junitxml/build.gradle.kts#L47

Additionally, you will need to add the JUnitXmlReporter as a listener manually, rather than using AutoScan, similar to this: https://github.com/kotest/kotest/blob/master/kotest-tests/kotest-tests-

[2020-08-10 10:01] sksamuel commented on #1527
In master, you now need to add the `AllureTestReporter` manually as a listener, but you can configure it to ignore container level tests (which is what you want).

Will be included in 4.2.0

[2020-08-10 10:01] #1527 closed, assigned to nobody

[2020-08-10 10:03] #1604 closed, assigned to sksamuel

[2020-08-10 14:04] sksamuel commented on #1491
4.2.0.RC1 released.

[2020-08-10 16:24] mnonnenmacher commented on #1581
Thanks @sksamuel, that's great news. I have tried 4.2.0-RC1 and it works!

[2020-08-10 19:25] reevn opened #5487 "Plugin doesn't recognize scoped callbacks introduced in Kotest 4.2"
With Kotest 4.2 new scoped callbacks like `beforeEach`/`afterEach` were introduced.

The plugin doesn't recognize these callbacks in the plugin window like it does for `beforeTest`/`afterTest`.

The plugin window should also show these new callbacks:
- `beforeContainer`/`afterContainer`
- `beforeEach`/`afterEach`
- `beforeAny`/`afterAny`

[2020-08-10 19:27] reevn commented on #5541
Even though the last few comments were unrelated to the topic, I can confirm that with the latest Kotest plugin version (`1.1.9`) everything seems to be working fine in Android Studio 🎉

[2020-08-10 19:46] sksamuel commented on #5488
Please try 1.1.9 plugin.

[2020-08-10 19:46] #5488 closed, assigned to nobody

[2020-08-10 19:46] sksamuel commented on #5487
Yes good catch (the tool window right).

[2020-08-10 19:47] sksamuel commented on #5491
Please try 1.1.9 that's now released.

[2020-08-10 19:47] #5491 closed, assigned to sksamuel

[2020-08-10 19:47] sksamuel commented on #5494
The latest plugin no longer requires console dependency. In fact console has gone away entirely.

[2020-08-10 19:47] #5494 closed, assigned to nobody

[2020-08-10 19:48] sksamuel commented on #5503
One more attempt with 1.1.9 ?

[2020-08-10 19:48] sksamuel commented on #5513
1.1.9

[2020-08-10 19:48] #5513 closed, assigned to sksamuel

[2020-08-10 19:48] #5516 closed, assigned to nobody

[2020-08-10 19:54] reevn opened #1621 "Running all tests in a package doesn't run tests in subpackages"
When running all tests in a package via the plugin, it only executes the test files directly in that package instead of picking up all test files in the package and all subpackages.

[2020-08-10 19:56] sksamuel commented on #1621
Fixed in master.

[2020-08-10 20:21] #5541 closed, assigned to nobody

[2020-08-11 02:21] sksamuel commented on #5492
This is fixed in latest plugin (you should have received an updated prompt).

[2020-08-11 02:21] #5492 closed, assigned to nobody

[2020-08-11 02:21] sksamuel commented on #5495
Latest plugin is out - can you try ?

[2020-08-11 02:21] sksamuel commented on #5514
I find this sometimes works and sometimes doesn't.

[2020-08-11 08:48] stefanneuhaus opened #1622 "kotest-runner-junit5-jvm:4.1.3 does not respect Gradle's "--tests" filter"
In a mixed Kotlin/Java test source set when using Gradle's `--tests` filter to selectively execute some non-Kotlin tests, all Kotlin tests get executed as well.

I provided a basic test project that reproduces the issue: [stefanneuhaus/kotest-issue](https://github.com/stefanneuhaus/kotest-issue)

- The issue does not occur with version 4.1.2.
- I did not yet test the junit4 runner.

[2020-08-11 10:08] audkar opened #1623 "Disabling test execution with x-methods doesn't work with kotest-core-js"
#### Steps to reproduce:
1. Disable test in kotest javascript example
[code]
2. Execute tests:
[code]
3. Observe error:
[code]

**Which version of Kotest are you using**
4.1.2

[2020-08-11 10:44] Bombo commented on #1620
Still happening with plugin version 1.1.9-IC-2019.3

[2020-08-11 12:11] sksamuel opened #1624 "Add suspend version of when ready"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-08-11 13:55] sksamuel commented on #1623
Thanks, I've fixed this in master. Will be in 4.2.0.

[2020-08-11 13:57] scharrenberg commented on #1611
@LeoColman This does not seem like a build configuration issue to me. Please see https://github.com/scharrenberg/ktest-bug

When building with Gradle `Pass with default property` passes although it references the Java enum whereas `Fail because of property override` fails.

[2020-08-11 13:57] sksamuel commented on #1622
Duplicate of #1531
Will be fixed for 4.2.0, due very soon!

[2020-08-11 13:58] #1621 closed, assigned to nobody

[2020-08-11 13:58] sksamuel commented on #1623
I will release 4.2.0.RC2 tonight, if you upgrade this will work.

[2020-08-11 13:58] #1623 closed, assigned to nobody

[2020-08-12 01:08] diklimchuk opened #1625 "TestListener not intercepting spec constructor"
Kotest 4.1.1

Currently, using LocaleTestListener for example, doesn't work when used to init something outside of the test scope.
It happens because locale could be used inside Spec constructor which is not intercepted by the extension.
Is this a bug or there is a recommended way of handling this?

Sample:
[code]

[2020-08-12 09:52] Phil-87 commented on #5488
This is working correctly now.

[2020-08-13 03:58] #1624 closed, assigned to nobody

[2020-08-13 03:59] sksamuel commented on #1625
You could put the listener at the project level.

[2020-08-13 05:08] diklimchuk commented on #1625
Yes, but i need to override locale for one specific test. If i put a listener at the project level, it would override locale for all tests

[2020-08-13 05:27] #1307 closed, assigned to nobody

[2020-08-13 19:56] #1531 closed, assigned to sksamuel

[2020-08-13 23:07] sksamuel commented on #1622
There is a fix included in 4.2.0.RC2 if you want to try that.
4.2.0 final will follow shortly.
@stefanneuhaus

[2020-08-13 23:09] sksamuel commented on #1531
@yevhenii8 There is a fix included in 4.2.0.RC2

However you can only use --tests to filter down to the class level. You can't include a test name. This is because gradle tries to turn them into method handles, and these aren't methods.

So, `./gradlew test --tests com.foo.MyTest` works but `./gradlew test --tests com.foo.MyTest.should do this` will not.

[2020-08-14 00:10] sksamuel commented on #5506
Can you check this out on the latest plugin @LeoColman

[2020-08-14 00:10] sksamuel commented on #5501
This seems to be fine in kotlin 1.4

[2020-08-14 01:03] LeoColman opened #1628 "Add matchers for Kotlinx.datetime"
KotlinX datetime has just released it's first release, a shy 0.1.0: https://github.com/Kotlin/kotlinx-datetime

It would be very interesting if Kotest supports that library with matchers and generators

[2020-08-14 06:14] stefanneuhaus commented on #1622
@sksamuel Thank you for the timely reaction. I tried to verify the fix in 4.2.0.RC2 with [stefanneuhaus/kotest-issue](https://github.com/stefanneuhaus/kotest-issue) but failed. Seems like either the bug is not yet fixed or it is no duplicate of #1531.

[2020-08-15 10:51] DanySK opened #1630 "Pulling Kotest 4.2.0-RC2 from Central complains about missing dependencies"
**4.2.0-RC2**

Relevant `build.gradle.kts`:

[code]

Gradle's complaint:
[code]

Apparently `com.soywiz.korlibs:klock` is not being released on Maven Central.

[2020-08-15 22:06] #1483 closed, assigned to nobody

[2020-08-15 22:43] sksamuel opened #1631 "Support timeout/invocation timeouts via system properties"

[2020-08-15 22:43] sksamuel opened #1632 "Allow multiple project configs to be detected and merged"

[2020-08-16 16:14] sksamuel opened #1634 "No output when a DiscoveryExtension throws"
[code]

[2020-08-16 18:42] LeoColman commented on #1630
Just out of curiosity, why can't you use jcenter along with maven central?

[2020-08-16 18:51] DanySK commented on #1630
@LeoColman because I've got some software that needs to work pointing to Central alone. I could add jcenter for the test packages, but AFAIK there is no easy way to link repositories to configurations in Gradle, hence I'd be at risk of including compile/runtime dependencies that are not hosted on Central.

Anyway, I think that it is reasonable that packages distributed on Central only depend on ot

[2020-08-17 02:27] sksamuel commented on #1551
In master, will be included in 4.2.0.

[2020-08-17 02:28] #1551 closed, assigned to sksamuel

[2020-08-17 02:36] #1632 closed, assigned to sksamuel

[2020-08-17 03:11] sksamuel commented on #1631
In master.

[2020-08-17 03:11] #1631 closed, assigned to sksamuel

[2020-08-17 04:02] sksamuel opened #1635 "Allow "reason" when disabling tests"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-08-17 04:53] #1628 closed, assigned to LeoColman

[2020-08-17 08:38] BaloghTamas commented on #1620
This issue happens because of initializing Robolectric twice. It is related to which `isolationMode` you use, it definitely happens for the `InstancePerLead` one. We have also faced it, and I am working on a fix for this, gonna open a PR soon.

[2020-08-17 10:06] Bombo commented on #1620
@BaloghTamas Sounds good, although I have a test project with only one `FeatureSpec` in it (see above) and I'm using the default `IsolationMode`, which then should be `SingleInstance`, right?

Maybe your fix takes care of this, still, but the reason you gave sounds like a different issue.

[2020-08-18 00:36] LeoColman opened #1636 "Add Gen.forNone"
We currently have `Gen.forAll { it == true }`. If we want to invert it, it's ok to write `Gen.forAll { !(it == true) } `.

It would be syntactically pleasant to write `Gen.forNone` instead, like:

[code]

vs

[code]

[2020-08-18 05:46] anton46 opened #1637 "Other non-kotest are excluded from executions"
**4.1.2**

Hey, thanks for the nice library.

Do you have any suggestions on how the best practise configuration when you have `non-kotest` & `kotest` tests on the same project? seems `non-kotest` tests are excluded from the executions.

Thanks

[2020-08-18 07:26] kboom commented on #1220
`4.1.3` has the same problem even with kotlin `1.3.70`

[2020-08-18 10:07] Ultranium opened #5486 "Cannot run single test when using with Kotest 4.2.0.RC2"
When I run a single test ("first test" in my code example) withing a test class using the green Run test in the gutter, the test fails with "java.lang.NoClassDefFoundError: io/kotest/core/filters/TestCaseFilter" exception.
Running all tests withing test class (using the double Run button in the gutter at the class declaration line) works fine.

**Code example:**

[code]

**Stack trace:**

[code]

[2020-08-18 10:34] sksamuel commented on #1637
What other tests - junit ?

[2020-08-18 10:48] asm0dey commented on #1600
@sksamuel can't wait for new release!

[2020-08-18 11:08] anton46 commented on #1637
@sksamuel yes, pure jUnit.

I print the gradle log and only kotest related tests that executed. also, the test report only contains kotest related tests.

[code]

[2020-08-18 12:00] zapodot commented on #1600
Kotlin 1.4.0 was released yesterday. Just saying ;-)

[2020-08-18 12:31] sksamuel commented on #1600
lol, I'm working on 4.2.0 final now. Give me today, latest tomorrow.

On Tue, 18 Aug 2020 at 07:00, Sondre Eikanger Kvalø <
notifications@github.com> wrote:

[2020-08-18 12:32] asm0dey commented on #1600
TBH 4.2.0.RC2 works fine at least for https://github.com/JetBrains/kotlin-spark-api

[2020-08-18 22:29] sksamuel commented on #1637
Do you have junit jupiter or vintage in your build

[2020-08-19 00:29] JavierSegoviaCordoba opened #1638 "Specifying dependencies only once"
Is it planned to unify dependency artifacts like JetBrains is doing with kotlinx?

https://kotlinlang.org/docs/reference/whatsnew14.html#specifying-dependencies-only-once

[2020-08-19 01:16] sksamuel commented on #1638
Yes sir, if you check out master, I've already done a bunch.

[2020-08-19 04:02] anton46 commented on #1637
@sksamuel no, I don't have.

[2020-08-19 05:40] sksamuel commented on #1220
4.2.0 does not use the experimental kotlinx time stuff, so this will go away.
We will release 4.2.0 within the next 2 days.

[2020-08-19 23:47] LeoColman commented on #1625
Try

[code]

[2020-08-19 23:48] LeoColman commented on #1625
I don't think it's possible to execute t he spec before running its `init` block, which is where your tests get registered. This way I'm trying to setup t he listener before the test has a chance to obtain the locale

[2020-08-20 01:43] sksamuel commented on #1630
Please try 4.2.0.RC3

[2020-08-20 08:54] sksamuel commented on #5486
Kotest 4.2.0 final has been released so upgrade to that.
And there is a kotest plugin update pending approval at jetbrains which will fix this issue, so once that gets released (today hopefully), you should be all set.

[2020-08-20 08:55] sksamuel opened #1639 "Add test containers documentation"

[2020-08-20 08:55] #1353 closed, assigned to nobody

[2020-08-20 08:56] sksamuel commented on #1600
4.2.0 has been released now.
There's a plugin update pending jetbrains approval as well, which will hopefully be today when it's approved. Without the plugin update you will get an error running the tests from the green run icon.

[2020-08-20 08:56] #1600 closed, assigned to nobody

[2020-08-20 08:57] sksamuel commented on #1491
4.2.0 final released.

[2020-08-20 08:57] #1491 closed, assigned to nobody

[2020-08-20 08:58] sksamuel commented on #1630
4.2.0 final has been released. You should be good to go, klock is a not a dependency @DanySK

[2020-08-20 08:58] #1630 closed, assigned to nobody

[2020-08-20 08:58] #1639 closed, assigned to nobody

[2020-08-20 09:04] #5501 closed, assigned to nobody

[2020-08-20 11:30] diklimchuk commented on #1625
Yeap, thanks. Lazy should work here.

[2020-08-20 11:30] #1625 closed, assigned to nobody

[2020-08-20 12:30] Ultranium commented on #5486
Today I got the plugin update (not it's v. 1.1.11-IC-2020.1), switched to the final version 4.2.0
Things got even worse - now I can't run even all tests in the class using the gutter button - I get this error message:

[code]

After reverting the Kotest version back to 4.2.0.RC2 with the latest plugin, it works as before - running all tests cases withing a class works, running a single test does n

[2020-08-20 12:34] sksamuel commented on #5486
That's not the latest plugin, that's the one released last week.
It's confusing because there's a lag where you have to wait for jetbrains
to approve uploads to the plugin repository.

On Thu, 20 Aug 2020 at 07:31, Ultranium <notifications@github.com> wrote:

[2020-08-20 12:34] sksamuel commented on #5486
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip](https://github.com/kotest/kotest-intellij-plugin/files/5103001/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip)

^^ that is the latest if you want to install manually.

[2020-08-20 13:08] neckbosov opened #1640 "Unable to initialize launcher"
4.2.0
I create simple multiplatform project with Kotlin 1.4.0 and Kotest 4.2.0, add all describing dependencies, write simple test and got following error :
[code]

build.gradle.kts:
[code]
Test:
[code]

[2020-08-20 13:13] sksamuel commented on #1640
See https://github.com/kotest/kotest/issues/5486

[2020-08-20 13:13] #1640 closed, assigned to nobody

[2020-08-20 14:45] anton46 commented on #1637
When I run the `non-kotest` test from Android Studio. 😞

![Screen Shot 2020-08-20 at 9 43 16 PM](https://user-images.githubusercontent.com/7135360/90786844-47279a80-e32e-11ea-9387-b0e40636fe09.png)

[2020-08-20 15:15] sksamuel commented on #1637
You will need to add some kind of junit runtime - either vintage or jupiter.
Also, to avoid that error on no tests, you need to add

tasks.named<Test>("jvmTest") {
   useJUnitPlatform()
   filter {
      isFailOnNoMatchingTests = false
   }
}

On Thu, 20 Aug 2020 at 09:45, Anton Nurdin Tuhadiansyah <
notifications@github.com> wrote:

[2020-08-20 15:16] rd-stefan-neuhaus commented on #1622
I tested with the release version 4.2.0: It is actually fixed.

And I double-checked that it is failing with 4.2.0.RC2. Anyway, seems to be fixed -- works for me. :-)

[2020-08-20 15:53] anton46 commented on #1637
@sksamuel Ok will try, thanks. 👍🏽

[2020-08-20 17:00] Bombo commented on #1620
Still happening with plugin version 1.1.11-IC-2019.3

[2020-08-20 18:13] joelhess opened #1641 "NoSuchMethodError on test execution after update to 4.2."
Just updated from 4.1.2 to 4.2.  Running from gradle 6.4.
[code]
I have a project config that specifies InstancePerTest as the isolation Mode.

[code]

Test Looks like:
[code]

[2020-08-20 18:24] sksamuel commented on #1641
Dup of https://github.com/kotest/kotest/issues/5486 I think

[2020-08-20 18:26] sksamuel commented on #1641
Once the latest plugin is approved by jetbrains (tomorrow morning I hope) all will be good.
You can install manually if you like in the meantime.
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip](https://github.com/kotest/kotest/files/5104804/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2020.1.zip)

[2020-08-20 18:40] sksamuel commented on #1641
And this one for Android Studio or Intellij 2019.
[kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip](https://github.com/kotest/kotest/files/5104869/kotest-plugin-intellij-1.1.0-SNAPSHOT-IC-2019.3.zip)

[2020-08-20 18:44] joelhess commented on #1641
I see this from my CI system. No Intellij in sight there. Just Gradle.

[2020-08-20 18:55] sksamuel commented on #1641
Ah right yes, sorry had quite a few of these reports over the plugin so I just saw the exception and assumed.

[2020-08-20 19:01] sksamuel commented on #1641
Is there a mistake in the dummy test you've pasted up, because you're using InstancePerTest in config, but the exception is happening in the single instance test runner.

[2020-08-20 19:02] sksamuel commented on #1641
Also it seems like you maybe still have an old version of kotest floating about your build. You should only need assertions-core-jvm (if you use kotest assertions) and junit5-jvm.

[2020-08-20 19:03] Ultranium commented on #5486
I installed the plugin you provided and now everything works perfect.
Thank you!

[2020-08-20 19:06] sksamuel commented on #5486
Awesome.

[2020-08-20 19:12] joelhess commented on #1641
Sorry, I have it multiple projects. The one that failed does not have the isolation mode set, and so is just using the default. I've done a `gradle clean` to clear out any cruft, and ran `gradle --refresh-dependencies` to ensure that I have the right bits.
I just have these two in my build file:
[code]
where Versions.kotest is set to "4.2.0"

If I disable the tests for that project and allow the o

[2020-08-20 19:16] sksamuel commented on #1641
Which version of Kotlin? It still looks to me like it's trying to create a 4.1.x version of the spec runner, but I could be wrong.

[2020-08-20 19:20] joelhess commented on #1641
1.3.72 on Java 11

[2020-08-20 19:21] sksamuel commented on #1641
Ok looks like in 1.4 they added some methods in FunctionReferenceImpl that aren't present in 1.3.72.
I've pushed a change to avoid the use of functon references, which should hopefully fix it.
You can try the snapshot once it builds.

[2020-08-20 20:24] Mahoney opened #1642 "Some tags not being recognised in 4.2.0"
Upgraded to 4.2.0. The following Spec now runs despite being tagged not to run:
[code]

[2020-08-21 17:04] #1365 closed, assigned to nobody

[2020-08-21 19:25] neckbosov opened #5485 "Plugin does not run single test or context of tests"
If I try run context or single test, all test in class run instead. Kotlin 1.4.0, Kotest 4.2.0, kotest-intellij-plugin 1.1.12-IC-2020.1

[2020-08-22 04:56] veluxer62 opened #1643 "There are transaction error logs when `@DataJpaTest` runs"
When I runs Spring Data JPA tests, I can see some error logs like below.

[code]

The code below is the one I wrote. And my

[code]

[2020-08-22 06:33] serpro69 opened #1644 "Running tests from `main` function"
Hi,
Is it possible to create a launcher and run the tests from a `main` function?

[2020-08-22 20:48] sksamuel commented on #1644
Yes, absolutely.
fun main() {

KotestEngineLauncher(writer)
   .withSpecs(specs)
   .withTags(tags)
   .launch()

}

On Sat, 22 Aug 2020 at 01:34, Sergio Pro <notifications@github.com> wrote:

[2020-08-23 04:24] sksamuel commented on #1643
@DataJpaTest isn't something that Kotest understands. That annotation is probably something spring uses to pre-process tests for JPA.

[2020-08-23 05:11] sksamuel opened #5484 "Add implicit usage for AbstractProjectConfig"

[2020-08-23 05:12] sksamuel commented on #5487
Fixed in latest plugin.

[2020-08-23 05:12] #5487 closed, assigned to nobody

[2020-08-23 05:12] sksamuel commented on #5489
Fixed in latest plugin.

[2020-08-23 05:12] #5489 closed, assigned to nobody

[2020-08-23 05:26] sksamuel commented on #1638
This should be done now. If you spot anything I missed let me know.

[2020-08-23 05:26] #1638 closed, assigned to nobody

[2020-08-23 05:45] sksamuel commented on #5485
I cannot duplicate this. Can you copy n paste the final part of the argument string when you start a test. Should look something like
`io.kotest.engine.launcher.MainKt --spec com.sksamuel.kotest.specs.describe.DescribeSpecBangTest --testpath Foo --writer teamcity`

[2020-08-23 06:23] #5484 closed, assigned to nobody

[2020-08-23 06:24] sksamuel commented on #1642
I've fixed this in master so will be in 4.2.1
I've also updated the plugin so that
[code]

will be marked as used so you won't need the

`@Suppress("unused") // read by reflection`

in future

[2020-08-23 06:38] sksamuel commented on #1641
Fixed in master, 4.2.1 will be released shortly.

[2020-08-23 06:40] sksamuel commented on #1410
We can now use timeouts at a higher level.
We can disable using ! at a higher level.
And tags have always been supported at a higher level.
I think this is good to close.

[2020-08-23 06:40] #1410 closed, assigned to nobody

[2020-08-23 06:42] sksamuel commented on #1388
I'm just wondering why a config option is simpler than doing `if (xx) { }` inside the callback ?

[2020-08-23 06:45] sksamuel commented on #1537
So the only part that I haven't got an immediate answer for, is the syntax for registering the test in a simple way.

Something like this perhaps ?

[code]

Or

[code]

[2020-08-23 06:47] sksamuel commented on #1537
The map would be sufficent, as in

[code]

The `dataTest` method would know to use the key to register a test at the current scope. The name could be forAll possibly, if there's no clash with anything else on a map.

[2020-08-23 09:45] neckbosov commented on #5485
`io.kotest.framework.launcher.LauncherKt --spec lambda.bigsister.server.api.CommonTests --testpath Login/Logout --writer teamcity`

[2020-08-23 13:04] sksamuel commented on #5485
I wonder if the / in the test name is causing issues. Can you rename the
test to Login Logout

On Sun, 23 Aug 2020, 04:45 neckbosov, <notifications@github.com> wrote:

[2020-08-23 13:32] neckbosov commented on #5485
I rename, but it is not working too. `io.kotest.framework.launcher.LauncherKt --spec lambda.bigsister.server.api.CommonTests --testpath LoginLogout --writer teamcity`
Such thing happens also if I try to run a single test in this class: `io.kotest.framework.launcher.LauncherKt --spec lambda.bigsister.server.api.CommonTests --testpath Injection --writer teamcity`

[2020-08-23 15:55] #1530 closed, assigned to nobody

[2020-08-23 15:58] sksamuel commented on #1332
Is this all good in the july version of open9

[2020-08-23 17:23] #1634 closed, assigned to sksamuel

[2020-08-23 17:31] sksamuel commented on #1611
I've found the bug, it seems to be a kotlin issue actually. It throws if you call `.isData` on a KClass that is a java enum. Easy enough to work around though, I will add a fix for 4.2.1

[2020-08-23 17:33] #1611 closed, assigned to sksamuel, LeoColman

[2020-08-23 17:33] sksamuel commented on #1611
Fix in master.

[2020-08-23 17:38] #1644 closed, assigned to nobody

[2020-08-23 17:38] #1622 closed, assigned to nobody

[2020-08-23 17:39] #1637 closed, assigned to nobody

[2020-08-23 17:39] sksamuel commented on #1637
Reopen if you need more help.

[2020-08-23 17:47] sksamuel commented on #5485
The parameters all look correct. I've added more tests for the TestPathTestCaseFilter which is the class that does the work of deciding which tests to run and they all pass fine.
https://github.com/kotest/kotest/commit/098a92789dbb0128bbc786f58d23d45cabcc5af0

Is your build perhaps bringing in an older version of kotest as well ?

[2020-08-23 18:54] sksamuel commented on #1380
I just updated some remaining collections matchers with the better messages. I think I can close this now.

[2020-08-23 18:54] #1380 closed, assigned to nobody

[2020-08-23 19:52] sksamuel commented on #1550
Have you tried KotestTestRunner ?

[2020-08-24 01:59] ninadingole commented on #1636
Will be happy to work on this.

[2020-08-24 02:04] LeoColman commented on #1636
Feel free, @ninadingole! If you have any doubts, please let us know ;)

[2020-08-24 02:26] veluxer62 commented on #1643
Yes, I think so. But I think `SpringListener` should understand `@DataJpaTest`.

In addition, When I write code below.

[code]

It runs without problem.

[2020-08-24 02:30] sksamuel commented on #1643
It probably needs some kind of reset to work on a second test.
We can leave this open as an enhancement.

On Sun, 23 Aug 2020 at 21:26, 남경호 <notifications@github.com> wrote:

[2020-08-24 05:21] sksamuel commented on #1636
You know, if you did

[code]

Then eventually, you would actually generate a valid email :joy:

[2020-08-24 07:08] kharf commented on #5485
I have the same issue. After upgrading to kotest 4.2.0 and plugin 1.1.12-IC-2020.1 and removing the console runner I cannot run a single test in StringSpec.
[code]

[2020-08-24 07:58] zeitlinger commented on #1537
I like the idea - it's easy to understand.

It wouldn't (just checked) - but it could be confused with `forEach`

[2020-08-24 09:07] neckbosov commented on #5485
No, I use only Kotest 4.2.0. With Kotlin 1.3.72, Kotest 4.1.1 and console-runner in older version of my project it works well.

[2020-08-24 11:53] pauli2406 commented on #1643
I have experienced the same problem when using Describe Spec()
The following Code Snippet fails with the same exception @veluxer62 posted before.

[code]

Unfortunately when using describe spec, there is no workaround to avoid this expception. It seems like each layer opens a new transaction or somethin along these lines.

The only way I managed to get it to working was using FreeSpec() instead wi

[2020-08-24 12:43] diklimchuk commented on #1550
Yes, maybe it's not clear in the issue. Kotest 4 requires adding this annotation manually to all specs, which wasn't required before 4th version

[2020-08-24 16:07] sksamuel commented on #1550
But you said,

On kotlintest version 3.4.2 all specs were annotated with @RunWith
<https://github.com/RunWith>(KotlinTestRunner::class)

Isn't the same as now, except you do

On kotlintest version 3.4.2 all specs were annotated with @RunWith
<https://github.com/RunWith>(KotestRunner::class)

?

On Mon, 24 Aug 2020 at 07:44, diklimchuk <notifications@github.com> wrote:

[2020-08-24 16:10] diklimchuk commented on #1550
Yes, it's not the same, maybe it wasn't clear from the message. I was intending to say all _Specs, provided by kotest library_, like BehaviorSpec and FunSpec. Now they are not annotated

[2020-08-24 16:17] sksamuel commented on #1550
I see what you mean.
The specs are multiplatform now so the runner cannot be added directly on
the specs.
Let me see if we can do some trick.
Worst case is we subclass the specs with junit4 specific names, so you
would import io.kotest.junit4.FunSpec rather than the other FunSpec - that
would work.

On Mon, 24 Aug 2020 at 11:11, diklimchuk <notifications@github.com> wrote:

[2020-08-24 16:21] audkar opened #1645 "Publish assertions artifacts for all platforms"
It would be useful to have artifacts for remaining platforms/architectures. I am particularly interested in `linuxArm64` and iosX64/iosArm64

My use-cases for which kotest-assertions could be used:
- I have some small scripts for Raspberry Pi (only linux arm)
- ios only module (`iosX64/iosArm64`)

Probably Kotest assertion modules already compatible with these. Just need to configure gradle build

[2020-08-24 16:23] sksamuel commented on #1645
I think we would just need to add the approrpriate targets into each of the assertion modules ?
Would you like to make a PR?
I can handle the publishing side after.

[2020-08-24 16:26] sksamuel commented on #5485
I've no idea why it's not working for you. Perhaps there's some mismatch in
versions on my end so I don't see the issue.
There is a plugin update that was submitted on friday and I was hoping it
would have been approved today, if not then tomorrow.
Let's try that and see if the issue persists.

On Mon, 24 Aug 2020 at 04:08, neckbosov <notifications@github.com> wrote:

[2020-08-24 16:27] sksamuel commented on #1537
Yeah I suppose it could be, do you have a suggestion for another name?
forRows ?
forValues?
SomethingElseCompeltey.

On Mon, 24 Aug 2020 at 02:58, Gregor Zeitlinger <notifications@github.com>
wrote:

[2020-08-24 16:51] diklimchuk commented on #1550
Ok, thanks. That will work for now

[2020-08-24 17:06] zeitlinger commented on #1537
Something that has "test" in the name, such as tableTest or dataTest.

On Mon, Aug 24, 2020, 18:27 Sam Sam <notifications@github.com> wrote:

[2020-08-24 17:54] audkar commented on #1645
the assertion modules ?

Mostly yes. One module also needs `actual` implementations (don't remember
which one from memory, but it can be copied from existing
`macos/linux/native` target). Ideally that should be refactored to
`sharedNative` SourceSet (same as `desktopSourceSet`).

I could make quick PR tomorrow to address this particular feature.

But... IMHO it would be better to do a little bit r

[2020-08-24 18:19] sksamuel commented on #1645
We already have that if you look at assertions shared or assertions core
module. Just need to add in 2 more targets?

On Mon, 24 Aug 2020, 12:54 Audrius Karosevicius, <notifications@github.com>
wrote:

[2020-08-24 18:31] audkar commented on #1645
I personally would like to have 3 more targets:
iosarmx64,iosx64,linuxarm64. But my suggestion would be to support all
targets. Sooner or later someone else will need something like watchos.

assertions shared and assertions core modules duplicate targets
configuration. Also targets need to be added to their dependencies. Maybe a
good idea would be to extract that long list of targets to separate

[2020-08-24 20:47] sksamuel commented on #1645
I see what you mean.
Just define it in one place, and that's what you want me to do.

On Mon, 24 Aug 2020 at 13:31, Audrius Karosevicius <notifications@github.com>
wrote:

[2020-08-25 03:23] izhangzhihao opened #5483 "no such option: "--reporter""
[code]

[code]

[2020-08-25 04:13] michal-mally commented on #5483
The same happens for me when I try to run the test from IDE.

IntelliJ:
[code]

Kotest plugin: `1.1.14-IC-2020.1`

Kotest dependencies:
[code]

[2020-08-25 04:59] sksamuel commented on #5483
Please revert to the earlier version for now while this is fixed.

On Mon, 24 Aug 2020 at 23:13, Michal Mally <notifications@github.com> wrote:

[2020-08-25 07:08] henrik242 commented on #1641
@sksamuel Is 4.2.1 just around the corner? 😄

[2020-08-25 12:09] JavierSegoviaCordoba commented on #1638
@sksamuel are docs updated? https://github.com/kotest/kotest/blob/master/doc/reference.md

[2020-08-25 13:14] myuwono opened #1646 "Arb flatmap with A -> Arb<B> transformation type"
**Which version of Kotest are you using**

Kotest Version: 4.1.3

The provided flatMap type signature of `fun <A, B> Arb<A>.flatMap(fn: A -> List<B>): Arb<B>` is not exactly very pleasant to use currently. I've been using another flatMap with this signature `fun <A, B> Arb<A>.flatMap(fn: (A) -> Arb<B>): Arb<B>`  in one of our kotlin projects internally. So far it seems to work nicely and doesn't s

[2020-08-25 14:44] ninadingole commented on #1564
@sksamuel yeah I will write a Gen to generate date formatted string in the given formats 😄

[2020-08-25 14:51] sksamuel commented on #1638
Updated with what ?

On Tue, 25 Aug 2020 at 07:09, Javier Segovia Córdoba <
notifications@github.com> wrote:

[2020-08-25 15:28] Coneys commented on #1645
For iOS it would be great to add all 3 targets:
iosX64
iosArm32
iosArm64

I did created few multiplatform libs and I can confirm than if u have assertions in common module, then adding those targets would be enough to publish libs for us to use.

[2020-08-25 22:44] neckbosov commented on #5485
Update does not change situation. Something was broken after 4.2.0.RC2, because Kotest 4.2.0.RC2 works good.

[2020-08-26 10:50] neckbosov commented on #5485
Update: with current version of plugin running single test or context with Kotest 4.2.0.RC2 does not work.

[2020-08-26 10:58] sksamuel commented on #5485
So you're on 1.1.16 plugin now ?

On Wed, 26 Aug 2020 at 05:50, neckbosov <notifications@github.com> wrote:

[2020-08-26 11:06] sksamuel commented on #1646
By using .next() inside the implementation this really boils down to a signature like Arb.<A>.flatMap(f: A -> B) since you are pulling a single value from the arb returned by the function., which is invoked every time.

Yes it would probably work for most arbs, but not for things like Arb.distinct() where each invoking fn() each time would throw away memory of previous values.

Given an Arb is eff

[2020-08-26 11:42] kharf commented on #5485
With kotest 4.2.0 and plugin 1.1.16-IC-2020.1 a single test still executes all tests of a StringSpec for me.

[2020-08-26 11:56] sksamuel commented on #5485
What version of intellij and what os ?

On Wed, 26 Aug 2020 at 06:42, Kevin Fritz <notifications@github.com> wrote:

[2020-08-26 12:00] Obirah commented on #5485
I'm also experiencing problems with the following setup:

- MacOS 10.15.6
- IntelliJ 2020.2.1
- KoTest plugin 1.1.16-IC-2020.1
- KoTest 4.2.0

For any spec or single test I execute from IntelliJ, I get "Test framework quit unexpectedly".

If I downgrade my project to KoTest 4.2.0.RC2, I can at least execute full specs from IntelliJ, but no single specs (this is the known issue 87, I think)

[2020-08-26 12:02] kharf commented on #5485
Intellij 2020.2.1 and manjaro linux

[2020-08-26 12:05] sksamuel commented on #5485
plugin 1.1.16 should work against 4.1.3 4.2.0 and the upcoming 4.2.1

The Test framework quit unexpectedly is sometimes an exception thrown before Kotest gets setup.

[2020-08-26 12:06] sksamuel commented on #5485
Ok I'm on ubuntu and 2020.2.1. I can run individual string specs from here https://github.com/sksamuel/hoplite/blob/master/hoplite-core/src/test/kotlin/com/sksamuel/hoplite/decoder/DataClassDecoderTest.kt

Do you want to clone that project and try that test class? Then we know if it's plugin vs framework issue.

[2020-08-26 12:11] kharf commented on #5485
yea this worked. So this is not a plugin issue, instead it must be indeed on kotest side I suppose?

[2020-08-26 12:15] sksamuel commented on #5485
Great, and I've duplicated the issue in 4.2.0 now.

It works in 4.2.0.556-SNAPSHOT, so will be fixed once I release 4.2.1 (which is happening in the next few hours).

[2020-08-26 12:15] neckbosov commented on #5485
Ok, in this project works, but it uses Kotlin 1.3.72 and Kotest 4.1.3, I use Kotlin 1.4.0 and Kotest 4.2.0. Intellij IDEA Ultimate 2020.2, manjaro linux.

[2020-08-26 12:20] kharf commented on #5485
Yes, but if it still works with the newest plugin version, it means that it is not a plugin issue

[2020-08-26 12:47] neckbosov opened #5482 "ktor-webjars dependency broke Kotest 4.2.0 tests run from plugin"
If I add `ktor-webjars` dependency in my project (only add to `build.gradle.kts`, do not use in code of project), it breaks running tests with message `Test framework quit unexpectedly`. But if I run tests through `./gradlew test` or downgrade Kotest to 4.2.0.RC2 it works correctly. Kotlin 1.4.0, Ktor 1.4.0, Kotest 4.2.0, Intellij IDEA 2020.2.1, manjaro linux

[2020-08-26 13:20] sksamuel commented on #1645
Watchos, Tvos, Ios all added as targets for assertions
LinuxArm can't be supported because of https://github.com/Kotlin/kotlinx.coroutines/issues/855

[2020-08-26 21:36] sksamuel commented on #1642
4.2.1 is released.

[2020-08-26 21:36] #1642 closed, assigned to sksamuel

[2020-08-26 21:36] sksamuel commented on #1641
4.2.1 is released, sorry for the delay.

[2020-08-26 21:36] #1641 closed, assigned to nobody

[2020-08-26 21:41] sksamuel commented on #1645
4.2.1 released with all artifacts for assertions core and shared.

[2020-08-26 21:41] #1645 closed, assigned to nobody

[2020-08-26 21:42] sksamuel commented on #1446
In 4.2.1 the var is public so you can fetch it and register mock methods.
I will add full docs soon.

[2020-08-26 21:48] sksamuel commented on #1330
So the plugin is written by the kotest team and understands arbitrarily nested tests.
The maven / gradle plugins use junit platform, which doesn't.

If you want to try the pre-release kotest gradle plugin you can.

https://plugins.gradle.org/plugin/io.kotest

Just add that to your build and run `./gradlew kotest`
It will only work for JVM builds.

[2020-08-26 22:56] myuwono commented on #1646
Thanks @sksamuel

I was leveraging the initial random seed passed inside of the parent arb for getting a sequence of long values, and then sort of `Arb.bind`-ing them together. I believe it's equivalent to `Arb.bind(arbA, Arb.long()) { a, nextLong -> f(a).next(RandomSeed.seeded(nextLong)) }`. In a sense the experiment is repeatable given a random seed, with uniform sampling of both `a` and `long`.

[2020-08-26 23:09] sksamuel commented on #1646
I'll check scalacheck and quickcheck see what they do.

On Wed, 26 Aug 2020, 17:56 Mitchell Yuwono, <notifications@github.com>
wrote:

[2020-08-27 08:50] neckbosov commented on #5485
Solved in Kotest 4.2.2

[2020-08-27 08:50] #5485 closed, assigned to nobody

[2020-08-27 09:04] Obirah opened #5481 "Running a "FreeSpec" causes "Test framework quit unexpectedly" error"
When I run any "FreeSpec" (no matter if it's nested or not) from IntelliJ (no matter if it's the whole spec or a single test), I get a "Test framework quit unexpectedly" error with the following versions:

OS: MacOS 10.15.6
Java: 14
IntelliJ: 2020.2.1
KoTest: 4.2.2
KoTest Plugin: 1.1.16-IC-2020.1

Running the same "FreeSpec" from gradle works without any problems, so I guess it must have something

[2020-08-27 12:44] joelhess opened #1649 "TestContainers Extention and Spring boot startup timing"
With the new test containers extension, I've declared a couple of containers, and they start up just fine before the spec is ran, but I need to be able to take properties from the started containers (like a port mapping or the hostname) and update config for my spring boot application. I added `@SpringBootTest` on my spec, but BeforeSpec doesn't appear to run before the spring boot application get

[2020-08-27 14:45] sksamuel commented on #5481
Can you paste me the end of the classpath string.
Should look something like this:
io.kotest.engine.launcher.MainKt --spec
com.sksamuel.kotest.assertions.AssertionCounterFreeSpecTest --testpath
container should not need to have an assertion --reporter teamcity

On Thu, 27 Aug 2020 at 04:04, Thomas Krause <notifications@github.com>
wrote:

[2020-08-27 15:50] Obirah commented on #5481
Sure, here you go: `io.kotest.engine.launcher.MainKt --spec de.db.dbcs.dpp.BugSpec --reporter teamcity`

[2020-08-27 17:02] LeoColman commented on #1649
I believe project level or `beforeSpecClass` might guarantee it

[2020-08-27 18:04] sksamuel commented on #5481
That looks fine, shouldn't cause the Test framework quit unexpectedly error.
Are you sure there's no earlier versions of kotest floating about in the
build ?

On Thu, 27 Aug 2020 at 10:50, Thomas Krause <notifications@github.com>
wrote:

[2020-08-27 18:23] #1503 closed, assigned to nobody

[2020-08-27 18:25] sksamuel commented on #1355
There's been some changes in architecture in the 4.2.x releases. Is this still happening on say 4.2.2 ?

[2020-08-27 20:35] swachter opened #1651 "Add Gen.lazy"
It is not clear what the recommended way is for defining recursive generators. Should `Arb.create` be used?

[2020-08-27 21:10] Obirah commented on #5481
Yeah, I'm pretty sure. I did both a `./gradlew clean` and `./gradlew build --refresh-dependencies`. Also deleted the build directory of the project and deleted the IntelliJ run configurations and let them be recreated.

Is there any other spot that requires cleanup I might be missing?

[2020-08-27 21:59] sksamuel commented on #1651
Can you give me an example of what you're trying to do?

[2020-08-27 22:38] sksamuel commented on #1646
Seems scalacheck returns a single value at a time from their Gens, so then they can do flatMap easily.

[2020-08-27 22:48] sksamuel commented on #5481
No, I don't think it's cleanup. This error might happen if your test was
throwing an error at instantiation time.

Can you do something like

class Foo : FreeSpec() {
init {
   "a" - {
      "b" { }
   }
}
}

And see what happens on that test ?

On Thu, 27 Aug 2020 at 16:11, Thomas Krause <notifications@github.com>
wrote:

[2020-08-28 06:17] kharf commented on #5503
for me it works with kotest 4.2.2 and newest intellij plugin version

[2020-08-28 06:28] phanimahesh opened #1652 "Add documentation for retry"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

Useful for writing tests that deal with network, etc, where it may ocassionally fail.

I know that kotest is a unit testing library and this use case should not occour in unit tests, but I use kotest to write some integration tests for the client libraries I publish, and this would be very useful the

[2020-08-28 06:33] swachter commented on #1651
I want to generate an arbitrary JSON structure (using Jackson). JSON arrays/objects can contain JSON arrays/objects.

Background: Microsoft Azure Device Twins do not support arrays and object keys must not contain certain characters. Arbitrary JSON has to be encoded (converting arrays into objects and encoding object keys) and decoded again. That is a perfect fit for properties based testing.

[2020-08-28 07:38] Obirah commented on #5481
This results in the same "Test framework quit unexpectedly" error. Also, it doesn't matter which part of the test I execute - I tried all three possibilities:

`io.kotest.engine.launcher.MainKt --spec de.db.dbcs.dpp.Foo --reporter teamcity`
`io.kotest.engine.launcher.MainKt --spec de.db.dbcs.dpp.Foo --testpath a --reporter teamcity`
`io.kotest.engine.launcher.MainKt --spec de.db.dbcs.dpp.Foo --tes

[2020-08-28 10:19] swachter opened #1653 "`Arb<A>` and `Exhaustive<A>` should be covariant"
`Gen<A>` is covariant but its subclasses aren't. This would improve type inference in some situation and avoid the neccessity of (up)casts.

[2020-08-28 10:40] swachter commented on #1651
I finally implemented my generator as shown below. Generators are now eagerly instantiated which is not a problem because I limited the maximum nesting. In case of much deeper probable nestings, though, a lot more generators would be instantiated eventually yielding to out of memory exceptions.

Maybe that could be avoided by using

[code]

A set of generators for arbitrary JSON structures:

[code

[2020-08-28 11:28] huehnerlady commented on #5481
HI, I have the same problem, I use
intellij 2020.2.1
kotest plugin 1.1.16-IC-2020.1
kotest: 4.2.0
Java 14
kotlin 1.4.0
OS: MacOS 10.15.5

[2020-08-28 11:30] sksamuel commented on #5481
Try 4.2.2 Ruth.

On Fri, 28 Aug 2020, 06:29 Ruth, <notifications@github.com> wrote:

[2020-08-28 11:39] sksamuel commented on #1649
How does the annotation get processed?

[2020-08-28 11:47] huehnerlady commented on #5481
@sksamuel it is as @Obirah says, same problem, with 4.2.0.RC2 it works, from 4.2.0.RC3 upwards it does not work anymore

running with gradle all versions work though, so I agree it seems to be the plugin

[2020-08-28 12:07] huehnerlady opened #5480 "Run single Test with 4.2.0.RC2 causes NoClassDefFoundError"
Hi,

In addition to kotest/kotest#5481 I get the following error when I try to run a single test in a Class:

[code]

Running the whole test class works though.
I included:
[code]

Looking in the core-jvm dependency I can confirm that the class is not present, I can just see `Filter` and `TestFilter`

[2020-08-28 12:19] sksamuel commented on #5480
This is useful thanks. What's the stack trace when you only have 4.2.2 on
your build.

On Fri, 28 Aug 2020, 07:07 Ruth, <notifications@github.com> wrote:

[2020-08-28 12:30] Obirah commented on #5480
I think this is the issue that was already discussed in https://github.com/kotest/kotest/issues/5485.

[2020-08-28 15:17] #1636 closed, assigned to ninadingole

[2020-08-28 16:12] sksamuel commented on #1646
I wonder if we changed Arb to return a single value (in a backwards compatible way) if it would be better because we could do flatmap like scalacheck does it. How would we do distinct in this case.

[2020-08-28 16:13] sksamuel commented on #1652
So something like `attempt(n) { ...}` (or another name)

[2020-08-28 17:06] sksamuel opened #1655 "Remove the annoying executionError extra test in gradle"
**Which version of Kotest are you using** 4.2.2
![image](https://user-images.githubusercontent.com/743706/91594021-cddc0900-e926-11ea-9d29-d78cb2731e93.png)

[2020-08-28 21:43] sksamuel opened #1656 "Add documentation on retry"
Perhaps name this `attempt` ?

See https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1598557090052800?thread_ts=1598557090052800&cid=CT0G9SD7Z

[2020-08-28 22:30] #1655 closed, assigned to sksamuel

[2020-08-28 22:34] sksamuel commented on #1656
Doh we have retry

[2020-08-29 00:15] sksamuel commented on #1652
`retry` is what you want, I forgot we had that. I've updated the docs to explain.
https://github.com/kotest/kotest/blob/master/doc/nondeterministic.md

[2020-08-29 00:15] #1652 closed, assigned to sksamuel

[2020-08-29 00:15] sksamuel commented on #1656
https://github.com/kotest/kotest/blob/master/doc/nondeterministic.md

[2020-08-29 00:15] #1656 closed, assigned to nobody

[2020-08-29 00:16] sksamuel commented on #1550
If you use 4.2.2 then there are versions of each spec in the junit4 namespace, which has this annotation pre-applied.

[2020-08-29 00:16] #1550 closed, assigned to nobody

[2020-08-29 01:30] sksamuel commented on #1653
They are now covariant.

[2020-08-29 01:30] #1653 closed, assigned to nobody

[2020-08-29 01:40] #1352 closed, assigned to nobody

[2020-08-29 03:19] sksamuel commented on #1651
Feel free to close this if you're happy with your solution.

[2020-08-29 06:43] myuwono commented on #1646
Yeah that makes a lot of sense. I needed to use of the single-emission model to make flatMap work.

I believe that'll be nice - still thinking on how we can do that while maintaining backward compatibility because we're pretty entrenched in Sequence at the moment. I like the idea because conceptually `(nextLong: Long) -> Sample<A>` signature would make it more workable to compose. The long values

[2020-08-29 11:28] phanimahesh commented on #1652
@sksamuel Thanks!

[2020-08-29 14:08] #1635 closed, assigned to nobody

[2020-08-29 16:40] sksamuel opened #1658 "Expand ktor matchers to the client libraries"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-08-29 16:54] sksamuel commented on #1446
Documentation added.

[2020-08-29 16:54] #1446 closed, assigned to nobody

[2020-08-29 16:55] #1658 closed, assigned to sksamuel

[2020-08-29 17:05] sksamuel commented on #1646
Seems Scalacheck doesn't do distinct. One way it could be done is to keep state in the arb.

As for backwards compatibility, we can do some something like:

[code]

The prop test code can change to detect if values is implemented by checking for the empty sequence, and if it is not empty, then it will use that. Otherwise, it would use value.

[2020-08-30 03:03] sksamuel opened #1659 "New assertion: shouldNotBeAnyOf(a, b, c)"
eg,

[code]

[2020-08-30 03:04] sksamuel opened #1660 "New assertion: Iterator.shouldHaveNext()"
[code]

[2020-08-30 03:10] sksamuel opened #1661 "New assertions: isEmpty / isDefined for java Optional"
isEmpty / isDefined for java Optional

[2020-08-30 07:47] LeoColman commented on #1659
[code]

We have it :D

[2020-08-30 07:47] #1659 closed, assigned to LeoColman

[2020-08-30 17:43] #1661 closed, assigned to LeoColman

[2020-08-30 17:43] #1660 closed, assigned to nobody

[2020-08-30 17:44] phanimahesh opened #1666 "retry does not accept suspend funs"
**Which version of Kotest are you using**
Kotest version: 4.2.0

`retry(maxRetries, timeout, delay) { ... }` construct is not ergonomic to use since the lambda is defined as `f: () -> T` instead of `f: suspend () -> T`

[2020-08-30 17:51] phanimahesh opened #1667 "retry delay defaults to timeout, and thus will retry exactly once"
**Which version of Kotest are you using**
4.2.0

https://github.com/kotest/kotest/blob/2458fbea1d0fab105c80c95492e094fa197aff55/kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/Retry.kt#L16-L22
`retry` is defined with a default `delay` of `timeout`, which means it will wait `timeout` duration between retries, _and_ will timeout after `timeout` duration has pass

[2020-08-30 18:43] phanimahesh opened #1668 "Allow flaky tests that ignore failures"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

I have a test that fails quite frequently. I would still like to run it every time, but not fail my test suite if it fails. I don't think there's a way to implement this currently in kotest.

[2020-08-30 19:34] LeoColman commented on #1668
Some thing like

[code]

should lead to a successful execution?

[2020-08-30 19:36] phanimahesh commented on #1668
Yes, that is exactly what I'm suggesting.

On Mon, 31 Aug 2020 at 01:04, Leonardo Colman <notifications@github.com>
wrote:

[2020-08-30 19:41] LeoColman commented on #1668
I think it can be a little bit confusing.
If the execution result is a failure, should we mark the test as Ignored? Should we mark it as Successful?

And when looking at a test report, would a success mean it passed or failed? I'm not completely sure how this could work

[2020-08-30 19:43] phanimahesh commented on #1668
The test should be marked as successful if it succeeded, or ignored if it
failed.

This way, a success would mean it was successful, and ignored can be
interpreted as "ignored due to allowed failure"

On Mon, 31 Aug 2020 at 01:11, Leonardo Colman <notifications@github.com>
wrote:

[2020-08-30 19:46] LeoColman commented on #1666
Nice catch!

[2020-08-30 20:11] #1666 closed, assigned to nobody

[2020-08-30 20:58] #1667 closed, assigned to nobody

[2020-08-30 20:59] sksamuel commented on #1668
What's the use in a test that if it fails it will just be ignored anyway.

I would say fix the flakiness or use retry so that it will pass.

[2020-08-30 21:04] LeoColman commented on #1668
An alternative is to create an extension that will set the status to ignore if it fails.
I would like to discuss whether this is something we trully want to support, as it can become messy

[2020-08-30 21:05] LeoColman commented on #1668
In Kotest we have an extension that does exactly that
[code]
but we use it to assert that specs fail as we intended

[2020-08-30 21:08] LeoColman commented on #1668
I think that something like:

1. It's an integration test that pings a specific and real service
2. The service returns an error, but we didn't touch our implementation to call it

In that case, it's ok for the test to fail.

But idk, it's not a good enough usecase to justify this feature

[2020-08-30 22:44] sksamuel commented on #1668
I understand why a test might sometimes fail but if you're going to let the
test plan pass anyway what's the point.

On Sun, 30 Aug 2020, 16:08 Leonardo Colman, <notifications@github.com>
wrote:

[2020-08-31 03:46] RBusarow opened #1671 "Set to Set comparisons have poor performance in 4.2.x"
`someSet shouldBe someOtherSet` scales poorly as of 4.2.0.

This also affects Map comparisons, since one of the first steps is comparing their key sets.

Take this assertion:

[code]

On my machine, it takes about 80 seconds to complete.

This is because the comparison is being done via linear search for each individual element, which I believe means it's n^2 complexity [source](https://github.com

[2020-08-31 04:01] #1671 closed, assigned to nobody

[2020-08-31 04:07] phanimahesh commented on #1668
The idea is to keep it running rather than completely disabling it. If I
disable the test it will not run at all, and it may get completely ignored
by the developer as well. If I mark it as flaky (possibly with an exception
whitelist), then the tests do get run, are visible to anyone looking at the
logs, and the executions provide data on how flaky the test is, and can
help in fixing that up prope

[2020-08-31 07:43] swachter commented on #1651
I am happy with my solution. However, I wonder if some documentation would be helpful. It took me several hours figuring out and I am still unsure, if ˋArb.createˋ would have been the right path for more deeply nested structures.

[2020-08-31 09:24] LeoColman commented on #1651
If ypu could write this on the docs, I don't see any problems with it.

If you want to, create a dummy use case and go for it :)

/open

On Mon., Aug. 31, 2020, 04:43 Stefan Wachter, <notifications@github.com>
wrote:

[2020-08-31 10:28] huehnerlady commented on #5481
@sksamuel will this be fixed soon? This is a very very irritating error...

[2020-08-31 16:26] crazyk2 opened #1673 "Comma?"
https://github.com/kotest/kotest/blob/ae23fbeff7529c7666b0d83035221d67b32bcf1b/kotest-runner/kotest-runner-junit5/src/jvmMain/kotlin/io/kotest/runner/junit/platform/JUnitTestEngineListener.kt#L71

[2020-08-31 16:29] sksamuel commented on #1673
What about it ?

On Mon, 31 Aug 2020 at 11:27, crazyk2 <notifications@github.com> wrote:

[2020-08-31 17:13] LeoColman commented on #1673
It's ok, @crazyk2.
That seems odd because [until kotlin 1.4.0](https://kotlinlang.org/docs/reference/whatsnew14.html#trailing-comma) trailling commas weren't available.

The code compiles fine :)

[2020-08-31 23:59] sksamuel commented on #1668
The developer can ignore it if it runs and the build doesn't fail. I see your point but I don't think it is core functionality in Kotest.

You can achieve this by adding a TestCaseExtension that converts a Failure with a certain exception type into another result type. As leo says, we do this ourselves in Kotest's own test suite.

[2020-09-01 08:26] #1673 closed, assigned to nobody

[2020-09-01 09:02] sksamuel commented on #5483
Can you confirm you are all good on the latest plugin and 4.2.3 ?

[2020-09-01 09:03] #5503 closed, assigned to sksamuel

[2020-09-01 09:03] sksamuel commented on #5514
I think this only happens for kotest tests itself, because we strip out io.kotest from stack traces, which of course breaks things inside kotest itself.

[2020-09-01 09:11] michal-mally commented on #5483
Works for me 👍  Thank you.

[2020-09-01 09:22] sksamuel opened #1675 "Move klock assertions out to a new repo"
There is no reason to have klock matchers be in the main repo. They are not tied into the kotest release cycle.

[2020-09-01 09:22] sksamuel opened #1676 "Move JSoup matchers to a new repo"
There is no reason to have JSoup matchers be in the main repo. They are not tied into the kotest release cycle.

[2020-09-01 09:23] sksamuel opened #1677 "Move konform matchers to a new repo"
There is no reason to have Konform matchers be in the main repo. They are not tied into the kotest release cycle.

[2020-09-01 09:23] sksamuel opened #1678 "Move compiler matchers to a new repo"
There is no reason to have compiler matchers be in the main repo. They are not tied into the kotest release cycle.

[2020-09-01 09:35] ashishkujoy commented on #5514
In that case I think we can close this issue.

[2020-09-01 09:51] phanimahesh commented on #1668
that sounds reasonable. I'm doing something similar to your test suite to
ignore some exceptions entirely.

Thanks, this can be closed.

On Tue, 1 Sep, 2020, 5:29 am Sam Sam, <notifications@github.com> wrote:

[2020-09-01 09:59] #5483 closed, assigned to nobody

[2020-09-01 09:59] #1668 closed, assigned to nobody

[2020-09-01 09:59] #5514 closed, assigned to nobody

[2020-09-01 12:04] crazyk2 commented on #1673
Ok and compiles but why?

[2020-09-01 12:07] sksamuel commented on #1673
https://kotlinlang.org/docs/reference/whatsnew14.html#trailing-comma

On Tue, 1 Sep 2020 at 07:04, crazyk2 <notifications@github.com> wrote:

[2020-09-01 12:19] crazyk2 commented on #1673
I read this but there only two parameters and I don't think that size will increase.

If it was a data class with 3+ parameters, that would be appropriate

[2020-09-01 12:22] sksamuel commented on #1673
I don't think it matters.

On Tue, 1 Sep 2020 at 07:19, crazyk2 <notifications@github.com> wrote:

[2020-09-01 12:28] huehnerlady commented on #5481
@Obirah can you try 4.2.3?
Just came out moments ago. I tried it and so far I do not have that problem anymore :)

[2020-09-01 12:39] sksamuel opened #1679 "Add property test gens for kotlinx datetime"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-01 13:19] Obirah commented on #5481
Ah cool, everything works, yes. Thank you for the information. :)

[2020-09-01 13:19] #5481 closed, assigned to nobody

[2020-09-01 13:36] sksamuel commented on #5481
Yay.

On Tue, 1 Sep 2020 at 08:19, Thomas Krause <notifications@github.com> wrote:

[2020-09-01 16:33] ashishkujoy commented on #1677
@sksamuel Should we also consider creating a GitHub template so that in future adding another module will be easy and consistent.

[2020-09-01 16:34] sksamuel commented on #1677
Excellent idea.

[2020-09-01 18:36] DanySK commented on #1630
I confirm the issue is gone.
Contextually, I want to amend my previous post, in fact *there is* a way in Gradle to filter repository use by configuration:
[code]
I have not tried on an older version of Kotest to se if it works in this case, but it does for Dokka and Detekt.

Thanks

[2020-09-02 04:27] #1591 closed, assigned to nobody

[2020-09-02 19:26] neckbosov commented on #5482
Solved in Kotest 4.2.3

[2020-09-02 19:26] #5482 closed, assigned to nobody

[2020-09-03 02:18] sksamuel opened #1683 "EnabledIf annotation for specs"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-03 02:23] sksamuel commented on #1649
Can you provide a dummy example of how you are taking the properties from the container and passing them to the spring boot application, so I can see how the lifecycle needs to work.  @joelhess

[2020-09-03 14:55] #1643 closed, assigned to nobody

[2020-09-03 14:56] sksamuel commented on #1643
Fix in master.
Once 4.2.4 is released this will only invoke the spring annotation magic at the leaf test level.
You can make it work like it is now (so broken for some scenarios) by
`listener(SpringTestListener(SpringTestLifecycleMode.Root))`

[2020-09-04 02:14] sksamuel opened #1685 "JUnit does not scale with number of tests"
Eg,

[code]

[2020-09-04 02:47] #1685 closed, assigned to sksamuel

[2020-09-04 03:23] ashishkujoy commented on #1330
Fixed in master by #1655

[2020-09-04 03:23] #1330 closed, assigned to nobody

[2020-09-04 04:37] sksamuel opened #1686 "Duplicated test name exception should include test name"
**Which version of Kotest are you using**

[2020-09-04 04:38] #1686 closed, assigned to sksamuel

[2020-09-04 04:38] sksamuel commented on #1686
Fixed in master.

[2020-09-04 04:40] snowe2010 commented on #1686
That was quick! 🚀

[2020-09-05 02:12] #1683 closed, assigned to LeoColman

[2020-09-05 13:58] #1679 closed, assigned to sksamuel

[2020-09-05 14:14] sksamuel commented on #1332
0.21.0 of OpenJ9 has been released.

[2020-09-05 14:14] #1332 closed, assigned to nobody

[2020-09-05 17:07] sksamuel commented on #823
Added in master.

[2020-09-05 17:07] #823 closed, assigned to sksamuel

[2020-09-06 01:59] sksamuel commented on #1537
In the branch feature/dd I have this working:

[code]

Using the name rollup (can be anything), it will register each data class as a separate test (using the to string output of the data class).

![image](https://user-images.githubusercontent.com/743706/92316518-bfdb5780-efba-11ea-9373-6b776b4476dc.png)

[2020-09-06 17:33] sksamuel opened #1694 "Add assertions for pairs and triples"
pair.shouldBe(a,b)
pair.shouldHaveFirst(a)
pair.shouldHaveSecond(b)

same for triples.

[2020-09-06 17:34] sksamuel opened #1695 "Update result assertions to use contracts"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-06 17:35] sksamuel opened #1696 "New assertions: File/Path.shouldHaveNameWithoutExtension"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-06 17:38] sksamuel opened #1697 "New map assertions"
Map.shouldContainAnyKeyOf(a,b,...) // contains one of more of the keys
Map.shouldContainAnyValueOf(a, b, ...) // contains one or more of the values

[2020-09-06 17:40] #1678 closed, assigned to nobody

[2020-09-06 17:51] sksamuel opened #1698 "Add project website"
I've always been a fan of simple github markdown pages. They are trivially easy to edit, and I think the default formatting is easy to read.

The downside is that they're not indexed by google due to github's robots.txt file. So when you search google for "kotest assert softly" for example, our own documentation does not appear.

[2020-09-07 01:40] LeoColman commented on #1696
I would shorten this to `shouldHaveExtension` + `shouldNotHaveExtension`, what do you think?

[2020-09-07 01:41] LeoColman commented on #1694
I really thought we had this!

[2020-09-07 01:50] sksamuel commented on #1696
Different semantics.

"myfile.json".shouldHaveNameWithoutExt("myfile")

On Sun, 6 Sep 2020, 20:40 Leonardo Colman, <notifications@github.com> wrote:

[2020-09-07 01:52] LeoColman commented on #1696
Ah, I thought it was supposed to be
[code]

[2020-09-07 03:31] #5480 closed, assigned to nobody

[2020-09-07 03:31] sksamuel commented on #5480
Confirmed working on slack with @huehnerlady

[2020-09-07 05:39] myuwono opened #1700 "Combinatorial edgecases for Arb.flatMap and Arb.bind"
Unlike, (for instance) `Arb.tuple()`*, `Arb.bind` don't currently take permutations of edgecases. `Arb.bind` instead is taking a linear combination of edgecases which will miss many combinatorial checks. With the single emission model, it is now possible to compute exhaustive edgecase.

*note in triple, the edgecases will actually also dissipate if any of the list is empty.

In addition to that, f

[2020-09-07 06:27] myuwono commented on #1646
fixed via #1688

[2020-09-07 06:27] #1646 closed, assigned to nobody

[2020-09-07 06:29] myuwono opened #1701 "Arb.distinct() does not resolve for take(n) where n > number of distinct items"
because internally it calls sequence.distinct on an Arbitrary which is guaranteed to yield an infinite sequence.

[2020-09-07 06:42] sksamuel commented on #1701
This ?

[code]

Returns another sequence from the source sequence.

[2020-09-07 07:43] myuwono commented on #1701
yeah that's correct. The minimal code to reproduce this are:

[code]

and
[code]

[2020-09-07 07:52] myuwono commented on #1701
under the hood, `Sequence<A>.distinct()` has this `while(iterator.hasNext())` condition, which will always return true for infinite sequence.  https://github.com/JetBrains/kotlin/blob/36984009e908b923548098ba887a230fc6885965/libraries/stdlib/src/kotlin/collections/Sequences.kt#L570

which mean the only way we can safely use `distinct()` is when we know the number of distincts a-priori.

[2020-09-07 08:25] zeitlinger commented on #1537
I like the design :+1:

1. it starts with what you're trying to do (`rollup` - a data test) instead of an extension method
2. I like that you can now decide if you want to give the test a name - it has proven to be very valuable for maintainable code, but people should decide for themselves
3. with this design, it should be possible to use `forAll`, as in the other data tests (not exactly sure abo

[2020-09-07 15:50] sksamuel commented on #1701
With take after distinct yes, but that's expected and documented. This will do the same:

[code]

[2020-09-07 16:32] coreORB opened #5479 "Command line is too long"
Android Studio version: 4.0.1 (based probably on Intellij 2019.3.3)
kotest version: 4.2.3
kotest plugin version: 1.1.16-IC-2019.3

Then I try to run any test in my main bigger project, I'm getting the error:
![obraz](https://user-images.githubusercontent.com/6077897/92406131-854af980-f137-11ea-8c62-c52da7330c30.png)

I've tried doing same thing on newly created project and it's working as expected

[2020-09-07 16:38] sksamuel commented on #5479
Can you show me the command line? I wonder if your classpath is huge.
If you need to obfuscate you can.

On Mon, 7 Sep 2020 at 11:33, Rafal <notifications@github.com> wrote:

[2020-09-07 17:17] coreORB commented on #5479
It's not showing any output in run window. I've tried to google where to view it, but no luck.
Could you tell me where I can find it?

[2020-09-07 17:21] sksamuel commented on #5479
Does it work if you choose the shorten option?

On Mon, 7 Sep 2020, 12:18 Rafal, <notifications@github.com> wrote:

[2020-09-07 17:24] sksamuel commented on #1537
The problem with using forAll is that this method accepts a T and so
literally accepts any type. It might clash with prop tests.

Rollup or something like that indicates you want each object to be
generated as a separate test.

Perhaps two names. One for adding each obj as a test and one for not.

As for addTest. That's just an internal thing that the user won't see.

On Mon, 7 Sep 2020, 03:25 Gre

[2020-09-07 18:00] MiSikora opened #1703 "Loosen nullability on Result matchers"
Currently all failure `Result` matchers are defined on `Result<Any>`. This makes it impossible to use them when expected type is `Result<T?>`. This is backwards compatible as it loosens the type.

https://github.com/kotest/kotest/blob/4354170a27d06583477b7ea974bcc537f39cd48c/kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/result/matchers.kt#L43-L50

https://github

[2020-09-07 19:04] zeitlinger commented on #1537
Just tried it out on the branch.

`forAll` works for both - if you use both in the same method, it looks like this:

[code]

Still, `forAll` is my favorite, something like `dataTeest` second. I don't think `rollup` is intuitive.

Also don't like to have different names - only makes it harder to understand.

[2020-09-07 19:12] sksamuel commented on #1537
I agree forAll is better. We can use that. Need some way of doing it
without adding in the test names though.

On Mon, 7 Sep 2020, 14:04 Gregor Zeitlinger, <notifications@github.com>
wrote:

[2020-09-07 19:36] coreORB commented on #5479
This option is not available for me for Kotest:
![obraz](https://user-images.githubusercontent.com/6077897/92413823-25158100-f152-11ea-8b9f-f256d610d1cc.png)

but it is for JUnit:
![obraz](https://user-images.githubusercontent.com/6077897/92413875-59893d00-f152-11ea-9aef-d0b432d12b73.png)

[2020-09-07 23:54] #1703 closed, assigned to nobody

[2020-09-08 01:26] #1698 closed, assigned to sksamuel

[2020-09-08 01:27] sksamuel commented on #1698
Done. https://kotest.io

[2020-09-08 06:00] myuwono commented on #1701
I'm wondering if that behaviour is expected for Arbs?

[2020-09-08 06:19] sksamuel commented on #1701
It's not ideal, but I guess if the std lib suffers from the same issue, what can do we.

[2020-09-08 06:23] sksamuel opened #1705 "BigDecimal arbitrary"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-08 06:31] sksamuel opened #1706 "Add char exhaustive"
**Please describe the feature you'd like to see including any solutions in mind if you have any**

[2020-09-08 06:38] #1706 closed, assigned to nobody

[2020-09-08 09:12] benkuly commented on #1649
An example, how Spring works with TestContainers and properties:

[code]
From: https://docs.spring.io/spring-data/neo4j/docs/6.0.0-M2/reference/html/#dataneo4jtest

It would be awesome if something like this is possible with kotest.

[2020-09-08 10:43] mtraynham opened #1707 "4.2.X Eq and IterableEq performance"
**Which version of Kotest are you using**
4.2.3

I recently upgraded from 4.1.3 to 4.2.3 and noticed a huge degradation in the testing runtime, probably a 5x slowdown from 1 minute to about 5 minutes for 4000+ tests.  I also noticed that in some cases I'm getting a stack overflow thrown out of IterableEq.

I do have a lot of `shouldBe` tests scattered through out the codebase, and many of these te

[2020-09-08 14:04] sksamuel commented on #1707
This is fixed in master, I will push out 4.2.4 by eod.

On Tue, 8 Sep 2020 at 05:44, Matt Traynham <notifications@github.com> wrote:

[2020-09-08 14:23] sksamuel commented on #1649
Can you explain dynamic property source briefly ? I'm not super
familiar with spring.

On Tue, 8 Sep 2020 at 04:12, benkuly <notifications@github.com> wrote:

[2020-09-08 15:30] benkuly commented on #1649
[@DynamicPropertySource](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/test/context/DynamicPropertySource.html) is an annotation, which allows you to inject properties for spring at runtime. In the example above the driver-uri, which is needed to connect to the neo4j database isn't known when the test started but after the neo4j database container started.

[2020-09-08 21:15] gchallen opened #5478 "IntelliJ Gradle Testing Support"
kotest version 4.2.3. Latest version of IntelliJ IDEA CE.

I just recently updated to kotest from kotlintest. In the past, IntelliJ was able to at least identify entire kotlintest `StringSpec` blocks as tests. You could then use `f:` focusing to pick out individual tests to run, even if (IIRC) IntelliJ couldn't identify individual tests within the spec.

Since the upgrade to `kotest` there is no o

[2020-09-08 21:18] sksamuel commented on #5478
Do you mean you don't see the individual green play icons for each test ?

[2020-09-08 21:26] gchallen commented on #5478
I don't see them for individual tests, no. But I don't remember if that ever worked. What I really miss is the green icon next to the suite, since individual tests could then be focused.

To try and be as specific as possible, in the past clicking the green play icon at the top of the test spec would create a temporary Gradle run configuration configured to run tests in that project and with somet

[2020-09-08 21:32] sksamuel commented on #5478
Yes, it won't create a gradle configuration for you (that could be added
since you need some gradle config applied?), but you should see a green
icon for the spec (class) and every test (nested or otherwise). Then you
don't even focus because you can just run the one you want directly.

This indicates to me the plugin is broken / not installed properly if
you're not seeing any green icons.

On Tue

[2020-09-08 21:36] gchallen commented on #5478
Ah, sorry. I'm not using the plugin. When I installed it worked as you describe. But the tests aren't run using Gradle. That's a requirement for me, since a have test-specific configuration in the Gradle files and don't want to have to sync it with internal IntelliJ configuration.

[2020-09-08 21:40] gchallen commented on #5478
FWIW, I never used the plugin in the past. I tried it after upgrading to `kotest` to see if it would help, but again, it doesn't reproduce the prior behavior. That said, the plugin's behavior may not have changed, but rather the ability of IntelliJ to identify tests _without_ the plugin installed.

[2020-09-08 21:45] sksamuel commented on #5478
Because of the existence of the plugin now, Kotest no longer has to piggy
back on junit support in the IDE by pretending to be JUnit.
I will see how quickly we can add the gradle run option that you're using
from the junit plugin that ships with the IDE.

On Tue, 8 Sep 2020 at 16:40, Geoffrey Challen <notifications@github.com>
wrote:

[2020-09-08 21:48] gchallen commented on #5478
Makes sense. Thanks! Alternatively, if Gradle support could be added to the plugin that would also be awesome. I have no objects to the plugin, it just doesn't do what I need it to do :-).

[2020-09-08 22:01] sksamuel commented on #5478
Yeah it would be in the plugin. It would show two options like it did
previously (I assume you see the gradle icon and the junit icon)

On Tue, 8 Sep 2020 at 16:48, Geoffrey Challen <notifications@github.com>
wrote:

[2020-09-09 06:19] sksamuel commented on #1707
Actually that was included in 4.2.3 so perhaps it's not the same issue.

On Tue, 8 Sep 2020 at 09:04, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2020-09-09 06:31] sksamuel commented on #1707
Can you try 4.2.4 ?

[2020-09-09 07:42] anton46 commented on #1637
Hey @sksamuel, sorry if before the information is not enough to understand.
I have created a repo that contains mixed a pure Junit test & kotest that you can see here https://github.com/anton46/mixedkotestproject.

1. Pure jUnit should always fail.
https://github.com/anton46/mixedkotestproject/blob/master/app/src/test/java/com/example/mixed_kotest_project/PlainJUnitTest.kt
[code]

2. kotest should

[2020-09-09 07:43] anton46 opened #1709 "Other non-kotest are excluded from executions [2]"
I reopened this issue https://github.com/kotest/kotest/issues/1637 with a new example project.

**4.1.2**

Hey @sksamuel, sorry if before the information is not enough to understand.
I have created a repo that contains mixed a pure Junit test & kotest that you can see here https://github.com/anton46/mixedkotestproject.

1. Pure jUnit should always fail.
https://github.com/anton46/mixedkotestprojec