[2022-08-13 20:47] progresivoJS commented on #3155
I look through data-driven testing, and found some facts.

1. `forAll` style data-driven style is obsolete, and `withData` style was introducted after 4.5.0.
2. I cannot use `withData` style, because I currently use `AnnotationSpec`.
3. With `withData`, the same problem occurs.

[2022-08-14 01:05] yongjoon-km commented on #3155
How about using [PropTestListener](https://kotest.io/docs/proptest/property-test-config.html#proptestlistener) ?

[2022-08-15 13:45] progresivoJS commented on #3155
I wish I want.
On my comprehension, [driven-driven testing](https://kotest.io/docs/framework/datatesting/data-driven-testing.html) and [property testing](https://kotest.io/docs/proptest/property-based-testing.html) is different feature in Kotest.

Is there any same thing with `PropTestListener` in data-driven testing ?

[2022-08-15 17:08] aSemy opened #3161 "Add option to ignore differences in line endings during string comparison, so tests are not OS dependent"
When writing tests that verify multi-line strings, for example file contents, it's common to use Kotest string assertions. However these tests are highly sensitive to line endings.

This assertion will pass on Unix, and fail on Windows:

https://github.com/kotest/kotest/blob/a7195a4d1c4a0d9e20526bc336338d394e028003/kotest-framework/kotest-framework-multiplatform-plugin-gradle/src/test/kotlin/io/ko

[2022-08-15 20:36] Kantis commented on #3161
I'm not sure if this is something Kotest should be concerned with?

In our case (with the gradle plugin spec), I think it's a [gitattribute](https://github.com/kotest/kotest/blob/master/.gitattributes#L1) which forces LF line-endings even on Windows. Just having auto would probably have avoided this?
https://github.com/kotest/kotest/blob/master/.gitattributes#L1

btw, how did you manage to inline

[2022-08-15 20:45] aSemy commented on #3161
Fair enough - it's not required, and there are workarounds. It's just annoying when tests depend on the machine they're run on, and the original author might not realise until later.

Other libraries provide workarounds https://github.com/assertj/assertj/issues/818

In the example test I provided, the file `testReportFile` isn't checked into Git - it's a Gradle report xml under the build-directory

[2022-08-15 21:04] Kantis commented on #3161
I agree, that should not be the case. I wonder why our Windows CI builds hasn't detected this failure. 🤔

I got that. I think that Gradle realizes it's running on Windows and uses CRLF (`actual`) while Git has forced your checked out code to use LF (where the `expected` is defined). Using `auto` should check out the code to use CRLF on windows, and convert it to LF when checking in.

If we go back

[2022-08-15 21:17] aSemy commented on #3161
Ah yes, that explains it!

Sounds good!

Here's another idea: use a 'builder' style function.

[code]

The example usage is pretty nice:

[code]

[2022-08-16 08:11] kboyarshinov commented on #3060
@charleskorn Yes, issue has been fixed. Thank you.

[2022-08-16 11:07] sksamuel commented on #3161
I like the global setting option because you're likely to want to set it in one place.

[2022-08-16 11:07] sksamuel commented on #3155
data-driven-testing gets mapped to actual tests, so you can use the regular beforeTest {} callback.
But not in annotation-spec.

[2022-08-16 12:43] progresivoJS commented on #3155
As you mentioned, I solved this problem, with `ShouldSpec` and `withData`, but not with `forAll`.
I think this detail should be mentioned in documentations.

[code]

[2022-08-16 16:53] #3144 closed, assigned to Kantis

[2022-08-17 08:47] #3146 closed, assigned to nobody

[2022-08-17 13:57] jlous opened #3170 "shouldBe() / shouldNotBe() don't chain"
kotest 5.4.2

I'm testing some mapping and transformation code, and sometimes there can be some benefits to asserting against external test data in stead of hardcoded inline constants. But this carries the risk that the test data may be incomplete, outdated or corrupted, and you end up with a test that looks god but actually compares null to null, which might pass even if the relevant mapping code

[2022-08-17 23:34] charleskorn commented on #3137
Could you please try with Kotest 5.4.2? This issue should be fixed in that version.

[2022-08-18 05:13] #3153 closed, assigned to nobody

[2022-08-20 12:15] juh9870 opened #3173 "Compilation for kotlin/native and kotlin/js fails with kotlin 1.7.20 and kotest 5.4.2"
**Which version of Kotest are you using** - 5.4.2

I'm getting the following issue when tyrying to compile for js or native targets:
[code]
 This error appeared after I added kotest to `scrapyard-utils` module

Repository:
https://gitfront.io/r/juh9870/wzWHt7gwZ73c/match3kt/

[2022-08-22 16:15] ghost commented on #3173
I can reproduce. However, downgrading to Kotlin 1.7.10 seems to make it work perfectly

[2022-08-22 22:09] juh9870 commented on #3173
Yes, it works on 1.7.10, but I use it for unit tests for my KorGE tests, and KorGE requires 1.7.20, so I can't run both atm. I've temporary disabled client part and rolled back to 1.7.10, but that's not a long-term solution

[2022-08-23 08:53] theHacker commented on #5406
When reporting something, I include all I have:
- stacktrace
- what version (plugin, IntelliJ)
- how to reproduce (bullet point list, if I have concrete steps)
- all other things I noticed

For example: https://github.com/kotest/kotest/issues/5418

If you don't report the same/similar exception multiple times, I would assume nobody will consider that spamming 😄
With IntelliJ stacktraces look close

[2022-08-23 08:56] theHacker commented on #5418
I haven't seen the issue since. Maybe close this issue here?

[2022-08-23 11:57] #5418 closed, assigned to nobody

[2022-08-24 12:15] CheshenkoVladislav commented on #3148
i have same problem :(

[2022-08-24 12:28] AlexSkvor commented on #3148
Faced this too, hirts

[2022-08-25 03:09] sksamuel commented on #3145
Ok we can close this, seems I was just being a muppet.

[2022-08-25 03:09] #3145 closed, assigned to nobody

[2022-08-25 03:11] sksamuel commented on #3143
You shouldn't nest And inside Then because Then is a final state scope. This will probably break in a future release.

[2022-08-25 03:12] sksamuel commented on #3141
The Javascript test runners don't support promises at the outer layer.

Eg in mocha,

[code]

Therefore we cannot use coroutines anywhere but the final scope. Since kotest supports coroutines at every layer, the only way to make it work in JS land is to support flat tests only. Unless you can find a JS test runner that supports promises at every level of nesting.

The alternative would be to chang

[2022-08-25 04:02] sksamuel commented on #3148
`withData` is meant to be your test scope. You don't need to add further nests inside it.
It's not really meant for use with something as structured as given when then.
In that case, just put a for loop instead of the with data, and use the values from the loop in your test names.

[2022-08-25 05:57] nsk90 commented on #3148
Ok, thank you for reply. But what about second overload for usage inside a scope?

[2022-08-25 20:26] Kantis commented on #3143
This is already _not working_ since sam [fixed](https://github.com/kotest/kotest/commit/e33631f1cc3032a54d876ce3e44953bbe268ca6c) runtime-retention of DSL annotation in 5.4.0

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/316857/186763242-1b73af96-b47b-47c0-a71b-4f62af2e4736.png">

[2022-08-26 15:23] i-walker opened #3176 "kotest artefacts for watchosX86 5.4.2 isn't published"
the latest artefact for kotest-assertions-core-watchosx86 is 5.4.1
https://search.maven.org/artifact/io.kotest/kotest-assertions-core-watchosx86/5.4.1/klib

Expected behaviour:
5.4.2 should exist too

[2022-08-26 20:57] #3143 closed, assigned to nobody

[2022-08-26 20:59] Kantis commented on #3176
Fixed, https://repo1.maven.org/maven2/io/kotest/kotest-assertions-api-watchosx86/5.4.2/

[2022-08-26 20:59] #3176 closed, assigned to nobody

[2022-08-27 07:03] jmfayard opened #3179 "Read/write Table data to a file format maybe CSV"
Table testing is nice

[code]

The issue is my table contains 1000+ rows currently so I'm reinventing the wheel on how to read it from a text file / write it to a text file https://github.com/jmfayard/refreshVersions/blob/main/plugins/dependencies/src/test/resources/dependencies-mapping-validated.txt

It would be really useful to have a simple way to read that data from a (CSV?) file

`fun File.re

[2022-08-27 07:58] nikunjy commented on #2416
Hey thanks for writing that @sksamuel
I wrote a test
[code]

I am able to run this speific package, and class and spec using the launcher. For example I can do
[code]
And this works but how can I run the subtest let's say `test1/testA`. What args should I pass

[2022-08-27 08:34] jmfayard opened #3180 "regex.shouldMatchAll(validInputs).shouldNotMatchAny(invalidInputs)"
Bonjour,

The famous quote correspond to an experience that has been too often true (I've programmed in Perl long ago).
But saying that Regex are bad per se is dogmatic and wrong.
Instead I have a rule that regex are one of the possible way to parse data, and that there can be accepted **if and only if they come with the corresponding unit tests**

kotest does not have any Regex-related assertions

[2022-08-27 13:56] jaehyunup opened #3183 "We need a function to compare if the time is close. like shouldBeCloseTo()"
Hello bro, I'm a developer fascinated by the power of kotest.

PR - [#3181 ](https://github.com/kotest/kotest/pull/3181)
i request the addition of the "shouldCloseTo" function, inspired by "closeTo" provided by various matcher libraries such as "hamcrest" and "assertj".

The newly added Instant::shouldCloseTo function is to check that value and otherInstant are as close as the developer expected.

[2022-08-27 14:00] jaehyunup opened #3184 "Instant::shouldNotBeBetween comment was written incorrectly"
Instant::shouldNotBeBetween comment was written incorrectly.

PR - [#3182 ](https://github.com/kotest/kotest/pull/3182)

**[as-is]**
[code]

**[to-be]**
[code]

[2022-08-28 04:33] sksamuel commented on #2416
`--testpath test1 -- testA`

the -- is our delimiter between nested tests.

[2022-08-28 06:55] jaehyunup commented on #3184
merge this pull request [#3182](https://github.com/kotest/kotest/pull/3182)

[2022-08-28 06:55] #3184 closed, assigned to nobody

[2022-08-28 07:01] sksamuel commented on #3180
Kotest has shouldMatch, shouldNotMatch, shouldContain and shouldNotContain, all of which accept Regex versions.

[2022-08-28 07:03] sksamuel commented on #3180
I think what we are missing is the the same thing with the parameters flipped, so:

`Regex.shouldMatch(str)`
`Regex.shouldNotMatch(str)`
`Regex.shouldMatchAll(strs)`
`Regex.shouldMatchNone(str)`

And a group extractor might be good.

`Regex.shouldMatchWithGroups(str, g1, g2)` or something ?

[2022-08-28 07:31] jmfayard commented on #3180
Good to know!

I think so too:

When using `person.uuid shouldMatch uuidRegex,` it feels like I am testing my **string** "person.uuid"

When using `uuidRegex.shouldMatch("123e4567-e89b-12d3-a456-426655440000")`, it feels like I am testing that my **regex** "uuidRegex".

Sounds good to me

[2022-08-28 07:39] jmfayard commented on #3170
`shouldBe` doesn't need to chain IMHO

Chaining is useful for `Person.birtyday.month.shouldBeGreaterThan(1).shouldBeLessThan(12)`

But if you already know `randomDice.shouldBe(4)`, what's the point in additional chaining?

`randomDice.shouldBe(4).shouldBePositive().shouldNotBe(5).shouldNotBe(3)`

You (should) already know exactly what 4 is!

I would replace by simply

[code]

I think `shouldNotBe`

[2022-08-28 07:44] sksamuel commented on #3170
And the 2nd last one can be `src.purpose.shouldNotBeNull() shouldBe purpose`

[2022-08-28 07:46] #3183 closed, assigned to nobody

[2022-08-28 07:57] jlous commented on #3170
Yes, i know that chains can be broken into separate asserts, and I know that inverting the assertion to test on the expectation in stead of the actual technically does the same thing.
I could also do everything with assertTrue.

What I don't get is why prevent me from doing it the way that makes the most expressive and aesthetic sense to me.

[2022-08-28 07:58] sksamuel commented on #3170
I think he (and I) are agreeing with you on shouldNotBeNull. On the shouldBe, @jmfayard is arguing you know the exact instance anyway. Do you have an example of that case ?

[2022-08-28 08:07] jlous commented on #3170
Fair enough, the negative is the one I actually had use for.  But it feels odd to drop chaining when that is the norm. Unless there is a real tradeoff, of course. I was half expecting adding chaining to these would have unwanted repercussions.

[2022-08-28 19:15] sksamuel commented on #3155
Thanks, docs updated.

[2022-08-28 19:15] #3155 closed, assigned to nobody

[2022-08-28 19:22] sksamuel commented on #3170
If it literally has no impact, then yes I don't see the harm in changing it.
However I know in the past, Kotlin treated functions returning Unit differently from functions returning T. So if by changing this, we break anything where the last statement was a shouldBe is now not Unit, then we can't really do this.

[2022-08-28 19:22] sksamuel commented on #3170
See #3186

[2022-08-28 20:01] sksamuel commented on #3068
@hosswald I cannot duplicate this. Is it still happening ?

[2022-08-28 22:00] #3136 closed, assigned to nobody

[2022-08-28 22:05] sksamuel commented on #3134
`testApplication { }` starts a `BlockingEventLoop` dispatcher which doesn't free up the thread so that the inner2 block can run. So inner2 just sits there waiting to run, which in turn has suspended the test application from completing.

You're best off having testApplication as a leaf, or wrapping the whole thing in another context:

[code]

[2022-08-29 02:51] sksamuel commented on #2961
What's the latest with this one ?

[2022-08-29 02:55] sksamuel commented on #2917
I've removed remaining examples of this.

[2022-08-29 02:55] #2917 closed, assigned to nobody

[2022-08-29 03:22] sksamuel commented on #3148
WithData tests are always final state tests.
Until we move away from junit platform this limitation will remain in place unfortunately.

[2022-08-29 03:23] sksamuel commented on #3152
Where do you see the -Xjvm-default flags?

[2022-08-29 03:24] sksamuel commented on #3108
This is likely because your console is not defaulting to UTF8. See the 1st answer here:  https://stackoverflow.com/questions/24803733/default-character-encoding-for-java-console-output

[2022-08-29 03:28] sksamuel commented on #3179
This would be great - but I wouldn't want to introduce a CSV library dependency to the main framework.

I would do something like this:

Add an interface called `DataSource2|3|4|5` (or something), which exposes a method for return a list of tuples. Then add a new module to the build, `kotest-framework-datatest-csv` which implements those interfaces, and loads from a CSV file and returns the tuples

[2022-08-29 03:30] sksamuel commented on #2988
We can't statically enforce this, but I think we can throw runtime errors if afterEach is defined AFTER a test is implemented.

[2022-08-29 05:57] jmfayard commented on #3179
@sksamuel
two questions:

1. how would type conversions from string work? I hacked something around, any thoughts?
https://github.com/jmfayard/my-kotlin-scripts/blob/49f49dda42c9d529d143c7494f2838c6c851f567/src/test/kotlin/kotest/DataSource.kt#L14-L52

2. how nasty is CSV parsing? in its simple version it seems trivial, but I can imagine there are a lot of hidden surprises. isn't it something we c

[2022-08-29 09:20] sksamuel commented on #3142
How are you getting the unique id to pass into the launcher for kotest tests?

[2022-08-29 09:32] hosswald commented on #3068
@sksamuel sorry, I missed your mention in July. Please try with Gradle version 6.6.1. I just tested, with Gradle 7.5.1 I **don't** have the bug (but gradle major version updates are not always an option).

[2022-08-29 09:35] sksamuel commented on #3161
I like the last suggestion too as we could have multiple options like trim and case insensitive

[2022-08-29 09:44] hosswald commented on #3068
- Gradle 6.8.3 (latest major 6 version): broken
- Gradle 7.0: not broken

[2022-08-29 09:45] hosswald commented on #2730
I can confirm from #3068 that it's broken in Gradle 6 but works in Gradle 7 with otherwise similar dependencies (io.kotest:kotest-runner-junit5:5.4.2).

[2022-08-29 09:51] sksamuel commented on #3068
We're unlikely to add a workaround for a bug in gradle 6.x due to the age of that release and the number of junit bugs it contains.

[2022-08-29 11:45] sksamuel commented on #3173
https://youtrack.jetbrains.com/issue/KT-53750/Breaking-change-in-IR-API-from-1710-to-1720

[2022-08-29 11:47] sksamuel commented on #3141
It looks like https://github.com/substack/tape might supported nested async tests, so we could explore that for Kotest 6.0

[2022-08-29 13:03] rprinsen opened #3193 "calling take(1) on a Gen sometimes returns an empty Sequence"
**Which version of Kotest are you using**
5.3.1

In our project we have implemented generators to generate test data for us.
In some cases we just want to use the generator to generate one instance of the test data object.

We call `take(1).first()` on the generator for that. However, in some cases we get a `Collection is empty.` exception.
I've been trying to figure out why this happens, if it's

[2022-08-29 19:43] Kantis commented on #3161
I like it too. Perhaps the pattern could also be re-used for other things that also takes optional configuration, such as:

[code]

[2022-08-29 19:47] Kantis commented on #2961
Sorry, the last item was closed with https://github.com/kotest/kotest/pull/3026 . All done ✅

[2022-08-29 19:47] #2961 closed, assigned to nor-ek

[2022-08-29 19:53] nikunjy commented on #2416
Got it thank you. I am thinking of using this vs the JunitConsoleLauncher
Does it also support pattern matching, I tried something like `--testpath` `test*` but it did not work.

[2022-08-29 20:47] #2988 closed, assigned to nobody

[2022-08-29 20:58] myuwono commented on #3193
@rprinsen are you able to provide the code for the arb that throws? As well as how it was used?

[2022-08-29 21:10] sksamuel commented on #2416
not, not wildcard, but it automatically prefixes, so `--testpath test` would find child tests (but not test2)

[2022-08-29 21:32] Kantis commented on #3179
There's a few pitfalls afaik. Splitting `a,b,c` is simple, of course.. but if the `a,b` is supposed to be the _String_ a,b instead, you need to support quoting. `"a,b",c`, now the ambiguity is removed there.. But what if the text needs to contain a quote as well? 😉

Perhaps you want to support having a header-row too. It should be excluded when running the tests, but which would greatly help when

[2022-08-29 21:50] #3097 closed, assigned to nobody

[2022-08-30 07:29] sksamuel commented on #3161
Yeah I think this is a great pattern

[2022-08-30 11:00] rprinsen commented on #3193
Sure!
Basically i've created a extension function on Gen that will return 1 instance:

[code]
and I call this on one of our custom generators, for instance:
[code]

the exception is thrown from the `.first()` part of  `takeOne()`

[2022-08-30 11:39] myuwono commented on #3193
I see, I can see how this exception can be thrown.

Looking at this:
[code]

It seems that in one of the  generators that you have defined in the codebase, `Arb.of(list)` may have been given an empty list. Would it be possible to check that @rprinsen?

That should have been an illegal operation and would ideally be rejected with an illegal argument instead. However, the current definition of `Arb.

[2022-08-30 11:47] myuwono commented on #3046
Sorry for the significant delays @sksamuel I've been occupied with various things in life.. I'll look into this in the coming week.

[2022-08-30 14:33] rprinsen commented on #3193
Aah, that's it,
`fields = Arb.of(product.data.keys.toList())`
`product.data.keys` would sometimes return an empty list, because that object is generated too.

Ha, damn, property testing is awesome, but really hard to debug sometimes :)
Thanks for clearing this up @myuwono! a more clear error message would have been really helpful, nice to see you got a pull request already :)

[2022-08-30 17:33] progresivoJS opened #3196 "@Tags doesn't work with inheritance."
Version: Kotest 5.4.2

##### `TagTest` is included in tests with `-Dkotest.tags=local` args.
It works as I expected.

[code]

##### `TagTest` is _not_ included in tests with `-Dkotest.tags=local` args.
It doesn't work as I expected. What I expect is that it works well like the first example code.

[code]

[2022-08-30 17:39] progresivoJS commented on #3196
[code]

I found that when I override `tags` method, It works well as I expected.
This `TagTest` is included in tests with `-Dkotest.tags=local` args.

There is a workaround, so I feel it is not critical bug.

[2022-08-30 21:33] Kantis commented on #3196
This feels like an anti-pattern to me.

Explicitly tagging the Spec and not inheriting behavior makes it clearer what's going on with it, what kind of spec it is, etc. So sticking with this I believe is best option:

[code]

Potentially you could avoid duplication of the constant value across Specs, with risk of typos, by doing:
[code]

[2022-08-31 05:07] progresivoJS commented on #3196
Your suggestion, adding constant for the tag, is nice for me, but I partially agree with your opinion.
From my perspective, there's pros and cons for this pattern.

**Pros for this pattern.**
- I feel it's easier to forget to add `@Tags` than to use `LocalTest`, not `ShouldSpec`.
- I feel to add `@Tags` for tests is a little bit verbose.
- If I contain phase in a base class name like `LocalTest`,

[2022-08-31 05:17] progresivoJS commented on #3155
Related commits:
- https://github.com/kotest/kotest/commit/185953655a606c2242216f4b6c50e42ea4f107ab
- https://github.com/kotest/kotest/commit/f638ee9ae7df2fe75fed92db10d256b558228075

[2022-08-31 10:14] ollis commented on #3134
@sksamuel Thank you for the answer! It is not obvious for me why the dispatcher does not free up the thread, can you please elaborate? I would expect the thread that was started from runBlocking in testApplication to run the nested specs as well?

[2022-08-31 11:04] pschyska commented on #5413
@sksamuel The static properties support doesn't help us because our gradle build sets up dynamic properties around test tasks (e.g. kubernetes endpoints for integration tests). IntelliJ is set to run tests via gradle and running a test class does a `gradle test --tests=...`, which is fine. But running a single test or container fails: A gradle build is triggered, but the plugin then runs a separat

[2022-08-31 14:21] ptitjes commented on #3141
@sksamuel I can't find anything in Tape's documentation about nested async tests (that also have the top levels async). Would you mind pointing something to me? I am not against trying to make an implementation.

Also, I understand that it would indeed be a huge breaking change. However, I am not sure to understand the interest of having the top levels being async too.
The only thing I can see wou

[2022-08-31 15:15] #3121 closed, assigned to nobody

[2022-08-31 15:46] ashishkujoy commented on #3130
Apologies folks, I don't have bandwidth to pick this up.

[2022-08-31 19:46] nikunjy commented on #2416
Thanks for the helpful information.
Is it possible to extend this launcher to support patterns like it does with gradle
https://kotest.io/docs/framework/conditional/conditional-tests-with-gradle.html

I am happy to do this PR but does it make sense to do? I think this launcher is better for my purpose because we use bazel plus junit console launcher. We have to write a reporter that bridges the ba

[2022-08-31 20:03] Kantis commented on #3196
Thanks. I respect that it's a matter of taste and perhaps I was being too opinionated. :)

I made a draft for this here: https://github.com/kotest/kotest/pull/3199

[2022-09-01 00:03] sksamuel commented on #2416
I'm happy to expand the launcher but I'd rather do it better than the
gradle way (we just do that for compatibility).

Perhaps accept a wildcard for --spec and --test or something ?

On Wed, 31 Aug 2022 at 14:47, Nikunj Yadav ***@***.***> wrote:

[2022-09-01 00:27] #3193 closed, assigned to nobody

[2022-09-01 00:29] sksamuel commented on #3046
Great!

On Tue, 30 Aug 2022 at 06:47, Mitchell Yuwono ***@***.***>
wrote:

[2022-09-01 00:31] sksamuel commented on #5413
I guess in theory we could make the forked process propagate properties too.
Using gradle for a single test won't work properly until a later version as gradle doesn't support nested tests properly.

[2022-09-01 00:39] nikunjy commented on #2416
Amazing ! Yes that would work. I would love to use it in a way where I can target the test and the child test. So let's say if we have
[code]

And then we can do
[code]
Runs all the describes that have word db in it in all the test specs under `com.kotlin.test` in this case there is only `com.kotlin.test.SimpleTest`

It is not important if you don't support `--testpath` in this case imo but it is

[2022-09-01 00:41] sksamuel commented on #2416
I think that is fine.

[2022-09-01 00:42] nikunjy commented on #2416
Updated my comment with the prefix for spec.
Thanks @sksamuel  let me know if I can help in some way. It would be pretty awesome to use this :)

[2022-09-01 00:44] sksamuel commented on #2416
You could make the PR :)

[2022-09-01 02:05] sksamuel commented on #3134
I don't know either, but my guess is the event loop dispatcher thing has special semantics.

[2022-09-01 04:10] sksamuel commented on #3141
Aside from whether it's a good idea or not to have async parent tests, changing it now would break thousands of installs.

In tape it looks like a top level `test` comes with a callback `t` which can then fire more tests https://github.com/substack/tape#ttestname-opts-cb

[2022-09-01 04:38] progresivoJS commented on #3196
Thank you for understanding, @Kantis !

[2022-09-01 12:08] pschyska commented on #5413
That would be really helpful. Right now we are using environment variables -- they are easier to manage when the apps are containerized and running in Kubernetes, for example. But we could switch to system properties or make our code use either.
I had another idea: Where does kotest look for properties? I could make gradle's `test` task render one on each run, then the forked java process would ho

[2022-09-01 23:35] nikunjy commented on #2416
@sksamuel  Sounds good. I will give it a shot.

[2022-09-02 07:28] nikunjy commented on #2416
Created an initial PR https://github.com/kotest/kotest/pull/3200 @sksamuel

I anticipate it might require revisions. Looking forward to getting a code review :)

[2022-09-02 07:37] nikunjy opened #5404 "Support Bazel"
This plugin works amazing with gradle. Is it possible to extend this to get it to work with Bazel.

Plugin already does the heavy lift of identifying the specs and test.

If it could be easily extended to pass custom arguments to a bazel invocation it would work. So if you click on a test it would run

bazel test //blah --test_arg=kotest.filter.spec=Foo*

I can make our bazel launcher support what

[2022-09-02 09:19] schrek1 opened #3201 "shouldBe not requires corresponding type of parameter"
I have question about shouldBe assertion.

I expected that it requires same type in hiearchy with type on called assertion.

code look like it:

![2](https://user-images.githubusercontent.com/17483576/188107538-10fb7590-8b73-487c-8c72-124a2ee0aa2a.png)

but when I refactoring type, it wouldn't make compile error:

![1](https://user-images.githubusercontent.com/17483576/188107648-8fb669b3-e592-4500

[2022-09-02 15:49] nikunjy commented on #5404
If we end up landing the PR https://github.com/kotest/kotest/pull/3200 referenced in https://github.com/kotest/kotest/issues/2416

We can select single tests and run them in bazel but don't know how it will get wired to the bazel invocation from the IDE. I am thinking if there is a way to make it so that this plugin doesn't care about the underlying runner and provides it to be pluggable.

[2022-09-04 20:19] mnrasul commented on #2960
@jmfayard Thank you. I can confirm the combo of kotlin `1.7.0` and kotest `5.3.1` works.

[2022-09-05 09:34] oscargolding commented on #3142
The same way as outlined here: https://github.com/junit-team/junit5/issues/2952#issuecomment-1165390154

I just get the `UniqueId` from the test identifiers inside a `TestPlan`.

Thanks :)

[2022-09-06 12:43] AleksanderBrzozowski opened #3203 "Failed to run single test with multiline name"
kotest - 5.4.2
kotest intellij plugin - 1.2.59-IC-222-EAP-SNAPSHOT
relates to - #1441

When I run the test by clicking "play" near the test name with multiline name, the test won't run.
I am able only to run tests for whole class. I assume that this is a bug in kotest intellij plugin, we should remove new lines from test name to fix this, right?

![image](https://user-images.githubusercontent.com/

[2022-09-06 19:42] PrinceOfDubai24 opened #3204 "Config scanning cannot be disabled in kotest.properties"
I have the following `kotest.properties` file
[code]
**Config** scanning still takes place instead of instantiating the one from my file because `detectAbstractProjectConfigs` and `loadProjectConfigFromClassname` are run **before** `applyConfigFromSystemProperties` (within the `initialize` method) has a chance to populate system props from the file.

https://github.com/kotest/kotest/blob/e47889cc3

[2022-09-07 22:53] LeoColman commented on #3201
You can use `obj.shouldBeInstanceOf<T>` to check for types.

`shouldBe` doesn't require the same type from both sides, as the equals method can vary wildly depending on the object being looked into. This is by design, and I don't think we'll be changing this

[2022-09-07 22:53] #3201 closed, assigned to nobody

[2022-09-07 22:55] LeoColman commented on #3152
What JDK are you using?

[2022-09-07 23:00] LeoColman commented on #3134
I think this issue has nothing to do with Kotest itself.
I'll close it. Feel free to reopen it if you think it makes sense :)

[2022-09-07 23:00] #3134 closed, assigned to nobody

[2022-09-09 15:42] iamsaywhat opened #3205 "withData() and Map with nullable values"
kotest version: 5.4.1
kotlin version: 1.6.10

Hi, thanks a lot for such pleasant testing framework!

I faced weird error when using `withData` with a `Map<String, Boolean?>` with nullable values:
[code]

This only applies to Map and perfectly works with `List<Boolean?>`.

Minimally reproducible example:
[code]

[2022-09-10 06:44] akefirad commented on #2792
Just to give more ❤️ to the feature, here's my use case:
[code]
Now, as discussed, `beforeContainer` is gonna delete all the data added in `Given` container while executing `When` container which is not what we want. The only solution I can think of is to move "given" statements to "when" container which is a bit weird, considering the terminology.
This limitation makes this style unusable (at lea

[2022-09-10 08:08] RyuNen344 opened #3206 "add support coroutineTestScope option to K/N"
kotest - 5.4.2

coroutine runTest support was introduced this👇 issue and pr, but not provided to K/N, only [JVM](https://github.com/kotest/kotest/blob/c3ec6df2d2152d637a0a56e84c1c33c005c2ddc0/kotest-framework/kotest-framework-engine/src/commonMain/kotlin/io/kotest/engine/test/TestCaseExecutor.kt#L75)

https://github.com/kotest/kotest/issues/2797
https://github.com/kotest/kotest/pull/2950

[2022-09-10 16:23] adamcameron commented on #1358
Hi
The original request included "A auto-generated javadoc just for convenience and habit", but follow-up comments focused on other elements of the request.

Try as I might, I can't find the JavaDocs for this project..?

[2022-09-10 22:00] Gieted opened #5403 "Test results are not displayed in editor"
For JUnit tests, results of last run are displayed alongside the test's code:
![obraz](https://user-images.githubusercontent.com/35242233/189503124-37973c96-6f0f-4a18-bf41-b0276b58d961.png)

But for Kotest it will always display just the green run arrow:
![obraz](https://user-images.githubusercontent.com/35242233/189503134-96431cd5-3b19-4679-8280-e00e1a423089.png)

I'm pretty sure that it worked a

[2022-09-11 12:57] ravenblackdusk commented on #3124
if you used this to have access to variables initialized in the `then` block you may workaround by using `lateinit var`

[2022-09-12 09:58] ckosmowski opened #3209 "I am getting "Specs must have a public zero-arg constructor" in the integrationTest source set"
Kotest version: 5.3.5.0

I cannot get kotest to work with my integrationTest source set. I have read several similar issues before as well as the according answers on StackOverflow. I made sure useJunitPlatform is active for the integrationTest sourceSet and all required dependencies are there.

This works perfectly in the integrationTest module
[code]
This does not work in the integrationTest mod

[2022-09-12 10:35] sksamuel commented on #3209
Kotest cannot create a class without a zero arg constructor (as it wouldn't know what to pass in), so there has to be some extension doing that for you. In this case, it would seem the MicronautTest extension that does - so it's perhaps configured in one env and not the other.

[2022-09-12 10:56] ckosmowski commented on #3209
Thanks for the answer! It was actually necessarry to add an extension called "MicronautKotest5Extension" that seems to do exactly what you described, which i did weeks before for the test module but missed out for integrationTest.

[2022-09-12 10:56] #3209 closed, assigned to nobody

[2022-09-12 15:37] LeoColman commented on #3205
This is definitely interesting!
My initial guess is that Kotlin compiler is doing some optimizations which is changing the order of things

[2022-09-13 02:36] nikunjy commented on #5404
Pinging the author @sksamuel
I am happy to extend this plugin. But want to hear your thoughts if this even makes sense for the plugin.

[2022-09-13 21:54] LeoColman commented on #2803
There is the EqualityMatcher already, I think we're just missing the infix functions

kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/eq/DefaultEq.kt:14

This is the default equality matcher, it uses `==`

[2022-09-15 22:13] pacdouglas commented on #5442
Hello! I have got the same issue...

[2022-09-15 22:16] pacdouglas opened #5402 "Error running on WSL2"
Hi!

I can't run using the IntelliJ on Windows with all environments set to WSL2, it doesn't happen if I use a simple test with JUnit.

Error running 'FakeTempGisModelTest': Cannot run program "\\wsl$\Ubuntu\home\pac\.asdf\installs\java\adoptopenjdk-8.0.345+1\bin\java" (in directory "\\wsl$\Ubuntu\home\pac\git\avangrid-e3\avangrid-model"): CreateProcess error=193, %1 is not a valid Win32 applicati

[2022-09-16 09:28] okarmazin opened #3211 "kotest-assertions-arrow does mention the correct version"
[`kotest-assertions-arrow`](https://kotest.io/docs/assertions/arrow.html) does not mention the fact that its versioning is independent from the main Kotest libraries. One has to go to the [Maven repo](https://repo.maven.apache.org/maven2/io/kotest/extensions/kotest-assertions-arrow/) to find the current version.

[2022-09-16 15:47] sschuberth commented on #5459
Looks like I'm getting this again with IntelliJ IDEA 2022.2.2 and plugin version 1.2.60-lC-222-EAP-SNAPSHOT.

`stacktrace.txt`:

[code]

`creation.trace`:

[code]

`Kill.trace`:

[code]

[2022-09-17 13:51] pientaa commented on #3133
Shouldn't this issue be moved to https://github.com/kotest/kotest-extensions-mockserver ?

Also - I'll take that issue if you don't mind

[2022-09-20 16:12] PrinceOfDubai24 commented on #5411
@sksamuel
I just bumped the issue on youtrack and got the following response. Do you think there is still something that Kotest plugin can do?

https://youtrack.jetbrains.com/issue/IDEA-295228

<img width="1177" alt="Screenshot 2022-09-20 at 18 01 06" src="https://user-images.githubusercontent.com/18502510/191309958-7636e7db-4d89-4f37-94b0-cd3bfc1defc6.png">

[2022-09-20 17:11] sksamuel commented on #5411
I've replied on the thread. I don't see how that screenshot shows that spec
style is the culprit here. Also how do you generate those ?

On Tue, 20 Sept 2022 at 11:12, Kirill Nizamov ***@***.***>
wrote:

[2022-09-20 23:19] #2962 closed, assigned to nobody

[2022-09-20 23:19] #2993 closed, assigned to myuwono

[2022-09-21 08:20] jmfayard commented on #3035
@sksamuel I first raised #3112 which brought me here.

So I edited `gradle.properties`

[code]

I had a first issue `Overriding a variable when mode is set to SetOrError. Use another OverrideMode to allow this. Trying to set {FIXED_OTP=hi42}`

That's not a bug per se, but the fix was not obvious, it would be nice to mention it in the documentation
https://kotest.io/docs/extensions/system_extension

[2022-09-21 17:11] aSemy commented on #3103
This should not be closed, because `@Nested` tests are a support feature that should work as documented.

[2022-09-21 17:34] klitoskyriacou opened #3213 "Add shouldContainOnly"
It would be useful to have an assertion that is exactly equivalent to AssertJ's `assertThat(list).containsOnly(these,elements,in,any,number,and,any,order,and,nothing,else)`.

For example:

[code]

[2022-09-21 19:04] LeoColman commented on #3213
I think this is a tough one.

`listOf(1, 1, 2, 2) shouldContainOnly listOf(1, 2)`

is pretty ambigous to me what should actually be the result here just from the name

[2022-09-21 21:57] klitoskyriacou commented on #3213
It's not ambiguous, because you wouldn't call it like that. `shouldContainOnly` should take a vararg, not a list. Just as `shouldContainExactly` does.

If you want to use infix functions, it's `list should containOnly(1, 2)`.

[2022-09-23 17:03] aSemy opened #5401 "Use 'language injection' on assertions, so embedded languages are easier to use"
Continuation of https://github.com/kotest/kotest/issues/2916

Adding the `@Language` annotation is not possible because it is JVM only https://www.jetbrains.com/help/idea/using-language-injections.html

However it is possible to add some configuration in an IntelliJ plugin that will achieve the same effect
https://plugins.jetbrains.com/docs/intellij/language-injection.html#intellilang

I will make

[2022-09-23 17:20] theHacker opened #5400 "Support for IntelliJ 2022.3 EAP"
IntelliJ just launched another new EAP.

![image](https://user-images.githubusercontent.com/7399011/192018388-e004b8e6-027a-4f95-9313-3a897c7b4c2a.png)

Interestingly IntelliJ complains about incompatible plugin, but if you click "Enable Plugin", it still seems to work.
It even looks ok in their completely new UI:

![image](https://user-images.githubusercontent.com/7399011/192020267-9f0dd7ab-8e99-

[2022-09-23 23:24] PrinceOfDubai24 commented on #5411
I'm also not aware of those flame graphs and how to generate them (also, maybe he meant `SpecsKt.specs` part in the bottom, maybe the wrong part is highlighted due to cursor).

And maybe after all, the Kotest plugin doesn't impact performance as much (although I feel like it has some less noticeable impact).

What I noticed is that using `init block` instead of `init lambda` makes autocompletion *

[2022-09-24 13:02] p1729 commented on #3213
@LeoColman I would like to contribute to this.

[2022-09-24 13:04] LeoColman commented on #3213
Go for it!
I'll assign it to you

[2022-09-25 13:26] DragonString commented on #5442
Hello, I have got the same issue too..

[2022-09-25 13:27] DragonString commented on #5402
I have got the same issue

[2022-09-26 10:12] #5401 closed, assigned to nobody

[2022-09-26 11:03] sksamuel commented on #5400
A 223 specific plugin has been released pending jetbrains approval.

[2022-09-26 11:03] #5400 closed, assigned to nobody

[2022-09-26 11:10] sksamuel commented on #3211
Thanks for the heads up. Docs have been clarified.

[2022-09-26 11:10] #3211 closed, assigned to nobody

[2022-09-26 11:19] sksamuel commented on #3205
It's because there is an :Any type bound on the nested withData causing it to bind to the root scope.
See fix.

[2022-09-26 12:04] sksamuel commented on #5404
@nikunjy Happy to evaluate a PR :)

[2022-09-26 23:17] #3206 closed, assigned to nobody

[2022-09-27 21:28] orange-buffalo commented on #5466
I am also facing this issue. For instance, when a test has JSON assertion:
[code]
It fails without "Click to see difference":
[code]
It makes it extremely hard to work with larger strings like JSON.

@sksamuel, would you like me to prepare a full-fledged reproducer project or is the problem clear?

[2022-09-28 13:26] pearlzzi98 commented on #5402
wow,,, I have got the same issue too

[2022-09-28 16:54] wfhartford commented on #5411
Thanks for mentioning the `init` block option @knizamov . I'm not seeing any performance issues after changing my tests to that style.

[2022-09-29 04:18] RyuNen344 commented on #3206
thank you so much! I can't wait for next release!

[2022-10-01 07:43] #3129 closed, assigned to nobody

[2022-10-01 07:44] #2971 closed, assigned to nobody

[2022-10-01 07:44] #3094 closed, assigned to nobody

[2022-10-01 07:44] #3055 closed, assigned to nobody

[2022-10-01 07:44] #3137 closed, assigned to nobody

[2022-10-02 21:09] #3205 closed, assigned to nobody

[2022-10-02 21:09] #3204 closed, assigned to nobody

[2022-10-02 22:30] #3180 closed, assigned to nobody

[2022-10-03 00:17] sksamuel commented on #3148
This will be fixed in 5.5 :)

[2022-10-03 00:18] #3148 closed, assigned to nobody

[2022-10-03 01:15] sksamuel commented on #3173
Fixed in 5.5.0

[2022-10-03 01:15] #3173 closed, assigned to nobody

[2022-10-03 01:19] #3081 closed, assigned to sksamuel

[2022-10-03 01:50] sksamuel commented on #3201
It won't change until Kotlin improves their type system.

`dog shouldBe Animal`
`animal shouldBe dog`

Can both be valid. If we limit LHS to equal RHS neither will work. If we limit LHS <: RHS or LHS >: RHS then only one direction will work.

[2022-10-03 09:35] p1729 commented on #3203
@LeoColman / @sksamuel  I would like to work on this. However, I would need your help to find the problematic code. I suspect an issue [here](https://github.com/kotest/kotest-intellij-plugin/blob/b8312037481de4850dbd5e6f8a37d72e33265049/src/main/kotlin/io/kotest/plugin/intellij/Test.kt#L20) 🤔 ? Also, how do we test the plugin

[2022-10-03 10:43] idugalic commented on #3173
Thank you!

Is only a `io.kotest.multiplatform` gradle plugin being released with 5.5.0 version?
What about libraries `io.kotest:kotest-framework-engine`...? Should we continue using 5.4.2?

[2022-10-04 09:57] sschuberth opened #3223 "Test spec not run with Kotest 5.5.0"
We just [upgraded to Kotest 5.5.0](https://github.com/oss-review-toolkit/ort/pull/5897), and now it's not possible anymore to run all tests in a spec by pressing on the green "double play" button in the gutter; all test cases are ignored. Running individual test cases still works.

The log looks like

[code]

[2022-10-04 10:01] sschuberth commented on #3223
Given that I get the same behavior when running via Gradle directly from the command line, this issue should probably be transferred to kotest/kotest.

[2022-10-04 11:42] joni- commented on #3223
We noticed similar behaviour after upgrading to 5.5.0. Running tests with `./gradlew test` works but targeting a specific spec with `./gradlew test --tests "com.foo..."` ignores the tests. Downgrading back to 5.4.2 fixed the issue.

[2022-10-04 21:52] PrinceOfDubai24 commented on #3201
I'm not well aware of the issues that it has. It seems you already tried `@OnlyInputTypes`, not sure if anything has changed since then https://github.com/kotest/kotest/issues/1163 (yeah, it's still not a public annotation, you have to copy it)
Kotlin-test seems to also leverage it for its assertion methods.
It seems to work quite well for simple `equals` assertions.

Alternatively, you could also

[2022-10-05 10:59] Kantis commented on #3196
Tag inheritance can now be enabled  in Kotest 5.5, enjoy :)

[2022-10-05 10:59] #3196 closed, assigned to nobody

[2022-10-05 14:37] Lysoun commented on #3090
I've been looking into this issue. If I understand correctly, there are some assertions methods that take options (shouldEqualJson is one of them). Those options contain multiple flags to tune the behaviour. What should be done here is:
- add an option in `compareJsonOptions` not to allow duplicate properties
- add an option for `shouldBeValidJson` not to allow duplicate properties

Since there ar

[2022-10-05 16:04] Kantis commented on #3090
Yes, I think so

I think it's still worthwhile since it enables the syntax:

[code]
as discussed here: https://github.com/kotest/kotest/issues/3161#issuecomment-1215835513

[2022-10-06 07:26] Lysoun commented on #3090
Ok, thank you for your answers.
Unfortunately kotlinx serialization does not intend to make a feature to fail serialization on duplicate keys (https://github.com/Kotlin/kotlinx.serialization/issues/1990) so I'll have to do the checks myself

[2022-10-07 12:23] matejdro opened #3226 "Access to TestScope.backgroundScope"
[Coroutines 1.6.4](https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.6.4) introduces `TestScope.backgroundScope`.

Unfortunately, kotest only takes `coroutineContext` from TestScope, it does not expose TestScope anywhere, making new `backgroundScope` inaccessible.

Could this be exposed somewhere?

[2022-10-07 12:28] aSemy opened #3227 "Property Arb for Duration"
I'd like to be able to generate arbitrary Durations.

I've created this code, but I don't have the time to integrate this into the project and create tests. Please feel free to use this as a basis :)

#### `Arb<Duration>`

[code]

#### `DurationShrinker`

[code]

#### `DurationClassifier`

[code]

[2022-10-08 18:47] BenWoodworth opened #5399 "Struggling to run individual tests/files from gutter icons (multiplatform/jvm?)"
I'm new to kotest and started trying to add kotest to a multiplatform library of mine. running `gradle :allTests` seems to work fine, but I'm really struggling to run. Here's a commit that will hopefully help as a reproducer (based on the [kotest/kotest-examples-multiplatform](https://github.com/kotest/kotest-examples-multiplatform/tree/3e05a36ee4c6a2456d8c968dd8bcc57dbfb7120b) repo): https://gith

[2022-10-08 18:48] Tetrahedrite commented on #5402
Still doesn't work with WSL :(

[2022-10-09 03:16] sksamuel commented on #3226
Using the coroutines `TestScope` looks handy, but also means plugging into the entire test machinery they provide. Might be easier to just provide the same `backgroundScope` functionality.

[2022-10-09 06:26] matejdro commented on #3226
Ideal thing from the user's perspective would be kotest's TestScope extending coroutines's TestScope. That way user gets all top-level extensions (such as `runCurrent` and `advanceTime`) and direct access to all current and future TestScope features (such as backgroundScope) automatically and since it would be the receiver, using them would be very ergonomical.

But I understand that actually impl

[2022-10-09 17:30] Kantis commented on #3223
5.5.1 is on the way out with the fix.

[2022-10-09 17:30] #3223 closed, assigned to Kantis

[2022-10-09 19:30] BenWoodworth commented on #5399
The first part, "Running a test class", was fixed by upgrading my `kotest-framework-engine` dependency to 5.5.1 (release [here](https://github.com/kotest/kotest/releases/tag/v5.5.1))

For the second part with 5.5.1, "Running a specific test", now the run button doesn't break when I try to do a specific test, but the specific test does fail with an unspecific error when I run it:
![image](https://u

[2022-10-09 20:21] Lysoun commented on #3090
I've been working on this check on the kotlinx serialization side (https://github.com/Kotlin/kotlinx.serialization/issues/1990). Once I'm done, it should be a piece of cake to use those checks in kotest 😄

[2022-10-11 06:59] sksamuel commented on #3131
You should remove the "be good" as that was being ignored previously, or
switch to another spec style.
Data driven tests have to be placed inside a non terminal scope.

On Fri, 29 Jul 2022 at 15:15, Fabien Hermitte ***@***.***>
wrote:

[2022-10-11 07:18] sksamuel commented on #2942
Can prob just file this under good idea and close it.

On Fri, Apr 29, 2022, 4:23 PM Emil Kantis ***@***.***> wrote:

[2022-10-11 07:45] sksamuel commented on #3173
All should be on 5.5.0

On Mon, Oct 3, 2022, 5:43 AM Ivan Dugalic ***@***.***> wrote:

[2022-10-11 08:17] sksamuel commented on #2908
What's the bug in 5.2.1 ?

On Thu, Mar 31, 2022, 5:42 AM Tomasz Jędrzejewski ***@***.***>
wrote:

[2022-10-11 14:31] hanqyu opened #3231 "tagInheritance = true is not working"
**Which version of Kotest are you using**
5.5.1

In docs version 5.5, there is a description of the tagInheritance option for inheriting Tags from a superclass, but it doesn't seem to be working.

https://kotest.io/docs/framework/tags.html#inheriting-tags

Tried methods
- try override `tagInheritence` property, but it does not exist in `AbstractProjectConfig`
- try set system property `-Dkotest.ta

[2022-10-11 21:19] zakhenry opened #3232 "checkAll with >5 exhaustives should run for each cross product"
**Which version of Kotest are you using**
5.5.1

In the internal definition of `suspend fun <A, B, C, ...etc> proptest`, there is a special case generated for the scenario where every single element is exhaustive, however this only goes up to the `<A, B, C, D, E>` case, however there is up to `<A, B, C, D, E, F, G, H, I, J, K, L>` cases supported.

This means that while code will compile and run,

[2022-10-12 01:09] #3232 closed, assigned to nobody

[2022-10-12 08:19] trourance opened #3235 "Incorrect number comparison in kotest 5"
There's an inconsistency between `shouldMatchJson` and `shouldEqualJson` in comparison of numbers written in scientific notation.

This one succeeds: `"1436712339.124" shouldEqualJson "1.436712339124E9"`
This one fails: `"1436712339.124" shouldMatchJson "1.436712339124E9"`

In kotest 4, both succeed.

[2022-10-12 14:57] #3213 closed, assigned to p1729

[2022-10-13 07:13] matejdro opened #5398 "@argfile shorten option is missing for Kotest run configurations"
Regular JUnit tests have `@argfile` shorten option:

![image](https://user-images.githubusercontent.com/507922/195527170-8b654648-5429-43a2-bca8-ce1a99cbee8f.png)

But this is not available on the Kotest run configuration:

![image](https://user-images.githubusercontent.com/507922/195527234-4b223858-339a-446d-978e-aef81133aa38.png)

Interestingly enough, this option does appear on the Kotest confi

[2022-10-13 08:13] matejdro opened #3236 "throw AssertionFailedError when shouldBe is the only failure in the assertSoftly block"
When just using `shouldBe`:

[code]

kotest throws AssertionFailedError, which generates a nice "Click to see difference" button in IntelliJ:

![image](https://user-images.githubusercontent.com/507922/195539764-a47f90a8-1571-454f-ae58-4eb0836bb9bb.png)

However, when that same assert is wrapped with `assertSoftly`:

[code]

kotest throws just regular plain AssertionError, which does not generate "

[2022-10-13 08:41] osipxd opened #3237 "kotest-bom 5.5.1 is not published"
I can't find kotest-bom 5.5.1 [on Maven Central](https://central.sonatype.dev/artifact/io.kotest/kotest-bom/5.5.0/versions).
Is this an intended change or a publication bug?

[2022-10-13 09:25] matejdro opened #3238 "Dispatcher in first beforeTest block is not test dispatcher when coroutineTestScope is enabled"
Following test:

[code]

Will print:

[code]

Note that dispatcher in `beforeTest` is not a test dispatcher, when it should be.

Even worse, when using `InstancePerTest`:

[code]
It prints out:

[code]

Note that this time it is not even consistent inside `a` tests. On very first execution of `a`, it will not be a test dispatcher, but then it will be.

This is with kotest 5.5.0

[2022-10-13 21:39] Kantis commented on #3237
Available now on maven central. Thanks for creating the issue, there was a problem during publishing of the release.

[2022-10-13 21:39] #3237 closed, assigned to Kantis

[2022-10-14 03:34] BenWoodworth commented on #3141
Very much a hack, but I got this working which suits my needs, and should be easy to migrate over if/when nested JS test support is added: [FlatSpec.kt](https://gist.github.com/BenWoodworth/0fd0e463fdfc71c30f2a114da5c14672)

**Obligatory disclaimer**: use with caution. No guarantee it'll work in future releases, as using `FunSpec` in this way is almost certainly not supported. That being said thou

[2022-10-14 10:34] piotrb5e3 commented on #3130
Hi,

I checked, and dropping `is Iterable` causes some tests to fail.

There seems to a conceptual issue here. [Kotlin iterables](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.collections/-iterable/) are defined as:

Java iterables do not have this assumption:

So while it seems idiomatic in kotlin to compare iterables by their content, it probably should not be done, because at least on the

[2022-10-14 16:04] bzareba commented on #2945
Hi, I've submitted a PR for this but I was wondering how to make the `Expected` file path clickable in IntelliJ. The only way that I found is to get absolute path of that resource file, but it points to the `build` directory which make no sense in scope of editing this in diff window.

Also `Actual` file is not clickable on dry run (when that file doesn't exist in build directory).

![image](https

[2022-10-15 01:20] BenWoodworth opened #3244 "Kotlin 1.7+ nodejs tests aren't getting reported nicely in IntelliJ"
Kotest 5.5.1

Looks like failing nodejs tests don't get reported nicely in intellij since Kotlin 1.7.0.

From the latest [kotest-examples-multiplatform commit (3e05a36e)](https://github.com/kotest/kotest-examples-multiplatform/commit/3e05a36ee4c6a2456d8c968dd8bcc57dbfb7120b):
- changing the kotlin version to 1.7.0 or later
- making a JS test fail
- and un-commenting the nodejs target

![image](htt

[2022-10-15 01:20] BenWoodworth commented on #3244
For reference, here's jsBrowserTest failing & reporting nicely:
![image](https://user-images.githubusercontent.com/1829157/195962719-16eb84e6-af3a-49a4-8eea-b10e9a69f35d.png)

[2022-10-15 07:11] akefirad opened #3245 "Dependency `kotest-property` Not Available in BOM"
**Which version of Kotest are you using**
`5.5.1`

I have to set the version for the dependency even though I imported the BOM file.

[2022-10-15 11:06] sksamuel commented on #3245
You can see kotest-property in the list:
https://search.maven.org/artifact/io.kotest/kotest-bom/5.5.1/pom

[2022-10-15 11:06] #3245 closed, assigned to nobody

[2022-10-15 11:07] sksamuel commented on #3245
Your issue might have been because the entire bom was missing until Thursday.

[2022-10-16 01:36] #5416 closed, assigned to nobody

[2022-10-16 01:36] #5408 closed, assigned to nobody

[2022-10-16 01:36] #5407 closed, assigned to nobody

[2022-10-16 05:45] krzema12 commented on #5423
Bump.

[2022-10-16 16:11] tlinkowski opened #3246 "matchExactly matcher for Maps?"
## Problem

I would like to test if a `Map`:
- has key-value pairs where values match custom assertions (like `matchAll`)
- doesn't have any extra keys (like `containsExactly`)

## Solution

I think the `Matcher` implementation handling `matchAll` could be adapted like `MapContainsMatcher` was (`private val ignoreExtraKeys: Boolean = false`). This way, the implementation could serve both existing

[2022-10-16 17:49] #3108 closed, assigned to nobody

[2022-10-16 17:50] #3170 closed, assigned to nobody

[2022-10-16 17:50] #3068 closed, assigned to nobody

[2022-10-17 10:36] myuwono opened #3247 "Kotest should respect test `filter { }` defined in gradle.build.kts"
Kotest does not include filters defined within build files

i.e. something like this doesn't get properly picked up.
[code]

I put a debug point in there and realized that Gradle's `ClassMethodNameFilter.matcher.commandLineIncludePatterns` returned an empty list, whereas `ClassMethodNameFilter.matcher.buildScriptIncludePatterns`  returned the supplied pattern.

<img width="1070" alt="image" src="h

[2022-10-17 18:47] miguelbaldi opened #3249 "Tests always ignored with Gradle 7.5.1 and Kotest 5.5.0 when running single test Class"
**Which version of Kotest are you using**
5.5.0

On Gradle 7.5.1, when running a single test class, the whole test is ignored:
`./gradlew --debug :app:test --tests "io.sample.gradle.kotest.MyTests"`
If I change do `kotest:4.6.4`, everything works.

Sample project: https://github.com/miguelbaldi/gradle-kotest

[2022-10-17 19:07] myuwono commented on #3249
@miguelbaldi try 5.5.1, i believe that was fixed in  #3223

[2022-10-17 19:50] miguelbaldi commented on #3249
Thank you @myuwono , 5.5.1 is working fine!

[2022-10-17 19:50] #3249 closed, assigned to nobody

[2022-10-18 13:50] myuwono opened #3250 "Gradle test regex are incorrectly applied"
# Context
`./gradlew test --tests A*` skipped all the tests in 5.5.1 - it used to work in 5.4.x.  The new modifications to kotest's Gradle Filter may have broken this functionality.

[code]

This is because Kotest's test filter was unable to translate that to correct path / classname / package name.

# Potential Fix
Gradle supplies a well-formed regex to the engine that we can leverage to construc

[2022-10-18 14:29] marcphilipp opened #3251 "Add support for aborting tests by throwing a TestAbortedException"
OpenTest4J provides a `TestAbortedException` that is meant to indicate that a test was aborted after having been started. In most IDEs and build tools that's synonymous for "skipped".

For example, with this spec the test fails instead of being aborted.

[code]

Running it via JUnit's Console Launcher produces the following output:

[code]

For a similar JUnit Jupiter test class like the following

[2022-10-18 21:22] Kantis commented on #3250
I think I probably broke this. Thanks for the detailed issue. I'll try to get some time to look into it this week.

[2022-10-19 13:23] marvk opened #3253 "shouldBeEqualToComparingFields and shouldBeEqualToIgnoringFields have different default behaviour regarding computed fields"
**5.5.0**

Consider the following example:

[code]

The result of this test is that `testComparingFields` succeeds while `testIgnoringFields` fails.

As it stands currently, `shouldBeEqualToComparingFields` ignores computed fields by default and `shouldBeEqualToIgnoringFields` uses them for comparison.

I would expect both tests to show the same result. I don't mind which behaviour is the default

[2022-10-20 07:56] despinaotto opened #3254 "shouldBeEqualToComparingFields causes InaccessibleObjectException exception"
We have Java 17 and everything has worked fine until we wanted to update our gradle version to  v7.5.1.
Our tests do not work anymore and we get this exception.

java.lang.reflect.InaccessibleObjectException: Unable to make field transient java.lang.Object[] java.util.ArrayList.elementData accessible: module java.base does not "opens java.util" to unnamed module @a48b8e6
	at java.base/java.lang.re

[2022-10-20 19:52] gabfssilva commented on #3124
It's a bummer that the only solution for this is using `lateinit var`s. I'm wondering how viable would it be to make a test return a value, something like:

[code]

This would be a huge major change tho.

[2022-10-21 10:02] adangel opened #3255 "kotest-runner-junit5-jvm depends on jupiter 5.7.2 and 5.8.2"
**Which version of Kotest are you using**: 5.5.1

kotest-runner-junit5-jvm depends directly on junit-jupiter-api 5.7.2.
But additionally, it depends transitively on junit-jupiter-api 5.8.2 via io.kotest:kotest-extensions-jvm->io.mockk:mockk-jvm

This leads to problems, when configuring kotest-runner-junit5-jvm as a plugin dependency to maven-surefire-plugin. The workaround is, to exclude junit-jup

[2022-10-22 12:27] daviddenton commented on #3130
I tend to agree here - keeping Iterable support would seem to be the riskier long-term option, as this issue is likely to keep coming up when it surprises people. 😄

[2022-10-23 14:05] #3247 closed, assigned to nobody

[2022-10-23 14:05] #3250 closed, assigned to nobody

[2022-10-23 14:47] #3231 closed, assigned to Kantis

[2022-10-25 22:42] SHAX1PTb opened #3260 "kotest is not compatible with 2022.2.3 built #IU-222.4345.14"
**Which version of Kotest are you using**
Kotest version : 1.2.63-IC-2022.2

[2022-10-26 07:57] comdiv opened #3261 "Cannot switch 5.4.2 -> 5.5.+"
1. kotlin 1.7.20
2. jupiter 5.9.1
3. gradle 7.5.1
4. multimodule gradle kotlin project

With kotest 5.4.2 all works well, assume call `gradle :somedir:someproj:test --tests "my.some.packagename.*"` - all tests of module executed.

After change version to 5.5.0, 5.5.1, 5.5.2 - error occured:

[code]

Switch back to 5.4.2 - all well.

[2022-10-26 11:51] myuwono commented on #3261
might be related to https://github.com/kotest/kotest/issues/3255 fyi @Kantis is there anything stopping us from bumping Jupiter to latest?

[2022-10-26 11:52] Zordid opened #3263 "Kotest Assertions for Json mix up actual and expected"
**Which version of Kotest are you using**
5.5.0

When using the shouldEqualJson match functions, I see a total mix up of expected and actual in the error reports.

If I EXPECT a Json like {"a": "Hello"} and the actual Json is just empty, the error reported is exactly the other way around:
[code]

yields this error:
"The top level object has extra field(s) [a]"

No. It does not.

This is confusing

[2022-10-26 12:43] sksamuel commented on #3261
It might break compatibility with intellij if they changed anything in
later versions (unlikely if they say its backwards compatible)

On Wed, Oct 26, 2022, 1:51 PM Mitchell Yuwono ***@***.***>
wrote:

[2022-10-26 12:56] comdiv commented on #3261
It's gradle call not with intellij plugin

ср, 26 окт. 2022 г., 17:43 Sam ***@***.***>:

[2022-10-26 17:31] koljakube opened #3303 "Using NoSystemOutListener prevents single tests from being executed"
It looks as if the messages printed by the plugin (about the skipped/ignored tests) are getting caught by the `NoSystemOutListener`, causing it to fail.

[code]

Steps to reproduce:

1. Use the code above.
2. Click the double green arrows inside IDEA (run spec). Everything should work.
3. Click a single green arrow next to 1 or 2. The test will fail with `Exception in thread "main" io.kotest.exten

[2022-10-27 08:06] AnouarDoukkali opened #3265 "[prepareSpec , finalizeSpec ,beforeInvocation, afterInvocation] should be removed/updated from documentation ?"
using the lifeCycle hooks documentation, this code does not compile :

    override suspend fun prepareSpec (testCase: TestCase) {
         //doesn't compile : 'prepareSpec' overrides nothing
    }
    override suspend fun finalizeSpec(testCase: TestCase) {
        //doesn't compile : 'finalizeSpec' overrides nothing
    }
    override suspend fun beforeInvocation(testCase: TestCase) {
        //d

[2022-10-27 08:39] matejdro commented on #3238
I would be willing to submit PR to fix this, but it needs to be discussed first. Obvious solution here is to trigger `beforeTest` after test dispatcher is created. But would that cause breakage of existing tests, since lifecycle events would be slightly different?

[2022-10-27 08:49] sksamuel commented on #3238
I think this is a bug that should be fixed.

On Thu, Oct 27, 2022, 10:39 AM Matej Drobnič ***@***.***>
wrote:

[2022-10-27 20:31] #3261 closed, assigned to nobody

[2022-10-27 20:31] #3255 closed, assigned to nobody

[2022-10-28 22:14] edeesis opened #5397 "Intellij does not recognize dynamic strings"
When defining a test name (in my case we're using DescribeSpec), we're unable to run the blocks with dynamic strings, causing us to have to run the entire test class.

[code]

You lose gutter icons as well. You still have it on it `test` level but if you try to use that one, it'll not find the test.

![image](https://user-images.githubusercontent.com/1738038/198741163-75f99301-bbf8-4189-86e4-17a1b

[2022-10-28 22:17] Kantis commented on #3254
Could you try to to add `--add-opens=java.base/java.util=ALL-UNNAMED` to the arguments for the JVM that runs the tests? I think this happens because you're trying to use `shouldBeEqualToComparingFields` on an `ArrayList`?

If you run tests with gradle, you can add `org.gradle.jvmargs=--add-opens=java.base/java.util=ALL-UNNAMED` in gradle.properties

[2022-10-28 22:18] Kantis commented on #3260
Works for me. What issues arae you seeing?

[2022-10-28 22:20] Kantis commented on #3246
I think this is a good idea

[2022-10-28 22:37] #3179 closed, assigned to nobody

[2022-10-29 00:58] #5405 closed, assigned to nobody

[2022-10-29 06:58] #5406 closed, assigned to nobody

[2022-10-29 07:13] #3265 closed, assigned to nobody

[2022-10-29 12:03] #3263 closed, assigned to nobody

[2022-10-30 09:27] #3251 closed, assigned to Kantis

[2022-10-30 15:41] #1770 closed, assigned to nobody

[2022-10-30 15:43] #3152 closed, assigned to nobody

[2022-10-30 18:11] AnouarDoukkali opened #3272 "extending a class with NoSystemOutListener apply to the whole project"
Kotest version: 5.5.3
I extended only the first class with NoSystemOutListener, but when i run the project test , i get this error  for second class :
io.kotest.extensions.system.SystemOutWriteException

[code]

[2022-10-30 20:00] AnouarDoukkali opened #3273 "timeout should be of type Duration? instead of Long?"
**Which version of Kotest are you using**
version : 5.5.3

[code]

[2022-10-30 20:10] Kantis commented on #3273
Latest version of Kotest is 5.5.3. Are you sure you're on 1.22.0-RC2?

[2022-10-30 20:17] AnouarDoukkali commented on #3273
yes i'm sure, here's the dependencies update report:

The following dependencies are using the latest milestone version:
 - com.github.ben-manes.versions:com.github.ben-manes.versions.gradle.plugin:0.43.0
 - io.gitlab.arturbosch.detekt:detekt-formatting:1.22.0-RC2
 - io.kotest:kotest-assertions-core-jvm:5.5.3
 - io.kotest:kotest-framework-datatest:5.5.3
 - io.kotest:kotest-property-jvm:5.5.3
 - io

[2022-10-30 20:26] AnouarDoukkali commented on #3273
sorry the 1.22.0-RC2 version was for Detekt plugin.  I'm using  5.5.3 version for Kotest

[2022-10-30 20:58] AnouarDoukkali commented on #3273
the same error is noticed for invocationTimeOut in Spec and Project Wide Settings :

[code]

[2022-10-30 21:19] AnouarDoukkali opened #3274 "@RequiresTag does not work"
**Which version of Kotest are you using**
version : 5.5.3

the spec will not be skipped and test will fail :

[code]

[2022-10-31 08:37] AnouarDoukkali opened #3275 "switching kotest.framework.dump.config to false in kotest.properties has no effect"
**Which version of Kotest are you using**
5.5.3

 **property kotest.framework.dump.config=false**  still print the configuration

---

Change [DumpConfigInterceptor](https://github.com/kotest/kotest/blob/master/kotest-framework/kotest-framework-engine/src/commonMain/kotlin/io/kotest/engine/interceptors/DumpConfigInterceptor.kt#L26) to only dump config if `kotest.framework.dump.config` is set to `t

[2022-10-31 10:11] AnouarDoukkali opened #3276 "Fail to build when a test pass using withClue"
**Which version of Kotest are you using**
5.5.3
this code will throw : **No tests found for given includes: [CluesTest](--tests filter)**

[code]

[2022-10-31 10:37] #3276 closed, assigned to nobody

[2022-10-31 18:55] CXwudi commented on #5402
A workaround could be that running the junit 5 instead of running them as kotest

See https://github.com/kotest/kotest/issues/5416#issuecomment-1200103433

[2022-10-31 19:36] Kantis commented on #5397
I don't think there's much we can do about this. How would this case work, for instance?

[code]

The gutter icons generate a run configuration with a test-filter matching the name of the test.. I the name of the test is not a String literal, we can't know for sure what it'll be.

[2022-10-31 20:12] myuwono opened #3277 "Gradle filters should be additive"
**Which version of Kotest are you using**
5.5.3

# Context
All tests from A* and B* were skipped instead of being ran.
[code]

This was a regression from 5.4.x, where this used to work. This was because kotest 5.5.3 were using the wrong combinators for combining the inclusion filters.

[2022-11-01 02:11] #3277 closed, assigned to nobody

[2022-11-01 19:28] marcphilipp commented on #3251
Thanks for the quick turnaround! 👍

[2022-11-01 20:00] BryanDonovan commented on #2792
Any chance this will be added soon?  I'm fine with any name really.

[2022-11-01 20:06] Kantis commented on #3273
I've been thinking about this one a bit. It would be nice to mark the old properties as deprecated and provide a migration path forward for users who already use the existing property. It's a bit unfortunate that the "desired name" is the same before and after this fix.

I wonder if we could simply add a deprecation notice for now on the current property, and replace them with durations in Kotest

[2022-11-02 01:57] BenWoodworth opened #3279 "NaN values in matchers are inconvenient, and inconsistent with other libraries"
**Which version of Kotest are you using**
Kotest 5.5.3

(I'm aware of #214, but I think this issue spans further than that)

In the simplest case, `NaN shouldBeExactly NaN` fails. And that's because Kotest checks `NaN != NaN`, which is false according to the IEEE standard.

## Use case / motivation
From a testing perspective though this is really inconvenient, especially when property testing and

[2022-11-02 10:49] AnouarDoukkali commented on #3273
@Kantis timeout and invocationTimeout  in project level config ,spec config , and test config are all related  since each one override the one on top of it . I think it is best if they had all the most obvious type in kotest 6.0 to avoid problems
for example for the same duration :
[code]

[2022-11-02 13:34] sksamuel commented on #3273
We can't change it now without breaking everyone's tests. It's just a
historical artifact that kotest came out before durations existed.

On Wed, Nov 2, 2022, 11:49 AM Anouar Doukkali ***@***.***>
wrote:

[2022-11-03 09:08] rolintoucour opened #5396 "Improvements: see the specs/tests in "File structure""
Hi,

Using the menu "Navigate -> File structure", it would be nice if specs / tests could appear here.

Comparing to JUnit where each test is a method (and easy to find using the "File Structure"), it would be easier to have this functionality to search for tests.

[2022-11-03 09:46] mf-guse opened #5395 "micronaut-test-resources is not supported"
I use the kotest plugin a lot in my daily business and it helps me a lot!

Unfortunately the plugin does not support micronaut-test-resources as this framework needs tests to be started by gradle, see https://github.com/micronaut-projects/micronaut-test-resources/issues/120

A testproject can be found in https://github.com/mf-guse/micronaut-test-resources-test.

If you run the test using the kotes

[2022-11-03 21:32] stengvac commented on #3068
Hello,

I have simmiliar problem with kotest 5.4.2. Running via Idea

[code]
does not prepend `this outer block is enabled`

to me problem seems to be in this function.
[code]
which does not append name from `FunSpecContainerScope`.

Should be imho changed into
[code]

[2022-11-03 21:36] Kantis commented on #3068
@stengvac please test with latest version of kotest and raise a new issue if the problem persists, since this turned out to relate to a gradle 6.x bug. Preferably along with a screenshot showing the problem.

[2022-11-04 10:32] BlaiseG opened #3281 "IntelliJ test debugger with Kotest does not start the application"
Idea Version: Build #IU-222.4345.14, built on October 5, 2022
Kotest versions:
`kotest_version=5.5.3
kotestcontainer_version=1.3.4
mysqlconnector_version=8.0.31
kotestassertions_version=1.0.3
kotestassertionsarrow_version=1.2.5`

When trying to run a test. It is stuck at this phase:
`/usr/lib/jvm/java-18-openjdk-amd64/bin/java -agentlib:jdwp=transport=dt_socket,address=0.0.0.0:12345,suspend=y,serv

[2022-11-04 22:48] Kantis opened #3282 "`Arb.bigDecimal` should generate decimals which terminate with all kinds of terminal digit"
Currently the `BigDecimal` arb generates decimals that _always_ terminate the decimal part with 0 or 5. I think it would be good if all digits can occur as terminal digit.

IEEE double point precision specifies the decimal part as the sum of (1/2)^-n, where n is [1, 52], which will always terminate with a 5 (if included) or 0 if excluded.

The `BigDecimal` docs seem to suggest that using the `BigD

[2022-11-07 15:42] #3281 closed, assigned to nobody

[2022-11-11 09:22] aSemy opened #3285 "Property-based Testing: When an assumption always fails, the test runs indefinitely"
When an assumption inside a `checkAll {}` always fails, the test keeps running indefinitely.

I expected that the test only runs 1000 times (since that is the default), and then fails because the percentage of 'skips' is greater than 50% (the default max discard)

Here is a dummy example, where the assume is hard coded to fail. However, it is relatively easy in real life to accidentally write an e

[2022-11-11 12:53] LouisCAD opened #3286 "Ensure the CHANGELOG is up to date."
Hello, this page is constantly outdated: https://kotest.io/docs/changelog.html

It references version 5.5.0, but the latest version is 5.5.4.

Why isn't it updated right as the updated is deployed, or just before?

It's quite concerning to see an update, but no info on what it contains until you dig in the commit history.

[2022-11-12 06:46] matejdro commented on #3226
This is still an issue

[2022-11-12 08:51] matejdro commented on #3236
It's not stale, PR is already open (I will check it ASAP).

[2022-11-12 10:57] #3133 closed, assigned to nobody

[2022-11-14 11:28] capoz opened #3289 "java.lang.NoSuchMethodError: 'long kotlin.time.Duration$Companion.milliseconds-UwyO8pc(long)"
Seems the same problem of https://github.com/kotest/kotest/issues/1509 but happens on versions where it should be fixed.

Tested on kotest versions from 5.0.0 to 5.5.4, gradle from 7.1.1 to 7.5.1, and kotlin from 1.6.0 to 1.7.20.

Stack trace:

[code]

Dependencies:

[code]

The problem is present only when running the tests from the gradle task, while the tests run correctly when using a kotest r

[2022-11-14 11:35] matejdro commented on #3286
This appears to be up to date: https://github.com/kotest/kotest/releases

[2022-11-14 12:14] matejdro opened #5394 "Plugin does not run tests when kotest is included as composite build"
[Gradle's composite builds](https://docs.gradle.org/current/userguide/composite_builds.html) allows for inclusion of a kotest repo directly into application's project, allowing for work on kotest code and immediately running tests in actual application with modified kotest code. This makes editing kotest and making PRs much easier.

However, IntelliJ plugin does not appear to support it. When kote

[2022-11-14 22:16] Kantis commented on #3289
Are you writing tests for a Gradle plugin or such? It somehow seems your runtime version of Kotlin becomes too low, and Gradle embedded Kotlin 1.5 in prior to Gradle 7.5

[2022-11-14 22:17] Kantis commented on #3286
Yeah, my bad. I forgot about that page, and I'm unsure if @sksamuel has some stuff to generate those notes. :) I'll try to update manually when I get some time..

[2022-11-15 01:10] marcogrcr opened #3290 "beforeEach/afterEach not working with data driven testing"
**Which version of Kotest are you using?** 5.3.2

---

According to the [data driven testing docs](https://kotest.io/docs/framework/datatesting/data-driven-testing.html#callbacks) (emphasis added by me):

When I use `beforeTest`/`afterTest` and `beforeContainer`/`afterContainer`, the callbacks are invoked as expected. However, when I use `beforeEach`/`afterEach`, the callbacks are not invoked as e

[2022-11-15 12:17] LouisCAD commented on #3286
For refreshVersions, we maintain the changelog, and extract it automatically to put in the GitHub release:
https://github.com/jmfayard/refreshVersions/blob/077954fbd2e3ac821fbedba6a0e9fc23e1a714f1/Releasing.main.kts#L136-L143

[2022-11-15 22:56] Kantis commented on #5394
I'm unable to reproduce this in IntelliJ (albeit with a different project)

Tested:
1. Adding kotest as a includedBuild
2. Running both a spec and individual tests using gutter icons

I noted some 5-10 seconds of loading happening the first time pressing the gutter icon for the individual test.

[2022-11-15 23:20] Kantis commented on #3235
`shouldMatchJson` will using KotlinX serialization to parse expected and actual into `JsonElement`s and test them for equality. So I guess the inconsistency highlights a change in the underlying behaviour.

`shouldEqualJson` will by default do a "lenient" comparison (in the sense that we allow different formats if they represent the same _value_). See [NumberFormat](https://kotest.io/docs/assertio

[2022-11-15 23:26] Kantis commented on #3275
How are you setting the property?

[2022-11-15 23:32] AnouarDoukkali commented on #3275
@Kantis in kotest.properties file

[2022-11-15 23:36] Kantis commented on #3275
Where did you put the file? Can you verify that it's actually in the build/target resource directory?

[2022-11-15 23:48] Kantis commented on #3275
Oh I just realized.. It's not a boolean property. Just by having the property exist the framework will dump the config. If you want to stop dumping just remove the property.

[2022-11-15 23:54] sksamuel commented on #3275
Maybe we should change it to be boolean ?

On Tue, 15 Nov 2022 at 17:48, Emil Kantis ***@***.***> wrote:

[2022-11-16 00:02] AnouarDoukkali commented on #3275
@sksamuel I think yes. since the documentation suggest to set the value to true

[2022-11-16 08:13] Kantis commented on #3275
Updated the original description with the required change.

[2022-11-16 11:56] matejdro commented on #3238
After checking out code a bit, this seems to be normal behavior. Test dispatcher is only created after `TestInvocationInterceptor`,  since that uses Executor and cannot pass coroutine scope from the parent.

Proper solution here is to use `beforeInvocation` callback whenever you need access to the test scope. Unfortunately, `beforeInvocation` is also not supported. I have just opened PR to support

[2022-11-17 09:21] matejdro commented on #5394
Maybe it's specific to Android Studio?

[2022-11-17 13:57] pschyska commented on #5413
@sksamuel From your suggestion I built a solution that generates a a kotest properties file and adds it to the test classpath. It's pretty unobvious though, and the default behaviour in the IDE is confusing: Running a test class is run as a normal gradle task with all the riders attached, and running a single test runs AFAICS the testClasses goal in gradle, and then the tests as a separate process

[2022-11-17 18:30] Kantis commented on #5394
Could you give it another shot? I'm thinking maybe Kotest was being built in the background after being included.. or something 🤷🏼  If you're still seeing issues I can setup AS and give it a go

[2022-11-18 07:45] matejdro commented on #5394
I've tried with

[code]

And weirdly enough, IntelliJ would not even resolve any of the kotest classes when using composite build:

![image](https://user-images.githubusercontent.com/507922/202648325-d3dc985b-e708-427b-b60a-e26d1fff8914.png)

However, using run configuration that was created before enabling composite build will result in the same issue (pressing on play button just disables the bu

[2022-11-18 08:42] jlous opened #3295 "IDEA plugin is extremely slow to start tests"
Medium-sized project
Re-running single minimal tests using kotest plugin (preexisting run configs)
Measuring from "instantiating tests" appears,  until the green check mark is shown (i.e. excluding startup and build time)

- jUnit takes < 1s
- Kotest takes 22s

Making it hard to sell kotest to the teams

Kotest plugin 1.2.63 (and earlier)
IDEA 2022.2.3 (and earlier)

[2022-11-18 13:15] trourance commented on #3235
But `shouldMatchJson` is more flexible regarding the position of the elements in the JSON structure, that's why we're using that one.

[2022-11-19 15:53] #3236 closed, assigned to nobody

[2022-11-21 12:11] jlous opened #3297 "shouldThrow does not respect globalAssertSoftly"
kotest 5.4.2
I configure globalAssertSoftly=true, and it mostry works well, except in combination with shouldThrow.
This only reports 1 failure, and never prints "2":
[code]

This only reports failures 1 and 2:
[code]
3 is printed, but the failure to throw an NPE is not reported
The final assert is not executed at all

[2022-11-21 12:17] DoHuber commented on #3289
We upgraded a project to kotest 5.5.4 today, and we are seeing this issue as well. The error messages and so on are:

<details>
<summary>Stacktrace</summary>

[code]

</details>

Relevant dependencies:

[code]

We can also rule out that gradle somehow uses a different, outdated Kotlin version - when we print the Kotlin metadata of the compiled test classes, we get `1.7.1`, so the classes were inde

[2022-11-21 13:45] jlous commented on #3297
In contrast, `runCathing{...} shouldBeFailure{ it shouldBe instanceOf(NullPointerException::class)} ` works as expected.
And is probably a nicer pattern anyway, but still.

[2022-11-23 13:32] cjlee38 commented on #3103
Is there any progress about this issue? I've debugged this and found some clues.

I think the problem is caused basically from this line.

https://github.com/kotest/kotest/blob/26f2c25079d33d34338f99479b52e04b2dafe9a6/kotest-framework/kotest-framework-engine/src/commonMain/kotlin/io/kotest/engine/spec/Materializer.kt#L40

The descriptor of `TestCase` is class on outside, not inside(I mean, nested)

[2022-11-24 19:02] Burtan commented on #774
Any plans for this feature?

[2022-11-24 21:10] aSemy commented on #3290
I agree, it is confusing. I'm not sure why the distinction between 'dynamic' and 'test' is important.

As a workaround you can try using `afterAny {}` or `beforeAny {}`.

Discussed in Slack

* https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1666788639534289
* https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1669322117072249

[2022-11-27 06:01] sksamuel commented on #5396
I think this is just part of intellij looking for methods in a class. And since kotest is not method based, it can't appear here.
There doesn't appear to be a way to hook into that functionality.

[2022-11-27 06:02] sksamuel commented on #3289
100% there's a kotlin version mismatch somewhere as they changed this between 1.6 and 1.7

[2022-11-27 06:21] sksamuel commented on #5397
Yep, nothing we can do here.
The best we could do is add a warning / highlight that says "dynamic test names cannot be run automatically" ?

[2022-11-27 06:28] sksamuel commented on #3295
Can you try disabling scanning using the settings here:
https://kotest.io/docs/framework/framework-config-props.html

We are considering disabling automatic scanning by default in future releases if the impact is positive.

[2022-11-27 14:05] edeesis commented on #5397
What if the string was a [const](https://kotlinlang.org/docs/properties.html#compile-time-constants) in an object definition? Not sure if that changes anything.

[2022-11-27 21:33] danielschroder opened #3304 ""Error clearing seed" printed out in console"
**Which version of Kotest are you using**
5.5.3

I'm just getting started with property testing and I'm having a very strange behavior when I change the `name` of the `context` that my `checkAll` function is running in.

I'm trying to name my contexts based on the functions/methods it's testing so, I wrote the following code:

[code]

OK. This works as expected but, when I add the parameter type t

[2022-11-28 11:08] aSemy opened #3306 "HTML report is generated outside of the build directory"
I've configured the [Kotest HTML report](https://kotest.io/docs/extensions/html_reporter.html). However, the files are generated outside of the build directory.

<img width="306" alt="image" src="https://user-images.githubusercontent.com/897017/204262635-a8c9cc3e-7920-4895-a37e-cf06ebac24fb.png">

I tried configuring `HtmlReporter` to set the directory, but this didn't work

[code]

As a workaroun

[2022-11-28 11:14] aSemy opened #3307 "HTML report - CSS does not load"
I've configured the [Kotest HTML report](https://kotest.io/docs/extensions/html_reporter.html) (with the workaround from #3306).

The report is generated correctly, and I can click around, but there is no styling.

<img width="603" alt="image" src="https://user-images.githubusercontent.com/897017/204263702-85c7834e-c557-46a7-8b2a-82421ff9aed5.png">

It looks like the CSS href _is_ correct, so I'm

[2022-11-28 18:36] OliverO2 opened #3308 "Add BlockHound support"
[kotlinx\-coroutines\-debug](https://github.com/Kotlin/kotlinx.coroutines/tree/master/kotlinx-coroutines-debug) supports a [BlockHound](https://github.com/reactor/BlockHound) integration. However, Kotest currently does not.

Using Kotest in conjunction with BlockHound is usually fine. The following issue is an exception. Kotest uses `ThreadPoolExecutor` by default in `FixedThreadCoroutineDispatche

[2022-11-29 05:52] jadenjack commented on #1192
With kotest v5.5.4

[code]